/* @override http://127.0.0.1:8000/static/8208/site/css/twitterwall.css */

/* @override 
	http://www.berliner-museumsportal.de/static/8192/site/css/twitterwall.css
	http://www.berliner-museumsportal.de/static/8205/site/css/twitterwall.css
	http://www.berliner-museumsportal.de/static/8208/site/css/twitterwall.css
	http://127.0.0.1:8000/static/8208/site/css/twitterwall.css
*/

body, html {
    font-family: "georgia",Arial,sans-serif;
    color: #333;
  background-color: #7dc9cc;
  height: 100%;
  width: 100%;
}

a {
    color: #005961;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.cullumn {
  width: 470px;    
  float: left;
  height: 100%;
  padding-bottom: 10px;
  margin-top: 46px;
  margin-left: auto;
  margin-bottom: auto;
}


h2 {
    vertical-align: top;
    display: block;
  position: relative;
  font: italic 14px/45px "Arial narrow", Arial, Helvetica, Geneva, sans-serif;
  white-space: nowrap;
  padding-left: 40px;
  padding-right: 40px;
  float: left;
  position: fixed;
    background-color: #7dc9cc;
    text-transform: uppercase;
    z-index: 10000;
  top: 0;
  height: 44px;
  color: #2b716a;
  width: 390px; border-bottom: 2px solid rgba(0,0,0,0.12);


}

.cullumn:nth-child(2) h2 {
  width: 388px;
}

div#selected_user_tweets.tweet-list {
    border-left: 2px solid #27b8bb;
    border-right: 2px solid #27b8bb;
}

div#tweets_from_search.tweet-list {
	border-left: 2px solid #27b8bb;
    border-right: 2px solid #27b8bb;
  width: 466px;
  margin-left: -2px;
}

.visual {
  width: 280px;
  height: 100%;
  background: url(../img/twitter_wall.png) no-repeat -170px top;
  background-size: 400px ;
  position: fixed;
  z-index: 1000000;
}

div.langenacht {
  width: 250px;
  height: 150px;
  background: url(../img/twitter_wall_langenacht.png) no-repeat;
  position: absolute;
  top: 335px;
  left: 20px;
  color: transparent;
}
.berlin {
  width: 57px;
  height: 66px;
  background: url(../img/twitter_wall_b.png) no-repeat;
  position: absolute;
  left: 20px;
  color: transparent;
  bottom: 20px;
}

div.tweet_wrapper {
  width: 940px;
  margin-right: 10px;
  margin: auto;
  padding-left: 210px;
}

.tweet {
    font-size: 14px;
    vertical-align: top;
    display: block;
    width: 386px;
    min-height: 125px;
    border-bottom: 2px solid #27b8bb;
  position: relative;
  padding: 5px 40px 14px;
  float: left;
}

div.tweet-media {
  display: none;
}

.tweet {
background-color: white;
 color: #7dc9cc;
}


#selected_user_tweets div.tweet div.tweet-media {
  display: none;
}

.tweet p {
    word-wrap: break-word;
  color: #568b8d;
  font: italic 29px/35px "geargia";
  padding-top: 10px;
  padding-bottom: 10px;

}

.tweet-header {
  font: 12px/29px "arial";
  border-bottom: 1px dotted rgba(0,0,0,0.12);
  width: 100%;
  float: left;
  padding-bottom: 0;
  margin-bottom: 5px;
}

.tweet-header a,
.tweet-header a:hover {
    text-decoration: none;
}

#selected_user_tweets div.tweet div.tweet-text p a {
  text-shadow: none;
}

#selected_user_tweets div.tweet div.tweet-header a img.avatar {
  width: 32px;
  height: 32px;
}
.tweet-header .time {
    display: block;
  position: absolute;
  right: 38px;
}

.tweet-header .fullname {
    clear: right;
    display: block;
  float: left;
}

.tweet-header a:hover .fullname {
    text-decoration: underline;
}

.tweet-header .username {
    display: block;
    margin-left: 5px;
    text-decoration: none;
  float: left;
  
}

.tweet-header .avatar {
    -webkit-box-shadow:  0px 0px 3px white;
    -moz-box-shadow:  0px 0px 0px 2px white;
    -o-box-shadow:  0px 0px 0px 2px white;
    box-shadow:  0px 0px 0px 2px white;
  position: absolute;
  top: 35px;
  right: 40px;
  display: none;
}

.tweet-text {
    clear: both;
    margin-top: 10px;
}

.hashtag {
    color: #c10078;
}
