{% comment %}<!--
Base template for flowplayer widget. Extend it for specific uses.
Be careful with the syntax!

Expected variables:
    splash_image_path - the path to a splash image (required)
    media_file_path - the path to a video or audio (required)
    player_id - the id of the containing div for scripting purposes (optional)

Blocks to override:
    flowplayer_width - the width of the player (defaults to 500)
    flowplayer_height - the height of the player (defaults to 400)
    flowplayer_path
    flowplayer_path_again - should match the value in flowplayer_path
    flowplayer_bgcolor
    flowplayer_clip
    flowplayer_playlist
    flowplayer_plugins
    flowplayer_fallback - content shown if flash player isn't installed

-->{% endcomment %}
{% load base_tags %}
{% if player_id %}
    <div id="{{ player_id }}">
{% endif %}
<object type="application/x-shockwave-flash"
        width="{% block flowplayer_width %}500{% endblock %}"
        height="{% block flowplayer_height %}400{% endblock %}"
        data="{% block flowplayer_path %}{{ JETSON_MEDIA_URL }}flowplayer/flowplayer-3.1.5.swf{% endblock %}">
    <param name="movie"
           value="{% block flowplayer_path_again %}{{ JETSON_MEDIA_URL }}flowplayer/flowplayer-3.1.5.swf{% endblock %}"/>
    <param name="allowscriptaccess" value="always"/>
    <param name="allowfullscreen" value="true"/>
    <param name="quality" value="high"/>
    <param name="cachebusting" value="false"/>
    <param name="wmode" value="transparent"/>
    <param name="bgcolor" value="{% block flowplayer_bgcolor %}#FFFFFF{% endblock %}"/>
    <param name="flashvars" value='config={{% filter linebreaksbr|removetags:"br"|cut:"    " %}
        {% block flowplayer_clip %}
        "clip": {
        }{% endblock %},
        {% block flowplayer_playlist %}
        "playlist": [
            {
                "url": "{% parse splash_image_path %}",
                "autoBuffering": true,
                "scaling": "fit"
            },
            {
                "url": "{% parse media_file_path %}",
                "autoPlay": false,
                "autoBuffering": false
            }
        ]{% endblock %},
        {% block flowplayer_plugins %}"plugins": {
            "controls": {
                "url": "flowplayer.controls-3.1.5.swf",
                "backgroundColor": "#FFFFFF",
                "autoHide": "always",
                "hideDelay": 2000
            }
        }{% endblock %}
        {% if player_id %}
        ,"playerId": "{{ player_id }}"
        {% endif %}
    {% endfilter %}}'/>
    {% block flowplayer_fallback %}
        <a href="{% parse media_file_path %}">
            <img src="{% parse splash_image_path %}" alt=""/>
        </a>
    {% endblock %}
</object>
{% if player_id %}
    </div>
{% endif %}
