{% extends "flowplayer/base_player.html" %}

{% comment %}<!--
Template for free version of Flowplayer.

Params:
    splash_image_path - the path to a splash image (required)
    media_file_path - the path to a video or audio (required)
    player_id - the id of the containing div for scripting purposes (optional)

Usage example:
    {% load base_tags %}
    {% include_parsed "flowplayer/free_player.html" with "{{ UPLOADS_URL }}{{ object.splash_image }}" as splash_image_path and "{{ UPLOADS_URL }}{{ object.media_file }}" as media_file_path %}

-->{% endcomment %}


