/*** RESET ***/

#content ul li
{
    list-style-type: none;
}

.form-row
{
    overflow: hidden;
}

#hidden_links
{
    display: none;
}

input[type="checkbox"],
input[type="radio"] {
    margin-left:8px;
}

p.help {
    clear: left;
}

form .aligned input + label + p.help {
    margin-left:131px;
}

select {
    max-width: 700px;
}


/*** GENERIC ***/

.to_show {
    display: none; /* this will be overwritten by JS if JS is enabled */
}

input[type="text"], input[type="password"], input[type="submit"], input[type="reset"], textarea, select {
    vertical-align: top;
}

/*** ROW ***/

/*
.row {
    overflow: hidden;
}

.row:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
*/

/*** TICKET ***/

#content .inline-item-tools input[type="checkbox"]
{
    float: left !important;
    margin-right: 3px !important;
}


/*** FEES ***/

.fees .spacer
{
    padding-right: 126px;
    border-right: 1px solid #eee;
}

.fees input
{
    width: 130px;
}

.fees .amount input
{
    width: 50px;
}

.fees tbody
{
    border-right: 1px solid #eee;
}


/*** EVENT EDIT ***/

#event_form .availability select
{
    min-width: inherit;
}

#event_form .availability .low select
{
    width: 55px;
}

#event_form .availability .mid select
{
    width: 65px;
}

#event_form .availability .high select
{
    width: 86px;
}

.event .inline-fields a
{
    margin: 0;
}

.event #id_start_hh,
#id_end_hh,
#id_end_yyyy,
#id_start_yyyy
{
    margin-right: 10px;
}

.map-settings
{
    float: left;
    width: 300px;
    border: none;
    border-right: 1px solid #FFFFFF;
}

.map-settings .row {
    border-right:1px solid #E0E0E0;
}

.map-settings .row input,
.map-settings .row select
{
    width: 280px !important;
}

/*** INLINES ***/

.module.table .th {
    white-space: normal;
}

/*** MAIL / WEB / MESSENGER ***/

.add-type select
{
    width: 108px;
}

.contact-types .contact-type-field,.contact-types .add-type,.contact-types .media-address,.contact-types .default,.contact-types .on-hold
{
    float: left;
    margin-right: 10px;
    font-weight: bold;
}

#content .contact-types .first
{
    margin-top: 21px;
}

.contact-types .add-type a
{
    display: block;
    background: none !important;
    width: auto !important;
    height: auto !important;
}

.contact-types .first-media input
{
    margin-top: 16px;
}

.contact-types .on-hold,.contact-types .default
{
    width: 45px;
}

.contact-types .on-hold input
{
    margin: 5px 0 0 8px;
}

.contact-types .default input
{
    margin: 6px 0 0 15px;
}

.media-address a
{
    display: block;
    margin-top: 5px;
    margin-left: 5px;
}


/*** PERSON CONTACT EDITING ***/

.inline-fields
{
    margin-right: 10px;
}

.grp-module .delete-contact label
{
    margin: 3px 0 0 10px;
}

/* @group PHONE */

.phone-first
{
    overflow: hidden;
}

.label-first
{
    margin-top: 34px;
}

.phone-fields .add-type,.phone-fields .country,.phone-fields .area,.phone-fields .number,.phone-fields .default,.phone-fields .on-hold,
.contact-types .contact-type-field,.contact-types .add-type,.contact-types .contact-type-field,.contact-types .default,.contact-types .on-hold
{
    float: left;
    margin-right: 10px;
    font-weight: bold;
}

#content .phone-fields .add-type a,.phone-fields .country div,.phone-fields .default div,.phone-fields .on-hold div
{
    display: block;
    background: none;
    width: auto;
    height: auto;
}

.phone-fields a.add-another {
    line-height: 18px;
}

.phone-fields .country input
{
    width: 30px;
}

.phone-fields .area input
{
    width: 110px;
}

.phone-fields .number input
{
    width: 137px;
}

.contact-types .on-hold,
.contact-types .default,
.phone-fields .on-hold,
.phone-fields .default
{
    width: 65px;
}

.phone-fields .on-hold input
{
    margin: 5px 0 0 8px;
}

.phone-fields .default input
{
    margin: 6px 0 0 15px;
}

.contact-types .media-address input {
    width: 323px;
}


/*** PRIVACY SETTINGS ***/

 form .aligned .privacy-settings ul
{
    overflow: hidden;
    margin: 0 !important;
    padding: 0 !important;
}

form .aligned .privacy-settings ul li
{
    overflow: hidden;
    margin-bottom: 3px;
}

.privacy-settings ul.first
{
    float: left;
}

#content .privacy-settings .vCheckboxLabel
{
    width: 180px !important;
}


/*** CLAIMREQUEST ***/

#claimrequest_form #id_phone_country
{
    width: 45px;
}

#claimrequest_form #id_phone_area
{
    width: 95px;
}

#claimrequest_form #id_phone_number
{
    width: 120px;
}


/*** CHECKBOX INLINE ***/

#content .is_rte .vCheckboxLabel,
#content .hierarchy .vCheckboxLabel,
#content .is_by_invitation .vCheckboxLabel,
#content .is_by_confirmation .vCheckboxLabel,
#content .is_accepted .vCheckboxLabel,
#content .use_captcha_registration .vCheckboxLabel,
#content .use_captcha_subscription .vCheckboxLabel,
#content .use_paypal_sandbox .vCheckboxLabel
{
    width: auto !important;
}

#content .faqs_on_separate_page .vCheckboxLabel
{
    width: 87% !important;
}

#content .float-checkbox .inline .form_checkbox
{
    margin: 0;
}


/*** IMG MODIFICATIONS ***/

#imagemodification_form .crop .form_checkbox
{
    float: left;
}

#imagemodification_form .crop .vCheckboxLabel
{
    float: none !important;
    display: inline;
}

.filebrowser_image
{
    margin-left: 130px;
    margin-top: 5px;
}


/*** NAVIGATION ***/

#branding  #navigation .hasChild>a
{
    background:transparent url(../../img_grappelli/icon_menulist.gif) no-repeat scroll 185px 8px;
}

#branding  #navigation .hasChild>a:hover
{
    background:transparent url(../../img_grappelli/icon_menulist_w.gif) no-repeat scroll 185px 8px;
}


/*** MAILING ***/

#content .is_read input[type="checkbox"],
#content .is_draft input[type="checkbox"]
{
    margin-left: 0 !important;
}

#content .is_read,
#content .is_draft
{
    padding-left: 130px !important;
}


/*** TREE_TABLE ***/

.tree_table tr th {
    padding-left: 8px;
}

.tree_table tr.filtered_out
{
    filter:alpha(opacity=60);
    -moz-opacity: 0.6;
    opacity: 0.6;
}

.tree_table tr th .expander {
    background-image: url(../../img/admin/bullet_toggle_plus.png);
    background-position: left center;
    background-repeat: no-repeat;
    cursor: pointer;
    padding: 0;
    zoom: 1; /* Hack for IE, works in IE7, IE6 or older's behavior is unchecked */
}

.tree_table tr th .expander:hover {
    background-image: url(../../img/admin/bullet_toggle_plus_hover.png);
}

.tree_table tr th .draggable {
    background-image: url(../../img/admin/cursor_move_small.png);
    background-position: left center;
    background-repeat: no-repeat;
    cursor: pointer;
    padding: 0;
}

.tree_table tr.expanded th .expander {
    background-image: url(../../img/admin/bullet_toggle_minus.png);
}

.tree_table tr.expanded th .expander:hover {
    background-image: url(../../img/admin/bullet_toggle_minus_hover.png);
}

/* this class is used for table rows when hovered */
.showHoverHandle {
    background-image: url(../../img/admin/dnd_hover.png);
}

/* this class is used for all children of a table row when hovered or dragged */
.showHoverHandleChildren {
    background-image: url(../../img/admin/dnd_hover_children.png);
}

/* this class marks a drop row that the target should be inserted before the row */
.showDragHandleBefore {
    background-image: url(../../img/admin/arrow-up.gif);
    background-repeat: no-repeat;
    background-position: left top;
}

/* this class marks a drop row that the target should be inserted after the row */
.showDragHandleAfter {
    background-image: url(../../img/admin/arrow-down.gif);
    background-repeat: no-repeat;
    background-position: left bottom;
}

/* this class marks a drop row that the target should be inserted inside the row */
.showDragHandleInside {
    background-color: #00FF00;
    background-repeat: no-repeat;
}

.markDirty {
    background-color: #FFFFDD
}

#tree-form .submit-row
{
    text-align: left;
    margin-right: 161px;
}


/*** TINY MCE ***/

.o2k7Skin .mceMenu
{
    width: 100%;
    background-color: #FFF;
}

.o2k7Skin .mceMenu table
{
    width: 100%;
}


/*** NESTED FIELDSETS ***/

fieldset.grp-collapse.grp-closed fieldset {
    display: none!important;
}

fieldset fieldset.grp-collapse.grp-closed h2.grp-collapse-toggle {
    background-color:#E0F0F5;
    background-position:0 100%;
}

fieldset.grp-collapse.grp-closed h2.grp-collapse-toggle:hover,
fieldset.grp-collapse.grp-open h2.grp-collapse-toggle {
    background-position:0 0;
}

fieldset.grp-module.nested {
    in-width: auto !important;
    width: auto !important;
    margin: 5px;
    border:1px solid #BDBDBD;
    -moz-border-radius:4px 4px 4px 4px;
}

div.nested {
    margin: 5px;
    background: #fff;
}

fieldset.grp-module.nested {
    float:none;
}

fieldset.grp-module.nested > :first-child {
    border-top: none;
}

fieldset.grp-module h2 + fieldset.grp-module.nested {
    border:1px solid #BDBDBD !important;
}

.grp-module.grp-closed fieldset {
    display: none!important;
}


/*** INDEX ***/

#appgroup-nav {
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
    margin-bottom: 1em;
}

#appgroup-nav li {
    float: left;
    margin-right: 0.5em;
    padding: 5px;
    line-height: 16px;
}

#appgroup-nav li.active {
    border: 1px solid #ccc;
    border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 4px;
}

#appgroup-nav a {
    background-image: url(../../img/icons/brick.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 20px;
    display: block;
    font: 12px Arial,sans-serif;
    font-weight: bold;
    line-height: 18px;
}

#appgroup-nav li.active a {
    color: #666 !important;
}

.app-group {
    clear: left;
}

#link-to-app-group-content a {
    background-image: url(../../img/icons/page_white_edit.png);
}

#link-to-app-group-community a {
    background-image: url(../../img/icons/group.png);
}

#link-to-app-group-campaign a {
    background-image: url(../../img/icons/transmit_blue.png);
}

#link-to-app-group-configure a {
    background-image: url(../../img/icons/wrench_orange.png);
}

#link-to-app-group-connect a {
    background-image: url(../../img/icons/disconnect.png);
}


/*** CHANGE LIST ***/

/* Fix the display of multi-line filter headings */
#changelist-filter .filterset.collapse-closed h3 {
    background: #E1ECF0 url(/admin-media/img_grappelli/bg_filterset.gif) 0 0 repeat-x;
}

/* Prefix cross-links to content objects with a "»" and show the link in italics for better distinction */
a.content_object, a.cross_link {
    font-style: italic;
}
a.content_object:before, a.cross_link:before {
    content: '» ';
}

h1 + .tools .active a:link {
    background:-moz-linear-gradient(center top , #39BAE5, #309BBF) repeat scroll 0 0 transparent;
    border-color:transparent;
}

/*** LOGIN ***/

.login #container #branding ul li:last-child {
    display: block !important;
}


/*** DJANGO-CMS ON GRAPPELLI ***/

.tree input[type="checkbox"], .inline-group input[type="checkbox"] {
    float: none !important;
    margin-left: 0;
}

.mceToolbar td, .mceToolbar th {
    padding: 0 !important;
}


/*** TAGS FIELD ***/

.row #id_tags {
    width: 758px;
}


/*** URL FIELD ***/

a.open-link span {
    display: none;
}

a.open-link {
    background: transparent url("../../img/icons/icon-tools-viewsite-link.png") no-repeat center center;
    background-image: url("../../img/icons/icon-tools-viewsite-link.png"), -moz-linear-gradient(center top , #EBF2F5, #E1F0F5);
    background-image: url("../../img/icons/icon-tools-viewsite-link.png"), -webkit-gradient(linear, left top, left bottom, from(#EBF2F5), to(#E1F0F5));
    display: inline-block;
    width: 23px;
    height: 23px;
    margin-left: -25px;
    overflow: hidden;
    border: 1px solid #CCCCCC;
    border-top-left-radius: 0; -moz-border-radius-topleft: 0; -webkit-border-top-left-radius: 0;
    border-bottom-left-radius: 0; -moz-border-radius-bottomleft: 0; -webkit-border-bottom-left-radius: 0;
    border-top-right-radius: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px;
    border-bottom-right-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px;
}

a.open-link:hover, a.open-link:active {
    background-image: url("../../img/icons/icon-tools-viewsite-link-hover.png"), -moz-linear-gradient(center top , #E1E1E1, #EEEEEE);
    background-image: url("../../img/icons/icon-tools-viewsite-link-hover.png"), -webkit-gradient(linear, left top, left bottom, from(#E1E1E1), to(#EEEEEE));
}


/*** AUTOCOMPLETE WIDGET ***/

.ac_input {
    width:278px;
}

.grp-row .ac_input {
    width:758px !important;
}

.ac_results {
    background-color: #fff;
    border:1px solid #CCCCCC;
    overflow:hidden;
    padding:0;
}
.ac_results ul {
    list-style:none outside none;
    margin:0;
    padding:0;
}
.ac_results iframe {
    display:block;
    height:3000px;
    left:0;
    position:absolute;
    top:0;
    width:3000px;
    z-index:-1;
}
.ac_results li {
    cursor:pointer;
    display:block;
    font: 11px Arial,sans-serif;
    margin:0;
    overflow:hidden;
    padding:2px 5px;
}
.ac_loading {
    background: url("../../js/jquery/indicator.gif") no-repeat scroll right center window;
}
.ac_over {
    background-color:#EEEEEE;
    color:#666666;
}
.ac_title {
    color:#666666;
    font-weight:normal;
}
.ac_description {
    color:#AAAAAA;
    font-size: 10px;
}

.ac_value_list li {
    display: block;
    list-style-type: none;
    border:1px solid #CCCCCC;
    border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;
    font: 11px Arial,sans-serif;
    width:276px;
    line-height: 23px;
    margin-bottom: 5px;
}

.row .ac_value_list li {
    width:756px;
}

.ac_value_list li span {
    margin-left: 5px;
}

.ac_value_list li a {
    display: block;
    float: right;
    background: url("/admin-media/img/icons/icon-tools-delete-handler.png") no-repeat center center;
    width: 25px;
    height: 23px;

}

.ac_value_list li a:hover {
    background-image: url("/admin-media/img/icons/icon-tools-delete-handler-hover.png");
}

.ac_value_list li a span {
    display: none;
}

/*** TINYMCE EXTENSIONS ***/
.grappelliSkin span.mce_row_props {
    background-image: url(../../img/tinymce/buttons/row_props.png);
}
.grappelliSkin span.mce_cell_props {
    background-image: url(../../img/tinymce/buttons/cell_props.png);
}
.grappelliSkin span.mce_row_before {
    background-image: url(../../img/tinymce/buttons/row_before.png);
}
.grappelliSkin span.mce_row_after {
    background-image: url(../../img/tinymce/buttons/row_after.png);
}
.grappelliSkin span.mce_delete_row {
    background-image: url(../../img/tinymce/buttons/delete_row.png);
}
.grappelliSkin span.mce_col_before {
    background-image: url(../../img/tinymce/buttons/col_before.png);
}
.grappelliSkin span.mce_col_after {
    background-image: url(../../img/tinymce/buttons/col_after.png);
}
.grappelliSkin span.mce_delete_col {
    background-image: url(../../img/tinymce/buttons/delete_col.png);
}
.grappelliSkin span.mce_split_cells {
    background-image: url(../../img/tinymce/buttons/split_cells.png);
}
.grappelliSkin span.mce_merge_cells {
    background-image: url(../../img/tinymce/buttons/merge_cells.png);
}

/* django cms */

#lang_tab_content h2.header,
#page_form_lang_tabs .lang_tabs_line
{
    background: #267C99;
    position: relative;
    top: 0px;
    height: 7px;
    border: none;
    margin-bottom: 7px;
}

#page_form_lang_tabs .language_button {
    color: #808080;
    font-weight: bold;
    margin: 0;
    margin-bottom: -1px;
    margin-right: 5px;
    border: 1px;
    border-color: #DDD #AAA #808080 #DDD !important;
    background: white;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    width: 90px;
}

#page_form_lang_tabs .language_button.selected {
    background: #267C99 !important;
    border-bottom: 0 none !important;
    color: #FFFFFF;
}

#content-main .tree .tree-default li.last {
    background-color: #EEEEEE !important;
}

.popup .row .vTextField,
.popup .row .vURLField,
.popup .row .vFileBrowseField,
.popup .row textarea,
.popup .row .vLargeTextField,
.popup .row .vXMLLargeTextField,
.popup .row .vAutocompleteSearchField,
.popup .row .vM2MAutocompleteSearchField {
    /*width: 100%;*/
}

.group .field-sort_order {
    display: none;
}

button.grp-button {
    width: auto;
    white-space: nowrap;
}


.mceIframeContainer frame {
    height: 500px !important;
}

body#tinymce {
    padding: 0px !important;
    background-color: white !important;
}

.grappelliSkin table.mceLayout {
    width: 100% !important;
}

.lang_de input {
    border: 1px solid #666;
}
.lang_en input {
    border: 1px solid #666;
}
.lang_fr input {
    border: 1px solid #666;
}
.lang_pl input {
    border: 1px solid #666;
}
.lang_tr input {
    border: 1px solid #666;
}
.lang_es input {
    border: 1px solid #666;
}
.lang_it input {
    border: 1px solid #666;
}

.ui-dialog .ui-dialog-titlebar-close {
    top: 14px !important;
}
.ui-dialog .ui-dialog-buttonpane {
    padding: 0 !important;
}
.ui-dialog .ui-dialog-buttonpane button {
    width: auto !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.clearfix {
    clear: both;
}

.selector select[multiple=multiple] {
    overflow: auto;
}

.markup-type-help {
    margin-bottom: 8px !important;
}

.gmap {
    width:916px;
    height:300px;
}

.contact_fieldset .grp-submit-row {
    width:916px;
}

.grp-placeholder-related-fk, .grp-placeholder-related-m2m, .grp-placeholder-related-generic {
    display: block;
    width: 600px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.grp-change-form .cke_combo_text {
    width: 150px;
}
.grp-change-form .cke_combopanel {
    width: 350px;
}
.cke_combopanel {
    min-width: 400px;
}
.cke_combo_text {
    width: auto !important;
}
..cke_dialog_body {
    min-width: 400px;
}
