@import url('base.css');
@import url('widgets.css');

/* FORM ROWS */
.form-row { background:#f7f7f7 url(../../img/admin/caption-bg.gif) 0 -10pt repeat-x; overflow:hidden; padding:7px 10px; font-size:11px; border-bottom:1px solid #eee; border-top:1px solid #fff; }
.form-row.last { border-bottom:none; }
.form-row img, .form-row input { vertical-align:middle; }
form .form-row p { padding-left:0; font-size:11px; }
.form-row.errors { background: #f7f7f7; }

/* FORM LABELS */
form h4 { margin:0 !important; padding:0 !important; border:none !important; }
label { font-weight:normal !important; color:#666; font-size:11px; width: 146px; }
#content label.vCheckboxLabel { width: auto; float: none; display: block; }
#content label.auto { width: auto; padding-right: 4px; }
.label-width { width: 146px; padding-right: 10px; float: left; }
.required label, label.required { font-weight:bold !important; color:#666 !important; }

/* RADIO BUTTONS */
form ul.radiolist li { list-style-type:none; }
form ul.radiolist label { float:none; display:inline; }
form ul.inline { margin-left:0; padding:0; }
form ul.inline li { float:left; padding-right:7px; }

/* ALIGNED FIELDSETS */
.aligned label { float: left; padding:6px 10px 3px 0; }
.latitude label,.longitude label,.altitude label{ float: none;display: block; width: auto; }
.colMS .aligned .vLargeTextField, .colMS .aligned .vXMLLargeTextField { width:350px; }
form .aligned p, form .aligned ul { margin-left:0; padding-left:0px; }
form .aligned table p { margin-left:0; padding-left:0; }
form .aligned p.help { padding-left:156px; margin-top: 5px; margin-bottom: 0 !important; }

/* WIDE FIELDSETS */
.wide label { width:15em !important; }
form .wide p { margin-left:15em; }
form .wide p.help { padding-left:38px; }
.colM fieldset.wide .vLargeTextField, .colM fieldset.wide .vXMLLargeTextField { width:450px; }

/* COLLAPSED FIELDSETS */
fieldset.collapsed * { display:none; }
fieldset.collapsed h2, fieldset.collapsed { display:block !important; background:#eee url(../../img/admin/nav-bg.gif) bottom left repeat-x;  }
fieldset.module h2 { margin:0; padding:10px 5px 6px 30px; font-size:12px; text-align:left; font-weight:bold; background:transparent url(../../img/admin/icon-sprite.png) no-repeat scroll 11px -136px;  color:#666; border-bottom: 1px solid #ddd;  }

fieldset.clone h2 { background:transparent url(../../img/admin/icon-sprite.png) no-repeat scroll 10px -989px }
fieldset.collapsed h2 { font-size: 12px;  color:#95ADCD; color: #5b80b2; padding-top: 7px; padding-left: 30px; border-bottom: none; background:transparent url(../../img/admin/icon-sprite.png) no-repeat scroll 11px -170px; }
fieldset.collapse-open h2 { margin:0; padding:7px 5px 6px 30px; font-size:12px; text-align:left; font-weight:bold; background:transparent url(../../img/admin/icon-sprite.png) no-repeat scroll 11px -199px;  color:#5b80b2; border-bottom: 1px solid #ddd;  }
fieldset.collapse-open .collapse-toggle { cursor: pointer; }
fieldset.collapse-closed .collapse-toggle { cursor: pointer; }
a.collapse-toggle:link, a.collapse-toggle:visited { color:#95ADCD; }
.clone a.collapse-toggle:link,.clone a.collapse-toggle:visited { color: #5B80B2; }


/* MONOSPACE TEXTAREAS */
fieldset.monospace textarea { font-family:"Bitstream Vera Sans Mono",Monaco,"Courier New",Courier,monospace; }

/* SUBMIT ROW */
.submit-row { padding:5px 7px; text-align:right; background:white url(../../img/admin/nav-bg.gif) 0 100% repeat-x; border:1px solid #ccc; margin:5px 0; }
.submit-row input { margin:0 0 0 5px; }
.submit-row p { margin-top:0.3em; }
.submit-row .deletelink { background:transparent url(../../img/admin/icon-sprite.png) no-repeat scroll 0px -769px; }

/* CUSTOM FORM FIELDS */
.vSelectMultipleField { vertical-align:top !important; }
.vCheckboxField { border:none; }
.vDateField, .vTimeField { margin-right:2px; }
.working-hours .vTimeField { width: 47px; }

/* x unsorted */
.inline-group.collapsed { padding:0px; background:#fff url(../../img/admin/header-bg.gif) top left repeat-x; margin:5px 0 2px 0; }
.inline-group { padding:0px 0 0 0; background:#fff url(../../img/admin/header-bg-reverse.gif) top left repeat-x; margin:5px 0 2px 0;  }
.inline-group.collapsed h3.collapse-toggle { display: block !important; margin:0; background:transparent url(../../img/admin/icon_close_bright.gif) 11px 7px no-repeat; color:#ccc; padding:7px 5px 6px 30px;  font-size:11px; }
.inline-group  h3.collapse-toggle { display: block !important; margin:0; background:transparent url(../../img/admin/icon_open_bright.gif) 10px 11px no-repeat; color:#ccc; padding:10px 5px 6px 30px;  font-size:12px; border: 1px solid #ccc;  }
.inline-group label { width: 150px !important; }
.inline-group .form-row { padding-left: 8px !important; background: #f7f7f7 !important;}

.inline-related.collapsed * { display:none; }
.inline-related.collapsed { display:block !important; background:#eee url(../../img/admin/default-bg.gif) bottom left repeat-x; border: 1px solid #ccc; margin:2px 0; }
.inline-related { margin:2px 0; position:relative; background:#eee url(../../img/admin/default-bg-reverse.gif) top left repeat-x; border: 1px solid #ccc;  }
.inline-related.collapsed h2 { cursor: pointer; display:block !important; margin:0; padding:7px 5px 6px 30px; font-size:11px; text-align:left; font-weight:bold; color:#5b80b2;  background:transparent url(../../img/admin/icon_close_blue.gif) 11px 7px no-repeat; border: none;  }
.inline-related fieldset.module { border: none; margin: 0px !important; }
.inline-related fieldset.module.collapse-closed  { background:#5b80b2 url(../../img/admin/nav-bg.gif) bottom left repeat-x; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; }
.inline-related fieldset.module.collapse-open  { background:#E7EDF4 url(../../img/admin/caption-bg.gif) top left repeat-x; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; }
.inline-related fieldset.module.collapse-closed label, .inline-related fieldset.module.collapse-open label  { width: 150px !important; }
.inline-related h2 { cursor: pointer; display:block !important; margin:0; padding:10px 5px 6px 30px; text-align:left; font-weight:bold; font-size: 12px; color:#5b80b2;  background:transparent url(../../img/admin/icon_open_blue.gif) 10px 11px no-repeat; border-bottom: 1px solid #ddd;  }
.inline-related h2 span.delete { display: none; padding-left:20px; position:absolute; top:7px; right:5px;}
.inline-related h2 span.delete label { font-size: 11px; font-weight: bold !important; margin-left:5px; margin-right: 15px; }
/*.inline-related fieldset.module h2 { margin:0; padding:2px 5px 3px 5px; font-size:11px; text-align:left; font-weight:bold; background:#bcd; color:#fff; }*/
.inline-related.tabular fieldset.module table {width:100%;}
.inline-related.last-related { margin-bottom:2px; }

.inline-related fieldset.collapsed { display: none !important; background:transparent url(../../img/admin/nav-bg.gif) bottom left repeat-x;  }
.inline-related fieldset.collapsed { border: none; border-top: 1px solid #fff; border-bottom: 1px solid #ccc;}
/*.inline-related fieldset.collapsed h2 { font-size: 11px;  color:#95ADCD; color: #5b80b2; padding-top: 6px; padding-left: 10px; border-bottom:none; background:transparent url(../../img/admin/caption-bg-collapsed-closed.gif) bottom left no-repeat; }*/
.inline-related a.collapse-toggle:link, a.collapse-toggle:visited { color:#95ADCD; }

.inline-group .tabular tr.has_original td {padding-top:2em;}
.inline-group .tabular tr td.original { padding:2px 0 0 0; width:0; _position:relative; }
.inline-group .tabular th.original {width:0px; padding:0;}
.inline-group .tabular td.original p {position:absolute; left:0; height:1.1em; padding:2px 7px; overflow:hidden; font-size:9px; font-weight:bold; color:#666; _width:700px;     }
.inline-group ul.tools {padding:0; margin: 0; list-style:none;}
.inline-group ul.tools li {display:inline; padding:0 5px;}
.inline-group ul.tools a.add {background:url(../../img/admin/icon_addlink.gif) 0 50% no-repeat; padding-left:14px;}


/* FIELDLENGTH */

/* INPUT HI */
.form-row textarea,
#id_subtitle,
#id_subtitle_de,
#id_image,
#id_link_url,
#id_sender_email,
.mailing-emailmessage #id_subject,
#id_headline,
#id_content_de_parent,
.comments-comment #id_url_link,
.comments-comment #id_comment,
#id_image_title,
#id_image_title_de,
#id_organizing_person,
#id_title_en,
.faqs-faqcategory #id_title_de,
#id_short_title_en,
#id_short_title_de,
.faqs-questionanswer #id_slug,
#id_question_en,
#id_question_de,
.filebrowser-imagemodification .vTextField,
.media_gallery-mediagallery .vTextField,
#event_form #id_organizing_institution
{
	width: 544px;
}

.flatpages-flatpage textarea,
.forum-post textarea,
.forum-forum textarea,
.forum-forumcategory textarea,
.forum-threadcategory textarea,
.forum-thread textarea,
.articles-article #id_content,
.articles-article #id_content_de,
.blog-post textarea,
.mailing-emailtemplate textarea,
.mailing-emailmessage textarea
{
	height: 400px;
}

/* SELECT HI */
#id_organizing_institution,
#id_person_group,
#id_forum,
#id_url_link,
#id_comment,
#id_institution,
#id_postal_address,
#id_blog,
.groups_networks-persongroup #id_context_categories,
#id_category,


#id_description_tbl,
#id_document_file
{
	width: 552px;
}

/* INPUT MED */
.form_text,
.form_text input
{
	width: 268px;
}

div.form_text
{
	width: auto;
}

.vTimeField,.vDateField
{
	width: 60px;
}

/* SELECT MED */
select,#claimrequest_form #id_object_id
{
	width: 276px;
}

/* INPUT LOW */

.fees .low input,
#id_sort_order,
#id_datefield,
#id_timefield,
#id_points,
#id_ln_sn,
#id_ln_area_sn,
#id_ln_area,
#id_nat_prefix,
#id_int_prefix,
#id_phone0_area,
#id_phone1_area,
#id_phone2_area,
#id_phone0_area,
#id_phone1_area,
#id_phone2_area,
#id_phone_area,
#id_phone_number,
#id_identifier,
#id_playing_time,
#id_pages,
#id_file_size,
#id_ip,
#id_ordering,
.vPositiveIntegerField,
.vFloatField,
#mediagallery_form .vIntegerField
{
	width: 81px;
}

/* SELECT LOW */
#id_birthday_mm,
#id_thread_latest_post,
#id_tag,
#id_flag_color,
#id_priority,
#id_validity_start_yyyy,
#id_validity_start_mm,
#id_validity_start_dd,
#id_validity_end_yyyy,
#id_validity_end_mm,
#id_validity_end_dd,
#id_phone0_type,
#id_phone1_type,
#id_phone2_type,
#id_url0_type,
#id_url1_type,
#id_url2_type,
#id_im0_type,
#id_im1_type,
#id_im2_type,
#id_email0_type,
#id_email1_type,
#id_email2_type,
#id_best_time_to_call,
.tracker-ticket .vSelectField,
#id_purpose,
#id_birthday_yyyy,
#id_languages,


.phone select,
.e-mail select,
.websites select,
.messengers select,
.yyyy select,
#id_color,
#id_brightness,
#id_contrast,
#id_sharpness
{
	width: 89px;
}

/* INPUT EXTRA LOW */
input.exta_low,#content .extra_low input, #id_code,
#id_phone_country,
#id_phone0_country,
#id_phone1_country,
#id_phone2_country,
.media_gallery-mediagallery .vIntegerField
{
	width: 20px;
}

/* INPUT SELECT AUTO */
.checkbox-row input,
.form_checkbox,
#id_start_yyyy,
#id_start_hh,
#id_start_ii,
#id_end_yyyy,
#id_end_hh,
#id_end_ii,
#id_submitted_date_date,
#id_submitted_date_time,
#id_last_login_date,
#id_last_login_time,
#id_date_joined_date,
#id_date_joined_time,
#id_creation_date_date,
#id_creation_date_time,
#id_publishing_date_date,
#id_publishing_date_time,
#id_modified_date_date,
#id_modified_date_time,
#id_published_date_date,
#id_published_date_time,
#id_pubdate_date,
#id_pubdate_time,
.working-hours .vCheckboxLabel input,
table.fees input
{
	width: auto;
}

.postal-low input
{
	width: 47px;
	margin-right: 10px;
	float: left;
}

.city-med input
{
	width: 203px;
}

#id_birthday_dd,#id_published_dd,#id_start_dd,#id_end_dd,
.dd select
{
	width: 65px;
	margin-right: 14px;
}

#id_birthday_mm,#id_published_mm,#id_start_mm,#id_end_mm,
.mm select,
#id_published_yyyy
{
	margin-right: 14px;
	width: 88px;
}

#content .phone_area_code input,
.latitude input,
.longitude input,
.altitude input,
#id_latitude,
#id_longitude,
#id_altitude,
.working-hours input
{
	width: 71px;
}

.change-current,
.add-another
{
	margin-left: 10px;
}


table .add-another
{
	margin-left: 0px;
}

#content .change-current img,
#content .add-another img
{
	margin-left: 0;
}

.redirects-redirect .change-current,
.redirects-redirect .add-another
{
	margin-left: 0;
	margin-right: 10px;
}

.postal,.state,.district,.latitude,.longitude
{
	margin-right: 20px;
}

.hood label
{
	width: 80px;
}

.country .combo-help
{
	margin-left: 93px;
	padding: 0;
}

.country .form-row
{
	padding: 0;
	border: none;
	overflow: auto;
}

/* CHECKBOX */
.form-row .vCheckboxField,
.form-row .form_checkbox,
.redirects-redirect #add_id_site
{
	float: left;
	margin: 6px 5px 0px 156px;
    width: auto;
}

.form_checkbox input
{
    width: auto;
}

.redirects-redirect #add_id_site
{
	float: left;
	margin: 6px 5px 0px 158px;
}

#content ul.radiolist
{
	margin: 6px 5px 0px 156px;
}

#content .working-hours .vCheckboxLabel
{
	width: 102px !important;
}

/* WIDGET */ 

textarea
{
	background-color: white;
}

.list ul li
{
	list-style-type: none;
}

#content .list ul li input
{
	margin-left: 0;
}

#content .list ul li label
{
	float: none;
	display: block;
	width: auto !important;
}

.map-data
{
	width: 300px;
	float: left;
	border-right: 1px solid #eee;
}

.map-view
{
	margin: 10px 10px 0px 310px;
}

#content .list ul.first
{
	padding-left: 156px;
}

#content .list ul
{
	width: 150px;
}

.datetime .date
{
	float: left;
	margin-right: 20px;
}

#end_time span,
#start_time span
{
	margin-left: 6px;
}

.apply-to-all
{
	margin-right: 16px;
	float: right;
}

fieldset fieldset.module
{
	border: none;
}

#add_id_groups img,
#add_id_users img,
#add_id_creative_sectors img,
#add_id_context_categories img,
#add_id_recipients img,
#add_id_allowed_placeholders img,
#add_id_sites img,
#add_id_relation_types img,
.combo-add-another img
{
	float: left;
	padding: 6px 5px 5px 156px;
}

.event #id_label
{
	float: left;
}

#contnent .no-padding,
#content .cats .help
{
	float: left;
	padding: 0;
}

.availability select,
.birthday select
{
	margin-right: 10px;
}

#add_id_country img 
{
	padding-left: 0px;
}

.datetime span
{
	margin-right: 20px;
}

.img img,#image_id_image,
.filebrowser_image
{
	margin: 10px 0 0 156px;
}

.mceEditor
{
	display: block;
	margin-left: 156px;
}

#mce_fullscreen_parent
{
	margin: 0;
}

#mce_fullscreen_container
{
	width: 500px;
}


#content p
{
	width: auto;
}

/* @group NFA SETTINGS */

.one-line input
{
	float: left;
	margin-right: 10px;
}

ul li
{
	list-style-type: none;
}

.inline
{
	display: inline;
}

.ceckbox-list ul
{
	width: 230px;
	float: left;
}

.ceckbox-list ul.first
{
	margin: 0 0 0 156px;
}

#content .ceckbox-list ul li input
{
	width: 230px;
	float: left;
	margin: 5px 5px 0 0;
}


#content .float-checkbox .vCheckboxLabel
{
	float: left;
	padding-right: 0;
	width: 115px;
}

input#id_is_spam,input#id_is_deleted,input#id_is_sent,
input#id_is_draft,input#id_is_replied,input#id_delete_after_sending,
#content .float-checkbox .inline input,
input#id_is_applied4institution,input#id_is_applied4document,input#id_is_applied4persongroup,
.float-checkbox #id_is_blocked,.float-checkbox #id_is_contact_person,
.float-checkbox #id_display_address,.float-checkbox #id_display_phone,
.float-checkbox #id_display_mobile,.float-checkbox #id_display_im
{
	margin-left: 10px;
	margin-top: 4px;
}

/* @group Many to many */

#content .creative_sectors .add-another,
#content .context_categories .add-another,
#content .allowed_placeholders .add-another
{
	margin: 0;
}

#content .creative_sectors .add-another img,
#content .context_categories .add-another img,
#content .allowed_placeholders .add-another img
{
	padding: 10px 0;
	float: none;
}

/* @end */

/* @group Claim */

.phone_country .inline
{
	width: auto;
}

/* @end */

/* @end */
