{% extends "blog/base.html" %}
{% load base_tags i18n events %}

{% block title %}{% trans "Preview your review" %}{% endblock %}



{% block headline %}
    <h2 class="main">{% trans "preview" %}</h2>
{% endblock %}

{% block sidebar-a %}{% endblock %}
{% block sidebar-b %}{% endblock %}

{% block content %}

    {% ifequal object_type "Institution" %}
        <div class="info-facts">
            <h2>{{ comment.content_object.title }}</h2>
            <p>{{ comment.content_object.title2 }}</p>
        </div>
    {% endifequal %}

    {% ifequal object_type "Event" %}
        <div class="info-facts">
            <h2>{{ comment.content_object.get_title|escape }}</h2>
            {% if comment.content_object.has_start_date or comment.content_object.has_end_date or comment.content_object.label %}
                <p>
                    {% if comment.content_object.label %}{{ comment.content_object.label }}{% endif %} {% get_date_period_formatted from comment.content_object.start_yyyy comment.content_object.start_mm comment.content_object.start_dd to comment.content_object.end_yyyy comment.content_object.end_mm comment.content_object.end_dd as event_period %} {{ event_period }}
                </p>
            {% endif %}
        </div>
    {% endifequal %}

    {% ifequal object_type "Document" %}
        <div class="info-facts">
            <h2>{{ comment.content_object.get_title|escape }}</h2>
        </div>
    {% endifequal %}

    {% ifequal object_type "Person" %}
        <div class="info-facts">
            <h2>{{ comment.content_object.get_title|escape }}</h2>
        </div>
    {% endifequal %}

    <form action="../post/" method="post">

        {% if not comment_form.is_valid %}
            Form is invalid
            errors = {{ form.errors }}
            cleaned_data = {{ form.cleaned_data }}

        {% else %}
            <div class="comment-meta">
                <span class="comment-pic"></span>
                {% blocktrans with comment.name as person_t and comment.submit_date|date:_("DATE_FORMAT") as submitdate_t %}
                    <b>{{ person_t }}</b>
                    <br/> {{ submitdate_t }}{% endblocktrans %}
            </div>

            <div class="comment-text">

                {% if review.headline %}<p class="review_headline">{{ comment.headline }}</p>{% endif %}
                {{ comment.comment|escape|urlizetrunc:"40"|linebreaks }}
            </div>
            <input type="submit"
                   id="post"
                   class="button_good"
                   name="post"
                   value='{% filter upper %}{% trans "Post review" %}{% endfilter %}'/>
        {% endif %}

        <div id="add_comment">
            {% if not comment_form.is_valid %}
                <h3>{% trans "Post a review" %}</h3>
            {% else %}
                <h3>{% trans "Or edit your review" %}</h3>
            {% endif %}

            <div class="type_name">
                <div>
                    <label for="id_headline">
                        {% if comment_form.headline.field.required %}*{% endif %}{% trans "Title" %}:
                    </label>
                    {{ comment_form.headline }}
                    {% if comment_form.headline.errors %}
                        <p class="error">***{{ comment_form.headline.errors|join:", " }}</p>
                    {% endif %}
                </div>

                <label for="id_comment">{% if comment_form.comment.field.required %}*{% endif %}{% trans "Review" %}:
                </label>
                {{ comment_form.comment }}
                {% if comment_form.comment.errors %}
                    <p class="error">***{{ comment_form.comment.errors|join:", " }}</p>
                {% endif %}

                {% comment %} Hidden Field for spam protection {% endcomment %} {{ comment_form.prevent_spam }}
                {% if comment_form.prevent_spam.errors %}
                    <p class="error">***{{ comment_form.prevent_spam.errors|join:", " }}</p>
                {% endif %}

            </div>
            <span id="last">*{% trans "required fields" %}</span>
            <input type="hidden"
                   name="goto_next"
                   value="{% if goto_next %}{{ goto_next }}{% else %}{{ request.get_full_path }}{% endif %}"/>
            <input type="hidden" name="options" value="{{ options }}"/>
            <input type="hidden" name="target" value="{{ target }}"/>
            <input type="hidden" name="gonzo" value="{{ hash }}"/>
            <input type="submit"
                   id="preview"
                   class="button_good"
                   name="preview"
                   value='{% filter upper %}{% trans "Preview revised review" %}{% endfilter %}'/>
            <input type="submit"
                   id="cancel"
                   class="button_bad"
                   name="cancel"
                   value='{% filter upper %}{% trans "Cancel" %}{% endfilter %}'/>
            <div class="cleaner"></div>
        </div>
    </form>

{% endblock %}