{% extends "base_sidebar_counselling.html" %}
{% load i18n base_tags auth_extended events compressed cms_tags %}

{% block title %}{{ object.get_title|escape }}{% endblock %}

{% block meta_tags %}
    {{ block.super }}
    <meta name="description" content="{{ object.get_description|striptags|truncatewords:100 }}..."/>
{% endblock %}

{% block headline %}
    <h1>{{ object.title }}</h1>
{% endblock %}


{% block details %}

    {% if object.is_editable %}
        <div id="avatar-edit-frame" class="edit-iframe"></div>
    {% endif %}
    
    {% include "events/profile/identity.html" %}

    {% include "events/profile/contact.html" %}
    
    {% include "events/profile/description.html" %}
    
    {% include "events/profile/event_times.html" %}
    
    {% include "events/profile/fees_opening_hours.html" %}
    
    {% include "events/profile/organizer.html" %}
    
    {% include "events/profile/additional_info.html" %}
    
    {% include "events/profile/categories.html" %}

{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'event_list_global' %}">{% page_attribute "page_title" %}</a></li>
    <li>{{ object.get_title }}</li>
{% endblock %}
