{% extends "admin/change_form.html" %}
{% load i18n admin_modify auth_extended row_level_permission %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% block javascripts %}
    {{ block.super }}
{#    <script type="text/javascript" src="{{ STATIC_URL }}grappelli/js/collapse.min.js"></script>#}
{#    <script type="text/javascript" src="{{ STATIC_URL }}grappelli/js/inlines.min.js"></script>#}
{% endblock %}

{% block breadcrumbs %}
    <ul class="grp-horizontal-list">
        <li><a href="../../../../">{% trans "Home" %}</a></li>
        <li><a href="../../">{{ opts.verbose_name_plural|capfirst|escape }}</a></li>
        <li><a href="../">{{ original|truncatewords:"18"|escape }}</a></li>
        <li>{{ title|escape }}</li>
    </ul>
{% endblock %}

{% block content_title %}<h1>{% blocktrans %}Change Access to {{ original }}{% endblocktrans %}</h1>{% endblock %}

{% block content %}
<div id="content-main" class="container-flexible">
    <div class="form-container">
        <form action="" method="post">
            <div>
                <div class="group tabular" id="{{ permissions_formset.prefix }}-group" >
                    <h2>{% trans "Permissions" %}</h2>
                    <ul class="tools">
                        <li class="add-handler-container"><a href="javascript://" class="icon add-handler" title="{% trans 'Add Another' %}"> </a></li>
                    </ul>
                    {{ permissions_formset.management_form }}
                    {{ permissions_formset.non_form_errors }}
                    <!-- container -->
                    <div class="module table">
                        <div class="module thead">
                            <div class="tr">
                                {% for field in permissions_formset.forms.0 %}
                                    {% if field.name != "DELETE" %}
                                        {% if not field.widget.is_hidden %}
                                            <div class="th {% if field.required %} required{% endif %}">{{ field.label|capfirst }}</div>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                {% if permissions_formset.can_delete %}<div class="th">&nbsp;</div>{% endif %}
                            </div>
                        </div>
                        {% for inline_form in permissions_formset.forms %}
                            <!-- element -->
                            <div class="module tbody{% if inline_form.original %} has_original{% endif %}" id="{{ inline_form.prefix }}">
                                {% if inline_form.non_field_errors %}
                                    <div>{{ inline_form.non_field_errors }}</div>
                                {% endif %}
                                <h3 style="display: none;"><b>{% trans "Permission Set" %} #{{ forloop.counter }}</b>&nbsp;&nbsp;{% if inline_form.original %} {{ inline_form.original }}{% endif %}</h3>
                                {% spaceless %}
                                    {% for field in inline_form %}
                                        {% if field.is_hidden %} {{ field.field }} {% endif %}
                                    {% endfor %}
                                {% endspaceless %}
                                <div class="tr">
                                    {% for field in inline_form %}
                                        {% if field.name != "DELETE" %}
                                            <div class="td {% if field.errors %} error{% endif %}">
                                                {% if field.field.is_readonly %}
                                                    <p>{{ field.field.contents }}</p>
                                                {% else %}
                                                    {{ field }}
                                                    {{ field.errors.as_ul }}
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                    <div class="td tools">
                                        {% if permissions_formset.can_delete %}
                                            {% spaceless %}
                                            <ul class="tools">
                                                <li class="delete-handler-container">{{ inline_form.DELETE }}<a href="javascript://" class="icon {% if inline_form.original %}delete-handler{% else %}remove-handler{% endif %}" title="{% trans 'Remove' %}"> </a></li>
                                            </ul>
                                            {% endspaceless %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        {% with permissions_formset.empty_form as inline_form %}
                            <!-- element -->
                            <div class="module tbody empty-form" id="form-empty">
                                {% if inline_form.non_field_errors %}
                                    <div>{{ inline_form.non_field_errors }}</div>
                                {% endif %}
                                <h3 style="display: none;"><b>{% trans "Permission Set" %} #{{ forloop.counter }}</b>&nbsp;&nbsp;{% if inline_form.original %} {{ inline_form.original }}{% endif %}</h3>
                                {% spaceless %}
                                    {% for field in inline_form %}
                                        {% if field.is_hidden %} {{ field.field }} {% endif %}
                                    {% endfor %}
                                {% endspaceless %}
                                <div class="tr">
                                    {% for field in inline_form %}
                                        {% if field.name != "DELETE" %}
                                            <div class="td {% if field.errors %} error{% endif %}">
                                                {% if field.field.is_readonly %}
                                                    <p>{{ field.field.contents }}</p>
                                                {% else %}
                                                    {{ field }}
                                                    {{ field.errors.as_ul }}
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                    <div class="td tools">
                                        {% if permissions_formset.can_delete %}
                                            {% spaceless %}
                                            <ul class="tools">
                                                <li class="delete-handler-container">{{ inline_form.DELETE }}<a href="javascript://" class="icon {% if inline_form.original %}delete-handler{% else %}remove-handler{% endif %}" title="{% trans 'Remove' %}"> </a></li>
                                            </ul>
                                            {% endspaceless %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endwith %}
                    </div>
                    <div class="module add-item">
                        <a href="javascript://" class="add-handler">{% trans "Add permission owner" %}</a>
                        <ul class="tools">
                            <li class="add-handler-container"><a href="javascript://" class="icon add-handler" title="{% trans 'Add Item' %}"> </a></li>
                        </ul><br clear="all" />
                    </div>
                </div>
        
                <script type="text/javascript">
                (function($, undefined) {
                    $(document).ready(function($) {
                        var rows = "#{{ permissions_formset.prefix }}-group div.table div.tbody";
                        $("#{{ permissions_formset.prefix }}-group").grp_inline({
                            prefix: "{{ permissions_formset.prefix }}",
                            deleteCssClass: "delete-handler",
                            emptyCssClass: "empty-form",
                            onAdded: (function(row) {
                            })
                        });
                    });
                })(django.jQuery);
                </script>
                <!-- Submit-Row -->
                <div class="module footer">
                    <ul class="submit-row">
                        <li class="submit-button-container"><input type="submit" value="{% trans 'Save' %}" class="default" name="_save" /></li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
