{% extends "admin/base_site.html" %}
{% load i18n admin_modify adminmedia auth_extended row_level_permission %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% block breadcrumbs %}
<div id="breadcrumbs">
     <a href="../../../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../../">{{ opts.verbose_name_plural|capfirst|escape }}</a> &rsaquo;
     <a href="../">{{ original|truncatewords:"18"|escape }}</a> &rsaquo; 
     {{ title|escape }}
</div>
{% endblock %}

{% block content_title %}<h1>{% blocktrans %}Change Access to {{ original }}{% endblocktrans %}</h1>{% endblock %}

{% block content %}
<div id="content-main">
    {% if_has_perm "auth.add_rowlevelpermission" %}
        <form id="addRLPForm" method="post" name="addRLPForm" action="add/">
            <fieldset class="module aligned ()">
              <h2>{% trans "Add Permissions" %}</h2>
                <div id="add-rlpTable">
                    <div class="form-row"><label>{{ new_rlp_form.owner.label }}</label>{{ new_rlp_form.owner }}</div>
                    <div class="form-row"><label>{{ new_rlp_form.perm.label }}</label>{{ new_rlp_form.perm }}</div>
                    <div class="form-row">{{ new_rlp_form.negative }}<label class="vCheckboxLabel">{{ new_rlp_form.negative.label }}</label></div>
                </div>
            </fieldset>
            <div class="submit-row"><input id="addButton" type="submit" value="{% trans 'Add' %}" /></div>
        </form>
    {% end_if_has_perm %}
    
    {% if_has_perm "auth.change_rowlevelpermission" %}
        <h1>{% trans "Current Permissions" %}</h1>
        {% if rlp_forms %}
            {% for x in rlp_forms %}
                {% for o in x.1 %}
                <form id="editRLPForm-{{ o.rlp.id }}" class="editRLPForm" method="post" name="editRLPForm-{{ o.rlp.id }}"  action="{{ o.rlp.id }}/change/">
                    <fieldset class="module aligned">
                        <h2>{{ x.0 }}</h2>
                            <div id="editRLP-{{ o.rlp.id }}">
                                <div class="form-row" id="owner_header"><label>{{ new_rlp_form.owner.label }}</label>{{ o.form.owner }}{{ o.form.owner.errors }}</div>
                                <div class="form-row" id="perm_header"><label>{{ new_rlp_form.perm.label }}</label>{{ o.form.perm }}{{ o.form.perm.errors }}</div>
                                <div class="form-row" id="negative_header">{{ o.form.negative }}{{ o.form.negative.errors }}<label class="vCheckboxLabel">{{ new_rlp_form.negative.label }}</label></div>
                            </div>
                    </fieldset>
                    <div class="submit-row">
                        <p class="float-left">
                             <a href="{{ o.rlp.id }}/delete/" class="deletelink" onclick="return confirm('{% trans "Do you really want to delete this permission?" %}');">{% trans 'Delete' %}</a>
                         </p>
                       {{ o.form.rlp }}
                        <input id="applyButton-{{ o.rlp.id }}" type="submit" value="{% trans 'Apply' %}" />
                        {% comment %}
                        <input id="cancelButton-{{ o.rlp.id }}" type="reset" value="{% trans 'Reset' %}"/>
                        <br/>
                        {% endcomment %}
                    </div>
                </form>
                {% endfor %}
            {% endfor %}
            {% if is_paginated %}
                <div id="changelist">
                    {% paginator %}
                </div>
            {% endif %}
        {% else %}
            <p><em>{% trans 'No row level permissions'%}</em></p>
        {% endif %}
    {% end_if_has_perm %}
</div>
{% endblock %}
