{% load base_tags i18n image_modifications tagging_tags babel auth_extended fb_tags infoblocks favorites %}

{% with object as museum %}
  <button id="cancel-description" class="cancel btn btn-info btn-lg">
    <span class="icon icon-remove"></span>
    <span class="sr-only">{% trans "close" %}</span>
  </button>

  <div class="map-ajax-detail">
    <article>
      <header>
        <h1>{{ museum.title }} </h1>
        {% if museum.subtitle %}
        <h2>{{ museum.subtitle }}</h2>
        {% endif %}

        {% comment %}
        <a href="{{ exhibition.museum.get_url_path }}"><h3>
          {% if museum.parent %}
            {{ museum.parent.street_address }}
          {% else %} 
            {{ museum.street_address }}
          {% endif %}
        </h3></a>
        {% endcomment %}

        <p>
          <small>
          {% if museum.parent %}
            <span class="nobr">{{ museum.parent.street_address }},</span>
            {% if museum.parent.street_address2 %}
              <span class="nobr">{{ museum.parent.street_address2 }},</span>
            {% endif %}
            <span class="nobr">{{ museum.parent.postal_code }} {{ museum.parent.city }}</span>
          {% else %}
            <span class="nobr">{{ museum.street_address }},</span>
            {% if museum.street_address2 %}
              <span class="nobr">{{ museum.street_address2 }},</span>
            {% endif %}
            <span class="nobr">{{ museum.postal_code }} {{ museum.city }}</span>
          {% endif %}
          </small>
        </p>
      </header>

      {% if museum.cover_image %}
        <div id="cover_img">
          <a class="img" href="{{ museum.get_url_path }}">
            <img src="{{ STATIC_URL }}site/img/placeholder_list.gif" data-original="{{ MEDIA_URL }}{{ museum.cover_image|modified_path:"museum_list" }}{% if_has_perm "museums.change_museum" museum %}?now={% now "YmdHis" %}{% end_if_has_perm %}" alt="" />
          </a>
        </div>
      {% endif %}

      <div class="opening-hours">
        {% with museum.get_current_season as season %}
          {% if season %}
            {% if season.is_appointment_based %}
              <dl>
                <dt><small>{% trans "Based on appointment" %}</small></dt>
              </dl>
            {% else %}
            {% regroup season.get_opening_hours by times as opening_hours %}
              {% for same_hours in opening_hours %}
                <dl>
                  <dt><small>{% for day in same_hours.list %}{% if forloop.first %}{{ day.weekday }}{% endif %}{% if forloop.last %}{% if forloop.counter0 %}-{{ day.weekday }}{% endif %}{% endif %}{% endfor %}</small></dt>
                  {% if same_hours.list.0.open %}
                    <dd><small>
                      {{ same_hours.list.0.open|time:"H:i" }}
                      {% if same_hours.list.0.break_close %}
                      - {{ same_hours.list.0.break_close|time:"H:i" }}
                      / {{ same_hours.list.0.break_open|time:"H:i" }}
                      - {{ same_hours.list.0.close|time:"H:i" }}
                      {% else %}
                      - {{ same_hours.list.0.close|time:"H:i" }}
                      {% endif %}
                      {% if LANGUAGE_CODE == "de" %} Uhr{% endif %}</small>
                    </dd>
                  {% else %}
                    <dd><small>{% trans "closed" %}</small></dd>
                  {% endif %}
                </dl>
              {% endfor %}
            {% endif %}
            {% if season.last_entry %}
              <dl>
                <dt><small>{% trans "Last entry" %}</small></dt>
                <dd><small>{{ season.last_entry }}</small></dd>
              </dl>
            {% endif %}
            {% if season.exceptions %}
              <p><small>{{ season.get_rendered_exceptions|striptags|truncatewords:"35"|urlize }}</small></p>
            {% endif %}
          {% endif %}
        {% endwith %}
      </div>

      <p>{{ museum.get_rendered_description|striptags|truncatewords:"35"|urlize }}</p>
      <a class="btn btn-default" href="{{ museum.get_url_path }}">{% trans "more" %}</a>
    </article>
{% endwith %}