{% extends "base.html" %}
{% load base_tags i18n image_modifications %}

{% block content %}
    <div class="marginal">
        <div id="kurze_zeit">
            {% for exhibition in object.get_published_exhibitions %}
            
                {% if forloop.first %}
                     <h2 class="catHead">→ {% trans "Exhibitions" %}</h2>
                {% endif %}
                
                <div class="article">
                    {% if exhibition.image %}
                        <a class="img" href="{{ exhibition.get_url_path }}"><img src="{{ MEDIA_URL }}{{ exhibition.image|modified_path:"exhibition_thumbnail" }}" alt="" /></a>
                    {% endif %}
                    <h4>{{ exhibition.museum.title }}</h4>
                    <h3><a href="{{ exhibition.get_url_path }}">{{ exhibition.title }}</a></h3>
                    <h5>{{ exhibition.start|date:"j. F Y" }} {% trans "till" %} {{ exhibition.end|date:"j. F Y" }}</h5>
                    
                </div>
            {% endfor %}
	        <h2 class="catHead">→ {% trans "Museums with the same categories" %}</h2>
	        {% for museum in object.get_museums_with_the_same_categories %}
	            <div class="article">
	                {% if museum.image %}
	                    <a class="img" href="{{ museum.get_url_path }}"><img src="{{ MEDIA_URL }}{{ museum.image|modified_path:"exhibition_thumbnail" }}" alt="" /></a>
	                {% endif %}
	                <h3> <a href="{{ museum.get_url_path }}">{{ museum.title }}</a></h3>
	                <h4>{{ museum.subtitle }}</h4>
	               
	            </div>
	        {% endfor %}
        </div>
    </div>
    
    <div id="detail" class="clearfix">
        {% with object as museum %}
            <div class="article">
                <div class="leftCol">
	                {% if museum.image %}
	                    <div class="article_img">
	                        <img src="{{ MEDIA_URL }}{{ museum.image|modified_path:"exhibition_list" }}" />
	                        <div class="image_caption">
	                            {{ museum.get_rendered_image_caption }}
	                        </div>
	                    </div>
	                {% endif %}
	                
	                <dl class="address">
	                    <dt>{% trans "Address" %}</dt>
                        <dd>{{ museum.street_address }}</dd>
                        {% if museum.street_address2 %}<dd>{{ museum.street_address2 }}</dd>{% endif %} 
                        <dd>{{ museum.postal_code }} {{ museum.city }}</dd>
	                </dl>
	                
	                {% if museum.phone %}
		                <dl class="phone">
		                    <dt>{% trans "Phone" %}</dt>
		                    <dd>{{ museum.phone }}</dd>
		                </dl>
	                {% endif %} 
	                
	                {% if museum.fax %}
		                <dl class="fax">
		                    <dt>{% trans "Fax" %}</dt>
		                    <dd>{{ museum.fax }}</dd>
		                </dl>
	                {% endif %} 
	                
	                {% if museum.website %}
		                <dl class="website">
		                    <dt>{% trans "Website" %}</dt>
		                    <dd><a href="{{ museum.website }}">{{ museum.website }}</a></dd>
		                </dl>
	                {% endif %} 
	                
	                <dl class="categories">
	                    <dt>{% trans "Categories" %}</dt>
	                    <dd>
	                        {% for cat in museum.categories.all %}
	                            <a href="{% if request.LANGUAGE_CODE == "de" %}{% url de:museum_list %}{% else %}{% url en:museum_list %}{% endif %}?category={{ cat.id }}">{{ cat.title }}</a>{% if not forloop.last %}, {% endif %}
	                        {% endfor %}
	                    </dd>
	                </dl>
	                
	                {% if museum.open_on_mondays or museum.free_entrance %}
		                <dl class="additional">
		                    <dt>{% trans "Plus" %}</dt>
		                    {% if museum.open_on_mondays %}
		                        <dd>
		                            {% trans "Open on Mondays" %}
		                        </dd>
		                    {% endif %}
		                    {% if museum.free_entrance %}
		                        <dd>
		                       	 {% trans "Free entrance" %}
		                        </dd>
		                    {% endif %}
		                </dl>
	                {% endif %}
	                
                    <div id="gmap" style="width: 196px; height: 150px;"></div>
                    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;language={{ LANGUAGE_CODE }}"></script>
                    <script type="text/javascript">
                        //<![CDATA[
                        (function($, undefined) {
                            $(document).ready(function() {
                                var latlng = new google.maps.LatLng({{ museum.latitude }}, {{ museum.longitude }});
                                var myOptions = {
                                zoom: 16,
                                center: latlng,
                                mapTypeId: google.maps.MapTypeId.ROADMAP
                                };
                                var map = new google.maps.Map(
                                    document.getElementById("gmap"),
                                    myOptions
                                );
                                var oImage = new google.maps.MarkerImage(
                                    "{{ STATIC_URL }}site/img/gmap/markers_1-10.png",
                                    // This marker is 20 pixels wide by 32 pixels tall.
                                    new google.maps.Size(20, 34),
                                    // The origin for this image is 0,0.
                                    new google.maps.Point(0, 0),
                                    // The anchor for this image is the base of the flagpole at 0,32.
                                    new google.maps.Point(10, 34)
                                );                                
                                var oShadow = new google.maps.MarkerImage(
                                    "{{ STATIC_URL }}site/img/gmap/marker_shadow.png",
                                    // The shadow image is larger in the horizontal dimension
                                    // while the position and offset are the same as for the main image.
                                    new google.maps.Size(37, 34),
                                    new google.maps.Point(0, 0),
                                    new google.maps.Point(8, 25)
                                );
                                var marker = new google.maps.Marker({
                                    map: map, 
                                    position: latlng,
                                    shadow: oShadow,
                                    icon: oImage
                                });
                                
                            });
                        }(jQuery));
                        //]]>
                    </script>
	                
                </div>
                   
                <div class="rightCol">
                    <h2>{{ museum.title }}</h2>
                    {% if museum.subtitle %}
                    <h3>{{ museum.subtitle }}</h3>
                    {% endif %}
                    
                    <div class="text">{{ museum.get_rendered_description }}</div>
                </div>
            </div>
        {% endwith %}
    </div>
{% endblock %}
