{% extends "base.html" %}
{% load base_tags i18n image_modifications tagging_tags babel auth_extended fb_tags infoblocks favorites %}
{% block title %}{% trans "Museum" %} – {{ object.title }} – {% endblock %}
{% block bodyclass %}museum-detail{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/favorites.js" defer="defer"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/twitter.js"></script>
    <script type="text/javascript">
        var aGeopositions = [];
        var settings = {
            STATIC_URL: "{{ STATIC_URL }}"
        }

        $(document).ready(function(){
            $(".toggle_bvg").click(function () {
                $("#bvg_widget").toggleClass("on");
                return false;
            });
        });
    </script>
{% endblock %}

{% block map %}
    {% include "utils/gmap.html" %}
{% endblock %}

{% block edit_item %}
    {% if_has_perm "museums.change_museum" object %}
    <li><a class="edit icon icon-white icon-edit" rel="tooltip" data-placement="bottom" data-original-title="{% trans "Edit" %}" href="{{ request.path }}change/">&nbsp;<span>{% trans "Edit" %}</span></a></li>
    {% end_if_has_perm %}
{% endblock %}

{% block content %}
{% with object as museum %}
<div class="content clearfix">
    <div class="inner clearfix">
        {% include "utils/cover_image.html" %}
        <section class="sidebar">
            <ul class="accordion" id="accordion2">  
                <li class="accordion-group">  
                    <h4 class="accordion-heading">  
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse-location"> {% trans "Location" %}</a>
                    </h4>  
                    <ul id="collapse-location" class="accordion-body collapse in">  
                        <li class="accordion-inner">  
                            <dl>
                                <dt>{{ museum.title }}</dt>
                                <dd>{{ museum.street_address }}</dd>
                                {% if museum.street_address2 %}<dd>{{ museum.street_address2 }}</dd>{% endif %}
                                {% if museum.district %}<dd>{{ museum.district }}</dd>{% endif %}
                                <dd>{{ museum.postal_code }} {{ museum.city }}</dd>
                            </dl>
                        
                            {% if museum.phone_number %}
                            <dl>
                                <dt>{% trans "Telephone" %}</dt>
                                <dd>+{{ museum.phone_country }} ({{ museum.phone_area }}) {{ museum.phone_number }}</dd>
                            </dl>
                            {% endif %} 
                            
                            {% if museum.fax_number %}
                            <dl>
                                <dt>{% trans "Fax" %}</dt>
                                <dd>+{{ museum.fax_country }} ({{ museum.fax_area }}) {{ museum.fax_number }}</dd>
                            </dl>
                            {% endif %} 
                            
                            {% if museum.website %}
                            <dl>
                                <dt>{% trans "Website" %}</dt>
                                <dd><a href="{{ museum.website }}">{{ museum.website|humanize_url:"30" }}</a></dd>
                            </dl>
                            {% endif %}
                            
                            {% for social in museum.socialmediachannel_set.all %}
                                <dl class="social-{{ social.channel_type|slugify }} inset">
                                    <dt>{% trans "Social Networks" %}</dt>
                                    <dd><a href="{{ social.url }}">{{ social.channel_type }}</a></dd>
                                </dl>
                            {% endfor %}
                            
                            {% if museum.contact_name %}
                                <dl>
                                {% if museum.contact_phone_number %}
                                    <dt>{% trans "Contact phone" %}</dt>
                                    <dd>{{ museum.contact_phone_country }} {{ museum.contact_phone_area }} {{ museum.contact_phone_number }} </dd>
                                {% endif %}
                                </dl>

                                {% if museum.contact_email %}
                                    <dl>
                                        <dt>{% trans "Contact email" %}</dt>
                                        <dd>{{ museum.contact_email }} </dd>
                                    </dl>
                                {% endif %}
                            {% endif %}
                            
                            {% if museum.post_street_address %}
                                <dl>
                                    <dt>{% trans "Postal address" %}</dt>
                                    <dd>{{ museum.post_street_address }}</dd>
                                    {% if museum.post_street_address2 %}<dd>{{ museum.post_street_address2 }}</dd>{% endif %} 
                                    <dd>{{ museum.post_postal_code }} {{ museum.post_city }}</dd>
                                </dl>
                            {% endif %}
                            
                        </li>
                        <li class="accordion-inner">
                            {% with museum as list_item %}
                                <a href="#" class="location">{% trans "Show location on map" %}</a>
                                {% include "utils/geo_position.html" %}
                            {% endwith %}
                        </li>
                    </ul>  
                </li>

                {% with museum as list_item %}
                    {% include "utils/bvg.html" %}
                {% endwith %}

                <!-- ======= Opening hours ======= -->

                {% if museum.season_set.count or museum.specialopeningtime_set.count %}
                    <li class="accordion-group">  
                        <h4 class="accordion-heading">  
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse-opening-times">
                                {% trans "Opening hours" %}
                            </a>  
                        </h4>  
                        <ul id="collapse-opening-times" class="accordion-body collapse" style="height: 0px; ">
                            <li class="accordion-inner">
                                {% if museum.season_set.count == 1 %}
                                    {% with museum.season_set.all.0 as season %}
                                        {% if season.is_appointment_based %}
                                            <dt>{% trans "Based on appointment" %}</dt>
                                        {% else %}
                                            {% regroup season.get_opening_hours by times as opening_hours %}
                                            {% for same_hours in opening_hours %}
                                                <dl>
                                                    <dt>{% for day in same_hours.list %}{% if forloop.first %}{{ day.weekday }}{% endif %}{% if forloop.last %}{% if forloop.counter0 %}-{{ day.weekday }}{% endif %}{% endif %}{% endfor %}</dt>
                                                    <dd>
                                                        {% if same_hours.list.0.open %}
                                                             {{ same_hours.list.0.open|time:"H:i" }}
                                                             {% if same_hours.list.0.break_close %}
                                                                - {{ same_hours.list.0.break_close|time:"H:i" }}
                                                                  / {{ same_hours.list.0.break_open|time:"H:i" }}
                                                                - {{ same_hours.list.0.close|time:"H:i" }}
                                                             {% else %}
                                                                - {{ same_hours.list.0.close|time:"H:i" }}
                                                             {% endif %}
                                                        {% else %}				 
                                                            {% trans "closed" %}
                                                        {% endif %}
                                                    </dd>
                                                </dl>
                                            {% endfor %}                                   
                                        {% endif %}
                                        {% if season.last_entry %}
                                            <dl>
                                                <dt>{% trans "Last entry" %}</dt>
                                                <dd>{{ season.last_entry }}</dd>
                                            </dl>
                                        {% endif %}
                                        {% if season.exceptions %}
                                            <p>{{ season.get_rendered_exceptions }}</p>
                                        {% endif %}
                                    {% endwith %}
                                {% else %}
                                    {% for season in museum.season_set.all %}
                                        <dl>
                                            <dt>{{ season.title }}</dt>
                                            <dd>{{ season.start|date:"j. F Y" }} - {{ season.end|date:"j. F Y" }}</dd>
                                        </dl>
                                        {% if season.is_appointment_based %}
                                        <dl>
                                            <dt>{% trans "Based on appointment" %}</dt>
                                        </dl>
                                        {% else %}
                                            {% regroup season.get_opening_hours by times as opening_hours %}
                                            {% for same_hours in opening_hours %}
                                                <dl>
                                                    <dt>{% for day in same_hours.list %}{% if forloop.first %}{{ day.weekday }}{% endif %}{% if forloop.last %}{% if forloop.counter0 %}-{{ day.weekday }}{% endif %}{% endif %}{% endfor %}</dt>
                                                    <dd>
                                                        {% if same_hours.list.0.open %}
                                                             {{ same_hours.list.0.open|time:"H:i" }}
                                                             {% if same_hours.list.0.break_close %}
                                                                - {{ same_hours.list.0.break_close|time:"H:i" }}
                                                                  / {{ same_hours.list.0.break_open|time:"H:i" }}
                                                                - {{ same_hours.list.0.close|time:"H:i" }}
                                                             {% else %}
                                                                - {{ same_hours.list.0.close|time:"H:i" }}
                                                             {% endif %}
                                                        {% else %}				 
                                                            {% trans "closed" %}
                                                        {% endif %}
                                                    </dd>
                                                </dl>
                                            {% endfor %}                                   
                                        {% endif %}
                                        {% if season.last_entry %}
                                        <dl>
                                            <dt>{% trans "Last entry" %}</dt>
                                            <dd>{{ season.last_entry }}</dd>
                                        </dl>
                                        {% endif %}
                                        {% if season.exceptions %}
                                            <p>{{ season.get_rendered_exceptions }}</p>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                
                                {% if museum.specialopeningtime_set.count %}
                                    {% for special_opening in museum.specialopeningtime_set.all %}
                                    <dl>
                                        <dt>{% if special_opening.day_label %}{{ special_opening.day_label }}{% endif %}
                                        {{ special_opening.dd }}. {{ special_opening.get_mm_display }} {{ special_opening.yyyy|default:"" }}
                                        </dt>
                                        {% if special_opening.is_closed %}
                                            <dd>{% trans "Closed" %}</dd>
                                        {% else %}
                                            {% if special_opening.is_regular %}
                                                <dd>{% trans "Regular Opening hours" %}</dd>
                                            {% else %}
                                                <dd>{{ special_opening.opening|time:"H:i" }} - {{ special_opening.closing|time:"H:i" }}</dd>
                                                {% if season.sun_break_close %}
                                                    <dt>{% trans "Break:" %}</dt>
                                                    <dd>{{ special_opening.break_close|time:"H:i" }} - {{ special_opening.break_open|time:"H:i" }}</dd>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    </dl>
                                    {% endfor %}
                                {% endif %}
                            </li>
                        </ul>  
                    </li>
                {% endif %}

                <!-- ======= Tickets ======= -->

                {% if museum.free_entrance or museum.admission_price or museum.admission_price_info or museum.reduced_price or museum.reduced_price_info or museum.arrangements_for_children or museum.free_entrance_for or museum.family_ticket or museum.group_ticket or museum.free_entrance_times or museum.yearly_ticket or museum.other_tickets or museum.member_of_museumspass or museum.group_booking_phone_number or museum.service_phone_number %}
                <li class="accordion-group">  
                    <h4 class="accordion-heading">  
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse-prices">  
                            {% trans "Tickets" %} 
                        </a>  
                    </h4>  
                    <ul id="collapse-prices" class="accordion-body collapse" style="height: 0px; ">  
                        <li class="accordion-inner">
                            {% if museum.free_entrance %}
                                {% trans "Free entrance" %}
                            {% else %}
                                {% if museum.admission_price %}
                                    <dl>
                                        <dt>{% trans "Admission price" %} {{ museum.admission_price|currencyfmt:"EUR" }}</dt>
                                        {% if museum.admission_price_info %}
                                            <dd> {{ museum.get_rendered_admission_price_info }}</dd>
                                        {% endif %}
                                    </dl>
                                {% endif %}
                                {% if museum.reduced_price %}
                                    <dl>
                                        <dt>{% trans "Reduced price" %} {{ museum.reduced_price|currencyfmt:"EUR" }}</dt>
                                        {% if museum.reduced_price_info %}
                                            <dd>{{ museum.get_rendered_reduced_price_info }} </dd>
                                        {% endif %}
                                    </dl>
                                {% endif %}
                                {% if museum.arrangements_for_children %}
                                    <dl>
                                        <dt>{% trans "Arrangements for children" %}</dt>
                                        <dd>{{ museum.get_rendered_arrangements_for_children }} </dd>
                                    </dl>
                                {% endif %}
                                {% if museum.free_entrance_for %}
                                    <dl>
                                        <dt>{% trans "Free entrance for" %}</dt>
                                        <dd>{{ museum.get_rendered_free_entrance_for }} </dd>
                                    </dl>
                                {% endif %}
                                {% if museum.show_family_ticket %}
                                    <dl>
                                        <dt>{% trans "Family ticket" %}</dt>
                                        <dd>{% infoblock "family_ticket_info" %} </dd>
                                    </dl>
                                {% endif %}
                                {% if museum.show_group_ticket %}
                                    <dl>
                                        <dt>{% trans "Group ticket" %}</dt>
                                        <dd>{{ museum.get_rendered_group_ticket }} </dd>
                                    </dl>
                                {% endif %}
                                {% if museum.free_entrance_times %}
                                    <dl>
                                        <dt>{% trans "Free entrance times" %}</dt>
                                        <dd>{{ museum.get_rendered_free_entrance_times }} </dd>
                                    </dl>
                                {% endif %}
                                {% if museum.show_yearly_ticket %}
                                    <dl>
                                        <dt>{% trans "Yearly ticket" %}</dt>
                                        <dd>{% infoblock "yearly_ticket_info" %} </dd>
                                    </dl>
                                {% endif %}
                                {% if museum.other_tickets %}
                                    <dl>
                                        <dt>{% trans "Other tickets" %}</dt>
                                        <dd>{{ museum.get_rendered_other_tickets }}</dd>
                                    </dl>
                                {% endif %}
                                {% if museum.member_of_museumspass %}
                                    <dl>
                                        <dt>{% trans "Member of Museumspass Berlin" %}</dt>
                                    </dl>
                                {% endif %}
                            {% endif %}
                        </li>
                        {% if museum.group_bookings_phone_number %}
                        <li class="accordion-inner"> 
                            <dl>
                                <dt>{% trans "Group booking" %}</dt>
                                <dd>+{{ museum.group_bookings_phone_country }} ({{ museum.group_bookings_phone_area }}) {{ museum.group_bookings_phone_number }}</dd>
                            </dl>
                        </li>
                        {% endif %} 
                    </ul>  
                </li>  
                {% endif %} 

                <!-- ======= Services ======= -->

                {% if museum.service_shop or museum.service_books or museum.service_restaurant or museum.service_cafe or museum.service_library or musuem.service_archive or musuem.service_studio or museum.service_online or museum.service_diaper_changing_table or musuem.service_birthdays or museum.service_rent or musuem.service_other %}
                <li class="accordion-group">  
                    <h4 class="accordion-heading">  
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse-services">  
                            {% filter fix_ampersands %}{% trans "Services" %}{% endfilter %} 
                        </a>  
                    </h4>  
                    <ul id="collapse-services" class="accordion-body collapse" style="height: 0px; ">
                        <li class="accordion-inner">
                            <dl>
                                <!-- {% if museum.service_shop %}
                                    <dd>{% trans "Shop" %}</dd>
                                {% endif %}
                                {% if museum.service_restaurant %}
                                    <dd>{% trans "Restaurant" %}</dd>
                                {% endif %}
                                {% if museum.service_cafe %}
                                    <dd>{% trans "Cafe" %}</dd>
                                {% endif %}
                                {% if museum.service_library %}
                                    <dd>{% trans "Library" %}</dd>
                                {% endif %}
                                {% if musuem.service_archive %}
                                    <dd>{% trans "Archive" %}</dd>
                                {% endif %}
                                {% if museum.service_diaper_changing_table %}
                                    <dd>{% trans "Diaper changing table" %}</dd>
                                {% endif %} -->
                                {% for service in museum.get_services %}
                                    {{ service }} {% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </dl>
                        </li>

                        {% if museum.service_phone_number %}
                        <li class="accordion-inner"> 
                            <dl>
                                <dt>{% trans "Service Phone" %}</dt>
                                <dd>+{{ museum.service_phone_country }} ({{ museum.service_phone_area }}) {{ museum.service_phone_number }}</dd>
                            </dl>
                        </li>
                        {% endif %} 
                    </ul>  
                </li>  
                {% endif %}

                <!-- ======= Accessibility ======= -->

                {% if museum.accessibility_options.count %}
                    <li class="accordion-group">  
                        <h4 class="accordion-heading">  
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse-accessibility">  
                                {% filter fix_ampersands %}{% trans "Accessibility" %}{% endfilter %} 
                            </a>  
                        </h4>  
                        <ul id="collapse-accessibility" class="accordion-body collapse" style="height: 0px; ">
                            <li class="accordion-inner">
                                {% for opt in museum.accessibility_options.all %}
                                    <dl>
                                        <dt>{{ opt.title|escape }}</dt>
                                    </dl>
                                    <!-- <img alt="{{ opt.title|escape }}" title="{{ opt.title|escape }}" src="{{ MEDIA_URL }}{{ opt.image }}" /> -->
                                {% endfor %}
                            </li>
                            <li class="accordion-inner"> 
                                <div class="accessibility">
                                    {{ museum.get_rendered_accessibility }}
                                </div>
                            </li>
                        </ul>  
                    </li>  
                {% endif %}  

                <!-- ======= Audioguides ======= -->

                {% if museum.has_audioguide or museum.has_audioguide_for_children or museum.has_audioguide_for_learning_difficulties %}
                    <li class="accordion-group">  
                        <h4 class="accordion-heading">  
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse-mediation-offer">   {% trans "Audioguides" %} 
                            </a>  
                        </h4>  
                        <ul id="collapse-mediation-offer" class="accordion-body collapse" style="height: 0px; ">
                            <li class="accordion-inner">
                                <dl>
                                    {% if museum.has_audioguide %}
                                        <dt>{% trans "In" %}
                                        {% if museum.get_audioguide_languages %}
                                            {% for lang in museum.get_audioguide_languages %}
                                                {{ lang }}{% if not forloop.last %}, {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                        </dt>
                                    {% endif %}
                                </dl>
                                <dl>
                                    {% if museum.has_audioguide_for_children %}
                                        <dt>{% trans "For children and teenager" %}</dt>
                                    {% endif %}
                                </dl>
                                <dl>
                                    {% if museum.has_audioguide_for_learning_difficulties %}
                                        <dt>{% trans "For people with learning difficulties" %}</dt>
                                    {% endif %}
                                </dl>
                            </li>
                        </ul>  
                    </li>  
                {% endif %}  

                {% if museum.get_twitter_username %}
                    <li class="accordion-group">  
                        <h4 class="accordion-heading">  
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse-twitterfeed">{% trans "Twitter" %}</a>  
                        </h4>  
                        <ul id="collapse-twitterfeed" class="accordion-body collapse">
                            <li class="accordion-inner">
                                <ul id="tweets" data-twitter-username="{{ museum.get_twitter_username }}">
                                </ul>
                            </li>
                        </ul>  
                    </li> 
                {% endif %}
            </ul> 

            {% if request.user.is_authenticated %}
                <div class="tools">
                {% adding2favorites for museum using "favorites/includes/favorite_detail.html" %}
                </div>
            {% endif %}
        </section>

<!-- Article ================================================== -->
           
        <article class="with_sidebar">
            <header>
                <h1>{{ museum.title }} </h1>
                {% if museum.subtitle %}
                <h2>{{ museum.subtitle }}</h2>
                {% endif %}
            </header>
            
            {{ museum.get_rendered_description }}

            {% if museum.website %}
                <p>{% trans "More at" %}  <a href="{{ museum.website }}" target="_blank">{{ museum.website|humanize_url:"45" }}</a> </p>
            {% endif %}
            
            {% comment %}
<!--             <ul class="tags">
                {% if museum.categories.count %}
                    {% for cat in museum.categories.all %}
                        <li class="cat"><a href="{% if LANGUAGE_CODE == "de" %}/de/museen/{% else %}/en/museums/{% endif %}#filter=.cat_{{ cat.title|slugify }}">{{ cat.title }}</a></li>
                    {% endfor %}
                {% endif %}

                {% tags_for_object museum as tags %}
                {% if tags %}
                    {% for tag in tags %}
                        <li><a href="{% if LANGUAGE_CODE == "de" %}/de/museen/{% else %}/en/museums/{% endif %}#filter=.tag_{{ tag.slug }}">{{ tag.name }}</a></li>
                    {% endfor %}
                {% endif %}
            </ul>    -->
            {% endcomment %} 
        </article>
    </div>
</div>

{% include "utils/images.html" %}

<!-- ======= Exhibitions ======= -->

{% if object.get_published_exhibitions %}
<div class="content clearfix">
    <div class="inner clearfix">
        <h2>{% trans "Current Exhibitions" %}</h2>
        <ul class="list rows clearfix"> 
            {% for exhibition in object.get_published_exhibitions %}
                <li class="item">
            
                    {% comment %}
                        <a class="img" href="{{ exhibition.get_url_path }}" {% if exhibition.cover_image %} data-background="{{ MEDIA_URL }}{{ exhibition.cover_image|modified_path:"museum_list" }}"{% endif %}> </a>

                        <nav class="actions">
                            {% if request.user.is_authenticated %}
                                {% adding2favorites for exhibition %}
                            {% endif %}
                            <button rel="tooltip" data-placement="top" data-original-title="{% trans "Show location on map" %}" class="location icon icon-white icon-location"></button>
                        </nav>

                        {% with exhibition as list_item %}
                            {% include "utils/geo_position.html" %}
                        {% endwith %}
                    {% endcomment %}

                    <a href="{{ exhibition.get_url_path }}">
                        <h3>{{ exhibition.title }}</h3>
                        <h4>{{ exhibition.subtitle }}</h4>
                        <h5>{{ exhibition.start|date:"d.m.Y" }} {% trans "till" %} {{ exhibition.end|date:"d.m.Y" }}</h5>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %} 

<!-- ======= Guided Tours ======= -->
    
{% if object.get_published_workshops %}
<div class="content clearfix">
    <div class="inner clearfix">
        <h2>{% trans "Current Guided Tours, Workshops and educational offers" %}</h2>
        <ul class="list rows clearfix"> 
            {% for workshop in object.get_published_workshops %}
            <li>
                <a href="{{ workshop.get_url_path }}">
                    <h4>{{ workshop.workshop_type }} {% with workshop.get_closest_workshop_time as workshop_time %}{{ workshop_time.workshop_date|date:"j. F Y" }}{{ workshop_time.start|date:"H:i" }}{% endwith %}</h4>
                    <h3>{{ workshop.title }}</h3>
                    <h4>{{ workshop.subtitle }}</h4>
                    <h5>{{ workshop.museum.title }}</h5>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}

<!-- ======= Events ======= -->
    
{% if object.get_published_events %}
<div class="content clearfix">
    <div class="inner clearfix">
        <h2>{% trans "Current Events" %}</h2>
        <ul class="list rows clearfix"> 
            {% for event in object.get_published_events %}
            <li>
                <a href="{{ event.get_url_path }}">
                    <h4>{% with event.get_closest_event_time as event_time %}{{ event_time.event_date|date:"j. F Y" }}{{ event_time.start|date:"H:i" }}{% endwith %}</h4>
                    <h3>{{ event.title }}</h3>
                    <h4>{{ event.subtitle }}</h4>
                    <h5>{{ event.museum.title }}</h5>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}
                    

<!-- ======= Workshops ======= -->


{% endwith %}

{% include "utils/gallery.html" %}
{% include "utils/page_controls.html" %}
{% include "utils/gmap_scripts.html" %}
{% include "utils/gallery_scripts.html" %}
{% endblock %}
