{% extends "base.html" %}
{% load i18n image_modifications base_tags tagging_tags favorites %}
{% block bodyclass %}museum-list{% endblock %}

{% block js %}
	<script type="text/javascript" src="{{ STATIC_URL }}site/js/StickyScroller.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}site/js/GetSet.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/favorites.js" defer="defer"></script>
    <script type="text/javascript">
        var aGeopositions = [];
        var settings = {
            STATIC_URL: "{{ STATIC_URL }}"
        }
    </script> 
{% endblock %}

{% block content %}
<div id="gmap_wrapper">
	<div id="gmap">&nbsp;</div>
    <nav class="actions top">
        <button id="gmap_toggle" rel="tooltip" data-placement="bottom" data-original-title="Close" class="cancel"></button>
        <button id="gmap_fullscreen" rel="tooltip" data-placement="bottom" data-original-title="Fullscreen" class="fullscreen"></button>
    </nav>
</div>

<div class="content clearfix">
    <div class="inner">
        <h1>{% trans "Museums, Palaces, and Memorials" %}</h1>

        <!-- <ul class="filter clearfix" id="cathegories">
            <li class="title">Filter</li>

            <li class="special {% if not facets.selected.category and not facets.selected.open_on_mondays and not facets.selected.free_entrance %}active{% endif %} filter-all" id="all"><a href="{% append_to_get category="",open_on_mondays="",free_entrance="" %}">Alle Museen</a></li>
            
            {% if facets.selected.open_on_mondays %}
                <li class="open_on_mondays active"><a class="cancel" href="{% append_to_get open_on_mondays="" %}">{{ facets.categories.open_on_mondays }}
                </a></li>
            {% else %}
                <li class="open_on_mondays special"><a href="{% append_to_get open_on_mondays=1 %}">{{ facets.categories.open_on_mondays }}</a></li>
            {% endif %}
            {% if facets.selected.free_entrance %}
                <li class="free_entrance active">
                <a class="cancel" href="{% append_to_get free_entrance="" %}">
                {{ facets.categories.free_entrance }}</a></li>
            {% else %}
                <li class="free_entrance special"><a href="{% append_to_get free_entrance=1 %}">{{ facets.categories.free_entrance }}</a></li>
            {% endif %}
            
            
            {% for cat in facets.categories.categories %}
                {% if cat == facets.selected.category %}
                    <li class="active"><a class="cancel" href="{% append_to_get category="" %}">{{ cat.title }}</a></li>
                {% else %}
                    <li><a href="{% append_to_get category=cat.pk %}">{{ cat.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
     -->
     
        <!-- {% comment %}
        <ul class="filter option-set clearfix" id="alphabetical" data-filter-group="alphabetical">
        {% for item in abc_list %}
          <li><a data-filter-value="{% if item.0 %}.initial_{{ item.0|slugify }}{% endif %}" class="{% if forloop.first %} first_item{% endif %}{% if item.3 %} selected{% endif %}" href="">{{ item.1 }}</a></li>           
        {% endfor %}
        </ul>
        {% endcomment %} -->
        <ul class="filter option-set clearfix" id="categories" data-filter-group="category">
            <li><a data-filter-value="" href="#any-category" class="selected">Alle</a></li>
            {% for cat in facets.categories.categories %}
                <li><a data-filter-value=".cat_{{ cat.title|slugify }}" href="#filter=.cat_{{ cat.title|slugify }}" >{{ cat.title }}</a></li>
            {% endfor %}
        </ul>
        <ul class="filter option-set clearfix" id="tags" data-filter-group="tag">
            <li><a data-filter-value="" href="#any-tag" class="selected">Alle</a></li>
            {% tags_for_model museums.Museum as museum_tags %}
            {% for tag in museum_tags %}
                <li><a data-filter-value=".tag_{{ tag.slug }}" href="#filter=.tag_{{ tag.slug }}">{{ tag.name }}</a></li>
            {% endfor %}
        </ul>

        <ul id="container" class="list tiles clearfix">
            {% for museum in object_list %}
                {% tags_for_object museum as tags %}
                <li class="item initial_{{ museum.title|slugify|slice:"0:1" }}{% for cat in museum.categories.all %} cat_{{ cat.title|slugify }}{% endfor %}{% if tags %}{% for tag in tags %} tag_{{ tag.slug }}{% endfor %}{% endif %}">
                    
                    {% if museum.image %}
                        <a class="img" href="{{ museum.get_url_path }}"  data-background="{{ MEDIA_URL }}{{ museum.image }}">
                            <span class="spinner loading"></span>
                            <span class="overlay"></span>
                        </a>
                    {% endif %}

                    <nav class="actions">
                        {% adding2favorites for museum %}
                        <button href="#" rel="tooltip" data-placement="top" data-original-title="Show location on map" class="marker-link show-location"></button>
                    </nav>
                    
                    <a href="{{ museum.get_url_path }}">
                         <h3>{{ museum.title }}</h3>
                        {% if museum.subtitle %}
                            <h4>{{ museum.subtitle }}</h4>
                        {% endif %}
                    </a>
                    
                    {% if museum.latitude %}
                        <script type="text/javascript">
                        //<![CDATA[
                        (function(undefined) {
                            var iIndex = aGeopositions.length;
                            aGeopositions[iIndex] = {
                                latitude: {{ museum.latitude }},
                                longitude: {{ museum.longitude }},
                                categories: "initial_{{ museum.title|slugify|slice:"0:1" }}{% for cat in museum.categories.all %} cat_{{ cat.title|slugify }}{% endfor %}",
                                content:
                                '{% if museum.image %}<span class="img" style="background-image: url({{ UPLOADS_URL }}{{ museum.image.path }})"></span>{% endif %}'
                                + '<a href="{{ museum.get_url_path }}">{{ museum.title }} <span>{% trans "more" %}…</span></a>'
                            }
                        }());
                        //]]>
                        </script> 
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>  
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;language=de&amp;region=DE"></script>
<script type="text/javascript" src="{{ STATIC_URL }}site/js/styledinfowindow.js"></script>    
<script type="text/javascript" src="{{ STATIC_URL }}site/js/listing_map.js"></script>
<script type="text/javascript">
//<![CDATA[
// (function($, undefined) {
//     $(function() {
//         $('.article').click(function() {
//             var link = $(this).find('a').attr('href');
//             location.href = link;
//         });
//     });
// }(jQuery));
// ]]>
</script>

<script type="text/javascript">
//<![CDATA[
(function($, undefined) {
    $(function() {
        $('#gmap_toggle').click(function() {
            $('body').toggleClass('map_visible');
            setTimeout(function() {
                google.maps.event.trigger(oMap, 'resize');
            }, 650);
        });
        $('#gmap_fullscreen').click(function() {
            $('body').toggleClass('map_fullscreen');
            setTimeout(function() {
                google.maps.event.trigger(oMap, 'resize');
            }, 650);
        });
    });
}(jQuery));
//]]>
</script>
{% endblock %}
