{% extends "base_sidebar.html" %}
{% load i18n base_tags infoblocks %}

{% block title %}{% trans "Access Denied" %}{% endblock %}

{% block headline %}
    <h1>{% trans "Access Denied" %}</h1>
{% endblock %}

{% block details %}
    <p>{% trans "Sorry, you are not allowed to access this page." %}</p>
    <p>
        <input type="button" class="btn" value="{% trans "Back" %}"
            onclick="window.history.go(-1)" />
    </p>
{% endblock %}

{% block breadcrumbs %}
    <li>{% trans "Access Denied" %}</li>
{% endblock %}
