{% extends "base_sidebar.html" %}
{% load i18n base_tags infoblocks %}

{% block title %}{% trans "Page not found" %}{% endblock %}

{% block headline %}
    <h1>{% trans "Ooops! Page Not Found" %}</h1>
{% endblock %}

{% block details %}
    <p>{% trans "Sorry, but the page you are looking for does not exist. Like Berlin, Creative City Berlin is not flawless, so we would appreciate it if you report this error using our suggest form. The second option is to simply click the back button to continue with what you were doing." %}</p>
    <p>
        <input type="button" class="btn" value="{% trans "Back" %}"
            onclick="window.history.go(-1)" />
        <a class="btn btn-primary" href="{% url 'create_ticket' %}">{% trans "Report" %}</a>
    </p>
{% endblock %}

{% block breadcrumbs %}
    <li>{% trans "Page not found" %}</li>
{% endblock %}
