<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<title>Server Error - Creative City Berlin</title>
<meta name="keywords" lang="en" content="event, eventmarketing, agency, Berlin, information, education, links, networking, contacts, creative industries, locations, cultural industries, financial support"/>
<meta name="description" lang="en" content="Creative City Berlin is the central internet portal for the cultural and creative industries in Berlin! Get the information you need and become a part of the network!"/>
<meta name="robots" content="noindex,nofollow"/>
<meta name="language" content="en"/>
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://www.creative-city-berlin.de/static/20160201154249/site/favicons/apple-touch-icon-57x57.png"/>
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://www.creative-city-berlin.de/static/20160201154249/site/favicons/apple-touch-icon-114x114.png"/>
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://www.creative-city-berlin.de/static/20160201154249/site/favicons/apple-touch-icon-72x72.png"/>
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://www.creative-city-berlin.de/static/20160201154249/site/favicons/apple-touch-icon-144x144.png"/>
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="http://www.creative-city-berlin.de/static/20160201154249/site/favicons/apple-touch-icon-60x60.png"/>
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="http://www.creative-city-berlin.de/static/20160201154249/site/favicons/apple-touch-icon-120x120.png"/>
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="http://www.creative-city-berlin.de/static/20160201154249/site/favicons/apple-touch-icon-76x76.png"/>
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="http://www.creative-city-berlin.de/static/20160201154249/site/favicons/apple-touch-icon-152x152.png"/>
<link rel="icon" type="image/png" href="http://www.creative-city-berlin.de/static/20160201154249/site/favicons/favicon-196x196.png" sizes="196x196"/>
<link rel="icon" type="image/png" href="http://www.creative-city-berlin.de/static/20160201154249/site/favicons/favicon-96x96.png" sizes="96x96"/>
<link rel="icon" type="image/png" href="http://www.creative-city-berlin.de/static/20160201154249/site/favicons/favicon-32x32.png" sizes="32x32"/>
<link rel="icon" type="image/png" href="http://www.creative-city-berlin.de/static/20160201154249/site/favicons/favicon-16x16.png" sizes="16x16"/>
<link rel="icon" type="image/png" href="http://www.creative-city-berlin.de/static/20160201154249/site/favicons/favicon-128.png" sizes="128x128"/>
<meta name="application-name" content="Creative City Berlin"/>
<meta name="msapplication-TileColor" content="#000000"/>
<meta name="msapplication-TileImage" content="http://www.creative-city-berlin.de/static/20160201154249/site/favicons/mstile-144x144.png"/>
<meta name="msapplication-square70x70logo" content="http://www.creative-city-berlin.de/static/20160201154249/site/favicons/mstile-70x70.png"/>
<meta name="msapplication-square150x150logo" content="http://www.creative-city-berlin.de/static/20160201154249/site/favicons/mstile-150x150.png"/>
<meta name="msapplication-wide310x150logo" content="http://www.creative-city-berlin.de/static/20160201154249/site/favicons/mstile-310x150.png"/>
<meta name="msapplication-square310x310logo" content="http://www.creative-city-berlin.de/static/20160201154249/site/favicons/mstile-310x310.png"/>
<meta property="og:title" content="Creative City Berlin"/>
<meta property="og:type" content="website"/>
<meta property="og:image" content="http://www.creative-city-berlin.de/static/20160201154249/site/img/default/ccb_opengraph.jpg"/>
<meta property="og:image:type" content="image/jpeg"/>
<meta property="og:image:width" content="600"/>
<meta property="og:image:height" content="600"/>
<meta property="og:url" content="http://www.creative-city-berlin.de/en/"/>
<meta property="og:site_name" content="Creative City Berlin"/>
<meta property="og:description" content="Portal for the cultural sector and the creative industries"/>
<meta property="fb:app_id" content="217188838296370"/>
<link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,300,300italic,900' rel='stylesheet' type='text/css'>
<link href="http://www.creative-city-berlin.de/static/20160201154249/site/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen, print" type="text/css"/>
<link href="http://www.creative-city-berlin.de/static/20160201154249/site/css/style.css" rel="stylesheet" media="screen, print" type="text/css"/>
<style type="text/css">
</style>
<script type="text/javascript">
    var trans = [];
    trans["Upload"] = 'Upload';
    trans["Cancel"] = 'Cancel';
    trans["Choose"] = 'Choose';
    trans["edit"] = 'edit';
    trans["close"] = 'close';
    trans["None of the listed"] = 'None of the listed';
    trans["Add to favorites"] = 'Add to favorites';
    trans["It's your favorite"] = "It's your favorite";
    trans["Remove from favorites"] = 'Remove from favorites';
    trans["Favorite"] = "Favorite";
    trans["Add contact"] = 'Add contact';
    trans["It's your contact"] = "It's your contact";
    trans["Remove contact"] = 'Remove contact';
    trans["Add to Memo"] = 'Add to Memo';
    trans["Remove Memo"] = 'Remove Memo';
</script>
<script type="text/javascript" src="http://www.creative-city-berlin.de/static/20160201154249/site/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="http://www.creative-city-berlin.de/static/20160201154249/site/js/jquery.mobile.custom.min.js"></script>
<script type="text/javascript" src="http://www.creative-city-berlin.de/static/20160201154249/site/js/form.js"></script>
<script type="text/javascript" src="http://www.creative-city-berlin.de/static/20160201154249/site/js/base.js"></script>
<script type="text/javascript" src="http://www.creative-city-berlin.de/static/20160201154249/site/js/generic.js"></script>
<script type="text/javascript" src="http://www.creative-city-berlin.de/en/jssettings/"></script>
<meta name="google-site-verification" content="EQopxfZ1bYn5Cqz9mnB2E2QWg0_EeOlvppfuP2iBejw"/>
<script src="//mint.creative-city-berlin.de/mint/?js" type="text/javascript"></script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-348516-3']);
  _gaq.push(['_gat._anonymizeIp']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</head>
<body class="is-xs ">
<div id="navigation">
	<nav>
	<div class="buttons visible-xs">
		<button class="fawesome fa-search button header-search"><span class="sr-only">search entire website</span></button>
		<div class="input-field select languages">
			<select id="language-navi" required>
				<option value="">--------</option>
				<option value="/de/">DE</option>
				<option value="/en/" selected="selected">EN</option>
			</select>
		</div>
	</div>
	<ul class="accordion">
		<li class="accordion-inside accordion-trigger ">
		<span class="accordion-trigger ">Creative Sectors</span>
		<ul class="accordion">
			<li class="accordion-inside accordion-trigger ">
			<span class="accordion-trigger ">Architecture</span>
			<ul class="accordion">
				<li class=" ">
				<a href="/en/creative-sectors/architecture/overview/">Overview</a>
				</li>
				<li class=" ">
				<a href="/en/creative-sectors/architecture/network/">Profiles</a>
				</li>
				<li class=" ">
				<a href="/en/creative-sectors/architecture/facts-figures/">Facts &amp; Figures</a>
				</li>
				<li class=" ">
				<a href="/en/creative-sectors/architecture/questions-answers/">Questions &amp; Answers</a>
				</li>
				<li class=" ">
				<a href="/en/creative-sectors/architecture/contacts-networks/">Contacts &amp; Networks</a>
				</li>
				<li class=" ">
				<a href="/en/creative-sectors/architecture/tenders-competitions/">Tenders &amp; Competitions</a>
				</li>
			</ul>
			</li>
			<li class="accordion-inside accordion-trigger ">
			<span class="accordion-trigger ">Visual Arts</span>
			<ul class="accordion">
				<li class=" ">
				<a href="/en/creative-sectors/visual-arts/overview/">Overview</a>
				</li>
				<li class=" ">
				<a href="/en/creative-sectors/visual-arts/network/">Profiles</a>
				</li>
				<li class=" ">
				<a href="/en/creative-sectors/visual-arts/facts-figures/">Facts &amp; Figures</a>
				</li>
				<li class=" ">
				<a href="/en/creative-sectors/visual-arts/questions-answers/">Questions &amp; Answers</a>
				</li>
				<li class=" ">
				<a href="/en/creative-sectors/visual-arts/contacts-networks/">Contacts &amp; Networks</a>
				</li>
				<li class=" ">
				<a href="/en/creative-sectors/visual-arts/tenders-competitions/">Tenders &amp; Competitions</a>
				</li>
			</ul>
			</li>
			<li class="accordion-inside accordion-trigger ">
			<span class="accordion-trigger ">Design</span>
			<ul class="accordion">
				<li class=" ">
				<a href="/en/creative-sectors/design/overview/">Overview</a>
				</li>
				<li class=" ">
				<a href="/en/creative-sectors/design/network/">Profiles</a>
				</li>
				<li class=" ">
				<a href="/en/creative-sectors/design/facts-figures/">Facts &amp; Figures</a>
				</li>
				<li class=" ">
				<a href="/en/creative-sectors/design/questions-answers/">Questions &amp; Answers</a>
				</li>
				<li class=" ">
				<a href="/en/creative-sectors/design/contacts-networks/">Contacts &amp; Networks</a>
				</li>
				<li class=" ">
				<a href="/en/creative-sectors/design/ausschreibungen-wettbewerbe/">Ausschreibungen &amp; Wettbewerbe</a>
				</li>
			</ul>
			</li>
			<li class="accordion-inside accordion-trigger ">
			<span class="accordion-trigger ">Event Industry</span>
			<ul class="accordion">
				<li class=" ">
				<a href="/en/creative-sectors/event-industry/overview/">Overview</a>
				</li>
				<li class=" ">
				<a href="/en/creative-sectors/event-industry/network/">Profiles</a>
				</li>
				<li class=" ">
				<a href="/en/creative-sectors/event-industry/facts-figures/">Facts &amp; Figures</a>
				</li>
				<li class=" ">
				<a href="/en/creative-sectors/event-industry/questions-answers/">Questions &amp; Answers</a>
				</li>
				<li class=" ">
				<a href="/en/creative-sectors/event-industry/contacts-networks/">Contacts &amp; Networks</a>
				</li>
				<li class=" ">
				<a href="/en/creative-sectors/event-industry/tenders-competitions/">Tenders &amp; Competitions</a>
				</li>
			</ul>
			</li>
			<li class="accordion-inside accordion-trigger ">
			<span class="accordion-trigger ">Film &amp; Broadcast</span>
			<ul class="accordion">
				<li class=" ">
				<a href="/en/creative-sectors/film-broadcast/overview/">Overview</a>
				</li>
				<li class=" ">
				<a href="/en/creative-sectors/film-broadcast/network/">Profiles</a>
				</li>
				<li class=" ">
				<a href="/en/creative-sectors/film-broadcast/facts-figures/">Facts &amp; Figures</a>
				</li>
				<li class=" ">
				<a href="/en/creative-sectors/film-broadcast/questions-answers/">Questions &amp; Answers</a>
				</li>
				<li class=" ">
				<a href="/en/creative-sectors/film-broadcast/contacts-networks/">Contacts &amp; Networks</a>
				</li>
				<li class=" ">
				<a href="/en/creative-sectors/film-broadcast/tenders-competitions/">Tenders &amp; Competitions</a>
				</li>
			</ul>
			</li>
			<li class="accordion-inside accordion-trigger ">
			<span class="accordion-trigger ">Photography</span>
			<ul class="accordion">
				<li class=" ">
				<a href="/en/creative-sectors/photography/overview/">Overview</a>
				</li>
				<li class=" ">
				<a href="/en/creative-sectors/photography/network/">Profiles</a>
				</li>
				<li class=" ">
				<a href="/en/creative-sectors/photography/facts-figures/">Facts &amp; Figures</a>
				</li>
				<li class=" ">
				<a href="/en/creative-sectors/photography/questions-answers/">Questions &amp; Answers</a>
				</li>
				<li class=" ">
				<a href="/en/creative-sectors/photography/contacts-networks/">Contacts &amp; Networks</a>
				</li>
				<li class=" ">
				<a href="/en/creative-sectors/photography/tenders-competitions/">Tenders &amp; Competitions</a>
				</li>
			</ul>
			</li>
			<li class="accordion-inside accordion-trigger ">
			<span class="accordion-trigger ">Games &amp; Interactive</span>
			<ul class="accordion">
				<li class=" ">
				<a href="/en/creative-sectors/games-interactive/overview/">Overview</a>
				</li>
				<li class=" ">
				<a href="/en/creative-sectors/games-interactive/network/">Profiles</a>
				</li>
				<li class=" ">
				<a href="/en/creative-sectors/games-interactive/facts-figures/">Facts &amp; Figures</a>
				</li>
				<li class=" ">
				<a href="/en/creative-sectors/games-interactive/questions-answers/">Questions &amp; Answers</a>
				</li>
				<li class=" ">
				<a href="/en/creative-sectors/games-interactive/contacts-networks/">Contacts &amp; Networks</a>
				</li>
				<li class=" ">
				<a href="/en/creative-sectors/games-interactive/tenders-competitions/">Tenders &amp; Competitions</a>
				</li>
			</ul>
			</li>
			<li class="accordion-inside accordion-trigger ">
			<span class="accordion-trigger ">Literature &amp; Publishing</span>
			<ul class="accordion">
				<li class=" ">
				<a href="/en/creative-sectors/literature-publishing/overview/">Overview</a>
				</li>
				<li class=" ">
				<a href="/en/creative-sectors/literature-publishing/network/">Profiles</a>
				</li>
				<li class=" ">
				<a href="/en/creative-sectors/literature-publishing/facts-figures/">Facts &amp; Figures</a>
				</li>
				<li class=" ">
				<a href="/en/creative-sectors/literature-publishing/questions-answers/">Questions &amp; Answers</a>
				</li>
				<li class=" ">
				<a href="/en/creative-sectors/literature-publishing/contacts-networks/">Contacts &amp; Networks</a>
				</li>
				<li class=" ">
				<a href="/en/creative-sectors/literature-publishing/tenders-competitions/">Tenders &amp; Competitions</a>
				</li>
			</ul>
			</li>
			<li class="accordion-inside accordion-trigger ">
			<span class="accordion-trigger ">Fashion &amp; Textile</span>
			<ul class="accordion">
				<li class=" ">
				<a href="/en/creative-sectors/fashion-textile/overview/">Overview</a>
				</li>
				<li class=" ">
				<a href="/en/creative-sectors/fashion-textile/network/">Profiles</a>
				</li>
				<li class=" ">
				<a href="/en/creative-sectors/fashion-textile/facts-figures/">Facts &amp; Figures</a>
				</li>
				<li class=" ">
				<a href="/en/creative-sectors/fashion-textile/questions-answers/">Questions &amp; Answers</a>
				</li>
				<li class=" ">
				<a href="/en/creative-sectors/fashion-textile/contacts-networks/">Contacts &amp; Networks</a>
				</li>
				<li class=" ">
				<a href="/en/creative-sectors/fashion-textile/tenders-competitions/">Tenders &amp; Competitions</a>
				</li>
			</ul>
			</li>
			<li class="accordion-inside accordion-trigger ">
			<span class="accordion-trigger ">Music</span>
			<ul class="accordion">
				<li class=" ">
				<a href="/en/creative-sectors/music/overview/">Overview</a>
				</li>
				<li class=" ">
				<a href="/en/creative-sectors/music/network/">Profiles</a>
				</li>
				<li class=" ">
				<a href="/en/creative-sectors/music/facts-figures/">Facts &amp; Figures</a>
				</li>
				<li class=" ">
				<a href="/en/creative-sectors/music/questions-answers/">Questions &amp; Answers</a>
				</li>
				<li class=" ">
				<a href="/en/creative-sectors/music/contacts-networks/">Contacts &amp; Networks</a>
				</li>
				<li class=" ">
				<a href="/en/creative-sectors/music/tenders-competitions/">Tenders &amp; Competitions</a>
				</li>
			</ul>
			</li>
			<li class="accordion-inside accordion-trigger ">
			<span class="accordion-trigger ">Theatre &amp; Dance</span>
			<ul class="accordion">
				<li class=" ">
				<a href="/en/creative-sectors/theatre-dance/overview/">Overview</a>
				</li>
				<li class=" ">
				<a href="/en/creative-sectors/theatre-dance/network/">Profiles</a>
				</li>
				<li class=" ">
				<a href="/en/creative-sectors/theatre-dance/facts-figures/">Facts &amp; Figures</a>
				</li>
				<li class=" ">
				<a href="/en/creative-sectors/theatre-dance/questions-answers/">Questions &amp; Answers</a>
				</li>
				<li class=" ">
				<a href="/en/creative-sectors/theatre-dance/contacts-networks/">Contacts &amp; Networks</a>
				</li>
				<li class=" ">
				<a href="/en/creative-sectors/theatre-dance/tenders-competitions/">Tenders &amp; Competitions</a>
				</li>
			</ul>
			</li>
			<li class="accordion-inside accordion-trigger ">
			<span class="accordion-trigger ">Advertising &amp; PR</span>
			<ul class="accordion">
				<li class=" ">
				<a href="/en/creative-sectors/advertising-pr/overview/">Overview</a>
				</li>
				<li class=" ">
				<a href="/en/creative-sectors/advertising-pr/network/">Profiles</a>
				</li>
				<li class=" ">
				<a href="/en/creative-sectors/advertising-pr/facts-figures/">Facts &amp; Figures</a>
				</li>
				<li class=" ">
				<a href="/en/creative-sectors/advertising-pr/questions-answers/">Questions &amp; Answers</a>
				</li>
				<li class=" ">
				<a href="/en/creative-sectors/advertising-pr/contacts-networks/">Contacts &amp; Networks</a>
				</li>
				<li class=" ">
				<a href="/en/creative-sectors/advertising-pr/tenders-competitions/">Tenders &amp; Competitions</a>
				</li>
			</ul>
			</li>
		</ul>
		</li>
		<li class="accordion-inside accordion-trigger ">
		<span class="accordion-trigger ">Questions &amp; Answers</span>
		<ul class="accordion">
			<li class=" ">
			<a href="/en/questions-answers/questions-on-funding-and-financing/">Questions on Funding &amp; Financing</a>
			</li>
			<li class=" ">
			<a href="/en/questions-answers/contacts-at-the-berlin-senate-department-within-institutions/">Contacts at the Berlin Senate Departments within Institutions</a>
			</li>
			<li class=" ">
			<a href="/en/questions-answers/consulting-coaching/">Consulting &amp; Coaching</a>
			</li>
			<li class=" ">
			<a href="/en/questions-answers/question-on-migration-and-residence/">Question on Migration &amp; Residence</a>
			</li>
			<li class=" ">
			<a href="/en/questions-answers/ask-question/">Ask a Question</a>
			</li>
		</ul>
		</li>
		<li class="accordion-inside accordion-trigger ">
		<span class="accordion-trigger ">Good to know</span>
		<ul class="accordion">
			<li class=" ">
			<a href="/en/good-to-know/about-creative-city-berlin/">About Creative City Berlin</a>
			</li>
			<li class=" ">
			<a href="/en/good-to-know/facts-figures/">Facts &amp; Figures</a>
			</li>
			<li class=" ">
			<a href="/en/good-to-know/apprenticeship-training/">Apprenticeship &amp; Training</a>
			</li>
		</ul>
		</li>
		<li class=" ">
		<a href="/en/network/">Profiles</a>
		</li>
		<li class=" ">
		<a href="/en/portfolios/">Portfolios</a>
		</li>
		<li class=" ">
		<a href="/en/jobs/">Jobs</a>
		</li>
		<li class=" ">
		<a href="/en/marketplace/">Market Place</a>
		</li>
		<li class=" ">
		<a href="/en/events/">Events</a>
		</li>
		<li class="accordion-inside accordion-trigger ">
		<span class="accordion-trigger ">News</span>
		<ul class="accordion">
			<li>
			<a href="/en/news/category/industry-news-and-market-trends/">Industry news &amp; Market trends</a>
			</li>
			<li>
			<a href="/en/news/category/tenders-competitions/">Tenders &amp; Competitions</a>
			</li>
			<li>
			<a href="/en/news/category/studies-and-publications/">Studies &amp; Publications</a>
			</li>
			<li>
			<a href="/en/news/category/surveys/">Surveys</a>
			</li>
		</ul>
		</li>
		<li class="accordion-inside accordion-trigger ">
		<span class="accordion-trigger ">CCB Magazine</span>
		<ul class="accordion">
			<li>
			<a href="/en/ccb-magazine/category/player-of-the-week/">Player of the week</a>
			</li>
			<li>
			<a href="/en/ccb-magazine/category/when-i-moved-to-berlin/">When I moved to Berlin</a>
			</li>
			<li>
			<a href="/en/ccb-magazine/category/innovation-and-vision/">Innovation &amp; Vision</a>
			</li>
			<li>
			<a href="/en/ccb-magazine/category/at-home-with/">At home with...</a>
			</li>
			<li>
			<a href="/en/ccb-magazine/category/knowlege-and-analysis/">Knowlege &amp; Analysis</a>
			</li>
			<li>
			<a href="/en/ccb-magazine/category/specials/">Specials</a>
			</li>
			<li>
			<a href="/en/ccb-magazine/category/articles-from-our-network-partners/">Articles from our network partners</a>
			</li>
		</ul>
		</li>
	</ul>
	</nav>
</div>
<div id="body">
	<div id="header">
		<div class="wrapper">
			<a href="/en/"><img class="logo" src="http://www.creative-city-berlin.de/static/20160201154249/site/img/default/ccb_logo_beta.gif" alt="Creative City Berlin"/></a>
			<button class="fawesome fa-menu button navigation"><span class="sr-only">toggle menu</span></button>
			<button class="fawesome fa-search button header-search"><span class="sr-only">search entire website</span></button>
			<a href="/en/login/" class="fawesome fa-man button"><span class="sr-only">login</span></a>
			<div class="input-field select languages">
				<select id="language-header" required>
					<option value="">--------</option>
					<option value="/de/">DE</option>
					<option value="/en/" selected="selected">EN</option>
				</select>
			</div>
		</div>
	</div>
	<div class="content-wrapper">
		<div class="header">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<h1>Ooops! Server Error</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-4 col-md-3">
				</div>
				<div class="col-xs-12 col-sm-8 col-md-9">
					<p>
						Sorry, but we experienced a server error. Like Berlin, Creative City Berlin is not flawless, so we would appreciate it if you report this error using our suggest form. The second option is to simply click the back button to continue with what you were doing.
					</p>
					<p>
						<input type="button" class="btn" value="Back" onclick="window.history.go(-1)"/>
						<a class="btn btn-primary" href="/en/ticket/">Report</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="breadcrumbs" class="hidden-xs">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<ul>
					<li><a href="/en/" class="fawesome fa-home"><span class="sr-only">Home</span></a></li>
					<li>Server Error</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div id="footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<h3>Follow Us</h3>
				<div class="button-group">
					<a href="http://www.twitter.com/CREATIVEBERLIN" class="fawesome fa-twitter button small round" target="_blank"><span class="sr-only">Follow us on Twitter</span></a>
					<a href="https://www.facebook.com/creativeberlin/" class="fawesome fa-facebook button small round" target="_blank"><span class="sr-only">Follow us on Facebook</span></a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<h3>Bookmark / Share</h3>
				<div class="button-group">
					<a href="https://twitter.com/home?status=Creative%20City%20Berlin%20ist%20das%20Portal%20f%C3%BCr%20alle%20Angeh%C3%B6rigen%20der%20Kultur-%20und%20Kreativwirtschaft%20in%20Berlin.%20http%3A//www.creative-city-berlin.de" class="fawesome fa-twitter button small round" target="_blank"><span class="sr-only">Share on Twitter</span></a>
					<a href="https://www.facebook.com/sharer/sharer.php?u=http://www.creative-city-berlin.de" class="fawesome fa-facebook button small round" target="_blank"><span class="sr-only">Share on Facebook</span></a>
					<a href="WhatsApp://send?text=Creative%20City%20Berlin%20ist%20das%20zentrale%20Internetportal%20f%C3%BCr%20alle%20Angeh%C3%B6rigen%20der%20Kultur-%20und%20Kreativwirtschaft%20in%20Berlin.%20Informieren%20sie%20sich%20und%20werden%20Sie%20Teil%20des%20Netzwerks.%20http%3A//www.creative-city-berlin.de" class="fawesome fa-whatsapp button small round" style="display:none;"><span class="sr-only">Share on Facebook</span></a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<h3>Links</h3>
				<div class="row">
					<div class="col-xs-6">
						<a class="textlink " href="/en/ticket/">Feedback</a>
						<a class="textlink " href="/en/meta/imprint/">Imprint</a>
						<a class="textlink " href="/en/meta/privacy/">Privacy</a>
						<a class="textlink " href="/en/meta/download-our-logo/">Download our logo</a>
					</div>
					<div class="col-xs-6">
						<a class="textlink " href="/en/contact/">Contact</a>
						<a class="textlink " href="/en/meta/help/">Help</a>
						<a class="textlink " href="/en/meta/terms-use/">Terms of use</a>
						<a class="textlink " href="/en/meta/partners/">Partners</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
				<h3>Presented by</h3>
				<a href="http://www.kulturprojekte-berlin.de/" target="_blank">
				<img src="http://www.creative-city-berlin.de/static/20160201154249/site/img/footer/kpb_logo.gif" srcset="http://www.creative-city-berlin.de/static/20160201154249/site/img/footer/kpb_logo.gif 1x, http://www.creative-city-berlin.de/static/20160201154249/site/img/footer/kpb_logo@2x.gif 2x" alt="Kulturprojekte Berlin" class="footer-logo"/>
				</a>
			</div>
			<div class="col-xs-12 col-sm-7 col-md-8 col-lg-9">
				<h3>Sponsored by</h3>
				<a href="http://www.berlin.de/sen/wirtschaft/gruenden-und-foerdern/europaeische-strukturfonds/" target="_blank">
				<img src="http://www.creative-city-berlin.de/static/20160201154249/site/img/footer/efre_logo.gif" srcset="http://www.creative-city-berlin.de/static/20160201154249/site/img/footer/efre_logo.gif 1x, http://www.creative-city-berlin.de/static/20160201154249/site/img/footer/efre_logo@2x.gif 2x" alt="EFRE" class="footer-logo"/>
				</a>
				<a href="http://www.berlin.de/projektzukunft/" target="_blank">
				<img src="http://www.creative-city-berlin.de/static/20160201154249/site/img/footer/projektzukunft.gif" srcset="http://www.creative-city-berlin.de/static/20160201154249/site/img/footer/projektzukunft.gif 1x, http://www.creative-city-berlin.de/static/20160201154249/site/img/footer/projektzukunft@2x.gif 2x" alt="Projektzukunft" class="footer-logo"/>
				</a>
				<a href="http://www.berlin.de/rbmskzl/kultur/" target="_blank">
				<img src="http://www.creative-city-berlin.de/static/20160201154249/site/img/footer/beberlin_logo.gif" srcset="http://www.creative-city-berlin.de/static/20160201154249/site/img/footer/beberlin_logo.gif 1x, http://www.creative-city-berlin.de/static/20160201154249/site/img/footer/beberlin_logo@2x.gif 2x" alt="Be Berlin" class="footer-logo"/>
				</a>
			</div>
		</div>
	</div>
</div>
<div id="search-layer" class="layer">
	<div class="wrapper">
		<form action="/search/" method="get">
			<input id="search_form_input" placeholder="Enter your search term ..." name="q"/>
		</form>
		<div class="button-group">
			<div class="fawesome fa-search button">
				<span class="sr-only">search</span>
			</div>
			<div class="fawesome fa-close button">
				<span class="sr-only">close</span>
			</div>
		</div>
	</div>
</div>
<div id="image-layer" class="layer">
	<div class="wrapper">
		<div class="image">
		</div>
		<h5 class="caption"></h5>
	</div>
	<div class="navi">
	</div>
	<div class="fawesome fa-close button">
		<span class="sr-only">close</span>
	</div>
</div>
<span class="width-sniffer visible-xs"></span><span class="width-sniffer visible-sm"></span><span class="width-sniffer visible-md"></span><span class="width-sniffer visible-lg"></span>
<div id="fb-root">
</div>
<script type="text/javascript" src="http://connect.facebook.net/en_US/all.js"></script>
</body>
</html>