<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Creative City Berlin - Internal Server Error</title>
        <link rel="stylesheet" type="text/css" href="/static/0/site/css/default/ie_hack.css"/>
        <link rel="stylesheet" type="text/css" href="/static/0/site/css/ccb/base.css"/>
    </head>

    <body>


        <div id="main_nav">
        </div>
        <div id="bg">
            <div class="container">
                <div>
                    <h1>
                        <a href="/" id="logo">
                            <img src="/static/0/site/img/website/c_logo.png" alt="Creative City Berlin"/>
                        </a>
                    </h1>
                </div>
                <div id="sidebar">
                </div>
                <div id="content">
                    <div>
                        <h2 class="main">Ooops! Internal Server Error</h2>
                    </div>
                    <hr/>
                    <div>
                        <p>
                            Sorry, we experienced a server error. Like Berlin, Creative City Berlin is not flawless, so
                            we would
                            appreciate it if you report this error using our suggest form. The second option is to
                            simply click
                            the back button to continue with what you were doing.
                        </p>
                    </div>
                </div>
                <div class="cleaner"></div>
            </div>
            <!-- end of wrapper -->
        </div>
        <!-- end of bg -->
        <div id="footer">
        </div>
    </body>
</html>
