{% extends "base.html" %}
{% load base_tags babel i18n image_mods_tags %}

{% block content %}
    <form action="" method="post">{% csrf_token %}
        {% if form_preview %}
            <div>
                <h3>
                    Preview
                </h3>
                {% for field in form %}
                    <p>

                        {{ field.label }}:
                        {{ field.data }}
                    </p>
                {% endfor %}
                <div>
                    <input type="submit" class="button_good" id="post" name="{{ post_stage_field }}"
                        value='{% filter upper %}{% trans "Save" %}{% endfilter %}'/>
                </div>
            </div>
        {% endif %}
        <div class="field_layout">
            <fieldset class="fieldset_end">
                <legend>
                    {% trans "Enter your data" %}
                </legend>
                <ul>
                    {% if hash_failed %}
                        <li>
                            <p class="error">{{ hash_failed_message }}</p>
                        </li>
                    {% endif %}
                    {% for field in form %}
                        <li>
                            {{ field.label_tag }}
                            {{ field }}
                            {{ field.help_text_tag }}
                            {{ field.error_tag }}
                        </li>
                    {% endfor %}
                </ul>
            </fieldset>
            <div class="buttons">
                <input id="id_cancel" type="submit" class="button_bad" name="{{ cancel_stage_field }}"
                    value="{% filter upper %}{% trans 'Cancel' %}{% endfilter %}"/>
                <input id="id_preview" class="button_good" type="submit" name="{{ preview_stage_field }}"
                    value="{% filter upper %}{% trans 'Preview' %}{% endfilter %}"/>
                {% comment %}this one is used for security reasons -->{% endcomment %}
                <input type="hidden" name="{{ hash_field }}" value="{{ hash_value }}"/>
            </div>
        </div>
    </form>
{% endblock %}




