{% extends "base.html" %}
{% load i18n image_modifications base_tags tagging_tags favorites auth_extended %}
{% block title %}{% trans "Events" %} – {% endblock %}
{% block bodyclass %}event-list{% endblock %}

{% block js %}
	<script type="text/javascript" src="{{ STATIC_URL }}site/js/StickyScroller.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}site/js/GetSet.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/favorites.js" defer="defer"></script>
	<script type="text/javascript">
        var aGeopositions = [];
        var settings = {
            STATIC_URL: "{{ STATIC_URL }}"
        }
    </script>
{% endblock %}

{% block content %}
{% include "utils/gmap.html" %}

<div class="content clearfix">
    <div class="inner">
        <h1>{% trans "Events in the Museums of Berlin" %}</h1>
        
        {% comment %}
        <ul class="filter option-set clearfix" id="alphabetical" data-filter-group="alphabetical">
            {% for item in abc_list %}
              <li><a data-filter-value=".initial_{{ item.0|slugify }}" class="{% if forloop.first %} first_item{% endif %}{% if item.3 %} selected{% endif %}" href="">{{ item.1 }}</a></li>           
            {% endfor %}
        </ul>
        {% endcomment %}
        
        <ul class="filter option-set clearfix" id="categories" data-filter-group="categories">
            <li><a data-filter-value="" href="#any-category" class="selected">Alle</a></li>
        
            {% for status_code, status_verbose in facets.categories.statuses %}
              {% if status_code == facets.selected.status %}
                  <li><a data-filter-value=".{{ status_verbose|slugify }}" href="#">{{ status_verbose }}</a></li>
              {% else %}
                  <li ><a data-filter-value=".{{ status_verbose|slugify }}" href="#">{{ status_verbose }}</a></li>
              {% endif %}
          {% endfor %}
        
            {% for cat in facets.categories.categories %}
            <li><a data-filter-value=".cat_{{ cat.title|slugify }}" href="#filter=.cat_{{ cat.title|slugify }}" >{{ cat.title }}</a></li>
            {% endfor %}
        </ul>

        <ul class="filter option-set clearfix" id="tags" data-filter-group="tag">
            <li><a data-filter-value="" href="#any-tag" class="selected">Alle</a></li>
            {% tags_for_model events.Event as event_tags %}
            {% for tag in event_tags %}
                <li><a data-filter-value=".tag_{{ tag.slug }}" href="#filter=.tag_{{ tag.slug }}">{{ tag.name }}</a></li>
            {% endfor %}
        </ul>
        
        <ul id="container" class="list tiles clearfix">
            {% for event in object_list %}
                {% tags_for_object event as tags %}
                <li class="item initial_{{ event.title|slugify|slice:"0:1" }} {% if event.closing_soon %} closing_soon{% endif %}{% if event.newly_opened %} newly_opened{% endif %}{% for cat in event.categories.all %} cat_{{ cat.title|slugify }}{% endfor %}{% if tags %}{% for tag in tags %} tag_{{ tag.slug }}{% endfor %}{% endif %}">
                    <a class="img" href="{{ event.get_url_path }}"  
                    {% if event.cover_image %}data-background="{{ MEDIA_URL }}{{ event.cover_image|modified_path:"event_list" }}"{% else %}
                    {% if event.museum.cover_image %}data-background="{{ MEDIA_URL }}{{ event.museum.cover_image|modified_path:"event_list" }}"{% endif %}{% endif %}>
                        <span class="spinner loading"></span>
                        
                    </a>

                    <nav class="actions">
                        {% if request.user.is_authenticated %}
                            {% adding2favorites for event %}
                        {% endif %}
                        {% if_has_perm "events.change_event" event %}
                            {% if event.cover_image %}
                                <button rel="tooltip" data-placement="top" data-original-title="{% trans "Crop image" %}" class="icon icon-crop" onclick="location.href='{% cropping_url event.cover_image "event_list" request request.path %}';"></button>
                            {% else %}{% if event.museum.cover_image %}
                                <button rel="tooltip" data-placement="top" data-original-title="{% trans "Crop image" %}" class="icon icon-crop" onclick="location.href='{% cropping_url event.museum.cover_image "event_list" request request.path %}';"></button>
                            {% endif %}{% endif %}
                        {% end_if_has_perm %}
                        <button href="#" rel="tooltip" data-placement="top" data-original-title="{% trans "Show location on map" %}" class="location icon icon-location"></button>
                    </nav>
        
                    <a href="{{ event.get_url_path }}">
                        <h3>{{ event.title }}</h3>
                        <h4>{{ event.museum.title }}</h4>
                        {% with event.eventtime_set.all.0 as event_time %}
                            <h5>{{ event_time.event_date|date:"j. F Y" }} {{ event_time.start|date:"H:i" }}</h5>
                        {% endwith %}
                    </a>
        
                    {% with event as list_item %}
                        {% include "utils/geo_position.html" %}
                    {% endwith %}
                    
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;language=de&amp;region=DE"></script>
<script type="text/javascript" src="{{ STATIC_URL }}site/js/styledinfowindow.js"></script>    
<script type="text/javascript" src="{{ STATIC_URL }}site/js/listing_map.js"></script>
<script type="text/javascript">
//<![CDATA[
(function($, undefined) {
    $(function() {
        $('#gmap_toggle').click(function() {
            $('body').toggleClass('map_visible');
            setTimeout(function() {
                google.maps.event.trigger(oMap, 'resize');
            }, 650);
        });
        $('#gmap_fullscreen').click(function() {
            $('body').toggleClass('map_fullscreen');
            setTimeout(function() {
                google.maps.event.trigger(oMap, 'resize');
            }, 650);
        });
    });
}(jQuery));
//]]>
</script>
{% endblock %}
