
{% extends "base.html" %}
{% load i18n image_modifications base_tags tagging_tags favorites auth_extended infoblocks %}
{% block title %}{% trans "Events" %} – {% endblock %}
{% block bodyclass %}event-list{% endblock %}

{% block js %}
	<script type="text/javascript" src="{{ STATIC_URL }}site/js/GetSet.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/favorites.js" defer="defer"></script>
	<script type="text/javascript">
        var aGeopositions = [];
        var settings = {
            STATIC_URL: "{{ STATIC_URL }}"
        }
    </script>
{% endblock %}

{% block map %}
    {% include "utils/gmap.html" %}
{% endblock %}

{% block content %}
<div id="notices" class="content clearfix"><div class="inner clearfix"><h3>Tipps der Redaktion</h3><ul id="event_notices" class="clearfix"><li>{% infoblock "event_notice_1" %}</li><li>{% infoblock "event_notice_2" %}</li><li>{% infoblock "event_notice_3" %}</li><li>{% infoblock "event_notice_4" %}</li></ul></div></div>

<div class="content clearfix sticky">
    <nav id="map_controls">
        {% if request.user.is_authenticated %}
            <a class="btn icon icon-white icon-favorite active" rel="tooltip" data-placement="bottom" data-original-title="{% trans "Favorites" %}" href="/{{ LANGUAGE_CODE }}/my-profile/favorites/">{% trans "Favorites" %}</a>
        {% endif %}
        <button id="gmap_toggle" class="btn icon icon-white icon-location" rel="tooltip" data-placement="bottom" data-original-title="{% trans "Show map" %}"></button>
        <a class="btn icon icon-white icon-rss" rel="tooltip" data-placement="bottom" data-original-title="{% trans "RSS Feed" %}" href="rss">{% trans "RSS Feed" %}</a>
    </nav>

    <div class="inner">
        <h1>{% trans "Events in the Museums of Berlin" %}</h1>
        <div id="filters">
            <div class="btn-group" id="filter-toggle" data-toggle="buttons-radio">
                <button type="button" class="btn btn-primary" data-toggle="collapse" data-parent="#filter-options" data-target="#filter-categories">{% trans "Categories" %}</button>
                <button type="button" class="btn btn-primary" data-toggle="collapse" data-parent="#filter-options" data-target="#filter-alphabetic">{% trans "Alphabet" %}</button>
                <button type="button" class="btn btn-primary" data-toggle="collapse" data-parent="#filter-options" data-target="#filter-smartlists">{% trans "Smart lists" %}</button>
                <button type="button" class="btn btn-primary" data-toggle="collapse" data-parent="#filter-options" data-target="#filter-calendar">{% trans "Calendar" %}</button>
            </div>

            <button id="filter_reset" type="button" class="btn btn-primary icon icon-black icon-delete" rel="tooltip" data-placement="top" data-original-title="{% trans "Reset all filters" %}">{% trans "Reset all filters" %}</button>

            <div class="accordion" id="filter-options">
                <div class="accordion-group">
                    <div id="filter-categories" class="accordion-body collapse" style="height: 0px;">
                        <div class="accordion-inner">
                            <ul class="filter option-set clearfix" id="categories" data-filter-group="categories" data-single-selection="1">
                                {% for cat in facets.categories.categories %}
                                    <li><a data-filter-value=".cat_{{ cat.title|slugify }}" href="#filter=.cat_{{ cat.title|slugify }}" >{{ cat.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div id="filter-alphabetic" class="accordion-body collapse" style="height: 0px;">
                        <div class="accordion-inner">
                            <ul class="filter option-set clearfix" id="alphabetical" data-filter-group="alphabetical" data-single-selection="1">
                                {% for item in abc_list %}
                                    {% if not forloop.first %}
                                        <li><a data-filter-value="{% if item.0 %}.initial_{{ item.0|slugify }}{% endif %}" class="{% if forloop.first %} first_item{% endif %}{% if item.3 %} selected{% endif %}" href="">{{ item.1 }}</a></li>           
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div id="filter-smartlists" class="accordion-body collapse" style="height: 0px;">
                        <div class="accordion-inner">
                            <ul class="filter option-set clearfix" id="smartlists" data-filter-group="smartlists">
                                <li><a href="" data-filter-value=".is_for_children">{% trans "Also suitable for children" %}</a></li>
                                <li><a href="" data-filter-value=".is_free_admission">{% trans "Free admission" %}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div id="filter-calendar" class="accordion-body collapse" style="height: 0px;">
                        <div class="accordion-inner">
                            <ul class="filter option-set clearfix" id="smartlists" data-filter-group="smartlists" data-single-selection="1">
                                <li><a href="" data-filter-value=".is_today">{% trans "Today" %}</a></li>
                                <li><a href="" data-filter-value=".is_tomorrow">{% trans "Tomorrow" %}</a></li>
                                <li><a href="" data-filter-value=".is_within_7_days">{% trans "7 Days" %}</a></li>
                                <li><a href="" data-filter-value=".is_within_30_days">{% trans "30 Days" %}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
         
            <ul id="filter_summary"></ul>
        </div>
        <ul id="container" class="list rows clearfix">
            {% for event in object_list %}
                {% tags_for_object event as tags %}
                <li class="item initial_{{ event.title|slugify|slice:"0:1" }}{% for cat in event.categories.all %} cat_{{ cat.title|slugify }}{% endfor %}{% if tags %}{% for tag in tags %} tag_{{ tag.slug }}{% endfor %}{% endif %}{% if event.suitable_for_children %} is_for_children{% endif %}{% if event.free_admission %} is_free_admission{% endif %}{% if event.is_today %} is_today{% endif %}{% if event.is_tomorrow %} is_tomorrow{% endif %}{% if event.is_within_7_days %} is_within_7_days{% endif %}{% if event.is_within_30_days %} is_within_30_days{% endif %}">
                    <nav class="actions">
                        {% if request.user.is_authenticated %}
                            {% adding2favorites for event %}
                        {% endif %}
                        {% if_has_perm "events.change_event" event %}
                            {% if event.cover_image %}
                                <button rel="tooltip" data-placement="top" data-original-title="{% trans "Crop image" %}" class="icon icon-white icon-crop" onclick="location.href='{% cropping_url event.cover_image "event_list" request request.path %}';"></button>
                            {% else %}{% if event.museum.cover_image %}
                                <button rel="tooltip" data-placement="top" data-original-title="{% trans "Crop image" %}" class="icon icon-white icon-crop" onclick="location.href='{% cropping_url event.museum.cover_image "event_list" request request.path %}';"></button>
                            {% endif %}{% endif %}
                        {% end_if_has_perm %}
                        <button href="#" rel="tooltip" data-placement="top" data-original-title="{% trans "Show location on map" %}" class="location icon icon-white icon-location"></button>
                    </nav>
        
                    <a href="{{ event.get_url_path }}">
                        <h4>
                            {% for cat in event.categories.all %}{{ cat.title }}{% if not forloop.last %}, {% else %}: {% endif %}{% endfor %}
                            {% with event.get_closest_event_time as event_time %}{{ event_time.event_date|date:"j. F Y" }} {{ event_time.start|time:"H:i" }}{% endwith %}
                        </h4>
                        <h3>{{ event.title }}</h3>
                        <h4>{{ event.subtitle }}</h4>
                        {% if event.location_name %}
                            <h5>{{ event.location_name }}</h5>
                        {% else %}
                            <h5>{{ event.museum.title }}</h5>
                        {% endif %}
                    </a>
        
                    {% with event as list_item %}
                        {% include "utils/geo_position.html" %}
                    {% endwith %}
                    
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% include "utils/gmap_scripts.html" %}
<script type="text/javascript" src="{{ STATIC_URL }}site/js/sticky.js"></script>

{% endblock %}
