{% extends "base_map.html" %}
{% load i18n image_modifications base_tags tagging_tags favorites auth_extended infoblocks %}
{% block title %}{% trans "Events" %} – {% endblock %}
{% block bodyclass %}event-list{% endblock %}

{% block js %}
  <script type="text/javascript" src="{{ STATIC_URL }}site/js/GetSet.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}site/js/list.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}site/js/favorites.js" defer="defer"></script>
  <script type="text/javascript">
    var str_filter_selection = "{% trans "Filter selection" %}";
  </script>
{% endblock %}

{% block filters %}
  {% include "utils/filter_events.html" %}
{% endblock %}

{% block list-title %}
  {% trans "Events in the Museums of Berlin" %}
{% endblock %}

{% block map-list %}
  <div id="container">
    {% for event in object_list %}
      {% tags_for_object event as tags %}
      <div class="item" data-filter-categories="initial_{{ event.title|slugify|slice:"0:1" }}{% for cat in event.categories.all %} cat_{{ cat.title|slugify }}{% endfor %}{% if tags %}{% for tag in tags %} tag_{{ tag.slug }}{% endfor %}{% endif %}{% if event.suitable_for_children %} is_for_children{% endif %}{% if event.free_admission %} is_free_admission{% endif %}{% if event.is_today %} is_today{% endif %}{% if event.is_tomorrow %} is_tomorrow{% endif %}{% if event.is_within_7_days %} is_within_7_days{% endif %}{% if event.is_within_30_days %} is_within_30_days{% endif %}" data-geo="{% if event.latitude %}{{ event.latitude|stringformat:"f" }}{% else %}{{ event.museum.latitude|stringformat:"f" }}{% endif %},{% if event.longitude %}{{ event.longitude|stringformat:"f" }}{% else %}{{ event.museum.longitude|stringformat:"f" }}{% endif %}" data-object_id="{{ event.pk }}">
        <a href="{{ event.get_url_path }}">
          <h4>
            {% for cat in event.categories.all %}{{ cat.title }}{% if not forloop.last %}, {% else %}: {% endif %}{% endfor %}
            {% with event.get_closest_event_time as event_time %}{{ event_time.event_date|date:"j. F Y" }} {{ event_time.start|time:"H:i" }}{% if LANGUAGE_CODE == "de" %} Uhr{% endif %}{% endwith %}
          </h4>
          <h3>{{ event.title }}</h3>
          <h4>{{ event.subtitle }}</h4>
          {% if event.location_name %}
          <h5>{{ event.location_name }}</h5>
          {% else %}
          <h5>{{ event.museum.title }}</h5>
          {% endif %}
        </a>
      </div>
    {% endfor %}
  </div>

  <script>
    var aGeopositions = [];
    {% for event in object_list %}
      {% if event.latitude or event.museum.latitude %}
        {% tags_for_object event as tags %}
        aGeopositions.push({
            object_id: '{{ event.pk }}',
            html_src: '{{ event.get_url_path }}ajax/map/',
            latitude: {% if event.latitude %}{{ event.latitude|stringformat:"f" }}{% else %}{{ event.museum.latitude|stringformat:"f" }}{% endif %},
            longitude: {% if event.longitude %}{{ event.longitude|stringformat:"f" }}{% else %}{{ event.museum.longitude|stringformat:"f" }}{% endif %},
            geo: "{% if event.latitude %}{{ event.latitude|stringformat:"f" }}{% else %}{{ event.museum.latitude|stringformat:"f" }}{% endif %},{% if event.longitude %}{{ event.longitude|stringformat:"f" }}{% else %}{{ event.museum.longitude|stringformat:"f" }}{% endif %}",
            categories: 'initial_{{ event.title|slugify|slice:"0:1" }}{% for cat in event.categories.all %} cat_{{ cat.title|slugify }}{% endfor %}{% if tags %}{% for tag in tags %} tag_{{ tag.slug }}{% endfor %}{% endif %}{% if event.suitable_for_children %} is_for_children{% endif %}{% if event.free_admission %} is_free_admission{% endif %}{% if event.is_today %} is_today{% endif %}{% if event.is_tomorrow %} is_tomorrow{% endif %}{% if event.is_within_7_days %} is_within_7_days{% endif %}{% if event.is_within_30_days %} is_within_30_days{% endif %}'
        });
      {% endif %}
    {% endfor %}
  </script>
  {% include "utils/gmap_scripts.html" %}
{% endblock %}
