{% load i18n image_modifications base_tags tagging_tags favorites auth_extended infoblocks %}

{% with object as event %}
  <div>
    <div class="actions">
      {% if request.user.is_authenticated %}
        {% adding2favorites for event %}
      {% endif %}
      {% if_has_perm "events.change_event" event %}
        {% if event.cover_image %}
          <button data-toggle="tooltip" data-placement="top" data-original-title="{% trans "Crop image" %}" class="btn btn-default btn-round" onclick="location.href='{% cropping_url event.cover_image "event_list" request request.path %}';">
            <span class="icon icon-tool-crop"></span>
            <span class="sr-only">{% trans "Crop Image" %}</span>
          </button>
        {% else %}{% if event.museum.cover_image %}
          <button data-toggle="tooltip" data-placement="top" data-original-title="{% trans "Crop image" %}" class="btn btn-default btn-round" onclick="location.href='{% cropping_url event.museum.cover_image "event_list" request request.path %}';">
            <span class="icon icon-tool-crop"></span>
            <span class="sr-only">{% trans "Crop Image" %}</span>
          </button>
        {% endif %}
      {% endif %}
      {% end_if_has_perm %}
    </div>

    <a href="{{ event.get_url_path }}">
      <h4>
        {% for cat in event.categories.all %}{{ cat.title }}{% if not forloop.last %}, {% else %}: {% endif %}{% endfor %}
        {% with event.get_closest_event_time as event_time %}{{ event_time.event_date|date:"j. F Y" }} {{ event_time.start|time:"H:i" }}{% if LANGUAGE_CODE == "de" %} Uhr{% endif %}{% endwith %}
      </h4>
      <h3>{{ event.title }}</h3>
      <h4>{{ event.subtitle }}</h4>
      {% if event.location_name %}
      <h5>{{ event.location_name }}</h5>
      {% else %}
      <h5>{{ event.museum.title }}</h5>
      {% endif %}
    </a>

  </div>
{% endwith %}
