{% extends "base.html" %}
{% load url from future %}
{% load i18n image_modifications base_tags tagging_tags favorites auth_extended infoblocks %}
{% block title %}{% trans "Events" %} – {% endblock %}
{% block bodyclass %}event-list{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ STATIC_URL }}site/js/GetSet.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}site/js/list.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}site/js/favorites.js" defer="defer"></script>
<script type="text/javascript">
var aGeopositions = [];
var str_filter_selection = "{% trans "Filter selection" %}";
</script>
{% endblock %}

{% block content %}
  <div class="content">
    <div class="container">
      <nav id="controls" class="pull-right">
        {% if request.user.is_authenticated %}
          <a class="btn btn-default btn-round" data-toggle="tooltip" data-placement="bottom" data-original-title="{% trans "Favorites" %}" href="/{{ LANGUAGE_CODE }}/my-profile/favorites/">
            <span class="sr-only">{% trans "Favorites" %}</span>
            <span class="icon icon-star"></span>
          </a>
        {% endif %}
        <a id="map-list-link" class="btn btn-default btn-round" data-toggle="tooltip" data-placement="bottom" data-original-title="{% trans "Show map" %}" href="{% url "event_list_map" %}">
          <span class="icon icon-location"></span>
          <span class="sr-only">{% trans "Show location on map" %}</span>
        </a>
        <a class="btn btn-default btn-round" data-toggle="tooltip" data-placement="bottom" data-original-title="{% trans "RSS Feed" %}" href="rss">
          <span class="icon icon-signal"></span>
          <span class="sr-only">{% trans "RSS Feed" %}</span>
        </a>
      </nav>

      <h1 class="sr-only">{% trans "Events in the Museums of Berlin" %}</h1>
      
      {% include "utils/filter_events.html" %}

      <div id="notices">
        <h6 class="block-label">{% trans "Editors Recommendations" %}</h6>
        <div class="row row-sm">
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">{% infoblock "event_notice_1" %}</div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">{% infoblock "event_notice_2" %}</div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">{% infoblock "event_notice_3" %}</div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">{% infoblock "event_notice_4" %}</div>
        </div>
      </div>

      <div id="container" class="row row-md list isotope">
        {% load advertising_tags %}
        <div class="item col-xs-12 col-sm-12 col-md-12 col-lg-12">
          {% random_zone_ad 'events' %}
        </div>
        {% for event in object_list %}
        {% tags_for_object event as tags %}
        <div class="item col-xs-12 col-sm-12 col-md-12 col-lg-12" data-filter-categories="initial_{{ event.title|slugify|slice:"0:1" }}{% for cat in event.categories.all %} cat_{{ cat.title|slugify }}{% endfor %}{% if tags %}{% for tag in tags %} tag_{{ tag.slug }}{% endfor %}{% endif %}{% if event.suitable_for_children %} is_for_children{% endif %}{% if event.free_admission %} is_free_admission{% endif %}{% if event.is_today %} is_today{% endif %}{% if event.is_tomorrow %} is_tomorrow{% endif %}{% if event.is_within_7_days %} is_within_7_days{% endif %}{% if event.is_within_30_days %} is_within_30_days{% endif %}" data-description-src="{{ event.get_url_path }}ajax/">
          <div class="actions">
            {% if request.user.is_authenticated %}
              {% adding2favorites for event %}
            {% endif %}
          {% comment %} <!--
            {% if_has_perm "events.change_event" event %}
              {% if event.cover_image %}
                <button data-toggle="tooltip" data-placement="top" data-original-title="{% trans "Crop image" %}" class="btn btn-default btn-round" onclick="location.href='{% cropping_url event.cover_image "event_list" request request.path %}';">
                  <span class="icon icon-tool-crop"></span>
                  <span class="sr-only">{% trans "Crop Image" %}</span>
                </button>
              {% else %}{% if event.museum.cover_image %}
                <button data-toggle="tooltip" data-placement="top" data-original-title="{% trans "Crop image" %}" class="btn btn-default btn-round" onclick="location.href='{% cropping_url event.museum.cover_image "event_list" request request.path %}';">
                  <span class="icon icon-tool-crop"></span>
                  <span class="sr-only">{% trans "Crop Image" %}</span>
                </button>
              {% endif %}
            {% endif %}
            {% end_if_has_perm %}
            <a href="{% url "event_list_map" %}#object_id={{ event.pk }}" data-toggle="tooltip" data-placement="top" data-original-title="{% trans "Show location on map" %}" class="btn btn-default btn-round location">
              <span class="icon icon-location"></span>
              <span class="sr-only">{% trans "Show location on map" %}</span>
            </a>
             --> {% endcomment %}
          </div>

          <a href="{{ event.get_url_path }}">
            <h4>
              {% for cat in event.categories.all %}{{ cat.title }}{% if not forloop.last %}, {% else %}: {% endif %}{% endfor %}
              {% with event.get_closest_event_time as event_time %}{{ event_time.event_date|date:"j. F Y" }} {{ event_time.start|time:"H:i" }}{% if LANGUAGE_CODE == "de" %} Uhr{% endif %}{% endwith %}
            </h4>
            <h3>{{ event.title }}</h3>
            <h4>{{ event.subtitle }}</h4>
            {% if event.location_name %}
            <h5>{{ event.location_name }}</h5>
            {% else %}
            <h5>{{ event.museum.title }}</h5>
            {% endif %}
          </a>
          <div class="description"></div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
