{% extends "articles/articles_base.html" %}
{% load base_tags blog babel i18n auth_extended image_mods_tags favorites fb_tags cms_tags %}

{% block title %}
    {{ article.get_title|escape }} - {% page_attribute "page_title" %}
{% endblock %}

{% block meta_tags %}
    <meta name="description" content="{{ article.get_rendered_content|striptags|truncatewords:100 }}..."/>
{% endblock %}

{% block open_graph %}
    {% parse article.get_rendered_content as content %}
    <!-- Open Graph -->
    <meta property="og:title" content="{{ article.get_title }}" />
    <meta property="og:type" content="article"/>
    {% if article.image %}
        <meta property="og:image" content="http://{{ request.get_host }}{{ MEDIA_URL }}{{ article.image|modified_path:"og" }}" />
    {% endif %}
    {% with content|get_first_media|get_media_src as media_src %}
        {% if media_src %}
            {% if "http://"|in_list:media_src %}
                <meta property="og:image" content="{{ media_src }}" />
            {% else %}
                <meta property="og:image" content="http://{{ request.get_host }}{{ media_src }}" />
            {% endif %}
        {% else %}
            <meta property="og:image" content="http://{{ request.get_host }}{{ STATIC_URL }}site/img/default/ccb_opengraph.jpg" />
        {% endif %}
    {% endwith %}
    <meta property="og:description" content="{{ content|striptags|truncatewords:20|escape }}" />
{% endblock %}

{% block tabs %}
{% endblock %}

{% block sidebar %}
    <div class="button-group">
        {% if request.user.is_authenticated %}
            {% adding2favorites for article %}
        {% else %}
            <a rel="nofollow" href="{% url 'login' %}?goto_next={{ request.path }}" class="fawesome fa-favorite button text"><span class="text">{% trans "Favorite" %}</span></a>
        {% endif %}
        <a rel="nofollow" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri|urlencode }}" class="fawesome fa-facebook button text social-sharing"><span class="text">{% trans "Share on Facebook" %}</span></a>
        <a rel="nofollow" target="_blank" href="http://twitter.com/home?status={{ article.title|urlencode }}+{{ request.build_absolute_uri|urlencode }}" class="fawesome fa-twitter button text social-sharing"><span class="text">{% trans "Tweet" %}</span></a>
        <a rel="nofollow" target="_blank" href="https://plus.google.com/share?url={{ request.build_absolute_uri|urlencode }}" class="fawesome fa-googleplus button text social-sharing"><span class="text">{% trans "Share on Google+" %}</span></a>
        <a rel="nofollow" href="mailto:?subject={{ article.title|urlencode }}&amp;body={{ request.build_absolute_uri|urlencode }}" class="fawesome fa-email button text"><span class="text">{% trans "Email to a friend" %}</span></a>
        <br/><br/>
    </div>
{% endblock %}

{% block details %}
    <h3>
        {% if article.content_provider %}
            {% if article.content_provider.url %}
                <a href="{{ article.content_provider.url }}" target="_blank">{{ article.content_provider.title }}</a>
            {% else %}
                {{ article.content_provider.title }}
            {% endif %}
        {% elif article.article_type %}
            {{ article.article_type.title|escape }}
        {% else %}
            {% trans "News" %}
        {% endif %}
        <time datetime="{{article.published_from|date:"Y-m-d"}}">{{ article.published_from|datefmt:"long" }}</time>
    </h3>
    
    <div class="entry-details clearfix">

        <h2>{{ article.get_title|escape }}</h2>
        
        {% if article.get_subtitle %}
            <h4 class="type">{{ article.get_subtitle }}</h4>
        {% endif %}
        
        {% if article.description %}
            <p class="intro">{% parse article.get_rendered_description %}</p>
        {% endif %}


        {% if article.image %}
            <img src="{{ UPLOADS_URL }}{{ article.image|modified_path:"article" }}" alt="{{ article.get_title|escape }}"/>
            {% with article.image|file_description as file_desc %}
                {% if article.image_description %}
                    <div CLASS="caption">{{ article.get_rendered_image_description }}</div>
                {% elif file_desc.author %}
                    <H5 CLASS="caption">{% trans "Photo" %}: {{ file_desc.author }}</H5>
                {% endif %}
            {% endwith %}
        {% endif %}

        {% parse article.get_rendered_content %}

        {% if article.is_excerpt %}
            <p><a href="{{ article.external_url }}" target="_blank">{% trans "Read full article" %}</a></p>
        {% endif %}

        <p>{% trans "Category" %}:
            {% if article.article_type.get_root.slug == "interviews" %}
                <a href="{% url "article_archive_for_interviews_by_type" type_sysname=article.article_type.slug %}">{{ article.article_type.title }}</a>
            {% else %}
                <a href="{% url "article_archive_for_news_by_type" type_sysname=article.article_type.slug %}">{{ article.article_type.title }}</a>
            {% endif %}
        </p>

        <div class="button-group padding-40">
            {% if article.article_type.get_root.slug == "interviews" %}
                <a href="{% url "article_feed_for_interviews" feed_type="rss" %}" class="fawesome fa-rss smaller button"><span class="sr-only">rss</span></a>
            {% else %}
                <a href="{% url "article_feed_for_news" feed_type="rss" %}" class="fawesome fa-rss smaller button"><span class="sr-only">rss</span></a>
            {% endif %}
        </div>

    </div>
    
    <hr/>
    
   
    {% if links_to_articles %}
    
        <div class="center padding-10">
            <div class="fawesome fa-heart big padding-10"></div>
            <p class="color-black bold">{% trans 'Also a good read' %}</p>
        </div>
    
        <div class="row article-list">
            {% for list_article in links_to_articles %}
                {% include "articles/articles_brief.html" %}
            {% endfor %}
        </div>
        
    {% endif %}
    
{% endblock %}

{% block breadcrumbs %}
    <li><a href="/news/">{% trans "News" %}</a></li>
    <li><a href="/news/{{ article.published_from|date:"Y" }}/">{{ article.published_from|date:"Y" }}</a></li>
    <li><a href="/news/{{ article.published_from|date:"Y" }}/{{ article.published_from|date:"m" }}/">{{ article.published_from|datefmt:"MMM" }} </a></li>
    <li><a href="/news/{{ article.published_from|date:"Y" }}/{{ article.published_from|date:"m" }}/{{ article.published_from|date:"d" }}/">{{ article.published_from|date:"d" }}</a></li>
    <li>{{ article.get_title|escape }}</li>
{% endblock %}

