{% extends "base_redesign.html" %}
{% load i18n base_tags menu_tags navigation_tags cache infoblocks cms_tags %}

{% block extrahead %}
    {{ block.super }}
    <link rel="alternate" type="application/rss+xml" title="{% trans "Creative City Berlin News" %}" href="/{{ LANGUAGE_CODE }}/news/feeds/rss/"/>
{% endblock %}


{% block title %}
    {% page_attribute "page_title" %}
{% endblock %}


{% block content %}
    <div class="header">
        {% load slideshows_tags %}
        {% if root_article_type.slug == "interviews" %}
            {% slideshow "article_list_interviews" using "slideshows/header.html" %}
        {% else %}
            {% slideshow "article_list_news" using "slideshows/header.html" %}
        {% endif %}
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>{% page_attribute "page_title" %}</h1>
                    {% if article_type and not article_type.is_root_node %}
                        <h2>{{ article_type.title }}</h2>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3">
                <nav>
                    <ul class="accordion navi-box">
                        <li class="accordion-inside accordion-trigger opened">
                            <div class="accordion-trigger head">{% page_attribute "page_title" %}</div>
                            <ul class="accordion navi-box">
                                {% show_sub_menu 2 2 1 "cms/includes/menu_cms.html" %}
                            </ul>
                        </li>
                        <li></li>
                    </ul>
                </nav>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9">
                
                {% block details %}
                {% endblock %}
                    
            </div>
        </div>
    </div>
    
{% endblock %}  



{% block headline_old %}
    {% if creative_sector.get_title %}
        <h1>{{ creative_sector.get_title|escape }}</h1>
        {% if article_list %}
            <h2 class="sub">{{ article_list.0.article_type.title|escape }}</h2>
        {% endif %}
    {% else %}
        <h1>Creative City Berlin</h1>
        <h2 class="sub">
            {% trans "News" %}
        </h2>
    {% endif %}
{% endblock %}

{% block sidebar-a_old %}
    {% comment %}<!--
    {% if creative_sector %}
        {{ block.super }}
    {% else %}
    -->{% endcomment %}
    <div class="sidebar-box nav_expanded" id="archives_{{ LANGUAGE_CODE }}">
        <h5>
            <a href="#" class="open_but">
                <b>{% trans "Archives" %}</b>
                <span class="pic"></span>
            </a>
        </h5>

        <div class="hidable">
            {% for year, month_list in archives %}
                {% if forloop.first %}
                    <ul>
                    <li>
                        <a href="/news/">{% trans "All" %}</a>
                    </li>
                {% endif %}
            <li>
                <a href="/news/{{ year }}/">{{ year }}</a>
                {% for month_index, month_name in month_list %}
                    {% if forloop.first %}
                        <ul>
                    {% endif %}
                <li>
                    <a href="/news/{{ year }}/{{ month_index }}/">
                        {{ month_name }}
                    </a>
                </li>
                {% if forloop.last %}
                    </ul>
                {% endif %}
                {% endfor %}
            </li>
            {% if forloop.last %}
                </ul>
            {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="sidebar-box nav_expanded" id="creative_sectors_{{ LANGUAGE_CODE }}">
        <h5>
            <a href="#" class="open_but">
                <b>{% trans "Creative Sectors" %}</b>
                <span class="pic"></span>
            </a>
        </h5>

        <div class="hidable">
            {% for cs in creative_sectors %}
                {% if forloop.first %}
                    <ul>
                    <li>
                        <a href="/news/">{% trans "All" %}</a>
                    </li>
                {% endif %}
            <li>
                <a href="/news/creative-sector/{{ cs.slug }}/">{{ cs.get_title }}</a>
            </li>
            {% if forloop.last %}
                </ul>
            {% endif %}
            {% endfor %}
        </div>
    </div>

    <div id="dyn_rotating_banner">
        {% infoblock "partners" using "blocks/collapsible_infoblock.html" %}
    </div>
{% endblock %}
 
