{% extends base_template|default:"articles/articles_base.html" %}
{% load base_tags blog babel i18n auth_extended %}

{% block details %}
    {% if not article_list %}
        <p>{% trans "No articles are available" %}</p>
    {% else %}
        <div class="row article-list">
            {% for list_article in article_list %}
                {% include "articles/articles_brief.html" %}
            {% endfor %}
        </div>
        {% include "utils/includes/pagination.html" %}
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="/news/">{% trans "News" %}</a></li>
    <li>{{ year }}</li>
{% endblock %}

 {% block javascript %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/pagination.js"></script>
 {% endblock %}
