{% extends base_template|default:"articles/articles_base.html" %}
{% load base_tags blog babel i18n auth_extended %}

{% block details %}
    {% if not article_list %}
        <p>{% trans "No articles are available" %}</p>
    {% else %}
        <div class="row article-list">
            {% for list_article in article_list %}
                {% include "articles/articles_brief.html" %}
            {% endfor %}
        </div>
        {% include "utils/includes/sorting_and_pagination.html" %}
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="/">{% trans "Home" %}</a>
        <span class="b-sep"><span>::</span></span>
        <a href="/news/">{% trans "News" %}</a>
        <span class="b-sep"><span>::</span></span>
        <a href="/news/{{ day|date:"Y" }}/">{{ day|date:"Y" }}</a>
        <span class="b-sep"><span>::</span></span>
        <a
            href="/news/{{ day|date:"Y" }}/{{ day|date:"m" }}/">{{ day|datefmt:"MMM" }} </a>
        <span class="b-sep"><span>::</span></span><span>{{ day|date:"d" }}</span>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/pagination.js"></script>
{% endblock %}
