{% load i18n base_tags babel navigation_tags articles image_mods_tags favorites fb_tags %}



<div class="col-xs-12">
    <div class="wrapper">
        <a class="content" href="{{ list_article.get_url_path }}">
            {% if list_article.article_type.slug == "industry-news-and-market-trends" or list_article.article_type.slug == "tenders-competitions" or list_article.article_type.slug == "studies-and-publications" or list_article.article_type.slug == "surveys" %}
                <div class="text no-image">
            {% else %}
                <div class="image-wrapper">
                {% if list_article.image %}
                    {% with list_article.image|file_description as file_desc %}
                        <img src="{{ UPLOADS_URL }}{{ list_article.image|modified_path:"list" }}" alt="{{ list_article.get_title|escape }}"/>
                        {% if file_desc.author %}
                            <div class="photo-credits-beneath">{% trans "Photo" %}: {{ file_desc.author }}</div>
                        {% elif list_article.image_description %}
                            <div class="photo-credits-beneath">{{ list_article.get_rendered_image_description }}</div>
                        {% endif %}
                    {% endwith %}
                {% else %}
                    <img src="{{ STATIC_URL }}site/img/placeholder/infolink.png" alt="{{ list_article.get_title|escape }}"/>
                {% endif %}
                </div>
                <div class="text">
            {% endif %}
                <h3>
                    {% if list_article.content_provider %}
                        {{ list_article.content_provider.title }}
                    {% elif list_article.article_type %}
                        {{ list_article.article_type.title|escape }}
                    {% else %}
                        {% trans "News" %}
                    {% endif %}
                    <time datetime="{{ list_article.published_from|date:"Y-m-d" }}">{{ list_article.published_from|datefmt:"long" }}</time>
                </h3>
                <h2>{{ list_article.get_title|striptags|escape }}</h2>
                <p>
                    {% parse list_article.get_rendered_content as content %}
                    {% if list_article.article_type.slug == "industry-news-and-market-trends" or list_article.article_type.slug == "ausschreibungen-und-wettbewerbe" or list_article.article_type.slug == "studies-and-publications" or list_article.article_type.slug == "surveys" %}
                        {{ content|striptags|truncatewords:"25" }}
                    {% else %}
                        {{ content|striptags|truncatewords:"10" }}
                    {% endif %}
                </p>
                <div>{% trans 'Read on' %}</div>
            </div>
        </a>
        <div class="button-group">
            {% if request.user.is_authenticated %}
                {% adding2favorites for list_article using "generic/favorite_icon.html" %}
            {% else %}
                <a rel="nofollow" href="{% url 'login' %}?goto_next={{ request.path }}" class="fawesome fa-favorite button"><span class="sr-only">{% trans "Add to favorites" %}</span></a>
            {% endif %}
        </div>
    </div>
</div>
