{% load i18n base_tags babel navigation_tags articles image_mods_tags favorites %}



<div class="col-xs-12">
    <div class="wrapper">
        <a class="content" href="{{ list_article.get_url_path }}">
            {% if list_article.image %}
                <img src="{{ UPLOADS_URL }}{{ list_article.image|modified_path:"list" }}" alt="{{ list_article.get_title|escape }}"/>
            {% else %}
                <img src="{{ STATIC_URL }}site/img/placeholder/infolink.png" alt="{{ list_article.get_title|escape }}"/>
            {% endif %}
            <div class="text">
                <h3>
                    {% if list_article.content_provider %}
                        {{ list_article.content_provider.title }}
                    {% elif list_article.article_type %}
                        {{ list_article.article_type.title|escape }}
                    {% else %}
                        {% trans "News" %}
                    {% endif %}
                    <time datetime="{{ list_article.published_from|date:"Y-m-d" }}">{{ list_article.published_from|datefmt:"long" }}</time>
                </h3>
                <h2>{{ list_article.get_title|striptags|escape }}</h2>
                <p>
                    {% parse list_article.get_rendered_content as content %}
                    {{ content|striptags|truncatewords:"10" }}
                </p>
                <div>{% trans 'Read on' %}</div>
            </div>
        </a>
        <div class="button-group">
            {% if request.user.is_authenticated %}
                {% adding2favorites for list_article using "generic/favorite_icon.html" %}
            {% else %}
                <a href="/login/?goto_next={{ request.path }}" class="fawesome fa-favorite button"><span class="sr-only">{% trans "Add to favorites" %}</span></a>
            {% endif %}
        </div>
    </div>
</div>
                

