{% load i18n base_tags navigation_tags auth_extended %}
<div class="sidebar-box nav_collapsed" id="add_box">
    <h3>
        <a href="#" class="open_but">
            <b>{% trans "Tools" %}</b>
            <span class="pic"></span>
        </a>
    </h3>

    <div class="hidable">
        <ul>
            <li class="rss">
                <a href="/news/feeds/rss/" title="{% trans "Subscribe to RSS Feed" %}"><span
                    class="pic"></span>{% trans "RSS feed" %}</a>
            </li>
            <li class="rss">
                <a href="/news/feeds/atom/" title="{% trans "Subscribe to ATOM Feed" %}"><span
                    class="pic"></span>{% trans "ATOM feed" %}</a>
            </li>
            <li class="print">
                <a href="#" onclick="window.print(); return false;"><span
                    class="pic"></span>{% trans "print" %}</a>
            </li>
        </ul>
    </div>
</div>

