{% extends "base.html" %}
{% load url from future %}
{% load i18n image_modifications base_tags tagging_tags favorites auth_extended festival_tags %}
{% block title %}{% trans "Festivals" %} – {% endblock %}
{% block bodyclass %}festival-list no-transition{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/grid.js" defer="defer"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/month_slider.js" defer="defer"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/favorites.min.js" defer="defer"></script>
{% endblock %}

{% block content %}
    <div class="content overview">
        <div class="container">
            <div class="row">
                
                <a class="fawesome back uc main_clear clear_toggle pull-right headline-link" href="javascript:void(0);">{% trans "back to overview" %}</a>
                <h1 class="bottom-line"><a href="javascript:void(0);" class="headline-link main_clear">{% trans "Festivals" %}</a></h1>
                {% month_slider id='main_monthslider' %}
                
                <div class="col-xs-12">
                    
                    <!-- the list -->
                    {% if object_list %}
                        <div id="main_list" class="grid festival-grid mazery-grid row">
                            {% for festival in object_list %}
                                <div class="grid-item {% if festival.featured %} featured {% endif %} col-xs-12 col-sm-6 col-md-4" data-start="{{ festival.start|date:"U" }}" {% if festival.end %}data-end="{{ festival.end|date:"U" }}"{% else %}data-end="{{ festival.start|date:"U" }}"{% endif %}>
                                    <div class="row">
                                        <a href="{{ festival.get_url_path }}">
                                            {% if festival.first_image %}
                                                <img class="hidden-xs {% if festival.featured %} hidden-sm hidden-md hidden-lg {% endif %}" src="{{ MEDIA_URL }}{{ festival.first_image.path|modified_path:"mazery_image" }}{% if_has_perm "festival.change_festival" festival %}?now={% now "YmdHis" %}{% end_if_has_perm %}" alt="{{ event.production.title|escape }}" />
                                                <img class="{% if not festival.featured %} visible-xs {% endif %}" src="{{ MEDIA_URL }}{{ festival.first_image.path|modified_path:"gallery_image" }}{% if_has_perm "festival.change_festival" festival %}?now={% now "YmdHis" %}{% end_if_has_perm %}" alt="{{ event.production.title|escape }}" />
                                            {% elif festival.image_set.exists %}
                                                {% with festival.image_set.all|first as image %}
                                                    <img src="{{ MEDIA_URL }}{{ image.path|modified_path:"detail_image" }}{% if_has_perm "festival.change_festival" festival %}?now={% now "YmdHis" %}{% end_if_has_perm %}" alt="{{ festival.title|escape }}" />
                                                {% endwith %}
                                            {% endif %}
                                            
                                            {% if festival.title %}<h2>{{ festival.title }}</h2>{% endif %}
                                            {% if festival.subtitle %}<h3>{{ festival.subtitle }}</h3>{% endif %}
                                            {% if festival.start %}<h4><time>{{ festival.start|date:"j.m.Y" }}</time>{% if festival.end and festival.start != festival.end %} &nbsp;–&nbsp; <time>{{ festival.end|date:"j.m.Y" }}</time>{% endif %}</h4>{% endif %}
                                            {% if festival.organizers.all %}
                                                    <dl>
                                                        <dt>{% trans "Organizer" %}</dt>
                                                        {% for location in festival.organizers.all %}
                                                            <dd>
                                                                {{ location.title }}
                                                            </dd>
                                                        {% endfor %}
                                                    </dl>
                                            {% endif %}
                                            {% if festival.description %}<p class="copy">{{ festival.get_rendered_description|striptags|wordwrap:30|truncatewords:"30" }}</p>{% endif %}
                                        </a>
                                    </div>
                                </div>  
                            {% endfor %}
                        </div>
                    {% endif %}
                        
                </div>
            </div>
        </div>
    </div>
{% endblock %}