{% extends "accounts/dashboard_admin.html" %}

{% load i18n base_tags image_modifications %}

{% block stylesheet %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ jetson_media_url }}Jcrop/css/jquery.Jcrop.css" type="text/css" />
    <link rel="stylesheet" media="screen" type="text/css" href="{{ jetson_media_url }}colorpicker/css/colorpicker.css" />

    <style type="text/css">
        .image-version {
            border: 1px solid #D4D4D4;
            background: #fff;
            width: {{ cp_mod.width }}px;
            height: {{ cp_mod.height }}px;
        }
        .image-version img {
            max-width: none;
            left: 0;
            top: 0;
        }
        #cropbox {
            width: {{ cp_mod.width }}px;
            height: {{ cp_mod.height }}px;
        }
        .colorpicker input {
            width: auto !important;
            -moz-box-shadow: none;
        }
        #colorSelector {
            position: relative;
            width: 36px;
            height: 36px;
        }
        #colorSelector div {
            position: absolute;
            top: 4px;
            left: 4px;
            width: 28px;
            height: 28px;
            background: url({{ jetson_media_url }}colorpicker/images/select2.png) no-repeat center center;
        }
        .colorpicker {
            z-index: 300;
        }

    </style>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ jetson_media_url }}Jcrop/js/jquery.Jcrop.min.js"></script>
    <script type="text/javascript" src="{{ jetson_media_url }}colorpicker/js/colorpicker.js"></script>
    <script type="text/javascript">
    //<![CDATA[
    if (!window.nothing) {
        nothing = function(){};
    }
    (function($, undefined) {
        var oCroppingAPI;
        var aDefaultSelection = [
            {{ default_initial.x1 }},
            {{ default_initial.y1 }},
            {{ default_initial.x2 }},
            {{ default_initial.y2 }}
        ];
        var sDefaultBgColor = "{{ default_initial.bgcolor }}";

        function updateCoords(c) {
            if (c.x === c.x2 || c.y === c.y2) {
                setDefault();
                return
            }
            $('#id_x1').val(Math.floor(c.x));
            $('#id_y1').val(Math.floor(c.y));
            $('#id_x2').val(Math.floor(c.x2));
            $('#id_y2').val(Math.floor(c.y2));
        }
        function setDefault() {
            oCroppingAPI.animateTo(aDefaultSelection);
            updateCoords({
                x: aDefaultSelection[0],
                y: aDefaultSelection[1],
                x2: aDefaultSelection[2],
                y2: aDefaultSelection[3]
            });
            $('#id_bgcolor').val(sDefaultBgColor);
            $('#colorSelector').find('div').css('backgroundColor', sDefaultBgColor);
            updateImage(sDefaultBgColor);
        }
        function updateImage(sBgColor) {
            sBgColor = sBgColor.replace(/#/, "");
            $(".image-version img").each(function() {
                var sSrc = $(this).attr("src");
                sSrc = sSrc.replace(/[^\/]+\/\?/, sBgColor + '/?');
                $(this).attr("src", sSrc);
            });
        }
        $(window).load(function(){
            var x1 = $('#id_x1').val() || 0;
            var y1 = $('#id_y1').val() || 0;
            var x2 = $('#id_x2').val() || 0;
            var y2 = $('#id_y2').val() || 0;
            var options = {
                onSelect: updateCoords,
                onChange: updateCoords,
                allowSelect: false,
                setSelect: [ x1, y1, x2, y2 ]
            };
            {% if mod.width and mod.height and mod.crop %}
                options['aspectRatio'] = {{ mod.width }} / {{ mod.height }};
            {% endif %}
            oCroppingAPI = $.Jcrop('#cropbox', options);
            $(document).keyup(function(e) {
                // ESCAPE key pressed
                if (e.keyCode === 27) {
                    setDefault();
                }
            });
            $('#colorSelector').ColorPicker({
                livePreview: true,
                onSubmit: function(hsb, hex, rgb, el) {
                    $('#id_bgcolor').val("#" + hex);
                    $('#colorSelector').find('div').css('backgroundColor', '#' + hex);
                    $(el).ColorPickerHide();
                    updateImage(hex);
                },
                onBeforeShow: function () {
                    $(this).ColorPickerSetColor($('#id_bgcolor').val());
                },
                onShow: function (colpkr) {
                    $(colpkr).fadeIn(500);
                    return false;
                },
                onHide: function (colpkr) {
                    $(colpkr).fadeOut(500);
                    return false;
                },
            });

            oCroppingAPI.focus();
        });
    }(jQuery));
    //]]>
    </script>

{% endblock %}

{% block title %}{% trans "Adjust Image" %}{% endblock %}

{% block content %}
    <div class="content dash">
        <div class="container">
            <div class="dashboard-content">
                <form action="" method="post">{% csrf_token %}
                    <fieldset>
                    <legend>{% trans "Crop Image" %}</legend>
                    <div class="image-version">
                        <img id="cropbox" src="{% url 'image_mods_cropping_preview' bgcolor=form.bgcolor.data|slice:"1:" %}?orig_path={{ orig_path }}&amp;sysname={{ mod.sysname }}" alt="" />
                    </div>
                    <p>{% trans "Press ESC to switch to the default selection area and default canvas color." %}</p>
                    <div class="form_field">
                        <label for="id_bgcolor">{% trans "Canvas color" %}</label>
                        {{ form.bgcolor }}
                        {{ form.bgcolor.errors }}
                        <div id="colorSelector"><div style="background-color: {{ form.bgcolor.data }};"></div></div>
                    </div>
                </fieldset>

                <div class="form-actions">
                    {{ form.x1 }}{{ form.y1 }}{{ form.x2 }}{{ form.y2 }}
                    <input class="default btn btn-lg btn-primary pull-right" type="submit" value="{% trans "Save" %}" />
                    <input class="default btn btn-lg btn-info" type="reset" name="cancel" value="{% trans "Cancel" %}" onclick="history.go(-1)">
                    <input type="hidden" name="post" value="yes" />
                </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
