MAILTO=""
HOME=/usr/local/www/apache24/data/museumsportal-berlin.de
PATH=/usr/local/www/apache24/data/museumsportal-berlin.de/bin:/usr/local/sbin:/usr/local/bin:/usr/iports/bin:/usr/iports/sbin:/sbin:/bin:/usr/sbin:/usr/bin
SHELL=/usr/local/bin/bash
00      01      *       *       *       /usr/local/www/apache24/data/museumsportal-berlin.de/commands/cleanup.sh && curl -fsS --retry 3 https://hc-ping.com/18ca535b-1191-4288-8cd1-b7ac3dc77b79 > /dev/null
00      02      *       *       *       /usr/local/www/apache24/data/museumsportal-berlin.de/commands/import_from_smb.sh && curl -fsS --retry 3 https://hc-ping.com/3b30cbcc-5c4f-416f-881c-61b0497d5087 > /dev/null
00      03      *       *       *       /usr/local/www/apache24/data/museumsportal-berlin.de/commands/update_expired.sh && curl -fsS --retry 3 https://hc-ping.com/004e8a74-398e-4909-b480-623a6f6c464a > /dev/null
00      04      *       *       *       /usr/local/www/apache24/data/museumsportal-berlin.de/commands/rebuild_index.sh && curl -fsS --retry 3 https://hc-ping.com/8666ba75-9a3d-40fa-84a7-2555014c9c93 > /dev/null
*/5     *       *       *       *       /usr/local/www/apache24/data/museumsportal-berlin.de/commands/send_mails.sh && curl -fsS --retry 3 https://hc-ping.com/28d5ec05-06cd-4d5c-a46c-8fda148f2fdf > /dev/null
00      06      *       *       0       /usr/local/www/apache24/data/museumsportal-berlin.de/commands/check_links.sh && curl -fsS --retry 3 https://hc-ping.com/1cd46089-416f-447c-9b51-b5d55ca91c7e > /dev/null
00      05      *       *       *       /usr/local/www/apache24/data/museumsportal-berlin.de/commands/collect_advertising_stats.sh && curl -fsS --retry 3 https://hc-ping.com/b9952980-c55b-40c0-b2ba-79a62b4219af > /dev/null
30      06      *       *       *       /usr/local/www/apache24/data/museumsportal-berlin.de/commands/backup_db.sh && curl -fsS --retry 3 https://hc-ping.com/5d82718e-617b-4539-bdd6-d0867d8cf2eb > /dev/null
30      *       *       *       *       /usr/local/www/apache24/data/museumsportal-berlin.de/commands/repair_tables.sh && curl -fsS --retry 3 https://hc-ping.com/35e6090a-c59d-438d-95e6-02110dbe253b > /dev/null
