MAILTO=""
HOME=/usr/local/www/apache24/data/berlin-buehnen.de
PATH=/usr/local/www/apache24/data/berlin-buehnen.de/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/iports/bin:/usr/iports/sbin:/sbin:/bin:/usr/sbin:/usr/bin
SHELL=/usr/local/bin/bash
00      01      *       *       *       /usr/local/www/apache24/data/berlin-buehnen.de/commands/cleanup.sh
*/5     *       *       *       *       /usr/local/www/apache24/data/berlin-buehnen.de/commands/send_mails.sh
00      02      *       *       *       /usr/local/www/apache24/data/berlin-buehnen.de/commands/actualize_production_date_and_time.sh
00      03      *       *       *       /usr/local/www/apache24/data/berlin-buehnen.de/commands/import_from_individual_sources_A_to_O.sh && curl -fsS --retry 3 https://hc-ping.com/22984e16-688b-426d-94d0-80f87f76bb95 > /dev/null
00      04      *       *       *       /usr/local/www/apache24/data/berlin-buehnen.de/commands/import_from_individual_sources_P_to_Z.sh && curl -fsS --retry 3 https://hc-ping.com/0a684cae-6346-4ccc-a0a3-0baae147f533 > /dev/null
*/15    *       *       *       *       /usr/local/www/apache24/data/berlin-buehnen.de/commands/import_from_grips_theater.sh
00      04      *       *       *       /usr/local/www/apache24/data/berlin-buehnen.de/commands/rebuild_index.sh
30      04      *       *       *       /usr/local/www/apache24/data/berlin-buehnen.de/commands/export_productions_to_excel.sh
00      05      *       *       *       /usr/local/www/apache24/data/berlin-buehnen.de/commands/collect_advertising_stats.sh
30      05      *       *       *       /usr/local/www/apache24/data/berlin-buehnen.de/commands/rebuild_elasticsearch_index.sh
00      06      *       *       *       /usr/local/www/apache24/data/berlin-buehnen.de/commands/backup_postgres_db.sh
*/5     *       *       *       *       env && curl -fsS --retry 3 https://hc-ping.com/7238c274-6ead-4136-8525-185498683513 > /dev/null