MAILTO=""
HOME=/usr/local/www/apache24/data/museumsportal-berlin.de
PATH=/usr/local/www/apache24/data/museumsportal-berlin.de/bin:/usr/local/sbin:/usr/local/bin:/usr/iports/bin:/usr/iports/sbin:/sbin:/bin:/usr/sbin:/usr/bin
SHELL=/usr/local/bin/bash
00 01 * * * /usr/local/www/apache24/data/museumsportal-berlin.de/commands/cleanup.sh
00 02 * * * /usr/local/www/apache24/data/museumsportal-berlin.de/commands/import_from_smb.sh
00 03 * * * /usr/local/www/apache24/data/museumsportal-berlin.de/commands/rebuild_index.sh
00 04 * * * /usr/local/www/apache24/data/museumsportal-berlin.de/commands/update_expired.sh
*/5 * * * * /usr/local/www/apache24/data/museumsportal-berlin.de/commands/send_mails.sh
00 06 * * 0 /usr/local/www/apache24/data/museumsportal-berlin.de/commands/check_links.sh
00 05 * * * /usr/local/www/apache24/data/museumsportal-berlin.de/commands/collect_advertising_stats.sh
30 06 * * * /usr/local/www/apache24/data/museumsportal-berlin.de/commands/backup_db.sh
