{% extends "base.html" %}
{% load base_tags i18n crispy_forms_tags %}

{% block title %}{% trans "login" %}{% endblock %}


{% block headline %}
    <h2 class="main">{% trans "login" %}</h2>
{% endblock %}

{% block sidebar-a %}{% endblock %}
{% block sidebar-b %}{% endblock %}

{% block content %}
    {% crispy form %}{# Login form #}
    <p>{% trans "Haven't you got an account yet?" %}</p>
    <div class="form-actions">
        <a href="/register/" class="btn btn-primary">{% trans 'Create Account' %}</a>
    </div>
{% endblock %}
