{% load base_tags i18n %}
{% load_context %}

{% blocktrans %}You're receiving this e-mail because you requested a password reset for your user account at {{ site_name }}.{% endblocktrans %}.

{% blocktrans %}Your new password is: {{ new_password }}{% endblocktrans %}
{% trans "Feel free to change this password by going to this page:" %}

http://{{ domain }}/password_change/

{% blocktrans with user.username as username %}Your username, in case you've forgotten is {{ username }}{% endblocktrans %}

{% trans "Thanks for using our site!" %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}
