{% extends "base.html" %}
{% load base_tags i18n %}

{% block extrahead %}
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/website/registration.js"></script>
{% endblock %}


{% block title %}{% trans "Registration" %} - {% trans "Profile Data" %}{% endblock %}

{% block headline %}
    <h2 class="main">{% trans "Registration" %}</h2>
    <h2 class="sub">
        {% ifequal form_step_data.0.account_type "0" %}
            {% trans "Individual Account" %}
        {% else %}
            {% trans "Institutional Account" %}
        {% endifequal %}
    </h2>
{% endblock %}

{% block sidebar-a %}
    {% include "utils/registration_step_list.html" %}
{% endblock %}

{% block sidebar-b %}
{% endblock %}

{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
        <div class="field_layout">
            <fieldset>
                <legend>
                    {% trans "Profile Data" %}
                </legend>
                <ul>
                    <li>
                        <label for="id_description_de">
                            {{ form.description_de.label }}
                            <br/>
                            {{ form.description_de.help_text }}
                        </label>
                        {{ form.description_de }} {{ form.description_de.error_tag }}
                    </li>
                    <li>
                        <label for="id_description_en">
                            {{ form.description_en.label }}
                            <br/>
                            {{ form.description_en.help_text }}
                        </label>
                        {{ form.description_en }} {{ form.description_en.error_tag }}
                    </li>
                </ul>
            </fieldset>
            <fieldset class="fieldset_end">
                <legend>
                    {% trans "Photo" %}
                </legend>
                <ul>
                    <li class="preview_img">
                        <img src="{% if form_step_data.303.avatar %}/helper/tmpimage/{{ form_step_data.303.avatar.tmp_filename }}/{{ LOGO_PREVIEW_SIZE }}/{% else %}{% ifequal form_step_data.0.account_type "0" %}{{ DEFAULT_FORM_LOGO_4_PERSON }}{% else %}{{ DEFAULT_FORM_LOGO_4_INSTITUTION }}{% endifequal %}{% endif %}"
                             alt="{% trans "Avatar" %}"/>
                    </li>
                    <li class="insert_img">
                        {{ form.avatar }} {{ form.avatar.error_tag }}
                        <label class="label_input_img">
                            {{ form.avatar.help_text }}
                        </label>
                    </li>
                </ul>
            </fieldset>
            {% include "utils/step_buttons_reg.html" %}
        </div>
    </form>
{% endblock %}

