{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Registration complete" %}{% endblock %}


{% block headline %}
    <h2 class="main">{% trans "Your registration is complete." %}</h2>
{% endblock %}


{% block content %}

    <p class="suggest">
        {% blocktrans with request.user.id as user_id %}Welcome to the website. Your registration has been successful and you'll be receiving a confirmation e-mail shortly. In the meantime, you've been logged in and are welcome to spend some quality time here. Enjoy the site!{% endblocktrans %}</p>

{% endblock %}

