{% extends "base.html" %}
{% load cms_tags %}
{% block bodyclass %}default{% endblock %}

{% block title %}{% page_attribute "title" as title %}{% page_attribute "page_title" as page_title %}{{ page_title|default:title|escape|add:" – " }}{% endblock %}

{% block meta_tags %}
    {% page_attribute "meta_description" as meta_description %}
    {% page_attribute "meta_keywords" as meta_keywords %}
    {% if meta_description or meta_keywords %}
        <meta name="description" lang="{{ LANGUAGE_CODE }}" content="{{ meta_description|escape }}" />
        <meta name="keywords" lang="{{ LANGUAGE_CODE }}" content="{{ meta_keywords|escape }}" />
    {% else %}
        {{ site_settings.get_meta_tags|safe }}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="content default">
        <div class="container main-container">
            <div class="row">
                <div class="col-xs-12  col-md-8 default-intro">
                    {% placeholder "intro" %}
                </div>
                <div class="col-xs-12  col-md-8 default-main">
                    {% placeholder "main_content" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
