{% extends "base.html" %}
{% load i18n base_tags image_modifications tagging_tags sekizai_tags i18n %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/share.min.js" defer="defer"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/favorites.js" defer="defer"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/overview.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/toggle_buttons.js"></script>
{% endblock %}

{% block title %}{% trans "Curated List" %}{% endblock %}
{% block open_graph %}
    <meta property="og:image" content="http://www.creative-city-berlin.de/media/opengraph/fahren_big.png" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ curated_list.title|default:_("Curated List") }}" />
    {% if curated_list.description_striped %}<meta property="og:description" content="{{ curated_list.single_line_description }}" />{% endif %}
{% endblock %}

{% block bodyclass %}gmap map-only{% endblock %}

{% block content %}
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>{{ curated_list.title|default:_("Curated List") }}</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="box col-xs-12">
                <div class="row">
                    <div class="col-xs-6">
                        <ul>
                        {% if curated_list.get_previous_item %}
                            <li><a href="{{ curated_list.get_previous_item.get_url_path }}">{% trans "Previous" %}</a></li>
                        {% endif %}
                        <li><a href="{% url "featured_curated_lists" %}">{% trans "Featured Tours" %}</a></li>
                        {% if curated_list.get_next_item %}
                            <li><a href="{{ curated_list.get_next_item.get_url_path }}">{% trans "Next" %}</a></li>
                        {% endif %}
                        </ul>
                    </div>
                    {% comment "Social sharing" %}
                    <div class="col-xs-6">
                        <div class="sozial-panel pull-right">
                            {% if request.user.is_authenticated %}
                                {% if request.user == curated_list.owner_content_object or request.user.is_staff %}
                                    <button id="change_curated_list" class="sozial-button fawesome edit" data-href="{{ request.path }}change/" data-toggle="tooltip" data-placement="top" data-original-title="{% trans "Edit My Tour description" %}">
                                        <span class="sr-only">{% trans "Edit my tour description" %}</span>
                                    </button>
                                {% endif %}
                                <button id="send_curated_list_by_email" class="sozial-button fawesome email" data-href="{{ request.path }}email/" data-toggle="tooltip" data-placement="top" data-original-title="{% trans "Email list to a friend" %}">
                                    <span class="sr-only">{% trans "Email this list to a friend" %}</span>
                                </button>
                            {% endif %}
                            <button class="sozial-button fawesome twitter share-twitter" data-url="{{ website_url|slice:":-1" }}{{ request.path }}" data-text="{% trans "Curated list" %}" data-toggle="tooltip" data-placement="top" data-original-title="{% trans "Tweet list" %}">
                                <span class="sr-only">{% trans "Tweet this list" %}</span>
                            </button>
                            <button class="sozial-button fawesome facebook share-facebook" data-url="{{ website_url|slice:":-1" }}{{ request.path }}" data-text="{% trans "Curated list" %}" data-toggle="tooltip" data-placement="top" data-original-title="{% trans "Share list on Facebook" %}">
                                <span class="sr-only">{% trans "Share this list on Facebook" %}</span>
                            </button>
                            <a class="sozial-button icon icon-location" href="{{ request.path }}map/{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}" data-toggle="tooltip" data-placement="left" data-original-title="{% trans "Show list on map" %}">
                                <span class="sr-only">{% trans "Show this list on map" %}</span>
                            </a>
                        </div>
                    </div>
                    {% endcomment %}
                </div>
            </div>
        </div>
        {% if curated_list.image %}
            <div class="row">
                <div class="box col-xs-12">
                    <div class="row">
                        <div class="col-xs-6">
                            <img class="img-responsive" src="{{ MEDIA_URL }}{{ curated_list.image|modified_path:"overview_image" }}" alt="{{ curated_list.title }}" />
                        </div>
                        <div class="col-xs-6">
                            {% if curated_list.description %}<div class="personalize-copy">{{ curated_list.get_rendered_description }}</div>{% endif %}
                            {% for social_link in curated_list.socialmediachannel_set.all %}
                                <a href="{{ social_link.url }}" target="_blank" class="fawesome {{ social_link.channel_type.lower }}" data-toggle="tooltip" data-placement="top" data-original-title="{{ social_link.channel_type }}"><span class="sr-only">{{ social_link.channel_type }}</span></a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="box col-xs-12">
                    <div class="personalize-wrapper">
                        {% if curated_list.description %}<div class="personalize-copy">{{ curated_list.get_rendered_description }}</div>{% endif %}
                    </div>
                </div>
            </div>
        {% endif %}

        {% comment "MAP" %}
        <div class="row gmap-height">
            <div class="box gmap-wrapper col-xs-12">
                <div id="gmap">&nbsp;</div>

                <div id="map-sidebar-wrapper">
                    <div id="map-sidebar" class="map-description">
                        <div id="map-buttons-overflow">
                            <div id="map-buttons-wrapper">
                                <a href=".." id="cancel-map" class="fawesome back-round btn btn-default btn-lg">
                                  <span class="sr-only">{% trans "close" %}</span>
                                </a>

                                <button id="toggle-sidebar" class="btn btn-default btn-lg btn-icon">
                                  <span class="icon icon-menu"></span>
                                  <span class="sr-only">{% trans "Toggle Sidebar" %}</span>
                                </button>

                                <button id="show-current-location" class="btn btn-default btn-lg btn-icon hidden">
                                  <span class="icon icon-cross-hair"></span>
                                  <span class="sr-only">{% trans "Show my current location" %}</span>
                                </button>
                            </div>
                        </div>

                        <div id="map-list" class="hide">
                            <button id="cancel-list" class="cancel btn btn-info btn-lg">
                                <span class="icon icon-remove"></span>
                                <span class="sr-only">{% trans "close" %}</span>
                            </button>
                            <header class="list-header">
                                <h4>{% block list-title %}{% endblock %}</h4>
                                <div class="list-controls">
                                    <div class="btn-group">
                                        <button id="toggle-map-filter" class="btn btn-info">{% trans "filter" %}</button>
                                        <button id="filter-reset" type="button" class="filter-reset btn btn-info">{% trans "Reset" %}</button>
                                    </div>
                                </div>
                                <ul id="filter-summary"></ul>
                            </header>

                            <div id="container">
                                {% if curated_list.listitem_set.all %}
                                    <div class="box col-xs-12">
                                        {% for item in curated_list.listitem_set.all %}
                                            <div class="item">
                                                <a href="{{ item.content_object.get_url_path }}">{{ item.content_object }}</a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>

                            <script>
                                var aGeopositions = [];
                                {% if curated_list.listitem_set.all %}
                                    {% for item in curated_list.listitem_set.all %}
                                        {% with content_object=item.content_object %}
                                            {% if content_object.latitude %}
                                                aGeopositions.push({
                                                  object_id: 'object-{{ item.content_type.pk }}-{{ item.object_id }}',
                                                  html_src: '{{ content_object.get_url_path }}ajax/map/',
                                                  latitude: {{ content_object.latitude|stringformat:"f" }},
                                                  longitude: {{ content_object.longitude|stringformat:"f" }},
                                                  geo: '{{ content_object.latitude|stringformat:"f" }},{{ content_object.longitude|stringformat:"f" }}',
                                                  categories: ''
                                                });
                                            {% endif %}
                                        {% endwith %}
                                    {% endfor %}
                                {% endif %}
                            </script>
                        </div>
                        <div id="map-description">
                            <button id="cancel-description" class="cancel btn btn-info btn-lg">
                                <span class="icon icon-remove"></span>
                                <span class="sr-only">{% trans "close" %}</span>
                            </button>
                            <div class="android-wrapper">
                                <div class="map-ajax-detail">
                                    <article>
                                        <h4>{% trans "Nothing is selected" %}</h4>
                                        <p>{% trans "Please select a location on the map first!" %}</p>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endcomment %}

        <div class="row">
            <div class="box col-xs-12">
                {% blocktrans count counter=curated_list.get_item_count with title=curated_list.title %}{{ title }} has 1 item{% plural %}{{ title }} has {{ counter }} items{% endblocktrans %}
            </div>
        </div>

        <div class="row">
            {% if curated_list.listitem_set.all %}
                {% for item in curated_list.listitem_set.all %}
                    <div class="col-xs-4">
                        <a href="{{ item.content_object.get_url_path }}">{{ item.content_object }}</a>
                    </div>
                {% endfor %}
            {% else %}
                <h3>{% trans "You didn't favor any objects." %}</h3>
            {% endif %}
        </div>

        {% if other_curated_lists %}
            <div class="row">
                <div class="box col-xs-12">
                    <h2>{% trans "Other Curated Lists" %}</h2>
                    <div class="row">
                        {% for fav_list in other_curated_lists %}
                            <div class="col-xs-3">
                                <a href="{{ fav_list.get_url_path }}">
                                    <h3>
                                        {% if fav_list.title %}
                                            {{ fav_list.title }}
                                        {% else %}
                                            {% blocktrans with first_name=fav_list.user.first_name last_name=fav_list.user.last_name %}The tour of {{ first_name }} {{ last_name }}{% endblocktrans %}
                                        {% endif %}
                                    </h3>
                                    {% if fav_list.image %}
                                        <img class="img-responsive" src="{{ MEDIA_URL }}{{ fav_list.image|modified_path:"overview_image" }}" alt="{{ fav_list.title }}" />
                                    {% endif %}
                                    <div class="count">{% blocktrans count counter=fav_list.get_item_count %}1 item{% plural %}{{ counter }} items{% endblocktrans %}</div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    {% addtoblock "js" %}
        <script>
            $('#change_curated_list').on('click', function() {
                window.open($(this).data('href'), '_blank', 'width=600,height=750');
            });
            $('#send_curated_list_by_email').on('click', function() {
                window.open($(this).data('href'), '_blank', 'width=600,height=750');
            });
        </script>
    {% endaddtoblock %}
{% endblock %}
