{% extends "curated_lists/details_base.html" %}
{% load i18n image_mods_tags %}

{% block inner %}
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-3">
        </div>
        <div class="col-xs-12 col-sm-8 col-md-9">
            <div class="row profile-grid profile-list">
                {% for owner in curated_list.listowner_set.all %}
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="wrapper">
                            <a class="content" href="{{ owner.owner_content_object.get_url_path }}">
                                <img src="{{ UPLOADS_URL }}{{ owner.owner_content_object.avatar|modified_path:"profile" }}" alt="{{ owner.owner_content_object.get_title|escape }}"/>
                                <div class="text">
                                    <h2>{{ owner.owner_content_object.get_title }}</h2>
                                    <h3>{{ owner.owner_content.get_type }}</h3>
                                    <ul>
                                        <li>{{ owner.owner_content_object.follower_set.count }} <span class="feature">{% trans "Followers" %}</span></li>
                                        <li>{{ owner.owner_content_object.listitem_set.count }} <span class="feature">{% trans "Curated lists" %}</span></li>
                                    </ul>
                                </div>
                            </a>
                            <div class="button-group">
                                <a href="{% url 'remove_curated_list_owner' token=curated_list.get_token owner_id=owner.pk %}" class="fawesome fa-close-circle button"></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <p><a href="{% url 'invite_curated_list_owner' token=curated_list.get_token %}" class="button">{% trans "Invite owners" %}</a></p>
        </div>
    </div>
{% endblock %}