{% extends "base.html" %}
{% load i18n base_tags image_modifications tagging_tags sekizai_tags i18n fb_tags %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/share.min.js" defer="defer"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/favorites.js" defer="defer"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/overview.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/toggle_buttons.js"></script>
{% endblock %}

{% block title %}{% trans "Curated List" %}{% endblock %}
{% block open_graph %}
    <meta property="og:image" content="http://www.creative-city-berlin.de/media/opengraph/fahren_big.png" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ curated_list.title|default:_("Curated List") }}" />
    {% if curated_list.description_striped %}<meta property="og:description" content="{{ curated_list.single_line_description }}" />{% endif %}
{% endblock %}

{% block bodyclass %}curated-list{% endblock %}

{% block content %}
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1><a href="{% url "featured_curated_lists" %}">{% trans "Curated List" %}</a></h1>
                    <div class="profile wrapper curated-list">
                        <div class="content">
                            <a href="{{ curated_list.get_url_path }}"><h2>{{ curated_list.title|default:_("Curated List") }}</h2></a>
                            {% if curated_list.listowner_set.exists %}
                                <h3>
                                    {% trans "curated by" %}
                                    {% for owner in curated_list.listowner_set.all %}
                                        {% if owner.owner_content_object %}<a href="{{ owner.owner_content_object.get_url_path }}">{{ owner.owner_content_object.get_title }}</a>{% else %}{{ owner.representation }}{% endif %}{% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                </h3>
                            {% endif %}
                        </div>
                        {% if editable %}
                            <div class="button-group">
                                <a href="{% url 'change_curated_list' token=curated_list.get_token %}" class="fawesome fa-edit button"></a>
                                <a href="{% url 'curated_list_owners' token=curated_list.get_token %}" class="fawesome fa-group button"></a>
                                <a href="{% url 'delete_curated_list' token=curated_list.get_token %}" class="fawesome fa-close-circle button"></a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="line thick"></div>
            </div>
        </div>

        {% block inner %}
        {% endblock %}
    </div>
{% endblock %}
