{% extends "base.html" %}
{% load i18n base_tags image_modifications tagging_tags sekizai_tags cms_tags crispy_forms_tags fb_tags %}

{% block title %}{% page_attribute "title" %}{% endblock %}


{% block content %}
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>{% page_attribute "page_title" %}</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                {% static_placeholder "featured_curated_lists" %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3">
                {% crispy form "ccb_form" %}
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9">
            {% if object_list %}
                <div class="row article-list">
                    {% for curated_list in object_list %}
                        {% include "curated_lists/lists/curated_list_item.html" %}
                    {% endfor %}

                </div>
                {% include "utils/includes/pagination.html" %}
            {% else %}
                <div class="box col-xs-12">
                    <h3>{% trans "There are no featured curated lists." %}</h3>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}