{% load i18n base_tags %}{% spaceless %}{% for cat in categories %}
    {% if forloop.first %}<ul>
        {% if not object|is_context_item %}{% if not cat.parent %}{% if "object-type"|in_list:request.httpstate.browsing_filters %}<li class="view-all"><a href="/browse/by-object-type/all/">{% trans "view all" %}</a></li>{% endif %}{% endif %}{% endif %}
    {% endif %}
    <li><a href="{% if object|is_context_item %}/browse/reset-all/?goto_next={% endif %}/browse/by-object-type/{{ cat.slug }}/">{{ cat.get_title|escape }}</a> ({{ cat.item_count }}) {% institution_types_under cat.slug using "site_specific/object_types.html" browsing %}</li>
    {% if forloop.last %}</ul>{% endif %}
{% endfor %}{% endspaceless %}
