{% extends base_template|default:"base.html" %}
{% load i18n base_tags cms_tags navigation_tags infoblocks uni_form_tags image_mods_tags individual_relations groups_networks browsing favorites crispy_forms_tags %}

{% block extrahead %}
    {% if view_type == "map" %}
        <script type="text/javascript">
            //<![CDATA[
            var aGeopositions = [];
            //]]>
        </script>
    {% endif %}
{% endblock %}

{% block title %}{% page_attribute "page_title" %}{% endblock %}

{% block body_class %}list{% endblock %}

{% block content %}
    <div class="header">
        {% load slideshows_tags %}
        {% slideshow "member_list" using "slideshows/header.html" %}
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>{% page_attribute "page_title" %}</h1>
                </div>
            </div>
        </div>
        <div class="menu">
            <div class="container">
                <div class="row">
                    <div class="hidden-xs col-sm-4 col-md-3 headline">
                        <h2>{% page_attribute "page_title" %}</h2>
                    </div>
                    <div class="navi">
                        <nav>
                            <ul>
                                {% navigation_links "members" using "navigation/includes/navigation_links_in_tabs.html" %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        
        <div class="row">
            <div class="col-xs-12">
                <div class="header-search">
                    <div class="fawesome fa-search" data-type="person,institution"><span class="text hidden-xs">{% trans 'Search' %}</span></div>
                    <div class="button-group hidden-xs">
                        <div class="fawesome fa-list button active" data-body-class="list" data-body-class-group="profiles"></div>
                        <div class="fawesome fa-grid button" data-body-class="grid" data-body-class-group="profiles"></div>
                    </div>

                    <div class="result">
                        {% load babel %}{{ current_page.paginator.count|numberfmt }}
                        <span class="text">{% trans 'Profiles' %}</span>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3">
                {% crispy form "kb_form" %}
                {% infoblock "profiles_infobox" using "blocks/infobox.html" %}
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9">
                {% if object_list %}
                    {% include "utils/includes/sorting.html" %}
                    {% include "utils/abc_filters.html" %}
                
                    <div class="row profile-grid profile-list">
                        
                        {% for object in object_list %}
                        
                            <div class="col-xs-12 col-sm-6 col-md-4">
                                <div class="wrapper">
                                    <a class="content" href="{{ object.get_url_path }}">
                                        {% if object.content_object.image %}
                                            <img src="{{ UPLOADS_URL }}{{ object.content_object.image|modified_path:"profile" }}" alt="{{ object.get_title|escape }}"/>
                                        {% else %}
                                            {% if object.is_institution %}
                                                <img src="{{ STATIC_URL }}site/img/placeholder/institution.png" alt="{{ object.content_object.get_title|escape }}"/>
                                            {% else %}
                                                <img src="{{ STATIC_URL }}site/img/placeholder/profile.png" alt="{{ object.content_object.get_title|escape }}"/>
                                            {% endif %}
                                        {% endif %}
                                        <div class="text">
                                            <h2>{{ object.content_object.get_title|escape }}</h2>
                                            <h3>
                                                {% if object.content_object.occupation %}{{ object.content_object.occupation }}{% endif %}
                                                {% if object.get_categories %}
                                                    <span class="feature">
                                                        {% for cat in object.get_categories %}
                                                            {{ cat.title|escape }}{% if not forloop.last %}, {% endif %}
                                                        {% endfor %}
                                                    </span>
                                                {% endif %}
                                            </h3>
                                        </div>
                                    </a>
                                    <div class="button-group">
                                        {% if request.user.is_authenticated %}
                                            {% if object.is_contactable %}
                                                <a href="{{ object.get_url_path }}message/" class="fawesome fa-email button"><span class="sr-only">{% trans "Send Email" %}</span></a>
                                            {% endif %}
                                        {% else %}                                           
                                            {% if object.is_contactable %}
                                                <a rel="nofollow" href="{% url 'login' %}?goto_next={{ object.get_url_path }}message/" class="fawesome fa-email button text"><span class="text">{% trans "Send Email" %}</span></a>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                        {% endfor %}
                        
                    </div>
                    {% include "utils/includes/pagination.html" %}
                    
                {% else %}
                    <p>{% trans "No objects found within the selected conditions." %}</p>
                {% endif %}
            </div>
        </div>
        
    </div>
{% endblock %}

{% block breadcrumbs %}
    {% if not show %}
        <li>{% page_attribute "page_title" %}</li>
    {% endif %}
    {% if show == "/contacts" %}
        <li><a href="{% url 'member_list_global' %}">{% page_attribute "page_title" %}</a></li>
        <li>{% trans "Contacts" %}</li>
    {% endif %}
    {% if show == "/relationships" %}
        <li><a href="{% url 'member_list_global' %}">{% page_attribute "page_title" %}</a></li>
        <li>{% trans "Confirmed Contacts" %}</li>
    {% endif %}
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/pagination.js"></script>
{% endblock %}
