{% load navigation_tags %}
<ul class="nav_menu">
{% for link in nav_link.get_children_for_current_user %}
    {% if link.is_group %}
        <li class="nav_group navi_{{ link.sysname }}_{{ LANGUAGE_CODE }}{% if not forloop.counter0 %} first_item{% endif %}{% if link.is_promoted %} promoted{% endif %}{% if link.is_login_required %} login-required{% endif %}">{% if link.is_group_name_shown %}{% if link.link_url %}<a href="{% parse_link link %}" title="{{ link.get_description|striptags }}">{% endif %}<strong>{{ link.get_title|escape }}</strong>{% if link.link_url %}</a>{% endif %}{% endif %}
        <ul>
        {% for child in link.get_children_for_current_user %}
            {% parse_link child as url %}
            {% if url %}
                {% activeness child as is_active %}
                <li class="navi_{{ child.sysname }}_{{ LANGUAGE_CODE }}{% if child.is_promoted %} promoted{% endif %}{% if child.is_login_required %} login-required{% endif %}{% if is_active %} active{% endif %}"><a href="{{ url }}"{% if is_active %} class="active"{% endif %} title="{{ child.get_description|striptags }}"><span>{{ child.get_title|escape }}</span></a></li>
            {% endif %}
        {% endfor %}
        </ul>
        </li>
    {% else %}
        {% parse_link link as url %}
        {% if url %}
            {% activeness link as is_active %}
            <li class="navi_{{ link.sysname }}_{{ LANGUAGE_CODE }}{% if link.is_promoted %} promoted{% endif %}{% if link.is_login_required %} login-required{% endif %}{% if is_active %} active{% endif %}"><a href="{{ url }}"{% if is_active %} class="active"{% endif %} title="{{ link.get_description|striptags }}"><span>{{ link.get_title|escape }}</span></a></li>
        {% endif %}
    {% endif %}
{% endfor %}
</ul>
