{% extends "base.html" %}
{% load base_tags i18n fb_tags image_modifications tagging_tags babel auth_extended fb_tags infoblocks favorites production_tags %}
{% block title %}{% trans "Event" %} – {{ object.title }} – {% endblock %}
{% block bodyclass %}event-detail{% endblock %}

{% block open_graph %}
    <meta property="og:title" content="{{ object.title }}" />
    <meta property="og:type" content="article" />
    {% if object.image %}
        <meta property="og:image" content="{{ current_website_url }}{{ MEDIA_URL }}{{ object.image|modified_path:"og" }}" />
    {% else %}
        <meta property="og:image" content="{{ current_website_url }}{{ STATIC_URL }}site/img/berlinbuehnen_opengraph.png" />
    {% endif %}
    <meta property="og:url" content="{{ object.get_url }}" />
    <meta property="og:site_name" content="Berlin Bühnen" />
    <meta property="og:description" content="{{ object.get_rendered_description|striptags|truncatewords:20|escape }}" />
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/accordion.js"></script>
{% endblock %}

{% block content %}
    {% with object as event %}
        <div id="event" class="content details">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <a class="fawesome back uc" href="{% url 'event_list' %}">{% trans "back to overview" %}</a>
                        <article>
                            
                            <!-- headlines -->
                            <header>
                                <ul class="header-top">
                                    {% if event.start_date or event.start_time %}
                                        <li><time>{{ event.start_date|date:"l, j.F Y" }}{{ event.start_time|time:", H:i" }}</time></li>
                                    {% endif %}
                                    {% with event.ev_or_prod_play_locations as locations %}
                                        {% if event.location_title or locations|length_is:1 %}
                                            <li>{% if event.location_title %}{{event.location_title}}{% else %}{% with locations|first as first %}{{ first.title }}{% endwith %}{% endif %}</li>
                                        {% endif %}
                                    {% endwith %}
                                </ul>
                                {% if event.production.prefix %}<h3>{{ event.production.prefix }}</h3>{% endif %}
                                <h1>{{ event.production.title }}
                                    {% if_has_perm "productions.change_production" object %}
                                        {% if not request.is_mobile %}
                                            <span class="cms_edit"><a class="icon icon-pencil" data-toggle="tooltip" data-placement="bottom" data-original-title="{% trans "Edit" %}" href="{% url "change_production" slug=event.production.slug %}">&nbsp;<span class="sr-only">{% trans "Edit" %}</span></a></span>
                                        {% endif %}
                                    {% end_if_has_perm %}
                                </h1>
                                {% if event.production.subtitle %}<h2>{{ event.production.subtitle }}</h2>{% endif %}
                                {% if event.production.original %}<h2>{{ event.production.original }}</h2>{% endif %}
                            </header>
                            
                            <!-- main  part (including sidebar) -->
                            <div class="main">
                                <div class="container">
                                    <div class="row">
                                        
                                        <!-- main content -->
                                        <div class="col-xs-12 col-md-8 left">
                                            {% if event.ev_or_prod_images %}
                                                {% with event.ev_or_prod_images|first as first %}
                                                    <div class="top-image"><img src="{{ MEDIA_URL }}{{ first.path|modified_path:"max" }}" alt="{{ first.title }}" /></div> 
                                                {% endwith %}
                                            {% endif %}
                                            <div class="description">
                                                {{ event.ev_or_prod_description }}
                                            </div>
                                            <dl class="listing">
                                                {% if event.production.language_and_subtitles %}
                                                    <dt>{% trans "Language" %}</dt>
                                                    <dd>{{ event.production.language_and_subtitles }}</dd>
                                                {% endif %}
                                                {% if event.ev_or_prod_subtitles_text %}
                                                    <dt>{% trans "Subtitles" %}</dt>
                                                    <dd>{{ event.ev_or_prod_subtitles_text|disarm_user_input }}</dd>
                                                {% endif %}
                                                {% if event.humanized_duration or event.ev_or_prod_duration_text %}
                                                    <dt>{% trans "Duration" %}</dt>
                                                    <dd>
                                                        {% if event.humanized_duration %}{{ event.humanized_duration }}{% endif %}
                                                        {% if event.ev_or_prod_duration_text %}{{ event.ev_or_prod_duration_text }}{% endif %}
                                                    </dd>
                                                {% endif %}
                                                {% if event.pauses %}
                                                    <dt>{% trans "Pauses" %}</dt>
                                                    <dd>{{ event.pauses }}</dd>
                                                {% endif %}
                                                {% if event.ev_or_prod_supporting_programm %}
                                                    <dt>{% trans "Supporting_programm" %}</dt>
                                                    <dd>{{ event.ev_or_prod_supporting_programm }}</dd>
                                                {% endif %}
                                                {% if event.production.website %}
                                                    <dt>{% trans "Web" %}</dt>
                                                    <dd><a href="{{ event.production.website }}" target="_blank">{{ event.production.website }}</a></dd>
                                                {% endif %}
                                            </dl>
                                        </div>
                                        
                                        <!-- main sidebar -->
                                        <div class="col-xs-12 col-md-4 right">
                                            <div class="accordion sidebar-accordion">
                                                <div class="accordion-item">
                                                    <h4 class="accordion-item-head open">{% trans "Dates" %}</h4>
                                                    <div class="accordion-item-content">
                                                        <ul class="dates">
                                                            {% for ev in event.production.event_set.all %}
                                                                <li>
                                                                    {% if ev == event %}
                                                                        <span class="date">{{ ev.start_date|date:"j.M Y" }}</span><span class="time">{{ ev.start_time|time:"H:i" }} Uhr</span>
                                                                    {% else %}
                                                                        <a class="black" href="{% url "event_detail" slug=ev.production.slug event_id=ev.id %}"><span class="date">{{ ev.start_date|date:"j.M Y" }}</span><span class="time">{{ ev.start_time|time:"H:i" }} Uhr</span></a>
                                                                    {% endif %}
                                                                    {% if ev.ev_or_prod_tickets_website %}
                                                                        <span class="tickets"><a class="fawesome tickets" href="{{ ev.ev_or_prod_tickets_website }}" target="_blank"></a></span>
                                                                    {% endif %}
                                                                    {% if ev.get_special_text %}
                                                                        <span class="extra">{{ ev.get_special_text }}</span>
                                                                    {% endif %}
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="accordion-item">
                                                    <h4 class="accordion-item-head open">{% trans "Venue" %}</h4>
                                                    <div class="accordion-item-content">
                                                        {% if event.location_title %}
                                                            <p data-latitude="{{ event.latitude|stringformat:"%f" }}" data-longitude="{{ event.longitude|stringformat:"%f" }}">
                                                                <strong>{{ event.location_title }}</strong><br />
                                                                {% if event.street_address %}{{ event.street_address }}<br />{% endif %}
                                                                {% if event.street_address2 %}{{ event.street_address2 }}<br />{% endif %}
                                                                {% if event.city %}{{ event.postal_code }} {{ event.city }}<br />{% endif %}
                                                            </p>
                                                        {% elif event.production.location_title %}
                                                            <p data-latitude="{{ event.production.latitude|stringformat:"%f" }}" data-longitude="{{ event.production.longitude|stringformat:"%f" }}">
                                                                <strong>{{ event.production.location_title }}</strong><br />
                                                                {% if event.production.street_address %}{{ event.production.street_address }}<br />{% endif %}
                                                                {% if event.production.street_address2 %}{{ event.production.street_address2 }}<br />{% endif %}
                                                                {% if event.production.city %}{{ event.production.postal_code }} {{ event.production.city }}<br />{% endif %}
                                                            </p>
                                                        {% endif %}
                                                        {% for location in event.ev_or_prod_play_locations %}
                                                            <a class="black block" href="{{ location.get_url_path }}" data-latitude="{{ location.latitude|stringformat:"%f" }}" data-longitude="{{ location.longitude|stringformat:"%f" }}">
                                                                <strong>{{ location.title }}</strong><br />
                                                                {% if location.street_address %}{{ location.street_address }}<br />{% endif %}
                                                                {% if location.street_address2 %}{{ location.street_address2 }}<br />{% endif %}
                                                                {% if location.city %}{{ location.postal_code }} {{ location.city }}<br />{% endif %}
                                                            </a>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                                {% if event.ticket_status or event.ev_or_prod_free_entrance or event.ev_or_prod_price_from or event.ev_or_prod_price_information or event.ev_or_prod_tickets_website %}
                                                    <div class="accordion-item">
                                                        <h4 class="accordion-item-head">{% trans "Tickets" %}</h4>
                                                        <div class="accordion-item-content">
                                                            {% if event.ticket_status %}
                                                                <p>{{ event.get_ticket_status_display }}<p>
                                                            {% endif %}
                                                            {% if event.ev_or_prod_free_entrance %}
                                                                <p>{% trans "Free entrance" %}</p>
                                                            {% else %}
                                                                <p>
                                                                    {% if event.ev_or_prod_price_from %}
                                                                        {{ event.ev_or_prod_price_from }} EUR
                                                                    {% endif %}
                                                                    {% if event.ev_or_prod_price_till %}
                                                                        - {{ event.ev_or_prod_price_till }} EUR
                                                                    {% endif %}
                                                                    {% if event.ev_or_prod_price_information %}
                                                                        {{ event.ev_or_prod_price_information }}
                                                                    {% endif %}
                                                                </p>
                                                                {% if event.ev_or_prod_tickets_website %}
                                                                    <p><a href="{{ event.ev_or_prod_tickets_website }}" target="_blank">{% trans "Buy tickets" %}</a></p>
                                                                {% endif %}
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                {% endif %}
                                                {% if event.production.ensembles %}
                                                    <div class="accordion-item">
                                                        <h4 class="accordion-item-head">{% trans "Ensembles" %}</h4>
                                                        <div class="accordion-item-content">
                                                            <p>{{ event.production.ensembles }}</p>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                                {% if event.production.in_program_of.exists %}
                                                    <div class="accordion-item">
                                                        <h4 class="accordion-item-head">{% trans "In program of" %}</h4>
                                                        <div class="accordion-item-content">
                                                            {% for location in event.production.in_program_of.all %}
                                                                <p>{{ location.title }}</p>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                {% endif %}
                                                {% if event.production.organizers or event.organizers %}
                                                    <div class="accordion-item">
                                                        <h4 class="accordion-item-head">{% trans "Organizers" %}</h4>
                                                        <div class="accordion-item-content">
                                                            {% if event.production.organizers %}
                                                                <p>{{ event.production.organizers }}</p>
                                                            {% endif %}
                                                            {% if event.organizers %}
                                                                <p>{{ event.organizers }}</p>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                {% endif %}
                                                {% if event.production.in_cooperation_with %}
                                                    <div class="accordion-item">
                                                        <h4 class="accordion-item-head">{% trans "In cooperation with" %}</h4>
                                                        <div class="accordion-item-content">
                                                            <p>{{ event.production.in_cooperation_with }}</p>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                                {% if event.production.age_from or event.production.edu_offer_website or event.ev_or_prod_age_text %}
                                                    <div class="accordion-item">
                                                        <h4 class="accordion-item-head">{% trans "Age and Education" %}</h4>
                                                        <div class="accordion-item-content">
                                                            {% if event.ev_or_prod_age_text %}
                                                                <p>{{ event.ev_or_prod_age_text|disarm_user_input }}</p>
                                                            {% endif %}
                                                            {% if event.production.age_from and event.production.age_till %}
                                                                <p>{{ event.production.age_from }}{% if event.production.age_till %} - {{ event.production.age_till }}{% endif %}</p>
                                                            {% endif %}
                                                            {% if event.production.edu_offer_website %}
                                                                <p><strong>Educational offer: </strong><a href="{{ event.production.edu_offer_website }}">{{ event.production.edu_offer_website|humanize_url:30 }}</a></p>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                                    
                            <!-- additional content (accordion) -->
                            <div class="additional">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xs-12 full">
                                            <div class="accordion content-accordion">
                                                {% if event.ev_or_prod_leaderships %}
                                                    <div class="accordion-item">
                                                        <h4 class="accordion-item-head">{% trans "Staff" %}</h4>
                                                        <div class="accordion-item-content">
                                                            <dl>
                                                                {% for leadership in event.ev_or_prod_leaderships %}
                                                                    {% if leadership.function %}
                                                                        <dt>{{ leadership.function }}</dt>
                                                                    {% endif %}
                                                                    <dd>{{ leadership.person }}</dd>
                                                                {% endfor %}
                                                            </dl>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                                {% if event.ev_or_prod_involvements %}
                                                    <div class="accordion-item">
                                                        <h4 class="accordion-item-head">{% trans "Cast" %}</h4>
                                                        <div class="accordion-item-content">
                                                            <dl>
                                                                {% for involvement in event.ev_or_prod_involvements %}
                                                                    {% if involvement.involvement_type.title or involvement.involvement_role or involvement.involvement_instrument%}
                                                                        <dt>{{ involvement.involvement_type.title }} {{ involvement.involvement_role }} {{ involvement.involvement_instrument }}</dt>
                                                                    {% endif %}
                                                                    <dd>{{ involvement.person }}</dd>
                                                                {% endfor %}
                                                            </dl>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                                {% if event.ev_or_prod_authorships %}
                                                    <div class="accordion-item">
                                                        <h4 class="accordion-item-head">{% trans "Authors" %}</h4>
                                                        <div class="accordion-item-content">
                                                            <dl>
                                                                {% for authorship in event.ev_or_prod_authorships %}
                                                                    {% if authorship.authorship_type.title %}
                                                                        <dt>{{ authorship.authorship_type.title }}</dt>
                                                                    {% endif %}
                                                                    <dd>{{ authorship.person }}</dd>
                                                                {% endfor %}
                                                            </dl>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                                {% if event.ev_or_prod_sponsors %}
                                                    <div class="accordion-item">
                                                        <h4 class="accordion-item-head">{% trans "Presented by" %}</h4>
                                                        <div class="accordion-item-content">
                                                            {% for sponsor in event.ev_or_prod_sponsors %}
                                                                <div class="sponsor">
                                                                    {% if sponsor.website %}
                                                                        <a href="{{ sponsor.website }}" target="_blank">
                                                                    {% endif %}
                                                                    {% if sponsor.image %}
                                                                        <img alt="{{ sponsor.title }}" src="{{ MEDIA_URL }}{{ sponsor.image.path }}" />
                                                                    {% else %}
                                                                        {{ sponsor.title }}
                                                                    {% endif %}
                                                                    {% if sponsor.website %}
                                                                        </a>
                                                                    {% endif %}
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                {% endif %}
                                                {% if event.ev_or_prod_contents %}
                                                    <div class="accordion-item">
                                                        <h4 class="accordion-item-head">{% trans "Contents" %}</h4>
                                                        <div class="accordion-item-content">
                                                            {{ event.ev_or_prod_contents|disarm_user_input }}
                                                        </div>
                                                    </div>
                                                {% endif %}
                                                {% if event.ev_or_prod_concert_programm %}
                                                    <div class="accordion-item">
                                                        <h4 class="accordion-item-head">{% trans "Concert program" %}</h4>
                                                        <div class="accordion-item-content">
                                                            {{ event.ev_or_prod_concert_programm|disarm_user_input }}
                                                        </div>
                                                    </div>
                                                {% endif %}
                                                {% if event.ev_or_prod_supporting_programm %}
                                                    <div class="accordion-item">
                                                        <h4 class="accordion-item-head">{% trans "Supporting program" %}</h4>
                                                        <div class="accordion-item-content">
                                                            {{ event.ev_or_prod_supporting_programm|disarm_user_input }}
                                                        </div>
                                                    </div>
                                                {% endif %}
                                                {% if event.ev_or_prod_work_info %}
                                                    <div class="accordion-item">
                                                        <h4 class="accordion-item-head">{% trans "Work info" %}</h4>
                                                        <div class="accordion-item-content">
                                                            {{ event.ev_or_prod_work_info|disarm_user_input }}
                                                        </div>
                                                    </div>
                                                {% endif %}
                                                {% if event.ev_or_prod_press_text %}
                                                    <div class="accordion-item">
                                                        <h4 class="accordion-item-head">{% trans "Press text" %}</h4>
                                                        <div class="accordion-item-content">
                                                            {{ event.ev_or_prod_press_text|disarm_user_input }}
                                                        </div>
                                                    </div>
                                                {% endif %}
                                                {% if event.ev_or_prod_remarks %}
                                                    <div class="accordion-item">
                                                        <h4 class="accordion-item-head">{% trans "Remarks" %}</h4>
                                                        <div class="accordion-item-content">
                                                            {{ event.ev_or_prod_remarks|disarm_user_input }}
                                                        </div>
                                                    </div>
                                                {% endif %}
                                                {% if event.characteristics.exists or event.production.characteristics.exists or event.get_rendered_other_characteristics %}
                                                    <div class="accordion-item">
                                                        <h4 class="accordion-item-head">{% trans "Characteristics" %}</h4>
                                                        <div class="accordion-item-content">
                                                            {% for ch in event.characteristics.all %}
                                                                {{ ch.title }}<br/>
                                                            {% endfor %}
                                                            {% for ch in event.production.characteristics.all %}
                                                                {{ ch.title }}<br/>
                                                            {% endfor %}
                                                            {{ event.get_rendered_other_characteristics }}
                                                        </div>
                                                    </div>
                                                {% endif %}
                                                {% if event.ev_or_prod_credits %}
                                                    <div class="accordion-item">
                                                        <h4 class="accordion-item-head">{% trans "Credits" %}</h4>
                                                        <div class="accordion-item-content">
                                                            {{ event.ev_or_prod_credits|disarm_user_input }}
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        {% other_productions current_event=event %}
                    </div>
                </div>
            </div>
        </div>
    {% endwith %}
    {% include "utils/page_controls.html" %}
{% endblock %}