{% load base_tags i18n image_modifications fb_tags sekizai_tags %}
<div id="top_slider">
    <div class="slider" data-image-ratio="1060:544" data-slider-timer="5000">
        <ul class="slider-body row">
            {% for slide in slides %}
                <li class="slider-item">
                    <a href="{{ slide.link }}">
                        <img src="{{ UPLOADS_URL }}{{ slide.path|modified_path:"top_slider_image" }}" alt="{{ slide.title|striptags|escape }}" />
                        {% if slide.title or slide.subtitle %}
                            <div class="slider-item-text-wrapper">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="slider-item-text">
                                                {% if slide.title %}<h5>{{ slide.title|striptags }}</h5>{% endif %}
                                                {% if slide.subtitle %}<p>{{ slide.subtitle|striptags }}</p>{% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% with slide.path|file_description as file_desc %}
                            {% if file_desc.author %}<span class="photo-credits-over">{% trans "Photo" %}: {{ file_desc.author }}</span>{% endif %}
                        {% endwith %}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% now "u" as microseconds %}
<script nonce="{{ microseconds }}">
    $(document).ready(function() {

        var $top_slider = $('#top_slider');
        var $slider = $('.slider', $top_slider);
        var $text = $('.slider-item-text-wrapper', $slider);
        var $credits = $('.photo-credits-over', $slider);
        var ratio = $slider.data("image-ratio").split(':');

        var centerSlider = function() {

            var width = $top_slider.width();
            var height_1 = width * ratio[1] / ratio[0];
            var height_2 = (height_1 > ratio[1]) ? ratio[1] : height_1;
            var margin = Math.round((height_1 - height_2) /4);
            $slider.css('margin-top', '-' + margin + 'px');
            $text.css('top', (height_1 - margin*3) + 'px');
            $credits.css('top', (height_1 - margin*3) + 'px');
        };

        $(document).ready(centerSlider);
        $(window).resize(centerSlider);
    });

</script>
{% add_data "script_nonces" " 'nonce-"|add:microseconds|add:"'" %}