{% extends "base_sidebar.html" %}
{% load base_tags i18n crispy_forms_tags cms_tags %}

{% block title %}{% trans "Registration" %} - {% trans "Job Offer" %}{% endblock %}

{% block headline %}
    <h1>{% trans "Jobs" %}</h1>
    <h2>{% trans "New Job Offer" %}</h2>
{% endblock %}

{% block sidebar %}
    {% include "utils/step_list.html" %}
{% endblock %}

{% block details %}
    {% crispy form "ccb_form" %}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'job_offer_list_global' %}">{% page_attribute "page_title" %}</a></li>
    <li>{% trans "Add new job offer" %}</li>
{% endblock %}
