{% extends "marketplace/details_base.html" %}
{% load i18n base_tags auth_extended compressed compressed_jetson %}

{% block doctype %}
    <!DOCTYPE html SYSTEM "{{ website_url }}{{ jetson_media_url|slice:"1:" }}dtd/xhtml1-iframe.dtd">
{% endblock %}

{% block details %}
    <div id="dyn_details" class="dyn_section">
        {% include "marketplace/profile/details.html" %}
    </div>
    <hr />

    {% if object.are_contacts_displayed %}
        <div id="address">
            {% if object.get_contacts %}
                {% with object.get_contacts.0 as contact %}
                    <div id="dyn_contact" class="dyn_section">
                        {% include "marketplace/profile/contact.html" %}
                    </div>
                {% endwith %}
            {% endif %}
        </div>
    {% endif %}
    <hr />

    <div id="dyn_categories" class="dyn_section">
        {% include "marketplace/profile/categories.html" %}
    </div>
    <hr />

    {% if object.postal_address.get_geoposition.latitude %}
    <div id="dyn_map">
        <h6 class="section-header">
            {% trans "Map" %}
        </h6>
        <div class="section-details">
            <div id="gmap_view"></div>
        </div>
    </div>
    {% endif %}
    
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="/">{% trans "Home" %}</a>
        <span class="b-sep"><span>::</span></span><a href="/{{ URL_ID_JOB_OFFERS }}/">{% trans "Jobs" %}</a>
        <span class="b-sep"><span>::</span></span><span>{{ object.position }}</span>
    </div>
{% endblock %}

{% block extrabody %}
    {{ block.super }}
    {% if_has_perm "marketplace.change_joboffer" object %}
        {% compressed_js "job_offer_details" %}
        {% compressed_jetson_js "autocomplete" %}
    {% end_if_has_perm %}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;language={{ LANGUAGE_CODE }}&amp;region=DE"></script>
    <script type="text/javascript">
    self.aGeopositions = [];
    {% with object.postal_address.get_geoposition as geopos %}
        {% if geopos.latitude and geopos.longitude %}
        self.aGeopositions[0] = [{{ geopos.latitude }}, {{ geopos.longitude }}];
        {% endif %}
    {% endwith %}
    </script>
    {% compressed_js "map" %}
{% endblock %}

