{% extends "marketplace/details_base.html" %}
{% load i18n base_tags auth_extended compressed cms_tags %}

{% block details %}
    {% include "marketplace/profile/details.html" %}
    {% include "marketplace/profile/contact.html" %}
    {% include "marketplace/profile/categories.html" %}
    {% include "marketplace/profile/map.html" %}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'job_offer_list_global' %}">{% page_attribute "page_title" %}</a></li>
    <li>{{ object.position }}</li>
{% endblock %}


{% block javascript %}
    {{ block.super }}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?language=de&amp;region=DE"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/locating.js"></script>
{% endblock %}