.DS_Store
/media/*
!/media/.gitkeep
/static/*
!/static/.gitkeep
/tmp/*
!/tmp/.gitkeep
.sass-cache
*.pyc
config.codekit
codekit-config.json
.sass-cache
/site_static/site/scss/prepros.cfg
/museumsportal/settings/secrets.json
/deployment/local/commands/*.json
*.backup
/settings
/local_settings.py
