*.pyc
local_settings*
.sass-cache
/tmp/
/uploads/
/media/
/settings_check_links.py
.DS_Store
/static/
nohup.out
graphs/
misc/
json/
mysqldumps_before_delete/
mysqldumps_after_delete/
/urls/
sql/
dump.rdb
img - Kopie
mapping/CCB Mapping 01122015/
mapping/Josi/
mapping/excel/
mapping/misc/
mapping/numbers/
prepros.cfg
