.DS_Store
*.pyc
ruhrbuehnen/media/*
!ruhrbuehnen/media/.gitkeep
ruhrbuehnen/static/*
!ruhrbuehnen/static/.gitkeep
ruhrbuehnen/tmp/*
!ruhrbuehnen/tmp/.gitkeep
ruhrbuehnen/settings/secrets.json
.sass-cache
.codekit-cache
config.codekit
koala-config.json
sql_dumps/
prepros.cfg
misc/
sql/
deployment/local/commands/*.json
deployment/local/commands/*.backup