**/*.min.js
**/*.min.css
media/
templates/default/media_gallery/includes/media_file.js
apps/cms_extensions/static/cms/js/plugins/cms.toolbar.js
templates/default/settings_base.js
templates/default/settings.js
**/*.py
**/*.pyc
**/*.txt
**/*.psd
