aldryn-search==0.2.0
BabelDjango~=0.2.2
beautifulsoup4~=4.0.5
cmsplugin-filer~=0.10.1
dicttoxml~=1.5.6
Django~=1.7.10
django-activity-stream~=0.6.0
django-bootstrap-pagination~=1.5.1
django-chronograph~=0.3.1
django-cms~=3.2.0
#django-compress~=1.0.1
django-crispy-forms~=1.5.2
django-debug-toolbar~=1.4
django-grappelli~=2.6.5
django-haystack~=2.4.1
django-jsonfield~=0.9.15
django-picklefield~=0.3.1
django-pipeline~=1.2.24
django-recaptcha~=1.0.4
django-reversion~=1.8.5
django-rosetta~=0.7.6
django-tinymce~=1.5.3
django-uni-form~=0.8.0
djangocms-column~=1.5
djangocms-file~=0.1
djangocms-flash~=0.2.0
djangocms-googlemap~=0.3
djangocms-inherit~=0.1
djangocms-installer~=0.7.9
djangocms-link~=1.6.2
djangocms-picture~=0.1
djangocms-style~=1.5
djangocms-teaser~=0.1
djangocms-text-ckeditor~=2.6.0
djangocms-video~=0.1
facebook-sdk~=0.3.0
guess-language~=0.2
hashids==1.1.0
huey==1.2.0
mailsnake~=1.6.1
memcache-toolbar~=0.5.2
MySQL-python~=1.2.5
newrelic~=2.54.0
poster~=0.8.1
--allow-external pyDes
--allow-unverified pyDes
pyDes~=1.2
pyExcelerator~=0.6.4.1
python-social-auth
recaptcha-client~=1.0.6
redis~=2.10.3
selenium~=2.46.0
twython~=2.10.1
vobject~=0.8.1rc0
Whoosh~=2.5.7
wsgiref~=0.1.2
raven
pytz
