BabelDjango==0.2.2
beautifulsoup4==4.0.5
cmsplugin-filer==0.10.1
dicttoxml==1.5.6
Django==1.7.9
django-appconf==1.0.1
django-celery==3.1.16
django-chronograph==0.3.1
django-classy-tags==0.6.2
django-cms==3.1.2
django-compress==1.0.1
django-crispy-forms==1.4.0
django-debug-toolbar==0.10.2
django-filer==0.9.9
django-grappelli==2.6.5
django-haystack==1.2.7
django-mptt==0.6.1
django-picklefield==0.3.1
django-pipeline==1.2.24
django-polymorphic==0.7.1
django-recaptcha==1.0.4
django-reversion==1.5.1
django-rosetta==0.7.6
django-sekizai==0.8.2
django-tagging-autocomplete==0.4.2
django-tinymce==1.5.3
django-treebeard==3.0
django-uni-form==0.8.0
djangocms-admin-style==0.2.7
easy-thumbnails==2.2
facebook-sdk==0.3.0
guess-language==0.2
html5lib==0.999
johnny-cache==1.6.1a0
mailsnake==1.6.1
memcache-toolbar==0.5.2
MySQL-python==1.2.5
Pillow==2.8.1
poster==0.8.1
--allow-external pyDes
--allow-unverified pyDes
pyDes==1.2
pyExcelerator==0.6.4.1
recaptcha-client==1.0.6
selenium==2.46.0
twython==2.10.1
Unidecode==0.4.18
vobject==0.8.1rc0
Whoosh==2.3.0
