BabelDjango==0.2.2
beautifulsoup4==4.0.5
dicttoxml==1.5.6
Django==1.6.11
-e git://github.com/archatas/django-base-libs.git@54274a42ad457eb7ba8ba6affe926e5e4dacd286#egg=django_base_libs-master
django-celery==3.1.16
django-chronograph==0.3.1
django-compress==1.0.1
django-crispy-forms==1.4.0
django-debug-toolbar==0.10.2
-e git://github.com/archatas/django-filebrowser@444d0226633f9a41f407fdfb4c24f4853f9f8256#egg=django_filebrowser-master
django-grappelli==2.4.12
django-haystack==1.2.7
django-mptt==0.5.1
django-picklefield==0.3.1
django-pipeline==1.2.24
django-recaptcha==0.0.6
django-reversion==1.5.1
django-rosetta==0.6.5
-e git://github.com/archatas/django-tagging.git@211d9f526e5a8bb1a63c0f6047ec390a9ae3eb04#egg=django_tagging-dev
django-tagging-autocomplete==0.4.2
django-tinymce==1.5.3
django-uni-form==0.8.0
facebook-sdk==0.3.0
guess-language==0.2
johnny-cache==1.6.1a0
mailsnake==1.6.1
memcache-toolbar==0.5.2
MySQL-python==1.2.5
Pillow==2.8.1
poster==0.8.1
--allow-external pyDes
--allow-unverified pyDes
pyDes==1.2
pyExcelerator==0.6.4.1
recaptcha-client==1.0.6
selenium==2.46.0
South==0.7.3
twython==2.10.1
vobject==0.8.1rc0
Whoosh==2.3.0
