.magazine_overview article section {
  margin-bottom: -30px; }
  .magazine_overview article section.featured .editorial-content:nth-child(3n) {
    margin-right: 0px; }
  .magazine_overview article section.featured .editorial-content:nth-child(3n+1) {
    clear: left; }
  .magazine_overview article section.nonfeatured:empty {
    display: none !important; }
  .magazine_overview article section.nonfeatured .editorial-content {
    font-size: 13px;
    line-height: 21px;
    color: rgba(0,0,0,0.75);
    width: 100%;
    margin-right: 20px; }
    .magazine_overview article section.nonfeatured .editorial-content:nth-child(4n) {
      margin-right: 0px; }
    .magazine_overview article section.nonfeatured .editorial-content:nth-child(4n+1) {
      clear: both; }
    .magazine_overview article section.nonfeatured .editorial-content .img {
      display: block;
      overflow: hidden;
      height: 160px !important;
      width: 100% !important;
      background-size: cover;
      background-position: top;
      margin-bottom: 10px !important; }
    .magazine_overview article section.nonfeatured .editorial-content .description {
      font-size: inherit;
      line-height: inherit;
      display: none; }
    .magazine_overview article section.nonfeatured .editorial-content .title {
      font-size: 16px;
      line-height: 22px; }
      .magazine_overview article section.nonfeatured .editorial-content .title h3 {
        font-size: inherit;
        line-height: inherit;
        font-weight: 500;
        padding: 0px;
        margin: 0px;
        margin-bottom: 7px; }
    .magazine_overview article section.nonfeatured .editorial-content .more {
      margin-top: -10px;
      display: none; }
      .magazine_overview article section.nonfeatured .editorial-content .more a {
        font-size: 14px;
        line-height: 20px;
        color: white;
        padding: 5px;
        padding-left: 8px;
        padding-right: 8px;
        background-color: black; }
        .magazine_overview article section.nonfeatured .editorial-content .more a:hover {
          opacity: 0.9 !important; }
  .magazine_overview article section .editorial-content {
    width: 100%;
    float: left !important;
    position: relative;
    padding-bottom: 30px !important;
    margin-bottom: 50px !important;
    border-bottom: 1px solid #f2f2f2 !important; }
    .magazine_overview article section .editorial-content.cms_placeholder-bar {
      width: 100%; }
    .magazine_overview article section .editorial-content.cms_placeholder {
      clear: none; }
    .magazine_overview article section .editorial-content .img {
      display: block;
      overflow: hidden;
      height: 220px !important;
      width: 320px !important;
      background-size: cover;
      background-position: top;
      margin-bottom: 20px !important;
      margin-right: 40px !important;
      float: left;
      position: relative;
      background-color: rgba(0,0,0,0.05);
      box-shadow: inset 0 0 10px rgba(0,0,0,0.05);
      -webkit-transition-property: all;
      -webkit-transition-duration: 0.25s;
      -webkit-transition-timing: ease-in-out; }
      .magazine_overview article section .editorial-content .img:hover {
        opacity: 0.9; }
        .magazine_overview article section .editorial-content .img:hover .caption {
          -webkit-transform: translate3d(0px, 0, 0) !important;
          -moz-transform: translate3d(0px, 0, 0) !important;
          -o-transform: translate3d(0px, 0, 0) !important;
          transform: translate3d(0px, 0, 0) !important; }
      .magazine_overview article section .editorial-content .img .caption {
        position: absolute;
        width: 100%;
        bottom: 0px;
        background-color: white;
        color: rgba(0,0,0,0.75);
        font-size: 12px;
        line-height: 18px;
        padding-top: 5px !important;
        -webkit-transform: translate3d(0px, 100%, 0) !important;
        -moz-transform: translate3d(0px, 100%, 0) !important;
        -o-transform: translate3d(0px, 100%, 0) !important;
        transform: translate3d(0px, 100%, 0) !important;
        -webkit-transition-property: all;
        -webkit-transition-duration: 0.25s;
        -webkit-transition-timing: ease-in-out; }
    .magazine_overview article section .editorial-content .description {
      font-size: 20px;
      line-height: 32px; }
    .magazine_overview article section .editorial-content .title {
      font-size: 30px;
      line-height: 32px; }
      .magazine_overview article section .editorial-content .title h3 {
        font-size: inherit;
        line-height: inherit;
        font-weight: 500;
        padding: 0px;
        margin: 0px;
        margin-bottom: 7px; }
    .magazine_overview article section .editorial-content .more {
      margin-top: -10px; }
      .magazine_overview article section .editorial-content .more a {
        font-size: 14px;
        line-height: 20px;
        color: white;
        padding: 5px;
        padding-left: 8px;
        padding-right: 8px;
        background-color: black; }
        .magazine_overview article section .editorial-content .more a:hover {
          opacity: 0.9 !important; }
