{% extends "people/details_base.html" %}
{% load i18n base_tags navigation_tags auth_extended %}

{% block details %}
    {% include "site_specific/count_of.html" %}
    <div class="network_details">
        <div class="person">
            {% if object_list %}

                {% include "utils/sorting_view_pagination_header.html" %}

                {% block breadcrumbs %}
                    <div class="breadcrumbs">
                        <div>
                            <a href="{{ object.get_url_path }}network/">{% trans "Network" %}</a>
                            ::
                            <a class="active" href="#">{% trans "Contacts to Institutions" %}</a>
                        </div>
                    </div>
                {% endblock %}

                {% for institution in object_list %}
                    <div class="info {% cycle odd,even %} expanded"
                         onclick="redirect('{{ institution.get_url_path }}');">
                        <div class="info_address">
                            <h5>
                                <a href="{{ institution.get_url_path }}">{{ institution.title|escape }} </a>
                                <br/>{% if institution.title2|escape %}
                                <span class="sub_titel">{{ institution.title2|escape }}</span>{% endif %}
                            </h5>
                            {% with institution.get_primary_contact as contact %}
                                {% if contact %}
                                    {% if contact.street_address or contact.country_name %}
                                        <address>
                                            {% if contact.street_address %}
                                                {{ contact.street_address|escape }}
                                                <br/>
                                            {% endif %}
                                            {% if contact.street_address2 %}
                                                {{ contact.street_address2|escape }}
                                                <br/>
                                            {% endif %}
                                            {% if contact.street_address3 %}
                                                {{ contact.street_address3|escape }}
                                                <br/>
                                            {% endif %}
                                            {% if contact.postal_code %}
                                                {{ contact.postal_code|escape }} {{ contact.city|escape }}
                                                <br/>
                                            {% endif %}
                                            {% if contact.country_name %}
                                                {{ contact.country_name }}
                                                <br/>
                                            {% endif %}
                                        </address>
                                    {% endif %}
                                {% endif %}
                            {% endwith %}
                        </div>
                        <div class="info_facts">
                            {% if institution.get_institution_types %}
                                <div class="type">
                                    {% for institution_type in institution.get_institution_types %}{% if not forloop.first %}, {% endif %}{{ institution_type.get_title|escape }}{% endfor %}</div>
                            {% endif %}

                            {% if institution.get_contacts %}
                                {% for phone in institution.get_contacts.0.get_phones %}
                                    <p>
                                        {% if phone.type %}{{ phone.type }}: {% endif %}+{{ phone.country }}-{{ phone.area }}-{{ phone.number }}</p>
                                {% endfor %}
                                {% for url in institution.get_contacts.0.get_urls %}
                                    <p>{% if url.type %}{{ url.type }}: {% endif %}<a href="{{ url.link|escape }}"
                                                                                      onclick="open_new_window(event)">
                                        {% with url.link|slice:"0:30"|escape as sliced %}{{ sliced }}
                                            {% with url.link|escape as not_sliced %}{% ifnotequal sliced not_sliced %}...{% endifnotequal %}{% endwith %}{% endwith %}</a>
                                    </p>
                                {% endfor %}
                            {% endif %}

                            {% if institution.get_description %}
                                {% with institution.get_description|striptags|truncatewords:"60" as filtered_desc %}{% with filtered_desc|truncatewords:"40" as shortened_desc %}
                                    <p class="description hidable">{{ shortened_desc }}
                                        {% ifnotequal shortened_desc filtered_desc %}
                                            <a href="{{ institution.get_url_path }}">{% trans "read more" %}</a>
                                        {% endifnotequal %}
                                    </p>
                                {% endwith %}{% endwith %}
                            {% endif %}
                        </div>
                        {% with object as person %}
                            {% include "people/controls.html" %}
                        {% endwith %}
                        <div class="cleaner"></div>
                    </div>
                {% endfor %}

                {% include "utils/pagination_footer.html" %}

            {% else %}
                <p class="nothing">{% trans "No objects found within the selected conditions." %}</p>
            {% endif %}
            <div class="cleaner"></div>
        </div>
    </div>
{% endblock %}
