{% extends "base_main.html" %}

{% block bodyclass %}{{ block.super }} remove-navigation-gap{% endblock bodyclass %}

{% block content %}
    <div class="header-image">
        <img src="{{ STATIC_URL }}site/img/styleguide.jpg" />
    </div>

    <div class="container">
        <div class="background height-offset">
            <div style="width: 100%; text-align:center;">
                <ul style="list-style:none; margin:10px auto 50px;" class="col-xs-12">
                    <li style="display:inline-block; margin:0 5px;"><a href="{% url 'styleguide' %}" style="text-decoration:none; font-weight:bold; text-transform:uppercase; color:black;">General</a></li>
                    <li style="display:inline-block; margin:0 5px;"><a href="{% url 'styleguide' page='constants' %}" style="text-decoration:none; font-weight:bold; text-transform:uppercase; color:black;">Constants</a></li>
                    <li style="display:inline-block; margin:0 5px;"><a href="{% url 'styleguide' page='fonts' %}" style="text-decoration:none; font-weight:bold; text-transform:uppercase; color:black;">Fonts</a></li>
                    <li style="display:inline-block; margin:0 5px;"><a href="{% url 'styleguide' page='content' %}" style="text-decoration:none; font-weight:bold; text-transform:uppercase; color:black;">Content</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="background">
        {% block styleguide %}
            <div class="container">

                <h2>Body classes</h2>
                <p>The body and the html tag are getting one or more of the following classes added to:<br/>
                <br/>
                is-xs: the page is shown in xs size<br/>
                is-sm: the page is shown in sm size<br/>
                is-md: the page is shown in md size<br/>
                is-lg: the page is shown in lg size<br/>
                is-xl: the page is shown in xl size<br/>
                <br/>
                is-horizontal: the page is shown in horizontal view<br/>
                is-vertical: the page is shown in vertical view<br/>
                <br/>
                cms-edit: the page is in edit mode (only body tag)
                <br/><br/></p>

                <h2>Bootstrap</h2>
                <p>This page is based on a very narrow bootstrap version which only includes the grid system and some general styles like visible and hidden.</p>
                <p>I added a fifth size/break point called "xl" -> extra large which is larger than large ;-). You can use all the visible-xl's and hidden-xl. It is not included in the grid system. Use "lg" instead. The class "is-xl" is added to the body/html tag and you can use it for the responsive loading of images.
                <br/><br/>
                On pages with functionality taken over from previous pages (like the form pages) the full bootstrap styles might be still available.
                <br/><br/></p>

                <h2>jQuery / umbrellajs</h2>
                <p>The page is not using jQuery but umbrellajs on the general pages: <a href="https://umbrellajs.com/documentation" target="_blank">https://umbrellajs.com/documentation</a>. <br/>
                Use "u" to use umbrellajs just like you use "$" to use jQuery.<br/>
                I added the following commands to umbrellajs:<br/>
                <br/>
                <b>add:</b> creating a new u object by adding another, returning the new object<br/>
                <b>u.ajax:</b> loads text via an ajax call (for more see below)<br/>
                <b>u.clearTimeout:</b> the equivalent to window.clearTimeout for u.setTimeout<br/>
                <b>css:</b> equivalent of jQueries css function<br/>
                <b>each$:</b> equivalent of jQueries each function<br/>
                <b>height:</b> equivalent of jQueries height function<br/>
                <b>next:</b> returns the next u(node) in the DOM<br/>
                <b>previous:</b> returns the previous u(node) in the DOM<br/>
                <b>ready:</b> equivalent of jQueries ready function<br/>
                <b>swipeOn:</b> enables the event swipe for an object (needs to be done only ones per object)<br/>
                <b>swipeOff:</b> disables the event swipe for an object<br/>
                <b>off:</b> added second parameter "listener" to remove only specific event/listener combination<br/>
                <b>on2:</b> alternative "on" with possibility to remove event/listener combination later without removing other listeners<br/>
                <b>u.setTimeout:</b> an alternative setTimeout function based on window.requestAnimationFrame (uses window.setTimeout as fallback)<br/>
                <b>width:</b> equivalent of jQueries width function<br/>
                <br/>
                <b>click:</b> shortcut for on("click", ...)<br/>
                <b>resize:</b> shortcut for on("resize", ...)<br/>
                <b>swipe:</b> adds the event listener swipe (for more see below)<br/>
                <b>transition:</b> event for detecting the end of a css transition (if supported, the event name will be in u.transition_event, otherwise u.transition_event will not exist after call)<br/>
                <br/>
                <b>u.ajax:</b>
                </p>
<pre>
/**
 * Loads text via an ajax call.
 * Calls the callback function with the returned text as first parameter (string) and the success as second (boolean).
 * Adds always a "cache" value if the method is "post".
 *
 * Returns the success of the call, not of the respons.
 *
 *
 * @param url             the url of the request
 * @param callback        a callback function
 * @param method          the method "get" || "post" (optional, default "get")
 * @param values          values in the form of an associative array which are getting sent with the call (optional)
 * @param mine            the mine type of the request (optional, default "text/plain")
 * @param header          an associatives array of header parameters (optional)
 * @param credentials     indicates if the credentials of the site should be sent with the call (optional, default: false)
 *
 * @return	boolean
 */
</pre><br/>

                <p><b>swipe:</b></p>
<pre>
/**
 * Adds the event listener swipe to an object.
 * The event swipe needs to be enabled first for the object by using swipeOn().
 * The callback function receives as second parameter eather "left", "right", "up", "down", "touch" or "none".
 * The callback function receives as third and fourth parameter the event objects of the touchstart and touchend event.
 *
 * E.g.: u_object.swipeOn().swipe(function(e, direction) { if (direction == "left") ...; });
 */
</pre><br/>

                <p>On pages with functionality taken over from previous pages (like the form pages) jQuery might be still available.
                <br/><br/></p>

                <h2>Responsive image loading</h2>
                <p>To use the responsive image loading set up an image tag like this:</p>
                <pre>&lt;img class="responsive-xs" data-responsive-src="image/path" src="about:blank" style="display:none;" /&gt;</pre>
                <p><br/>
                If the screen is in xs mode, the image path will be transfered to the src attribute and the display style will be removed.
                If the screen is not in xs mode, the src will be set to "about:blank" and the display style to "none" (if not already).<br/>
                Bundle multiple image tags with different responsive classes together to provide images for every screen size.<br/>
                <br/>
                Possible responsive classes are:<br/>
                responsive-[xs,sm,md,lg,xl]<br/>
                responsive-[xs,sm,md,lg,xl]-[horizontal,vertical]<br/>
                <br/>
                You can add multiple responsive classes to one image tag.<br/>
                <br/>
                Fires the events "imageset" and "imageunset" with the image node as parameter each time an image src gets set or unset.
                <br/><br/></p>

                <h2>The template</h2>
                <p>Extend your template from "base_main.html".<br>
                Place your content inside <b>{&#37; block content &#37;}...{&#37; endblock &#37;}</b>.<br>
                Add javascript in the header to <b>{&#37; block script &#37;}...{&#37; endblock &#37;}</b>.<br>
                Add javascript in the footer to <b>{&#37; block js &#37;}...{&#37; endblock &#37;}</b>.<br>
                Add stylesheets to <b>{&#37; block stylesheet &#37;}...{&#37; endblock &#37;}</b>.<br>
                Redefine open graph definitions in <b>{&#37; block open_graph &#37;}...{&#37; endblock &#37;}</b>.<br>
                Overwrite or append metatags in <b>{&#37; block meta_tags &#37;}...{&#37; endblock &#37;}</b> <i>(open graph block included)</i>.<br>
                Use the <b>{&#37; block title &#37;}...{&#37; endblock &#37;}</b> to prepend to the page title.<br>
                For additional header content use <b>{&#37; block extrahead &#37;}...{&#37; endblock &#37;}</b>.<br>
                Add body classes in <b>{&#37; block body_class &#37;}...{&#37; endblock &#37;}</b>.<br>
                To add javascript translations use <b>{&#37; block translations &#37;}...{&#37; endblock &#37;}</b>.<br/>
                <i>Use <b>{&#x007b; block.super }}</b> in the block to keep previously set content!!!</i>
                <br/><br/>
                As alternative in included snippets or in general:<br/>
                <b>{&#37; addtoblock "css" &#37;}...{&#37; endaddtoblock &#37;}</b> for stylesheets<br/>
                <b>{&#37; addtoblock "head_js" &#37;}...{&#37; endaddtoblock &#37;}</b> for javascript in the header<br/>
                <b>{&#37; addtoblock "js" &#37;}...{&#37; endaddtoblock &#37;}</b> for javascript in the footer<br/>
                <b>{&#37; addtoblock "translations" &#37;}...{&#37; endaddtoblock &#37;}</b> for javascript translations<br/>
                <i>sekizai_tags needs to be loaded</i><br/>
                <br/>
                The stylesheet or javascript blocks are not encapsulated in &lt;style&gt; or &lt;script&gt; tags.
                <br/><br/></p>

                <h2>Translations in Javascript</h2>
                <p>To use a translation in javascript add the translation to the global javascript array "trans" like:</p>
                <pre>
                {&#37; block translations &#37;}
                    {&#x007b; block.super }}
                    trans["some phrase"] = '{&#37; trans "some phrase" &#37;}';
                    trans["another phrase"] = '{&#37; trans "another phrase" &#37;}';
                {&#37; endblock &#37;}</pre>
                <p><br/>or <i>(with sekizai_tags loaded)</i></p>
                <pre>
                {&#37; addtoblock "translations" &#37;}
                    trans["some phrase"] = '{&#37; trans "some phrase" &#37;}';
                    trans["another phrase"] = '{&#37; trans "another phrase" &#37;}';
                {&#37; endaddtoblock &#37;}</pre>
                <p>Then you can access the translation through the "trans" array.</p>
            </div>
        {% endblock %}

        <br/><br/><br/>

    </div>
{% endblock %}
