{% extends "styleguide/base.html" %}

{% block styleguide %}
    <div class="container">
        <h2>Colors</h2>
        <p>
            $white: <span style="display:inline-block; color:black; background:#ffffff;">#ffffff</span>;<br/>
            $black: <span style="display:inline-block; color:white; background:#000000;">#000000</span>;<br/>
            $green: <span style="display:inline-block; color:black; background:#1edc80;">#1edc80</span>;<br/>
            $red: <span style="display:inline-block; color:white; background:#cf0000;">#cf0000</span>;<br/>
            $yellow: <span style="display:inline-block; color:black; background:#ffe345;">#ffe345</span>;<br/>
            <br/>
            $bootstrap_red: <span style="display:inline-block; color:white; background:#B94A48;">#B94A48</span>;<br/>
            <br/>
            $blue: <span style="display:inline-block; color:white; background:#0682B9;">#0682B9</span>;<br/>
            $blue_lighter: <span style="display:inline-block; color:white; background:#46a8d5;">#46a8d5</span>;<br/>
            <br/>
            $grey_darker: <span style="display:inline-block; color:white; background:#888888;">#888888</span>;<br/>
            $grey: <span style="display:inline-block; color:white; background:#afafaf;">#afafaf</span>;<br/>
            $grey_lighter: <span style="display:inline-block; background:#cccccc;">#cccccc</span>;<br/>
            $grey_light: <span style="display:inline-block; background:#eeeeee;">#eeeeee</span>;<br/>
            <br/>
            $link: <span style="display:inline-block; color:white; background:#0682B9;">$blue</span>;<br/>
            $form_disabled_bg: <span style="display:inline-block; color:white; background:#888888;">$grey_darker</span>;<br/>
            $form_object_bg: <span style="display:inline-block; background:#cccccc;">$grey_lighter</span>;<br/>
            $form_bg: <span style="display:inline-block; background:#eeeeee;">$grey_light</span>;<br/>
        </p>

        <h2>Fonts</h2>
        <p>
            $light: 200;<br/>
            $book: 300;<br/>
            $regular: 400;<br/>
            $demi: 600;<br/>
            $bold: 700;<br/>
            <br/>
            $font-family-1: 'ndruhr-6';<br/>
            $font-family-2: 'ndruhr-7';<br/>
            $font-family-3: 'Open Sans';<br/>
            $font-family-logo: 'Logo-1';<br/>
            $font-local-1: 'sans-serif';<br/>
        </p>
    </div>
{% endblock %}
