{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
	<a href="/admin/">{% trans "Home" %}</a> &rsaquo; 
	<a href="{% url templatesadmin-overview %}">{% trans "File selection" %}</a> &rsaquo; 
	{{ short_path }}
    </div>
{% endblock %}

{% block extrastyle %}
<style type="text/css">
textarea#id_content{
    width: 99%;
    height: 400px;
    margin: 1em 0;
    font-family: monospace;
}
</style>
{% endblock %}

{% block stylesheet %}{{ jetson_media_url }}css/admin/forms.css{% endblock %}

{% block title %}
    {% with _("Templates") as title %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block content %}
	<h2>{{ template_path }}</h2>
	<form enctype="multipart/form-data" action="" method="post" id="site_form">
        <div class="submit-row">
            <input type="submit" value="{% trans "Save and continue editing" %}" name="_continue" />
            <input type="submit" value="{% trans "Save" %}" class="default" />
        </div>
		{{ form.errors }}	
		{{ form.content }}
		
		<div class="submit-row">
		{% if template_writeable %}
            {% for field in form %}
                {% ifnotequal field.label "Content" %}
			        <p class="float-left">
			        	{{ field.label }} {{ field }}
			        </p>
			        <br clear="both" />
                {% endifnotequal %}
            {% endfor %}
		{% else %}
			{% trans "This template is not writeable." %}
			<br clear="both"/>
		{% endif %}
		</div>
        
        <div class="submit-row">
            <input type="submit" value="{% trans "Save and continue editing" %}" name="_continue" />
            <input type="submit" value="{% trans "Save" %}" class="default" />
        </div>
	</form>
{% endblock %}

