{% extends "cms/default.html" %}

{% load url from future %}

{% load i18n image_modifications base_tags tagging_tags favorites_tags auth_extended theater_of_the_week_tags fb_tags %}

{% block bodyclass %}{{ block.super }} location-list no-transition{% endblock %}

{% block js %}
    <script src="{{ STATIC_URL }}site/js/grid.js" defer="defer"></script>
    <script src="{{ STATIC_URL }}site/js/list_filter.js" defer="defer"></script>
    <script src="{{ STATIC_URL }}site/js/top_widgets.js" defer="defer"></script>
    {% include "utils/favorites_scripts.html" %}
{% endblock %}

{% block content %}
    <div class="content overview">

        <div class="container">
            <div class="row">

                <h1 class="bottom-line">
                    {% trans "Locations" %} &nbsp;<span>{% trans "with educational department" %}</span>
                </h1>

                <div class="col-xs-12 print-padding">

                    <!-- the list -->
                    <div id="main_list" class="grid location-grid grid-autoload row">
                        {% if page == 1 %}
                            {% load advertising_tags %}
                            {% if show_ad %}
                                {% get_random_zone_ad "education" as locations_ad_html %}
                            {% endif %}
                        {% endif %}
                        {% if object_list %}
                            {% for department in object_list %}
                                <a class="grid-item col-xs-12 col-sm-6 col-md-4 col-lg-3 grid-item-favorite"
                                   href="{{ department.get_url_path }}">

                                    <!-- image -->
                                    <span class="grid-item-image img">
                                        {% if department.first_image %}
                                            <img src="{{ STATIC_URL }}site/img/placeholder_location_grid.png"
                                                 data-original="{{ MEDIA_URL }}{{ department.first_image.path|modified_path:"detail_image" }}{% if department.is_editable %}?now={% now "YmdHis" %}{% endif %}"
                                                 alt="{{ department.title|escape }}"/>
                                            {% with department.first_image.path|file_description as file_desc %}
                                                {% if file_desc.author %}
                                                    <span class="photo-credits-over">{% trans "Photo" %}: {{ file_desc.author }}</span>
                                                {% endif %}
                                            {% endwith %}
                                        {% else %}
                                            <img src="{{ STATIC_URL }}site/img/placeholder_location_grid.png"/>
                                        {% endif %}
                                        {% if request.user.is_authenticated %}
                                            {% adding2favorites for department using "favorites/includes/favorite_grid.html" %}
                                        {% else %}
                                            {% login2favorites using "favorites/includes/favorite_grid_login.html" %}
                                        {% endif %}
                                    </span>

                                    {% if department.title %}<h2>{{ department.title }}</h2>{% endif %}
                                    {% if department.teaser %}
                                        <div class="copy">{{ department.get_rendered_teaser }}</div>
                                    {% elif department.description %}
                                        <div class="copy">{{ department.get_rendered_description|striptags|truncatewords:20 }}</div>
                                    {% endif %}

                                </a>

                                {% if locations_ad_html %}
                                    {% if forloop.counter == 1 %}
                                        <div class="grid-item visible-xs col-xs-12 ad-xs">{{ locations_ad_html }}</div>
                                        <div class="grid-item visible-sm col-sm-6 ad-sm">{{ locations_ad_html }}</div>
                                    {% endif %}
                                    {% if forloop.counter == 2 %}
                                        <div class="grid-item visible-md col-md-4 ad-md">{{ locations_ad_html }}</div>
                                    {% endif %}
                                    {% if forloop.counter == 3 %}
                                        <div class="grid-item visible-lg col-lg-3 ad-lg">{{ locations_ad_html }}</div>
                                    {% endif %}
                                {% endif %}

                            {% endfor %}

                            {% include "utils/pagination.html" %}
                        {% else %}
                            {% include "utils/container_empty.html" %}
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
