{% extends "base_main.html" %}

{% load base_tags i18n fb_tags image_modifications tagging_tags babel auth_extended infoblocks favorites_tags production_tags %}

{% block title %}{% trans "Job Offer" %} – {{ object.position }} – {% endblock %}

{% block bodyclass %}{{ block.super }} job_offer-detail{% endblock %}

{% block open_graph %}
    <meta property="og:title" content="{{ object.position }}"/>
    <meta property="og:type" content="article"/>
    {% if object.image %}
        <meta property="og:image"
              content="{{ current_website_url }}{{ MEDIA_URL }}{{ object.image|modified_path:"og" }}"/>
    {% else %}
        <meta property="og:image"
              content="{{ current_website_url }}{{ STATIC_URL }}site/img/ruhrbuehnen_opengraph.png"/>
    {% endif %}
    <meta property="og:description" content="{{ object.get_rendered_description|striptags|truncatewords:20|escape }}"/>
{% endblock %}

{% block js %}
    <script src="{{ STATIC_URL }}site/js/accordion.js"></script>
    <script src="{{ STATIC_URL }}site/js/gallery.js"></script>
    <script src="{{ STATIC_URL }}site/js/slider.js"></script>
    {% include "utils/favorites_scripts.html" %}
{% endblock %}

{% block content %}
    {% with object as job_offer %}
        <div id="job_offer" class="content details">
            <div class="container main-container">
                <div class="row">
                    <div class="col-xs-12 print-padding">
                        <a class="fawesome back uc no-print"
                           href="{% url 'job_offer_list' %}">{% trans "back to overview" %}</a>
                        <article>

                            <!-- headlines -->
                            <header>
                                <!--<div class="header-icons no-print">
                                    {% if request.user.is_authenticated %}

                                    {% adding2favorites for job_offer using "favorites/includes/favorite_detail.html" %}
                                    {% endif %}
                                </div>-->
                                <h1>{{ job_offer.position }}
                                    {% if object.is_editable and not request.is_mobile %}
                                        <span class="cms_edit">
                                            <a class="icon icon-pencil"
                                               data-toggle="tooltip"
                                               data-placement="bottom"
                                               data-original-title="{% trans "Edit" %}"
                                               href="{{ request.path }}change/">&nbsp;<span class="sr-only">{% trans "Edit" %}</span></a></span>
                                    {% endif %}
                                </h1>
                            </header>

                            <!-- main  part (including sidebar) -->
                            <div class="main">
                                <div class="container">
                                    <div class="row">

                                        <!-- main content -->
                                        <div class="col-xs-12 col-md-8 left">
                                            <div class="description">
                                                {{ job_offer.get_rendered_description }}
                                            </div>
                                            <div class="remarks">
                                                {{ job_offer.get_rendered_remarks }}
                                            </div>
                                        </div>

                                        <!-- main sidebar -->
                                        <div class="col-xs-12 col-md-4 right">
                                            {% include "marketplace/includes/sidebar.html" %}
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </article>
                    </div>
                </div>
            </div>
        </div>
    {% endwith %}
    {% include "utils/page_controls.html" %}
{% endblock %}
