<div id="mega_museums" class="mega_drop_down row hide">
  <a class="col-sm-4 btn">{{ test }} museums {{ LANGUAGE_CODE }}</a>
  <a class="col-sm-4 btn">{{ test }} column #2 {{ LANGUAGE_CODE }}</a>
  <a class="col-sm-4 btn">{{ test }} column #3 {{ LANGUAGE_CODE }}</a>
  <a class="col-sm-4 btn">{{ test }} column #1 {{ LANGUAGE_CODE }}</a>
  <a class="col-sm-4 btn">{{ test }} column #2 {{ LANGUAGE_CODE }}</a>
</div>
<div id="mega_exhibitions" class="mega_drop_down row hide">
  <a class="col-sm-4 btn">{{ test }} exhibitions {{ LANGUAGE_CODE }}</a>
  <a class="col-sm-4 btn">{{ test }} column #2 {{ LANGUAGE_CODE }}</a>
</div>
<div id="mega_events" class="mega_drop_down row hide">
  <a class="col-sm-4 btn">{{ test }} events {{ LANGUAGE_CODE }}</a>
  <a class="col-sm-4 btn">{{ test }} column #2 {{ LANGUAGE_CODE }}</a>
  <a class="col-sm-4 btn">{{ test }} column #3 {{ LANGUAGE_CODE }}</a>
</div>
<div id="mega_workshops" class="mega_drop_down row hide">
  <a class="col-sm-4 btn">{{ test }} workshops {{ LANGUAGE_CODE }}</a>
  <a class="col-sm-4 btn">{{ test }} column #2 {{ LANGUAGE_CODE }}</a>
  <a class="col-sm-4 btn">{{ test }} column #3 {{ LANGUAGE_CODE }}</a>
  <a class="col-sm-4 btn">{{ test }} column #1 {{ LANGUAGE_CODE }}</a>
</div>
<div id="mega_plan_your_visit" class="mega_drop_down row hide">
  <a class="col-sm-4 btn">{{ test }} plan &amp; organize {{ LANGUAGE_CODE }}</a>
  <a class="col-sm-4 btn">{{ test }} column #2 {{ LANGUAGE_CODE }}</a>
  <a class="col-sm-4 btn">{{ test }} column #3 {{ LANGUAGE_CODE }}</a>
  <a class="col-sm-4 btn">{{ test }} column #1 {{ LANGUAGE_CODE }}</a>
  <a class="col-sm-4 btn">{{ test }} column #2 {{ LANGUAGE_CODE }}</a>
  <a class="col-sm-4 btn">{{ test }} column #3 {{ LANGUAGE_CODE }}</a>
</div>