<div id="mega_museums" class="mega_drop_down row hide">
  <div class="col-md-4">{{ test }} museums {{ LANGUAGE_CODE }}</div>
  <div class="col-md-4"></div>
  <div class="col-md-4"></div>
</div>
<div id="mega_exhibitions" class="mega_drop_down row hide">
  <div class="col-md-4">{{ test }} exhibitions {{ LANGUAGE_CODE }}</div>
  <div class="col-md-4"></div>
  <div class="col-md-4"></div>
</div>
<div id="mega_events" class="mega_drop_down row hide">
  <div class="col-md-4">{{ test }} events {{ LANGUAGE_CODE }}</div>
  <div class="col-md-4"></div>
  <div class="col-md-4"></div>
</div>
<div id="mega_workshops" class="mega_drop_down row hide">
  <div class="col-md-4">{{ test }} workshops {{ LANGUAGE_CODE }}</div>
  <div class="col-md-4"></div>
  <div class="col-md-4"></div>
</div>
<div id="mega_plan_your_visit" class="mega_drop_down row hide">
  <div class="col-md-4">{{ test }} plan &amp; organize {{ LANGUAGE_CODE }}</div>
  <div class="col-md-4"></div>
  <div class="col-md-4"></div>
</div>