{% load base_tags i18n image_modifications tagging_tags babel auth_extended fb_tags infoblocks favorites_tags %}

{% with object as location %}
    
    <div class="map-description-content">
        
        {% if location.first_image %}
            <img src="{{ MEDIA_URL }}{{ location.first_image.path|modified_path:"detail_image" }}{% if_has_perm "location.change_location" location %}?now={% now "YmdHis" %}{% end_if_has_perm %}" alt="{{ location.title|escape }}" />
        {% endif %}
                                      
        <h1>{{ location.title }} </h1>
        {% if location.subtitle %}
            <h2> {{ location.subtitle }} </h2>
        {% endif %}
        
        {% if location.teaser %}
            <div class="copy">{{ location.get_rendered_teaser }}</div>
        {% elif location.description %}
            <div class="copy">{{ location.get_rendered_description|striptags|truncatewords:30 }}</div>
        {% endif %}
        
        <p class="address">
            {% if location.street_address %}{{ location.street_address }}<br />{% endif %}
            {% if location.street_address2 %}{{ location.street_address2 }}<br />{% endif %}
            {% if location.city %}{{ location.postal_code }} {{ location.city }}<br />{% endif %}
        </p>

        <a class="btn btn-default more" href="{{ location.get_url_path }}">{% trans "more" %}</a>
        
    </div>
    
{% endwith %}