{% extends "base.html" %}

{% load base_tags cms_tags menu_tags sekizai_tags i18n image_modifications staticfiles %}

{% block meta_tags %}
    {{ block.super }}

    {% block open_graph %}
    {% endblock %}
{% endblock %}

{% block stylesheet %}
    {{ block.super }}

    <link href='//fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'/>
    <link href='//fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
    <link href="{{ STATIC_URL }}site/css/bootstrap/bootstrap.css"
          rel="stylesheet"
          media="screen, print"
          type="text/css"/>
    <link href="{{ STATIC_URL }}site/css/style.css" rel="stylesheet" media="screen, print" type="text/css"/>
{% endblock %}

{% block script %}
    {{ block.super }}

    {% now "uuuu" as microseconds %}
    <script nonce="{{ microseconds|to_base64 }}">
        var images = [];

        function preload() {
            for (i = 0; i < preload.arguments.length; i++) {
                images[i] = new Image();
                images[i].src = preload.arguments[i];
            }
        }

        preload(
            "{{ STATIC_URL }}site/img/placeholder_list.gif",
            "{{ STATIC_URL }}site/img/placeholder_cover.gif"
        );
    </script>
    {% add_data "script_nonces" microseconds|to_base64 %}

    <script src="{% url 'jssettings' %}"></script>
    <script src="{{ JETSON_MEDIA_URL }}js/legacy.js"></script>
    <script src="/{{ LANGUAGE_CODE }}/jsi18n/"></script>
    <script src="https://code.jquery.com/jquery-1.10.1.min.js"
            integrity="sha384-M7ti4rBhW6K9vKaD69Y/xNT8YW/SFBQBKbSZtEdjveDyXUpsF3gmBWZRjtr0ZbCD"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"
            integrity="sha384-9tt8DlZQhE63eBuKml9tnMclfDeo/8/wstzUrBQStZZkCCvwfw78IiV+r9o600g2"
            crossorigin="anonymous"></script>
    <script src="{{ JETSON_MEDIA_URL }}js/jquery/jquery.cookie.js"></script>
    <script src="{{ STATIC_URL }}site/js/jquery.ba-bbq.min.js"></script>
    <script src="{{ STATIC_URL }}site/js/jquery.isotope.min.js"></script>
    <script src="{{ STATIC_URL }}site/js/jquery.scrollstop.min.js"></script>
    <script src="{{ STATIC_URL }}site/js/jquery.lazyload.min.js"></script>
    <script src="{{ STATIC_URL }}site/js/bootstrap/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}site/js/modernizr.custom.52849.js"></script>
    <script src="{{ STATIC_URL }}site/js/jquery.selectbox-0.2.min.js"></script>
    <script src="{{ STATIC_URL }}site/js/jquery.sharrre-1.3.2.js"></script>
    <script src="{{ STATIC_URL }}site/js/jquery.jscroll.min.js"></script>
    <script src="{{ STATIC_URL }}site/js/jquery.mobile.custom.min.js"></script>
    <!-- <script src="{{ STATIC_URL }}site/js/jquery.headroom.min.js"></script> -->
    <script src="{{ STATIC_URL }}site/js/jquery.hammer-full.min.js"></script>
    <script src="{{ STATIC_URL }}site/js/lscache.min.js"></script>
    <script src="{{ STATIC_URL }}site/js/base.min.js"></script>
    <script src="{{ STATIC_URL }}site/js/affix.js"></script>
    <script src="{{ STATIC_URL }}site/js/map.js"></script>

    {% now "uuuu" as microseconds %}
    <script nonce="{{ microseconds|to_base64 }}">
        // forcing django CMS to use the already included version of jQuery
        var django = {jQuery: jQuery};
        var csrftoken = $.cookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        if ($.browser.msie) {
            $('html').addClass('msie');
        }
    </script>
    {% add_data "script_nonces" microseconds|to_base64 %}

{% endblock %}

{% block bodyclass %}{{ block.super }} gmap map-only{% endblock %}

{% block body %}
    <div id="wrapper">
        {% block header %}
            {% include "utils/header.html" %}
        {% endblock %}

        <div id="body" class="container-fluid">
            <div class="row gmap-height">
                <div class="box gmap-wrapper col-xs-12">
                    <div id="gmap" style="">&nbsp;</div>

                    <div id="map-sidebar-wrapper">
                        <div id="map-sidebar" class="map-description">
                            <div id="map-buttons-overflow">
                                <div id="map-buttons-wrapper">
                                    <a href=".." id="cancel-map" class="fawesome back-round btn btn-default btn-lg">
                                        <span class="sr-only">{% trans "close" %}</span>
                                    </a>

                                    <button id="toggle-sidebar" class="fawesome menu btn btn-default btn-lg">
                                        <span class="sr-only">{% trans "Toggle Sidebar" %}</span>
                                    </button>

                                    <button id="show-current-location"
                                            class="fawesome crosshair btn btn-default btn-lg hidden">
                                        <span class="sr-only">{% trans "Show my current location" %}</span>
                                    </button>
                                </div>
                            </div>

                            <div id="map-list" class="hide">
                                <button id="cancel-list" class="cancel btn btn-info btn-lg">
                                    <span class="icon icon-remove"></span>
                                    <span class="sr-only">{% trans "close" %}</span>
                                </button>
                                <header class="list-header">
                                    <h4>{% block list-title %}{% endblock %}</h4>
                                    <div class="list-controls">
                                        <div class="btn-group">
                                            <button id="toggle-map-filter"
                                                    class="btn btn-info">{% trans "filter" %}</button>
                                            <button id="filter-reset"
                                                    type="button"
                                                    class="filter-reset btn btn-info">{% trans "Reset" %}</button>
                                        </div>
                                    </div>
                                    <ul id="filter-summary"></ul>
                                </header>
                                {% include "utils/container_empty.html" %}

                                {% block map-list %}
                                {% endblock %}
                            </div>
                            <div id="map-description">
                                <div class="android-wrapper">
                                    <div class="map-ajax-detail">
                                        <article>
                                            <h4>{% trans "Nothing is selected" %}</h4>
                                            <p>{% trans "Please select a location on the map first!" %}</p>
                                        </article>
                                    </div>
                                </div>
                            </div>

                            <button id="cancel-description" class="fawesome cancel btn btn-info btn-lg">
                                <span class="sr-only">{% trans "close" %}</span>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
            {% block content %}
            {% endblock %}
        </div>

        {% block map-js %}{% endblock %}
    </div>

    <span class="width-sniffer visible-xs"></span>
    <span class="width-sniffer visible-sm"></span>
    <span class="width-sniffer visible-md"></span>
    <span class="width-sniffer visible-lg"></span>
{% endblock %}
