{% extends "base.html" %}
{% load i18n base_tags uni_form_tags %}

{% block headline %}
    <h1>{% trans "Invitation" %}</h1>
{% endblock %}

{% block bodyclass %}invite{% endblock %}

{% block content %}
    <div class="new-messages">
        <form method="post" action="" class="uniField">{% csrf_token %}
            {% if form %}
                <fieldset class="inlineLabels">
                    <h3>
                        {% trans "Recipient" %}
                    </h3>
                    {{ form.recipient_email|as_uni_field }}

                    <h3>
                        {% trans "Message" %}
                    </h3>
                    {{ form.body|as_uni_field }}
                    {{ form.prevent_spam }}
                    {% if form.prevent_spam.errors %}
                        <p class="error">
                            {{ form.prevent_spam.errors|join:", " }}
                        </p>
                    {% endif %}

                    <div id="buttonHolder">
                        <input type="hidden" name="goto_next" value="
                                {% if goto_next %}{{ goto_next }}{% else %}{{ request.get_full_path }}{% endif %}"/>
                        <input type="submit" value="{% filter upper %}{% trans "Send Invitation" %}{% endfilter %}"
                            class="primaryAction" name="send" id="send_but"/>
                        <input type="button" class="secondaryAction" onclick="document.location='/my-messages/'"
                            value="{% filter upper %}{% trans "Back" %}{% endfilter %}"/>
                    </div>
                </fieldset>

            {% else %}
                <p id="okMsg">{% trans "Your message has been sent." %}</p>
            {% endif %}
        </form>
    </div>
{% endblock %}
