{% extends "site_specific/kreativarbeiten_base.html" %}
{% load base_tags i18n infoblocks uni_form_tags crispy_forms_tags %}

{% block headline %}
    <h1>KREATIV ARBEITEN - MIT ERFOLG</h1>
    <h2 class="sub">
        {% trans "Contact Dirk Kiefer" %}
    </h2>
{% endblock %}

{% block title %}{% trans "Contact Dirk Kiefer" %}{% endblock %}

{% block content %}
    {% infoblock "contact_info" %}
{#    {% crispy form %}#}
    <form action="" method="post" class="uniForm">{% csrf_token %}
        <fieldset class="inlineLabels">
            <h3>{% trans "Contact us" %}</h3>
            {{ form.sender_name|as_uni_field }}
            {{ form.sender_email|as_uni_field }}
            {{ form.subject|as_uni_field }}
            {{ form.body|as_uni_field }}
            {{ form.prevent_spam }}
            {{ form.prevent_spam.error_tag }}
            <div class="buttonHolder">
                <input class="primaryAction" id="id_submit" type="submit"
                    value="{% filter upper %}{% trans "Submit" %}{% endfilter %}"/>
            </div>
        </fieldset>
    </form>
{% endblock %}
