{% extends "admin/base_site.html" %}

<!-- LOADING -->
{% load i18n fb_tags base_tags image_mods_tags crispy_forms_tags %}
{% load url from future %}

<!-- STYLESHEETS -->
{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ settings_var.URL_FILEBROWSER_MEDIA }}css/filebrowser.css" />
    <link rel="stylesheet" type="text/css" href="{% url 'jetson_media_url' path='css/admin/MultilingualFieldHelper.css' %}" />
    <style type="text/css">
        .span-image-version {
            min-height: 60px;
        }
        .image-version-th {
            min-width: 100px;
            min-height: 50px;
            padding-right: 35px;
        }
        .image-version {
            display: block;
            color: #59afcc;
            border: 1px solid #D4D4D4;
            background: #eee;
            background: -moz-linear-gradient(top, #eee, #e0e0e0);
            background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#e0e0e0));
            position: relative;
            max-width: 100%;
        }
        .image-version img {
            max-width: 100%;
        }
        .image-version-tools {
            position: absolute;
            right: -25px;
            top: 0;
        }
        .image-version-tools li {
            margin: 5px;
        }
        a.fb_adjustlink {
            display: block;
            width: 15px;
            height: 15px;
            background: url("{% url 'jetson_media_url' path='filebrowser/img/filebrowser_icon_rename.gif' %}") no-repeat center center;
        }
        a.fb_adjustlink:hover {
            background: url("{% url 'jetson_media_url' path='filebrowser/img/filebrowser_icon_rename_hover.gif' %}") no-repeat center center;
        }
        a.fb_deletelink {
            display: block;
            width: 15px;
            height: 15px;
            background: url("{% url 'jetson_media_url' path='filebrowser/img/filebrowser_icon_delete.gif' %}") no-repeat center center;
        }
        a.fb_deletelink:hover {
            background: url("{% url 'jetson_media_url' path='filebrowser/img/filebrowser_icon_delete_hover.gif' %}") no-repeat center center;
        }
        .image-version-ungenerated {
            cursor: pointer;
        }
        
    </style>
{% endblock %}

<!-- JAVASCRIPTS -->
{% block javascripts %}
    {{ block.super }}
    
    <!--
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.0/jquery-ui.min.js"></script>
    -->
    
    <script type="text/javascript">
    (function($){
        $(document).ready(function() {
            $("#grp-content-container .grp-collapse").grp_collapsible({
                on_init: function(elem, options) {
                    // open collapse (and all collapse parents) in case of errors
                    if (elem.find("ul.errorlist").length > 0) {
                        elem.removeClass("grp-closed")
                            .addClass("grp-open");
                        elem.parents(".grp-collapse")
                            .removeClass("grp-closed")
                            .addClass("grp-open");
                    }
                }
            });
        });
    })(grp.jQuery);
    var jQuery = grp.jQuery;
    </script>
    {{ media }}
    <script type="text/javascript" src="{% url 'jetson_media_url' path='js/admin/MultilingualFieldHelper.js' %}"></script>
{% endblock %}

<!-- COLTYPE/BODYCLASS -->
{% block bodyclass %}grp-change-form grp-filebrowser{% if query.pop %} grp-popup{% endif %}{% endblock %}
{% block content-class %}{% endblock %}

<!-- BREADCRBUMBS -->
{% block breadcrumbs %}{% include "filebrowser/include/breadcrumbs.html" %}{% endblock %}

<!-- CONTENT -->
{% block content %}
<div id="grp-content-container">
    <form action="{% query_string "" "filter_date,filter_type,q,p" %}" method="post">{% csrf_token %}
        {% if form.errors %}<p class="errornote">{% trans 'Please correct the following errors.' %}</p>{% endif %}

        {% crispy form %}
        
        {% if fileobject.filetype == "Folder" %}
        <fieldset class="grp-module grp-collapse grp-open">
            <h2 class="grp-collapse-handler">{% trans "Folder Information" %}</h2>
            <div class="grp-row">
                <div class="l-2c-fluid l-d-4">
                    <div class="c-1"><label>{% trans "Date" %}</label></div>
                    <div class="c-2">
                        <p class="grp-readonly">
                            {{ fileobject.datetime|date:"N j, Y" }}
                        </p>
                    </div>
                </div>
            </div>
        </fieldset>
        {% endif %}
        {% if fileobject.filetype != "Folder" %}
        <fieldset class="grp-module grp-collapse grp-open">
            <h2 class="grp-collapse-handler">{% trans "File Information" %}</h2>
            <div class="grp-row">
                <div class="l-2c-fluid l-d-4">
                    <div class="c-1"><label>{% trans "URL" %}</label></div>
                    <div class="c-2">
                        <p class="grp-readonly">
                            <a href="{{ fileobject.url }}">{{ fileobject.url }}</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="grp-row">
                <div class="l-2c-fluid l-d-4">
                    <div class="c-1"><label>{% trans "Filesize" %}</label></div>
                    <div class="c-2">
                        <p class="grp-readonly">
                            {{ fileobject.filesize|filesizeformat }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="grp-row">
                <div class="l-2c-fluid l-d-4">
                    <div class="c-1"><label>{% trans "Date" %}</label></div>
                    <div class="c-2">
                        <p class="grp-readonly">
                            {{ fileobject.datetime|date:"N j, Y" }}
                        </p>
                    </div>
                </div>
            </div>
            {% if fileobject.filetype == "Image" %}
                <div class="grp-row">
                    <div class="l-2c-fluid l-d-4">
                        <div class="c-1"><label>{% trans "Size" %}</label></div>
                        <div class="c-2">
                            <p class="grp-readonly">
                                {{ fileobject.width }} x {{ fileobject.height }} px
                            </p>
                        </div>
                    </div>
                </div>
            {% endif %}
        </fieldset>
        {% endif %}
        {% if fileobject.filetype == "Image" %}
        <fieldset class="grp-module grp-collapse grp-open">
            <h2 class="grp-collapse-handler">{% trans "Image Versions" %}</h2>
            {% get_objects versions image_mods.ImageModification 50 as modifications %}
            {% for mod in modifications %}
                {% with fileobject.path|modified_image:mod.sysname as image_version %}
                    <div class="grp-row">
                        <div class="l-2c-fluid l-d-4">
                            <div class="c-1">
                                <label>{{ mod.title }}<br />
                                    {% if mod.crop %}
                                        {% if mod.width %}{% trans "Width" %}: {{ mod.width }}px<br />{% endif %}
                                        {% if mod.height %}{% trans "Height" %}: {{ mod.height }}px<br />{% endif %}
                                        {% trans "Cropped" %}
                                    {% else %}
                                        {% if mod.width and mod.height %}
                                            {% trans "Max width" %}: {{ mod.width }}px<br />
                                            {% trans "Max height" %}: {{ mod.height }}px
                                        {% else %}
                                            {% trans "Width" %}: {% if mod.width %}{{ mod.width }}px{% else %}*{% endif %}<br />
                                            {% trans "Height" %}: {% if mod.height %}{{ mod.height }}px{% else %}*{% endif %}
                                        {% endif %}
                                    {% endif %}
                                </label>
                            </div>
                            <div class="c-2 span-image-version">
                                {% if fileobject.path|mod_exists:mod.sysname %}
                                    <div class="image-version" style="width: {{ image_version.width }}px; height: {{ image_version.height }}px;">
                                        <img src="{{ MEDIA_URL }}{{ fileobject|modified_path:mod.sysname }}?now={% now "YmdHis" %}" alt="" />
                                        <ul class="image-version-tools">
                                            <li><a href="{% url 'fb_adjust_version' %}{% query_string "" "p" %}&amp;sysname={{ mod.sysname }}" class="fb_adjustlink"></a></li>
                                            <li><a href="{% url 'fb_delete_version' %}{% query_string "" "p" %}&amp;sysname={{ mod.sysname }}" class="fb_deletelink"></a></li>
                                        </ul>
                                    </div>
                                {% else %}
                                    <div class="image-version image-version-ungenerated" style="width: {{ mod.width|default:100 }}px; height: {{ mod.height|default:100 }}px;" data-file_path="{{ fileobject.path }}" data-mod_sysname="{{ mod.sysname }}">
                                        <ul class="image-version-tools{% if mod.width and mod.height %}{% if mod.width < 100 or mod.height < 100 %} outside{% endif %}{% endif %}">
                                            <li><a href="{% url 'fb_adjust_version' %}{% query_string "" "p" %}&amp;sysname={{ mod.sysname }}" class="fb_adjustlink"></a></li>
                                        </ul>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endwith %}
            {% endfor %}
        </fieldset>
        {% endif %}
        <footer class="grp-module grp-submit-row grp-fixed-footer">
            <header style="display:none"><h1>Submit Options</h1></header>
            <ul>
                <li class="grp-float-left"><a href="{% url 'filebrowser:fb_delete_confirm' %}{% query_string %}" class="grp-button grp-delete-link">{% trans "Delete" %}</a></li>
                <li><input type="submit" value="{% trans 'Save' %}" class="grp-button grp-default" /></li>
                <li><input type="submit" value="{% trans 'Save and continue editing' %}" class="grp-button" name="_continue" /></li>
            </ul>
        </footer>
    </form>
</div>
<script type="text/javascript">
(function($, undefined) {
    jQuery(document).ajaxSend(function(event, xhr, settings) {
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        function sameOrigin(url) {
            // url could be relative or scheme relative or absolute
            var host = document.location.host; // host + port
            var protocol = document.location.protocol;
            var sr_origin = '//' + host;
            var origin = protocol + sr_origin;
            // Allow absolute or scheme relative URLs to same origin
            return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                // or any other URL that isn't scheme relative or absolute i.e relative.
                !(/^(\/\/|http:|https:).*/.test(url));
        }
        function safeMethod(method) {
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
    
        if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
        }
    });

    $(function() {
        $('.image-version-ungenerated').one("click", function() {
            var $image_version = $(this); 
            $image_version.removeClass("image-version-ungenerated");
            var file_path = $image_version.attr("data-file_path");
            var mod_sysname = $image_version.attr("data-mod_sysname");
            $.post("{% url 'fb_get_version' %}", {
                file_path: file_path,
                mod_sysname: mod_sysname
            }, function(data) {
                $image_version.append('<img src="{{ MEDIA_URL }}' + data + '" alt="" />');
                location.href=location.href;
            },
            "text"
            );
        });
    })
}(jQuery));
</script>
{% endblock %}