{% extends "base_sidebar_counselling.html" %}
{% load i18n base_tags navigation_tags infoblocks auth_extended blog %}

{% block title %}{% trans "Blog" %}{% endblock %}


{% block content %}
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>{% trans "Blog" %}</h1>
                    {% if not object %}
                        {% infoblock "blog_intro" using "blocks/p_content.html" %}
                    {% else %}
                        <p></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3">
                            
                {% block sidebar %}
                {% endblock %}
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9">
                {% block details %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

