{% load blog babel comments base_tags i18n auth_extended favorites cms_tags %}

<div class="col-xs-12 {% if not forloop.first %}col-sm-6{% endif %}">
    <a class="content" href="{% page_url request.current_page %}{{ post.get_relative_url }}">
        {% if post.body|get_first_image %}
            {{ post.body|get_first_image|safe }}
        {% endif %}
        <div class="subline">
            <h3>{% if forloop.first %}<time class="hidden-xs" datetime="{{ post.published_from|date:"Y-m-d H:i" }}">{{ post.published_from|date:"d. F Y, H:i" }}</time><time class="visible-xs" datetime="{{ post.published_from|date:"Y-m-d H:i" }}">{{ post.published_from|date:"d. M. Y, H:i" }}</time>{% else %}<time datetime="{{ post.published_from|date:"Y-m-d H:i" }}">{{ post.published_from|date:"d. M. Y, H:i" }}</time>{% endif %}</h3>
            <div class="statistics">
                {% if request.user.is_authenticated %}
                    {% adding2favorites for post using "generic/favorite_icon_number.html" %}
                {% else %}
                    <div class="fawesome fa-favorite button smaller" onclick="location.href='{% url 'login' %}?goto_next={{ request.path }}'; return false;"><span class="text">{{ post|get_favorites_count }}</span><span class="sr-only">{% trans "Add to favorites" %}</span></div>
                {% endif %}
            </div>
        </div>
        <h2>{{ post.title }}</h2>
        <p>{{ post.body|disarm_user_input|wordwrap:30|striptags|safe|truncatewords:"40" }}</p>
    </a>
</div>