{% load i18n base_tags navigation_tags auth_extended %}
<div class="sidebar-box nav_collapsed" id="add_box">
    <h3>
        <a href="#" class="open_but">
            <b>{% trans "Tools" %}</b>
            <span class="pic"></span>
        </a>
    </h3>

    <div class="hidable">
        <ul>
            {% if_has_perm "blog.add_blog_posts" blog %}
                <li{% ifequal blog_action 'new' %} class="active"{% endifequal %} class="new_post">
                    <a href="{{ container.get_url }}new/"><span class="pic"></span>{% trans "Write a Post" %}</a>
                </li>
            {% end_if_has_perm %}
            <li class="rss">
                <a href="{{ container.get_url }}feeds/rss/"><span class="pic"></span>{% trans "RSS feed" %}
                </a>
            </li>
            <li class="rss">
                <a href="{{ container.get_url }}feeds/atom/"><span
                    class="pic"></span>{% trans "ATOM feed" %}</a>
            </li>
            <li class="print">
                <a href="#" onclick="window.print(); return false;"><span
                    class="pic"></span>{% trans "print" %}</a>
            </li>
        </ul>
    </div>
</div>

