{% extends "base.html" %}
{% load base_tags i18n %}

{% block headline %}
    <h2 class="main">{% trans "You're almost there." %}</h2>
{% endblock %}

{% block sidebar-a %}{% endblock %}
{% block title %}{% trans "You're almost there." %}{% endblock %}
{% block content %}
    <p class="suggest">{% trans "In order to complete registration, we need to confirm you entered a valid e-mail address. You should be getting a confirmation e-mail very shortly. It will contain instructions on how to finalize your registration." %}</p>

{% endblock %}
