@charset "UTF-8";

.accordion.initialised, .accordion.initialised .accordion {
    -webkit-transition: height 0.3s ease-in;
    -moz--transition: height 0.3s ease-in;
    -o-transition: height 0.3s ease-in;
    transition: height 0.3s ease-in;
    visibility: visible;
    
    > * {
        &.accordion-inside {            
            &:before, &:after {
                -webkit-transition: -webkit-transform 0.2s ease-in;
                -moz-transition: -moz-transform 0.2s ease-in;
                -o-transition: -o-transform 0.2s ease-in;
                transition: -ms-transform 0.2s ease-in;
                transition: transform 0.2s ease-in;
            }
        }
    }
}

.accordion {
    list-style: none;
    visibility: hidden;
    
    > * {
        
        &.accordion-inside {
            position: relative;
            overflow: hidden;
        }
    }
    
    .accordion-trigger {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}


    
.accordion.boxes {
    
    .accordion.boxes {
        padding-left: 15px;
    }

    > * {
        padding-left: 25px;
    
        &.accordion-inside {
            &:before {
                position: absolute;
                left: 4px;
                top: 6px;
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                padding: 0px;
                margin: 0px;
                vertical-align: bottom;
                font-weight: 400;
                font-size: 2.4em;
                content: "\f0da";
            }
            
            &.opened {
                &:before {
                    -ms-transform: rotate(90deg);
                    -webkit-transform: rotate(90deg);
                    transform: rotate(90deg);
                }
            }
        }
    }
}