// main:style.scss

@charset "UTF-8";

#body {
    .container {
        .row.article-list {
            margin-left: -10px;
            margin-right: -10px;
            > div {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
}

.row.article-list {

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    > div {
        a.content {
            display: block;
            width: 100%;
            background: $white;
            overflow: hidden;
            border-bottom: 1px solid $grey-bright;
            padding-top: 20px;

            &:hover, &:focus {
                background: $white-dirty;
                .is-xs & {
                    background: $white;
                }
            }

            img {
                width: 100px;
                margin: 0;

                .is-xs & {
                    width: 80px;
                }
            }

            .image-wrapper {
                position: relative;
                margin-bottom: 20px;
                float: left;
            }

            .text {
                margin-left: 120px;
                margin-bottom: 20px;

                .is-xs & {
                    margin-left: 100px;
                }

                &.no-image {
                    margin-left: 20px;
                    .is-xs & {
                        margin-left: 0;
                    }
                }

                h2 {
                    font-family: $font-1, $font-family-1;
                    font-weight: $font-black;
                    font-size: 1.47em;
                    line-height: 127%;
                    color: $black;
                    padding: 0 20px 5px 0;
                    margin: 0;

                    .is-sm & {
                        font-size: 1.4em;
                    }

                    .is-xs & {
                        font-size: 1.27em;
                        padding: 0 0 5px;
                    }
                }

                h3 {
                    font-family: $font-2, $font-family-1;
                    font-weight: $font-bold;
                    font-size: 1.07em;
                    line-height: 140%;
                    color: $cyan;
                    text-transform: uppercase;
                    padding: 0 50px 20px 0px;
                    margin: -5px 0 0 0;

                    time {
                        font-weight: $font-light;
                        color: $black;
                        padding-left: 15px;
                        .is-sm & {
                            display: block;
                            padding-left: 0;
                            padding-top: 2x;
                        }
                        .is-xs & {
                            display: block;
                            padding-left: 0;
                            padding-top: 2x;
                        }
                    }

                    .is-sm & {
                        font-size: 1em;
                        padding: 0 20px 15px 0px;
                    }

                    .is-xs & {
                        font-size: 0.73em;
                        padding: 0 0 20px 0;
                        line-height: 126%;
                        margin-top: -2px;
                    }
                }

                p {
                    font-size: 1.2em;
                    line-height: 140%;
                    padding: 0 20px 20px 0;
                    margin: 0;
                    color: $black;

                    .is-sm & {
                        font-size: 1em;
                    }

                    .is-xs & {
                        font-size: 1.07em;
                        padding: 0 0 20px;
                        line-height: 127%;
                    }
                }

                div {
                    color: $grey-dark;
                    text-transform: uppercase;
                    font-size: 0.73em;
                    font-weight: $font-bold;
                }
            }
        }

        .button-group {
            position: absolute;
            top: 10px;
            right: 15px;

            .is-sm & {
                top: 3px;
                right: 10px;
            }

            .is-xs & {
                position: absolute;
                top: inherit;
                bottom: 15px;
                right: 5px;
            }

            .button {
                padding: 0;
                background: none;
                border-radius: 0;
                color: $grey-light;
                font-size: inherit;
                display: none;
                margin-left: 20px;
                margin-right: 0;
                margin-bottom: 0;
                width: auto;

                .is-sm & {
                    margin-left: 15px;
                }

                .is-xs & {
                    display: inline-block;
                }

                &:hover, &:focus {
                    color: $black;
                }
                &:before {
                    font-size: 2rem;
                    line-height: 100%;

                    .is-sm & {
                        font-size: 1.67rem;
                    }

                    .is-xs & {
                        font-size: 1.67rem;
                    }
                }
                &.active {
                    display: inline-block;
                }
                &:first-child {
                    margin-left: 0;
                }
            }
        }

        .wrapper {
            position: relative;
            &:hover {
                .button-group {
                    .button {
                        display: inline-block;
                    }
                }
            }
        }
    }

    .photo-credits-beneath {
        max-width: 100px;

        .is-xs & {
            max-width: 80px;
        }
    }
}
