@charset "UTF-8";

#body {
    .container {
        .row.blog-grid {
            margin-left: -15px;
            margin-right: -15px;
            > div {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
}

.row.blog-grid {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    padding: 0;
    margin: 0;
    position: relative;
    
    > div {
        
        &:first-child {
            a.content {
            
                .subline {
                    position: relative;
                    
                    .is-xs & {
                        position: static;
                    }
                }
                .statistics {
                    position: absolute;
                    top: 0;
                    right: 0;
                    
                    .is-xs & {
                        position: static;
                    }
                }
            }
        }
        
        padding: 0;
        margin: 0;
        position: absolute;
        
        a.content {
            display: block;
            border-bottom: 3px solid $black;
            margin-bottom: 30px;
            
            &:hover, &:focus {
                background: $white-dirty;
                .is-xs & {
                    background: transparent;
                }
            }
            
            img {
                width: 100%;
                height: auto;
                margin: 0 0 20px 0 !important;
                border: none !important;
            }
            
            .subline {
                border-bottom: 1px solid $grey-bright;
                margin: 0 0 20px;
            }
         
            h3 {
                margin: 0 0 20px;
                
                time {
                    padding: 0;
                }
            }
            
            .statistics {
                margin: 0 0 20px;
                
                > * {
                    display: inline-block;
                    color: $grey;
                    margin-left: 20px;
                    
                    .is-sm & {
                        margin-left: 15px;
                    }
                    
                    &:first-child {
                        margin-left: 0;
                        .is-sm & {
                            margin-left: 0;
                        }
                    }
                }
            }
            
            h2 { 
                font-family: $font-1, $font-family-1;
                font-weight: $font-black;
                font-size: 1.87em;
                line-height: 127%;
                color: $black;
                padding: 0;
                margin: 0 0 30px;
                text-transform: none;
        
                .is-sm & {
                    font-size: 1.5em;
                    margin-bottom: 25px;
                }
                
                .is-xs & {
                    font-size: 1.4em;
                    margin-bottom: 20px;
                }
            }
            
            p {
                margin: 0 0 20px;
            }
        }
    }
    
}