
.img_and_desc,
.img_block {
  padding-bottom:0px ;
  margin-top: 10px ;
  margin-bottom: 20px ;
  margin-right: 0px ;
  color: rgba(0,0,0,0.75);
  font-size: 13px ;
  line-height: 18px ;
  width: 100%;
  float: none ;
  div, span { display: inline;}
  br { display: none;}
  img {
    display: block;
    margin-bottom: 10px;
    width: 100% ;
    height: auto;
  }
}

.cms-plugin-richtext {
  padding-bottom: 40px;

  &:not(:last-of-type) {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 40px;
    margin-bottom: 40px;
  }

  h2 {
    top: 5px;
    position: relative;
    font-size: 30px;
    line-height: 32px;
    margin: 0px;
    position: relative;
    font-weight: 300;
    &:not(:first-of-type) {margin-top: 40px; }
  }

  h3 {
    top: 5px;
    position: relative;
    font-size: 25px;
    line-height: 32px;
    margin: 0px;
    font-weight: 300;
    position: relative;
    margin-top: 40px;
  }

  h4 {
    top: 5px;
    position: relative;
    font-size: 20px;
    line-height: 1.6;
    margin: 0px;
    font-weight: 700;
    position: relative;
    margin-bottom: 10px;
  }

  h2 { margin-bottom: 10px; font-weight: 700; }
  h3 { margin-bottom: 10px; }

  ol,
  ul { margin-top: 10px; 
    margin-bottom: 35px;
    list-style: none;}

  li{
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 2px;

    background-color: #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;

    &:last-child{ border: none !important; }
  }

  ul,
  p {
    font-size: 20px;
    line-height: 1.6;
    padding-bottom: 20px;
    strong {
      font-weight: 700;
    }

    &:last-child { padding: 0px !important; }

    &.img_block {
      margin-right: 40px;
      color: rgba(0,0,0,0.75);
      font-size: 13px;
      line-height: 18px;
      width: 100%;
      padding-bottom: 0px !important;
      margin-bottom: 30px !important;
      margin-top: 10px !important;
      br { display: none;}
      img {
        display: block;
        margin-bottom: 10px;
        width: 100% !important;
      }
    }
  }

  .img_block {
    img {
      display: block;
    }
    font-size: 12px;
    line-height: 160%;
  }

  .img_left,
  .img_block.img_left {
      float: left;
      margin-top: 10px;
      margin-bottom: 20px;
      margin-right: 40px;
      max-width: 250px;
      img {
        display: block;
        width: 100%;
        height: auto;
        margin-bottom: 15px;
      }
      font-size: 12px;
      line-height: 160%;
  }

  &:nth-child(2n) {
    // .img_left { float: right;}
  }

  &:before, &:after {
    content: "\0020";
    display: block;
    height: 0;
    visibility: hidden;
  }

  &:after {
    clear: both;
  }
}