@charset "UTF-8";

#body {
    .container {
        .row.comment-list {
            margin-left: -10px;
            margin-right: -10px;
            > div {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
}

.row.comment-list {
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    .wrapper {
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid $grey-bright;
        overflow: hidden;
    }
    
    img {
        width: 100px;
        float: left;
        margin-bottom: 20px;
        
        .is-xs & {
            width: 80px;
        }
    }
    
    time {
        font-size: 1.07em;
        line-height: 100%;
        font-weight: $font-light;
        color: $black;
        text-transform: uppercase;
        float: right;
        padding-left: 15px;
        padding-top: 2px;
        
        .is-sm & {
            display: block;
            float: none;
            padding: 0;
            margin: 0 0 25px 120px;
        }
        
        .is-xs & {
            display: block;
            font-size: 1em;
            float: none;
            padding: 0;
            margin: 0 0 20px 100px;
        }
    }
    
    h2 {
        font-family: $font-1, $font-family-1;
        font-weight: $font-black;
        font-size: 1.47em;
        line-height: 127%;
        color: $black;
        padding: 0;
        margin: 0 0 3px 120px;
        position: relative;
        top: -5px;
        
        .is-sm & {
            font-size: 1.4em;
            line-height: 100%;
            top: -3px;
        }
        
        .is-xs & {
            font-size: 1.27em;
            line-height: 100%;
            margin-left: 100px;
            margin-bottom: 10px;
            top: -1px;
        }
    }
    
    p {
        margin: 0 0 0 120px;
        
        .is-xs & {
            margin-left: 100px;
        }
    }
}