// main:style.scss

@charset "UTF-8";

$font-1: "MetronicSlabPro";
$font-2: "Lato";
$font-family-1: "sans-serif";

$font-light: 300;
$font-regular: 400;
$font-semi: 600;
$font-bold: 700;
$font-black: 900;

$black: #000;
$black-light: #171616;
$black-bright: #1c1c1c;
$white: #fff;
$white-dirty: #efefef;
$grey: #979797;
$grey-dark: #444444;
$grey-darker: #777777;
$grey-light: #afaeae;
$grey-bright: #d8d8d8;
$cyan: #00cdff;
$cyan-dark: #0c8ba9;
$cyan-light: #eafaff;

$header-bg: $black;
$header-font: $white;
$header-border: $grey-dark;
$header-height: 114px;
$header-height-xs: 70px;
$header-logo-padding: 15px;
$header-logo-padding-top-xs: 10px;
$header-logo-padding-bottom-xs: 10px;
$header-language-button-top: 37px;
$header-navi-button-top: 40px;
$header-navi-button-top-xs: 21px;

$header-fixed-top: -54px;
$header-fixed-top-xs: -25px;
$header-fixed-logo-padding: 60px;
$header-fixed-logo-padding-xs: 31px;
$header-fixed-language-button-top: 59px;
$header-fixed-navi-button-top: 62px;
$header-fixed-navi-button-top-xs: 31px;

$navi-bg: $black;
$navi-bg-level-1: $black-light;
$navi-bg-level-2: $black-bright;
$navi-border: $grey-dark;
$navi-font: $grey-light;
$navi-font-hover: $white;

$footer-bg: $black;
$footer-font: $white;
$footer-font-hover: $grey-light;
$footer-icon: $white;
$footer-icon-hover: $grey-light;
$footer-icon-color: $black;

$button-default: #afaeae;
$button-default-border: #999999;
$button-default-active: #888888;
$button-default-border-actvie: #999999;

$button-primary: #00cdff;
$button-primary-border: #d8d8d8;
$button-primary-active: #000000;
$button-primary-active-border: #999999;

$button-success: #03bf62;
$button-success-border: #009b4a;
$button-success-active: #009b4a;
$button-success-active-border: #009b4a;

$button-warning: #dba400;
$button-warning-border: #b57500;
$button-warning-active: #b57500;
$button-warning-active-border: #b57500;

$button-danger: #ff0000;
$button-danger-border: #c70202;
$button-danger-active: #c70202;
$button-danger-active-border: #c70202;

$button-form-positive: #a2eebe;
$button-form-positive-border: #a7d0a4;
$button-form-positive-active: #03bf62;
$button-form-positive-active-border: #009b4a;

$button-form-negative: #e9b2b2;
$button-form-negative-border: #b47a7a;
$button-form-negative-active: #ff0000;
$button-form-negative-active-border: #c70202;

$form-error: #c70202;
$form-error-placeholder: #c70202;
$form-error-background: #e9b2b2;
$form-glow: 0 0 6px 0 rgba(12, 138, 169, 0.7);
$form-glow-readonly: 0 0 6px 0 rgba(216, 216, 216, 1);
$form-box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.4);

$grid-padding: 10px;
$window-margin-xs: 10px;
$navi-height: 60px;
$navi-height-xs: 45px;
$navi-space-width: 300px;
$navi-slide-width: 380px;
$navi-close-button: -260px;
