@charset "UTF-8";

.faq-wrapper {
    
    margin-bottom: 10px;
    margin-top: -10px;
    
    .faq-item {
        
        a.accordion-trigger {
            font-size: 1.2em;
            color: $black;
            cursor: pointer;
            margin-bottom: 10px;
            display: block;
            font-weight: $font-bold;
            
            &:hover, &:active, &:focus {
                color: $black;
            }
        }
        
        .faq-content {
            padding-top: 5px;
            padding-bottom: 10px;
        }
    }
}