@charset "UTF-8";

@font-face {
    font-family: $font-1;
    src: url('../fonts/metronic-slab-pro/MetronicSlabProBlack.eot');
    src: local('☺'), url('../fonts/metronic-slab-pro/MetronicSlabProBlack.eot?#') format('embedded-opentype'), url('../fonts/metronic-slab-pro/MetronicSlabProBlack.woff2') format('woff2'), url('../fonts/metronic-slab-pro/MetronicSlabProBlack.woff') format('woff'), url('../fonts/metronic-slab-pro/MetronicSlabProBlack.ttf') format('truetype');
    font-weight: $font-black;
}

@font-face {
    font-family: $font-1;
    src: url('../fonts/metronic-slab-pro/MetronicSlabProSemiBold.eot');
    src: local('☺'), url('../fonts/metronic-slab-pro/MetronicSlabProSemiBold.eot?#') format('embedded-opentype'), url('../fonts/metronic-slab-pro/MetronicSlabProSemiBold.woff2') format('woff2'), url('../fonts/metronic-slab-pro/MetronicSlabProSemiBold.woff') format('woff'), url('../fonts/metronic-slab-pro/MetronicSlabProSemiBold.ttf') format('truetype');
    font-weight: $font-semi;
}


@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome/fontawesome-webfont.eot?v=4.3.0');
    src: url('../fonts/fontawesome/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('../fonts/fontawesome/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('../fonts/fontawesome/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('../fonts/fontawesome/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('../fonts/fontawesome/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.fawesome {
    
    line-height: 2.4em;
    padding-left: 1px;
    .is-xs & {
        line-height: 1.73em;
    }
    
    &:before, &:after {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        padding: 0px;
        margin: 0px;
        vertical-align: bottom;
        font-weight: 400;
        font-size: 2.4em;
        .is-xs & {
            font-size: 1.73em;
        }
    }
    
    &.active {
        color: $cyan !important;
    }
    
    &.button {
        display: block;
        text-align: center;
        width: 4.93em;
        border-radius: 50%;
        background: $black;
        padding: 0;
        font-size: inherit;
        font-weight: inherit;
        .is-xs & {
            width: 2.53em;
            border-radius: 50%;
            padding: 0;
        }
        &:before, &:after {
            line-height: 200%;
            padding-top: 0;
            .is-xs & {
                font-size: 1.27em;
            }
        }
        
        // center for certan icons
        &.fa-facebook, &.fa-googleplus, &.fa-pinterest {
            &:before, &after {
                line-height: 190%;
                padding-top: 5%;                
            }
        }
        
        &:hover {
            background: $cyan;
        }
    }
    
    *.text {
        margin-left: 15px;
    }
    
    &.big {
        line-height: 3.07em;
        .is-xs & {
            line-height: 2.13em;
        }
        &:before, &:after {
            font-size: 3.07em;
            .is-xs & {
                font-size: 2.13em;
            }
        }
    }
    
    &.small {
        line-height: 1.33em;
        .is-xs & {
            line-height: 1.27em;
        }
        &:before, &:after {
            font-size: 1.33em;
            .is-xs & {
                font-size: 1.27em;
            }
        }
        &.button {
            width: 2.67em;
            .is-xs & {
                width: 2.53em;
            }
        }
    }
    
    .button-group &.button {
        display: inline-block;
        margin-right: 2.4em;
        .is-xs & {
            margin-right: 1.4em;
        }
        &.small {
            margin-right: 1.2em;
            .is-xs & {
                margin-right: 0.7em;
            }
        }
        &:last-child {
            margin-right: 0;
        }
    }
}



.fawesome.fa-twitter:before {
    content: "\f099";
}
.fawesome.fa-facebook:before {
    content: "\f09a";
}
.fawesome.fa-googleplus:before {
    content: "\f0d5";
}
.fawesome.fa-instagram:before {
    content: "\f16d";
}
.fawesome.fa-linkedin:before {
    content: "\f0e1";
}
.fawesome.fa-map:before {
    content: "\f041";
}
.fawesome.fa-pinterest:before {
    content: "\f231";
}
.fawesome.fa-soundcloud:before {
    content: "\f1be";
}
.fawesome.fa-xing:before {
    content: "\f168";
}
.fawesome.fa-youtube:before {
    content: "\f167";
}
.fawesome.fa-vimeo:before {
    content: "\f194";
}
.fawesome.fa-vine:before {
    content: "\f1ca";
}
.fawesome.fa-issuu:before {
    content: "\f192";
}
.fawesome.fa-flickr:before {
    content: "\f16e";
}
.fawesome.fa-blog:before {
    content: "\f039";
}
.fawesome.fa-email:before {
    content: "\f0e0";
}
.fawesome.fa-search:before {
    content: "\f002";
}
.fawesome.fa-education:before {
    content: "\f19d";
}
.fawesome.fa-bus:before {
    content: "\f207";
}
.fawesome.fa-gate:before {
    content: "\f19c";
}
.fawesome.fa-clock:before {
    content: "\f017";
}
.fawesome.fa-man:before {
    content: "\f007";
}
.fawesome.fa-circle:before {
    content: "\f10c";
}
.fawesome.fa-close:before {
    content: "\f00d";
}
.fawesome.fa-edit:before {
    content: "\f040";
}
.fawesome.fa-tickets:before {
    content: "\f02c";
}
.fawesome.fa-ticket:before {
    content: "\f145";
}
.fawesome.fa-gift:before {
    content: "\f06b";
}
.fawesome.fa-calender:before {
    content: "\f133";
}
.fawesome.fa-favorite:before {
    content: "\f005";
}
.fawesome.fa-left:before {
    content: "\f104";
}
.fawesome.fa-right:before {
    content: "\f105";
}
.fawesome.fa-up:before {
    content: "\f106";
}
.fawesome.fa-down:before {
    content: "\f107";
}
.fawesome.fa-left-bold:before {
    content: "\f053";
}
.fawesome.fa-right-bold:before {
    content: "\f054";
}
.fawesome.fa-up-bold:before {
    content: "\f077";
}
.fawesome.fa-down-bold:before {
    content: "\f078";
}
.fawesome.fa-back:before {
    content: "\f112";
}
.fawesome.fa-more:before {
    content: "\f064";
}
.fawesome.fa-menu:before {
    content: "\f0c9";
}
.fawesome.fa-bookmark:before {
    content: "\f02e";
}
.fawesome.fa-plus:before {
    content: "\f067";
}
.fawesome.fa-plus-circle:before {
    content: "\f055";
}
.fawesome.fa-eye:before {
    content: "\f06e";
}
.fawesome.fa-heart:before {
    content: "\f004";
}
.fawesome.fa-hand-down:before {
    content: "\f0a7";
}
.fawesome.fa-bullhorn:before {
    content: "\f0a1";
}
.fawesome.fa-paper-plane:before {
    content: "\f1d9";
}
.fawesome.fa-list:before {
    content: "\f03a";
}
.fawesome.fa-grid:before {
    content: "\f00a";
}