@charset "UTF-8";

#footer {
    background: $footer-bg;
    color: $footer-font;
    overflow: hidden;
    
    > .container {
        padding-top: 70px;
        padding-bottom: 70px;
        
        > .row {
            margin: 0 -10px;
            
            > div {
                padding-left: 10px;
                padding-right: 10px;
                margin-bottom: 30px;
            }
        }
    }
    
    h3 {
        font-family: $font-2, $font-family-1;
        font-weight: $font-bold;
        text-transform: uppercase;
        font-size: 1em;
        line-height: 180%;
        color: $footer-font;
        border-bottom: 2px solid $grey;
        margin: 0 0 20px 0;
    }
    
    a.textlink {
        display: block;
        font-family: $font-2, $font-family-1;
        font-weight: $font-regular;
        font-size: 1em;
        line-height: 173%;
        color: $footer-font;
        &:hover, &:focus, &:active {
            color: $footer-font-hover;
        }
    }
    
    .fawesome.button {
        background: $footer-icon;
        
        &:hover, &:focus, &:active {
            background:$footer-icon-hover;
        }
    }
    
    .footer-logo {
        height: 80px;
        width: auto;
        margin: 0;
        display: inline-block;
        float: left;
        
        .is-sm & {
            height: 68px;
        }
        
        .is-xs & {
            height: auto;
            max-height: 80px;
            max-width: 100%;
        }
    }
}