@charset "UTF-8";

body {
    font-family: $font-2, $font-family-1;
    font-size: 15px;
    font-weight: $font-regular;
    color: $black;
    &.show-layer {
        height: 100%;
        min-height: 100%;
        overflow: hidden;
    }
}

#body {
    overflow: hidden;
    > .container {
        > .row {
            margin-left: -$grid-padding;
            margin-right: -$grid-padding;
            > div {
                padding-left: $grid-padding;
                padding-right: $grid-padding;
            }
        }
        .is-xs & {
            padding-left: $window-margin-xs;
            padding-right: $window-margin-xs;
        }
    }
}

b, strong {
    font-weight: $font-bold;
}
small {
    font-weight: $font-light;
}
.uppercase {
    text-transform: uppercase;
}
.underline {
    text-decoration: underline;
}
.word-wrap {
    word-wrap: break-word;
}
.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
    color: $cyan-dark;
    &:hover {
        color: $cyan;
    }
    &:hover, &:active, &:visited, &:focus {
        text-decoration: none;
    }
}

h1 {
    font-family: $font-1, $font-family-1;
    font-weight: $font-black;
    font-size: 4.25em;
    line-height: 109%;
    margin: 0;
    .is-xs & {
        font-size: 2.13em;
        line-height: 97%;
    }
}

h2 {
    font-family: $font-2, $font-family-1;
    font-size: 1.6em;
    line-height: 133%;
    margin: 0;
    .is-xs & {
        font-size: 1.07em;
        line-height: 125%;
    }
}

h3 {
    margin: 0;
}

p {
    font-size: 1em;
    line-height: 133%;
    margin: 0;
    .is-xs & {
        font-size: 1em;
        line-height: 133%;
    }
}

.button {
    display: inline-block;
    font-weight: $font-bold;
    font-size: 1.2em;
    color: $white;
    background: $cyan;
    padding: 10px 48px;
    border-radius: 1.33em;
    cursor: pointer;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    .is-xs & {
        font-size: 1.07em;
        padding: 9px 40px;
        border-radius: 1.2em;
    }
    
    &:hover {
        background: $black;
    }
}

.button-group {
    cursor: default;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    .button {
        margin-right: 2.4em;
        margin-bottom: 10px;
        &:last-child {
            margin-right: 0;
        }
    }
}

.bubble {
    width: 105px;
    height: 105px;
    padding: 35px 5px 0 10px;
    margin: 0;
    font-family: $font-1, $font-family-1;
    font-weight: $font-black;
    font-size: 1.47em;
    line-height: 95%;
    background: $cyan;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    color: $white;
    text-transform: uppercase;
    display: block;
    word-wrap: break-word;
    cursor: default;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    .is-xs & {
        width: 80px;
        height: 80px;
        padding: 25px 5px 0 8px;
        font-size: 1.1em;
        line-height: 97%;
    }
}

.center {
    display: block;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.line {
    width:100%;
    height:1px;
    display: block;
    background: $grey;
    &.thick {
        height: 3px;
        background: $black;
    }
}

.tooltip {
    position: absolute;
    z-index: 9999999999;
    display: none;
    pointer-events: none;
    .tooltip-content {
        background: $black;
        color: $white;
        padding: 5px 15px;
        border-radius: 15px;
    }
    .tooltip-arrow {
        position: absolute;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
    }
    
    &.top {
        padding: 5px 0;
        margin-top: -5px;
        .tooltip-arrow {
            border-top-color: $black;
            bottom: 0;
            left: 50%;
            margin-left: -5px;
            border-width: 5px 5px 0 5px;
        }
    }
    &.bottom {
        padding: 5px 0;
        margin-bottom: -5px;
        .tooltip-arrow {
            border-bottom-color: $black;
            top: 0;
            left: 50%;
            margin-left: -5px;
            border-width: 0px 5px 5px 5px;
        }
    }
}

.layer {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    
    .show-layer & {
        display: block;
    }
}