@charset "UTF-8";

ul.info-box {
    width: 100%;
    list-style: none;
    margin: 0 0 20px 0;
    padding: 0;
    border-top: 1px solid $grey-light;
    background: $cyan-light;
    
    li {
        width: 100%;
        font-family: $font-2, $font-family-1;
        font-weight: $font-regular;
        border-left: 1px solid $grey-light;
        border-right: 1px solid $grey-light;
        border-bottom: 1px solid $grey-light;
        
        div.head {
            background: $grey-dark;
            text-transform: uppercase;
            font-weight: $font-bold;
            font-size: 1.07em;
            letter-spacing: 0.125em;
            cursor: pointer; 
            padding: 10px 45px 10px 50px;
            color: $white;
        }
            
        &.accordion-inside {
            position: relative;
            
            &:after, &:before {                    
                position: absolute;
                top: 0;
                right: 0;
                cursor: pointer;
                color: $white;
                
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                padding: 8px 20px;
                margin: 0px;
                vertical-align: bottom;
                font-weight: 400;
                font-size: 1.8em;
                content: "\f107";
            }
            
            &:before {
                right: inherit;
                left: 0;
                content: "\f05a";
                font-size: 1.24em;
                padding: 12px 20px;
            }
        
            &.opened {
                &:after {
                    -ms-transform: rotate(-180deg);
                    -webkit-transform: rotate(-180deg);
                    transform: rotate(-180deg);
                }
            }
        }
        
        ul.content {
            margin: 0;
            border: none;
            
            li { 
                border-left: none;
                border-right: none;
                border-bottom: none;
                padding: 10px 0;
            }
            
            h1, h2, h3, h4, h5, h6 {
                margin: 0 !important;
                padding: 10px 20px 0px !important;
                color: $grey-dark !important;
                font-size: 1.07em !important;
                font-family: $font-2, $font-family-1 !important;
                font-weight: $font-bold !important;
                line-height: 133% !important;
                text-transform: none !important;
            }
            
            p {
                margin: 0;
                padding: 10px 20px;
                color: $grey-dark;
                font-size: 1em;
            }
            
            .line, hr {
                margin: 10px 0 0 !important;
                background: $grey-light;
                
                & + * {
                    font-size: 1em !important;
                    padding: 10px 20px 0 !important;
                    text-align: center !important;
                }
                
                & + * a, & + a {
                    display: block;
                    margin: 0 auto;
                    font-weight: $font-bold;
                    font-size: 1.1em !important;
                    color: $cyan;
                    
                    &:hover, &:active, &:focus {
                        color: $cyan-dark;
                    }
                }
            }
        }
    }
}