// main: style.scss


@-webkit-keyframes fadein { 0% { opacity: 0; } 100% { opacity: 1; } }
   @-moz-keyframes fadein { 0% { opacity: 0; } 100% { opacity: 1; } }
    @-ms-keyframes fadein { 0% { opacity: 0; } 100% { opacity: 1; } }
     @-o-keyframes fadein { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fadein { 0% { opacity: 0; } 100% { opacity: 1; } }

// .fade {
  // -webkit-backface-visibility: hidden;
  //    -moz-backface-visibility: hidden;
  //     -ms-backface-visibility: hidden;
  //      -o-backface-visibility: hidden;

  // opacity: 0;

  // -webkit-transition: opacity 0.25s ease-in-out !important;
  //    -moz-transition: opacity 0.25s ease-in-out !important;
  //     -ms-transition: opacity 0.25s ease-in-out !important;
  //      -o-transition: opacity 0.25s ease-in-out !important;
  //         transition: opacity 0.25s ease-in-out !important;

  // &.in {
    // opacity: 1;
    // -webkit-animation: fadein 0.125s ease-out;
    //    -moz-animation: fadein 0.125s ease-out;
    //     -ms-animation: fadein 0.125s ease-out;
    //      -o-animation: fadein 0.125s ease-out;
    //         animation: fadein 0.125s ease-out;

    //   -webkit-animation-fill-mode: both;
    //      -moz-animation-fill-mode: both;
    //       -ms-animation-fill-mode: both;
    //        -o-animation-fill-mode: both;
    //           animation-fill-mode: both;
//   }
// }

#list {margin-top: 30px; }

.list-header {
  h4 {margin-bottom: 15px !important; }
  #filter-summary {margin: 0px; }
  .list-controls {margin-bottom: 15px; }
}

.img-full{
  width: 100%;
}

.item-inner{
  background-color: transparent;
  background-image: url("../img/trns-1.png") !important;
}

#teaser .item {
  h3 { font-weight: 700;}
  h4 { font-weight: 300;}
  h5 { font-weight: 300; opacity: 0.5; }
  h3, h4 , h5 {
    font-size: 14px;
    line-height: 20px;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;

    margin: 0px !important;

    &:empty{ display: none;}
  }
}


a.img,
a.img-detail {
  &.loaded:hover {
    img {
      opacity: 0.8 !important;
    }
  }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  .img,
  .img-detail {
    background-image: url("../img/spinner-retina.gif") !important;
    background-size: 32px;
  }
}

.img,
.img-detail {
  background-image: url("../img/spinner.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f2f2f2;
  display: block;
  &.loaded {
    img {
      opacity: 1;
    }
     background-image: none;
  }
  img {
    width: 100%;
    height: auto;
    display: block !important;
    opacity: 0;
    -webkit-transition: opacity 0.125s ease-in-out !important;
       -moz-transition: opacity 0.125s ease-in-out !important;
        -ms-transition: opacity 0.125s ease-in-out !important;
         -o-transition: opacity 0.125s ease-in-out !important;
            transition: opacity 0.125s ease-in-out !important;

    // -webkit-filter: grayscale(100%); /* New WebKit */
    // -moz-filter: grayscale(100%);
    // -ms-filter: grayscale(100%);
    // -o-filter: grayscale(100%); /* Not yet supported in Gecko, Opera or IE */
    // filter: url("data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'><filter%20id='grayscale'><feColorMatrix%20type='matrix'%20values='0.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200%200%200%201%200'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    // filter: gray; /* IE */
    // filter: grayscale(100%); /* Current draft standard */
  }
}
.img {
  margin-bottom: 10px;
}

.img-detail {
  margin-bottom: 10px;
  position: relative;
}

#empty-container {
  display: none;
  &.on {
    display: block;
  }
}

.item {
  list-style: none;
}

.btn-round {
  border-radius: 100% !important;
  &.pull-right { margin-left: 5px !important;}
  &.pull-left { margin-right: 5px !important;}
}

.list {
  .item {
    margin-top: 0px;
    margin-bottom: 10px;
    &.delete { display: none; }

    &:hover > a{
      background-image: url("../img/trns-2.png") !important;
    }

    > a {
      background-image: url("../img/trns-1.png") !important;
      color: black;
      padding: 20px 25px;
      display: block;

      h3 { font-weight: 300;}
      h4 { font-weight: 300;}
      h5 { font-weight: 300; opacity: 0.5; }
      h3, h4 , h5 {
        font-size: 14px;
        line-height: 20px;
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
        overflow: hidden;

        margin: 0px !important;

        &:empty{ display: none;}
      }

      h3 {
        font-size: 25px;
        line-height: 40px;
        white-space: nowrap !important;
      }
    }
  }
}

.list .item.item-preview {
  > a { display: none !important; }
}

.item {
  background-color: white;
  &.item-preview {
    .description {
      padding: 30px 0;
      display: block;
      opacity: 1;
      height: auto;
    }
    .img img {
      // -webkit-filter: grayscale(0%); /* New WebKit */
      // -moz-filter: grayscale(0%);
      // -ms-filter: grayscale(0%);
      // -o-filter: grayscale(0%); /* Not yet supported in Gecko, Opera or IE */
      // filter: url("data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'><filter%20id='grayscale'><feColorMatrix%20type='matrix'%20values='0.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200%200%200%201%200'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
      // filter: none ; /* IE */
      // filter: grayscale(0%); /* Current draft standard */
    }
  }

  .description {
    position: relative;
    height: 0px;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.125s ease-in-out !important;
       -moz-transition: opacity 0.125s ease-in-out !important;
        -ms-transition: opacity 0.125s ease-in-out !important;
         -o-transition: opacity 0.125s ease-in-out !important;
            transition: opacity 0.125s ease-in-out !important;
    p.lead {
      margin-right: 40px;
    }
    .actions {
      right: 10px;
      top: 0px;
      padding: 0px;
    }
    header {
      h3 { font-weight: 700;}
      h4 { font-weight: 300;}
      h5 { font-weight: 300; opacity: 0.5; }
      h3, h4 , h5 {
        font-size: 22px;
        line-height: 140%;
        &:empty{ display: none;}
      }
    }
  }
}

.no-transition .row .item{
    -webkit-transition: none !important;
       -moz-transition: none !important;
        -ms-transition: none !important;
         -o-transition: none !important;
            transition: none !important;
}

.grid,
.list {
  .item {
    // -webkit-transition: -webkit-transform 0.25s ease-in-out !important;
    //    -moz-transition: -moz-transform 0.25s ease-in-out !important;
    //     -ms-transition: -ms-transform 0.25s ease-in-out !important;
    //      -o-transition: -o-transform 0.25s ease-in-out !important;
    //         transition: transform 0.25s ease-in-out !important;

    -webkit-transition: -webkit-transform 0s ease-in-out !important;
       -moz-transition: -moz-transform 0s ease-in-out !important;
        -ms-transition: -ms-transform 0s ease-in-out !important;
         -o-transition: -o-transform 0s ease-in-out !important;
            transition: transform 0s ease-in-out !important;
    &.first_item_on_next_row {
      clear: left!important;
    }
  }
}

.grid {
  .item {
    .crop {
      position: absolute;
      right: 20px;
      top: 10px;
      display: none!important;
    }

    &:hover {
      .crop {
        display: block!important;
      }
      .img img {
          // -webkit-filter: grayscale(0%); /* New WebKit */
          // -moz-filter: grayscale(0%);
          // -ms-filter: grayscale(0%);
          // -o-filter: grayscale(0%); /* Not yet supported in Gecko, Opera or IE */
          // filter: url("data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'><filter%20id='grayscale'><feColorMatrix%20type='matrix'%20values='0.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200%200%200%201%200'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
          // filter: none ; /* IE */
          // filter: grayscale(0%); /* Current draft standard */
      }
    }

    > a {
      display: block;
      color: black;
      margin-bottom: 20px;

      &:hover { color: black; }

      h3 { font-weight: 700;}
      h4 { font-weight: 300;}
      h5 { font-weight: 300; opacity: 0.5; }
      h3, h4 , h5 {
        font-size: 13px;
        line-height: 140%;
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
        height: 20px !important;
        overflow: hidden;

        margin: 0px !important;

        &:empty{ display: none;}
      }
    }
  }
}

.exhibition-list {
  .jscroll-inner {
    .grid:after {
      clear:none;
    }
    .jscroll-loading {
      clear:both;
    }
  }
}

.compact {
  .item {
		background:none;
    .inner {
      font-size: 15px;
      line-height: 21px;
      overflow: hidden;
      background-color: #f2f2f2;
      position: relative;
    }

    &:hover .inner { background-color: rgba(0,0,0,0.075); }
    &.title {
      background: none;
      &:hover {background: none; }

      h3 {
        font-weight: 700;
        margin-bottom: 5px !important;
        display: block;
        text-transform: uppercase;
        text-transform: uppercase;
        font-size: 16px;
        line-height: 20px;
      }
    }

    .img {
      background-color: #f2f2f2;
      width: 80px;
      height: 100%;
      float: left;
      display: block;
      overflow: hidden;
      margin-bottom: 9px;
      position: absolute;
      left: 0;
      top: 0;
      padding: 0px;

      .photo-credits-over {
          display: none;
      }
    }

    a.txt {
      float: left;
      padding: 10px;
      padding-left: 95px;
      display: block !important;
      font-size: 13px;
      line-height: 18px;
      width: 100%;
      min-height: 90px;
      box-sizing: border-box !important;
      -moz-box-sizing: border-box !important;

      &:hover * { color: black; }

      h3 { font-weight: 700; }
      h4 { font-weight: 300; }
      h5 { font-weight: 300; opacity: 0.5;}
      h3,
      h4,
      h5 {
        // white-space: nowrap;
        // text-overflow: ellipsis;
        // overflow: hidden;
        font-size: 13px;
        line-height: 18px;
        width: 100%;
        display: inline-block;
        box-sizing: border-box !important;
        -moz-box-sizing: border-box !important;
        margin: 0px !important;
        display: block !important;

        &:empty{ display: none !important;}

      }
      p { display: none;}

    }

    &:nth-child(1) {
      margin-bottom: 0px !important;
      .inner {
        background: none !important;
        padding-bottom: 80px;
      }

      .img {
          .photo-credits-over {
              display: inline-block;
          }
      }

      .txt {
        padding: 0px;
        background: none !important;
        width: 100%;
        display: block !important;
        margin-bottom:8px;
				height:90px;

        h3,
        h4,
        h5 {
          font-size: 14px !important;
          line-height: 20px !important;
        }

        p {
          font-size: 13px !important;
          line-height: 18px !important;
          margin-top: 8px;
          display: block;
        }

        .photo-credits-over {
            display: none;
        }
      }

      .img {
        width: 100% !important;
        position: relative;
      }
    }
  }

  .cms_placeholder {
    .item {
      padding-bottom:25px;
      .inner {
        background-color: #f2f2f2 !important;
        padding-bottom:0px;
      }

      .img {
        width: 80px !important;
        position: absolute;
      }

      a.txt {
        padding: 10px 10px 10px 95px;
        margin:0;
				height:auto;
        h3,
        h4,
        h5 {
          font-size: 13px !important;
          line-height: 18px !important;
        }
        p { display: none;}
      }
    }

    &:nth-child(2) {
      .item {
        margin-bottom: 0px !important;
        .inner {
          background: none !important;
          padding-bottom: 80px;
        }

        .txt {
          padding: 0px;
          background: none !important;
          width: 100%;
          display: block !important;
          margin-bottom:8px;
					height:90px;

          h3,
          h4,
          h5 {
            font-size: 14px !important;
            line-height: 20px !important;
          }

          p {
            font-size: 13px !important;
            line-height: 18px !important;
            margin-top: 8px;
            display: block;
          }
        }

        .img {
          width: 100% !important;
          position: relative;
        }
      }
    }
  }
}

.pagination {
  width: 100%;
}

@media (max-width: 767px) {
  .museum-list {
    .item {
      min-height: none;
    }
  }
  .exhibition-list {
    .item {
      min-height: none;
    }
  }
  .shop-product-list {
    .item {
      min-height: none;
    }
  }
}
@media (min-width: 768px) {
  .museum-list {
    .item {
      min-height: 200px;
    }
  }
  .exhibition-list {
    .item {
      min-height: 240px;
    }
  }
  .shop-product-list {
    .item {
      min-height: 203px;
      padding-bottom: 0!important;
    }
  }
}
@media (min-width: 992px) {
  .museum-list {
    .item {
      min-height: 249px;
    }
  }
  .exhibition-list {
    .item {
      min-height: 289px;
    }
  }
  .shop-product-list {
    .item {
      min-height: 217px;
    }
  }
}
@media (min-width: 1200px) {
  .museum-list {
    .item {
      min-height: 214px;
    }
  }
  .exhibition-list {
    .item {
      min-height: 254px;
    }
  }
  .shop-product-list {
    .item {
      min-height: 217px;
      padding-bottom: 0!important;
    }
  }
}
