@charset "UTF-8";

#body {
    .container {
        .row.magazine-grid {
            margin-left: -15px;
            margin-right: -15px;
            > div {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
}

.row.magazine-grid {
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
        
    margin-bottom: 60px;
    
    .is-xs & {
        margin-bottom: 10px;
    }
    
    > div {
        padding-bottom: 30px;
        
        .is-xs & {
            padding-bottom: 50px;
        }
    
        a.content {
            display: block;
            color: $black;
            
            h2 {
                font-family: $font-2, $font-family-1;
                font-size: 1.2em;
                line-height: 1.2em;
                font-weight: $font-bold;
                margin-bottom: 20px;
                margin-left: 35px;
                position: relative;
                
                &:before {
                    font-size: 1.2em;
                    position: absolute;
                    top: 0;
                    left: -35px;
                }
            }
            
            h3 {
                font-family: $font-1, $font-family-1;
                font-size: 1.47em;
                line-height: 127%;
                font-weight: $font-black;
                color: $black;
                text-transform: none;
                margin-bottom: 0;
            }
            
            h4 {
                font-family: $font-2, $font-family-1;
                font-size: 1.07em;
                line-height: 1.07em;
                font-weight: $font-light;
                text-transform: uppercase;
                color: $black;
            }
            
            &:hover, &:focus, &:active {
                color: $black;
                background: $white-dirty;
                box-shadow: 0px 0px 0px 15px $white-dirty;
            }
        }
    }
}