.magazine-special-event {
  #body {
    margin-top: 20px;
  }
  .list {
    margin-bottom: 45px;
  }
}

.museumssommer {
  .relative {
    h1 {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  a:hover {
    img {
      opacity: .75;
    }
  }
}