@charset "UTF-8";

.dyn_set_map {
    
    margin-top: 40px;
    
    .is-xs & {
        margin-top: 30px;
    }
    
    .map_canvas {
        margin-right: 10%;
        
        .is-xs & {
            margin-right: 0px;
        }
        .is-sm & {
            margin-right: 0px;
        }
        .is-md & {
            margin-right: 0px;
        }
    }
    
    .form-actions-wrapper {
        width: 100%;
        overflow: hidden;
    }
    
    .map_locations {
        margin: 30px 0 20px;
        
        ul {
            list-style-type: decimal;
            padding-left: 30px;
            
            li {
                padding: 2px;
            }
        }
    }
}

.static-map {
    .next-location {
        float:right;
    }
}