

.caret.black {
	border-top-color:#000000;
}

#toggle-list-filter {
	.caret {
		margin-left:3px;
	}
}

.icon-social-instagram {
	height:20px !important;
	background:url(../img/icons/instagram.png) center 4px no-repeat;
}
a:hover {
	.icon-social-instagram {
		background-position:center -16px;
	}
}

.social-bar {
	margin-left:5px;
	margin-right:15px;
	li {
		a {
			min-width:25px;
			.icon {
				width:25px;
			}
		}
	}
}
.navbar-header {
	.social-bar {
		position:absolute;
		top:4px;
		right:40px;
		clear:both;
		margin-right:10px;
		li {
			float:left;
			a {
				min-width:27px;
				.icon {
					color:#777;
					width:27px;
				}
			}
			a:hover {
				.icon {
					color:#000;
				}
			}
		}
	}
}

.navbar-search {
	height:40px;
	clear:both;
	overflow:hidden;
	background:#f7f7f7;
	margin-right:10px;
	li {
		display:block;
		float:left;
	}
	li:last-child {
		margin-left:2px;
	}
	.form-control {
		width:150px;
		height:40px;
		min-height:30px;
		font-size:15px/30px !important;
		border:none;
		box-shadow:none;
		padding-top:5px;
		padding-bottom:5px;
	}
	a:hover {
		background:#efefef !important;
	}
}

#search_form {
	button.btn {
		min-width:auto;
	}
}

.cms_edit {
	display:inline-block;
  .icon { 
		overflow:hidden;
		padding:0 0 0 5px;
		width:30px;
		text-align:center;
	}
}