
#notices {
  margin-bottom: 5px;

  h3 {font-size: 13px; line-height: 13px; margin-bottom: 10px; margin-top: -10px;}
  .row {
    > div {
      
      > p {
        background-color: #f2f2f2;
        width: 100%; 
        height: 100px; 
        display: table; 
        table-layout: fixed; 
      }
    }
  }

  a { display: table-cell; text-align: center; vertical-align: middle; 
    padding-left: 20px;
    padding-right: 20px;
    background-color: $blue !important;
    color: white !important;
    font-size: 20px;
    line-height: 25px;
    // text-transform: uppercase;
    font-weight: 300;

    &:hover {
      background-color: black !important;
      color: white;

    }
  }
}

.link-group {
  background-color: #00aefd;
  color: #fff;
  padding: 12px 20px 15px;
  margin-top: 5px;
  h4 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  line-height: 1.1;
  }
  ul {
    list-style-type: none;
    font-size: 14px;
    line-height: 18px;
    margin-left: 18px;
    li {
      padding-bottom: 2px;
	  margin-left: -17px;
    }
  }
  a:hover {
    color: #fff;
  }
}