
#notices {
  margin-bottom: 5px;

  h3 {font-size: 13px; line-height: 13px; margin-bottom: 10px; margin-top: -10px;}
  .row {
    > div {
      
      > p {
        background-color: #f2f2f2;
        width: 100%; 
        height: 100px; 
        display: table; 
        table-layout: fixed; 
      }
    }
  }

  a { display: table-cell; text-align: center; vertical-align: middle; 
    padding-left: 20px;
    padding-right: 20px;
    background-color: $blue !important;
    color: white !important;
    font-size: 20px;
    line-height: 25px;
    // text-transform: uppercase;
    font-weight: 300;

    &:hover {
      background-color: black !important;
      color: white;

    }
  }
}
