// main:style.scss

@charset "UTF-8";

.pagination {
    width: 100%;
    margin-top: 30px;
    text-align: center;

    ul.button-list {
        display: inline-block;

        .fawesome {
            &:before {
                font-size: 1.8rem;
                line-height: 120%;
                vertical-align: top;
                padding: 0 5px;
            }
        }

        li {
            margin-right: 5px;

            > * {
                min-width: 30px;
                text-align: center;
            }

            &.hidden {
                display: none;
            }

            &.prev_next {
                .is-xs & {
                    display: none;
                }
            }
        }
    }
}
