@charset "UTF-8";

#body {
    .container {
        .row.profile-header {
            margin-left: -10px;
            margin-right: -10px;
            > div {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
}

.row.profile-header {
    
    height: 281px;
    position: relative;
    margin-bottom: 20px;
    
    .is-md & {
        height: 229px;
    }
    
    .is-sm & {
        height: 236px;    
    }
    
    .is-xs & {
        height: auto;
        margin-bottom: 50px;
    }
    
    > div {
        height: 100%;
    }
    
    .statistics {
        clear: both;
        overflow: hidden;
        position: absolute;
        left: 15px;
        top: 50%;
        margin-top: -40px;
        
        .is-xs & {
            margin-top: 20px;
            position: static;
            display: -webkit-box;
            display: box;
            display: -ms-flexbox;
            display: flexbox;
            display: -webkit-flex;
            display: flex;
        }
        
        .statistic {
            width: 150px;
            display: inline-block;
            
            .is-xs & {
                width: 33.3%;
                max-width: 130px;
            }
            
            canvas.fawesome {
                margin-bottom: 8px;
                .fawesome {
                    margin-bottom: 2px;
                }
            }
            
            .fawesome {
                color: $cyan;
                margin-bottom: 10px;
                margin-left: 20px;
                display: inline-block;
            }
            
            .text {
                .is-xs & {
                    font-size: 0.85em;
                }
            }
            
            &:first-child {
                .fawesome {
                    margin-left: 30px;
                }
            }
            
            &:last-child {
                .fawesome {
                    margin-left: 5px;
                }
            }
        }
    }
}