@charset "UTF-8";

#body {
    .container {
        .row.project-header {
            margin-left: -10px;
            margin-right: -10px;
            > div {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
}

.row.project-header {
          
    h3 {
        font-family: $font-1, $font-family-1;
        font-weight: $font-black;
        font-size: 1.87em;
        line-height: 127%;
        color: $black;
        padding: 0;
        margin: 0 0 40px;
        text-transform: none;
        
        .is-sm & {
            font-size: 1.5em;
            margin-bottom: 30px;
        }
        
        .is-xs & {
            font-size: 1.4em;
            margin-bottom: 25px;
            margin-right: 35px;
        }
    }
                
    h4 {
        font-family: $font-2, $font-family-1;
        font-weight: $font-bold;
        font-size: 1.07em;
        line-height: 140%;
        color: $grey-dark;
        text-transform: uppercase;
        padding: 0;
        margin: 0 145px 20px 0;
        
        .is-sm & {
            font-size: 1em;
        }
        
        .is-xs & {
            font-size: 0.73em;
            line-height: 126%;
            margin-right: 115px;
            margin-bottom: 15px;
        }
        
        .feature {
            color: $cyan;
            padding-left: 5px;
            .is-xs & {
                padding-left: 5px;
            }
        }
    }
    
    .button-group.top-right {
        
        top: 5px;
        right: 10px;
        
        .is-sm & {
            top: 3px;
        }
        
        .is-xs & {
            top: 6px;
            position: relative;
            width: 100%;
        }
        
        .button {
            .is-xs & {
                position: absolute;
                top: -2px;
                right: -10px;
            }
        }
        
        .text {
            font-size: 1em;
            margin-right: 20px;
            .is-xs & {
                display: none;
            }
        }
    }
    
    .button-group.bottom-right {
        right: 10px;
        bottom: 50px;
        
        .is-sm & {
            bottom: 44px;
        }
        
        .is-xs & {
            bottom: 32px;
        }
    }
}