// main:style.scss

@charset "UTF-8";

#body {
    .container {
        .row.projects-grid {
            margin-left: -10px;
            margin-right: -10px;
            > div {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
}

.row.projects-grid {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    padding: 0;
    margin: 0;
    position: relative;

    > div {

        padding: 0;
        margin: 0;
        position: absolute;

        .wrapper {
            position: relative;

            a.content {
                width: 100%;
                height: 100%;
                display: block;
                position: relative;
                background: $cyan;

                .underlay {
                    width: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    display: none;
                    background: $cyan;

                    &.has-border {
                        border-bottom: 20px solid $white;
                        .is-xs & {
                            border-bottom: 10px solid $white;
                        }
                    }
                }

                img {
                    width: 100%;
                    margin: 0;
                }
                h2 {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    font-family: $font-1, $font-family-1;
                    font-weight: $font-bold;
                    font-size: 1.87em;
                    line-height: 110%;
                    color: $white;
                    padding-left: 20px;
                    padding-right: 20px;
                    margin: 0;
                    text-transform: none;
                    word-break: break-word;
                    word-wrap: break-word;
                    visibility: hidden;

                    .is-sm & {
                        font-size: 1.6em;
                        line-height: 100%;
                        padding-left: 10px;
                        padding-right: 10px;
                    }
                }

                .upload-project {
                    width: 100%;
                    height: 250px;
                    background: $grey-bright;
                    text-align: center;
                    .fawesome {
                        color: $grey;
                        padding-bottom: 15px;
                        line-height: 3.07em;
                        &:before {
                            font-size: 3.07em;
                        }

                        .is-xs &, .is-sm & {
                            line-height: 2.7em;
                            &:before {
                                font-size: 2.7em;
                            }
                        }
                    }
                    h3 {
                        color: $grey;
                        text-transform: none;
                        font-size: 1.7em;
                        line-height: 130%;
                        padding: 0 20px;

                        .is-sm & {
                            font-size: 1.5em;
                            line-height: 125%;
                            padding: 0 10px;
                        }
                    }
                }

                &:hover, &:focus {
                    .underlay {
                        display: block;
                    }
                    img {
                        opacity: 0.33;
                    }
                    h2 {
                        visibility: visible;
                    }
                }
            }

            .button-group {
                position: absolute;
                top: 10px;
                right: 20px;

                .is-sm & {
                    top: 0px;
                    right: 15px;
                }

                .is-xs & {
                    top: 15px;
                    right: 20px;
                }

                .button {
                    padding: 0;
                    background: none;
                    border-radius: 0;
                    color: $grey-light;
                    font-size: inherit;
                    display: none;
                    margin-left: 20px;
                    margin-right: 0;
                    margin-bottom: 0;
                    width: auto;

                    .is-sm & {
                        margin-left: 15px;
                    }

                    &:hover, &:focus {
                        color: $white;
                    }
                    &:before {
                        font-size: 2rem;
                        line-height: 100%;

                        .is-sm & {
                            font-size: 1.67rem;
                        }
                    }
                    &.active {
                        display: inline-block;
                    }
                    &:first-child {
                        margin-left: 0;
                    }
                }
            }

            &:hover, &.hover, &:focus {
                z-index: 1;

                .button-group {
                    .button {
                        display: inline-block;
                    }
                }

                a.content {
                    .upload-project {
                        background: rgba(216, 216, 216, 0.33);
                        .fawesome {
                            color: $white;
                        }
                        h3 {
                            color: $white;
                        }
                    }
                }
            }

            &.hover, &:focus {
                a.content {
                    .underlay {
                        display: block;
                    }
                    img {
                        opacity: 0.33;
                    }
                    h2 {
                        visibility: visible;
                    }
                }
            }
        }
    }
}
