.shop-product-detail {
    h1 {
        margin:40px 0px 0px 0px;
    }
    h2 {
        margin:0px;
    }
    h3 {
        margin-top:20px;
        margin-bottom:5px;
    }
    ul {
        margin-left:20px;
    }
    .price {
        float:left;
    }
    .to-shop {
        float:right;
    }
}

.product-list-sidebar {
    .ad_banner {
        margin-bottom: 20px;
    }
}