#side_nav {
  a {
    padding-left: 25px !important;
    padding-right: 25px !important;
    padding-top: 6px;
    padding-bottom: 6px;
    display: block;
  }

  li.selected {
    > a {
      background-color: #f2f2f2 !important;
      color: black !important;
      // padding-top: 8px;
      // padding-bottom: 8px;
      // margin-top: -2px;
      // margin-bottom: -2px;
    }
  }
  li {
    list-style: none !important;
  }
  
 > li {
    border: none;
    border-bottom: 5px solid white;
    margin-bottom: 0px;
    background-color: #f2f2f2;

    > a {
      font-weight: 700;
      text-transform: uppercase;
      font-size: 16px;
      line-height: 20px;
      display: block;
      padding-bottom: 13px;
      padding-top: 16px;
      padding-left: 25px;

      &:hover {
        color: black;
        background-color: #f2f2f2;
      }
    }

    ul {
      border-top: 1px solid #f2f2f2;
      li {
        &:first-child > a { padding-top: 12px; }
        &:last-child  > a { padding-bottom: 12px; }
        a {
          display: inline-block;
          margin-left: 0;
          white-space: nowrap;
          text-overflow: ellipsis;
          width: 100%;
          overflow: hidden;
          box-sizing: border-box !important;
          -moz-box-sizing: border-box !important;
        }
      }
      a {
        &:hover {
          color: black;
          background-color: #f2f2f2;
        }
      }
    }
  }
}