@charset "UTF-8";

/* Styling for the counselling subsite */

// @options -t compressed counselling.scss ../css/counselling.css

@import 'constants-counselling';
@import 'fonts-counselling';
@import 'fawesome';
@import 'general';
@import 'navigation';
@import 'footer';
@import 'form';
@import 'navi-grid';
@import 'event-list';
@import 'blog-grid';
@import 'navi-box';
@import 'filter-box';
@import 'header';
@import 'accordion';





// overwriting the original styles


img {
    .is-xs & {
        margin-bottom: 40px;
    }
}

a {
    color: $orange;
    text-decoration: underline;

    &:hover, &:active, &:focus {
        color: $orange-light;
        text-decoration: underline;
    }
}

p {
    font-size: 0.93em;
    line-height: 143%;
    color: $grey-dark;
    margin: 0 0 20px 0;

    .is-md &, .is-sm &, .is-xs & {
        font-size: 0.93em;
        line-height: 143%;
    }
}

h1 {
    font-family: $font-1 $font-family-1;
    font-weight: $font-black;
    font-size: 1.33em;
    color: $black;
    line-height: 180%;
    text-transform: uppercase;

    .is-sm &, .is-xs & {
        font-size: 1.33em;
        line-height: 180%;
    }
}

h2, h3 {
    font-family: $font-1, $font-family-1;
    font-weight: $font-black;
    font-size: 1.6em;
    color: $black;
    letter-spacing: 0.07em;
    line-height: 150%;
    text-transform: uppercase;

    .is-md &, .is-sm & {
        font-size: 1.6em;
        line-height: 150%;
    }

    .is-xs & {
        font-size: 1.4em;
        line-height: 150%;
    }
}

h3 {
    font-weight: $font-semi;
    margin-bottom: 20px;

    .is-xs & {
        margin-bottom: 20px;
    }

    time {
        font-size: 0.75em;
    }
}

h2 + h3 {
    margin-top: -30px;

    .is-xs & {
        margin-top: -25px;
    }
}

h4 {
    font-family: $font-1, $font-family-1;
    font-weight: $font-semi;
    font-size: 1.2em;
    color: $grey-dark;
    line-height: 111%;
    margin-bottom: 20px;

    .is-sm &, .is-xs & {
        font-size: 1.2em;
        line-height: 111%;
    }
}

h5 {
    font-family: $font-1, $font-family-1;
    font-weight: $font-bold;
    font-size: 1em;
    color: $grey-dark;
    line-height: 111%;
    margin-bottom: 15px;

    .is-sm &, .is-xs & {
        font-size: 1em;
        line-height: 111%;
    }
}

p + h2, p + h4, p + h5 {
    margin-top: 50px;
}

.line, hr {
    background: $grey-bright;
    margin: 40px 0 60px;

    .is-sm &, .is-xs & {
        margin: 40px 0 60px;
    }
}

.input-field {
    .select-option {
        &:hover, &.focus {
            background: $brown-light;
        }
    }
}

.fawesome.button.text, .fawesome.btn.text {
    background: $white;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid $white;
    text-decoration: none;

    &:before {
        background: $orange;
        line-height: 205%;
        width: 2.00em;
        height: 2.00em;
        margin: 0px 6% 0px 0px;
        position: relative;
        top: -2px;
        left: 1px;

        .is-md &, .is-sm & {
            margin-right: 6%;
        }
    }

    &:hover, &:focus {
        background: $white;

        &:before {
            background: $orange-light;
        }
    }

    .is-sm &, .is-md & {
        font-size: 1.2em;
    }

    .is-xs & {
        width: 100%;
        height: 2.2em;
        line-height: 225%;
        border-radius: 1.33em;

        .text {
            display: initial;
            font-size: 0.95em;
        }

        &:before {
            width: 1.9em;
            height: 1.9em;
            font-size: 1.1em;
            line-height: 200%;
            margin: 0px 4% 1px 0px;
            z-index: 1;
            position: relative;
        }

        &:after {
            content: none !important;
        }
    }
}


#header {
    img.logo {
        .is-xs & {
            padding-left: 55px;
        }
    }

    &.fixed {
        img.logo {
            .is-xs & {
                padding-left: 40px;
            }
        }
    }
}


.header {

    &.start-page {
        text-align: center;
    }

    .is-xs & {
        margin-bottom: 40px;

        > img {
            display: block;
        }
    }

    p {
        font-family: $font-1 $font-family-1;
        font-weight: $font-semi;
        font-size: 1.33em;
        color: $black;
        line-height: 180%;
        text-transform: uppercase;

        .is-sm &, .is-xs & {
            font-size: 1.33em;
        }
    }

    h1 + p {
        margin-top: -50px;

        .is-xs & {
            margin-top: -40px;
        }
    }

    .button {
        display: block;
        position: absolute !important;
        top: 50%;
        margin: -46px 0 0 -175px;
        max-width: 330px !important;

        .is-xs & {
            position: absolute !important;
            margin: -46px 0 0 -150px;
            max-width: 300px !important;
        }
    }
}

#footer {

    a {
        text-decoration: none;
    }

    .footer-logo {
        .is-md & {
            height: 65px;
        }
        .is-sm & {
            height: 80px;
        }
    }
}

.content-startpage {
    padding: 0 150px;
    margin-bottom: 60px;

    .is-md & {
        padding: 0 100px;
    }

    .is-sm &, .is-xs & {
        padding: 0;
    }

    h2 {
        text-align: center;
    }

    p {
        font-size: 1em;
        line-height: 147%;

        .is-md &, .is-sm &, .is-xs & {
            font-size: 1em;
            line-height: 147%;
        }
    }
}

.partners {
    h2 {
        text-align: center;
        margin-bottom: 60px;

        .is-xs & {
            margin-bottom: 30px;
        }
    }

    .row {
        padding: 0;
        margin: 0;

        > div {
            padding: 0;
            margin: 0;

            img {
                width: 100%;
                padding: 0;
                margin: 0;
            }
        }
    }
}



.row.navi-grid {

    margin: 60px 0 40px;

    .is-xs & {
        margin: 60px 0 40px;
    }

    > div {

        a.content {
            width: 100%;
            height: 225px;
            background: url(../img/counselling/bg_pattern.gif);

            .is-md & {
                height: 185px;
            }

            .is-xs & {
                height: 150px;
            }

            span.fawesome {
                display: block;
                width: 100%;
                position: absolute;
                top: 50%;
                color: $orange;
                text-align: center;
                margin-top: -3.73em;
                line-height: 3.73em;

                &:before {
                    font-size: 3.73em;
                }

                .is-xs & {
                    margin-top: -3em;
                    line-height: 3em;
                    &:before {
                        font-size: 3em;
                    }
                }
            }

            h2 {
                color: $orange;
                font-size: 2em !important;
                letter-spacing: 0;
                text-transform: none;
                margin-top: 10px !important;

                .is-xs & {
                    font-size: 1.7em !important;
                }
            }

            &:hover, &:focus, &:active {
                span.fawesome {
                    color: $orange-light;
                }
                h2 {
                    color: $orange-light;
                }
            }
        }
    }
}


.row.event-list {

    h2.date {
        font-family: $font-1, $font-family-1;
        font-weight: $font-black;
        font-size: 1.2em;
        padding-bottom: 5px;

        .is-sm &, .is-xs & {
            font-family: $font-1, $font-family-1;
            font-weight: $font-black;
            font-size: 1.2em;
            padding-bottom: 5px;
        }
    }

    > div {
        .wrapper {
            padding: 5px 0;
            border-bottom: 1px solid $grey-bright;
        }

        a.content {
            text-decoration: none;
            border: none;

            .text {

                h3 {
                    font-family: $font-2, $font-family-1;
                    font-weight: $font-black;
                    font-size: 0.8em;
                    color: $brown;
                    margin: 0;
                    padding: 0 20px 5px 0;

                    .is-sm &, .is-xs & {
                        font-family: $font-2, $font-family-1;
                        font-weight: $font-black;
                        font-size: 0.8em;
                        color: $brown;
                        margin: 0;
                        padding: 0 20px 5px 0;
                    }
                }

                h2 {
                    font-family: $font-1, $font-family-1;
                    font-weight: $font-black;
                    font-size: 1.2em;
                    text-transform: none;
                    padding: 0 20px 10px 0;

                    .is-sm &, .is-xs & {
                        font-family: $font-1, $font-family-1;
                        font-weight: $font-black;
                        font-size: 1.2em;
                        text-transform: none;
                        padding: 0 20px 10px 0;
                    }
                }

                p {
                    font-family: $font-2, $font-family-1;
                    font-weight: $font-regular;
                    font-size: 0.93em;
                    line-height: 133%;
                    color: $grey-dark;

                    .is-sm &, .is-xs & {
                        font-family: $font-2, $font-family-1;
                        font-weight: $font-regular;
                        font-size: 0.93em;
                        line-height: 133%;
                        color: $grey-dark;
                        padding-bottom: 0;
                    }
                }
            }
        }
    }

    .button-group {
        display: none;
    }
}


.row.blog-grid {

    > div {

        a.content {
            text-decoration: none;

            .subline {
                 margin: 0 0 10px;
            }

            h3 {
                margin: 0 0 10px;
            }

            h2 {
                font-family: $font-1, $font-family-1;
                font-weight: $font-black;
                font-size: 1.6em;
                letter-spacing: 0.07em;
                line-height: 150%;
                margin: 0 0 20px;
                text-transform: uppercase;

                .is-md &, .is-sm & {
                    font-size: 1.6em;
                    line-height: 150%;
                }

                .is-xs & {
                    font-size: 1.4em;
                    line-height: 150%;
                }

            }

            .statistics {
                display: none;
            }
        }
    }
}


.infobox {
    .cms-plugin-richtext {
        width: 100%;
        background: $brown-bright;
        border: 1px solid $grey-light;
        margin-bottom: 30px;

        h2, h3, h4, h5, p {
            &:first-child {
                background: url(../img/counselling/bg_pattern.gif);
                font-family: $font-1, $font-family-1;
                font-weight: $font-black;
                text-transform: uppercase;
                font-size: 1.07em;
                color: $black;
                letter-spacing: 0.13em;
                padding: 8px 40px 5px;
                margin-bottom: 20px;
            }

            &:last-child {
                margin-bottom: 20px;
            }
        }

        h2, h3, h4, h5 {
            padding: 0 40px;
        }

        p {
            padding: 0 40px;
            font-weight: $font-bold;
        }
    }
}


.fieldset.editable, .fieldset.not-editable {
    h2 {
        font-family: $font-1, $font-family-1;
        font-weight: $font-semi;
        font-size: 1.2em;
        line-height: 111%;
        letter-spacing: inherit;
        border-bottom: 2px solid $grey-bright;

        .is-md &, .is-sm & {
            font-size: 1.2em;
            line-height: 111%;
            letter-spacing: inherit;
        }

        .is-xs & {
            font-size: 1.2em;
            line-height: 111%;
            letter-spacing: inherit;
        }
    }

    dl.input-fields {
        dt {
            font-size: 0.93em;
            line-height: 143%;
            padding-top: 4px;
        }
    }

    .text-field {
        font-size: 0.93em;
        line-height: 143%;
    }
}


ul.navi-box {
    background: $brown-bright;

    li {
        div.head {
            background: url(../img/counselling/bg_pattern.gif);
            font-family: $font-1, $font-family-1;
            font-weight: $font-black;
            text-transform: uppercase;
            font-size: 1.07em;
            color: $black;
            letter-spacing: 0.13em;
        }

        a {
            text-decoration: none;
        }
    }
}

.accordion .accordion-trigger {
    cursor: default;
}
