.row {
}

#form_language {
  position: fixed;
  bottom: 5px;
  left: 5px;
}

#pub-status {
  position: absolute;
  right: 15px;
  top: 10px;
  width: 150px;
}
.fieldset-season-opening-hours {
  .form-group {
    margin-bottom: -2px;
  }
}
.dashboard-content {
  background-color: #f5f5f5;
  .messages {
    padding-top: 25px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 25px;
    border-bottom: 4px solid #fff;
    *{margin: 0px; }
  }
  fieldset {
    padding-top: 75px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 25px;
    margin: 0px;
    background-color: #f5f5f5;
    border-bottom: 4px solid #fff;
    &.no-legend{
      padding-top: 0px;
      margin-top: 12px;
    }

    fieldset {
      padding: 0px !important;
      padding-top: 75px !important;
      margin: 0px !important;
      border: none !important;
    }
    &:first-child {
      border: none !important;
    }
  }
  .form-actions {
    background-color: white;
    padding-top: 25px;
    .btn-primary {
      float: right;
    }
  }
}
.checkbox-group {
  margin-bottom: 15px;
  > .form-group {
    margin-bottom: 2px;
  }
}
.checkbox-inline-group {
  > label {
    display: block;
    margin-top: 15px;
  }
  .form-group {
    display: inline-block; margin-right: 2px;
  }
}

.dashboard .container {
  max-width: 940px;
  min-width: 940px;
  width: 940px;
}
.dashboard-table {
  width: 100%;
  margin-bottom: 10px;
  .item a{
    display: block;
  }
  tr {
      &:hover td{
        background-color: #f0f0f0;
      }
    td , th {
      padding: 5px 10px;
      &:last-child    { text-align: right;}
    }
    th small{
      font-size: 10px;
      text-transform: uppercase;
      font-weight: normal;
      color: rgba(0,0,0,0.75) !important;
    }
    td {
      &:nth-child(2n),
      &:nth-child(3n),
      &:nth-child(4n) { 
        width: 1%;
        white-space: nowrap;
      }
      border-bottom: 2px solid white;
      vertical-align: middle;
      color: rgba(0,0,0,0.75) !important;
      background-color: #f2f2f2;

      .status { 
        margin-bottom: -2px;
        height: 24px;
        width: 115px;
        display: block;
        .sbToggle {
          height: 24px;
          width: 24px;
          background-color: rgba(0,0,0,0);
          opacity: 0.25;
          &.sbToggleOpen{
            opacity: 0.5;
            background-color: rgba(0,0,0,0.15);
          }
        }
        .sbHolder{
          background-color: rgba(0,0,0,0.025);
          border: none;
          font-family: inherit;
          font-weight: 300 !important;
          color: rgba(0,0,0,0.75) !important;
          display: inline-block;
          height: 24px;
          position: relative;
          width: 100%;

          font-size: 13px !important;
          line-height: 24px !important;

          &:hover {background-color: rgba(0,0,0,0); }
        }

        .sbOptions a{
          padding-top: 5px;
          padding-bottom: 5px;
        }
        .sbSelector{
          font-size: 13px !important;
          line-height: 24px !important;
          width: 100%; 
          box-sizing: border-box;
          -moz-box-sizing: border-box;
        }
      }
    }
  }
}

#dashboard {
  fieldset { margin-top: 60px; position: relative; }
  legend {font-size: 28px; padding-bottom: 10px; border: none !important; margin: 0px;
    a {
      color: black;
    }
  }
  .all {color: $blue !important; font-size: 13px !important; line-height: 24px !important;
  &:hover { color: black !important;}
   } 
    
  .icon-last-edited { 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: none;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 100px;
    height: 18px;
    width: 18px;
    background-image: url("../img/icons/edit.png");
    opacity: 0.35;
    margin-top: 0px;
  } 
  .add {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 32px;
    line-height: 32px !important;
    background-color: rgba(0,0,0,0.075);
    background-color: $blue;
    margin-bottom: 4px; 
    display: block;
    padding: 0px;
    padding-right: 30px;
    padding-left: 12px;
    background-image: url("../img/icons/inv/add_bold.png");
    background-size: 32px;
    background-position: right !important;
    background-repeat: no-repeat;
    color: white;
    font-weight: 300;
    white-space: nowrap;
    &:hover { background-color: black; }
  }

  fieldset > ul {

    &.museums,
    &.exhibitions,
    &.events,
    &.workshops {
      li:hover .actions { opacity: 1; }
      .actions {opacity: 0.25; }
    }
    

    > li {
      position: relative;
      
      &:hover {
        .status {
          opacity: 1;
          .sbToggle {
            background-color: rgba(0,0,0,0.15);
            opacity: 0.5;
          }
          .sbHolder{
            background-color: rgba(0,0,0,0);
          }
        }
      }
      .status { 
        position: absolute;
        top: 8px;
        right: 80px;
        width: 115px;
        .sbToggle {
          height: 24px;
          width: 100%;
          background-color: rgba(0,0,0,0);
          opacity: 0.25;
        }
        .sbHolder{
          background-color: #ebebeb !important;
          border: none;
          font-family: inherit;
          font-weight: 300 !important;
          color: rgba(0,0,0,0.75) !important;
          display: inline-block;
          height: 24px;
          position: relative;
          width: 100%;
          font-size: 13px !important;
          line-height: 24px !important;
        }

        .sbOptions a{
          padding-top: 5px;
          padding-bottom: 5px;
        }
        .sbSelector{
          font-size: 13px !important;
          line-height: 24px !important;
          width: 100%; 
          box-sizing: border-box;
          -moz-box-sizing: border-box;
        }
      }

      &:hover {
        > a { background-color: rgba(0,0,0,0.075);}
      }

      > h3,
      > span,
      > a {
        background-color: #f2f2f2;
        color: rgba(0,0,0,0.75) !important;
        display: block;
        height: 40px;
        line-height: 40px;
        padding-left: 10px;

        box-sizing: border-box;
        -moz-box-sizing: border-box;
        margin-bottom: 2px;
        white-space: nowrap;


        .title { font-weight: 700; }

        &:hover {
           h3, h4 ,h5 { color: rgba(0,0,0,0.5) !important;}
        }
        h3 {

        overflow: hidden;
        max-width: 700px;
        }

        h3 ,h5 { display: inline-block; font-size: 16px !important;}
        h5   { font-weight: 300; 
          opacity: 0.5; 
          position: relative;
          top: -2px;
          font-size: 13px !important;}
      }
    }
  }
}