@charset "UTF-8";

@import 'variables';

select {
  width: 100%;
  border-radius: 0;
  border: none;
  background-color: rgba(0,0,0,0.05);
  padding-left: 10px;
  line-height: 10px;

  font-size: 22px !important;
  line-height: 32px !important;

  box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-user-select: none;
  border-radius: 0px;
  box-shadow: none;

  cursor: pointer;

  background-image: url("../img/icons/meta.svg");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;

  &:focus {
    box-shadow: inset 0 0 0 4px rgba(0,0,0,0.05);
    outline: 0;
  }

  height: 40px;

  &[multiple] {
    height: 185px;
    line-height: 80px;
    -webkit-padding-end: 10px;
    -webkit-padding-start: 10px;
    background-image: none;
  }
}

.btn, 
input[type=submit], 
input[type=reset], 
button {
  border-radius: 0;
  border: none !important;
  text-shadow: none;
  font-size: 22px;
  line-height: 18px;
  color: black;
  padding: 18px;
  background-color: rgba(0,0,0,0.025);
  background-image: none;
  background-repeat: no-repeat;
  background-position: center !important;
  text-shadow: none !important;
  background-color: black !important;
  color: white !important;
  font-family: inherit !important;
  box-shadow: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;

  &[name="cancel"],
  &[name="reset"] { 
    float: right; 
    margin: 0px !important;
    background-color: rgba(0,0,0,0.025) !important;
    color: black !important;
  }

  &.right { float: right; margin: 0px !important;}
  &.full {  width: 100%; margin: 0px !important;}

  &.btn-primary { background-color: $blue !important; color: white !important;}
  &.btn-warning { background-color: $red !important; color: white !important;}
  &.btn-danger  { background-color: $red !important; color: white !important;}
  &.btn-success { background-color: $green !important; color: white !important;}
  &.btn-info    { background-color: $yellow !important; color: white !important;}
  &.btn-inverse { background-color: white !important; color: black !important;}
  
  &:active {
    background-color: black !important; color: white !important;
    box-shadow: none;
  }
}

input[type=radio] {}
input[type=checkbox] {}
input[type=range] {
  -webkit-appearance:none;
  -moz-apperance:none;
}
​
input::-webkit-slider-thumb {
  -webkit-appearance:none;
  -moz-apperance:none;
}

.error {
  input[type=text], 
  input[type=email], 
  input[type=password], 
  input[type=search] {
    box-shadow: inset 0 0 0 4px rgba(255,0,0,0.1);
  }
}

input[type=text], 
input[type=email], 
input[type=password], 
input[type=search] {
  box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  width: 100% !important;
  border: none;
  background-color: rgba(0,0,0,0.05);
  border-radius: 0px;
  box-shadow: none;
  padding: 10px;
  height: 40px;
  font-size: 18px;
  line-height: 22px;
  color: rgba(0,0,0,0.75);

  &::-webkit-input-placeholder { color: rgba(0,0,0,0.125); }
  &:-moz-placeholder { color: rgba(0,0,0,0.125);}
  &:-ms-input-placeholder { color: rgba(0,0,0,0.125);}

  &:focus {
    &::-webkit-input-placeholder { color: inherit; }
    &:-moz-placeholder { color: inherit; }
    &:-ms-input-placeholder {color: inherit; }

    box-shadow: inset 0 0 0 4px rgba(0,0,0,0.05);
  }
}

textarea,
input {
  margin-bottom: 20px !important;
  &::-webkit-input-placeholder { color: rgba(0,0,0,0.125); }
  &:-moz-placeholder { color: rgba(0,0,0,0.125);}
  &:-ms-input-placeholder { color: rgba(0,0,0,0.125);}

  &:focus {
    &::-webkit-input-placeholder { color: inherit; }
    &:-moz-placeholder { color: inherit; }
    &:-ms-input-placeholder {color: inherit; }

    box-shadow: inset 0 0 0 4px rgba(0,0,0,0.05);
  }
}

input[type=file] {
}

textarea {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  min-height: 100px;
  border: none;
  background-color: rgba(0,0,0,0.05);
  border-radius: 0px;
  box-shadow: none;
  padding: 10px !important;
  height: 40px;
  font-family: inherit !important;
  font-size: 18px !important;
  line-height: 22px !important;
  resize: none;
  overflow-x: hidden;
  overflow-y: auto;
  color: rgba(0,0,0,0.75);
}


form { 
  width: 100%;

  & *::-webkit-scrollbar-corner,
  & *::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    opacity: 0.5;
    background-color: rgba(0,0,0,0.05);
  }

  & *::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: black;
    background-color: rgba(0,0,0,0.5);
  }
  .control-group {
    margin: 0px;
    padding: 0px;
  }

  fieldset { 
    border-bottom: 1px solid rgba(0,0,0,0.05); 
    padding-bottom: 30px;
    margin-bottom: 30px;
    display: block;
    
    &.multilingual { 
      width: 49%;
      float: left;

      &.lang-de { 
        margin-right: 2%;
      }

      &.lang-en { 
      }
    }
    
    h2 { 
      border: none;
      display: block;
      height: 30px;
      padding-top: 0px !important;
      padding-bottom: 30px !important;
      font-size: 28px;
      color: black;
      margin: 0px;
      margin-top: 40px;
    }

    legend { 
      border: none;
      display: block;
      height: 30px;
      padding-top: 0px !important;
      padding-bottom: 30px !important;
      font-size: 28px;
      color: black;
      margin: 0px;

      &+.control-group {
        margin-top: 0px;
      }
    }

    label { 
      color: rgba(0,0,0,0.8);
      position: relative;
      margin-bottom: 5px;
      margin-top: 0px;

      .lang {
        font-size: 10px;
        font-weight: 500;
        margin-right: 5px;
      }
    }

    .formset-form {
      position: relative;

      &:first-child{ 
        .row { label { display: block !important; }}
      }

      label { display: none;}

      .row {
        border-collapse: separate;
        border-right: 60px solid transparent !important;

        input { margin: 0px !important;}
        > div { padding-bottom: 20px !important;}
      }

      > .control-group { 
        position: absolute;
        bottom: 0px;
        right: 0px;
        margin-bottom: 25px !important;

        button { 
          height: 40px;
          width: 40px;
          margin-left: 5px;
          text-indent: 1000px;
        }
      }
    }

    .row { 
      width: 100%;
      clear: both;
      table-layout: fixed;
      display: table;
      padding: 0 !important;
      margin-left: 0;
      margin-bottom: 0px;
      border-collapse: collapse;


      fieldset { 
        border: none;
        padding: 0px;
        margin: 0px;
        margin-top: 30px !important;

        legend {
          border-top: 1px solid rgba(0,0,0,0.05) !important; 
          padding-top: 30px !important;
        }
      }

      label { white-space: nowrap;}

      // &:last-child{
      //   textarea, input { margin: 0px !important;}
      // }
      &.flex { 
        table-layout: auto !important;

        > div{ 
          width: auto !important;
        }
      }

      > div{ 
        display: table-cell;
        border-right: 20px solid white;
        width: 100% !important;
        vertical-align: top;
        position: relative;
        overflow: hidden;

        .row {
           > div{ 
              border-right: 2px solid white;

              &:first-child{
                input:first-child{ width: auto !important; left: 42px; right: 0; position: absolute;}
              }
           }
           .weekday {
            position: absolute;
            top: 0px;
            left: 0px;
            font-size: 18px;
            line-height: 40px;
            width: 40px;
            height: 40px;
            text-align: center;
            color: rgba(0,0,0,0.5);
            background-color: rgba(0,0,0,0.05);
           }
        }

        &.closed {
          width: 40px !important;
          position: absolute;
          right: 0px;
          border-left: 2px solid white;
          display: none;

          > div {
            background-color: rgba(0,0,0,0.1);
            height: 40px;
            overflow: hidden;
          }
        }

        &:last-child { 
          border-right: 0px solid white;

        }
      }
    }
  }

  table { 
    border-collapse: collapse !important;
    width: 100% !important;
    
    th { 
      font-size: 14px;
      font-weight: normal;
      line-height: 20px;
      color: rgba(0, 0, 0, 0.5);
      position: relative;

      div {
        position: absolute;
        right: 0;
        top: 0;
      }

      &:first-child { 
        width: 1px;
      }
    }

    td {
      border-bottom: 5px solid white;
    }

    th, td { 
      border-right: 20px solid white;
      border-left: none;
      border-top: none;
      width: auto !important;

      &:last-child { 
        border-right: 0px solid white;
      }

      &:first-child{
        label { 
        }
      }

      div, input { 
        margin-bottom: 0 !important;
      }
    }
  }
} 

.form-steps { 
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  
  li { 
    display: inline-block; 
    background-color: rgba(0,0,0,0.0); 
    
    &.active{
      a { 
        color: black;
        background-color: rgba(0,0,0,0.05); 
      }
    }

    span,
    a { 
      padding-right: 10px;
      padding-left: 10px;
      font-size: 16px;
      line-height: 40px;
      display: inline-block;
      color: rgba(0,0,0,0.5);
    } 

    a { 
      &:hover { 
        color: black;
      }
    }
  } 
} 

.inline {
  padding-bottom: 20px;
  display: block;

  .control-group {
    display: inline-block;
    white-space: nowrap;
    box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    margin: 0px;
    padding: 0px;
    margin-right: 5px;
    position: relative;

    label { 
      position: relative;
      padding: 10px !important;
      background-color: rgba(0,0,0,0.05);
      line-height: 10px;
      height: 10px !important;
      display: inline-block !important;
      min-height: auto;

      &.radio input[type="radio"], &.checkbox input[type="checkbox"] {
        margin: 0px !important;
        display: inline-block;
        margin-right: 5px !important;
        bottom: 1px;
        position: relative;
      }
    }
  }
}

.form-actions { 
  display: block; width: 100%;
  box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  float: left;
  clear: left;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  padding-bottom: 30px;
  font-size: 0px;
  .btn, 
  input[type=submit], 
  input[type=reset], 
  button {
    margin-right: 4px;
    &:last-child { margin: 0px;}
  }
}


legend + .control-group,
.form-horizontal .control-group {
  margin-top: 0px;
}

.icon {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &.icon-delete {
    background-image: url("../img/icons/cancel.svg");
  }
}


.input-append .add-on:last-child,
.input-append .btn:last-child {
  position: absolute;
  right: 0px;
  padding: 0px;
  margin: 0px;
  height: 40px;
  width: 40px;
  color: transparent;
  background-color: transparent !important;
  opacity: 0.5;
  border-radius: 0px;
  text-indent: 100px;
  background-image: url("../img/icons/clock.svg");
  background-position: center;
  background-repeat: no-repeat;
  z-index: 10000;
}

.fieldset-contact-person,
.fieldset-other-contact-info {
  > .row {

    &:nth-child(4) {
      label { display: none;}
    }

    > div {
      .row {
        > div {
           &:nth-child(1) {
            label { display: block !important;}
          }
          &:nth-child(1) { width: 25% !important; }
          &:nth-child(2) { width: 20% !important;}
          &:nth-child(3) { width: 20% !important;}
          &:nth-child(4) { width: 35% !important;}

          &:nth-child(1) { 
            label { 
              position: absolute;
              bottom: 15px;
              left: 0px;
              font-size: 14px;
              line-height: 40px;
              width: 100%;
              height: 40px;
              text-align: left;
              text-indent: 10px;
              color: rgba(0,0,0,0.5);
              background-color: rgba(0,0,0,0.025);
            } 
          }
          

          &:nth-child(2n),
          &:nth-child(3n),
          &:nth-child(4n) {
          }
        }
      }
    }
  }
}
