@charset "UTF-8";

@import 'variables';

 select {
  width: 100%;
}
.button, 
input[type=submit], 
input[type=reset], 
button {

  border-radius: none;
  border: none;
  background-color: $blue;
  color: white;

  &:active {
  }
}

input[type=radio] {}

input[type=checkbox] {}

input[type=range] {
  -webkit-appearance:none;
  -moz-apperance:none;
}
​
input::-webkit-slider-thumb {
  -webkit-appearance:none;
  -moz-apperance:none;
}

textarea, input {

}

input[type=text], 
input[type=email], 
input[type=password], 
input[type=search] {
  box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  width: 100%;
  border: none;
  background-color: rgba(0,0,0,0.05);
  border-radius: 0px;
  box-shadow: none;
  padding: 10px;
  height: 40px;
  font-size: 18px;
  line-height: 22px;
}

textarea,
input {
  &::-webkit-input-placeholder { color: rgba(0,0,0,0.5); }
  &:-moz-placeholder { color: rgba(0,0,0,0.5);}
  &:-ms-input-placeholder { color: rgba(0,0,0,0.5);}

  &:focus {
    &::-webkit-input-placeholder { color: black; }
    &:-moz-placeholder { color: black; }
    &:-ms-input-placeholder {color: black; }
  }
}

input[type=file] {
}

textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  min-height: 100px;
  border: none;
  background-color: rgba(0,0,0,0.05);
  border-radius: 0px;
  box-shadow: none;
  padding: 10px !important;
  height: 40px;
  font-size: 18px;
  line-height: 22px;

   resize:vertical;
   overflow-x: hidden;
   overflow-y: auto;
}


form { 
  width: 100%;

  xfieldset > div { 
    width: 184px;
    margin-right: 20px;
    float: left;

    &:nth-child(6n) { 
      margin-right: 0px;
    }
  }
} 

.form-steps { 
  margin-bottom: 30px;
  border-bottom: 2px solid rgba(0,0,0,0.05);
  
  li { 
    display: inline-block; 
    background-color: rgba(0,0,0,0.0); 
    padding-right: 10px;
    padding-left: 10px;
    font-size: 22px;
    line-height: 40px;
    
    &.active{ background-color: rgba(0,0,0,0.05); }

    a { 
      color: black;
    }
  } 
} 


fieldset { 
  border: 1px solid rgba(0,0,0,1); 
  padding: 30px;
  display: block;
}


fieldset.multilingual { 
  width: 49%;
  float: left;

  &.lang-de { 
    margin-right: 2%;
  }
}


legend { 
  border: none;
  display: block;
  height: 30px;
  font-size: 22px;
  line-height: 40px;

  &+.control-group {
    margin-top: 0px;
  }
}

label {}

