#gmap {
  display: block;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: auto;
  height: auto;
}

#map-return {
  display: block;
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 1000;
}

.dashboard #gmap-wrapper {
  height: 402px;
  position: relative;
}
#dyn_set_map {
  .form-actions {
    position: absolute;
    bottom: 0px;
    padding: 10px;
    background-color: transparent;
    height: 60px;
  }
}

#item_description {
  background-color: white;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 25%;
  // right: 0px;
  padding: 30px;
  overflow-y: scroll;
  z-index: 10000;
}