#controls {
  margin-top: 30px;
}

@-webkit-keyframes fadein    { 0% { opacity: 0; } 100% { opacity: 1; } }
   @-moz-keyframes fadein    { 0% { opacity: 0; } 100% { opacity: 1; } }
    @-ms-keyframes fadein    { 0% { opacity: 0; } 100% { opacity: 1; } }
     @-o-keyframes fadein    { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fadein    { 0% { opacity: 0; } 100% { opacity: 1; } }

.fade {
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
       -o-backface-visibility: hidden;

  opacity: 0;

  -webkit-transition: opacity 0.125s ease-in-out !important;
     -moz-transition: opacity 0.125s ease-in-out !important;
      -ms-transition: opacity 0.125s ease-in-out !important;
       -o-transition: opacity 0.125s ease-in-out !important;
          transition: opacity 0.125s ease-in-out !important;

  &.in {
    opacity: 1;
    // -webkit-animation: fadein 0.125s ease-out;
    //    -moz-animation: fadein 0.125s ease-out;
    //     -ms-animation: fadein 0.125s ease-out;
    //      -o-animation: fadein 0.125s ease-out;
    //         animation: fadein 0.125s ease-out;

    //   -webkit-animation-fill-mode: both;
    //      -moz-animation-fill-mode: both;
    //       -ms-animation-fill-mode: both;
    //        -o-animation-fill-mode: both;
    //           animation-fill-mode: both;
  }
}


.item {
  list-style: none;
  &:hover {
    .actions {
      display: block;
    }
  }
  .actions {
    position: absolute;
    top: 0px;
    z-index: 10;
    display: none;
    font-size: 0px;
    padding: 10px;
    .btn {
      border-radius: 100% !important;
      margin-left: 5px !important;
    }
  }
}

.btn-round {
  border-radius: 100% !important;
  &.pull-right { margin-left: 5px !important;}
  &.pull-left { margin-right: 5px !important;}
}

.list {
  .item {
    margin-top: 0px;
    margin-bottom: 10px;
    &.delete { display: none; }

    &:hover a{
      background-color: rgba(0,0,0,0.075);
    }

    > a {
      background-color: #f2f2f2;
      color: black;
      padding: 20px 25px;
      display: block;

      h3 { font-weight: 300;}
      h4 { font-weight: 300;}
      h5 { font-weight: 300; opacity: 0.5; }
      h3, h4 , h5 {
        font-size: 14px;
        line-height: 20px;
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
        overflow: hidden;

        margin: 0px !important;

        &:empty{ display: none;}
      }

      h3 {
        font-size: 25px;
        line-height: 40px;
        white-space: nowrap !important;
      }
    }
  }
}

.grid {
  .item {
    // -webkit-transition: -webkit-transform 0.125s ease-in-out !important;
    //    -moz-transition: -moz-transform 0.125s ease-in-out !important;
    //     -ms-transition: -ms-transform 0.125s ease-in-out !important;
    //      -o-transition: -o-transform 0.125s ease-in-out !important;
    //         transition: transform 0.125s ease-in-out !important;

    .description {
      padding-left: 10px;
      padding-right: 10px;
      position: absolute;
      height: 0px;
      overflow: hidden;
      opacity: 0;
      -webkit-transition: opacity 0.125s ease-in-out !important;
         -moz-transition: opacity 0.125s ease-in-out !important;
          -ms-transition: opacity 0.125s ease-in-out !important;
           -o-transition: opacity 0.125s ease-in-out !important;
              transition: opacity 0.125s ease-in-out !important;
      p.lead {
        margin-right: 40px;
      }
      header {
        h3 { font-weight: 700;}
        h4 { font-weight: 300;}
        h5 { font-weight: 300; opacity: 0.5; }
        h3, h4 , h5 {
          font-size: 21px;
          line-height: 140%;
          &:empty{ display: none;}
        }
      }
    }

    &#item-preview {
      padding-bottom: 450px;

      .description {
        display: block;
        opacity: 1;
        height: auto;
      }
      .img img {
        -webkit-filter: grayscale(0%); /* New WebKit */
        -moz-filter: grayscale(0%);
        -ms-filter: grayscale(0%);
        -o-filter: grayscale(0%); /* Not yet supported in Gecko, Opera or IE */
        filter: url("data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'><filter%20id='grayscale'><feColorMatrix%20type='matrix'%20values='0.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200%200%200%201%200'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
        filter: none ; /* IE */
        filter: grayscale(0%); /* Current draft standard */
      }
    }

    &:hover { opacity: 0.9;
      .img img {
          // -webkit-filter: grayscale(0%); /* New WebKit */
          // -moz-filter: grayscale(0%);
          // -ms-filter: grayscale(0%);
          // -o-filter: grayscale(0%); /* Not yet supported in Gecko, Opera or IE */
          // filter: url("data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'><filter%20id='grayscale'><feColorMatrix%20type='matrix'%20values='0.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200%200%200%201%200'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
          // filter: none ; /* IE */
          // filter: grayscale(0%); /* Current draft standard */
      }
    }

    .img {
      background-color: #f2f2f2;
      display: block;
      margin-bottom: 10px;
      img {
        width: 100%;
        display: block !important;

        // -webkit-filter: grayscale(100%); /* New WebKit */
        // -moz-filter: grayscale(100%);
        // -ms-filter: grayscale(100%);
        // -o-filter: grayscale(100%); /* Not yet supported in Gecko, Opera or IE */
        // filter: url("data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'><filter%20id='grayscale'><feColorMatrix%20type='matrix'%20values='0.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200%200%200%201%200'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
        // filter: gray; /* IE */
        // filter: grayscale(100%); /* Current draft standard */
      }
    }

    > a {
      display: block;
      color: black;
      margin-bottom: 40px;

      &:hover { color: black; }

      h3 { font-weight: 700;}
      h4 { font-weight: 300;}
      h5 { font-weight: 300; opacity: 0.5; }
      h3, h4 , h5 {
        font-size: 14px;
        line-height: 20px;
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
        height: 22px !important;
        overflow: hidden;

        margin: 0px !important;

        &:empty{ display: none;}
      }
    }
  }
}

.compact {
  padding: 0px !important;
  margin: 0px !important;
  margin-right: 20px !important;
  margin-bottom: 40px !important;

  .item {
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 21px;
    width: 100%;
    height: auto;
    float: left;
    position: relative;
    overflow: hidden;
    background-color: #f2f2f2;

    &:hover { background-color: rgba(0,0,0,0.075); }
    &.title {
      background: none;
      &:hover {background: none; }

      h3 {
        font-weight: 700;
        margin-bottom: 5px !important;
        display: block;
        text-transform: uppercase;
        text-transform: uppercase;
        font-size: 16px;
        line-height: 20px;
      }
    }

    .img {
      background-color: #f2f2f2;
      width: 80px;
      height: 100%;
      float: left;
      display: block;
      overflow: hidden;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin-bottom: 9px;
      position: absolute;
      left: 0;
      top: 0;
      padding: 0px;
    }

    a.txt {
      float: left;
      padding: 10px;
      padding-left: 95px;
      display: block !important;
      font-size: 13px;
      line-height: 18px;
      width: 100%;
      height: 90px;
      box-sizing: border-box !important;
      -moz-box-sizing: border-box !important;

      &:hover * { color: black; }

      h3 { font-weight: 700; }
      h4 { font-weight: 300; }
      h5 { font-weight: 300; opacity: 0.5;}
      h3,
      h4,
      h5 {
        // white-space: nowrap;
        // text-overflow: ellipsis;
        // overflow: hidden;
        font-size: 13px;
        line-height: 18px;
        width: 100%;
        display: inline-block;
        box-sizing: border-box !important;
        -moz-box-sizing: border-box !important;
        margin: 0px !important;
        display: block !important;

        &:empty{ display: none !important;}

      }
      p { display: none;}

    }

    &:nth-child(1) {
      background: none !important;
      padding-bottom: 80px;
      height: 380px;
      .txt {
        padding: 0px;
        background: none !important;
        width: 100%;
        display: block !important;

        h3,
        h4,
        h5 {
          font-size: 14px !important;
          line-height: 20px !important;
        }

        p {
          font-size: 13px !important;
          line-height: 18px !important;
          margin-top: 8px;
          display: block;
        }
      }

      .img {
        width: 100% !important;
        height: 200px;
        position: relative;
      }
    }
  }
}

