.map_visible{
  #gmap_wrapper {
   height: 35%; 
  }
}
.map_fullscreen{
  #gmap_wrapper {
   height: 100%;
   margin-top: -160px;
   z-index: 10000;
  }
}


#gmap_wrapper  {
  height: 0px;
  overflow: hidden;
  position: relative;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-delay: 0s;
  -webkit-transition-timing: ease-in-out;
}

#gmap  {
  width: auto; 
  height: 250%;
  min-height: 350px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}


#gmap * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.location {
    .wrapper { 
      text-align: center;
      height: 0;
    }

    .inner { 
        text-align: left;
        display: inline-block;
        background-color: rgba(255,255,255,1);
        box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.1) !important;
        padding: 20px;
        font-size: 15px;
        height: 130px;
        top: -125px !important;
        line-height: 19px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        position: relative;

        h3,h4,h5   { white-space: nowrap;}
        h3   { font-weight: 500;}
        h4   { font-weight: 400;}
        h5   { font-weight: 400; opacity: 0.5}
     
        .img { 
          top: 0;
          left: 0;
          height: 100%;
          width: 200px;
          display: block;
          position: absolute;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          display: none;
        }
      
        .btn { 
            top: 8px;
            position: relative;
            font-size: inherit;
            line-height: inherit;
            padding: 5px;
            padding-left: 10px;
            padding-right: 10px;
        }
        &:after {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          border-color: transparent;
          border-style: solid;
          bottom: 0;
          left: 50%;
          display: block;
          margin-left: -5px;
          margin-bottom: -10px;
          border-top-color: white;
          border-width: 10px 10px 0;
        }
    }

    .close { 
        top: 0px;
        right: 0px;
        position: absolute;
        width: 32px;
        height: auto;
    }
}