@media (max-width: 767px) {
  .container {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .navbar-wrapper {height: 50px; }
  .navbar-brand {padding: 11px; padding-left: 0px;}
  .navbar-toggle {
    position: absolute;
    right: 0px;
  }

  .navbar-nav {
    > li > a { 
      padding: 0px 20px;
      font-size: 16px !important;
      color: black !important;
      border-bottom: 1px solid #f9f9f9;
      font-weight: 700;
      &:after {
        font-weight: 300;
        content: "Lorem ipsum dolorgs";
        display: block;
        font-size: 12px !important;
        text-transform: none !important;
        margin-top: -30px;
        opacity: 0.75;
      }
    }

    > .active > a {
      &,
      &:hover,
      &:focus {
        color: white !important;
        background-color: #00aefd;
        font-weight: 300;
      }
    }
  }

  .navbar-collapse {
    -moz-box-shadow:    inset 0 0 10px rgba(0,0,0,0.05);
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.05);
    box-shadow:         inset 0 0 10px rgba(0,0,0,0.05);
    margin-left: -20px !important;
    margin-right: -20px !important;
  }
  .navbar {
    position: fixed;
    width: 100%;
  }
  
  .planorg-firstlevel-item {
    padding-bottom: 10px !important;
  }

  #list {
    .grid,
    .list {
      margin-left: -20px;
      margin-right: -20px;
      .item {
        margin-bottom: 0px;
        padding: 0px !important;
        .img {
          display: none !important;
        }
        > a {
          color: black;
          padding: 20px 25px;
          display: block;
          background-image: url("../img/trns-1.png") !important;
          background-position: top;
          background-repeat: repeat-x;
          margin-bottom: 0px !important;
          h3, h4 , h5 {
            font-size: 14px !important;
            line-height: 20px !important;
          }
          h3 { font-weight: 700;}
        }
      }
    }
  }
}

@media (min-width: 768px) {
 	#search {display: none; }
	.navbar-nav > li > a { font-size: 11px; }
	.navbar-nav > li:not(:last-child) > a { margin-right: 7px; }
}

@media (min-width: 992px) {	
	.navbar-nav > li > a { font-size: 14px; }
	.navbar-nav > li:not(:last-child) > a { margin-right: 20px; }
}

@media (min-width: 1200px) {

  .navbar-form .input-group {
    width: 200px !important;
  }
  #search {
    display: inline-block;
  }
}