@media (max-width: 767px) {
  #body {
    padding-bottom: 0px !important;   /* Height of the footer */
  }

  .container {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  #to-top {
    display: none;
  }
  .content {
    padding: 20px 0px !important;
  }

  .museum-detail article,
  .exhibition-detail article,
  .event-detail article,
  .workshop-detail article {

    header {

      h1,
      h2  {
        font-size: 20px;
      }
    }
  }

  .navbar-wrapper {height: 50px; }
  .navbar-brand {padding: 11px; padding-left: 0px; left: 20px;}
  .navbar-toggle {
    position: absolute;
    right: 0px;
  }
  #list-filter {
    height: 0px;
    padding-top: 0px;
    z-index: 1590;
    background-color: white;
    overflow-x: scroll;
    max-height: 100%;
    > div {
      border: none;
    }
    .container {
      .cancel {
        right: 0px;
      }
    }
  }
  .navbar-nav {
    > li > a { 
      padding: 0px 20px;
      font-size: 16px !important;
      color: black !important;
      border-bottom: 1px solid #f9f9f9;
      font-weight: 700;
      text-align: center;
    }
  }
  
  #details {
    margin-left: -20px;
    margin-right: -20px;
  }
  
  .navbar {
    position: fixed;
    width: 100%;
  }

  body.nav-expanded {
    overflow: hidden;
  }
  #top_nav {
    -moz-box-shadow:    inset 0 0 10px rgba(0,0,0,0.05);
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.05);
    box-shadow:         inset 0 0 10px rgba(0,0,0,0.05);
    position: fixed;
    background: #fff;
    width: 100% !important;
    margin: 0 !important;
    top: 50px;
    bottom: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    transition: left 0.4s ease-in-out;
    -ms-transition: left 0.4s ease-in-out;
    -moz-transition: left 0.4s ease-in-out;
    -webkit-transition: left 0.4s ease-in-out;

    left: 100%;
  }
  body.nav-expanded {
    #top_nav {
      left: 0;
      transition: left 0.4s ease-in-out;
      -ms-transition: left 0.4s ease-in-out;
      -moz-transition: left 0.4s ease-in-out;
      -webkit-transition: left 0.4s ease-in-out;
    }
  }


  .navbar-header,
  .navbar-collapse {
    margin-left: -20px !important;
    margin-right: -20px !important;
  }
  
  .planorg-firstlevel-item {
    padding-bottom: 10px !important;
  }

  .list-header #filter-summary {
    margin-top: 10px;
  }

  .list .item#item-preview {
    > a { display: block !important; }
  }



  .grid,
  .list {
    .item {
      -webkit-transition: none !important;
         -moz-transition: none !important;
          -ms-transition: none !important;
           -o-transition: none !important;
              transition: none !important;
    }
  }


  #additional-contents,
  #list {
    .grid,
    .list {
      margin-left: -20px;
      margin-right: -20px;
      #item-preview {
        background-image: url("../img/trns-1.png") !important;
        .description {
          padding: 20px;
          padding-top: 0px;
          min-width: 100%;
          p.lead {
            margin-right: 0px;
          }
        }
      }
      #cover_img .img {
        display: block !important;
        margin-left: -20px;
        margin-right: -20px;
      }
      .item {
        margin-bottom: 0px;
        padding: 0px !important;
        .img {
          display: none !important;
        }
        > a {
          color: black;
          padding: 17px 20px;
          display: block;
          background-image: url("../img/trns-1.png") !important;
          background-position: top;
          background-repeat: repeat-x;
          margin-bottom: 0px !important;
          h3, h4 , h5 {
            font-size: 14px !important;
            line-height: 20px !important;
          }
          h3 { font-weight: 700;}
        }
      }
    }
  }
}

@media (min-width: 768px) {
 	#search {display: none; }
	.navbar-nav > li > a { font-size: 11px; }
	.navbar-nav > li:not(:last-child) > a { margin-right: 7px; }
}

@media (min-width: 992px) {	
	.navbar-nav > li > a { font-size: 14px; }
	.navbar-nav > li:not(:last-child) > a { margin-right: 20px; }
}

@media (min-width: 1200px) {

  .navbar-form .input-group {
    width: 200px !important;
  }
  #search {
    display: inline-block;
  }
}