@charset "UTF-8";
@import 'variables';
@import 'fonts';
@import 'form';
@import 'isotope';
@import 'tooltip';
@import 'maps';
@import 'gallery';
@import 'picker';

html{color:#000;background:#FFF;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
input,textarea,select{*font-size:100%;}
legend{color:#000;}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: white;
  color: black;
  font-family: 'calluna_sans';
  font-size: 16px;
  line-height: 26px;
  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar-corner,
  &::-webkit-scrollbar {
    width: 10px;
    height: 2px;
    background-color: rgb(100,100,100);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: black !important;
  }
}

h1,h2,h3,h4,h5,h6 {
  padding: 0;
  margin: 0;
  line-height: inherit;
  a {
    color: black;
  }
}

a {
  h1,h2,h3,h4,h5,h6 {
    color: black;
  }
}

h1 {
  font-weight: '400';
  font-size: 42px;
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 48px;
}
h2 { 
  font-size: 42px;
  line-height: 48px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: block;
  &:last-child { margin-bottom: 0px; padding-bottom: 0px;}
}

*::-webkit-scrollbar-corner,
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  opacity: 0.5;
  background-color: rgba(0,0,0,0.1);
}

*::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: black;
  background-color: rgba(0,0,0,0.5);
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html,body,input {
}

.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

a{
  text-decoration: none;
  color: $blue;
}

a:link   { text-decoration: none;}
a:hover   { text-decoration: none; color: black;}
a:visited { text-decoration: none;}
a:active  { outline: none;}

#wrapper {
  height: 100%;
  width: 100%;
  & > * > .inner {
    width: 1000px;
    margin: auto;
    position: relative;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    
    > header {
      margin-bottom: 30px;
    }
  }
}

#header, .content, #footer {
  background-color: white;  
  border-top: 1px solid rgba(0,0,0,0.05);
}

#header {
  border-top: none;
  .logo {
    position: absolute;
    top: 30px;
    left: 0px;
    display: block;

    .img {
      display: block;
      height: 52px;
      width: 52px;
      background-image: url("../img/logo_img.svg");
      background-size: cover;
      float: left;
      margin-right: 15px;
      margin-top: -6px;

    }
    .word {
      font-size: 20px;
      line-height: 17px;
      display: block;
      float: left;
      letter-spacing: -1px;
      text-transform: uppercase;
      font-weight: 600;
      color: black;
    }
    .claim {
      font-size: 13px;
      line-height: 16px;
      display: block;
      float: left;
      font-weight: 400;
      color: rgba(0,0,0,0.5);
      padding-left: 15px;
      margin-left: 15px;
      border-left: 2px solid rgba(0,0,0,0.05);
    }
  }

  .inner { 
    height: 100px; 

    ul {
      position: absolute;
      top: 20px;
      font-size: 0px;
      line-height: 0px;

      &#meta { right: 30px; }
      
      &#lang { 
        width: 30px;
        right: 0px; 
        padding-top: 30px;

        li { display: none;}
        &:hover li { display: block;}
        .current { display: block; position: absolute; top: 0px;}
      }

      > li {
        height: 30px;
        width: 30px;
        display: inline-block;
        margin: 0px;
        padding: 0px;
        margin-left: 2px;
        background-color: rgba(0,0,0,0.05);
        position: relative;

        &:hover a { background-color: black; color: white; }

        a{
          height: 30px;
          width: 30px;
          color: black;
          line-height: 30px;
          text-align: center;
          display: block;
          overflow: hidden;
          font-size: 13px;
          font-weight: 600;
          background-size: cover;
          background-position: center;

          span { display: none;}

          &.favorites-link  { background-image: url("../img/icons/favorite.svg");}
          &.facebook  { background-image: url("../img/icons/social-01.svg");}
          &.twitter   { background-image: url("../img/icons/social-02.svg");}

          &:hover {
            &.favorites-link  { background-image: url("../img/icons/inv/favorite.svg");}
            &.facebook  { background-image: url("../img/icons/inv/social-01.svg");}
            &.twitter   { background-image: url("../img/icons/inv/social-02.svg");}
          }
        }
      }
    }
  }
}

#navigation {
  position: relative;
  width: 100%;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.25s;
  -webkit-transition-delay: 0.125s;
  -webkit-transition-timing: ease-in-out;
  height: 50px;
  background-color: white;

  // &:hover {  height: 300px; }

  > ul {
    width: 1000px;
    margin: auto;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    height: 50px;
    white-space: nowrap;
    overflow: hidden;

    > li {
      display: inline-block;
      font-size: 20px;
      line-height: 46px;
      height: 50px;
      padding: 0px;

      > a {
        padding-right: 14px;
        margin-right: 14px;
      }
      
      // &:hover { 
      //   > div {
      //     height: 250px; 
      //     opacity: 1;
      //   }
      // }

      &.last-child,
      &:last-child {
        width: 100%;
        height: 0px;
        overflow: hidden;
        position: relative;
      }

      > div { 
        border-top: 1px solid rgba(0,0,0,0.05);
        position: absolute;
        width: 100%;
        top: 50px;
        overflow: hidden;
        height: 0px;
        left: 0px;
        -webkit-transition-property: all;
        -webkit-transition-duration: 0.25s;
        -webkit-transition-delay: 0.125s;
        -webkit-transition-timing: ease-in-out;
        opacity: 0;

        > ul {
          padding-top: 10px;
          padding-bottom: 10px;
          width: 1000px;
          margin: auto;
          > li {}
        }
      }

      &:first-child {
        display: none;
      }

      &:last-child {
         > a {
          padding-right: 0px;
          margin-right: 0px;
          border-right: none;
        }
      }

      &.ancestor > a,
      &.selected > a { color: $blue;}
      
      > a {
        color: black;
        &:hover { color: $blue;}
      }
    }
  }
}

#footer {
  background-color: transparent;
  .inner { 

    ul.navigation {
      padding-top: 20px;
      padding-bottom: 20px;

      li {
        display: inline-block;
        font-size: 14px;
        line-height: 14px;
        height: 14px;
        padding: 0px;
        padding-right: 12px;
        margin-right: 10px;
        border-right: 1px solid rgba(0,0,0,0.1);
        
        &.selected a   { color: $blue;}
        a{
          color: black;

          &:hover   { color: $blue;}
        }
      }
    }
  }
}

@-webkit-keyframes SPINNER {
  0% {-webkit-transform:rotate(-360deg);}
  50% {-webkit-transform:rotate(-180deg);}
  100% {-webkit-transform:rotate(0deg);}
}

.list {
  margin-right: -60px;
  margin-left: -20px;
  padding-left: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 40px;
  margin-top: -40px;

  &#photos {
    padding: 0px;
    margin: 0px;
    margin-right: -60px;
    position: relative;

    > li { 
      cursor: move !important;

      &.ui-state-highlight {
        background-color: rgba(0,0,0,0.05) !important;
        height: 150px;
      }

      .img { 
        height: auto;
        margin: 0px;
        padding: 0px;
        cursor: move !important;

        img { width: 100%; opacity: 0 !important; height: 150px;}
      }

      &:first-child {
        width: 1000px !important;
        height: 350px !important;
        .inner { }
        img { height: 350px !important; opacity: 0;}
      }
      .inner { }
      
      .inner { overflow: hidden; position: relative;}

        &:hover { 
          .info {bottom: 0%; opacity: 1;}
          .img { opacity: 0.9;}
          .actions { opacity: 1;}
        }

        .info {
          -webkit-transition-property: all;
          -webkit-transition-duration: 0.5s;
          -webkit-transition-timing: ease-in-out;
          background-color: white;
          color: white;
          bottom: -100%;
          position: absolute;
          margin: 0px;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          opacity: 0;

          .title { 
            font-weight: 500; 
            // display: block;
          }

          padding-top: 10px;
          color: rgba(0,0,0,0.75);
          font-size: 12px;
          line-height: 18px;
        }

      height: auto;
      margin-bottom: 20px;
      overflow: hidden;
    }
  }

  > li { 
    width: 320px;
    height: 250px;
    float: left;
    position: relative;
    font-size: 15px;
    line-height: 20px;
    padding-bottom: 0px ;
    margin-right: 20px;
    .actions {opacity: 0; }

    &:hover{
      .actions {opacity: 1; }
      .img{ 
        opacity: 0.9;
        .overlay { border: 1px solid rgba(0,0,0,0.1); }
      }
    }

    .img { 
      background-color: rgba(0,0,0,0.05);
      width: 100%;
      height: 150px;
      display: block;
      overflow: hidden;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin-bottom: 9px;
      box-shadow: inset 0 0 10px rgba(0,0,0,0.05);
      position: relative;


      -webkit-transition-property: opacity;
      -webkit-transition-duration: 0.125s;
      -webkit-transition-timing: ease-in-out;

      span { 
        position: absolute;
        left: 0px;
        bottom: 0;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
      }

      .spinner { 
        opacity: 0;
        height: 100%;
        -webkit-transition-property: all;
        -webkit-transition-duration: 0.5s;
        -webkit-transition-delay: 0.05s;
        -webkit-transition-timing: ease-in-out;
        background-color: #f2f2f2;

        background-image: url("../img/spinner.gif");
        background-position: center;
        background-repeat: no-repeat;

        &.loading {opacity: 1; }
      }
    }

    a {
       h3   { font-weight: 500;}
       h4   { font-weight: 400;}
       h5   { font-weight: 400;; opacity: 0.5}
    }
  }

  &.collapsed {

    > li {

      &.class1 { 
       .description { margin-left: 0px; }
        clear: left;
      }

      &.class2 { 
       .description { margin-left: -340px; }
      }

      &.class3 { 
        .description {  margin-left: -680px;}
      }


      .description { 
        position: absolute;
        top: 250px;
        width: 1000px;
        height: 0px;
        overflow: hidden;
        opacity: 0;
        cursor: default;
        background-color: white;

        -webkit-transition-property: all;
        -webkit-transition-duration: 0.25s;
        -webkit-transition-delay: 0s;
        -webkit-transition-timing: ease-in-out;

        p { 
          font-size: 20px;
          line-height: 32px;
          height: 165px;
          overflow: hidden;
        }

        a.more { 
          font-size: 16px;
          line-height: 10px;
          background-color: $blue;
          display: inline-block;
          padding: 10px;
          position: absolute;
          top: 170px;
          left: 0;
          color: white;
          text-transform: capitalize;

          &:hover { background-color: black; } 
        }
      }

      &.open { 
        padding-bottom: 250px;
        margin-bottom: 50px;

        -webkit-transition-delay: 0s;
        z-index: 10000;

        .description { 
          height: 250px;
          opacity: 1;
           -webkit-transition-delay: 0.25s; 
        }
      }
    }
  }

  &.small { 
    padding-bottom: 30px;

    li.item { 
      width: 184px;
      width: 235px;
      height: 190px;
      font-size: 12px;
      line-height: 16px;
      margin-right: 20px;

      .img { 
        height: 120px;
      }

      a {
         h3   { font-weight: 500;}
         h4   { font-weight: 400;}
         h5   { font-weight: 400; opacity: 0.5}
      }
    }
  }

  &.compact {
    > li {
      border-top: 1px solid white;
      font-size: 15px;
      line-height: 21px;
      width: 100%;
      height: auto;
      float: left;
      position: relative;
      overflow: hidden;

      .img { 
        background-color: rgba(0,0,0,0.05);
        width: 80px;
        height: 100%;
        float: left;
        display: block;
        overflow: hidden;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 9px;
        box-shadow: inset 0 0 10px rgba(0,0,0,0.05);
        position: absolute;
        left: 0;
        top: 0;
        padding: 0px;
      }

      a {
        padding: 10px;
        padding-left: 95px;
        display: block;
        font-size: 12px;
        line-height: 16px;
        h3 { font-weight: 500; }
        h4 { font-weight: 400; }
        h5 { font-weight: 400; opacity: 0.5;}
      }
    }
  }

  &.text_only {
    // > li {
    //   width: 320px;
    //   height: 160px;
    //   margin-right: 20px;
    //   float: left;
    //   border-bottom: 2px solid rgba(0,0,0,0.025);
    //   padding-bottom: 8px;
    //   margin-bottom: 20px;

    //   font-size: 14px;
    //   line-height: 16px;

      
    //   ul {
    //     > li { margin-bottom: 10px;}
    //   }
      
    //   &:nth-child(6n) {
    //     margin-right: 0px;
    //   }
    // }
  }
}

#teaser {
  margin-right: -20px;
  h2 {
    font-size: 18px;
    text-transform: uppercase;
  }

  ul { 
  width: 320px;
  margin-right: -20px;
  float: left;
  position: relative;}
}

.actions {
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.125s;
  -webkit-transition-timing: ease-in-out;
  position: absolute;
  z-index: 200;
  right: 0px;
  top: 0px;

  &.bottom { top: auto; bottom: 0px; }

  a,
  button { 
    float: right;
    background-color: rgba(0,0,0,0.95) !important;
    width: 40px !important;
    height: 40px !important;
    padding: 0px !important;
    display: block;
    background-size: cover;
    background-position: center;
    position: relative;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.025);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;

    &:hover { 
      background-color: rgba(0,0,0,0.75) !important;
    }

    // &:after {
    //   content: "lorem";
    //   display: block;
    //   padding: 10px;
    //   padding-top: 5px;
    //   padding-bottom: 5px;
    //   font-size: 14px;
    //   color: white;
    //   background-color: black;
    //   position: absolute;
    //   top: -35px;
    //   right: 50%;
    //   margin-right: -100%;
    //   display: none;
    // }

    &:hover:after {
      display: block;
    }
  }
}

.btn,
button { 
  &.add             { background-image: url("../img/icons/inv/add.svg");}
  &.view            { background-image: url("../img/icons/inv/view.svg");}
  &.edit            { background-image: url("../img/icons/inv/edit.svg");}
  &.add-favorite    { background-image: url("../img/icons/inv/favorite.svg");}
  &.show-location   { background-image: url("../img/icons/inv/location.svg");}
  &.cancel          { background-image: url("../img/icons/inv/cancel.svg");}
  &.fullscreen      { background-image: url("../img/icons/inv/fullscreen.svg");}

  &.transparent {
    background-color: transparent !important;
    opacity: 0.3 !important;
    &:hover { background-color: transparent !important; opacity: 1 !important;}

    &.add             { background-image: url("../img/icons/add.svg");}
    &.view            { background-image: url("../img/icons/view.svg");}
    &.edit            { background-image: url("../img/icons/edit.svg");}
    &.add-favorite    { background-image: url("../img/icons/favorite.svg");}
    &.show-location   { background-image: url("../img/icons/location.svg");}
    &.cancel          { background-image: url("../img/icons/cancel.svg");}
    &.fullscreen      { background-image: url("../img/icons/fullscreen.svg");}
  }
}

.sidebar {
  float: right;
  width: 320px;
  
  .list.compact {
    padding: 0px;
    margin: 0px;
  }
  .compact { margin: -9px -15px !important;}

  table {
    margin-bottom: 15px;
    margin-top: 15px;

    thead { font-size: 10px;}

    tr {
      th { 
        font-weight: 500;
        text-transform: uppercase;
        font-size: 10px;
      }

      th, td {
        padding: 2px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
        height: auto;
      }

    }
    tbody {
      tr:nth-child(2n+1) {
        background-color: rgba(0,0,0,0.05);
      }
      th:first-child {
          background-color: rgba(0,0,0,0.05);
        }
    }
  }
}

article { 
  &.with_sidebar { width: 640px; float: left;}

  &#images { padding-bottom: 20px;
    
    ul {
      padding-top: 40px !important; 
      margin-right: -60px;
      li {

        cursor: pointer;

        float: left;
        position: relative;
        width: 320px;
        display: block;
        min-height: 50px;
        margin-right: 20px;
        margin-bottom: 20px;

        .actions { opacity: 0; }
        .inner { overflow: hidden; position: relative;}
        img { 
          display: block; 
          width: 100%;

          -webkit-transition-property: opacity;
          -webkit-transition-duration: 0.125s;
          -webkit-transition-timing: ease-in-out;
        }
       
        &:first-child { width: 660px;}

        &:hover { 
          .info {bottom: 0%; opacity: 1;}
          img { opacity: 0.9;}
          .actions { opacity: 1;}
        }

        .info {
          -webkit-transition-property: all;
          -webkit-transition-duration: 0.5s;
          -webkit-transition-delay: 0.5s;
          -webkit-transition-timing: ease-in-out;
          background-color: white;
          color: white;
          bottom: -100%;
          position: absolute;
          margin: 0px;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          opacity: 0;

          .title { 
            font-weight: 500; 
            // display: block;
          }

          padding-top: 10px;
          color: rgba(0,0,0,0.75);
          font-size: 12px;
          line-height: 18px;

        }
      }
    }
  }
  header {
    margin-bottom: 30px;
    position: relative;

    h1 { 
      font-weight: 500;
      margin: 0px;

      span { 
        display: block;
        font-weight: 400;
      }
    }
    
    h3 { 
      text-transform: uppercase;
      font-size: 20px;
      margin-top: 30px;
    }

    h4 {
      font-size: 30px;
      line-height: 42px;
      margin: 0px;
      padding: 0px;
      margin-bottom: 10px;
      font-weight: 400;
    }
  }

  p {
   a { 
    color: black; 
    opacity: 0.8; 
    font-weight: 500;
    &:hover {
      color: $blue;
    }
   }
  }

  > div {
    border-bottom: 1px solid rgba(0,0,0,0.05);
    padding-bottom: 40px;
    margin-bottom: 40px;
    zoom: 1;

    &:first-child { margin-top: 30px;
      // p {
      //   font-size: 30px;
      //   line-height: 44px;
      //   padding-bottom: 0px !important;

      //   &.img_block,
      //   &.img_left {
      //     display: none;
      //   }
      // }
    }
    
    h2{
      top: 5px;
      position: relative;
    }

    h3 {
      font-size: 30px;
      line-height: 30px;
      margin-bottom: 20px;
      top: 5px;
      position: relative;
    }

    p { 

      &.img_block,
      &.img_left {
        margin-right: 40px;
        color: rgba(0,0,0,0.75);
        font-size: 12px;
        line-height: 18px;
        width: 320px;
        padding-bottom:0px !important;
        margin-bottom: 0px !important;
        margin-top: 10px !important;

        img { 
          display: block; 
          margin-bottom: 10px; 
          width: 320px !important;
          box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
      }
    }
    small {
      strong { color: black;}
      font-size: 80%;
      line-height: 100% !important;
      display: inline;
      color: rgba(0,0,0,0.5);
      a { word-break: break-all; }
      &:not(:last-child):after {
        content: " · ";
        margin-right: 6px;
        margin-left: 6px;
      }

    }

    &:nth-child(1n) {
      .img_block,
      .img_left { float: left;}
    }
    &:nth-child(2n) {
      // .img_left { float: right;}
    }

    &:before, &:after {
      content: "\0020";
      display: block;
      height: 0;
      visibility: hidden;
    }

    &:after {
      clear: both;
    }
  }

  p { 
    font-size: 20px;
    line-height: 32px;
    padding-bottom: 20px;
    &:last-child{
      padding: 0px;
    }
  }
}


#slide { 
  height: 350px;
  width: 100%;
  overflow: hidden;

  &:hover { 
    p.small { 
      margin-bottom: 0;
    }
  }

  > li { 
    height: 350px;
    width: 100%;
    display: block;
    background-color: white;  

    
    .img { 
      display: block;
      height: 350px;
      width: 100%;
      background-size: cover;
      background-position: center;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 100;
      background-color: rgba(0,0,0,0.05);
      box-shadow: inset 0 0 20px rgba(0,0,0,0.05);
    }

    .overlay {
      position: absolute;
      z-index: 500;
      bottom: 0;
      left: 0;
      padding: 30px;
      text-shadow: 0 0 20px rgba(0,0,0,0.125), 0 0 10px rgba(0,0,0,0.125);

      h2 { 
        font-weight: 600;
        text-transform: uppercase; 
        font-size: 58px;
        line-height: 50px;
        color: white;
        padding: 0px;
        letter-spacing: -3px;
      }

      time { 
        background-color: $blue;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 28px;
        font-weight: 400;
        color: white;
        padding: 0px;
        letter-spacing: 0px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 5px;
        padding-bottom: 7px;
        text-transform: none;
      }

      h3 {
        font-size: 36px;
        line-height: 44px;
        color: white;
      }
    }

    p.small { 
      font-size: 14px;
      line-height: 14px;
      padding: 10px;
      white-space: nowrap;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1000;
      background-color: rgba(255,255,255,0.5);
      width: 100%;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      text-shadow: 0 0 4px white;
      margin-bottom: -40px;
      color: black;

      -webkit-transition-property: all;
      -webkit-transition-duration: 0.25s;
      -webkit-transition-timing: ease-in-out;
    }
  }
}
#tags { display: none;}

.tags,
.filter {
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 10px;
  -webkit-transform: translate(0px,0px); /* Safari and Chrome */
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-delay: 0s;
  -webkit-transition-timing: ease-in-out;

  .title { 
    display: block;
    padding-bottom: 10px;
    font-weight: 500;
  }
  li { 
    display: inline-block;
    background-color: rgba(0,0,0,0.05);
    color: black;
    margin-bottom: 5px;

    .selected,
    &.active ,
    &:hover  { 
      background-color: $blue;
      color: white;
    }

    a { 
      color: inherit;
      display: inline-block;
      line-height: 10px;
      white-space: nowrap;
      padding: 10px;
    }

    span { 
      background-color: rgba(0,0,0,0.025);
      color: rgba(0,0,0,0.5);
      display: inline-block;
      white-space: nowrap;
      margin-bottom: 5px;
      line-height: 10px;
      padding: 10px;
    }
  }
}

#to-top { 
    position: fixed;
    bottom: 0px;
    right: 0px;
    display: block;
    color: black;
    text-align: center;
    z-index: 10000;
    overflow: hidden;
    height: 60px;
    width: 70px;

    span {
      -webkit-transform: translateY(250px);
      -moz-transform: translateY(250px);
      -o-transform: translateY(250px);
      font-size: 0px;
      text-indent: 100px;
      overflow: hidden;
      white-space: nowrap;

      height: 60px;
      width: 70px;
      background-color: black;
      display: inline-block;

      -webkit-transition-property: all;
      -webkit-transition-duration: 0.75s;
      -webkit-transition-timing: ease-in-out;

      -moz-transition-property: all;
      -moz-transition-duration: 0.75s;
      -moz-transition-timing: ease-in-out;

      -o-transition-property: all;
      -o-transition-duration: 0.75s;
      -o-transition-timing: ease-in-out;

      -webkit-transition-timing: ease-in-out;
      position: relative;

      opacity: 0;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 40px;
      background-image: url("../img/icons/inv/top.svg");
    }

    &.on { 
      span {
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -o-transform: translateY(0px);
        background-color: rgba(0,0,0,0.95);
        opacity: 1;
        color: white;
      }
   }
}

#page-controls {
  position: absolute;
  top: 0px;
  z-index: 50000;

  a {
    width: 200px;
    height: 120px;
    line-height: 95px;
    text-align: center;
    font-size: 22px;
    position: fixed;
    top: 50%;
    margin-top: -70px;

    -webkit-transition-property: all;
    -webkit-transition-duration: 0.75s;
    -webkit-transition-timing: ease-in-out;

    -moz-transition-property: all;
    -moz-transition-duration: 0.75s;
    -moz-transition-timing: ease-in-out;

    -o-transition-property: all;
    -o-transition-duration: 0.75s;
    -o-transition-timing: ease-in-out;

    color: black;
    background-color: black;

    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    background-repeat: no-repeat;
    background-size: 33px;

    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    overflow: hidden;

    &:hover { 
      -webkit-transition-duration: 0.1s;
      -moz-transition-duration: 0.1s;
      -o-transition-duration: 0.1s;
      background-color: rgba(0,0,0,0.95);
      color: white;
     }

    > span {
      display: table;
      width: 90%;
      height: 100%;
      position: absolute;

      span.title {
        display: table-cell;
        vertical-align: middle;
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
        width: 150px;
        padding-left: 20px;
        padding-right: 20px;
      }
    }

    &.prev { 
      > span { right: 0; }
      left: 0;  
      border-right: 20px solid transparent;
      text-align: right;
      margin-left: -190px;
      background-image: url("../img/icons/inv/left.svg");
      background-position: center left;

      &:hover { margin-left: 0px; }
    }

    &.next { 
      > span { left: 0; }
      right: 0; 
      border-left: 20px solid transparent;
      text-align: left;
      margin-right: -190px;
      background-image: url("../img/icons/inv/right.svg");
      background-position: center right;
      &:hover { margin-right: 0px; }
    }
  }
}

.accordion {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 20px;

  .accordion-heading {
    a{ 
      font-weight: 500;
      text-transform: uppercase;
      font-size: 16px;
      line-height: 20px;
      padding-bottom: 13px;
      padding-top: 16px;
      padding-left: 25px;

      // background-image: url("../img/icons/down.svg");
      // background-size: contain;
      // background-position: right;
      // background-repeat: no-repeat;
    }
  }

  .accordion-group { 
    border: none;
    border-bottom: 10px solid white;
    margin-bottom: 0px;
    background-color: rgba(0,0,0,0.025);
    
    &:last-child{ border: none;}

    .accordion-body {
      &#collapse-twitterfeed {
        .time { display: block; color: rgba(0,0,0,0.5);}
      }
      .accordion-inner {
        padding: 9px 25px;
        border-top: 1px solid rgba(0,0,0,0.05);
        > ul {
          margin-left: -25px;
          margin-right: -25px;
          margin-top: -9px;
          margin-bottom: -9px;

          > li {
            padding: 14px 25px;
            border-bottom: 1px solid rgba(0,0,0,0.05);
            &:last-child{ border: none;}
          }
        }
      }
    }
  }
}

dl {
  dt {
    font-weight: normal;
    font-weight: 500;
  }
  &.inset {
    dt {
      display: inline-block;
      width: 15%;
    }
    dd {
      display: inline-block;
      width: 80%;
      a {
        display: inline-block;
        margin-left: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
        overflow: hidden;
      }
    }
    margin-bottom: 0px;
  }
  margin-bottom: 10px;
}

.icon {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: none;
  background-color: rgba(0,0,0,0.05);
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100px;
  height: 40px;
  width: 40px;

  &.icon-shop       { background-image: url("../img/icons/inv/shop.svg"); }
  &.icon-books      { background-image: url("../img/icons/inv/books.svg"); }
  &.icon-restaurant { background-image: url("../img/icons/inv/restaurant.svg"); }
  &.icon-cafe       { background-image: url("../img/icons/inv/cafe.svg"); }
  &.icon-library    { background-image: url("../img/icons/inv/library.svg"); }
  &.icon-archive    { background-image: url("../img/icons/inv/archive.svg"); }
  &.icon-studio     { background-image: url("../img/icons/inv/studio.svg"); }
  &.icon-online     { background-image: url("../img/icons/inv/online.svg"); }
  &.icon-diaper     { background-image: url("../img/icons/inv/diaper.svg"); }
  &.icon-birthdays  { background-image: url("../img/icons/inv/birthdays.svg"); }
  &.icon-rent       { background-image: url("../img/icons/inv/rent.svg"); }
  &.icon-other      { background-image: url("../img/icons/inv/other.svg"); }


  &.icon-delete { background-image: url("../img/icons/cancel.svg"); }
}

#cms_toolbar {
  form {
    width: auto;
    fieldset {
      border: none !important;
      padding: 0 !important;
      margin: 0 !important;
    }
  }
  input[type="text"], input[type="email"], input[type="password"], input[type="search"] {
    box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    width: auto !important;
    border: 1px solid rgba(102, 102, 102, .5);
    background-color: #fff;
    border-radius: 3px;
    box-shadow: none;
    padding: 3px;
    height: auto;
    font-size: 13px;
    line-height: 18px;
  }  
}

#dashboard {

  label {font-size: 22px; padding-bottom: 10px; }
  
  .add {float: right; margin-bottom: 4px; display: block;}
  
  article {margin-bottom: 30px; }
  
  ul {
    li {
      position: relative;
      background-color: rgba(0,0,0,0.05);
      
      nav { display: none; }

      &:hover {
        background-color: rgba(0,0,0,0.075);
        nav { display: block;}
      }

      > a {
        display: block;
        height: 40px;
        line-height: 40px;
        padding-left: 10px;

        box-sizing: border-box;
        -moz-box-sizing: border-box;
        margin-bottom: 2px;
        &:hover {
           h3, h4 ,h5 { color: rgba(0,0,0,0.5) !important;}
        }
        h3, h4 ,h5 { display: inline-block; width: 320px; font-size: 13px !important;}
        h3   { font-weight: 500;}
        h4   { font-weight: 400;}
        h5   { font-weight: 400;; opacity: 0.5}
      }
    }
  }
}