@charset "UTF-8";
@import 'variables';
@import 'header';
// @import 'form';
@import 'isotope';
@import 'tooltip';
@import 'maps';
@import 'gallery';
@import 'row';
@import 'list';
@import 'actions';
@import 'picker';
@import 'notices';
@import 'filters';
@import 'pagecontrols';
@import 'center';
@import 'panel';
@import 'cms-intro';
@import 'cms-richtext';
@import 'detail-pages';
@import 'media';
@import 'dashboard';
@import 'sbholder';
@import 'slideshow';
@import 'footer';

body {
  background-color: white;
  color: black;
  font-family: 'calluna-sans', 'Lucida Grande', Arial, sans-serif;
  font-size: 15px;
  line-height: 25px;
  overflow-y: scroll;
  overflow-x: hidden;
  font-weight: 300;
  background-color: #ffffff;
  text-shadow: 0 1px 0 rgba(0,0,0,0.01);
  -webkit-text-stroke: 1px transparent;
  margin: 0 !important;
}

#carousel-startpage {
  margin-bottom: 30px;
}

::selection {background: #ffb7b7; /* Safari */ }
::-moz-selection {background: #ffb7b7; /* Firefox */ }

#cms_toolbar {
  height: 42px;
}

.content {
  padding: 50px 0px;
  border-top: 1px solid #f2f2f2;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-top: 0px;
  font-family: 'calluna-sans', Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.1;
}

h1 {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  margin-top: 30px !important;
  margin-bottom: 30px;
}

h2 { 
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 20px;
  display: block;
  &:last-child { margin-bottom: 0px; padding-bottom: 0px;}
}

h3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
}

p, dl, ul,ol {
  margin-left: 0px;
  padding-left: 0px;
  &:last-child {
    margin-bottom: 0px;
  }
}

dl {
  margin-bottom: 0px;
}

small {
  display: inline-block;
  line-height: 160%;
}

a:link    { text-decoration: none;}
a:hover   { text-decoration: none;}
a:visited { text-decoration: none;}
a:active  { outline: none !important; }
a:focus  { outline: none !important; }

em { color: black; font-style: italic; }
p a{font-weight: 700; }

.navbar-form {
  padding: 0px !important;
  margin: 0px !important;
  .input-group {
    width: 1px;
  }
}

.input-group {
  .form-group {
    margin-bottom: 0px;
  }
}

.tooltip {
  pointer-events: none;
}

@-webkit-keyframes fadein    { 0% { opacity: 0; } 100% { opacity: 1; } }
   @-moz-keyframes fadein    { 0% { opacity: 0; } 100% { opacity: 1; } }
    @-ms-keyframes fadein    { 0% { opacity: 0; } 100% { opacity: 1; } }
     @-o-keyframes fadein    { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fadein    { 0% { opacity: 0; } 100% { opacity: 1; } }

img.fade { 
  // opacity: 0;

  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
       -o-backface-visibility: hidden;

  &.in {
    -webkit-animation: fadein 0.125s ease-out;
       -moz-animation: fadein 0.125s ease-out;
        -ms-animation: fadein 0.125s ease-out;
         -o-animation: fadein 0.125s ease-out;
            animation: fadein 0.125s ease-out;

      -webkit-animation-fill-mode: backwards;
         -moz-animation-fill-mode: backwards;
          -ms-animation-fill-mode: backwards;
           -o-animation-fill-mode: backwards;
              animation-fill-mode: backwards;
  }
}


.form-control:-moz-placeholder {
  color: #999999;
}
.form-control::-moz-placeholder {
  color: #999999;
}
.form-control:-ms-input-placeholder {
  color: #999999;
}
.form-control::-webkit-input-placeholder {
  color: #999999;
}
.form-control {
  display: block;
  width: 100%;
  min-height: 50px;
  padding: 0px 12px;
  font-size: 18px;
  line-height: 50px;
  color: black;
  vertical-align: middle;
  background-color: transparent;
  border-radius: 0px;
  border: 2px solid #f5f5f5;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
