{% block doctype %}<!DOCTYPE html>{% endblock %}
{% load cms_tags menu_tags sekizai_tags i18n image_modifications base_tags staticfiles %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
<meta http-equiv="Content-Security-Policy" content="
    default-src 'self';
    font-src 'self' https://fonts.gstatic.com/ https://maxcdn.bootstrapcdn.com/font-awesome/ https://use.typekit.net/;
    frame-src 'self';
    img-src *;
    manifest-src 'self';
    media-src 'self';
    object-src 'self';
    script-src 'self' {% render_block "script_nonces" %} {{ site_settings.get_script_nonces }} https://www.google.com/recaptcha/ https://www.gstatic.com/ https://code.jquery.com/ https://maps.google.com/ https://cdnjs.cloudflare.com/ https://www.google-analytics.com/ http://use.typekit.net/;
    style-src 'self' https://fonts.googleapis.com/ https://maxcdn.bootstrapcdn.com/font-awesome/ {% render_block "style_nonces" %} {{ site_settings.get_style_nonces|safe }} 'unsafe-inline';
    worker-src 'self'
    " />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <title>{% block title %}{% endblock %} Berlin Bühnen</title>
    <link rel="apple-touch-icon" sizes="57x57" href="{{ STATIC_URL }}site/img/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ STATIC_URL }}site/img/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ STATIC_URL }}site/img/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ STATIC_URL }}site/img/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ STATIC_URL }}site/img/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ STATIC_URL }}site/img/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ STATIC_URL }}site/img/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ STATIC_URL }}site/img/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ STATIC_URL }}site/img/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ STATIC_URL }}site/img/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ STATIC_URL }}site/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ STATIC_URL }}site/img/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ STATIC_URL }}site/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="{{ STATIC_URL }}site/img/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ STATIC_URL }}site/img/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    {% block meta_tags %}
        {{ site_settings.get_meta_tags|safe }}
    {% endblock %}

    {% block open_graph %}
    {% endblock %}

    {% block stylesheet %}
        <link href='//fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'/>
        <link href='//fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
        <link href="{{ STATIC_URL }}site/css/bootstrap/bootstrap.css" rel="stylesheet" media="screen, print" type="text/css" />
        <link href="{{ STATIC_URL }}site/css/style.css" rel="stylesheet" media="screen, print" type="text/css" />
    {% endblock %}

    {% render_block "css" %}

    {% now "u" as microseconds %}
    <script nonce="{{ microseconds }}">
        var images = [];
        function preload() {
          for (i = 0; i < preload.arguments.length; i++) {
            images[i] = new Image();
            images[i].src = preload.arguments[i];
          }
        }
        preload(
          "{{ STATIC_URL }}site/img/placeholder_list.gif",
          "{{ STATIC_URL }}site/img/placeholder_cover.gif"
        );
    </script>
    {% addtoblock "script_nonces" %} 'nonce-{{ microseconds }}'{% endaddtoblock %}

    <script src="/{{ LANGUAGE_CODE }}/jssettings/"></script>
    <script src="/{{ LANGUAGE_CODE }}/jsi18n/"></script>
<script src="https://code.jquery.com/jquery-1.10.1.min.js" integrity="sha384-M7ti4rBhW6K9vKaD69Y/xNT8YW/SFBQBKbSZtEdjveDyXUpsF3gmBWZRjtr0ZbCD"
  crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js" integrity="sha384-9tt8DlZQhE63eBuKml9tnMclfDeo/8/wstzUrBQStZZkCCvwfw78IiV+r9o600g2"
  crossorigin="anonymous"></script>
    <script src="{{ JETSON_MEDIA_URL }}js/jquery/jquery.cookie.js"></script>
    <script src="{{ STATIC_URL }}site/js/jquery.ba-bbq.min.js"></script>
    <script src="{{ STATIC_URL }}site/js/jquery.isotope.min.js"></script>
    <script src="{{ STATIC_URL }}site/js/jquery.scrollstop.min.js"></script>
    <script src="{{ STATIC_URL }}site/js/jquery.lazyload.min.js"></script>
    <script src="{{ STATIC_URL }}site/js/bootstrap/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}site/js/modernizr.custom.52849.js"></script>
    <script src="{{ STATIC_URL }}site/js/jquery.selectbox-0.2.min.js"></script>
    <script src="{{ STATIC_URL }}site/js/jquery.sharrre-1.3.2.js"></script>
    <script src="{{ STATIC_URL }}site/js/jquery.jscroll.min.js"></script>
    <script src="{{ STATIC_URL }}site/js/jquery.mobile.custom.min.js"></script>
    <!-- <script src="{{ STATIC_URL }}site/js/jquery.headroom.min.js"></script> -->
    <script src="{{ STATIC_URL }}site/js/jquery.hammer-full.min.js"></script>
    <script src="{{ STATIC_URL }}site/js/lscache.min.js"></script>
    <script src="{{ STATIC_URL }}site/js/base.min.js"></script>
    <script src="{{ STATIC_URL }}site/js/affix.js"></script>
    <script src="{{ STATIC_URL }}site/js/map.js"></script>

    {% now "u" as microseconds %}
    <script nonce="{{ microseconds }}">
        // forcing django CMS to use the already included version of jQuery
        var django = {jQuery: jQuery};
        var csrftoken = $.cookie('csrftoken');
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function(xhr, settings) {
              if (!csrfSafeMethod(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
              }
            }
        });
        if ($.browser.msie) {
            $('html').addClass('msie');
        }
    </script>
    {% addtoblock "script_nonces" %} 'nonce-{{ microseconds }}'{% endaddtoblock %}

    {{ site_settings.get_extra_head_with_nonces }}
    {% block js %}{% endblock %}
</head>


<body class="gmap map-only {% block bodyclass %}{% endblock %} lang_{{ LANGUAGE_CODE }}">
    <div id="wrapper">
        {% block header %}
            {% include "utils/header.html" %}
        {% endblock %}

        <div id="body" class="container-fluid">
            <div class="row gmap-height">
                <div class="box gmap-wrapper col-xs-12">
                    <div id="gmap" style="">&nbsp;</div>
                    
                    <div id="map-sidebar-wrapper">
                        <div id="map-sidebar" class="map-description">
                            <div id="map-buttons-overflow">
                                <div id="map-buttons-wrapper">
                                    <a href=".." id="cancel-map" class="fawesome back-round btn btn-default btn-lg">
                                      <span class="sr-only">{% trans "close" %}</span>
                                    </a>
                                    
                                    <button id="toggle-sidebar" class="fawesome menu btn btn-default btn-lg">
                                      <span class="sr-only">{% trans "Toggle Sidebar" %}</span>
                                    </button>

                                    <button id="show-current-location" class="fawesome crosshair btn btn-default btn-lg hidden">
                                      <span class="sr-only">{% trans "Show my current location" %}</span>
                                    </button>
                                </div>
                            </div>

                            <div id="map-list" class="hide">
                                <button id="cancel-list" class="cancel btn btn-info btn-lg">
                                    <span class="icon icon-remove"></span>
                                    <span class="sr-only">{% trans "close" %}</span>
                                </button>
                                <header class="list-header">
                                    <h4>{% block list-title %}{% endblock %}</h4>
                                    <div class="list-controls">
                                        <div class="btn-group">
                                            <button id="toggle-map-filter" class="btn btn-info">{% trans "filter" %}</button>
                                            <button id="filter-reset" type="button" class="filter-reset btn btn-info">{% trans "Reset" %}</button>
                                        </div>
                                    </div>
                                    <ul id="filter-summary"></ul>
                                </header>
                                {% include "utils/container_empty.html" %}

                                {% block map-list %}
                                {% endblock %}
                            </div>
                            <div id="map-description">
                                <div class="android-wrapper">
                                    <div class="map-ajax-detail">
                                        <article>
                                            <h4>{% trans "Nothing is selected" %}</h4>
                                            <p>{% trans "Please select a location on the map first!" %}</p>
                                        </article>
                                    </div>
                                </div>
                            </div>
                            
                            <button id="cancel-description" class="fawesome cancel btn btn-info btn-lg">
                                <span class="sr-only">{% trans "close" %}</span>
                            </button>
                        </div>
                    </div>
                    
                </div>
            </div>
            {% block content %}
            {% endblock %}            
        </div>
        
        {% comment %}
        <div id="footer">
            {% block footer %}
                <div class="content">
                    <div class="container">
                        <div class="row">
                            <div id="footer-links" class="col-xs-6 col-sm-3 col-md-2">
                                <h3>{% trans "Links" %}</h3>
                                <ul class="navigation">
                                    {% show_menu_below_id "meta" 0 0 1 1 %}
                                </ul>
                            </div>
                            <div id="footer-social" class="col-xs-6 col-sm-3 col-md-2">
                                <h3>{% trans "Follow us" %}</h3>
                                <ul class="social_links">
                                    <li><a class="fawesome facebook" href="https://www.facebook.com/pages/berlin-buehnende/440174332664851" target="_blank"><span class="sr-only">Facebook</span></a></li>
                                    <li><a class="fawesome twitter" href="https://twitter.com/#!/berlinbuehnen" target="_blank"><span class="sr-only">Twitter</span></a></li>
                                    <li><a class="fawesome instagram" href="https://instagram.com/berlinbuehnen" target="_blank"><span class="sr-only">Instagram</span></a></li>
                                </ul>
                            </div>
                            <div class="clearfix visible-xs"></div>
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <p>Ein Service von Kulturprojekte Berlin GmbH <br class="hidden-xs hidden-md" />gemeinsam mit den Berliner Bühnen</p>
                                <a href="http://www.kulturprojekte-berlin.de" target="_blank" class="no-print"><img src="{{ STATIC_URL }}site/img/logos/kpb.gif" height="40"/></a>
                                <img class="print" src="{{ STATIC_URL }}site/img/logos/kpb_black.gif" height="40"/>
                            </div>
                            <div class="clearfix visible-sm"></div>
                            <div id="footer-sponsors" class="col-xs-12 col-md-5">
                                <p>Gefördert durch:</p>
                                <a href="http://www.berlin.de/sen/wirtschaft/gruenden-und-foerdern/europaeische-strukturfonds" target="_blank" class="no-print"><img src="{{ STATIC_URL }}site/img/logos/efre.gif" height="60"/></a>
                                <img class="print" src="{{ STATIC_URL }}site/img/logos/efre_black.gif" height="60"/>
                                <a href="http://www.berlin.de/rbmskzl/kultur" target="_blank" class="no-print"><img src="{{ STATIC_URL }}site/img/logos/berlin.gif" height="70"/></a>
                                <img class="print" src="{{ STATIC_URL }}site/img/logos/berlin_black.gif" height="70"/>
                                <a href="http://www.berlin.de/sen/wirtschaft/gruenden-und-foerdern/europaeische-strukturfonds" target="_blank" class="no-print"><img src="{{ STATIC_URL }}site/img/logos/eu.gif" height="70"/></a>
                                <img class="print" src="{{ STATIC_URL }}site/img/logos/eu_black.gif" height="70"/>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>
        {% endcomment %}
    
        {% block map-js %}{% endblock %}
        {% render_block "js" %}
        {{ site_settings.get_extra_body_with_nonces }}
    </div>
    <span class="width-sniffer visible-xs"></span><span class="width-sniffer visible-sm"></span><span class="width-sniffer visible-md"></span><span class="width-sniffer visible-lg"></span>
</body>
</html>
