{% extends "bulletin_board/change_bulletin.html" %}
{% load i18n image_mods_tags base_tags crispy_forms_tags %}

{% block details %}
    <div id="bulletin_confirm" class="article short editable">
        <div id="dyn_content" class="dyn_section">
            <div class="dyn_section_content">
                <h1>{{ form_step_data.bulletin_data.title }}</h1>
                {% if form_step_data.bulletin_data.description %}
                    <div class="dyn_section_content">
                        <p>{{ form_step_data.bulletin_data.description|urlize|linebreaks }}</p>
                    </div>
                {% endif %}
            </div>

            <div class="section-details address_field_last">
                <div class="bulletin-contact">
                    <dl>
                        <dt>{% trans "Contact" %}</dt>
                        {% if form_step_data.bulletin_data.institution %}
                            <dd>
                                {{ form_step_data.bulletin_data.institution.title }}
                            </dd>
                        {% endif %}
                        {% if form_step_data.bulletin_data.contact_person %}
                            <dd>{{ form_step_data.bulletin_data.contact_person }}</dd>
                        {% endif %}
                    </dl>
                </div>
                {% if form_step_data.bulletin_data.phone %}
                    <dl>
                        <dd class="tel">
                            <abbr class="type">{% trans "Phone" %}:</abbr>
                            <span class="value">&nbsp;{{ form_step_data.bulletin_data.phone }}</span>
                        </dd>
                    </dl>
                {% endif %}
                {% if form_step_data.bulletin_data.email %}
                    <dl>
                        <dd class="tel">
                            <span class="value">{{ form_step_data.bulletin_data.email }}</span>
                        </dd>
                    </dl>
                {% endif %}
            </div>
                    
            <dl class="extra_info">
                <dt><h3>{% trans "Image" %}</h3></dt>
                    <dd>
                        <div class="article_img">
                            {% if form_step_data.bulletin_data.image_path %}
                                <img src="{{ UPLOADS_URL }}{{ form_step_data.bulletin_data.image_path|modified_path:"ad" }}" alt="" title="" />
                            {% else %}
                                {% if form_step_data.bulletin_data.image %}
                                    <img src="{{ UPLOADS_URL }}{{ form_step_data.bulletin_data.image|modified_path:"ad" }}" alt="" title="" />
                                {% else %}
                                    <img alt="" src="{{ STATIC_URL }}site/img/website/placeholder/default/news.png" />
                                {% endif %}
                            {% endif %}
                        </div>
                        {% if form_step_data.bulletin_data.image_description %}
                            <div class="caption">
                                <p>{{ form_step_data.bulletin_data.image_description }}</p>
                            </div>
                        {% endif %}
                    </dd>
                </dt>
            </dl>
            <h3>{% trans "Categories" %}</h3>
            <dl class="extra_info">
                {% if form_step_data.bulletin_data.bulletin_type %}
                    <dt>{% trans "Bulletin Type" %}</dt>
                    <dd>{% trans form_step_data.bulletin_data.bulletin_type %}</dd>
                {% endif %}
                {% if form_step_data.bulletin_data.bulletin_category %}
                    <dt>{% trans "Bulletin Category" %}</dt>
                    <dd>{{ form_step_data.bulletin_data.bulletin_category }}</dd>
                {% endif %}
                {% if form_step_data.bulletin_data.categories %}
                    <dt>{% trans "Categories" %}</dt>
                    {% for item in form_step_data.bulletin_data.categories %}
                        <dd>{{ item }}</dd>
                    {% endfor %}
                {% endif %}
                <dt>{% trans "Location type" %}</dt>
                <dd>
                    {% if form_step_data.bulletin_data.locality_type %}
                        {{ form_step_data.bulletin_data.locality_type }}
                    {% else %}
                        {% trans "All" %}
                    {% endif %}
                </dd>
            </dl>
            {% if form_step_data.bulletin_data.published_till_date %}
                <dl class="extra_info">
                    <dt><h3>{% trans "Published till" %}</h3></dt>
                    <dd>{{ form_step_data.bulletin_data.published_till_date|date:"d. m. Y" }} {{ form_step_data.bulletin_data.published_till_time|time:"H:i" }}</dd>
                </dl>
            {% endif %}
        </div>
        <form action="" method="POST">{% csrf_token %}
            <div id="nav-form" class="nav nav-form buttonHolder">
                <input id="back-form" type="button" class="secondaryAction" value="{% trans "Previous" %}" />
                <input name="reset" type="submit" class="btn btn-primary" value="{% trans "Reset" %}" />
                <input name="submit" type="submit" class="btn btn-primary" value="{% trans "Save" %}" />
            </div>
        </form>
    </div>
{% endblock %}