{% extends "bulletin_board/bulletin_detail.html" %}
{% load i18n base_tags auth_extended %}

{% block details %}
    <form action="" method="post">{% csrf_token %}
        <div class="fieldset not-editable">
            <fieldset>
                <h2>{% trans "Delete Bulletin" %}</h2>
                <p>
                    {% blocktrans with title=object.title %}Are you sure you want to delete the bulletin "{{ title }}"?{% endblocktrans %}
                </p>

                <div class="button-group form-buttons">
                    <input name="cancel" type="button" class="button cancel"
                        onclick="history.go(-1)"
                        value="{% trans "Cancel" %}" />
                    <input class="button danger" type="submit"
                        value="{% trans "Delete" %}" />
                </div>
            </fieldset>
        </div>
    </form>
{% endblock %}
