{% extends "base_sidebar.html" %}
{% load i18n base_tags cms_tags navigation_tags auth_extended bulletin_board_tags compressed site_specific image_mods_tags browsing %}

{% block meta_tags %}
    {{ super.block }}
    {% if LANGUAGE_CODE == "de" %}
        <meta name="keywords" lang="de" content="Markthalle, Markt, Kultur, Kreativwirtschaft, Kunst, Medien, Design, Praktikum, Praktika, Berlin"/>
        <meta name="description" lang="de" content="Markthalle für die Kultur- und Kreativwirtschaft in Berlin"/>
    {% else %}
        <meta name="keywords" lang="en-us" content="marketplace, market, exchange, Berlin, culture, art, creative industries, media, design, internships, internship"/>
        <meta name="description" lang="en-us" content="Marketplace for the cultural sector and the creative industries in Berlin"/>
    {% endif %}
{% endblock %}

{% block title %}
    {{ object.title|escape }}
{% endblock %}

{% block headline %}
    <h1>
        <a href="{% page_url request.current_page %}">
            {% page_attribute "page_title" request.current_page %}
        </a>
    </h1>
    {% if show_status %}
        <h2>{{ object.get_status_display }}</h2>{% endif %}
{% endblock %}

{% block tabs %}
    <div class="menu">
        <div class="container">
            <div class="row">
                <div class="hidden-xs col-sm-4 col-md-3 headline">
                    <h2>{% page_attribute "page_title" %}</h2>
                </div>
                <div class="navi">
                    <nav>
                        <ul>
                            {% navigation_links "bulletin_board" using "navigation/includes/navigation_links_in_tabs.html" %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'bulletin_list' %}">{% page_attribute "page_title" %}</a></li>
    <li><a href="{{ object.get_url_path }}">{{ object.title }}</a></li>
    {% block breadcrumbs_details %}
    {% endblock %}
{% endblock %}
