{% extends "bulletin_board/bulletin_list.html" %}
{% load i18n base_tags cms_tags auth_extended navigation_tags uni_form_tags infoblocks site_specific bulletin_board_tags %}

{% block extrahead %}
    <link rel="alternate" type="application/rss+xml" title="Projektboerse RSS" href="{{ website_url|slice:":-1" }}{% url "bulletin_rss" %}{% filter force_escape %}{% append_to_get sort_by="" no_path %}{% endfilter %}" />
{% endblock %}

{% block title %}Meine Inserate{% endblock %}
 
{% block breadcrumbs %}
    <li><a href="{% url "bulletin_list" %}">{% page_attribute "page_title" %}</a></li>
    <li>{% trans "My Bulletins" %}</li>
{% endblock %}

{% block sidebar %}
    <ul class="accordion navi-box">
        <li class="accordion-inside accordion-trigger opened">
            <div class="accordion-trigger head">{% trans 'Filter' %}</div>
            <ul class="accordion filter-box">
                <li><a href="?status=" {% if not facets.selected.status %} class="active"{% endif %}>{% trans 'All' %}</a></li>
                {% for val, display in facets.categories.statuses %}
                    <li><a href="?status={{ val }}" {% if facets.selected.status == val %} class="active"{% endif %}>{{ display }}</a></li>
                {% endfor %}
            </ul>
        </li>
        <li></li>
    </ul>
    {% infoblock "bulletinboard_infobox" using "blocks/infobox.html" %}
{% endblock %}

{% block extrabody %}
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/website/generic.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/website/listing.js"></script>
{% endblock %}
