{% extends "bulletin_board/bulletin_list.html" %}
{% load i18n base_tags cms_tags auth_extended navigation_tags uni_form_tags infoblocks site_specific bulletin_board_tags %}

{% block extrahead %}
    <link rel="alternate" type="application/rss+xml" title="Projektboerse RSS" href="{{ website_url|slice:":-1" }}{% url "bulletin_rss" %}{% filter force_escape %}{% append_to_get sort_by="" no_path %}{% endfilter %}" />
{% endblock %}

{% block title %}Meine Inserate{% endblock %}
 
{% block breadcrumbs %}
    <li><a href="{% url "bulletin_list" %}">{% page_attribute "page_title" %}</a></li>
    <li>{% trans "My Bulletins" %}</li>
{% endblock %}

{% block content_old %}
    <div id="object_list">
        {% if object_list %}
            {% for bulletin in object_list %}
                {% include_parsed "bulletin_board/lists/bulletin_list_item.html" with "vevent" as extra_css_classes and 1 as show_status %}
            {% endfor %}
        {% else %}
            <p class="nothing">{% trans "No objects found within the selected conditions." %}</p>
        {% endif %}
    </div>
    <div class="sorting_menu under-tabs">
        <form action="" method="get">
            {% include "utils/includes/paginate_by.html" %}
            {% include "utils/includes/pagination.html" %}
        </form>
    </div>
{% endblock %}

{% block sidebar %}
    <ul class="accordion filter-box">
        <li><div class="head">{% trans 'Filter' %}</div></li>
        <li><a href="?status=" {% if not facets.selected.status %} class="active"{% endif %}>Alle</a></li>
        {% for val, display in facets.categories.statuses %}
            <li><a href="?status={{ val }}" {% if facets.selected.status == val %} class="active"{% endif %}>{{ display }}</a>
            </li>
        {% endfor %}
        <li></li>
    </ul>
{% endblock %}

{% block extrabody %}
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/website/generic.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/website/listing.js"></script>
{% endblock %}
