{% extends "base.html" %}
{% load url from future %}
{% load i18n image_modifications base_tags tagging_tags favorites auth_extended babel fb_tags %}
{% block title %}{% trans "Shop" %} – {{ object.title }} – {% endblock %}
{% block bodyclass %}shop-product-detail shop-product-list no-transition{% endblock %}

{% block open_graph %}
    <meta property="og:title" content="{{ object.title }}" />
    <meta property="og:type" content="article" />
    {% if object.image %}
      <meta property="og:image" content="http://{{ request.get_host }}{{ MEDIA_URL }}{{ object.image|modified_path:"og" }}" />
    {% else %}
      <meta property="og:image" content="http://{{ request.get_host }}{{ STATIC_URL }}site/img/logo/museumsportal-og.jpg" />
    {% endif %}
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="600" />
    <meta property="og:image:height" content="600" />
    <meta property="og:description" content="{{ object.get_rendered_description|striptags|truncatewords:20|escape }}" />
{% endblock %}

{% block js %}
  <script type="text/javascript" src="{{ STATIC_URL }}site/js/share.js" defer="defer"></script>
{% endblock %}

{% block content %}
<div id="shop" class="content">
    <div class="container">
        <div class="row">
			      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 clearfix">
                    <article>
                        <div class="col-xs-12">
                            <header>
		    		                    <h1>
                                    {{ object.title }}
                                    {% if_has_perm "shop.change_shopproduct" object %}
                                    {% if not request.is_mobile %}
                                        <span class="cms_edit"><a class="icon icon-pencil" data-toggle="tooltip" data-placement="bottom" data-original-title="{% trans "Edit" %}" href="{{ request.path }}change/">&nbsp;<span class="sr-only">{% trans "Edit" %}</span></a></span>
                                    {% endif %}
                                    {% end_if_has_perm %}
                                </h1>
                                <h2>{{ object.subtitle }}</h2>
                            </header>
                            <div class="tools">
                                <button class="btn btn-default btn-round share-twitter"  data-url="{{ object.get_url }}" data-text="{{ object.title }}{% if object.subtitle %} / {{ object.subtitle }}{% endif %}">
                                    <span class="icon icon-social-twitter"></span>
                                    <span class="sr-only">{% trans "Share on Twitter" %}</span>
                                </button>
                                <button class="btn btn-default btn-round share-facebook" data-url="{{ object.get_url }}" data-text="{{ object.title }}{% if object.subtitle %} / {{ object.subtitle }}{% endif %}">
                                    <span class="icon icon-social-facebook"></span>
                                    <span class="sr-only">{% trans "Share on Facebook" %}</span>
                                </button>
                            </div>
                        </div>
                        <div class="col-xs-12 visible-xs">
                            <a href="{{ object.link }}" target="_blank" class="product-img-hidden-xs">
                                <span class="img"><span class="photo-credits-wrapper"><img src="{{ STATIC_URL }}site/img/placeholder_editorial.gif" alt="{{ object.title }}"  data-original="{{ MEDIA_URL }}{{ object.image|modified_path:"shop_big" }}" />{% with object.image|file_description as file_desc %}{% if file_desc.author %}<span class="photo-credits-over">{{ file_desc.author }}</span>{% endif %}{% endwith %}</span></span>
                            </a>
                        </div>
                        <div class="col-xs-12">
                            <a href="{{ object.link }}" target="_blank" class="hidden-xs col-sm-6 product-img-hidden-xs">
                                <span class="img"><span class="photo-credits-wrapper"><img src="{{ STATIC_URL }}site/img/placeholder_editorial.gif" alt="{{ object.title }}"  data-original="{{ MEDIA_URL }}{{ object.image|modified_path:"shop_small" }}" />{% with object.image|file_description as file_desc %}{% if file_desc.author %}<span class="photo-credits-over">{{ file_desc.author }}</span>{% endif %}{% endwith %}</span></span>
                            </a>
                            {{ object.get_rendered_description }}
                            {% if object.price %}
                                <div class="price">{{ object.price|currencyfmt:"€" }}</div>
                            {% endif %}
                            <a class="btn btn-default btn-sm pull-right" href="{{ object.link }}" target="_blank">{% trans "buy" %}</a>
                        </div>
                    </article>
			      </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="panel-group">
                    {% if object.get_related_museums %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3>{% trans "Related museums" %}</h3>
                            </div>
                            <div class="panel-collapse">
                                <div class="panel-body">
                                    <ul>
                                        {% for museum in object.get_related_museums %}
                                            <li><a href="{{ museum.get_url_path }}">{{ museum.title }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if object.get_related_exhibitions %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3>{% trans "Related exhibitions" %}</h3>
                            </div>
                            <div class="panel-collapse">
                                <div class="panel-body">
                                    <ul>
                                        {% for exhibition in object.get_related_exhibitions %}
                                            <li><a href="{{ exhibition.get_url_path }}">{{ exhibition.title }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if object.get_related_events %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3>{% trans "Related events" %}</h3>
                            </div>
                            <div class="panel-collapse">
                                <div class="panel-body">
                                    <ul>
                                      {% for event in object.get_related_events %}
                                        <li><a href="{{ event.get_url_path }}">{{ event.title }}</a></li>
                                      {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if object.get_related_workshops %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3>{% trans "Related guided tours" %}</h3>
                            </div>
                            <div class="panel-collapse">
                                <div class="panel-body">
                                    <ul>
                                      {% for workshop in object.get_related_workshops %}
                                        <li><a href="{{ workshop.get_url_path }}">{{ workshop.title }}</a></li>
                                      {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% include "utils/page_controls.html" %}

    {% if object.get_similar_published_products %}
        <div id="list">
            <div class="container">
                <h2>{% trans "Similar products" %}</h2>
                <div id="container">
                    <div class="row row-md grid">
                        {% for product in object.get_similar_published_products|slice:':4' %}
                            <div class="item col-xs-12 col-sm-4 col-md-4 col-lg-3{% if forloop.counter == 4 %} hidden-sm hidden-md{% endif %}">
                                <a href="{{ product.get_url_path }}">
                                    {% if product.image %}
                                        <span class="img"><span class="photo-credits-wrapper"><img src="{{ STATIC_URL }}site/img/placeholder_list.gif" data-original="{{ MEDIA_URL }}{{ product.image|modified_path:"editorial" }}" alt="product.title" />{% with product.image|file_description as file_desc %}{% if file_desc.author %}<span class="photo-credits-over">{{ file_desc.author }}</span>{% endif %}{% endwith %}</span></span>
                                    {% endif %}
                                    {% if product.price %}
                                        <span class="price pull-right">{{ product.price|currencyfmt:"€" }}</span>
                                    {% endif %}
                                    <h3>
                                        {{ product.title }}
                                    </h3>
                                    {% if product.subtitle %}
                                        <h4>{{ product.subtitle }}</h4>
                                    {% endif %}
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
