@charset "utf-8";

.accordion {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    .accordion-item-head {
        cursor: pointer;
        margin-bottom: 0;
    }
    .accordion-item-content {
        display: none;
    }
}

.content-accordion {
    .accordion-item {
        border-top: 2px solid black;
        position: relative;
        .accordion-item-head {
            font-weight: $light;
            font-size: 2em;
            text-transform: uppercase;
            padding: 8px 0;
            &:after {
                font: normal normal normal 14px/1 FontAwesome;
                content: "\f107";
                font-size: 1.75em;
                position: absolute;
                top: 1px;
                right: 10px;
                color: #222;
            }
            &.open:after {
                content: "\f106";
                top: 0;
            }
        }
        .accordion-item-content {
            margin-bottom: 16px;
            .publication {
                margin: 10px 0 40px;
                p {
                    margin: 0;
                }
                .button {
                    margin-top: 5px;
                }
            }
        }
        p:first-child {
            margin-top: 16px;
        }
    }
}

.sidebar-accordion {
    .accordion-item {
        position: relative;
        .accordion-item-head {
            font-weight: $regular;
            font-size: 0.875em;
            text-transform: uppercase;
            padding: 4px 0 4px 8px;
            background: black;
            color: white;
            &:after {
                font: normal normal normal 14px/1 FontAwesome;
                content: "\f107";
                font-size: 1.75em;
                position: absolute;
                top: 1px;
                right: 10px;
            }
            &.open:after {
                content: "\f106";
                top: 0;
            }
        }
        p, a.block {
            display: block;
            margin: 10px 10px;
        }
        p.margin {
            margin-top: 20px;
            &:first-of-type {
                margin-top: 10px;
            }
        }
        h5 {
            margin: 10px 10px -10px 10px;
            font-size: 1em;
            font-weight: $bold;
        }
        dl {
            margin: 10px 10px 10px 10px;
            &.headline {
                margin-top: 0;
            }
            dt {
                margin: 0;
                font-weight: $regular;
                display: inline-block;
                &.width_50 {
                    width: 55px;
                }
                &.width_80 {
                    width: 80px;
                }
                &.width_90 {
                    width: 90px;
                }
                &.width_120 {
                    width: 120px;
                }
                &:after, &:before {
                    content: none;
                    padding: 0;
                    display: inline;
                }
            }
            dd {
                display: inline;
                &.headline {
                    font-weight: $bold;
                }
                &:after {
                    content:"\A"; 
                    white-space:pre;
                    display:block;
                    line-height: 0px;    
                }
                ul {
                    display: inline-block;
                    list-style: none;
                    padding-left: 5px;
                }
            }
        }
        ul.list {
            margin: 10px 10px 10px 26px;
            li {
                list-style-type: disc;
            }
        }
        ul.dates {
            width: 100%;
            font-size: 0.875em;
            line-height: 22px;
            text-transform: uppercase;
            margin-bottom: 15px;
            margin-top: 5px;
            li {
                width: 100%;
                height: 23px;
                border-bottom: 1px solid black;
                position: relative;
                .date-wrapper, .time-wrapper {
                    margin: 0;
                    display: inline-block;
                    white-space: nowrap;
                }
                .date-wrapper {
                    width: 110px;
                    &.varying-width {
                        width: auto!important;
                    }
                }
                .time-wrapper {
                    width: 55px;
                }
                .date, .time {
                    margin: 0 4px 0;
                    float: right;
                    &:after {
                        content: "|";
                        margin-left: 8px;
                        font-weight: $light;
                    }
                }
                .date {
                    font-weight: $bold;
                }
                .extra {
                    background: $blue;
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: 0 10px 0 0;
                    height: 22px;
                    color: white;
                    font-weight: $bold;
                    &:before {
                        content: url(../img/label_22px.png);
                        position: relative;
                        left: -10px;
                    }
                    &.canceled {
                        background: $red;
                        &:before {
                            content: url(../img/label_red_22px.png);
                        }
                    }
                    span {
                        margin: 0;
                        vertical-align: top;
                    }
                }
                .tickets {
                    color: black;
                    display: inline-block;
                    font-size: 0.875em !important;
                    margin-left: 4px;
                    width: 15px;
                    vertical-align: top;
                    padding-top: 4px;
                    &:hover, &:focus {
                        color: black;
                    }
                }
                
                &.more-dates {
                    display: none;
                }
            }
        }
        
        a.more-dates, a.less-dates {
            margin: 0 0 10px 10px;
            color: black;
            display: inline-block;
            text-transform: uppercase;
            &:hover {
                color: black;
            }
        }
        a.less-dates {
            display: none;
        }
        
        a.location-link {
            color: black;
            cursor: default;
            &:hover {
                color: black;
            }
            
            #article_detail.details & {
                cursor: pointer;
            }
        }
        
        img.logo {
            width: 74px;
            display: block;
            margin: 10px 0 0 10px;
        }
        
        .maincategory {
            .subcategory {
                &:last-of-type {
                    margin-bottom: 3px;
                    display: inline-block;
                }
            }
        }
        
        form {
            margin: 20px 10px 20px;
            width: auto;
            
            .split {
                overflow: hidden;
                position: relative;
                div {
                    width: 45%;
                    float:left;
                    &:last-child {
                        position: absolute;
                        right: 0;
                    }
                }
            }
            
            input {
                background-color: transparent;
                font-size: 1em !important;
                &#submit {
                    background-color: black;
                    margin-top: 20px;
                }
            }
            
            textarea.form-control {
                resize: none;
                height: 70px;
                color: rgba(0,0,0,0.75);
                font-size: 1em !important;
            }
            
            .sbHolder {
                color: rgba(0,0,0,0.75);
                font-size: 1em !important;
            }
        }
        
    }
}