// main:style.scss
// @Author: Daniel Lehmann
// @Date:   2017/11/29
// @Email:  code@dreammedia.info
// @Last modified by:   Daniel Lehmann
// @Last modified time: 2017/12/04
// @copyright Daniel Lehmann (code@dreammedia.info)

@charset "utf-8";

.advent-calendar-body {
    &.gift-layer {
        overflow: hidden;
    }
}

.advent-calendar {

    .photo-credits-over {
            bottom: 17%;
            z-index: 0;
    }

    .photo-credits-wrapper {
        overflow: hidden;
        float: left;
        margin: 5px 20px 20px 0;
        max-width: 38%;

        .is-xs & {
            display: none;
        }
    }

    .container {
        background: $black;
        color: $white;
        padding: 50px 50px 0;

        h1.bottom-line {
            border-bottom-color: $white;
        }

        .placeholder-intro {
            .col-xs-12 {
                .is-xs & {
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
        }

        .banner {
            color: $white;
            overflow: hidden;
            padding: 0 0 20px;
            margin-bottom: 10px;
            cursor: default;
            position: relative;

            .image {
                margin: 30px 40px 0 0;
                text-align: right;

                .fawesome {
                    &:before {
                        vertical-align: middle;
                        padding: 0;
                        font-size: 3.7rem;
                    }
                }

                .arrow-right {
                    display: none;

                    &:before {
                        padding-right: 30px;
                    }
                }
            }

            img {
                width: auto;
                max-width: 100%;
                height: auto;
                max-height: 150px;
                margin: 0;
                padding: 0;
                display: inline;

                .is-sm &, .is-xs & {
                    max-height: 100px;
                }
            }

            .text {
                position: absolute;
                top: 50%;
                left: 0;
                -ms-transform: translateY(-45%);
                -webkit-transform: translateY(-45%);
                transform: translateY(-45%);

                .is-xs & {
                    position: static;
                    -ms-transform: translateY(0);
                    -webkit-transform: translateY(0);
                    transform: translateY(0);
                }
            }

            h2 {
                font-size: 1.85em;
                font-weight: 400;
                margin: 0;
                padding: 0 20px;
                text-transform: uppercase;

                + h2 {
                    font-size: 2rem;
                    text-transform: none;
                }
            }
        }

        #main_list {
            margin-top: 50px;
        }

        .img {
            margin: 0;
            background: #999999 !important;

            -webkit-perspective: 1000;
            -moz-perspective: 1000;
            -o-perspective: 1000;
            -ms-perspective: 1000;
            perspective: 1000;
            -webkit-perspective-origin: 0;
            -moz-perspective-origin: 0;
            -o-perspective-origin: 0;
            -ms-perspective-origin: 0;
            perspective-origin: 0;

            img {
                position: relative;

                -webkit-transform: rotateY(0deg);
                -moz-transform: rotateY(0deg);
                -o-transform: rotateY(0deg);
                -ms-transform: rotateY(0deg);
                transform: rotateY(0deg);

                -webkit-transform-origin: 100% 50%;
                -moz-transform-origin: 100% 50%;
                -o-transform-origin: 100% 50%;
                -ms-transform-origin: 100% 50%;
                transform-origin: 100% 50%;

                /*-webkit-backface-visibility: hidden;
                -moz-backface-visibility: hidden;
                -o-backface-visibility: hidden;
                -ms-backface-visibility: hidden;
                backface-visibility: hidden;*/

                -webkit-transition: -webkit-transform 1.2s ease-in-out;
                -moz-transition: -moz-transform 1.2s ease-in-out;
                -o-transition: -o-transform 1.2s ease-in-out;
                transition: transform 1.2s ease-in-out;

                &.gift-image {
                    position: absolute;
                }

                &.opening {
                    -webkit-transform: rotateY(90deg);
                    -moz-transform: rotateY(90deg);
                    -o-transform: rotateY(90deg);
                    -ms-transform: rotateY(90deg);
                    transform: rotateY(90deg);
                }

                &.open {
                    /*-webkit-transform: rotateY(90deg);
                    -moz-transform: rotateY(90deg);
                    -o-transform: rotateY(90deg);
                    -ms-transform: rotateY(90deg);
                    transform: rotateY(90deg);*/
                    visibility: hidden;
                }
            }

            &.present {
                cursor: pointer;
                z-index: 1;
            }

            &.past {
                cursor: pointer;

                img {
                    -webkit-filter: grayscale(100%);
                    -moz-filter: grayscale(100%);
                    -ms-filter: grayscale(100%);
                    -o-filter: grayscale(100%);
                    filter: grayscale(100%);
                    filter: gray;
                    opacity: 0.5;
                }
                &:hover {
                    img {
                        opacity: 0.5 !important;
                    }
                }
            }

            &:hover {
                img {
                    opacity: 1 !important;
                }
            }
        }

        .gift {
            position: fixed;
            z-index: 9999;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.8);
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            display: none;

            -webkit-transition: opacity 0.5s ease-out;
            -moz-transition: opacity 0.5s ease-out;
            -o-transition: opacity 0.5s ease-out;
            transition: opacity 0.5s ease-out;

            &.opening {
                display: block;
                opacity: 0;
            }

            &.open {
                display: block;
                opacity: 1;
            }

            .gift-layer {
                background: $black;
                width: 100%;
                max-width: 900px;
                max-height: 100%;
                padding: 50px 20px 30px 20px;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                overflow: auto;
                overflow-x: hidden;
                overflow-y: auto;
                text-align: left;

                .is-sm & {
                    max-width: 750px;
                }

                .gift-close {
                    width: 41px;
                    height: 38px;
                    position: absolute;
                    right: 0;
                    top: 5px;
                    background: $black url(../img/close.gif);
                    background-repeat: no-repeat;
                    background-size: contain;
                    cursor: pointer;
                }

                h2 {
                    color: $white;
                    margin-bottom: 25px !important;
                    font-size: 2.1rem;
                }

                img {
                    vertical-align: top;
                    padding: 0;
                    width: 100%;
                    height: auto;
                }

                p {
                    color: $white;
                }

                a {
                    color: $white;
                    text-decoration: underline;

                    &:hover, &:visited, &:active {
                        color: $white;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
