@charset "utf-8";

.date-slider {
    
    height: 104px;
    margin-bottom: 7px;
    position: relative;
    
    * {
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        user-select: none;
    }
    
    .date-slider-month {
        width: 60px;
        margin-top: 9px;
        font-weight: $light;
        font-size: 1.5em;
        text-transform: uppercase;
        float: left;
    }
    
    .date-slider-days {
        height: 70px;
        position: relative;
        overflow: hidden;
        .date-slider-item {
            width: 54px;
            height: 100%;
            background: url(../img/cal_black.png) no-repeat;
            position: absolute;
            top: 0;
            .date-slider-day {
                width: 100%;
                height: 40px;
                font-weight: 600;
                font-size: 1.1em;
                line-height: 38px;
                color: white;
                text-align: center;
            }
            .date-slider-weekday {
                width: 20px;
                height: 25px;
                font-weight: $regular;
                font-size: 1.1em;
                text-align: right;
                margin-left: 10px;
                margin-top: 10px;
            }
            &.active, &.over {
                background: url(../img/cal_blue.png) no-repeat;
            }
        }
        .date-slider-links {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    
    .date-slider-prev, .date-slider-next {
        width: 22px;
        height: 24px;
        position: absolute;
        top:8px;
        background: transparent;
        color: #999;
        cursor: pointer;
        opacity: 0.7;
        &:hover {
            opacity: 1;
        }        
    }
    
    .date-slider-prev {
        left: -45px;
        background: url(../img/prevprev.png) no-repeat left bottom;
    }
    .date-slider-next {
        right: -45px;
        background: url(../img/nextnext.png) no-repeat right bottom;
    }
    
    &.small-margin {
        .date-slider-prev {
            background-size: 75% 75%;
            top:5px;
        }
        .date-slider-next {
            background-size: 75% 75%;
            top:5px;
        }
    }
    
    .date-slider-field {
        width: 100%;
        height: 20px;
        position: relative;
        margin-top: 19px;
        padding-top: 9px;
        cursor: pointer;
        hr {
            width: 100%;
            height: 2px;
            margin: 0;
            color: black;
            border-color: black;
            background-color: black;
        }
        .date-slider-field-button {
            width: 20px;
            height: 20px;
            background: black;
            border-radius: 10px;
            position: absolute;
            top: 0;
            left: 0;
            box-shadow: 0px 0px 3px black;
        }
    }
}