.details {
    
    .back {
        color: black;
        font-weight: 200;
        display: inline-block;
        margin-bottom: 40px;
        &:hover, &:focus {
            color: $blue;
        }
    }
    header {
        margin-bottom: 24px;
        ul.header-top {
            width: 100%;
            list-style: none;
            padding-bottom: 4px;
            margin-bottom: 29px;
            border-bottom: 4px solid #000;
            li {
                display: inline-block;
                text-transform: uppercase;
                font-size: 1.125em;
                font-weight: 700;
                :after {
                    content: "|";
                    margin: 0 10px;
                }
            }
        }
        h1 {
            font-weight: 200;
            font-size: 2em;
            text-transform: uppercase;
            margin-bottom: 13px;
        }
        h2 {
            font-weight: 400;
            font-size: 1.125em;
            margin-bottom: 13px;
        }
    }
    .main {
        .container {
            padding-left: 0;
            padding-right: 0;
        }
        .row {
            margin-left: -10px;
            margin-right: -10px;
        }
        dl.listing {
            p {
                display: inline;
                padding-right: 5px;
            }
        }
    }
    .additional {
        .sponsor {
            display: inline-block;
            margin: 15px 15px 0 0;
        }
    }
    .left {
        padding-left: 10px;
        padding-right: 10px;
        .top-image {
            width:100%;
            margin-bottom: 24px;
            img {
                width: 100%;
            }
        }
    }
    .right {
        padding-left: 10px;
        padding-right: 10px;
        p, a.block {
            display: block;
            margin: 10px 10px;
        }
        ul.dates {
            width: 100%;
            font-size: 0.875em;
            line-height: 22px;
            text-transform: uppercase;
            margin-bottom: 20px;
            margin-top: 5px;
            li {
                width: 100%;
                height: 23px;
                border-bottom: 1px solid black;
                position: relative;
                span {
                    display: inline-block;
                    &:first-child {
                        margin-left: 10px;
                    }
                }
                .date, .time {
                    margin: 0 4px;
                    &:after {
                        content: "|";
                        margin-left: 8px;
                        font-weight: 200;
                    }
                }
                .date {
                    font-weight: 700;
                }
                .extra {
                    background: $blue;
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: 0 10px 0 0;
                    height: 22px;
                    color: white;
                    font-weight: 700;
                    &:before {
                        content: url(../img/label_22px.png);
                        position: relative;
                        left: -10px;
                    }
                    span {
                        margin: 0;
                        position: relative;
                        left: 0;
                        top: -5px;
                    }
                }
                .tickets {
                    color: black;
                    display: inline-block;
                    font-size: 0.875em !important;
                    margin-left: 8px;
                    width: 15px;
                    &:hover, &:focus {
                        color: black;
                    }
                }
            }
        }
    }
    .full {
        padding-left: 0;
        padding-right: 0;
    }
    dl {
        dt {
            display: inline;
            float: none;
        }
        dt:after {
            content: ":";
            padding-right: 2px;
        }
        dd {
            display: inline;
            float: none;
        }
        dd:after {
            content:"\A"; 
            white-space:pre;
            display:block;
            line-height: 10px;
        }
    }
}