@charset "utf-8";

.dragzone {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: no-drop;
}
.dropzone {
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: black;
    background: white;
    border: 2px dotted black;
    cursor: alias;
    padding:0px 5px 2px;
    margin:5px 0;
    text-align: center;
    &:hover {
        background: #ddd;
    }
}
.dragable {
    cursor: move;
}
.draging {
    cursor: no-drop;
    max-height: 100px;
    border: 1px dotted #aaa;
    overflow: hidden;
}
