// main:style.scss

.education_info {
    margin-top: 40px;

    .education-head {
        padding-bottom: 3px !important;
        border-bottom: 4px solid black;
        margin: 0 0 20px;
        text-transform: uppercase;

        div {
            padding-right: 0;
            padding-top: 5px;
        }

        h4 {
            font-size: 1.375em;
            font-weight: $bold;
            margin: 0;
            padding: 0;
        }

        a {
            float: right;
            color: black;

            &:hover {
                color: $blue;
            }
        }
    }

    h3.department-title {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .main {
        margin-bottom: 30px;
    }

    .department-link {
        margin-top: 15px;
        a {
            color: black;
            text-transform: uppercase;

            &:hover {
                color: $blue;
            }
        }
    }
}
