// main:style.scss

@charset "utf-8";


.top-widgets-wrapper .filter-wrapper {
    .top-widget-button-up-wrapper {
        background: #F1F6FA;
    }
}

.filter-wrapper.top-widget-wrapper {
    .top-widget-button-up-wrapper {
        background: #F1F6FA;

        .filter-headline {
            margin-top: 7px;
            margin-bottom: 0;
            float: left;
        }

        .is-xs & {
            .container {
                padding: 0 20px;
            }
        }
    }

    .top-widget-space {
        margin-bottom: 35px;
    }
}

.filter-wrapper {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .row {
        margin: 0 -15px;
    }

    .filter-headline {
        text-transform: uppercase;
        font-size: 1em;
        margin-bottom: 20px;
    }

    .filter-reset-button {
        float: right;
        margin-top: -38px;
        border: none;
        background: transparent;
        text-transform: uppercase;
        font-size: 0.875em;
        padding: 0;
        font-weight: $bold;
        color: black;
        &:hover {
            color: $blue;
        }

        .is-sm &, .is-xs & {
            margin-right: 50px;
        }
    }

    .filter-space {
        background: #F1F6FA;

        .filter {
            padding-bottom: 25px;

            .top-widget-button {
                position: relative;
                z-index: 1;

                .is-xs & {
                    right: -10px;
                }
            }

            .filter-options-wrapper {
                margin-top: 7px;
                margin-bottom: 0px;
                padding: 0 15px;

                .panel {
                    margin: 0;
                }

                .is-xs & {
                    padding: 0 10px;
                }

                .filter-options {
                    display: block;
                    .filter-option, .singleton {
                        padding: 0 15px;
                        margin-bottom: 15px;
                        color: black;
                        cursor: default;
                        display: table;

                        .is-xs & {
                            padding: 0 10px;
                        }

                        input {
                            display: none;
                        }
                        span {
                            display: block;
                            border-bottom: 2px solid black;
                            text-transform: uppercase;
                            font-size: 0.875em;
                            font-weight: $bold;
                            cursor: pointer;
                            height: 22px;

                            &:after {
                                float:right;
                                height: 22px;
                                position: absolute;
                                right: 15px;
                            }
                        }
                        &.active {
                            color: $blue;
                            &.collapsed {
                                color: black;
                                &:hover {
                                    color: $blue;
                                }
                            }
                        }
                        &.open {
                            color: $blue;
                        }
                        &:hover {
                            color: $blue;
                        }

                        a {
                            display: block;
                            border-bottom: 2px solid black;
                            text-transform: uppercase;
                            font-size: 0.875em;
                            font-weight: $bold;
                            color: black;
                            &:hover {
                                color: $blue;
                            }

                            &.active {
                                color: $blue;
                            }
                        }
                    }

                    .filter-option-wrapper {
                        position: relative;
                        padding: 0 15px;

                        .is-xs & {
                            padding: 0 10px;
                        }

                        .filter-option {
                            width: 100%;
                            padding: 0;
                        }

                        .filter-option-dropdown {
                            position: absolute;
                            left: -10px;
                            top: -21px;
                            z-index: 2;
                            min-width: 100%;
                            padding: 20px 20px 20px 20px;
                            margin: 0 0 0 5px;
                            background: #F1F6FA;
                            box-shadow: 0px 0px 5px black;
                            display: none;

                            -webkit-transition: opacity 0.2s ease-out,  min-width 0.3s ease-out;
                            transition: opacity 0.2s ease-out,  min-width 0.3s ease-out;

                            .is-xs & {
                                padding-left: 15px;
                            }

                            &.preopen {
                                display: block;
                                opacity: 0;

                                &.open {
                                    opacity: 1;
                                    min-width: 200%;

                                    .is-sm & {
                                        min-width: 110%;
                                    }

                                    .is-xs & {
                                        position: fixed;
                                        min-width: unset;
                                        max-width: unset;
                                        z-index: 9999999;
                                        left: -5px;
                                        top: 0;
                                        width: 100%;
                                        height: 100%;
                                    }
                                }
                            }

                            .delete {
                                position: absolute;
                                top: 5px;
                                right: 5px;
                                border: none;
                                margin: 0;
                                padding: 0;
                                background: transparent;
                                outline: none;

                                &:before {
                                    color: black;
                                    background: transparent;
                                    cursor: pointer;
                                }
                            }

                            .filter-option-dropdown-header {
                                display: block;
                                border-bottom: 2px solid black;
                                text-transform: uppercase;
                                font-size: 0.875em;
                                font-weight: 700;
                                color: $blue;
                                padding-bottom: 1px;
                            }

                            .filter-option-dropdown-search {
                                box-shadow: 0 0 1px black;
                                margin: 5px 0;
                            }

                            .filter-option-dropdown-scroll-wrapper {
                                .is-xs & {
                                    height: 100%;
                                    padding-bottom: 90px;
                                }
                            }

                            .filter-option-dropdown-scroll {
                                margin-top: 20px;
                                max-height: 300px;
                                overflow: auto;
                                overflow-x: hidden;
                                overflow-y: auto;

                                .is-xs & {
                                    max-height: unset;
                                    height: 100%;
                                }
                            }

                            ul {
                                list-style: none;
                                li {
                                    //white-space: nowrap;
                                    padding: 6px 0;
                                    a {
                                        color: $black;

                                        &.active {
                                            color: $blue;
                                            font-weight: 700;
                                        }

                                        &:hover {
                                            color: $blue;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .filter-selection {
                        .is-xs &:nth-child(even) {
                            .filter-option-dropdown {
                                left: inherit;
                                right: 0px;
                            }
                        }
                    }
                }

                .filter-suboptions {
                    padding: 0 15px;
                    margin-top: 10px;
                    margin-bottom: 40px;
                    font-size: 0.875em;

                    h5 {
                        color: $blue;
                        text-transform: uppercase;
                        border-bottom: 2px solid black;
                        padding-bottom: 10px;
                        margin-bottom: 6px;
                    }

                    ul {
                        list-style: none;
                        margin: 0 -10px;
                        li {
                            float: left;
                            display: block;
                            padding: 2px 10px;
                            a {
                                text-transform: uppercase;
                                color: black;
                                padding: 1px 0 2px;
                                &:hover {
                                    color: $blue;
                                }
                            }

                            &.active {
                                a {
                                    background: $blue;
                                    color: white;
                                    padding: 1px 5px 2px;
                                    &:hover {
                                        color: white;
                                    }
                                }
                            }
                            &.inactive {
                                cursor: default;
                                color: $lightgrey;
                                padding: 2px 10px;
                            }
                        }
                    }

                    &.closed {
                        display: none;
                    }
                }
            }

            .filter-search-wrapper {
                margin-top: 7px;
                padding: 0 15px;
            }

            .filter-set-wrapper {
                margin-top: 7px;
                padding: 0 15px;

                .is-xs & {
                    padding: 0 5px;
                }

                .filter-set {
                    list-style: none;
                    font-size: 0.875em;
                    text-transform: uppercase;
                    display: block;
                    overflow: hidden;
                    margin-top: -15px;
                    margin-bottom: 10px;

                    li {
                        float: left;
                        margin-right: 10px;
                        display: inline-block;

                        a {
                            color: black;
                            background: white;
                            box-shadow: 0px 0px 0px 1px black inset;
                            line-height: 18px;
                            height: 17px;
                            display: inline-block;
                            padding-left: 3px;
                            &:hover {
                                color: $blue;
                            }
                        }

                        /*&:first-child {
                            font-weight: $bold;
                            color: black;
                        }*/
                    }
                }
            }
        }

    }
}

body.filter-option-dropdown-open.is-xs {
    overflow: hidden;
}
