@font-face {
    font-family: 'Webfont';
    src: url('../fonts/web/Web-Regular-webfont.eot');
    src: url('../fonts/web/Web-Regular-webfont.eot') format('embedded-opentype'), url('../fonts/web/Web-Regular-webfont.woff2') format('woff2'), url('../fonts/web/Web-Regular-webfont.woff') format('woff'), url('../fonts/web/Web-Regular-webfont.ttf') format('truetype'), url('../fonts/web/Web-Regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Webfont';
    src: url('../fonts/web/Web-RegularItalic-webfont.eot');
    src: url('../fonts/web/Web-RegularItalic-webfont.eot') format('embedded-opentype'), url('../fonts/web/Web-RegularItalic-webfont.woff2') format('woff2'), url('../fonts/web/Web-RegularItalic-webfont.woff') format('woff'), url('../fonts/web/Web-RegularItalic-webfont.ttf') format('truetype'), url('../fonts/web/Web-RegularItalic-webfont.svg') format('svg');
    font-weight: normal;
    font-style: italic;
}@font-face {
    font-family: 'Webfont';
    src: url('../fonts/web/Web-Regular-webfont.eot');
    src: url('../fonts/web/Web-Regular-webfont.eot') format('embedded-opentype'), url('../fonts/web/Web-Regular-webfont.woff2') format('woff2'), url('../fonts/web/Web-Regular-webfont.woff') format('woff'), url('../fonts/web/Web-Regular-webfont.ttf') format('truetype'), url('../fonts/web/Web-Regular-webfont.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Webfont';
    src: url('../fonts/web/Web-RegularItalic-webfont.eot');
    src: url('../fonts/web/Web-RegularItalic-webfont.eot') format('embedded-opentype'), url('../fonts/web/Web-RegularItalic-webfont.woff2') format('woff2'), url('../fonts/web/Web-RegularItalic-webfont.woff') format('woff'), url('../fonts/web/Web-RegularItalic-webfont.ttf') format('truetype'), url('../fonts/web/Web-RegularItalic-webfont.svg') format('svg');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Webfont';
    src: url('../fonts/web/Web-Bold-webfont.eot');
    src: url('../fonts/web/Web-Bold-webfont.eot') format('embedded-opentype'), url('../fonts/web/Web-Bold-webfont.woff2') format('woff2'), url('../fonts/web/Web-Bold-webfont.woff') format('woff'), url('../fonts/web/Web-Bold-webfont.ttf') format('truetype'), url('../fonts/web/Web-Bold-webfont.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Webfont';
    src: url('../fonts/web/Web-BoldItalic-webfont.eot');
    src: url('../fonts/web/Web-BoldItalic-webfont.eot') format('embedded-opentype'), url('../fonts/web/Web-BoldItalic-webfont.woff2') format('woff2'), url('../fonts/web/Web-BoldItalic-webfont.woff') format('woff'), url('../fonts/web/Web-BoldItalic-webfont.ttf') format('truetype'), url('../fonts/web/Web-BoldItalic-webfont.svg') format('svg');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Webfont';
    src: url('../fonts/web/Web-Bold-webfont.eot');
    src: url('../fonts/web/Web-Bold-webfont.eot') format('embedded-opentype'), url('../fonts/web/Web-Bold-webfont.woff2') format('woff2'), url('../fonts/web/Web-Bold-webfont.woff') format('woff'), url('../fonts/web/Web-Bold-webfont.ttf') format('truetype'), url('../fonts/web/Web-Bold-webfont.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Webfont';
    src: url('../fonts/web/Web-BoldItalic-webfont.eot');
    src: url('../fonts/web/Web-BoldItalic-webfont.eot') format('embedded-opentype'), url('../fonts/web/Web-BoldItalic-webfont.woff2') format('woff2'), url('../fonts/web/Web-BoldItalic-webfont.woff') format('woff'), url('../fonts/web/Web-BoldItalic-webfont.ttf') format('truetype'), url('../fonts/web/Web-BoldItalic-webfont.svg') format('svg');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Webfont';
    src: url('../fonts/web/Web-Thin-webfont.eot');
    src: url('../fonts/web/Web-Thin-webfont.eot') format('embedded-opentype'), url('../fonts/web/Web-Thin-webfont.woff2') format('woff2'), url('../fonts/web/Web-Thin-webfont.woff') format('woff'), url('../fonts/web/Web-Thin-webfont.ttf') format('truetype'), url('../fonts/web/Web-Thin-webfont.svg') format('svg');
    font-weight: light;
    font-style: normal;
}
@font-face {
    font-family: 'Webfont';
    src: url('../fonts/web/Web-ThinItalic-webfont.eot');
    src: url('../fonts/web/Web-ThinItalic-webfont.eot') format('embedded-opentype'), url('../fonts/web/Web-ThinItalic-webfont.woff2') format('woff2'), url('../fonts/web/Web-ThinItalic-webfont.woff') format('woff'), url('../fonts/web/Web-ThinItalic-webfont.ttf') format('truetype'), url('../fonts/web/Web-ThinItalic-webfont.svg') format('svg');
    font-weight: light;
    font-style: italic;
}
@font-face {
    font-family: 'Webfont';
    src: url('../fonts/web/Web-Thin-webfont.eot');
    src: url('../fonts/web/Web-Thin-webfont.eot') format('embedded-opentype'), url('../fonts/web/Web-Thin-webfont.woff2') format('woff2'), url('../fonts/web/Web-Thin-webfont.woff') format('woff'), url('../fonts/web/Web-Thin-webfont.ttf') format('truetype'), url('../fonts/web/Web-Thin-webfont.svg') format('svg');
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: 'Webfont';
    src: url('../fonts/web/Web-ThinItalic-webfont.eot');
    src: url('../fonts/web/Web-ThinItalic-webfont.eot') format('embedded-opentype'), url('../fonts/web/Web-ThinItalic-webfont.woff2') format('woff2'), url('../fonts/web/Web-ThinItalic-webfont.woff') format('woff'), url('../fonts/web/Web-ThinItalic-webfont.ttf') format('truetype'), url('../fonts/web/Web-ThinItalic-webfont.svg') format('svg');
    font-weight: lighter;
    font-style: italic;
}
@font-face {
    font-family: 'Webfont';
    src: url('../fonts/web/Web-Thin-webfont.eot');
    src: url('../fonts/web/Web-Thin-webfont.eot') format('embedded-opentype'), url('../fonts/web/Web-Thin-webfont.woff2') format('woff2'), url('../fonts/web/Web-Thin-webfont.woff') format('woff'), url('../fonts/web/Web-Thin-webfont.ttf') format('truetype'), url('../fonts/web/Web-Thin-webfont.svg') format('svg');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Webfont';
    src: url('../fonts/web/Web-ThinItalic-webfont.eot');
    src: url('../fonts/web/Web-ThinItalic-webfont.eot') format('embedded-opentype'), url('../fonts/web/Web-ThinItalic-webfont.woff2') format('woff2'), url('../fonts/web/Web-ThinItalic-webfont.woff') format('woff'), url('../fonts/web/Web-ThinItalic-webfont.ttf') format('truetype'), url('../fonts/web/Web-ThinItalic-webfont.svg') format('svg');
    font-weight: 200;
    font-style: italic;
}


@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.3.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.fawesome:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-right: 10px;
    vertical-align: bottom;
}


.fawesome.back {
    line-height: 1.375em;
    &:before {
        content: "\f104";
        font-size: 1.375em;
    }
}
.fawesome.up {
    line-height: 1.375em;
    &:before {
        content: "\f106";
        font-size: 1.375em;
    }
}
.fawesome.down {
    line-height: 1.375em;
    &:before {
        content: "\f107";
        font-size: 1.375em;
    }
}
.fawesome.tickets {
    line-height: 1.375em;
    &:before {
        content: "\f02c";
        font-size: 1.375em;
    }
}