@charset "utf-8";

#wrapper {
  min-height:100%;
  position:relative;
}

#body {
    padding-bottom:170px;   /* Height of the footer */
}

#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:170px;   /* Height of the footer */
    background: black;
    color: white;
    
    div.content {
        background: black;
    }
    
    .row {
        margin-left: 5px;
        margin-right: 5px;
    }
    
    div.row > div {
        margin-bottom: 20px;
        padding-left: 5px;
        padding-right: 5px;
        .is-lg & {
            &.col-lg-1 {
                width: 11%;
            }
            &.col-lg-2 {
                width: 13%;
            }
            &.col-lg-3 {
                width: 23%;
            }
            &.col-lg-5 {
                width: 53%;
            }
        }
        .is-md & {
            &.col-md-1 {
                width: 11%;
            }
            &.col-md-2 {
                width: 12.5%;
            }
            &.col-md-3 {
                width: 18.5%;
            }
            &.col-md-5 {
                width: 58%;
            }
        }
    }
    
    h3 {
        text-transform: uppercase;
        margin-bottom: 20px !important;
        font-size: 1em;
    }
    
    p {
        height: 24px;
        margin: 0 0 17px !important;
        font-size: 0.7em;
        line-height: 1.1em;
        .is-xs & {
            height: auto;
        }
    }
    
    #footer-sponsors {
        .is-sm &, .is-xs & {
            p {
                height: auto;
            }
        }
    }
    
    #berlin-logo {
        height: 70px;
        width: auto;
        .is-xs & {
            height: auto;
            width: 100%;
            max-width: 302px;
        }
    }
    
    a:last-child img {
        margin-right: 0;
    }
    
    ul {
        list-style: none;
        li {
            margin-bottom: 6px;
        }
        
        &.social_links {
            li {
                display: inline-block;
                margin-right: 3px;
            }
        }
    }
    
    a {
        color: white;
        opacity: 0.7;
        font-weight: $regular;
        &:hover, &.full-white {
            opacity: 1;
        }
    }
    
    .white-bg {
        display: inline-block;
        background: white;
    }
}
