@charset "UTF-8";

@import 'variables';

select {
  width: 100%;
  border: none;
  background-color: $lightgrey_3;
  padding-left: 10px;
  // line-height: 10px;

  font-size: 22px !important;
  line-height: 32px !important;

  box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
  -webkit-user-select: none;
  border-radius: 0px;
  box-shadow: none;

  cursor: pointer;

  background-image: url("../img/icons/triangle_down.png");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;

  &:focus {
    box-shadow: inset 0 0 0 4px $lightgrey_3;
    outline: 0;
  }

  height: 40px;

  &[multiple] {
    height: 185px;
    line-height: 80px;
    -webkit-padding-end: 10px;
    -webkit-padding-start: 10px;
    background-image: none;
  }
}

.sbHolder{
  background-color: $lightgrey_3;
  border: none;
  font-family: inherit;
  font-size: 18px !important;
  line-height: 22px !important;
  color: rgba(0,0,0,0.75) !important;

  height: 40px;
  position: relative;
  width: 100%;
  &:hover {background-color: rgba(0,0,0,0.075); }
}
.sbHolder:focus {
  box-shadow: inset 0 0 0 4px $lightgrey_3 !important;
    border: 1px solid green;
}

.sbSelector{
  display: block;
  height: 100%;
  left: 0;
  line-height: 40px;
  outline: none;
  overflow: hidden;
  position: absolute;
  text-indent: 10px;
  top: 0;
  width: 100%;
}

.sbSelector:link, .sbSelector:visited, .sbSelector:hover{
  color: rgba(0,0,0,0.75) !important;
  outline: none;
  text-decoration: none;
}
.sbToggle{
  background-image: url("../img/icons/triangle_down.png");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  display: block;
  height: 40px;
  outline: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  background-color: $lightgrey_2;
  opacity: 0.35;
}
.sbToggle:hover{
}
.sbToggleOpen{
}
.sbToggleOpen:hover{
}
.sbHolderDisabled{
  background-color: $darkgrey;
  border: solid 1px $grey;
}
.sbHolderDisabled .sbHolder{
  
}
.sbHolderDisabled .sbToggle{
  
}
.sbOptions{
  background-color: white;
  border: none;
  list-style: none;
  left: 0px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 40px;
  width: 100%;
  z-index: 1;
  overflow-y: auto;
  z-index: 20000;
}
.sbOptions li{
  padding: 0;
}
.sbOptions a{
  border-bottom: solid 1px rgba(0,0,0,0.025);
  display: block;
  outline: none;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.sbOptions a:link, .sbOptions a:visited{
  color: rgba(0,0,0,0.5);
  text-decoration: none;
  background-color: $lightgrey_2;
}
.sbOptions a:hover,
.sbOptions a:focus,
.sbOptions a.sbFocus{
  color: black;
  background-color: rgba(0,0,0,0.15);
}

.sbOptions li.last a{
  border-bottom: none;
}
.sbOptions .sbDisabled{
  border-bottom: dotted 1px $grey;
  color: #999;
  display: block;
  padding: 7px 0 7px 3px;
}
.sbOptions .sbGroup{
  border-bottom: dotted 1px $grey;
  color: #EBB52D;
  display: block;
  font-weight: bold;
  padding: 7px 0 7px 3px;
}
.sbOptions .sbSub{
  padding-left: 17px;
}

.btn {
  &:first-letter {
    text-transform: none;
  }
}

// .btn, 
// input[type=submit], 
// input[type=reset], 
// button {
//   white-space: nowrap;
//   display: inline-block;
//   border-radius: 0 !important;
//   border: none !important;
//   text-shadow: none;
//   font-size: 22px;
//   line-height: 18px;
//   color: black;
//   padding: 18px;
//   background-color: $lightgrey_3;
//   background-image: none;
//   background-repeat: no-repeat;
//   background-position: center !important;
//   text-shadow: none !important;
//   background-color: black !important;
//   color: white !important;
//   font-family: inherit !important;
//   box-shadow: none !important;
//   box-sizing: border-box;
//   -moz-box-sizing: border-box;
  
//   &:hover {box-shadow: none; } 

//   &[name="cancel"],
//   &[name="reset"] { 
//     float: left; 
//     margin: 0px !important;
//     background-color: $lightgrey_3 !important;
//     color: black !important;
//   }

//   &.right { float: right; margin: 0px !important;}
//   &.full {  width: 100%; margin: 0px !important;}


//   &.btn-primary { background-color: $blue !important; color: white !important;}
//   &.btn-warning { background-color: $red !important; color: white !important;}
//   &.btn-danger  { background-color: $red !important; color: white !important;}
//   &.btn-success { background-color: $green !important; color: white !important;}
//   &.btn-info    { background-color: $yellow !important; color: white !important;}
//   &.btn-inverse { background-color: white !important; color: black !important;}
    
//   &.btn-link {
//     color: #0088cc;
//     cursor: pointer !important;
//     background-color: $lightgrey_3 !important;
//     border-color: transparent !important;
//     color: rgba(0,0,0,0.15) !important;

//     &:hover {
//       text-decoration: none !important;
//       background-color: transparent;
//       cursor: default !important;
//     }
//   }

//   &.btn-small {
//     font-size: 16px;
//     line-height: 16px;
//     padding: 10px;
//     white-space: nowrap;
//   }

//   &:active {
//     background-color: $lightgrey_3 !important;
//     color: black !important;
//     opacity: 0.75;
//   }
//   &.icon {
//     width: 40px !important;
//     height: 40px !important;
//   }
// }

input[type=radio] {}
input[type=checkbox] {}
input[type=range] {
  -webkit-appearance:none;
  -moz-apperance:none;
}
​
input::-webkit-slider-thumb {
  -webkit-appearance:none;
  -moz-apperance:none;
}

.control-group.error label {
  color: $red !important;
}

.help-block {
  font-size: 14px;
  line-height: 20px;
  margin-top: 5px;
}

.error {
  color: $red;
  input,
  select,
  textarea,
  input[type=text], 
  input[type=email], 
  input[type=password],
  input[type=search] {
    box-shadow: inset 0 0 0 0px rgba(255,0,0,0.1) !important;
    background-color: rgba(255,0,0,0.1) !important; 
    color: $red !important;
    
    &:hover { background-color: rgba(255,0,0,0.15) !important; }
    &:focus { box-shadow: inset 0 0 0 4px rgba(255,0,0,0.1) !important; }

    &::-webkit-input-placeholder { color: $red !important; }
    &:-moz-placeholder { color: $red !important;}
    &:-ms-input-placeholder { color: $red !important;}
  }

  .control-group label {
    // background-color: rgba(255,0,0,0.1) !important; 
    color: $red !important;
  }

  .help-block,
  .help-inline {
    padding: 0px;
    font-size: 14px;
    line-height: 20px;
    margin-top: 0px;
    white-space: nowrap;
    display: block !important;
    position: absolute;
    top: 0px;
    right: 0px;
    color: $red !important;
    &#error_1_id_media_file {
      top: 20px;
    }
  }

  label,
  .help-block,
  .help-inline {
    color: #b94a48;
  }
}

.textarea,
textarea,
input[type=text], 
input[type=email], 
input[type=password], 
input[type=search] {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

input[type=text], 
input[type=email], 
input[type=password], 
input[type=search] {
  box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  width: 100% !important;
  border: none;
  background-color: $lightgrey_3;
  border-radius: 0px;
  box-shadow: none;
  padding: 10px;
  height: 40px;
  font-size: 18px;
  line-height: 22px;
  color: rgba(0,0,0,0.75);

  &::-webkit-input-placeholder { color: rgba(0,0,0,0.4); }
  &:-moz-placeholder { color: rgba(0,0,0,0.4);}
  &:-ms-input-placeholder { color: rgba(0,0,0,0.4);}

  &:focus {
    &::-webkit-input-placeholder { color: inherit; }
    &:-moz-placeholder { color: inherit; }
    &:-ms-input-placeholder {color: inherit; }

    box-shadow: inset 0 0 0 4px $lightgrey_3;
  }
}


input[type=checkbox]:focus, input[type=radio]:focus {
    box-shadow: none;
}

#id_free_entrance {
    margin-top: 0;
}

#id_description_de_tbl,
#id_description_en_tbl { margin-bottom: 20px !important;}

.select,
.textarea,
textarea,
input {
  margin-bottom: 0px !important;
  
  &::-webkit-input-placeholder { color: rgba(0,0,0,0.125); }
  &:-moz-placeholder { color: rgba(0,0,0,0.125);}
  &:-ms-input-placeholder { color: rgba(0,0,0,0.125);}

  &:focus {
    &::-webkit-input-placeholder { color: inherit; }
    &:-moz-placeholder { color: inherit; }
    &:-ms-input-placeholder {color: inherit; }
    box-shadow: inset 0 0 0 4px $lightgrey_3;
  }
  &:hover {
    background-color: rgba(0,0,0,0.075);
  }
}

input[type=file] {
}

.textarea,
textarea {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  min-height: 100px;
  border: none;
  background-color: $lightgrey_3;
  border-radius: 0px;
  box-shadow: none;
  padding: 10px !important;
  height: 40px;
  font-family: inherit !important;
  font-size: 18px !important;
  line-height: 22px !important;
  resize: none;
  overflow-x: hidden;
  overflow-y: auto;
  color: rgba(0,0,0,0.75);
}


form { 
  width: 100%;
a
  
  & *::-webkit-scrollbar-corner,
  & *::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    opacity: 0.5;
    background-color: $lightgrey_3;
  }

  & *::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: black;
    background-color: rgba(0,0,0,0.5);
  }

  .control-group {
    margin: 0px;
    padding: 0px;
    position: relative !important;
  }

  .form-row {
    margin: 0px;
    padding: 0px;
  }

  fieldset { 
    border-bottom: 1px solid $lightgrey_3; 
    padding-bottom: 30px;
    margin-bottom: 30px;
    display: block;
    position: relative;
    
    fieldset { 
      .form-row,
      .form-row > div > div,
      > div {
        margin-bottom: 5px !important;
        &:last-child { margin-bottom: 0px !important; }
      }

      .form-row:nth-of-type(1) { margin-bottom: 0px !important; }
    }

    &.multilingual { 
      width: 49%;
      float: left;

      &.lang-de {margin-right: 2%; }
      &.lang-en {}
    }

    .form-row,
    .form-row > div > div,
    > div {
      margin-bottom: 20px !important;
      &:last-child { margin-bottom: 0px !important; }
    }
.div_organizer {margin-bottom: 20px !important; }
 
    h2 { 
      border: none;
      display: block;
      height: 30px;
      padding-top: 0px !important;
      padding-bottom: 30px !important;
      font-size: 28px;
      color: black;
      margin: 0px;
      margin-top: 40px;
    }

    p { 
      padding: 0px;
      margin: 0px;
      color: rgba(0,0,0,0.8);
      position: relative;
      margin-bottom: 20px;
    }

    legend {
      border: none;
      display: block;
      height: 30px;
      padding-top: 25px !important;
      //padding-bottom: 25px !important;
      font-size: 28px;
      color: black;
      margin: 0px;
      margin-left: -1px;
      position: static;
    }

    label { 
      color: rgba(0,0,0,0.8);
      position: relative;
      margin-bottom: 5px;
      margin-top: 0px;

      .lang {
        font-size: 10px;
        font-weight: $bold;
        margin-right: 5px;
      }
      
    }

    .formset-form {
      position: relative;

      &:first-child{ 
        .form-row { label { display: block !important; }}
      }

      // label { display: none;}

      .form-row {
        border-collapse: separate;
        border-right: 60px solid transparent !important;

        input { margin: 0px !important;}
        // > div { padding-bottom: 20px !important;}
      }

      > .control-group { 
        position: absolute;
        bottom: 0px;
        right: 0px;
        margin-bottom: 25px !important;

        button { 
          height: 40px;
          width: 40px;
          margin-left: 5px;
          text-indent: 1000px;
        }
      }
    }
  }

  table { 
    border-collapse: collapse !important;
    width: 100% !important;
    
    th { 
      font-size: 14px;
      font-weight: normal;
      line-height: 20px;
      color: rgba(0,0,0,0.5);
      position: relative;

      div {
        position: absolute;
        right: 0;
        top: 0;
      }

      &:first-child { 
        width: 1px;
      }
    }

    td {
      border-bottom: 5px solid white;
    }

    th, td { 
      border-right: 20px solid white;
      border-left: none;
      border-top: none;
      width: auto !important;

      &:last-child { 
        border-right: 0px solid white;
      }

      &:first-child{
        label { 
        }
      }

      div, input { 
        margin-bottom: 0 !important;
      }
    }
  }
} 

.form-row { 
  width: 100%;
  clear: both;
  table-layout: fixed;
  display: table;
  padding: 0 !important;
  margin-left: 0;
  margin-bottom: 0px;
  border-collapse: collapse;

  fieldset { 
    border: none;
    padding: 0px;
    margin: 0px;
    margin-top: 30px !important;

    legend {
      border-top: 1px solid $lightgrey_3 !important; 
      padding-top: 30px !important;
    }
  }

  label { white-space: nowrap;

      a:link, a:visited { text-decoration: none; color: $blue;}
  }

  // &:last-child{
  //   textarea, input { margin: 0px !important;}
  // }

  &.flex { 
    table-layout: auto !important;

    &.merge {
      .inline { white-space: nowrap;
        > div:last-child{ margin-right: 1px; } 
      }
      > div{ border-right: 4px solid white; } 
    }
    > div{ 
      min-width: 40px !important;
      width: 33% !important;
      &.max { width: 100% !important;}
      &.min { width: 0% !important;}
      button {
        position: absolute;
        right: 0px;
        bottom: 0px;
        background-color: $lightgrey_2 !important;
      }
    }
  }
  
  &.cols-1 > div { width: 100%; }
  &.cols-2 > div { width: 50%; }
  &.cols-3 > div { width: 33.33333%; }
  &.cols-4 > div { width: 25%; }
  &.cols-7 > div { width: 14.25%; }

  > div{ 
    display: table-cell;
    border-right: 20px solid white;
    vertical-align: top;
    position: relative;

    .form-row {
       > div{ 
          border-right: 2px solid white;

          &.has_weekday {
            font-size: 0px;
            line-height: 0px;
            white-space: nowrap;
            > div { 
              float: left;
              margin-left: 2px; 
              margin-right: -1px; 
              width: 201px;}
          }
       }
       .weekday {
        font-size: 18px;
        line-height: 40px;
        width: 40px;
        height: 40px;
        text-align: center;
        color: rgba(0,0,0,0.5);
        background-color: $lightgrey_3;
        overflow: hidden;
        float: left;
        display: block;
       }
    }

    &.closed {
      width: 40px !important;
      position: absolute;
      right: 0px;
      border-left: 2px solid white;
      display: none;

      > div {
        background-color: $lightgrey_2;
        height: 40px;
        overflow: hidden;
      }
    }

    &:last-child { 
      border-right: 0px solid white;

    }
  }
}

.form-steps { 
  
  li { 
    display: inline-block; 
    background-color: rgba(0,0,0,0.0); 
    
    &.active{
      a { 
        color: black;
        background-color: $lightgrey_3; 
      }
    }

    span,
    a { 
      padding-right: 10px;
      padding-left: 10px;
      font-size: 16px;
      line-height: 40px;
      display: inline-block;
      color: rgba(0,0,0,0.5);
    } 

    a { 
      &:hover { 
        color: black;
      }
    }
  } 
} 

label.checkbox,
label.radio { 
  background-color: $lightgrey_3;
  position: relative;
  padding: 0px 15px 0px 30px !important;
  line-height: 40px;
  height: 40px !important;
  box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  min-height: auto;
  vertical-align: baseline;
  display: inline-block;
  margin-right: 5px;
  &:hover {background-color: rgba(0,0,0,0.075); cursor: pointer; }

  input[type="radio"], 
  input[type="checkbox"] {
    margin: 0px !important;
    display: inline-block;
    margin-right: 5px !important;
    top: 50%;
    left: 0px;
    margin-left: 10px !important;
    margin-top: -6px !important;
    position: absolute;
  }
}

.inline {
  display: block;
  font-size: 0px;

  > div {
    display: inline-block;
    white-space: nowrap;
    box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    margin: 0px;
    padding: 0px;
    margin-right: 5px;
    position: relative;

    label { 
      position: relative;
      padding-right: 10px !important;
      background-color: $lightgrey_3;
      line-height: 40px;
      height: 40px !important;
      display: inline-block !important;
      min-height: auto;
      box-sizing: border-box !important;
      -moz-box-sizing: border-box !important;

      &:hover {background-color: rgba(0,0,0,0.075); cursor: pointer; }

      &.checkbox,
      &.radio { padding-left: 30px !important;}

      &.radio input[type="radio"], &.checkbox input[type="checkbox"] {
        margin: 0px !important;
        display: inline-block;
        margin-right: 5px !important;
        top: 50%;
        left: 0px !important;
        margin-left: 10px !important;
        margin-top: -6px !important;
        position: absolute;
      }
    }
  }
}

.tree {
  li ul li  {
    display: inline-block;
    margin-right: 4px;
    label {background-color: rgba(0,0,0,0.025); }
  }
  label { 
    position: relative;
    padding: 0px !important;
    padding-left: 30px !important;
    padding-right: 10px !important;
    line-height: 40px;
    height: 40px !important;
    box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    min-height: auto;
    &:hover {cursor: pointer; }

    input[type="radio"], 
    input[type="checkbox"] {
      margin: 0px !important;
      display: inline-block;
      margin-right: 5px !important;
      top: 50%;
      left: 0px;
      margin-left: 10px !important;
      margin-top: -6px !important;
      position: absolute;
    }
  }
}

.form-actions { 
  display: block; width: 100%;
  box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  float: left;
  clear: left;
  text-align: left;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  padding-bottom: 30px;
  font-size: 0px;
  .btn, 
  button {
    margin-left: 4px;
    &:last-child { margin: 0px;}
    float: left;
  }
  .btn-primary {
    float: right;
  }
}


.input-append,
.input-prepend {
  margin-bottom: 0px;

  .pick-date {background-image: url("../img/icons/calendar.png") !important; }
  .pick-time {background-image: url("../img/icons/clock.png") !important; }

  .pick-date,
  .pick-time {
    overflow: hidden !important;
    position: absolute;
    right: 0px;
    padding: 0px;
    margin: 0px;
    height: 40px;
    width: 40px;
    color: transparent;
    background-color: transparent !important;
    opacity: 0.35;
    border-radius: 0px;
    text-indent: 100px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
    background-color: $lightgrey_2 !important;

    &:hover { opacity: 0.5;
      background-color: rgba(0,0,0,0.15) !important;
    }
  }
}


.fieldset-contact-person,
.fieldset-other-contact-info {
  > .form-row {

    &:nth-child(4) {
      label { display: none;}
    }

    > div {
      .form-row {
        > div {
           &:nth-child(1) {
            label { display: block !important;}
          }
          &:nth-child(1) { width: 25% !important; }
          &:nth-child(2) { width: 20% !important;}
          &:nth-child(3) { width: 20% !important;}
          &:nth-child(4) { width: 35% !important;}

          &:nth-child(1) { 
            label { 
              &.with {margin-top: 25px !important; }
              bottom: 0px;
              margin-bottom: 0 !important;
              left: 0px;
              font-size: 14px;
              line-height: 40px;
              width: 100%;
              height: 40px;
              text-align: left;
              text-indent: 10px;
              color: rgba(0,0,0,0.5);
              background-color: $lightgrey_3;
            } 
          }
          

          &:nth-child(2n),
          &:nth-child(3n),
          &:nth-child(4n) {
          }
        }
      }
    }
  }
}


div.tagsinput { 
  background: #FFF; 
  width:100%; 
  font-size: 0px;
  line-height: 0px;
  color: rgba(0,0,0,0.8);

  span.tag { 
    display: block;
    float: left;
    height: 40px;
    line-height: 40px;
    background-color: $lightgrey_3;
    color: inherit;
    margin-bottom: 5px;
    margin-right: 5px;
    white-space: nowrap;
    font-size: 14px;
    line-height: 0px;
    position: relative !important;

    &:hover { background-color: rgba(0,0,0,0.075); }

    span,
    a {
      height: 40px;
      line-height: 40px;
      font-size: 14px;
      display: inline-block;
      box-sizing: border-box !important;
      -moz-box-sizing: border-box !important;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    span {
      padding-left: 10px;
      padding-right: 28px;
    }

    a {
      overflow: hidden;
      text-indent: 1000px;
      background-image: url("../img/icons/cancel.png");
      background-size: 32px;
      background-position: right;
      background-repeat: no-repeat;
      opacity: 0.3;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      box-sizing: border-box !important;
      -moz-box-sizing: border-box !important;
      &:hover { opacity: 1; }
    }

  }
  input { 
    background-color: $lightgrey_3;
    outline:0px;  
    border: 0;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px !important;
    width: 100px;
    width: 100%;
    box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    &:hover { background-color: rgba(0,0,0,0.075); }
  }
  
  // div { display:block; float: left; } 
}

.tags_clear { clear: both; width: 100%; height: 0px; }
.not_valid {background: #FBD8DB !important; color: #90111A !important;}

/*#div_id_location .controls {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 250px;
}*/

#search_form {
  padding: 0px !important;
  margin: 0px !important;
  border: none !important;

  #div_id_q > label,
  #div_id_models > label {
    display: none !important;
  }

  #id_q {
    display: inline-block !important;
    font-size: 22px !important;
    line-height: 18px !important;
    padding: 18px !important;
    height: 54px !important;
    box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
  }
  
  #btn-group {
      
  }
}

#mini_search {
  position: relative;

  #mini_search_input {
    height: 32px !important;
    font-size: 14px !important;
    line-height: 32px !important;
    font-weight: 300 !important;
    color: black !important;
    width: 140px !important;
    padding: 0px !important;
    text-indent: 10px !important;
    display: block !important;
    margin-right: 34px !important;

    &::-webkit-input-placeholder { color: rgba(0,0,0,0.5); }
    &:-moz-placeholder { color: rgba(0,0,0,0.5);}
    &:-ms-input-placeholder { color: rgba(0,0,0,0.5);}
  }

  #mini_search_submit {
    display: block !important;
    height: 32px !important;
    width: 32px !important;
    margin: 0px !important;
    padding: 0px !important;
    border: none !important;
    position: absolute;
    right: 0px;
    top: 0px;

    background-image: url("../img/icons/search.png");
    background-size: 32px;
    background-position: right;
    background-repeat: no-repeat;
    background-color: $lightgrey_3 !important;
    &:hover {
      background-color: black !important;
      background-image: url("../img/icons/inv/search.png");
    }
  }
}
#image_preview {
  margin-top: 32px;
}

.map_canvas {
  height: 300px;
}

#button-id-crop-photo{
  margin-top: 15px;
}
#videos, #streamings, #photos, #pdfs {
  margin-left: -5px;
  margin-right: -5px;
  overflow: auto;

  > div {
    width: 20%;
    float: left;
    padding: 5px;
    a {
      img {
        width: 100%;
      }
    }
  }
  .ui-state-highlight {
    width: 20%;
    background-image: url("../img/trns-1.png") !important;
      -moz-background-clip: content;     /* Firefox 3.6 */
      -webkit-background-clip: content;  /* Safari 4? Chrome 6? */
      background-clip: content-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

  }
}
#workshop_times {
  .formset-form {
    &:first-child {
      label { display: block;}
    }
    label { display: none;}
  }
}

#workshop_times,
#batch_workshop_time {
  .form-group {margin-bottom: 0px; }
}
.tagsinput {
  .btn {
    margin-right: 2px;
    margin-bottom: 2px;
  }
}
.fieldset-meta {
  position: absolute;
  top: 25px;
  right: 35px;
  > * {
    float: left;
    margin-left: 4px;
  }
}

.dashboard-content {
  .fieldset-imagegallery {
    .fieldset-meta {
      position:static;
      top:0;
      right:0;
      > * {
        float:none;
        margin-left:0px;
        margin-right:4px;
        max-width:300px;
      }
    }
    #photos {
      width:100%;
    }
  }
  .fieldset-pdf {
    .info {
        margin: 0;    
    }
  }
  .alert {
    &.alert-error {
        color: $bootstrap_red;   
        font-weight: $bold;
    }
  }
  p[id*="error"].help-block strong {
    color: $bootstrap_red;   
  }
  .video {
    .info {
        margin-left:0;
        margin-right:0;
    }
  }
}

#form-meta {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 100;
  > * {
    float: left;
    margin-left: 4px;
  }

  #form_languages {
    width: 150px;
  }

  #pub-status {
    width: 150px;
  }
}

.no-legend {
  margin-bottom: 15px;
  .form-group {
    margin-bottom: 1px;
  }
}

.dashboard-header { padding-top: 35px;}
.dashboard-content {
  background-color: #f5f5f5;
  > .messages {
    padding-top: 25px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 25px;
    border-bottom: 4px solid #fff;
    *{margin: 0px; }
  }

  fieldset {
    padding-top: 50px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 25px;
    margin: 0px;
    background-color: #f5f5f5;
    border-bottom: 4px solid #fff;
    &.no-legend{
      padding-top: 0px;
      margin-top: 12px;
    }

    fieldset {
      padding: 0px !important;
      padding-top: 75px !important;
      padding-bottom: 25px !important;
      margin: 0px !important;
      border: none !important;
    }
  }
  .form-actions {
    padding: 25px 35px;
  }

  .form-actions:last-child {
    background-color: white;
    padding: 0px;
    padding-top: 25px;
    margin-bottom: 20px;
    .btn-primary {
      float: right;
    }
  }
}

.checkbox-group {
  margin-bottom: 15px;
  > .form-group {
    margin-bottom: 2px;
  }
  .level-1 .checkbox {
    padding-left: 80px;
  }

}

.checkbox-inline-group {
  > label {
    display: block;
    margin-top: 15px;
  }
  .form-group {
    display: inline-block; margin-right: 2px;
  }
}


.form-control:-moz-placeholder {
  color: #999999;
}
.form-control::-moz-placeholder {
  color: #999999;
}
.form-control:-ms-input-placeholder {
  color: #999999;
}
.form-control::-webkit-input-placeholder {
  color: #999999;
}
.form-control {
  display: block;
  width: 100%;
  min-height: 50px;
  padding: 10px 12px;
  font-size: 18px;
  line-height: 30px;
  color: black;
  vertical-align: middle;
  background-color: transparent;
  border-radius: 0px;
  border: 2px solid #f5f5f5;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  background-image: url("../img/trns-1.png");
}

.from-production .form-control {
  color: #aaa;
}

textarea.form-control {resize: vertical; }

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}


select {
  visibility: hidden;
}
.dashboard .container {
  max-width: 940px;
  min-width: 940px;
  width: 940px;
}
.dashboard-table {
  width: 100%;
  margin-bottom: 10px;
  // margin-top: -20px;
  .item a{
    display: block;
  }
  tr {
      &:hover td{
        background-color: #f0f0f0;
      }
    td , th {
      padding: 5px;
      &:first-child   { padding-left: 10px;}
      &:last-child    { text-align: right;}
    }
    th small{
      font-size: 0.875em;
      text-transform: uppercase;
      font-weight: $regular;
      color: rgba(0,0,0,0.75) !important;
    }
    td {
      &:nth-child(2n),
      &:nth-child(3n),
      &:nth-child(4n) {
        width: 1%;
        white-space: nowrap;
      }
      border: none;
      border-bottom: 2px solid transparent;
      vertical-align: top;
      vertical-align: middle;

      color: rgba(0,0,0,0.75) !important;
      // background-color: $lightgrey_3;

      -moz-background-clip: padding;     /* Firefox 3.6 */
      -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
      background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
      background-image: url("../img/trns-1.png");

      .status {
        margin-bottom: -2px;
        height: 24px;
        width: 115px;
        display: block;
        .sbToggle {
          height: 24px;
          width: 24px;
          background-color: rgba(0,0,0,0);
          opacity: 0.25;
          &.sbToggleOpen{
            opacity: 0.5;
            background-color: rgba(0,0,0,0.15);
          }
        }
        .sbHolder{
          background-color: rgba(0,0,0,0.025);
          border: none;
          font-family: inherit;
          font-weight: 300 !important;
          color: rgba(0,0,0,0.75) !important;
          display: inline-block;
          height: 24px;
          position: relative;
          width: 100%;

          font-size: 13px !important;
          line-height: 24px !important;

          &:hover {background-color: rgba(0,0,0,0); }
        }

        .sbOptions a{
          padding-top: 5px;
          padding-bottom: 5px;
        }
        .sbSelector{
          font-size: 13px !important;
          line-height: 24px !important;
          width: 100%;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
        }
      }
    }
  }
}

#dashboard {
  fieldset { margin-top: 60px; position: relative; }
  legend {font-size: 28px; padding-bottom: 10px; border: none !important; margin: 0px;
    a {
      color: black;
    }
  }
  .all {color: $blue !important; font-size: 13px !important; line-height: 24px !important;
  &:hover { color: black !important;}
   }

  .icon-last-edited {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: none;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 100px;
    height: 18px;
    width: 18px;
    background-image: url("../img/icons/edit.png");
    opacity: 0.35;
    margin-top: 0px;
  }
  .add {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 32px;
    line-height: 32px !important;
    background-color: rgba(0,0,0,0.075);
    background-color: $blue;
    margin-bottom: 4px;
    display: block;
    padding: 0px;
    padding-right: 30px;
    padding-left: 12px;
    background-image: url("../img/icons/inv/add_bold.png");
    background-size: 32px;
    background-position: right !important;
    background-repeat: no-repeat;
    color: white;
    font-weight: 300;
    white-space: nowrap;
    &:hover { background-color: black; }
  }

  fieldset > ul {

    &.museums,
    &.exhibitions,
    &.events,
    &.workshops {
      li:hover .actions { opacity: 1; }
      .actions {opacity: 0.25; }
    }


    > li {
      position: relative;

      &:hover {
        .status {
          opacity: 1;
          .sbToggle {
            background-color: rgba(0,0,0,0.15);
            opacity: 0.5;
          }
          .sbHolder{
            background-color: rgba(0,0,0,0);
          }
        }
      }
      .status {
        position: absolute;
        top: 8px;
        right: 80px;
        width: 115px;
        .sbToggle {
          height: 24px;
          width: 100%;
          background-color: rgba(0,0,0,0);
          opacity: 0.25;
        }
        .sbHolder{
          background-color: $lightgrey_2 !important;
          border: none;
          font-family: inherit;
          font-weight: 300 !important;
          color: rgba(0,0,0,0.75) !important;
          display: inline-block;
          height: 24px;
          position: relative;
          width: 100%;
          font-size: 13px !important;
          line-height: 24px !important;
        }

        .sbOptions a{
          padding-top: 5px;
          padding-bottom: 5px;
        }
        .sbSelector{
          font-size: 13px !important;
          line-height: 24px !important;
          width: 100%;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
        }
      }

      &:hover {
        > a { background-color: rgba(0,0,0,0.075);}
      }

      > h3,
      > span,
      > a {
        background-color: $lightgrey_3;
        color: rgba(0,0,0,0.75) !important;
        display: block;
        height: 40px;
        line-height: 40px;
        padding-left: 10px;

        box-sizing: border-box;
        -moz-box-sizing: border-box;
        margin-bottom: 2px;
        white-space: nowrap;


        .title { font-weight: $bold; }

        &:hover {
           h3, h4 ,h5 { color: rgba(0,0,0,0.5) !important;}
        }
        h3 {

        overflow: hidden;
        max-width: 700px;
        }

        h3 ,h5 { display: inline-block; font-size: 16px !important;}
        h5   { font-weight: 300;
          opacity: 0.5;
          position: relative;
          top: -2px;
          font-size: 13px !important;}
      }
    }
  }
}


.modal-centered {
  position: absolute;
  height: 100%;
  width: 100%;
  display: table;
  table-layout: fixed;
  z-index: 2000;
  .cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    .inner {
      display: inline-block;
      text-align: left;
      width: 320px;
      margin-bottom: 25px;
      font-size: 16px;
      header {
        padding-bottom: 20px !important;
        font-size: 14px;
        line-height: 22px;
      }
      fieldset {
        border: medium none;
        padding: 0px;
      }
      .form-actions {
        float: none;
        padding-bottom: 0px;
        .btn-primary {
          height: 80px;
          white-space: nowrap;
          font-size: 28px;
          width: 100%;
          padding: 0px !important;
          line-height: 80px !important;
        }
      }
      .alert {
        padding: 24px !important;
        margin-bottom: 20px;
        color: #FFF;
        text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
        background-color: #FF4582;
        border: medium none;
        border-radius: 0px;
        li {
          line-height: 23px !important;
        }
      }
      .modal-footer {
        .btn {
            &:hover {
                color: white;
            }
            &.btn-primary {
                &:hover {
                    color: white;
                }
            }
        }
      }
    }
  }
}

#duplicateConfirmation {
  .modal-centered {
    .inner {
      width: 800px;
      legend {
        color: #fff;
        font-size: 17px;
        margin-bottom: 1.5em;
      }
      label {
        color: #fff;
        font-size: 1em;
      }
      input {
        background: #fff;
        color: #000;
      }
      .help-block {
        color: #fff;
      }
    }
  }
}
.dashboard-table {
  .status {
    width: 150px;
  }
}

.autocomplete-light-widget {
  width: 100%;
  &.modern-style {
    border: none !important;
    padding: 0 !important;
    .deck [data-value] {
        background: white;
        .remove {
            background-position: 0 2px;
            margin: 0 3px 0 4px;
            &:hover {
                background-position: -15px 2px;
            }
        }
    }
  }
}

.dashboard {
    
  .dashboard-meta-wrapper {
    max-width: 940px;
    min-width: 940px;
    width: 940px;
    position: fixed;
    top: 12px;
    padding-right: 60px;
    z-index:2;
  }
  
  fieldset {
    .subtitle {
        position: relative;
        top: -25px;
    }
  }
    
  font-weight: $regular;
  
  label {
    font-weight: $regular;
  }
    
  .navbar-wrapper .nav.navbar-nav {
    width: 100%;
    & > li {
        margin-right: 2.2%;
    }
  }
  
  .dashboard-header {
      
    h4 {
        margin-bottom: 20px !important;   
    }
      
    .form-steps {
      li {
        a {
          min-width: 70px;
          text-align: center;
        }
        &.active a {
          background-color: #F5F5F5;
        }
      }
      &.nav.nav-tabs.pull-right {
        height: 40px;
        position: absolute;
        bottom: 1px;
        right: 30px;
        a {
            height: 40px;
            line-height: 20px;
        }
      }
    }
    
    
  }
  
  .dyn_set_map {
    position: relative;
    .map_canvas {
      height: 350px;
    }
    .form-actions {
      position: absolute;
      bottom: 0px;
      padding: 0px;
      background-color: transparent;
        .locate_address {
            padding: 3px 8px !important;
            min-height: auto;
            line-height: normal;
            &:focus {
                box-shadow: none;
            }
        }
    }
  }
  
  .url {
    br {
        display: block;
        margin-bottom: 15px;
    }
  }
  
  #social_channels_fieldset {
    #social {
      .social {
        .input-group-btn {
          vertical-align: bottom;
        }
      }
    }
  }
  
  #div_id_accessibility_options .checkbox-group label {
    position: static;
  }
  
  #edit_photo {
    #image_preview {
      .img-responsive {
        max-width: 810px;
      }
    }
    #button-id-crop-photo {
      position: absolute;
      top: -30px;
      right: 30px;
    }
  }
  
  #edit_media_item {
    #image_preview {
        max-width: 810px;   
    }
  }
  
  #popup {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.75);
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
    z-index: 40000;
    display: table;
    opacity: 0;
    &.on {
      opacity: 1;
    }
    
    .inner {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }
    
    #picker {
      color: #FFF;
      font-size: 23px;
      line-height: 40px;
      box-sizing: border-box !important;
      cursor: default;
      display: inline-block;
      width: 465px;
      
      * {
        -moz-user-select: none;
      }
      > * {
        width: 100%;
        box-sizing: border-box !important;
      }
      
      header {
        padding: 40px 30px 30px;
        text-align: center;
        background-color: #000;
        margin-bottom: -1px;
        time {
          font-size: 80px;
          line-height: 40px;
          font-weight: $regular;
          height: 40px;
        }
      }
        
      .body {
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
        background-color: #000;
        display: block;
        list-style-type: none;
          
        table {
          font-size: 23px;
          line-height: 40px;
          text-align: center;
          table-layout: fixed;
          float: left;
          tr {
            th {
              font-size: 0.6em;
              font-weight: 600;
              letter-spacing: 1px;
              text-transform: uppercase;
              text-indent: 5px;
              padding: 0px !important;
              &.prev, &.next {
                font-size: 1.3em;
              }
            }
            td {
              padding: 0px !important;
              span {
                display: block;
                cursor: pointer;
                padding-bottom: 3px;
                &:hover {
                    background-color: $grey;   
                }
                &.active {
                  background-color: $blue;
                  font-weight: 500;
                }
              }
            }
          }
          
          &.hours {
            width: 250px;
            margin-right: 30px;
          }
          &.minutes {
            width: 125px;
          }
        }
      }
      
      footer {
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: transparent;
        padding-left: 0px !important;
        padding-right: 0px;
        
        button {
          height: 80px;
          border: medium none;
          &.cancel {
            width: 145px;
          }
          &.done {
            float: left;
            width: 290px;
            font-size: 28px;
          }
        }
      }
    }
  }
  
  .input-append {
    position: relative;
    .input-group-btn {
      position:absolute;
      right: 0px;
      top: 0px;
    }
  }
  
  .formset-form {
    .input-append {
        .input-group-btn {
            position: absolute;
        }
    }
  }
  
  .form-actions {
    #submit-id-save_and_close {
      margin-right: 5px;
    }
    input:first-child {
      margin-right: 0px !important;
    }
  }
  
  .row {
    &.row-md {
      .col-xs-6, .col-sm-6, .col-md-6, .col-lg-3, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3 {
        padding-left: 10px;
        padding-right: 10px;
        &:first-child {
          padding-left: 30px;
        }
        &:last-child {
          padding-right: 30px;
        }
      }
      .row.row-xs {
        display: table-cell;
        .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6 {
          padding-left: 0px;
          padding-right: 5px;
          vertical-align: bottom;
          &:last-child {
            padding-right: 0px;
          }
        }
      }
    }
  }
  
  .fieldset-services  {
    .checkbox-group > .form-group {
        display: inline-block;
        margin-right: 5px;
        margin-bottom: 5px;
    }
  }
  
  .formset-form {
    position: relative;
    .input-group-btn {
        position: static;
        .delete {
            position: absolute;
            top: 27px;
            right:0px;
        }
        &.delete-time {
            height: 40px;
            .delete {
                top: -27px;
            }
        }
    }
    .input-group {
        .delete {
            position: absolute;
            top: 25px;
            right:35px;
        }
    }
    .fieldset-where {
        .delete {
            top: 10px;
            right: 0;
        }
    }
    fieldset {
        position: static;
        .delete {
            top: 23px;
            right: 0;
        }
    }
  }
  
  .sponsor {
    .image_preview {
        max-width: 400px;
    }
  }
  
  .leadership, .authorship, .involvement, .sponsor, .stage {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid $lightgrey_2;
  }
  
  .stage {
    border-bottom: 5px solid #ffffff;
  }
  
  #stages_fieldset {
    > legend {
        border-bottom: 5px solid white;
        padding-bottom: 50px;
        margin-bottom: -30px;
    }
  }
  
  #events {
    h4 {
        margin-left: 10px;   
    }
    .pull-right {
        position: relative;
        top: -20px;
        left: -10px;
    }
  }
  
  .pagination > li > a {
    margin-bottom: 1px;  
  }
  
  #dashboard_search {
    position: relative;
    input {
        padding-right: 50px;   
    }
    button {
        position: absolute;
        right: 0px;
        top: 0px;
        &:hover {
            color: $blue;
        }
    }
  }
}

.ac_results {
    width: 230px !important;
    border: none !important;
    margin-top: 5px;
    li {
        font-size: 1em !important;
        line-height: 40px !important;
        color: black !important;
        font-family: 'Webfont', Helvetica, Arial, sans-serif !important;
        padding-left: 15px !important;
        cursor: pointer !important;
        strong {
            color: black !important;
            font-weight: $light;
        }
    }
    .ac_over {
        background-color: $lightgrey !important;
        background-image: url("../img/trns-1.png");
    }
}

#cms_toolbar {
    z-index: inherit !important;
}
.cms_toolbar-item {
    width: auto;  
}
.cms_toolbar-item_list {
    top: 41px !important;
    border: 1px solid #ccc !important;
}




.form {
    margin: 20px;
    max-width: 540px;
    
    form {
        fieldset {
            legend {
                height: auto;
                padding-bottom: 40px;
                padding-top: 10px !important;
                line-height: 100%;
            }
        }
    }
}