@charset "utf-8";

.home {
    padding-bottom: 20px !important;
        
    h1.bottom-line {
        font-size: 1.375em;
        font-weight: 700;
    }
        
    .main {
        margin-bottom: 55px;
        
        .more-date {
            margin-top: 5px;
            float: right;
            
            a {
                text-transform: uppercase;
                color: black;
                &:hover {
                    color: $blue;
                }
            }
        }
    }
}

.is-xs {
    .home {
        .main {
            .more-date {
                margin-right: -20px;
            }
        }
    }
}