@charset "utf-8";

.info {
    margin-left: -10px;
    margin-right: -10px;
    
    .row {
        margin: 0;
    }
    
    h1.bottom-line {
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-bottom: 22px;
        font-size: 1.375em;
        font-weight: 700;
    }
    
    .news {
        padding-left: 10px;
        padding-right: 10px;
        
        .row {
            margin-left: -12px;
            margin-right: -12px;
        }
        .news-item {
            padding: 0 12px;
            margin-bottom: 40px;
            
            a {
                color: black;
                display: block;
                &:hover {
                    color: black;
                }
            }
            
            h3 {
                background: black;
                color: white;
                margin-bottom: 4px;
                padding: 4px 0 4px 8px;
                font-weight: $regular;
                font-size: 0.875em;
                text-transform: uppercase;
            }
            .img {
                width: 100%;
                margin-bottom: 16px;
                img {
                    width: 100%;
                }
            }
            h2 {
                font-weight: $bold;
                font-size: 1.25em;
                text-transform: uppercase;
                margin-bottom: 8px;
            }
            p {
                font-weight: $regular;
                line-height: 125%;
                margin: 0;
                padding: 0;
            }
            .more {
                display: inline-block;
                margin-top: 15px;
                font-weight: $bold;
                font-size: 0.875em;
                color: black;
                text-transform: uppercase;
                line-height: inherit;
            }
        }
    }
    
    .ads {
        padding-left: 10px;
        padding-right: 10px;
        &.no-ads {
            padding-top: 14px;
        }
        
    }
    
    body.is-xs & {
        margin-left: -30px;
        margin-right: -30px;
    }
}



