.alert-dark {
    // color specific style
    background: black;
    color: #fff;
    a {
        color: $blue_hover;
    }
    .btn {
        color: black;
        background: $yellow;
        font-weight: $bold;
    }
    .close {
        color: white;
        opacity: 0.4;
        &:hover, &:focus {
            color: white;
            opacity: 0.8;
        }
    }

}
.infobanner {
    // layout specific style
    .btn {
        margin-left: 1em;
        margin-right: 1em;
    }
}