// main:style.scss

@charset "utf-8";


.list {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    margin: 0;
    padding: 0;

    .list {
        margin:0 !important;
        padding:0 !important;
    }


    .row {
        margin: 0;
        padding: 0;
    }

    .list-headline {
        font-weight: $light;
        font-size: 2em;
        text-transform: uppercase;
        padding-top: 20px;
        padding-bottom: 15px;
        margin-bottom: 0;
        border-bottom: 1px solid black;

        .calender-headline {
            font-size: 0.917em;
            font-weight: $bold;
            padding: 0 0 3px 0;
            margin: 0 0 10px 0;
            border-bottom: 4px solid black;
        }
    }

    .list-item {
        margin: 0;
        padding: 0;
        border-bottom: 1px solid black;
        cursor: pointer;

        .list-item-head {
            margin: 0;
            padding: 0;
            max-width: 250px;
            position: relative;
            &.only-image {
                max-width: 148px;
            }

            .list-item-head-date {
                margin: 10px 0 0;
                padding: 0;
                .list-item-head-date-day {
                    height: 27px;
                    margin: 0;
                    padding: 0;
                    font-weight: $bold;
                    font-size: 1.375em;
                    line-height: 22px;
                    text-transform: uppercase;
                }
                .list-item-head-date-month {
                    height: 18px;
                    margin: 0;
                    padding: 0;
                    font-weight: 600;
                    font-size: 0.75em;
                    line-height: 12px;
                    text-transform: uppercase;
                    span {
                        white-space: nowrap;
                    }
                }
                .list-item-head-date-none {
                    height: 35px;
                    margin: 0;
                    padding: 0;
                    font-weight: 600;
                    font-size: 0.75em;
                    line-height: 12px;
                    text-transform: uppercase;
                }
                .list-item-head-date-type {
                    height: 32px;
                    margin: 0;
                    padding: 0;
                    font-weight: $regular;
                    font-size: 0.75em;
                    line-height: 12px;
                    text-transform: uppercase;
                    span {
                        &:after {
                            content: ", ";
                        }
                        &:last-child {
                            &:after {
                                content: none;
                            }
                        }
                    }
                    &.no-date {
                        height: 79px;
                    }
                }
                .list-item-head-date-time {
                    height: 37px;
                    margin: 0;
                    padding: 0;
                    font-weight: $bold;
                    font-size: 1.875em;
                    line-height: 30px;
                }
                .list-item-head-date-icons {
                    height: 23px;
                    margin: 0;
                    padding: 0;
                    a {
                        font-size: 14px;
                        color: black;
                        margin-left: 2px;
                        &:hover, &:focus {
                            color: black;
                        }
                        &:before {
                            padding-right: 0px;
                            margin-right: 6px;
                        }
                        &.tickets:before {
                           margin-right: 0px;
                        }
                        &.favorite {
                            &:before {
                                height: 20px;
                                width: 20px;
                                font-size: 14px;
                                line-height: 20px;
                            }
                            &.active:before {
                                color: $blue;
                                &:hover, &:focus {
                                    color: $blue;
                                }
                            }
                        }
                    }
                }
            }
            .list-item-head-image {
                margin: 0;
                padding: 0;
                img {
                    width: 148px;
                    float: right;
                }
                .photo-credits-over {
                    width: 148px;
                    left: inherit;
                    right: 148px;
                    transform: translateX(100%);
                }
            }
        }

        .list-item-body {
            margin: 0;
            padding: 0;
            height: 148px;
            overflow: hidden;

            a {
                display: block;
                width: 100%;
                height: 100%;
                color: black;
                position: relative;
                &:hover {
                    color: black;
                }
            }

            dl, h2, h3, h4 {
                width: auto;
                &.short {
                    width: 72%;
                }
            }

            dl, h2, h3, h4, div.copy, div.target {
                margin: 0 0 0 15px !important;
            }

            dl {
                float: none;
                padding-top: 10px;
                margin-top: 0px  !important;
                dd {
                    float: left;
                    &:after {
                        content: "–";
                        padding-right: 3px;
                    }
                    &:last-child:after {
                        content: none;
                    }
                    &.festivals {
                        &:after {
                            content: "|";
                        }
                        span.festival {
                            color: $blue;
                            font-weight: $bold;
                            &:after {
                                content: ", "
                            }
                            &:last-child {
                                &:after {
                                    content: none;
                                }
                            }
                        }
                    }
                }
            }

            h2 {
                font-weight: $bold;
                font-size: 1.125em;
                padding-top: 5px;
                padding-bottom: 5px;
                text-transform: uppercase;
            }

            h3 {
                font-weight: $regular;
                font-size: 0.9em;
                line-height: 125%;
                &:last-of-type {
                    padding-bottom: 5px;
                }
            }

            h4 {
                font-weight: $regular;
                font-size: 1em;
                line-height: 125%;
                padding-top: 10px;
            }

            p {
                padding: 0;
                font-size:0.9em;
                p {
                    margin: 0;
                }
            }

            div.target {
                font-size: 0.9em;
                margin-top: 5px !important;
                span {
                    &:after {
                        content: ", ";
                    }
                    &:last-child {
                        &:after {
                            content: none;
                        }
                    }
                }
            }

            .extra {
                background: $blue;
                position: absolute;
                top: 0;
                right: 0;
                padding: 0;
                height: 28px;
                color: white;
                font-weight: $bold;
                font-size: 0.875em;
                width: 23%;
                text-transform: uppercase;
                &:before {
                    content: url(../img/label_28px.png);
                    position: relative;
                    left: -11px;
                }
                &.canceled {
                    background: $red;
                    &:before {
                        content: url(../img/label_red_28px.png);
                    }
                }
                span {
                    margin: 3px auto 0;
                    vertical-align: top;
                    display: inline-block;
                    width: 83%;
                    text-align: center;
                }
            }
        }

        &:hover {
            background-color: #eee;
        }
    }

    &.location-list {
        .list-item {
            .list-item-head {
                max-width: 148px;
            }
            .list-item-body {
                h2, h4 {
                    width: auto;
                }
            }
        }
    }
}

.location-list .list-item-body p {
    font-size: 1em !important;
}

.additional-list {

    position: relative;
    margin-bottom: 80px;

    &.calender-list {
        margin-bottom: 0;
    }

    .additional-list-head {
        font-weight: $light;
        font-size: 2em;
        text-transform: uppercase;
        padding: 8px 0;
        border-top: 2px solid black;
        border-bottom: 2px solid black;

        &.margin-bottom-none {
            margin-bottom: 0;
        }
    }

    .additional-list-more {
        font-size: 1em;
        color: black;
        position: absolute;
        right: 0px;
        bottom: -30px;
        display: none;
        line-height: 2em;
        &:after {
            font-size: 2em;
            padding-left: 5px;
        }
    }

    .list-headline {
        font-size: 1.5em;
    }

    dd.festivals {
        display: none;
    }
}

body.is-xs {
    .list {
        margin-left: -20px;
        margin-right: -20px;

        &.additional-list {
            margin-left: 0px;
            margin-right: 0px;
        }

        .list-item {

            .list-item-head {
                max-width: none;
                height: 50px;
                border-bottom: 1px solid #ccc;

                .list-item-head-date {
                    margin: 0;
                    position: absolute;
                    top: -2px;
                    right: 0;
                    .list-item-head-date-day {
                        width: 45px;
                        height: auto;
                        position: absolute;
                        top: 6px;
                        left: 5px;
                    }
                    .list-item-head-date-month {
                        width: 45px;
                        height: auto;
                        position: absolute;
                        top: 32px;
                        left: 5px;
                    }
                    .list-item-head-date-none {
                        width: 90px;
                        height: auto;
                        position: absolute;
                        top: 9px;
                        left: 5px;
                    }
                    .list-item-head-date-time {
                        width: 115px;
                        height: auto;
                        font-size: 3em;
                        position: absolute;
                        top: 8px;
                        left: 55px;
                    }
                    .list-item-head-date-type {
                        width: auto;
                        height: auto;
                        position: absolute;
                        top: 8px;
                        right: 5px;
                    }
                    .list-item-head-date-icons {
                        width: auto;
                        height: auto;
                        position: absolute;
                        top: 24px;
                        right: -4px;
                        a:before {
                           margin-right: 10px;
                        }
                        a.tickets:before {
                           margin-right: 10px;
                        }
                    }
                }
                .list-item-head-image {
                    position: absolute;
                    top: 0;
                    left: 0;
                    img {
                        width: 50px;
                        float: none;
                    }
                }
            }
        }
        .list-item-body {
            padding-bottom: 40px;
            height: auto;
            max-height: 350px;

            dl, h2, h3, h4, div.copy {
                margin: 0 0 0 5px  !important;
                width: auto;
                &.short {
                    width: auto;
                }
            }

            div.target {
                margin: 5px 0 0 5px  !important;
                width: auto;
                &.short {
                    width: auto;
                }
            }

            .extra {
                top: inherit;
                bottom: -40px;
                height: 22px;
                color: white;
                font-weight: $bold;
                font-size: 0.875em;
                width: 160px;
                text-transform: uppercase;
                &:before {
                    content: url(../img/label_22px.png);
                    position: relative;
                    left: -10px;
                }
                &.canceled {
                    background: $red;
                    &:before {
                        content: url(../img/label_red_22px.png);
                    }
                }
                span {
                    margin: 1px auto 0;
                    vertical-align: top;
                    display: inline-block;
                    width: 138px;
                    text-align: center;
                }
            }
        }
    }

    &.location-list {
        .list-item {
            .list-item-head {
                max-width: none;
            }
        }
    }

    &.safari {
        .list-item-head-date {
            top: 2px !important;
            .list-item-head-date-month {
                top: 31px !important;
            }
            .list-item-head-date-time {
                font-size: 3.05em !important;
                top: 12px !important;
            }
            .list-item-head-date-icons {
                top: 21px !important;
            }
        }
    }
}

.advertising-list {
    margin: 20px -5px 0;

    .is-xs & {
        margin: 20px -25px 0;
    }

    > div {
        padding-left: 5px;
        padding-right: 5px;
    }

    img {
        margin: 0 0 10px;
        padding: 0;
        width: 100%;
        height: auto;
    }
    h6 {
        margin-bottom: 4px;
    }
}
