.gmap {
    
    #body {
        margin-top: 40px;
        padding-bottom: 0;
    }
    
    .gmap-wrapper {
        width: 100%;
        height: 100%;
        #gmap {
            width: 100%;
            height: 100%;
        }
    }
        
    &.is-sm {
        #body {
            margin-top: 20px;
        }
    }
    
    &.is-xs {
        #body {
            margin-top: 10px;
        }
        #map-sidebar-wrapper {
            #map-sidebar {
                #map-description {
                    margin-left: 20px;
                    padding-right: 40px;
                    padding-top: 20px;
                }
            }
        }
    }
    
    .gmap-wrapper {
        position: relative;
    }
    #map-sidebar-wrapper {
        position: absolute;
        top: 0;
        right: 0px;
        max-width: 410px;
        width: 100%;
        height: 100%;
        background: white;
        border: 1px solid #eee;
        -webkit-transition: right 0.5s;
        transition: right 0.5s;
    
        #map-sidebar {
            
            height: 100%;
            
            #map-buttons-overflow {
                width: 50px;
                position: absolute;
                top: -1px;
                left: -52px;
                #map-buttons-wrapper .btn {
                    padding: 0;
                    margin-bottom: 1px;
                    
                    &:before {
                        line-height: 50px;
                        padding:0;
                    }
                }
            }
            
            #map-description {
                margin-right: 30px;
                margin-left: 30px;
                padding-right: 40px;
                padding-top: 30px;
                height: 100%;
                overflow: scroll;
                overflow-x: hidden;
                overflow-y: scroll;
                
                .map-description-content {
                    display: block;
                    padding-bottom: 20px;
                    margin-bottom: 20px;
                    border-bottom: 1px solid #ddd;
                    color: black;
                    cursor: default;
                    &:last-child {
                        margin: 0;
                        border-bottom: none;
                    }
                }
                
                img {
                    width: 100%;
                    margin-bottom: 20px;
                }
                
                h1 {
                    margin-bottom: 20px;
                }
                
                h2 {
                    margin-top: -15px;
                    margin-bottom: 20px;
                    font-size: 1em;
                }
                
                .copy {
                    margin-bottom: 20px;
                }
                
                .address {
                    margin-bottom: 20px;
                }
                
                .more {
                    margin-top: 10px;
                    cursor: pointer;
                }
            }
                
            #cancel-description {
                position: absolute;
                right: 30px;
                top: 0px;
                padding: 0;
                margin-bottom: 1px;
                background-color: #eee;
                
                &:before {
                    line-height: 50px;
                    padding:0;
                }
            }
        }
    }
    
    &.map-only {
        #map-sidebar-wrapper {
            right: -380px;
        }
    }
}