span.pin {
    a {
        position: absolute !important;
        top: 6px;
        right: 6px;
        cursor: pointer;
        background-image: url(../img/pin.png) !important;
        background-size: 21px 21px !important;
        width: 21px !important;
        height: 21px !important;
    }
}