.search {
    
    #search_form {
  
        #div_id_q {
            margin: 30px 140px 50px 0;   
        }
        
        button.dropdown-toggle {
            height: 53px;
            top: -104px;
            position: absolute;
            right: 0;
        }
        
        .dropdown-menu {
            right: 0;
            position: absolute;
            top: -50px;
            padding:0;
        }
        
        #submit-id-submit {
            height: 53px;
            position: absolute;
            top: -104px;
            right: 40px;
            &:focus {
                box-shadow: none;
            }
        }
        
    }
    
    .pagination {
        padding-left: 30px;
        padding-right: 30px;
    }
    
    &.is-xs {
        
        .search-form-container > .container > .row > .col-xs-12 {
            width: auto;
            margin: 0 -20px;
        }
        
        #search_form {
            #div_id_q {
                margin-right: 0px;
            }
            button.dropdown-toggle {
                position: relative;
                top: -30px;
            }
            .dropdown-menu {
                top: 25px;
            }
            #submit-id-submit {
                position: relative;
                top: -30px;
                right: 0;
            }
        }
        
        .item, .pagination {
            padding-left: 10px;
            padding-right: 10px;
        }
        
        .list .item {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
}