@charset "utf-8";

.slider {
    
    margin: 30px 0 0 0;
    width: 100%;
    position: relative;
    
    * {
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        user-select: none;
    }
    
    .col-xs-12 {
        padding: 0;
    }
    
    .slider-head {
        width: 100%;
        padding: 0 0 3px 0;
        margin: 0 0 15px 0;
        border-bottom:4px solid black;
        h4 {
            font-size: 1.375em;
            font-weight: $bold;
            text-transform: uppercase;
            margin: 0 !important;
            padding: 0 !important;
        }
    
        .more {
            color: black;
            text-transform: uppercase;
            float: right;
            &:hover {
                color: $blue;
            }
        }
    }
    
    &.festivals {
        .slider-head {
            div {
                padding-right:0;
                padding-top:5px;
            }
            .more {
                float: right !important;
            }
        }
    }
    
    .slider-body {
        list-style: none;
        margin: 0;
        overflow: hidden;
        position: relative;
        width: 100%;
    }
    
    .slider-item {
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
    
        img {
            width: 100%;
        }
        
        .slider-item-text {
            color: black;
            font-size: 1.125em;
            font-weight: $light;
            padding: 12px 39px 18px 6px;
            margin-left: 110px;
            background: white;
            background: rgba(255, 255, 255, 0.7);
            position: absolute;
            right: 0;
            bottom: 0;
            h5 {
                font-size: 1.375em;
                margin-bottom: 3px;
            }
            p {
                margin: 8px 0 0 0;
                padding: 0px;
                .date:after {
                    content: "|";
                    margin-left: 8px;
                    margin-right: 6px;
                }
                .date:last-child:after {
                    content: none;
                    margin-left: 0;
                    margin-right: 0;
                }
            }
            &:before {
                opacity: 0.7;
                content: "";
                /*width: 40px;
                height: 100%;
                display: block;
                background-image: url(../img/triangle_white.png);
                background-size: 40px 100%;
                position: absolute;
                left: -40px;
                top: 0;*/
                width: 110px;
                height: 100%;
                display: block;
                background-image: url(../img/triangle_white_big.png);
                background-position: -15px 0;
                position: absolute;
                left: -110px;
                top: 0;
            }
        }
        &:hover {
            .slider-item-text {
                background: rgba(255, 255, 255, 1);
                &:before {
                    opacity: 1;
                }
            }
        }
    }
    
    .slider-prev, .slider-next {
        width: 30px;
        height: 80px;
        position: absolute;
        top:50%;
        margin-top: -40px;
        margin-bottom: 0px;
        background: transparent;
        color: black;
        cursor: pointer;
        opacity: 0.7;
        &:hover {
            opacity: 1;
            color: black;
        }        
    }
    .slider-prev {
        left: -70px;
        &:before {
            font-size: 80px;
            padding: 0;
            float: left;
        }
    }
    .slider-next {
        right: -70px;
        &:after {
            font-size: 80px;
            padding: 0;
            float: right;
        }
    }
    
    &.medium {
        .slider-item-text {
            margin-left: 50px;
            h5 {
                font-weight: $regular;
                font-size: 1em;
            }
        }
        &.festivals {
            h5 {
                font-weight: $bold;
                font-size: 1.2em;
            }
            strong {
                font-weight: $regular;
                font-size: 1em;
            }
        }
    }
    
    &.small {
        .slider-item-text {
            p {
                display: none;
            }
        }
        &.festivals {
            h5 {
                font-weight: $regular;
                font-size: 1em;
            }
            
        }
    }
    
    &.small-margin {
        .slider-prev {
            &:before {
                font-size: 40px;
                padding-top: 40px;
                padding-left: 5px
            }
        }
        .slider-next {
            &:after {
                font-size: 40px;
                padding-top: 40px;
                padding-right: 5px;
            }
        }
    }
    
}

#location {
    .slider.small-margin {
        .slider-prev:before {
            padding-top: 50px;
        }
        .slider-next:after {
            padding-top: 50px;
        }
    }
}

.home {
    .slider {
        margin-bottom: 55px;
        .slider-head {
            h4 {
                padding: 0 0 8px 0 !important;
            }
        }
    }
}

.is-xs {
    .slider {
        .slider-head {
            .more {
                float: none;
            }
        }
    }
    .home {
        .slider {
            margin-left: -20px;
            margin-right: -20px;
            width: auto;
        }
    }
}


#top_slider {
    width: 100%;
    max-height: 544px;
    overflow: hidden;
    margin-top: 25px;
    
    .is-xs & {
        margin-top: 10px;
    }
    
    .slider {
    
        .slider-item {
            width: 100%;
            .slider-item-text-wrapper {
                position:absolute; 
                top:0; 
                left:0; 
                width:100%;
                .slider-item-text {
                    right: 30px;
                    
                    .is-xs & {
                        right: 0px;
                        padding: 5px 10px 5px 5px;
                        
                        h5 {
                            font-size: 1em;
                        }
                        
                        p {
                            font-size: 0.9em;
                            margin: 0;
                        }
                    }
                }
            }
        }
        
        
        .slider-prev {
            left: 90px;
            color: white;
            
            .is-xs & {
                display: none !important;
            }
        }
        .slider-next {
            right: 90px;
            color: white;
            
            .is-xs & {
                display: none !important;
            }
        }
        
        
    }
    
    .is-md & {
        .slider-prev {
            left: 60px;
        }
        .slider-next {
            right: 60px;
        }
    }
    
    .is-sm & {
        .slider-prev {
            left: 40px;
        }
        .slider-next {
            right: 40px;
        }
    }
}