// main:style.scss

@charset "utf-8";

.theater-of-the-week {

    h1 {
        margin-bottom: 13px;
        font-weight: $light;
        font-size: 2em;
        text-transform: uppercase;
    }

    h2 {
        margin-bottom: 10px;
    }

    h3 {
        margin-bottom: 7px;
    }

    h4 {
        margin-bottom: 10px;
        font-weight: $light;
        font-size: 1.25em;
        text-transform: uppercase;
    }

    h5 {
        margin-bottom: 7px;
        font-weight: $light;
        font-size: 1.125em;
        text-transform: uppercase;
    }

    h6 {
        font-weight: $bold;
        font-size: 1em;
        margin-bottom: 7px;
    }

    .article-header {
        margin-bottom: 24px;

        h1 {
            margin-bottom: 13px;
            font-weight: $light;
            font-size: 2em;
            text-transform: uppercase;
        }

        .article-date {
            font-weight: $light;
            font-size: 1.125em;
            position: absolute;
            right: 30px;
            top: -20px;
        }

        .article-category {
            font-size: 1.125em;
            text-transform: uppercase;
            font-weight: $bold;
        }

        .subtitle {
            font-weight: $regular;
            font-size: 1.125em;
            text-transform: none;
        }
    }

    .article-image {
        margin-bottom: 24px;

        img {
            width: 100%;
        }

        .article-image-caption {
            font-size: 0.9em;
        }
    }

    .article-decription {
        margin-bottom: 10px;
    }

    .article-content-cms {

        img {
            max-width: 100%;
            height: auto;
        }
    }

    .article-content-cms {
        .img_and_desc {
            .img_and_desc-wrapper {
                overflow: hidden;
                transform: translateY(-100%);
                background: rgba(0, 0, 0, 0.2);
                position: relative;
                padding: 0 5px 0 3px;
                display: table;
            }
            .author, .title {
                font-weight: $regular !important;
                font-style: italic !important;
                line-height: 1.42857143;
                font-size: 1rem;
                color: $white;
                display: inline;
                float: left;

                .is-xs & {
                    font-size: 0.85rem;
                }
            }

            .author {

                &:before {
                    content: "Foto:\00a0";
                }

                .lang_en &:before {
                    content: "Photo:\00a0";
                }
            }

            .title {
                padding-right: 8px;

                + .author {
                }
            }
        }
    }

    .theater-of-the-week-productions {
        h5 {
            font-size: 1.8rem;
            text-transform: none;
            margin-top: -10px;

            &.ensembles {
                font-size: 1.6rem;
                font-weight: $bold;
                line-height: 120%;
                margin-top: 0;
            }
        }
    }
}


.top-widgets-wrapper .theater-of-the-week-widget-wrapper {
    margin-top: -68px;
    .top-widget-button-up-wrapper {
        background: $blue;
    }

    .is-xs & {
        .container {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

.theater-of-the-week-widget-wrapper {
    width: 100%;
    margin: 0 0 25px;
    position: relative;
    color: white;

    a {
        display: block;
        color: white;
        &:hover {
            color: white;
        }
    }

    .theater-of-the-week-widget-space {
        background: $blue;
    }

    .row {
        margin: 50px -10px 11px;
    }
    .col-xs-12, col-md-6 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .theater-of-the-week-widget-header {
        h2 {
            text-transform: uppercase;
            font-size: 1.125em;
            margin-bottom: 5px !important;
        }
    }
    .article-image {
        padding-top: 10px;
        padding-bottom: 24px;
        display: block;
        img {
            width: 100%;
        }
    }
    .article-image-caption {
        font-size: 0.9em;
        display: block;
    }
    .article-header {
        padding-top: 10px;
        margin-bottom: 10px;
        display: block;
        h1 {
            margin-bottom: 13px;
            font-weight: 200;
            font-size: 2em;
            text-transform: uppercase;
            margin-top: -8px;
        }
        h4 {
            font-size: 1em;
        }
    }
    .article-decription {
        display: block;
        a {
            color: white;
            font-weight: $bold;
        }
    }
    span.more {
        display: block;
        color: white;
        text-transform: uppercase;
        padding-bottom: 24px;
        margin-top: 15px;
        font-weight: $bold;
        &:hover {
            color: white;
        }
    }
}

.is-xs {
    .theater-of-the-week {
        .main-container {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}
