@charset "utf-8";

$white: #ffffff;
$black: #000000;
$green: #1edc80;
$red: #cf0000;
$yellow: #ffe345;

$bootstrap_red: #B94A48;

$blue: #4583c8;
$blue_hover: #46a8d5;

$darkgrey: #3C3C3C;
$lightgrey: #aaaaaa;
$grey: #515151;

$lightgrey: #dddddd;
$lightgrey_2: #ebebeb;
$lightgrey_3: #f2f2f2;

$light: 200;
$regular: 400;
$bold: 700;
