// main:style.scss

.top-widget-button {
    border: none;
    width: 33px;
    height: 33px;
    color: white;
    background: black;
    padding: 0;
    &:before {
        font-size: 1.7em;
        width: 33px;
        height: 33px;
        line-height: 33px;
        text-align: center;
        padding: 0;
        margin: 0;
    }
    &.up:before {
        line-height: 31px;
    }
    &:focus {
        outline: none;
    }
}
.top-widget-wrapper {
    width: 100%;
    margin: 0 0 25px;
    position: relative;
    .top-widget-space {
        width: 100%;
        margin: 0 auto -25px auto;
        position: relative;
        top: -33px;
    }
}
.top-widgets-wrapper {
    margin: 0;
    position: relative;
    margin-bottom: 35px;

    .top-widgets {
        position: relative;
        top: -33px;
        //overflow: hidden;
    }
    .top-widget-button-up-wrapper {
        background: #F1F6FA;

        .filter-headline {
            margin-top: 7px;
            margin-bottom: 0;
            float: left;
            text-transform: uppercase;
            font-size: 1em;
        }

        .is-xs & {
            .container {
                padding: 0 20px;
            }
        }
    }
    .top-widget-wrapper {
        margin-bottom: -33px;
        min-height: 66px;
    }

    .is-xs & {
        > .container {
            //padding-left: 20px;
            //padding-right: 20px;
        }
    }
}
