@charset "utf-8";
@page {
    size: portrait;
}

@import 'variables';

.print {
    display: block;
}
a.print {
    display: inline-block;
}
.no-print {
    display: none !important;
}

a[href]:after {
    content: none !important;
}

.cms-plugin-richtext {
    p {
        page-break-inside: avoid;
    }
}


body {
    margin:0 20px !important;
    height: auto;
    
    & > .container {
        padding-left: 0;
        padding-right: 0;
        margin-left: -30px;
        margin-right: -30px;
    }
}

#body {
    padding-bottom: 0px;
    
    .print-padding {
        padding-left: 10px;
        padding-right: 10px;
    }
}

#footer {
    page-break-inside: avoid;
    background: white;
    color: black;
    position: relative;
    
    div.content {
        background: white;
        padding-top: 0;
    
        & > .container {
            padding-left: 0;
            padding-right: 0;
        }
    }
    
    #footer-links, #footer-social {
        display: none;
    }
    
    #footer-sponsors .print {
        float: left;
    }
}

.top-widgets-wrapper, .filter-wrapper, .cms_toolbar, .cms_edit, .navbar-wrapper, #to-top, #main_dateslider, .date-slider, .list-item-head-date-icons, .list-item-head-image, .pin, .social_link_list, .gallery, .slider, #page-controls, .ads {
    display: none !important;
}

h1.bottom-line {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.grid {
    margin-left: -20px;
    margin-right: -20px;
    
    .grid-item {
        
        page-break-inside: avoid;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 30px;
        width: 100% !important;
        
        .grid-item-image {
            display: none;
        }
    }
}


#body .list {
    margin-left: -10px !important;
    margin-right: -10px !important;
    
    &.print-small {
        font-size: 0.5em;
        .list-item {
            padding-top: 0px;
        }
        .list-headline {
            padding-top: 10px !important;
            padding-bottom: 5px !important;
        }
        .list-item-head {
            height: 30px !important;
            .list-item-head-date {
                
                > .row {
                    height: 25px;
                    overflow: hidden;
                }
                
                .list-item-head-date-day {
                    top: 0px !important;
                }
                .list-item-head-date-month {
                    top: 15px !important;
                }
                .list-item-head-date-type {
                    top: 0px !important;
                }
                .list-item-head-date-time {
                    top: -2px !important;
                    position: relative !important;
                }
            }
        }
        .list-item-body {
            height: auto !important;
            padding-bottom: 10px;
        }
    }
    
    .list {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    
    .list-item {
        
        page-break-inside: avoid;
        padding-top: 19px;
        border-top: 1px solid black;
        
        .list-item-head {
            max-width: none;
            width: 100%;
            height: 50px;
            border-bottom: 1px solid #ccc;
            
            & > .row {
                height: 50px;
            }
            
            .list-item-head-date {
                margin: 0;
                position: static;
                height: 50px;
                width: 100%;
                
                & > .row {
                    height: 50px;
                }
                
                .list-item-head-date-day {
                    width: 45px;
                    height: 44px;
                    position: static;
                    margin: 0px 0 0 5px;
                }
                .list-item-head-date-month {
                    width: 45px;
                    height: auto;
                    position: absolute;
                    top: 24px;
                    left: 5px;
                }
                .list-item-head-date-time {
                    width: 150px;
                    height: 42px;
                    font-size: 3em;
                    position: static;
                    margin: 0px 0 0 15px;
                }
                .list-item-head-date-type {
                    width: auto;
                    height: 42px;
                    position: static;
                    float: right;
                    margin: 0px 5px 0 0;
                }
                .list-item-head-date-icons {
                    width: auto;
                    height: auto;
                    position: absolute;
                    top: 24px;
                    right: -4px;
                    a:before {
                       padding-right: 10px;
                    }
                    a.tickets:before {
                       padding-right: 10px;
                    }
                }
            }
            .list-item-head-image {
                position: absolute;
                top: 0;
                left: 0;
                img {
                    width: 50px;
                    float: none;
                }
            }
        }
        
        
    }
    .list-item-body {
        padding-bottom: 40px;
        height: auto;
        max-height: 350px;
        width: 100% !important;
        
        dl, h2, h3, h4, div.copy {
            margin: 0 0 0 5px  !important;
            width: auto;
        }
        
        .extra {
            top: inherit;
            bottom: -40px;
            height: 22px;
            color: black;
            font-weight: $bold;
            font-size: 0.875em;
            width: 160px;
            text-transform: uppercase;
            background: transparent;
            &:before {
                content: none;
            }
            &.canceled {
                background: transparent;
                color: $red;
                -webkit-print-color-adjust: exact; 
                &:before {
                    content: none;
                }
            }
            span {
                margin: 1px 0 0;
                vertical-align: top;
                display: inline-block;
                width: 155px;
                text-align: right;
            }
        }
    }
}

body.favorites {
    
    h2.section, .personalize-wrapper {
        margin-left: -10px;
        margin-right: -10px;
    }
    
    &.is-xs {
        h2.section, .personalize-wrapper {
            margin-left: -10px;
            margin-right: -10px;
        }
    }
}

body.location-list {
    .list-item {
        .list-item-head {
            max-width: none;
        }
    }
}

body.safari {
    .list-item-head-date {
        top: 2px !important;
        .list-item-head-date-month {
            top: 31px !important;
        }
        .list-item-head-date-time {
            font-size: 3.05em !important;
            top: 12px !important;   
        }
        .list-item-head-date-icons {
            top: 21px !important;
        }
    }
}

.details {
    article {
        margin-left: -10px;
        margin-right: -10px;
        .main {
            .right {
                width: 100%;
            }
        }
    }
}

.accordion {
    .accordion-item {
        page-break-inside: avoid;
        margin-top: 20px;   
        
        .accordion-item-head {
            background: transparent;
            color: black;
            padding-left: 0;
            
            &:after {
                content: none !important;
            }
        }
        
        .accordion-item-content-wrapper {
            height: auto !important;
        }
        
        p, a.block, h5, dl, ul, img.logo {
            margin-left: 0;
            margin-right: 0;
        }
        
        a.more-dates, a.less-dates {
            display: none !important;
        }
        
        #body & ul.list {
            margin-left: inherit !important;
            margin-right: inherit !important;
        }
        
        ul.dates {
            li {
                border-bottom: none;
                margin-left: -17px;
            }
        }
    }
    
    &.sidebar-accordion {
        .accordion-item {
            .accordion-item-head {
                font-size: 1em;
                font-weight: $bold;
                border-bottom: 1px solid black;
            }
            ul.dates li .date-wrapper {
                margin-left: 4px;
            }
        }
    }
}

#body .additional-list.list {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.mazery-grid {
    .grid-item {
        position: static !important;
        margin-left: -10px;
        margin-right: -10px;
    }
    
    .is-xs & {
        .grid-item {
            margin-left: 0px;
            margin-right: 0px;            
        }
    }
}


.home {
    .info {
        margin-left: -40px;
        margin-right: -40px;
        page-break-inside: avoid;
        
        .news .news-item {
            page-break-inside: avoid;
            
            h3 {
                background: transparent;
                color: black;
                padding-left: 0;
                font-weight: $bold;
                border-top: 1px solid black;
                border-bottom: 1px solid black;
            }
        }
    }
    .twitter-tweet {
        page-break-inside: avoid;
    }
}

.article, .theater-of-the-week {
    .print-padding {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .article-more-list {
        a {
            page-break-inside: avoid;
        }
        img {
            float: left;
            padding: 5px 15px 5px 0;
            width: auto !important;
            &.hidden-xs {
                display: block !important;
            }
            &.visible-xs {
                display: none !important;
            }
        }
    }
}

.default-intro, .default-main {
    padding-left: 0;
    padding-right: 0;
}

.is-xs {
    .grid {
        .grid-item {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    .details {
        article {
            margin-left: 10px;
            margin-right: 10px;
        }
    }

    .default-intro, .default-main {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .theater-of-the-week {
        .print-padding {
            padding-left: 20px !important;
            padding-right: 20px !important;
        }  
    }
}