{% extends "base_sidebar.html" %}
{% load i18n %}

{% block meta_tags %}
    {{ block.super }}
    {% if LANGUAGE_CODE == "de" %}
        <meta name="keywords" lang="de"
            content="Berlin, Information, Kreativwirtschaft, Kulturwirtschaft, Kontakte, Netzwerke , Fördergelder, Kulturförderung, Wirtschaftsförderung, Stipendien, Ateliers, Arbeitsräume, Probenräume, Steuern, Berlin"/>
    {% else %}
        <meta name="keywords" lang="en-us"
            content="information, creative industries, cultural industries, contacts, networking, subsidies, promotion of the arts, financial support, scholarship, studio, workspace, rehearsal rooms, tax"/>
    {% endif %}
    
    {% if LANGUAGE_CODE == "de" %}
        <meta name="description" lang="de"
            content="Der Bereich „Fragen & Antworten“ der Webseite Kreatives Brandenburg bietet Informationen für Kulturschaffende und Kreative rund um Existenzgründung, Ansiedlung von Unternehmen, Kulturförderprogramme, Netzwerke, Ansprechpartner und mehr."/>
    {% else %}
        <meta name="description" lang="en-us"
            content="The section “Questions & Answers” of the website Kreatives Brandenburg provides advice for people involved in the creative industry on founding and establishing businesses, cultural sponsoring programmes, networks, contacts and more"/>
    {% endif %}
{% endblock %}

{% block title %}
    {% if not root_category %}
        {{ container.title|escape }}
    {% else %}
        {{ root_category.short_title|escape }}
    {% endif %}
{% endblock %}

{% block headline %}
    <h1>{{ container.title|escape }}</h1>
{% endblock %}

