<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}"> 
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Museumsportal Berlin {% block title %}{% endblock %}</title>
	<link rel="icon" href="{{ STATIC_URL }}site/img/favicon.ico" type="image/png">
	
    <script type="text/javascript">
    window.onload = function() {
        if (top.hidden_iframe_loaded) {
            top.hidden_iframe_loaded(document.body.innerHTML);
        }
    };
    </script>
</head>

<body>
    {% block content %}
    {% endblock %}
</body>
</html>
