#footer {
  ul.navigation {
    white-space: nowrap;
    li {
      display: inline-block;
      font-size: 14px;
      line-height: 14px;
      height: 14px;
      padding: 0px;
      padding-right: 7px;
      margin-right: 4px;
      border-right: 1px solid #ebebeb;
      
      &.selected a   { color: $blue;}
      a{
        color: black;

        &:hover   { color: $blue;}
      }
    }
  }
}

#sponsors {
  padding-bottom: 20px;
  background-color: #f2f2f2;
  h4 {
    font-size: 10px;
  }
  .container {
    > div {
      display: block;
      float: left;
      width: auto;
      height: 90px;
      margin-right: 2%;
      margin-bottom: 10px;
      padding-right: 2%;
      white-space: nowrap;
      border-right: 1px solid #ebebeb;
      a {
        padding-right: 20px;
        display: inline-block;
        opacity: 0.85;
        &:hover {
          color: black;
          opacity: 1;
        }

        span {
          display: none;
        }
      }
    }
    ul {
      float: left;
      list-style: none;
      margin-right: 0px;
      padding-right: 0px;
      border-right: none;
      a {
        font-size: 12px;
        display: block;
        padding-right: 0px;
        padding-bottom: 5px;
        line-height: 100%;
      }
      li.active a {
        color: black;
        font-weight: 700;
      }
    }
  }
}