@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

$red: #E53433;
$aqua: #47A9AC;
$oswald: 'Oswald', Arial, sans-serif;
$georgia: Georgia, "Times New Roman", Times, serif;

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, del, dfn, em, img, ins, kbd, q, samp, small, strong, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, footer, header, nav, section {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

html {
  height: 100%;
  width: 100%;
}

html {
  min-height:100.05%;
}
body {
  background: #fff;
  color:#3c3c3c;
  font-family: $oswald;
  font-size:12px;
  letter-spacing:0.3px;
  margin:0 auto;
  min-heigth: 100%;
}
a {
  text-decoration:none;
  color: $red;
  outline:none;
  &:hover {
    color: $aqua;
  }
}
br {
  line-height:18px;
}
b, strong {
  font-weight:bold;
}
ol, ul, li {
  list-style:none;
}
::selection {
  color:#fff;
  background:$aqua;
}
::-moz-selection {
  color:#fff;
  background:$aqua;
}

.clearfix:before, 
.clearfix:after {
  display: block;
  height: 0;
  visibility: hidden; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

#frame {
  border: 25px solid $aqua;
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
}

#top_frame_border {
  height: 25px;
  background: $aqua;
  position: fixed;
  top:0;
  left: 0;
  right: 0;
}
#bottom_frame_border {
  height: 25px;
  background: $aqua;
  position: fixed;
  bottom:0;
  left: 0;
  right: 0;
}

a {
  -ms-word-break: break-all;
  word-break: break-all;

  /* Non standard for webkit */
  word-break: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

b {
  font-weight: 700;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
#header {
  margin-top: 50px;
  #title {
    margin-left: 50px;
  }
  #logo {
    float: right;
    margin-right: 50px;
  }
  h1 {
    color: $red;
    font-size: 70px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 64px;
  }
  h2 {
    color: $red;
    font-size: 42px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 42px;
    margin-top: 15px;
  }
}

#container {
  margin-top: 50px;
}

.lead {
  font-size: 60px !important;
  line-height: 110%;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 50px;
}

#col-l,
#col-r {
  margin-bottom: 160px;
  text-align: left;
  min-height: 100%;
  width: 50%;
  position: relative;
  float: left;
  background-attachment: fixed;
  overflow: hidden;
}

#col-l {
  .tweet-header {
  }
  .tweet {
    margin-left: 50px;
    margin-right: 15px;
    // .avatar { -webkit-transform: scale(0);}
    &.inview {
      // .avatar { -webkit-transform: scale(1);}
    }
  }

}
#col-r {
  .tweet-header {
  }
  .tweet {
    margin-right: 50px;
    margin-left: 15px;
    // .avatar { -webkit-transform: scale(0);}
    &.inview {
      // .avatar { -webkit-transform: scale(1);}
    }
  }
}

.tweet {
  //         transition: background-color .05s ease-in-out .1s;
  //      -o-transition: background-color .05s ease-in-out .1s;
  //     -ms-transition: background-color .05s ease-in-out .1s;
  //    -moz-transition: background-color .05s ease-in-out .1s;
  // -webkit-transition: background-color .05s ease-in-out .1s;

  cursor: pointer;
  border-top: 2px solid $red;

  &:last-child {
    border-bottom: 2px solid $red;
  }
  font-family: $georgia;
  position: relative;
  display: block;
  padding: 20px;
  padding-top: 60px;

  &:hover {
    background-color: black;
    background-color: $aqua;
    .tweet-text a {
      color: #fff;
    }
  }

  .tweet-text {
    font-size: 26px;
    display: inline-block;
    a {
      font-weight: 200;
      color: $aqua;
      &:hover {
        color: #fff;
      }
    }
    small {display: inline; }
  }

  .tweet-header {
    padding-right: 75px;
    font-family: $oswald;
    color: $red;
    line-height: 15px;
    margin-bottom: 15px;
    position: relative;
    // white-space: nowrap;

    small {
      font-size: 17px;
      line-height: 100%;
      display: inline;
      padding-left: 5px;
      padding-right: 5px;
      padding-bottom: 3px;
    }

    a {
      color: $red;
    }
    img {
      right: 0px;
      bottom: -5px;
      position: absolute;
      height: 60px;

      transition: all .25s ease-in-out;
      -o-transition: all .25s ease-in-out;
      -ms-transition: all .25s ease-in-out;
      -moz-transition: all .25s ease-in-out;
      -webkit-transition: all .25s ease-in-out;
    }
  }

  .tweet-media {
    margin-top: 30px;
    // margin-bottom: -30px;
    img {
      width: 100%;
      border-radius: 4px;
      border: 2px solid black;
    }
  }
}

#footer {
  z-index: 5000;
  bottom: 0px;
  width: 100%;
  font-size: 15px;
  line-height: 15px;

  .studio38 {
    display: block;
    position: fixed;
    color: #fff;
    background: $aqua;
    left: 50px;
    bottom: 50px;
    padding: 10px;
  }
  .lindner {
    display: block;
    background: #fff;
    position: fixed;
    bottom: 20px;
    right: 25px;
    padding: 20px;
  }
  small {
    font-size: 12px;
    margin-bottom: 20px;
    line-height: 135%;
    display: block;
  }
}

