<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% load i18n base_tags %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <style type="text/css">
        /* <![CDATA[ */
        html, body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            border: none;
            background: transparent;
        }

        /* ]]> */
    </style>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Multipurpose Google Maps View</title>
    <script type="text/javascript"
            src="//maps.google.com/maps/api/js?language={{ LANGUAGE_CODE }}&amp;region=DE&amp;key={{ GOOGLE_API_KEY }}"></script>
    <script src="{% url 'jssettings' %}"></script>
    <script src="{{ JETSON_MEDIA_URL }}js/legacy.js"></script>
    <script type="text/javascript" src="{{ JETSON_MEDIA_URL }}js/gmap.js"></script>
</head>
<body>
</body>
</html>
