{% extends "base_sidebar.html" %}
{% load i18n crispy_forms_tags %}

{% block title %}
    {% trans "Password change" %}
{% endblock %}

{% block headline %}
    <h1>{% trans "Password change" %}</h1>
{% endblock %}

{% block sidebar %}
    {% include "site_specific/blocks/sidebar_settings.html" %}
{% endblock %}

{% block details %}
    {% crispy form form_helper "kb_form" %}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url "dashboard" %}">{% trans "My Profile" %}</a></li>
    <li>{% trans "Password change" %}</li>
{% endblock %}

