
.modal-centered {
  position: absolute;
  height: 100%;
  width: 100%;
  display: table;
  table-layout: fixed;
  z-index: 2000;
  
  > div,
  .cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;

    .inner {
      display: inline-block;
      text-align: left;
      width: 320px;
      margin-bottom: 25px;
      .modal-header,
      .modal-body {
        background-color: black;
      }
      .modal-footer {
        margin: 0px;
      }
      
      .alert {
        padding: 24px !important;
        margin-bottom: 20px;
        color: white;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
        background-color: $red;
        border: none;
        border-radius: 0px;
        li { line-height: 23px !important;}
      }
      fieldset {
        border: none;
        padding: 0px;
        legend {
          font-weight: 700;
          font-size: 16px;
          line-height: 20px;
          padding: 0px !important;
          height: auto !important;
          margin-bottom: 20px;
        }
      }
      .form-actions { 
        float: none;
        padding-bottom: 0px; 
        .btn-primary {
          height: 80px;
          white-space: nowrap;
          font-size: 28px;
          width: 100%;

          padding: 0px !important;
          line-height: 80px !important;
        }
      }

      header,
      footer {
        font-size: 14px;
        line-height: 22px;
      }
      h2 { margin-bottom: 10px}
      header { padding-bottom: 20px !important; }
      footer { padding-top: 20px !important; }
    }
  }
}