
.cms-plugin-intro {
  // width: 100%; 
  // border-bottom: 1px solid #f9f9f9;
  // padding-bottom: 35px;
  // margin-bottom: 35px;

  *:empty{ display: none;}
  &:empty{ display: none;}

  h1 { 
    font-weight: 700;
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 0px;
    display: block;
    &:last-child { margin-bottom: 0px; padding-bottom: 0px;}
  }

  h2 { 
    font-weight: 300;
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 0px;
    display: block;
    &:last-child { margin-bottom: 0px; padding-bottom: 0px;}
  }
  
  h3 { 
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 0px;
    display: block;
    text-transform: none;
    &:last-child { margin-bottom: 0px; padding-bottom: 0px;}
  }

  h4 { 
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 25px;
    &:last-child { margin-bottom: 0px; padding-bottom: 0px;}
  }
  
  .small p {font-size: 16px; line-height: 22px; width: 66%}

  p {
    &:first-of-type {margin-top: 20px; }
    font-size: 20px;
    line-height: 1.6;
  }
}