
// .gallery { overflow: hidden !important;}


.gallery #gallery { 
    -webkit-transition-duration: 0s, 0.25s;
    -webkit-transition-delay: 0s, 0s;

    top: 0%;
    opacity: 1;
    .gallery-img {
        -webkit-transform: scale(1) !important;
    }
}
#gallery.frontpage {
    position: relative;
    top: 0px;
    border: 1px solid red;
}

#gallery {
    position: fixed;
    top: -100%;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
    background-color: white;
    z-index: 40000;
    overflow: hidden;
    opacity: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-transform: translate3d(0px, 0, 0) !important;
    -moz-transform: translate3d(0px, 0, 0) !important;
    -o-transform: translate3d(0px, 0, 0) !important;
    transform: translate3d(0px, 0, 0) !important;
    

    -webkit-transition-property: top, opacity;
    -webkit-transition-duration: 0s, 0.25s;
    -webkit-transition-delay: 0.25s, 0s;
    -webkit-transition-timing: ease-in-out;

    * {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    &.only_one {
        .prev, .next { display: none;}
    }
    
    > span {
        width: 60px;
        height: 120px;
        line-height: 95px;
        text-align: center;
        font-size: 22px;
        position: absolute;
        top: 50%;
        margin-top: -70px;

        -webkit-transition-property: all;
        -webkit-transition-duration: 0.75s;
        -webkit-transition-timing: ease-in-out;

        -moz-transition-property: all;
        -moz-transition-duration: 0.75s;
        -moz-transition-timing: ease-in-out;

        -o-transition-property: all;
        -o-transition-duration: 0.75s;
        -o-transition-timing: ease-in-out;

        color: black;
        background-color: black;

        -webkit-background-clip: padding-box;
        -moz-background-clip: padding;
        background-clip: padding-box;
        background-repeat: no-repeat;
        background-size: 33px;

        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        overflow: hidden;

        &:hover { 
          -webkit-transition-duration: 0.1s;
          -moz-transition-duration: 0.1s;
          -o-transition-duration: 0.1s;
          background-color: rgba(0,0,0,0.95);
          color: white;
         }

        &.prev { 
          > span { right: 0; }
          left: 0;  
          border-right: 20px solid transparent;
          text-align: right;
          margin-left: -30px;
          background-image: url("../img/icons/inv/left.png");
          background-position: center;

          &:hover { margin-left: 0px; }
        }

        &.next { 
          > span { left: 0; }
          right: 0; 
          border-left: 20px solid transparent;
          text-align: left;
          margin-right: -30px;
          background-image: url("../img/icons/inv/right.png");
          background-position: center;
          &:hover { margin-right: 0px; }
        }
    }

    #slider {
        position: absolute;
        height: auto;
        width: auto;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        display: block;
        box-sizing: border-box;
        -moz-box-sizing: border-box;

        ul {
            // -webkit-transition-property: all;
            // -webkit-transition-duration: 0.75s;
            // -webkit-transition-timing: ease-in-out;
            // -moz-transition-property: all;
            // -moz-transition-duration: 0.75s;
            // -moz-transition-timing: ease-in-out;
            // -o-transition-property: all;
            // -o-transition-duration: 0.75s;
            // -o-transition-timing: ease-in-out;
            // -ms-transition-property: all;
            // -ms-transition-duration: 0.75s;
            // -ms-transition-timing: ease-in-out;
            // transition-property: all;
            // transition-duration: 0.75s;
            // transition-timing: ease-in-out;
           
            height: 100%;
            width: 100%;
            display: table;
            position: absolute;
            table-layout: top;
            box-sizing: border-box;
            -moz-box-sizing: border-box;

            li {
                height: 100%;
                width: 100%;
                vertical-align: middle;
                position: relative !important;
                display: block;
                float: left;
                box-sizing: border-box;
                -moz-box-sizing: border-box;

                .gallery-img {
                    position: absolute;
                    top: 6%;
                    bottom: 10%;
                    left: 6%;
                    right: 6%;
                    height: auto;
                    width: auto;
                    display: block;
                    background-size: contain;
                    // background-size: auto;
                    background-position: center;
                    background-repeat: no-repeat;
                    pointer-events: none;
                    background-color: white;
                }

                .info {
                    background-color: white;
                    text-align: center;
                    border-top: 1px solid #f2f2f2;
                    pointer-events: none; 
                    position: absolute;
                    width: 100%;
                    bottom: 0%;
                    left: auto;
                    right: auto;
                    margin: auto;
                    padding-left: 10%;
                    padding-right: 10%;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    display: block;
                    box-sizing: border-box;
                    -moz-box-sizing: border-box;

                    -webkit-transition-property: all;
                    -webkit-transition-duration: 0.25s;
                    -webkit-transition-timing: ease-in-out;

                    color: rgba(0,0,0,0.75);
                    font-size: 12px;
                    line-height: 18px;
                    // background-color: black;
                    // color: white;
                    // font-size: 20px;
                    // line-height: 32px;

                    .title { 
                    font-weight: 500; 
                    // display: block;
                    }
                }
            }
        }
    }

    nav {
        position: absolute;
        height: 60px;
        top: 0px;
        right: 0px;
        z-index: 20000;
        text-align: center;
        white-space: nowrap;
        font-size: 0px;
        border-bottom: 0px solid black;
        margin: 0px !important;

        button {
            width: 60px !important;
            height: 60px !important;
            margin: 0px !important;
            display: block;
            border: 0px;
            background-color: black;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 40px;
            &:hover  { opacity: 0.8;}
            &.prev   { background-image: url("../img/icons/inv/left.png"); }
            &.next   { background-image: url("../img/icons/inv/right.png"); }
            &.info   { background-image: url("../img/icons/inv/info.png"); }
            &.cancel { background-image: url("../img/icons/inv/cancel_light_2.png");}
        }
    }

    .pagination { 
        width: 100%;
        text-align: center;
        margin-bottom: 32px;
        height: 8px;
        position: absolute;
        top: 0px;
        z-index: 10000;
        
        li {
            display: inline-block;
            a { 
                display: inline-block;
                background-color: #ebebeb;
                color: black; 
                white-space: nowrap;
                text-indent: 30px;
                font-size: 0px;
                overflow: hidden;
                height: 8px;
                width: 8px;
                color: transparent;
                border-radius: 10px;
                margin-left: 2px;
                margin-right: 2px;
            }
            &.activeSlide,
            &:hover { 
                a { 
                    background-color: black;
                    color: white;
                }
            }
        }
       
    }
}