#mega_drop_down_menu {
  // css for the menu block content here
  
  padding:0px;
  position:fixed; 
  z-index:20; 
  width:100%;
  background:#eee; 
  top:50px;
  box-shadow:inset 0px 0px 1px #666666;
  display:none;
  
  h3 {
    font-size:16px;
    font-weight:bold;
    text-transform:uppercase;
  }
  
  h4 {
    margin-bottom:5px;
    font-size:14px;
    font-weight:bold;
    text-transform:uppercase;
  }
  
  .col-sm-4 {
    padding-top:20px !important;
    padding-left:16px;
    padding-right:20px;
  }
  .col-sm-4:first-child {
    padding-left:45px;
    padding-right:10px;
  }
  .col-sm-4:last-child {
    padding-left:5px;
    padding-right:50px;
  }
  
  .richtext {
    padding-bottom:20px;
    ul {
      list-style-type: none;
      font-size:15px;
    }
  }
  
  .no-richtext {
    padding-bottom:20px;
    img {
      margin-top:5px;
      margin-bottom:15px;
    }
    p {
      .btn {
        margin-top:10px;
        line-height:30px;
        min-height:30px;
        padding:0 8px;
        float:right;
      }
    }
  }
  
  .calendar {
    margin-top:5px;
    table {
      width:100%;
      background:#f5f5f5;
      tr:last-child td {
        border-bottom:10px solid #f5f5f5;
      }
	    td {
  		  padding:5px 0px;  
	    }
      .prev, .next, .switch, .day, .month, .year {
        cursor:pointer;
        border:1px solid #f5f5f5;
      }
      .day:hover, .month:hover, .year:hover {
        background:#dddddd;
      }
      .datepicker-years .switch {
        cursor:default;
      }
      .switch, .dow {
        text-align:center;
        border:1px solid #f5f5f5;
      }
      .prev {
        padding-left:14px;
      }
      .next {
        text-align:right;
        padding-right:14px;
      }
      .day {
		    width:14%;
        text-align:center;
      }
      .month {
        width:25%;
        display:block;
        float:left;
        text-align:center;
      }
      .year {
        width:25%;
        display:block;
        float:left;
        text-align:center;
      }
      .old, .new {
        color:#999999;
      }
      .active {
        font-weight:bold;
        color:#ffffff;
        background:#919191;
      }
      .active:hover {
        background:#999999;
      }
      .old.active, .new.active {
        background:#cccccc;
      }
    }
  }
}

#mega_drop_down_menu.show {
  display:block;
}

#top_nav ul.nav>li a:hover {
  color: $blue!important;
}
.mega-menu-active a {
  color: $blue!important;
}
.mega-menu-active a:after {
  content: "";
  position: absolute;
  top: 36px;
  width: 100%;
  height: 15px;
  display: block;
  background:url(../img/mega_menu_marker.png) no-repeat center bottom;
  z-index:100;
}

.mega-dropdown {
  position:relative;
}

.mega_drop_down.row {
  margin-bottom:0px;
}