
.panel-group {
  font-size: 14px;
  line-height: 20px;
  form {
    .form-control {
      border-color: #e6e6e6;
    }

    .radios {
      white-space: nowrap;
      label {
        position: relative;
        padding: 0px !important;
        padding-left: 30px !important;
        padding-right: 15px !important;
        line-height: 40px;
        height: 40px !important;
        width: auto;
        display: inline-block;
        box-sizing: border-box !important;
        -moz-box-sizing: border-box !important;
        min-height: auto;
        &:hover {background-color: rgba(0,0,0,0.075); cursor: pointer; }

        input[type="radio"],
        input[type="checkbox"] {
          margin: 0px !important;
          display: inline-block;
          margin-right: 5px !important;
          top: 50%;
          left: 10px;
          margin-left: 0px !important;
          margin-top: -6px !important;
          position: absolute;
        }
      }
    }

    textarea {
      height: 80px !important;
    }
  }

  .panel-heading {
    padding: 0px !important;
    position: relative;

    a {
      display: block;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 16px;
      line-height: 20px;
      padding-bottom: 13px;
      padding-top: 16px;
      padding-left: 20px;
      color: black;
      background-color: #e6e6e6;

      &:hover {background-color: #e6e6e6; }
      &.collapsed {
        background-color: transparent;
      }

      &.collapsed:after{
          border-top: 6px solid #505050;
          border-bottom: 0 dotted;
      }

      &:after{
        position: absolute;
        top: 50%;
        right: 20px;

        display: inline-block;
        width: 0;
        height: 0;
        margin-top: -4px;
        vertical-align: middle;
        border-right: 6px solid transparent;
        border-left: 6px solid transparent;
        border-bottom: 6px solid #505050;
        border-top: 0 dotted;
        content: "";
        opacity: 0.5;
      }
    }
  }

  .panel-collapse {
    border: none;
    margin-bottom: 0px;
    background-color: #f2f2f2;


    .panel-body {
      display: block;
      &#collapse-twitterfeed {
        .time { display: block; color: rgba(0,0,0,0.5);}
      }
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 12px;
      padding-bottom: 15px;
      border-top: 1px solid #f2f2f2;
      &.tight {
        padding-top: 5px;
        padding-bottom: 7px;
      }
    }
  }
}

dl {
  margin: 0px;
  padding-bottom: 10px;
  position: relative;
  .right { position: absolute; right: 0px; font-weight: 300; }

  a.crop {
    display: inline-block;
    margin-left: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
  }

  &:last-child { margin-bottom: 0px; padding-bottom: 0px;}
  &.inset {
    dt,
    dd {
      display: inline-block;
    }
  }

  dt {
    font-weight: normal;
    font-weight: 700;
  }
  dd {
    &.access img {
      float: left;
      margin-right: 10px;
      bottom: -2px;
      position: relative;
    }
    p {
      a {
        display: inline-block;
      }
    }
    &.languages {
      display: inline-block;

      &:after {
        content: ", ";
      }
      &:last-child:after {
        content: "" !important;
      }
    }

    // a:link { color: $blue;
    //   &:hover{ color: black;}
    // }

  }
  dl {
    dd { width: 49%; float: left; margin-right: 2%;
      &:last-child { margin-right: 0 !important; }
    }
  }
}