{% load i18n base_tags %}
{% for cat in categories %}
    {% if forloop.first %}
        <ul>
    {% endif %}
    {% if cat.item_count %}
	    <li> 
            <a href="#" class="no-children"><span>O</span></a>
            {% with form.location_types|dict_value:cat.sysname as location_type %}
   		   		{{ form|dict_value:location_type.field_name }}
   				<label for="id_LT_{{location_type.id}}">{{ cat.get_title|escape }} <em>({{ cat.item_count }})</em></label>
			{% endwith %}		            
            {% location_types_under cat.sysname using "search/location_types.html" %}
        </li>
    {% endif %}
    {% if forloop.last %}
        </ul>
    {% endif %}
{% endfor %}

