{% load i18n %}
<div id="popup_content">
    <form action="" method="post">
        <fieldset>
            <legend>{% trans "Invitation" %}</legend>
            <ul>
                <li>
                    {{ form.message.label_tag }}
                    {{ form.message }}
                    {{ form.message.error_tag }}
                </li>
            </ul>
        </fieldset>
        <div class="buttons">
            <input class="button_bad" type="button" name="cancel" value="{% filter upper %}{% trans 'Cancel' %}{% endfilter %}" />
            <input class="button_good" type="submit" id="post" name="post" value='{% filter upper %}{% trans "Deny" %}{% endfilter %}'/>       	
        </div>
    </form>
</div>
