{% load i18n %}
<div id="popup_content">
    <form action="" method="post">
        <p>
            {% blocktrans with user.profile.get_title as person_name %}Do you really want to unblock {{ person_name }}?{% endblocktrans %}</p>
        <div class="buttons">
            <input class="button_bad"
                   type="button"
                   name="cancel"
                   value="{% filter upper %}{% trans 'Cancel' %}{% endfilter %}"/>
            <input class="button_good"
                   type="submit"
                   id="post"
                   name="post"
                   value='{% filter upper %}{% trans "Unblock" %}{% endfilter %}'/>
        </div>
    </form>
</div>
