/* change-list-view modifications for grappelli */

#changelist-filter{top:0;}
#changelist-filter h2{	display:block;}

#toolbar { height:auto; }
#content li ul { margin: 0; }

#changelist input[type="checkbox"], #changelist input[type="radio"] {
    margin:0;
    position:relative;
    vertical-align:top;
}

/* change-form-view modifications for grappelli */
.inline-related {
    margin:0;
}
.language_button {
    color: #666666!important;
    background: #E0E0E0!important;
}
.language_button.selected {
    color: #ffffff!important;
    background:#309BBF!important;
}
#lang_tab_content h2.header {
    position: relative;
    background: #309BBF;
    top: -2px;
    height: 3px;
    margin-bottom: 2px;
}
a.deletelink {
    float:left;
    margin-right: 4px;
}

fieldset.module.plugin-holder .row {
    background: #EEEEEE;
    padding: 0;
}

fieldset.module.plugin-holder .span-4 {
    display: none;
}

fieldset.module.plugin-holder .span-4 + .span-flexible {
    margin-left:0;
}

.plugin-list-holder {
    background: #EEEEEE;
}

.plugin-editor iframe{
    min-height: 510px;
}

.plugin-editor p {
    font-size:11px;
    padding:8px 10px;
}

html, body {
    height: 100%;
}

.plugin-change-form .module.footer {
    background: -moz-linear-gradient(center top , #E3E3E3, #D6D6D6) repeat scroll 0 0 transparent;
}

.module .loading {
    font-size:11px;
    padding:8px 10px;
}

.group.th {
    border-bottom: none;
    -moz-border-radius: 0;
}
