/* PAGE STRUCTURE */
#container { position:relative; width:100%; min-width:760px; padding:0; z-index: 900; }
#content { margin:20px 15px; }
#header { height: 30px; padding-left: 15px; }
#content-main { float:left; width:100%; }
#content-related { float:left; width:18em; position:relative; margin-left: 20px; }
#navigation_column { float:left; width:18em; position:relative; margin-left:20px; }
#footer { clear:both; padding:10px; }

/*  COLUMN TYPES  */
.colMS { margin-right:20em !important; }
.colSM { margin-left:20em !important; }
.colSM #content-related { float:left; margin-right:0; margin-left:-19em; }
.colSM #content-main { float:right; }
.popup .colM { width:95%; }
.subcol { float:left; width:46%; margin-right:15px; }
.dashboard #content { width: 980px; }
.dashboard #content-main { width:500px; }

/*  HEADER  */
#header { border-bottom: 0px solid #555; background:#444 url(../../img/admin/header-bg.gif) top left repeat-x; color:#fff; z-index: 1000; }
#header a:link, #header a:visited { color:white; }
#header a:hover { text-decoration:underline; }
#branding h1 { float: left; padding:0 10px 0 15px; font-size:11px; margin:10px 0; font-weight:bold; color:#ccc;  }
#branding h2 { padding:0 10px; font-size:14px; margin:-8px 0 8px 0; font-weight:normal; color:#ffc; }
#user-tools { float: right; top:0; right:0; padding:0; margin:0; font-size:11px; text-align:left; }

/* SIDEBAR */
#content-related h3 { font-size:11px; color:#666; margin-bottom:3px; padding-bottom: 5px; border-bottom: 1px solid #eee; }
#content-related h4 { font-size:11px; }
/*#content-related .module h2 { background:#ccc url(../../img/admin/nav-bg.gif) bottom left repeat-x; color:#666; }*/

/* SIDEBAR.EXTENDED */
#navigation_column h3 { font-size:11px; color:#666; margin-bottom:3px; padding-bottom: 5px; border-bottom: 1px solid #eee; }
#navigation_column h4 { font-size:11px; }
/*#content-related-extended .module h2 { background:#eee url(../../img/admin/nav-bg.gif) bottom left repeat-x; color:#666; }*/