.tooltip {
  z-index: 5000 !important;
  font-size: 13px;
  line-height: 20px;
  font-weight: 500;
  overflow: visible;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  &.fade {
    -webkit-transition: none !important;
       -moz-transition: none !important;
        -ms-transition: none !important;
         -o-transition: none !important;
            transition: none !important;
  }
}
.tooltip.in {
  opacity: 1;
  filter: alpha(opacity=100);
}

.tooltip-inner {
  max-width: 100%;
  padding: 3px 8px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #000000;
  white-space: nowrap;
  font-weight: 700;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
}

.tooltip.top {
  margin-top: -5px;
}

.tooltip.right {
  margin-left: 5px;
}

.tooltip.bottom {
  margin-top: 5px;
}

.tooltip.left {
  margin-left: -5px;
}