{% load base_tags i18n image_modifications tagging_tags babel auth_extended fb_tags infoblocks favorites %}

{% with object as museum %}
  <div class="row row-md hidden-xs">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
      <header>
        <h3>{{ museum.title }} </h3>
        {% if museum.subtitle %}
          <h4> {{ museum.subtitle }} </h4>
        {% endif %}
      </header>
    </div>
    <div class="hidden-xs hidden-sm col-md-4 col-lg-3">
      <div class="actions">
        {% if request.user.is_authenticated %}
          {% adding2favorites for museum using "favorites/includes/favorite_detail.html" %}
        {% endif %}

        <a class="btn btn-default btn-round location" href="{% url "museum_list_map" %}#object_id={{ museum.pk }}">
          <span class="icon icon-location"></span>
          <span class="sr-only">{% trans "Show location on map" %}</span>
        </a>

        <button class="btn btn-default btn-round share-twitter" data-toggle="tooltip" data-placement="top" data-original-title="{% trans "Share on Twitter" %}"  data-url="{{ object.get_url }}" data-text="{{ museum.title }}">
          <span class="icon icon-social-twitter"></span>
          <span class="sr-only">{% trans "Share on Twitter" %}</span>
        </button>

        <button class="btn btn-default btn-round share-facebook" data-toggle="tooltip" data-placement="top" data-original-title="{% trans "Share on Facebook" %}" data-url="{{ object.get_url }}" data-text="{{ museum.title }}">
          <span class="icon icon-social-facebook"></span>
          <span class="sr-only">{% trans "Share on Facebook" %}</span>
        </button>
      </div>
    </div>
  </div>

  <div class="row row-md">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
      <p class="lead">{{ museum.get_rendered_description|striptags|truncatewords:"40"|urlize }}</p>
      <a class="btn btn-default" href="{{ museum.get_url_path }}">{% trans "more" %}</a>
      <button class="btn btn-info cancel">{% trans "Close" %}</button>
    </div>

    <div class="hidden-xs hidden-sm col-md-4 col-lg-3">
      {% with museum.get_current_season as season %}
        {% if season %}
          {% if season.is_appointment_based %}
            <dl>
              <dt><small>{% trans "Based on appointment" %}</small></dt>
            </dl>
          {% else %}
          {% regroup season.get_opening_hours by times as opening_hours %}
            {% for same_hours in opening_hours %}
              <dl>
                <dt><small>{% for day in same_hours.list %}{% if forloop.first %}{{ day.weekday }}{% endif %}{% if forloop.last %}{% if forloop.counter0 %}-{{ day.weekday }}{% endif %}{% endif %}{% endfor %}</small></dt>
                {% if same_hours.list.0.open %}
                  <dd><small>
                    {{ same_hours.list.0.open|time:"H:i" }}
                    {% if same_hours.list.0.break_close %}
                    - {{ same_hours.list.0.break_close|time:"H:i" }}
                    / {{ same_hours.list.0.break_open|time:"H:i" }}
                    - {{ same_hours.list.0.close|time:"H:i" }}
                    {% else %}
                    - {{ same_hours.list.0.close|time:"H:i" }}
                    {% endif %}
                    {% if LANGUAGE_CODE == "de" %} Uhr{% endif %}</small>
                  </dd>
                {% else %}
                  <dd><small>{% trans "closed" %}</small></dd>
                {% endif %}
              </dl>
            {% endfor %}
          {% endif %}
          {% if season.last_entry %}
            <dl>
              <dt><small>{% trans "Last entry" %}</small></dt>
              <dd><small>{{ season.last_entry }}</small></dd>
            </dl>
          {% endif %}
          {% if season.exceptions %}
            <p><small>{{ season.get_rendered_exceptions|striptags|truncatewords:"35"|urlize }}</small></p>
          {% endif %}
        {% endif %}
      {% endwith %}

      <p>
        <small>
        {% if museum.parent %}
          {{ museum.parent.street_address }},
          {% if museum.parent.street_address2 %}{{ museum.parent.street_address2 }},{% endif %}
          {{ museum.parent.postal_code }} {{ museum.parent.city }}
        {% else %}
          {{ museum.street_address }},
          {% if museum.street_address2 %}
            {{ museum.street_address2 }},
          {% endif %}
          {{ museum.postal_code }} {{ museum.city }}
        {% endif %}
        </small>
      </p>
    </div>
  </div>
{% endwith %}