{% extends base_template %}

{% load base_tags i18n auth_extended babel blog image_mods_tags %}

{% comment %}<!--
    This is the main template rendered by the handle_request view in the
    blog application. To minimize code, this is the "main template".
     
    context vars used:
    
    base_template   A "base template" used for template inheritance.
    object          The object related to the blog (or None)
    container       The blog container (defined by the rel. object)
-->{% endcomment %}

{% block open_graph %}
    {% if archive == "details" %}
        <meta property="og:title" content="{{ post.title }}" />
        <meta property="og:type" content="article"/>
        {% with post.get_rendered_body|get_first_media|get_media_src as media_src %}
            {% if media_src %}
                {% if "http://"|in_list:media_src %}
                    <meta property="og:image" content="{{ media_src }}" />
                {% else %}
                    <meta property="og:image" content="http://{{ request.get_host }}{{ media_src }}" />
                {% endif %}
            {% else %}
                <meta property="og:image" content="http://{{ request.get_host }}{{ STATIC_URL }}site/img/default/kb_opengraph.jpg" />
            {% endif %}
        {% endwith %}
        <meta property="og:description" content="{{ post.get_rendered_body|striptags|truncatewords:20|escape }}" />
    {% else %}
        <meta property="og:title" content="Blog" />
        <meta property="og:type" content="article" />
        <meta property="og:image" content="http://{{ request.get_host }}{{ STATIC_URL }}site/img/default/kb_opengraph.jpg" />
        <meta property="og:description" content="{{ site_settings.meta_description|escape }}" />
    {% endif %}
{% endblock %}

{% ifequal archive "details" %}
    {% block meta_tags %}
        {{ block.super }}
        <meta name="description" content="{{ post.body|striptags|truncatewords:100 }}..."/>
    {% endblock %}
{% endifequal %}

{% block extrahead %}
    {{ block.super }}
    <link rel="alternate" type="application/rss+xml" title="{% trans "Kreatives Brandenburg Blog" %}" href="{{ container.get_url_path }}{% if type %}{{ type.sysname }}/{% endif %}feeds/rss/"/>
{% endblock %}

{% block sidebar %}

    {{ block.super }}

    <div class="button-group">
        {% ifequal archive "details" %}
        
            {% if_has_perm "blog.change_blog_posts" post.blog %}
                <a class="fawesome fa-edit button text" href="{{ post.get_url_path }}edit/"><span class="text">{% trans "Edit Blog Entry" %}</span></a>
            {% end_if_has_perm %}
            {% if_has_perm "blog.delete_blog_posts" post.blog %}
                <a class="fawesome fa-close button text" href="{{ post.get_url_path }}delete/"><span class="text">{% trans "Delete Blog Entry" %}</span></a>
            {% end_if_has_perm %}   
            
            {% if_has_perm "blog.change_blog_posts" post.blog %}
                <br class="hidden-xs" /><br class="hidden-xs" />
            {% else %}
                {% if_has_perm "blog.delete_blog_posts" post.blog %}
                    <br class="hidden-xs" /><br class="hidden-xs" />
                {% end_if_has_perm %}
            {% end_if_has_perm %}
            
        {% endifequal %}
    </div>
    
    <ul class="accordion navi-box">
        <li class="accordion-inside accordion-trigger opened">
            <div class="accordion-trigger head">{% trans "Archives" %}</div>
            <ul class="accordion filter-box">
                <li><a href="{{ container.get_url_path }}">{% trans "All" %}</a></li>
                
                {% for year, month_list in archives %}                    
                    <li class="accordion-inside accordion-trigger {% if archive_year|add:"0" == year|add:"0" %}opened{% endif %}">
                        <div class="child accordion-trigger"><a class="{% if archive_year|add:"0" == year|add:"0" and not archive_month %}active{% endif %}" href="{{ container.get_url_path }}{{ year }}/">{{ year }}</a></div>
                        <ul class="accordion">
                            
                            {% for month_index, month_name in month_list %}
                                <li><a class="{% if archive_year|add:"0" == year|add:"0" and archive_month|add:"0" == month_index|add:"0" %}active{% endif %}" href="{{ container.get_url_path }}{{ year }}/{{ month_index }}/">{{ month_name }}</a></li>
                            {% endfor %}
                            
                        </ul>
                    </li>
                {% endfor %}
                
                {% if_has_perm "blog.change_blog_posts" container %}
                    <li><a href="{{ container.get_url_path }}drafts/">{% trans "Drafts" %} ({{ nof_drafts }})</a></li>
                {% else %}
                    {% if_has_perm object_change_permission container.content_object %}
                        <li><a href="{{ container.get_url_path }}drafts/">{% trans "Drafts" %} ({{ nof_drafts }})</a></li>
                    {% end_if_has_perm %}
                {% end_if_has_perm %}
            </ul>
        </li>        
        <li></li>
    </ul>
    
    {% tag_cloud_for_blog container as blog_tags %}
    <ul class="accordion navi-box">
        <li class="accordion-inside accordion-trigger opened">
            <div class="accordion-trigger head">{% trans "Tags" %}</div>
            <ul class="accordion filter-box">
                <li><a href="{{ container.get_url_path_path }}">{% trans "All" %}</a></li>
                {% for blog_tag in blog_tags %}
                    <li>
                        <a {% if tag == blog_tag.name or tag == blog_tag.slug %} class="active"{% endif %} href="{{ container.get_url_path }}tag/{{ blog_tag.slug|iriencode }}/">{{ blog_tag.name }} ({{ blog_tag.count }})</a>
                    </li>
                {% endfor %}
            </ul>
        </li>
        <li></li>
    </ul>

{% endblock %}

{% block details %}

    {% ifequal archive "details" %}
        {% include_selected "post_detail.html" for object under "blog" %}
    {% endifequal %}

    {% ifequal archive "tag_archive" %}
        {% include_selected "post_archive.html" for object under "blog" %}
    {% endifequal %}

    {% ifequal archive "day_archive" %}
        {% include_selected "post_archive_day.html" for object under "blog" %}
    {% endifequal %}

    {% ifequal archive "month_archive" %}
        {% include_selected "post_archive_month.html" for object under "blog" %}
    {% endifequal %}

    {% ifequal archive "year_archive" %}
        {% include_selected "post_archive_year.html" for object under "blog" %}
    {% endifequal %}

    {% ifequal archive "archive" %}
        {% include_selected "post_archive.html" for object under "blog" %}
    {% endifequal %}

{% endblock %}

{% block breadcrumbs_details %}
    
    {% ifequal post_filter "all" %}
        <li>{% trans "Blog" %}</li>
    {% else %}
        <li><a href="{{ container.get_url_path }}">{% trans "Blog" %}</a></li>
    {% endifequal %}

    {% ifequal archive "details" %}
        <li><a href="{{ container.get_url_path }}{{ post.published_from|date:"Y" }}/">{{ post.published_from|date:"Y" }}</a></li>
        <li><a href="{{ container.get_url_path }}{{ post.published_from|date:"Y" }}/{{ post.published_from|date:"m" }}/">{{ post.published_from|date:"m" }}</a></li>
        <li><a href="{{ container.get_url_path }}{{ post.published_from|date:"Y" }}/{{ post.published_from|date:"m" }}/{{ post.published_from|date:"d" }}/">{{ post.published_from|date:"d" }}</a></li>
        <li>{{ post.title|truncatewords:"5" }}</span></li>
    {% endifequal %}

    {% ifequal archive "tag_archive" %}
        <li>{{ tag }}</li>
    {% endifequal %}

    {% ifequal archive "day_archive" %}
        <li><a href="{{ container.get_url_path }}{{ day|date:"Y" }}/">{{ day|date:"Y" }}</a></li>
        <li><a href="{{ container.get_url_path }}{{ day|date:"Y" }}/{{ day|date:"m" }}/">{{ day|datefmt:"MMM" }} </a></li>
        <li>{{ day|date:"d" }}</li>
    {% endifequal %}

    {% ifequal archive "month_archive" %}
        <li><a href="{{ container.get_url_path }}{{ month|date:"Y" }}/">{{ month|date:"Y" }}</a></li>
        <li>{{ month|datefmt:"MMM" }}</li>
    {% endifequal %}

    {% ifequal archive "year_archive" %}
        <li>{{ year }}</li>
    {% endifequal %}
{% endblock %}
