{% extends "base.html" %}
{% load i18n base_tags navigation_tags %}

{% block title %}{{ message.subject }}{% endblock %}

{% block extrahead %}
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/website/generic.js"></script>
{% endblock %}


{% block headline %}
    <h1>{% trans "Your Messages" %}</h1>
{% endblock %}

{% block formstart %}
{% endblock %}

{% block formclose %}
{% endblock %}

{% block sidebar-a %}{{ block.super }}{% endblock %}


{% block sidebar-b %}{{ block.super }}{% endblock %}

{% block content %}
    {% block tabs %}
        <div id="tabs">
            {% children_of "messages" using "navigation/children_in_tabs.html" %}
        </div>
        <hr class="hidden"/>
    {% endblock %}
    <div id="details">
        {% block details %}
        {% endblock %}
        <hr class="hidden"/>
    </div>
{% endblock %}
