{% load i18n image_modifications %}
<div id="carousel-startpage" class="carousel slide">
    <div class="container">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        {% for slide in slides %}
        <li data-target="#carousel-startpage" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}"></li>
        {% endfor %}
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">

        {% for slide in slides %}
            <div class="item {% if forloop.first %}active{% endif %}">
                <a class="img" href="{{ slide.link }}">
                    <img src="{{ UPLOADS_URL }}{{ slide.path|modified_path:"slideshow" }}" alt="" />
                     <div class="carousel-caption">
                        <span class="overlay" href="{{ slide.link }}">
                            <h2>{{ slide.title|striptags }}</h2>
                            <h3>{{ slide.subtitle|striptags }}</h3>
                        </span>
                    </div>
                </a>
          </div>
        {% endfor %}
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-startpage" data-slide="prev">
        <span class="icon-prev"></span>
      </a>
      <a class="right carousel-control" href="#carousel-startpage" data-slide="next">
        <span class="icon-next"></span>
      </a>
    </div>
</div>