{% load i18n image_modifications %}

<script type="text/javascript" src="http://malsup.github.com/jquery.cycle.all.js"></script>
<script type="text/javascript">

$(document).ready(function() {
    $('#slideshow').cycle({
        fx:      'fade',
        speed:  350,
        timeout:  5000,
        prev:    '#slide-prev',
        next:    '#slide-next',
        pager:   '#pager',
    });
});
</script>

<div id="slideshow-wrapper">
    <ul id="slideshow">
        {% for slide in slides %}
            <li>
                <a class="img" href="{{ slide.link }}">
                <img src="{{ UPLOADS_URL }}{{ slide.path|modified_path:"slideshow" }}" alt="" />

                <span class="overlay" href="{{ slide.link }}">
                    <h2>{{ slide.title|striptags }}</h2>
                    <h3>{{ slide.subtitle|striptags }}</h3>
                </span>
                </a>
            </li>
        {% endfor %}
    </ul>

    <a id="slide-prev" href="#"><span>Prev</span></a> 
    <a id="slide-next" href="#"><span>Next</span></a>
    <div id="pager"></div>
</div>