{% extends "cms/default.html" %}
{% load i18n base_tags %}

{% block extrahead %}
    <link rel="alternate" type="application/rss+xml" title="{% trans "Subscribe to the news" %}" href="{% url "theater_of_the_week_feed" feed_type="rss" %}" />
{% endblock %}

{% block title %}{% trans "Theater of the week" %} – {% endblock %}

{% block content %}
    <div class="content theater-of-the-week">
		<div class="container main-container">
            <div class="row">
                 <div class="col-xs-12 print-padding">
                    {% block headline %}
                    {% endblock %}	
                    {% block details %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}