{% extends "base.html" %}
{% load base_tags i18n site_specific %}

{% block extrahead %}
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/website/registration.js"></script>
{% endblock %}

{% block title %}{% trans "Registration" %} - {% trans "Institution" %}{% endblock %}

{% block headline %}
    <h2 class="main">{% trans "Registration" %}</h2>
    <h2 class="sub">{% trans "Institution" %}</h2>
{% endblock %}

{% block sidebar-a %}
    {% include "utils/step_list.html" %}
{% endblock %}

{% block sidebar-b %}
{% endblock %}

{% block content %}
    <div class="reg confirm">
        <form action="" method="post">{% csrf_token %}
        <div class="field_layout">
            <h5>{% trans "Confirm Entered Data" %}</h5>
            
            <h3>
                {{ form_step_data.0.institution_name }} {{ form_step_data.0.institution_name2 }}
            </h3>
            <h2><span class="fn">{{ form_step_data.0.first_name }} {{ form_step_data.0.last_name }}</span></h2>
            {% if form_step_data.0.occupation %}
                <h4 class="type">{{ form_step_data.0.occupation }}</h4>
            {% endif %}
            
            <div class="events_profile">
                <img src="{% if form_step_data.1.avatar %}/helper/tmpimage/{{ form_step_data.1.avatar.tmp_filename }}/{{ LOGO_PREVIEW_SIZE }}/{% else %}{{ DEFAULT_FORM_LOGO_4_INSTITUTION }}{% endif %}" alt="{% trans "Image" %}" />
            </div>
            {% ifequal LANGUAGE_CODE "de" %}
                <p class="events_profile_txt">{{ form_step_data.1.description_de }}</p>
            {% else %}
                <p class="events_profile_txt">{{ form_step_data.1.description_en }}</p>
            {% endifequal %}
            {{ form_step_data.0.location_title }}
            <div class="cleaner"></div>
            <h5 href="#" class="checkline">{% trans "Contact" %}</h5>
            <div class="check border">
                <dl>
                    <dt>
                    {% if form_step_data.0.location_type %}
                        {{ form_step_data.0.get_location_type_display }}:
                    {% else %}
                    {% trans "Address" %}:
                    {% endif %}
                    </dt>
                    <dd>
                        <address>
                            {{ form_step_data.0.street_address|escape }}, 
                            {% if form_step_data.0.street_address2 %}
                                {{ form_step_data.0.street_address2|escape }}, 
                            {% endif %}
                            {{ form_step_data.0.postal_code|escape }} {{ form_step_data.0.city|escape }}, 
                            {{ form_step_data.0.get_country_display }}
                        </address>
                    </dd>
                </dl>
        
                <dl>
                    {% if form_step_data.0.phone_number %}
                        <dt>{% trans "Phone" %}:</dt>
                        <dd>+{{ form_step_data.0.phone_country }}-{{ form_step_data.0.phone_area }}-{{ form_step_data.0.phone_number }}</dd>
                    {% endif %}
                
                    {% if form_step_data.0.fax_number %}
                        <dt>{% trans "Fax" %}:</dt>
                        <dd>+{{ form_step_data.0.fax_country }}-{{ form_step_data.0.fax_area }}-{{ form_step_data.0.fax_number }}</dd>
                    {% endif %}
                
                    {% if form_step_data.0.mobile_number %}
                        <dt>{% trans "Mobile" %}:</dt>
                        <dd>+{{ form_step_data.0.mobile_country }}-{{ form_step_data.0.mobile_area }}-{{ form_step_data.0.mobile_number }}</dd>
                    {% endif %}
                </dl>
                    
                <dl>
                    {% if form_step_data.0.email0 %}
                        <dt>{% trans "E-mail Add" %}:</dt>
                        <dd><a href="form_step_data.0.email0">{{ form_step_data.0.email0 }}</a></dd>
                    {% endif %}
            
                    {% if form_step_data.0.email1 %}
                        <dt>{% trans "E-mail Add" %}:</dt>
                        <dd>
                        <a href="form_step_data.0.email1">
                        {{ form_step_data.0.email1 }}
                        </a>
                        </dd>
                    {% endif %}
            
                    {% if form_step_data.0.email2 %}
                        <dt>{% trans "E-mail Add" %}:</dt>
                        <dd><a href="form_step_data.0.email2">{{ form_step_data.0.email2 }}</a></dd>
                    {% endif %}
                </dl>
        
                <dl>
                    {% if form_step_data.0.url0_link %}
                        {% if form_step_data.0.url0_type %}
                            <dt>{{ form_step_data.0.get_url0_type_display }}:</dt>
                        {% else %}
                            <dt>{% trans "Website" %}:</dt>
                        {% endif %}
                        <dd>{{ form_step_data.0.url0_link }}</dd>
                    {% endif %}
            
                    {% if form_step_data.0.url1_link %}
                        {% if form_step_data.0.url1_type %}
                        <dt>{{ form_step_data.0.get_url1_type_display }}:</dt>
                        {% else %}
                            <dt>{% trans "Website" %}:</dt>
                        {% endif %}
                        <dd>{{ form_step_data.0.url1_link }}</dd>
                    {% endif %}
            
                    {% if form_step_data.0.url2_link %}
                        {% if form_step_data.0.url0_type %}
                            <dt>{{ form_step_data.0.get_url2_type_display }}:</dt>
                        {% else %}
                            <dt>{% trans "Website" %}:</dt>
                        {% endif %}
                        <dd>{{ form_step_data.0.url2_link }}</dd>
                    {% endif %}
                </dl>
        
                <dl>
                    {% if form_step_data.0.im0_address %}
                        {% if form_step_data.0.im0_type %}
                            <dt>{{ form_step_data.0.get_im0_type_display }}:</dt>
                        {% else %}
                            <dt>{% trans "Instant Messager" %}:</dt>
                        {% endif %}
                        <dd>{{ form_step_data.0.im0_address }}</dd>
                    {% endif %}
                    {% if form_step_data.0.im1_address %}
                        {% if form_step_data.0.im1_type %}
                            <dt>{{ form_step_data.0.get_im1_type_display }}:</dt>
                        {% else %}
                            <dt>{% trans "Instant Messager" %}:</dt>
                        {% endif %}
                        <dd>{{ form_step_data.0.im1_address }}</dd>
                    {% endif %}
            
                    {% if form_step_data.0.im2_address %}
                        {% if form_step_data.0.im2_type %}
                            <dt>{{ form_step_data.0.get_im2_type_display }}:</dt>
                        {% else %}
                            <dt>{% trans "Instant Messager" %}:</dt>
                        {% endif %}
                        <dd>{{ form_step_data.0.im2_address }}</dd>
                    {% endif %}
                </dl>

                {% if form_step_data.2.mon_open or form_step_data.2.mon_is_closed or form_step_data.2.tue_open or form_step_data.2.tue_is_closed or form_step_data.2.wed_open or form_step_data.2.wed_is_closed or form_step_data.2.thu_open or form_step_data.2.thu_is_closed or form_step_data.2.fri_open or form_step_data.2.fri_is_closed or form_step_data.2.sat_open or form_step_data.2.sat_is_closed or form_step_data.2.sun_open or form_step_data.2.sun_is_closed %}
	                <dl>
	                    <dt>{% trans "OPENING HOURS" %}:</dt>
	                    <dd class="time">
	                    	{% if form_step_data.2.mon_open or form_step_data.2.mon_is_closed %}
	                        	{% trans "Monday" %}:
	                        	{% if form_step_data.2.mon_is_closed %}
	                        		{% trans "closed" %}
	                        	{% else %}
	                        		{{ form_step_data.2.mon_open|time:_("TIME_FORMAT") }}
	                        		{% if form_step_data.2.mon_break_close %}
	                            		- {{ form_step_data.2.mon_break_close|time:_("TIME_FORMAT") }}, 
	                              		{{ form_step_data.2.mon_break_open|time:_("TIME_FORMAT") }} 
	                            		- {{ form_step_data.2.mon_close|time:_("TIME_FORMAT") }}
	                         		{% else %}
	                            		- {{ form_step_data.2.mon_close|time:_("TIME_FORMAT") }}
	                         		{% endif %}
	                        	{% endif %}
	                        	<br />
	                        {% endif %}
	                        {% if form_step_data.2.tue_open or form_step_data.2.tue_is_closed %}
	                        	{% trans "Tuesday" %}:
	                        	{% if form_step_data.2.tue_is_closed %}
	                        		{% trans "closed" %}
	                        	{% else %}
	                        		{{ form_step_data.2.tue_open|time:_("TIME_FORMAT") }}
	                        		{% if form_step_data.2.tue_break_close %}
	                            		- {{ form_step_data.2.tue_break_close|time:_("TIME_FORMAT") }}, 
	                              		{{ form_step_data.2.tue_break_open|time:_("TIME_FORMAT") }} 
	                            		- {{ form_step_data.2.tue_close|time:_("TIME_FORMAT") }}
	                         		{% else %}
	                            		- {{ form_step_data.2.tue_close|time:_("TIME_FORMAT") }}
	                         		{% endif %}
	                        	{% endif %}
	                        	<br />
	                        {% endif %}
	                        
	                        {% if form_step_data.2.wed_open or form_step_data.2.wed_is_closed %}
	                        	{% trans "Wednesday" %}:
	                        	{% if form_step_data.2.wed_is_closed %}
	                        		{% trans "closed" %}
	                        	{% else %}
	                        		{{ form_step_data.2.wed_open|time:_("TIME_FORMAT") }}
	                        		{% if form_step_data.2.wed_break_close %}
	                            		- {{ form_step_data.2.wed_break_close|time:_("TIME_FORMAT") }}, 
	                              		{{ form_step_data.2.wed_break_open|time:_("TIME_FORMAT") }} 
	                            		- {{ form_step_data.2.wed_close|time:_("TIME_FORMAT") }}
	                         		{% else %}
	                            		- {{ form_step_data.2.wed_close|time:_("TIME_FORMAT") }}
	                         		{% endif %}
	                        	{% endif %}
	                        	<br />
	                        {% endif %}
	                        
	                        {% if form_step_data.2.thu_open or form_step_data.2.thu_is_closed %}
	                        	{% trans "Thursday" %}:
	                        	{% if form_step_data.2.thu_is_closed %}
	                        		{% trans "closed" %}
	                        	{% else %}
	                        		{{ form_step_data.2.thu_open|time:_("TIME_FORMAT") }}
	                        		{% if form_step_data.2.thu_break_close %}
	                            		- {{ form_step_data.2.thu_break_close|time:_("TIME_FORMAT") }}, 
	                              		{{ form_step_data.2.thu_break_open|time:_("TIME_FORMAT") }} 
	                            		- {{ form_step_data.2.thu_close|time:_("TIME_FORMAT") }}
	                         		{% else %}
	                            		- {{ form_step_data.2.thu_close|time:_("TIME_FORMAT") }}
	                         		{% endif %}
	                        	{% endif %}
	                        	<br />
	                        {% endif %}
	                        
	                        {% if form_step_data.2.fri_open or form_step_data.2.fri_is_closed %}
	                        	{% trans "Friday" %}:
	                        	{% if form_step_data.2.fri_is_closed %}
	                        		{% trans "closed" %}
	                        	{% else %}
	                        		{{ form_step_data.2.fri_open|time:_("TIME_FORMAT") }}
	                        		{% if form_step_data.2.fri_break_close %}
	                            		- {{ form_step_data.2.fri_break_close|time:_("TIME_FORMAT") }}, 
	                              		{{ form_step_data.2.fri_break_open|time:_("TIME_FORMAT") }} 
	                            		- {{ form_step_data.2.fri_close|time:_("TIME_FORMAT") }}
	                         		{% else %}
	                            		- {{ form_step_data.2.fri_close|time:_("TIME_FORMAT") }}
	                         		{% endif %}
	                        	{% endif %}
	                        	<br />
	                        {% endif %}
	
							{% if form_step_data.2.sat_open or form_step_data.2.sat_is_closed %}
	                        	{% trans "Saturday" %}:
	                        	{% if form_step_data.2.sat_is_closed %}
	                        		{% trans "closed" %}
	                        	{% else %}
	                        		{{ form_step_data.2.sat_open|time:_("TIME_FORMAT") }}
	                        		{% if form_step_data.2.sat_break_close %}
	                            		- {{ form_step_data.2.sat_break_close|time:_("TIME_FORMAT") }}, 
	                              		{{ form_step_data.2.sat_break_open|time:_("TIME_FORMAT") }} 
	                            		- {{ form_step_data.2.sat_close|time:_("TIME_FORMAT") }}
	                         		{% else %}
	                            		- {{ form_step_data.2.sat_close|time:_("TIME_FORMAT") }}
	                         		{% endif %}
	                        	{% endif %}
	                        	<br />
	                        {% endif %}
	
							{% if form_step_data.2.sun_open or form_step_data.2.sun_is_closed %}
	                        	{% trans "Sunday" %}:
	                        	{% if form_step_data.2.sun_is_closed %}
	                        		{% trans "closed" %}
	                        	{% else %}
	                        		{{ form_step_data.2.sun_open|time:_("TIME_FORMAT") }}
	                        		{% if form_step_data.2.sun_break_close %}
	                            		- {{ form_step_data.2.sun_break_close|time:_("TIME_FORMAT") }}, 
	                              		{{ form_step_data.2.sun_break_open|time:_("TIME_FORMAT") }} 
	                            		- {{ form_step_data.2.sun_close|time:_("TIME_FORMAT") }}
	                         		{% else %}
	                            		- {{ form_step_data.2.sun_close|time:_("TIME_FORMAT") }}
	                         		{% endif %}
	                        	{% endif %}
	                        	<br />
	                        {% endif %}
	                    </dd>
	                </dl>
	        	{% endif %}
	        	
	        	{% if form_step_data.2.is_card_visa_ok or form_step_data.2.is_card_mastercard_ok or form_step_data.2.is_card_americanexpress_ok or form_step_data.2.is_paypal_ok or form_step_data.2.is_cash_ok or form_step_data.2.is_transaction_ok or form_step_data.2.is_prepayment_ok or form_step_data.2.is_on_delivery_ok or form_step_data.2.is_invoice_ok or form_step_data.2.is_ec_maestro_ok or form_step_data.2.is_giropay_ok %}
	        		<dl>
	                	<dt>{% trans "PAYMENT" %}:</dt>
	                    <dd>
	                    	{% if form_step_data.2.is_card_visa_ok %}
	                    		{% trans "Visa" %}<br /> 
	                    	{% endif %}
	                    	{% if form_step_data.2.is_card_mastercard_ok %}
	                    		{% trans "MasterCard" %}<br /> 
	                    	{% endif %}
	                    	{% if form_step_data.2.is_card_americanexpress_ok %}
	                    		{% trans "American Express" %}<br /> 
	                    	{% endif %}
	                    	{% if form_step_data.2.is_paypal_ok %}
	                    		{% trans "PayPal" %}<br /> 
	                    	{% endif %}
	                    	{% if form_step_data.2.is_cash_ok %}
	                    		{% trans "Cash" %}<br /> 
	                    	{% endif %}
	                    	{% if form_step_data.2.is_transaction_ok %}
	                    		{% trans "Bank transfer" %}<br /> 
	                    	{% endif %}
	                    	{% if form_step_data.2.is_prepayment_ok %}
	                    		{% trans "Prepayment" %}<br /> 
	                    	{% endif %}
	                    	{% if form_step_data.2.is_on_delivery_ok %}
	                    		{% trans "Payment on delivery" %}<br />
	                    	{% endif %}
	                    	{% if form_step_data.2.is_invoice_ok %}
	                    		{% trans "Invoice" %}<br /> 
	                    	{% endif %}
	                    	{% if form_step_data.2.is_ec_maestro_ok %}
	                    		{% trans "EC Maestro" %}<br />
	                    	{% endif %}
	                    	{% if form_step_data.2.is_giropay_ok %}
	                    		{% trans "Giropay" %}<br />
	                    	{% endif %}
	                    	
	                    </dd>
	            	</dl>
	        	{% endif %}
	        	
		        {% get_context_categories form_step_data.3 as context_categories %}
		        
		        {% if context_categories %}
			        <div class="cleaner"></div>
		            <h5 href="#" class="checkline">{% trans "Category" %}</h5>
			        <div class="check">
			            <dl>
                            <dt>
                            {% with object.get_context_categories|length as context_categories_count %}
                                {% ifequal context_categories_count 1 %}
                                    {% trans "Context Category" %}:
                                {% else %}
                                    {% trans "Context Categories" %}:
                                {% endifequal %}
                            {% endwith %}
                            </dt>
                            <dd>
                                {% for context_category in context_categories %}
                                    {{ context_category.get_title }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </dd>
			            </dl>		            
			        </div>    
				{% endif %}	            
            </div>
            <div class="buttons">
            {% include "utils/step_buttons_reg.html" %}
            </div>
            <div class="cleaner"></div>
        </div>
    </form>
</div>
{% endblock %}

