{% load base_tags comments i18n babel auth_extended blog image_modifications %}

<div class="blog_entry">
    <div class="headline">
        <div class="blog-info"></div>
        <h3>
            {{ post.title }}
        </h3>
    </div>

    {% if post.is_rest %}
        {{ post.body|safe|rest2html|linebreaks|urlize }}
    {% else %}
        {{ post.body|safe|markdown2html|linebreaks|urlize }}
    {% endif %}
    {% if post.tags %}
        <div class="post-meta">
            <span>{% trans "Tags" %}: </span>
            {% for tag in post.get_tags %}
                {% if not forloop.first %}|{% endif %}
                <a href="{{ container.get_url_path }}tag/{{ tag.slug }}/">{{ tag.name }} </a>
            {% endfor %}
        </div>
    {% endif %}
    {% if_has_perm "blog.change_blog_posts" blog %}
        <a class="btn btn-primary" title="{% trans "edit" %}" href="{{ post.get_url_path }}edit/">
            <span>{% trans "edit" %}</span></a>
    {% end_if_has_perm %}
    {% if_has_perm "blog.delete_blog_posts" blog %}
        <a class="btn btn-primary deletePost" title="{% trans "delete" %}" href="{{ post.get_url_path }}delete/">
            <span>{% trans "delete" %}</span></a>
    {% end_if_has_perm %}
</div>
