{% extends base_template %}

{% load base_tags i18n auth_extended blog %}

{% block details %}
    {{ block.super }}
    {% block object-title %}
        <h2>{% blocktrans with post.tile as title %}Delete Post - {{ title }}{% endblocktrans %}</h2>{% endblock %}

    <form action="" method="post">
        <p>Are you sure to delete the post "{{ post.title }}"?</p>
        <p class="entry">
            <input type="hidden" name="post_data" value="{{ post_data }}"/>
            <input type="hidden"
                   name="goto_next"
                   value="{% if goto_next %}{{ goto_next }}{% else %}{{ container.get_url }}{% endif %}"/>
            <input id="id_delete" type="submit" name="delete" value="{% trans 'Delete' %}"/>
            <input id="id_cancel" type="submit" name="cancel" value="{% trans 'Cancel' %}"/>
        </p>
    </form>

{% endblock %}

