/* line 21, ../bootstrap/_theme.scss */
.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075); }
  /* line 28, ../bootstrap/_theme.scss */
  .btn-default:active, .btn-default.active,
  .btn-primary:active,
  .btn-primary.active,
  .btn-success:active,
  .btn-success.active,
  .btn-info:active,
  .btn-info.active,
  .btn-warning:active,
  .btn-warning.active,
  .btn-danger:active,
  .btn-danger.active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }

/* line 49, ../bootstrap/_theme.scss */
.btn:active, .btn.active {
  background-image: none; }

/* line 55, ../bootstrap/_theme.scss */
.btn-default {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(black), to(black));
  background-image: -webkit-linear-gradient(top, black, 0%, black, 100%);
  background-image: -moz-linear-gradient(top, black 0%, black 100%);
  background-image: linear-gradient(to bottom, black 0%, black 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF000000', endColorstr='#FF000000', GradientType=0);
  border-color: black;
  text-shadow: 0 1px 0 #fff;
  border-color: #ccc; }
  /* line 39, ../bootstrap/_theme.scss */
  .btn-default:active, .btn-default.active {
    background-color: black;
    border-color: black; }

/* line 56, ../bootstrap/_theme.scss */
.btn-primary {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#00aefd), to(#008bca));
  background-image: -webkit-linear-gradient(top, #00aefd, 0%, #008bca, 100%);
  background-image: -moz-linear-gradient(top, #00aefd 0%, #008bca 100%);
  background-image: linear-gradient(to bottom, #00aefd 0%, #008bca 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF00AEFD', endColorstr='#FF008BCA', GradientType=0);
  border-color: #0084c0; }
  /* line 39, ../bootstrap/_theme.scss */
  .btn-primary:active, .btn-primary.active {
    background-color: #008bca;
    border-color: #0084c0; }

/* line 57, ../bootstrap/_theme.scss */
.btn-success {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#1edc80), to(#18af66));
  background-image: -webkit-linear-gradient(top, #1edc80, 0%, #18af66, 100%);
  background-image: -moz-linear-gradient(top, #1edc80 0%, #18af66 100%);
  background-image: linear-gradient(to bottom, #1edc80 0%, #18af66 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF1EDC80', endColorstr='#FF18AF66', GradientType=0);
  border-color: #17a661; }
  /* line 39, ../bootstrap/_theme.scss */
  .btn-success:active, .btn-success.active {
    background-color: #18af66;
    border-color: #17a661; }

/* line 58, ../bootstrap/_theme.scss */
.btn-warning {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ffe345), to(#ffdb12));
  background-image: -webkit-linear-gradient(top, #ffe345, 0%, #ffdb12, 100%);
  background-image: -moz-linear-gradient(top, #ffe345 0%, #ffdb12 100%);
  background-image: linear-gradient(to bottom, #ffe345 0%, #ffdb12 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFE345', endColorstr='#FFFFDB12', GradientType=0);
  border-color: #ffda08; }
  /* line 39, ../bootstrap/_theme.scss */
  .btn-warning:active, .btn-warning.active {
    background-color: #ffdb12;
    border-color: #ffda08; }

/* line 59, ../bootstrap/_theme.scss */
.btn-danger {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ff4582), to(#ff1260));
  background-image: -webkit-linear-gradient(top, #ff4582, 0%, #ff1260, 100%);
  background-image: -moz-linear-gradient(top, #ff4582 0%, #ff1260 100%);
  background-image: linear-gradient(to bottom, #ff4582 0%, #ff1260 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFF4582', endColorstr='#FFFF1260', GradientType=0);
  border-color: #ff0859; }
  /* line 39, ../bootstrap/_theme.scss */
  .btn-danger:active, .btn-danger.active {
    background-color: #ff1260;
    border-color: #ff0859; }

/* line 60, ../bootstrap/_theme.scss */
.btn-info {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#f2f2f2), to(#d8d8d8));
  background-image: -webkit-linear-gradient(top, #f2f2f2, 0%, #d8d8d8, 100%);
  background-image: -moz-linear-gradient(top, #f2f2f2 0%, #d8d8d8 100%);
  background-image: linear-gradient(to bottom, #f2f2f2 0%, #d8d8d8 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF2F2F2', endColorstr='#FFD8D8D8', GradientType=0);
  border-color: lightgrey; }
  /* line 39, ../bootstrap/_theme.scss */
  .btn-info:active, .btn-info.active {
    background-color: #d8d8d8;
    border-color: lightgrey; }

/* line 69, ../bootstrap/_theme.scss */
.thumbnail,
.img-thumbnail {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075); }

/* line 83, ../bootstrap/_theme.scss */
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#00aefd), to(#009ce4));
  background-image: -webkit-linear-gradient(top, #00aefd, 0%, #009ce4, 100%);
  background-image: -moz-linear-gradient(top, #00aefd 0%, #009ce4 100%);
  background-image: linear-gradient(to bottom, #00aefd 0%, #009ce4 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF00AEFD', endColorstr='#FF009CE4', GradientType=0);
  background-color: #009ce4; }

/* line 95, ../bootstrap/_theme.scss */
.navbar {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(white), to(#f8f8f8));
  background-image: -webkit-linear-gradient(top, white, 0%, #f8f8f8, 100%);
  background-image: -moz-linear-gradient(top, white 0%, #f8f8f8 100%);
  background-image: linear-gradient(to bottom, white 0%, #f8f8f8 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFF8F8F8', GradientType=0);
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075); }
  /* line 101, ../bootstrap/_theme.scss */
  .navbar .navbar-nav > .active > a {
    background-color: #f8f8f8; }

/* line 106, ../bootstrap/_theme.scss */
.navbar-brand,
.navbar-nav > li > a {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25); }

/* line 111, ../bootstrap/_theme.scss */
.navbar-inverse {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#3c3c3c), to(#222222));
  background-image: -webkit-linear-gradient(top, #3c3c3c, 0%, #222222, 100%);
  background-image: -moz-linear-gradient(top, #3c3c3c 0%, #222222 100%);
  background-image: linear-gradient(to bottom, #3c3c3c 0%, #222222 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF3C3C3C', endColorstr='#FF222222', GradientType=0); }
  /* line 114, ../bootstrap/_theme.scss */
  .navbar-inverse .navbar-nav > .active > a {
    background-color: #222222; }
  /* line 119, ../bootstrap/_theme.scss */
  .navbar-inverse .navbar-brand,
  .navbar-inverse .navbar-nav > li > a {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }

/* line 127, ../bootstrap/_theme.scss */
.navbar-static-top,
.navbar-fixed-top,
.navbar-fixed-bottom {
  border-radius: 0; }

/* line 138, ../bootstrap/_theme.scss */
.alert {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05); }

/* line 151, ../bootstrap/_theme.scss */
.alert-success {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#dff0d8), to(#c8e5bc));
  background-image: -webkit-linear-gradient(top, #dff0d8, 0%, #c8e5bc, 100%);
  background-image: -moz-linear-gradient(top, #dff0d8 0%, #c8e5bc 100%);
  background-image: linear-gradient(to bottom, #dff0d8 0%, #c8e5bc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFDFF0D8', endColorstr='#FFC8E5BC', GradientType=0);
  border-color: #b2dba1; }

/* line 152, ../bootstrap/_theme.scss */
.alert-info {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#d9edf7), to(#b9def0));
  background-image: -webkit-linear-gradient(top, #d9edf7, 0%, #b9def0, 100%);
  background-image: -moz-linear-gradient(top, #d9edf7 0%, #b9def0 100%);
  background-image: linear-gradient(to bottom, #d9edf7 0%, #b9def0 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFD9EDF7', endColorstr='#FFB9DEF0', GradientType=0);
  border-color: #9acfea; }

/* line 153, ../bootstrap/_theme.scss */
.alert-warning {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#fcf8e3), to(#f8efc0));
  background-image: -webkit-linear-gradient(top, #fcf8e3, 0%, #f8efc0, 100%);
  background-image: -moz-linear-gradient(top, #fcf8e3 0%, #f8efc0 100%);
  background-image: linear-gradient(to bottom, #fcf8e3 0%, #f8efc0 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFCF8E3', endColorstr='#FFF8EFC0', GradientType=0);
  border-color: #f5e79e; }

/* line 154, ../bootstrap/_theme.scss */
.alert-danger {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#f2dede), to(#e7c3c3));
  background-image: -webkit-linear-gradient(top, #f2dede, 0%, #e7c3c3, 100%);
  background-image: -moz-linear-gradient(top, #f2dede 0%, #e7c3c3 100%);
  background-image: linear-gradient(to bottom, #f2dede 0%, #e7c3c3 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF2DEDE', endColorstr='#FFE7C3C3', GradientType=0);
  border-color: #dca7a7; }

/* line 163, ../bootstrap/_theme.scss */
.progress {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ebebeb), to(whitesmoke));
  background-image: -webkit-linear-gradient(top, #ebebeb, 0%, whitesmoke, 100%);
  background-image: -moz-linear-gradient(top, #ebebeb 0%, whitesmoke 100%);
  background-image: linear-gradient(to bottom, #ebebeb 0%, whitesmoke 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEBEBEB', endColorstr='#FFF5F5F5', GradientType=0); }

/* line 173, ../bootstrap/_theme.scss */
.progress-bar {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#00aefd), to(#008bca));
  background-image: -webkit-linear-gradient(top, #00aefd, 0%, #008bca, 100%);
  background-image: -moz-linear-gradient(top, #00aefd 0%, #008bca 100%);
  background-image: linear-gradient(to bottom, #00aefd 0%, #008bca 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF00AEFD', endColorstr='#FF008BCA', GradientType=0); }

/* line 174, ../bootstrap/_theme.scss */
.progress-bar-success {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#1edc80), to(#18af66));
  background-image: -webkit-linear-gradient(top, #1edc80, 0%, #18af66, 100%);
  background-image: -moz-linear-gradient(top, #1edc80 0%, #18af66 100%);
  background-image: linear-gradient(to bottom, #1edc80 0%, #18af66 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF1EDC80', endColorstr='#FF18AF66', GradientType=0); }

/* line 175, ../bootstrap/_theme.scss */
.progress-bar-info {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#f2f2f2), to(#d8d8d8));
  background-image: -webkit-linear-gradient(top, #f2f2f2, 0%, #d8d8d8, 100%);
  background-image: -moz-linear-gradient(top, #f2f2f2 0%, #d8d8d8 100%);
  background-image: linear-gradient(to bottom, #f2f2f2 0%, #d8d8d8 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF2F2F2', endColorstr='#FFD8D8D8', GradientType=0); }

/* line 176, ../bootstrap/_theme.scss */
.progress-bar-warning {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ffe345), to(#ffdb12));
  background-image: -webkit-linear-gradient(top, #ffe345, 0%, #ffdb12, 100%);
  background-image: -moz-linear-gradient(top, #ffe345 0%, #ffdb12 100%);
  background-image: linear-gradient(to bottom, #ffe345 0%, #ffdb12 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFE345', endColorstr='#FFFFDB12', GradientType=0); }

/* line 177, ../bootstrap/_theme.scss */
.progress-bar-danger {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ff4582), to(#ff1260));
  background-image: -webkit-linear-gradient(top, #ff4582, 0%, #ff1260, 100%);
  background-image: -moz-linear-gradient(top, #ff4582 0%, #ff1260 100%);
  background-image: linear-gradient(to bottom, #ff4582 0%, #ff1260 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFF4582', endColorstr='#FFFF1260', GradientType=0); }

/* line 185, ../bootstrap/_theme.scss */
.list-group {
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075); }

/* line 191, ../bootstrap/_theme.scss */
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  text-shadow: 0 -1px 0 #008bca;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#00aefd), to(#0094d7));
  background-image: -webkit-linear-gradient(top, #00aefd, 0%, #0094d7, 100%);
  background-image: -moz-linear-gradient(top, #00aefd 0%, #0094d7 100%);
  background-image: linear-gradient(to bottom, #00aefd 0%, #0094d7 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF00AEFD', endColorstr='#FF0094D7', GradientType=0);
  border-color: #0094d7; }

/* line 204, ../bootstrap/_theme.scss */
.panel {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); }

/* line 214, ../bootstrap/_theme.scss */
.panel-default > .panel-heading {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(whitesmoke), to(#e8e8e8));
  background-image: -webkit-linear-gradient(top, whitesmoke, 0%, #e8e8e8, 100%);
  background-image: -moz-linear-gradient(top, whitesmoke 0%, #e8e8e8 100%);
  background-image: linear-gradient(to bottom, whitesmoke 0%, #e8e8e8 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF5F5F5', endColorstr='#FFE8E8E8', GradientType=0); }

/* line 215, ../bootstrap/_theme.scss */
.panel-primary > .panel-heading {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#00aefd), to(#009ce4));
  background-image: -webkit-linear-gradient(top, #00aefd, 0%, #009ce4, 100%);
  background-image: -moz-linear-gradient(top, #00aefd 0%, #009ce4 100%);
  background-image: linear-gradient(to bottom, #00aefd 0%, #009ce4 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF00AEFD', endColorstr='#FF009CE4', GradientType=0); }

/* line 216, ../bootstrap/_theme.scss */
.panel-success > .panel-heading {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#dff0d8), to(#d0e9c6));
  background-image: -webkit-linear-gradient(top, #dff0d8, 0%, #d0e9c6, 100%);
  background-image: -moz-linear-gradient(top, #dff0d8 0%, #d0e9c6 100%);
  background-image: linear-gradient(to bottom, #dff0d8 0%, #d0e9c6 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFDFF0D8', endColorstr='#FFD0E9C6', GradientType=0); }

/* line 217, ../bootstrap/_theme.scss */
.panel-info > .panel-heading {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#d9edf7), to(#c4e3f3));
  background-image: -webkit-linear-gradient(top, #d9edf7, 0%, #c4e3f3, 100%);
  background-image: -moz-linear-gradient(top, #d9edf7 0%, #c4e3f3 100%);
  background-image: linear-gradient(to bottom, #d9edf7 0%, #c4e3f3 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFD9EDF7', endColorstr='#FFC4E3F3', GradientType=0); }

/* line 218, ../bootstrap/_theme.scss */
.panel-warning > .panel-heading {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#fcf8e3), to(#faf2cc));
  background-image: -webkit-linear-gradient(top, #fcf8e3, 0%, #faf2cc, 100%);
  background-image: -moz-linear-gradient(top, #fcf8e3 0%, #faf2cc 100%);
  background-image: linear-gradient(to bottom, #fcf8e3 0%, #faf2cc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFCF8E3', endColorstr='#FFFAF2CC', GradientType=0); }

/* line 219, ../bootstrap/_theme.scss */
.panel-danger > .panel-heading {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#f2dede), to(#ebcccc));
  background-image: -webkit-linear-gradient(top, #f2dede, 0%, #ebcccc, 100%);
  background-image: -moz-linear-gradient(top, #f2dede 0%, #ebcccc 100%);
  background-image: linear-gradient(to bottom, #f2dede 0%, #ebcccc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF2DEDE', endColorstr='#FFEBCCCC', GradientType=0); }

/* line 227, ../bootstrap/_theme.scss */
.well {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#e8e8e8), to(whitesmoke));
  background-image: -webkit-linear-gradient(top, #e8e8e8, 0%, whitesmoke, 100%);
  background-image: -moz-linear-gradient(top, #e8e8e8 0%, whitesmoke 100%);
  background-image: linear-gradient(to bottom, #e8e8e8 0%, whitesmoke 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFE8E8E8', endColorstr='#FFF5F5F5', GradientType=0);
  border-color: gainsboro;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1); }
