{% extends "base.html" %}
{% load base_tags i18n image_modifications tagging_tags babel auth_extended favorites workshops_tags %}
{% block title %}{% trans "Guided Tour" %} – {{ object.title }}{% endblock %}
{% block bodyclass %}workshop-detail{% endblock %}

{% block open_graph %}
    <meta property="og:title" content="{{ object.title }}" />
    <meta property="og:type" content="article" />
    {% if object.cover_image %}
      <meta property="og:image" content="http://{{ request.get_host }}{{ MEDIA_URL }}{{ object.cover_image|modified_path:"og" }}" />
    {% else %}
      <meta property="og:image" content="http://{{ request.get_host }}{{ STATIC_URL }}site/img/logo/museumsportal-og.jpg" />
    {% endif %}
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="600" />
    <meta property="og:image:height" content="600" />
    <meta property="og:description" content="{{ object.get_rendered_description|striptags|truncatewords:20|escape }}" />
{% endblock %}

{% block js %}
  <script type="text/javascript" src="{{ STATIC_URL }}site/js/share.js" defer="defer"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}site/js/favorites.js" defer="defer"></script>
  <script type="text/javascript">
    var aGeopositions = [];
    $(document).ready(function(){
      $(".toggle_bvg").click(function () {
        $("#bvg_widget").toggleClass("on");
        return false;
      });
    });
  </script>
{% endblock %}

{% block content %}
  {% with object as workshop %}

    <div id="exhibition" class="content">
      <div class="container">

        <div class="row">

          <!-- ======= Main Collumn ======= -->

          <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <article>
              <header>
                <h2>
                  <time>
                    {% if workshop.has_group_offer or not workshop.workshoptime_set.count %}
                      {% for t in workshop.types.all %}{{ t.title }}{% if not forloop.last %}, {% else %}:{% endif %}{% endfor %}
                      {% trans "Bookable Offer" %}
                    {% else %}
                      {% for t in workshop.types.all %}{{ t.title }}{% if not forloop.last %}, {% else %}:{% endif %}{% endfor %}
                      {% if selected_date %}
                        {% with workshop|get_selected_date:selected_date as workshop_time %}
                          <span class="nobr">{{ workshop_time.workshop_date|date:"j. F Y" }}
                        {{ workshop_time.start|time:"H:i" }}{% if workshop_time.end %} {% trans "till" %} {{ workshop_time.end|time:"H:i" }}{% endif %}{% if LANGUAGE_CODE == "de" %} Uhr{% endif %}</span>
                        {% endwith %}
                      {% else %}
                        {% with workshop.get_closest_workshop_time as workshop_time %}
                          <span class="nobr">{{ workshop_time.workshop_date|date:"j. F Y" }}
                        {{ workshop_time.start|time:"H:i" }}{% if workshop_time.end %} {% trans "till" %} {{ workshop_time.end|time:"H:i" }}{% endif %}{% if LANGUAGE_CODE == "de" %} Uhr{% endif %}</span>
                        {% endwith %}
                       {% endif %}
                    {% endif %}
                  </time>
                </h2>

                <h1>{{ workshop.title }}
                  {% if_has_perm "workshops.change_workshop" object %}
                    {% if not request.is_mobile %}
                      <span class="cms_edit"><a class="icon icon-pencil" data-toggle="tooltip" data-placement="bottom" data-original-title="{% trans "Edit" %}" href="{{ request.path }}change/">&nbsp;<span class="sr-only">{% trans "Edit" %}</span></a></span>
                    {% endif %}
                  {% end_if_has_perm %}
                </h1>

                {% if workshop.subtitle %}
                  <h2>{{ workshop.subtitle }}</h2>
                {% endif %}

                {% if workshop.location_name %}
                  <h3>{{ workshop.location_name }}</h3>
                {% else %}
                  {% if workshop.museum %}
                      <a href="{{ workshop.museum.get_url_path }}"><h3>{{ workshop.museum.title }}</h3></a>
                  {% endif %}
                {% endif %}
              </header>

              <!-- ======= Tools ======= -->

              <div class="tools">
                <a class="btn btn-default btn-round location" href="{% url "workshop_list_map" %}#object_id={{ workshop.pk }}">
                  <span class="icon icon-location"></span>
                  <span class="sr-only">{% trans "Show location on map" %}</span>
                </a>

                {% if request.user.is_authenticated %}
                  {% adding2favorites for workshop using "favorites/includes/favorite_detail.html" %}
                {% endif %}

                <button class="btn btn-default btn-round share-twitter" data-toggle="tooltip" data-placement="top" data-original-title="{% trans "Share on Twitter" %}" data-url="{{ object.get_url }}" data-text="{% if exhibition.museum %}{% with exhibition.museum as museum %}{{ museum.title }}{% endwith %} {% else %}{{ exhibition.location_name }} {% endif %} / {% if exhibition.permanent %}{% trans "Permanent exhibition" %}, {{ exhibition.start|date:"d.m.Y" }} {% trans "until further notice" %}{% else %}{{ exhibition.start|date:"d.m.Y" }}{% if exhibition.end %} {% trans "till" %} {{ exhibition.end|date:"d.m.Y" }}{% endif %}{% endif %} / {{ object.title }} / {{ object.subtitle }}">
                  <span class="icon icon-social-twitter"></span>
                  <span class="sr-only">{% trans "Share on Twitter" %}</span>
                </button>

                <button class="btn btn-default btn-round share-facebook" data-toggle="tooltip" data-placement="top" data-original-title="{% trans "Share on Facebook" %}" data-url="{{ object.get_url }}" data-text="{% if exhibition.museum %}{% with exhibition.museum as museum %}{{ museum.title }}{% endwith %} {% else %}{{ exhibition.location_name }} {% endif %} / {% if exhibition.permanent %}{% trans "Permanent exhibition" %}, {{ exhibition.start|date:"d.m.Y" }} {% trans "until further notice" %}{% else %}{{ exhibition.start|date:"d.m.Y" }}{% if exhibition.end %} {% trans "till" %} {{ exhibition.end|date:"d.m.Y" }}{% endif %}{% endif %} / {{ object.title }} / {{ object.subtitle }}">
                  <span class="icon icon-social-facebook"></span>
                  <span class="sr-only">{% trans "Share on Facebook" %}</span>
                </button>
              </div>

              {% comment %}
                {% if object.get_other_workshops or object.get_related_products %}
                <div class="btn-group" style="margin-bottom: 15px;">
                    <a class="btn btn-info btn-sm" href="#section-workshops">{% trans "Other Guided Tours, Workshops and educational offers" %}</a>
                </div>
                {% if object.get_related_products %}
                  <a class="btn btn-info btn-sm" href="#section-related-products">{% trans "Products" %}</a>
                {% endif %}
                {% endif %}
              {% endcomment %}

              {% include "utils/cover_image.html" %}

              <div class="lead">
                {{ workshop.get_rendered_description|disarm_user_input }}
              </div>

              {% if workshop.get_particularities or workshop.meeting_place or workshop.age_groups or workshop.get_languages %}
                <div class="extras">
                  {% if workshop.get_particularities %}
                    <dl>
                      <dt>{% trans "Particularities" %}</dt>
                      <dd class="meeting_place">
                        {{ workshop.get_particularities|join:'<br />' }}
                      </dd>
                    </dl>
                  {% endif %}

                  {% if workshop.meeting_place %}
                    <dl>
                      <dt>{% trans "Meeting point" %}</dt>
                      <dd class="meeting_place">
                        {{ workshop.meeting_place }}
                      </dd>
                    </dl>
                  {% endif %}

                  {% if workshop.age_groups %}
                    <dl class="meeting_place">
                      <dt>{% trans "Age groups" %}</dt>
                        {% for cat in workshop.age_groups.all %}
                          {{ cat.title }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                      </dd>
                    </dl>
                  {% endif %}

                  {% if workshop.get_languages %}
                    <dl>
                      <dt>{% trans "Languages" %}</dt>
                      <dd>
                      {% for language in workshop.get_languages %}
                        <span>{{ language }}{% if not forloop.last %}, {% endif %}</span>
                      {% endfor %}
                      </dd>
                    </dl>
                  {% endif %}
                </div>
              {% endif %}

              {% comment %}
              <!-- <ul class="tags">
                  {% if workshop.categories.count %}
                      {% for cat in workshop.categories.all %}
                          <li class="cat"><a href="{% if LANGUAGE_CODE == "de" %}/de/ausstellungen/{% else %}/en/workshops/{% endif %}#filter=.cat_{{ cat.title|slugify }}">{{ cat.title }}</a></li>
                      {% endfor %}
                  {% endif %}
                  {% tags_for_object workshop as tags %}
                  {% if tags %}
                      {% for tag in tags %}
                          <li><a href="{% if LANGUAGE_CODE == "de" %}/de/ausstellungen/{% else %}/en/workshops/{% endif %}#filter=.tag_{{ tag.slug }}">{{ tag.name }}</a></li>
                      {% endfor %}
                  {% endif %}
              </ul> -->
              {% endcomment %}
            </article>
          </div> <!-- ======= End Main Collumn ======= -->

          <!-- ======= Marginal Collumn ======= -->

          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="panel-group" id="details">

                  <!-- ======= Location ======= -->

                  {% if workshop.street_address or workshop.museum.street_address or workshop.organizing_museum or workshop.organizer_title or workshop.exhibition %}
                      <div class="panel panel-default">
                          <div class="panel-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#details" href="#collapse-location">
                              {% trans "Venue" %}
                            </a>
                          </div>
                          <div id="collapse-location" class="panel-collapse collapse in">
                            <div class="panel-body">
                            {% if workshop.museum %}
                              {% with workshop.museum as museum %}
                                <p class="address">
                                  <b><a href="{{ museum.get_url_path }}">{{ museum.title }}</a> </b><br/>
                                  {{ museum.street_address }}<br/>
                                  {% if museum.street_address2 %}{{ museum.street_address2 }}<br/>{% endif %}
                                  {{ museum.postal_code }} {{ museum.city }}<br/>
                                </p>
                              {% endwith %}
                            {% else %}
                              <p class="address">
                                <b>{{ workshop.location_name }}</b><br/>
                                {{ workshop.street_address }}<br/>
                                {% if workshop.street_address2 %}{{ workshop.street_address2 }}<br/>{% endif %}
                                {{ workshop.postal_code }} {{ workshop.city }}
                              </p>
                            {% endif %}

                            {% if workshop.exhibition %}
                              <p>
                                <b>{% trans "Related exhibition" %}</b><br />
                                <a href="{{ workshop.exhibition.get_url_path }}">
                                  {{ workshop.exhibition.title }}<br />
                                  {% trans "Duration" %}: <span class="from_date">{{ workshop.exhibition.start|date:"d.m.Y" }}</span>
                                  {% if workshop.exhibition.permanent %}
                                    {% trans "until further notice" %}
                                  {% else %}
                                    {% if workshop.exhibition.end %}
                                      {% trans "till" %} {{ workshop.exhibition.end|date:"d.m.Y" }}
                                    {% endif %}
                                  {% endif %}
                                </a>
                              </p>
                            {% endif %}

                              {% if workshop.museum.service_phone_number %}
                                <dl>
                                  <dt>{% trans "Service Telephone" %} </dt>
                                  <dd>+{{ workshop.museum.service_phone_country }} ({{ workshop.museum.service_phone_area }}) {{ workshop.museum.service_phone_number }}</dd>
                                </dl>
                              {% endif %}

                              {% if workshop.museum.phone_number %}
                                <dl>
                                  <dt>{% trans "Telephone" %} </dt>
                                  <dd>+{{ workshop.museum.phone_country }} ({{ workshop.museum.phone_area }}) {{ workshop.museum.phone_number }}</dd>
                                </dl>
                              {% endif %}

                              {% if workshop.museum.group_bookings_phone_number %}
                                <dl>
                                  <dt>{% trans "Booking Telephone" %} </dt>
                                  <dd>+{{ workshop.museum.group_bookings_phone_country }} ({{ workshop.museum.group_bookings_phone_area }}) {{ workshop.museum.group_bookings_phone_number }}</dd>
                                </dl>
                              {% endif %}

                              {% if workshop.museum.fax_number %}
                                <dl>
                                  <dt>{% trans "Fax" %} </dt>
                                  <dd>+{{ workshop.museum.fax_country }} ({{ workshop.museum.fax_area }}) {{ workshop.museum.fax_number }}</dd>
                                </dl>
                              {% endif %}

                              {% if workshop.website %}
                                <dl>
                                  <dt>{% trans "Website" %}</dt>
                                  <dd><a class="crop" href="{{ workshop.website }}">{{ workshop.website|humanize_url:"30" }}</a></dd>
                                </dl>
                              {% endif %}


                          {% if workshop.organizer_set.count %}
                            <dl>
                                <dt>{% trans "Organizer" %}</dt>
                                {% for organizer in workshop.organizer_set.all %}
                                    {% if organizer.organizing_museum %}
                                    <dd><a href="{{ organizer.organizing_museum.get_url_path }}">{{ organizer.organizing_museum.title }}</a></dd>
                                    {% endif %}

                                    {% if organizer.organizer_title %}
                                        {% if organizer.organizer_url_link %}
                                            <dd><a href="{{ organizer.organizer_url_link }}">{{ organizer.organizer_title }}</a></dd>
                                        {% else %}
                                            <dd>{{ organizer.organizer_title }}</dd>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </dl>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  {% endif %}

                  {% if workshop.museum %}
                      {% with workshop.museum as list_item %}
                          {% include "utils/bvg.html" %}
                      {% endwith %}
                  {% else %}
                      {% with workshop as list_item %}
                          {% include "utils/bvg.html" %}
                      {% endwith %}
                  {% endif %}

                  <!-- ======= DATES ======= -->

                  {% if workshop.get_upcoming_workshop_times.count %}
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#details" href="#collapse-dates">
                          {% trans "Date and Time" %}
                        </a>
                      </div>
                      <div id="collapse-dates" class="panel-collapse collapse">
                        <div class="panel-body">
                          {% for workshop_time in workshop.get_upcoming_workshop_times %}
                            <dl>
                              <dt> {{ workshop_time.workshop_date|date:"j. F Y" }} </dt>
                              <dd>{{ workshop_time.start|time:"H:i" }}{% if workshop_time.end %} {% trans "till" %} {{ workshop_time.end|time:"H:i" }}{% endif %}{% if LANGUAGE_CODE == "de" %} Uhr{% endif %}</dd>
                            </dl>
                          {% endfor %}
                        </div>
                      </div>
                      <script>
                        // $(function() {
                        //   var $dates = $('#collapse-dates');
                        //   var $hidden_times = $('li.hidden', $dates).hide();
                        //   if ($hidden_times.length) {
                        //     $('<a href="">{% trans "more" %}...</a>').click(function() {
                        //       $(this).closest('li').remove();
                        //       $hidden_times.removeClass('hidden').show();
                        //       return false;
                        //     }).appendTo('<li class="accordion-inner tight"></li>').parent().appendTo($dates);
                        //   }
                        // });
                      </script>
                    </div>
                  {% endif %}

                  <!-- ======= Prices ======= -->

                  {% if workshop.free_admission or workshop.admission_price or workshop.admission_price_info or workshop.reduced_price or workshop.reduced_price_info or workshop.booking_info %}
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#details" href="#collapse-prices">
                          {% trans "Prices" %}
                        </a>
                      </div>

                      <div id="collapse-prices" class="panel-collapse collapse">
                        <div class="panel-body">
                          {% if workshop.free_admission %}
                            <b>{% trans "Free offer" %}</b>
                          {% else %}
                            {% if workshop.admission_price or workshop.admission_price_info%}
                              {% if workshop.admission_price %}
                                <dl>
                                  <dt>{% trans "Price" %}</dt>
                                  <dd>{{ workshop.admission_price|currencyfmt:"EUR" }}</dd>
                                </dl>
                              {% endif %}

                              {% if workshop.admission_price_info %}
                                <p class="admission_price_info">{{ workshop.get_rendered_admission_price_info }}</p>
                              {% endif %}
                            {% endif %}

                            {% if workshop.reduced_price or workshop.reduced_price_info%}
                              {% if workshop.reduced_price %}
                                <dl>
                                  <dt>{% trans "Reduced price" %}</dt>
                                  <dd>{{ workshop.reduced_price|currencyfmt:"EUR" }}</dd>
                                </dl>
                              {% endif %}

                              {% if workshop.reduced_price_info %}
                                <p class="reduced_price_info">{{ workshop.get_rendered_reduced_price_info }}</p>
                              {% endif %}
                            {% endif %}

                            {% if workshop.shop_link %}
                                <p>
                                    <a class="btn btn-default btn-lg btn-block" href="{{ workshop.shop_link }}" target="_blank">{% trans "Buy ticket" %}</a>
                                </p>
                            {% endif %}

                          {% endif %}
                          {% if workshop.booking_info %}
                            <b>{% trans "Booking info" %}</b>
                            {{ workshop.get_rendered_booking_info }}
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  {% endif %}

                  <!-- ======= Other Information ======= -->
                  {% comment %}
                  <!-- {% if workshop.get_particularities or workshop.meeting_place or workshop.age_groups.all or workshop.get_languages %}
                      <div class="panel panel-default">
                          <div class="panel-heading">
                              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#details" href="#collapse-other-info">
                                  {% trans "Other Information" %}
                              </a>
                          </h4>
                          <ul id="collapse-other-info" class="panel-collapse collapse">
                              <div class="panel-body">
                                  {% if workshop.get_particularities %}
                                      <dl>
                                          <dt>{% trans "Particularities" %}</dt>
                                          <dd class="meeting_place">{{ workshop.get_particularities|join:'<br />' }}</dd>
                                      </dl>
                                  {% endif %}

                                  {% if workshop.meeting_place %}
                                      <dl>
                                          <dt>{% trans "Meeting point" %}</dt>
                                          <dd class="meeting_place">{{ workshop.meeting_place }}</dd>
                                      </dl>
                                  {% endif %}

                                  {% if workshop.age_groups %}
                                      <dt>{% trans "Age groups" %}</dt>
                                      <dd class="meeting_place">
                                          {% for cat in workshop.age_groups.all %}
                                              {{ cat.title }}{% if not forloop.last %}, {% endif %}
                                          {% endfor %}
                                      </dd>
                                  {% endif %}

                                  {% if workshop.get_languages %}
                                      <dl>
                                          <dt>{% trans "Languages" %}</dt>
                                          {% for language in workshop.get_languages %}
                                              <dd class="languages">{{ language }}</dd>
                                          {% endfor %}
                                      </dl>
                                  {% endif %}
                              </li>
                          </ul>
                      </li>
                  {% endif %} -->
                  {% endcomment %}
              </div>
            {% if workshop.linkgroup_set.count %}
              {% for link_group in workshop.linkgroup_set.all %}
                {% if LANGUAGE_CODE == link_group.language %}
                  <div class="link-group">
                    {% if link_group.group_title %}<h4>{{ link_group.group_title }}</h4>{% endif %}
                    {% with link_group.get_links as links %}
                      {% if links %}
                        <ul>
                          {% for link in links %}
                            <li><a href="{{ link.url }}">{{ link.text }}</a></li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    {% endwith %}
                  </div>
                {% endif %}
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    <div id="additional-contents">
      {% if object.get_other_workshops %}
        <div id="workshops" class="content">
          <div class="container">
            <h2 class="section-head" id="section-workshops">{% trans "Other Guided Tours, Workshops and educational offers" %}</h2>
            <div class="list">
              {% for workshop in object.get_other_workshops %}
                <div class="item">
                  <a href="{{ workshop.get_url_path }}">
                    {% if workshop.has_group_offer or not workshop.workshoptime_set.count %}
                      <h4>{% trans "Bookable Offer" %} {% if workshop.workshop_type %} : {{ workshop.workshop_type }} {% endif %}</h4>
                    {% else %}
                      <h4>{% if workshop.workshop_type %}{{ workshop.workshop_type }}:{% endif %}
                      {% with workshop.get_closest_workshop_time as workshop_time %}
                          {{ workshop_time.workshop_date|date:"j. F Y" }}
                          {{ workshop_time.start|time:"H:i" }}{% if workshop_time.end %} {% trans "till" %} {{ workshop_time.end|time:"H:i" }}{% endif %}{% if LANGUAGE_CODE == "de" %} Uhr{% endif %}
                      {% endwith %}</h4>
                    {% endif %}
                    <h3>{{ workshop.title }}</h3>
                    {% if workshop.subtitle %}
                      <h4>{{ workshop.subtitle }}</h4>
                    {% endif %}
                  </a>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endif %}

      <!-- ======= Products ======= -->

      {% if object.get_related_products %}
          <div id="list" class="shop-product-list">
              <div class="container">
                  <header class="clearfix">
                      <h2 class="section-head pull-left" id="section-related-products">{% trans "Products" %}</h2>
                      <a href="{% url "workshop_products" slug=object.slug %}" class="pull-right">{% trans "All products of the guided tour" %}</a>
                  </header>
                  <div id="container">
                      <div class="row row-md grid">
                          {% for product in object.get_related_products|slice:':4' %}
                              <div class="item col-xs-12 col-sm-4 col-md-4 col-lg-3{% if forloop.counter == 4 %} hidden-sm hidden-md{% endif %}">
                                  <a href="{{ product.get_url_path }}">
                                      {% if product.image %}
                                          <span class="img"><img src="{{ STATIC_URL }}site/img/placeholder_editorial.gif" data-original="{{ MEDIA_URL }}{{ product.image|modified_path:"editorial" }}" alt="product.title" /></span>
                                      {% endif %}
                                      {% if product.price %}
                                          <span class="price pull-right">{{ product.price|currencyfmt:"€" }}</span>
                                      {% endif %}
                                      <h3>
                                          {{ product.title }}
                                      </h3>
                                      {% if product.subtitle %}
                                          <h4>{{ product.subtitle }}</h4>
                                      {% endif %}
                                  </a>
                              </div>
                          {% endfor %}
                      </div>
                  </div>
              </div>
          </div>
      {% endif %}

    </div>
  {% endwith %}

  {% include "utils/page_controls.html" %}
  {% include "utils/gmap_scripts.html" %}
{% endblock %}
