{% extends "base_fullscreen.html" %}
{% load base_tags i18n image_modifications tagging_tags babel auth_extended favorites %}

{% block title %}{% trans "Guided Tour" %} – {{ object.title }}{% endblock %}

{% block bodyclass %}workshop-detail{% endblock %}

{% block open_graph %}
    <meta property="og:title" content="{{ object.title }}" />
    <meta property="og:type" content="article" />
    {% if object.image %}
      <meta property="og:image" content="{{ current_website_url }}{{ MEDIA_URL }}{{ object.image|modified_path:"og" }}" />
    {% else %}
      <meta property="og:image" content="{{ current_website_url }}{{ STATIC_URL }}site/img/museumsportal_opengraph.png" />
    {% endif %}
    <meta property="og:url" content="{{ object.get_url }}" />
    <meta property="og:site_name" content="Museumsportal Berlin" />
    <meta property="og:description" content="{{ object.get_rendered_description|striptags|truncatewords:20|escape }}" />
{% endblock %}

{% block content %}
  {% include "utils/gallery.html" %}
{% endblock %}
