/* @override http://test.creative-city-berlin.de/media/5948/css/screen/forms.css */


textarea:hover,
input:hover {
border-color: #000 !important;}

/* corrections */

.uniForm .ctrlHolder {
    padding: 0.5em 1em;
}

.uniForm .buttonHolder {
    margin: 0.5em 0 0;
    padding: 0.5em;
}

.uniForm label .checkboxinput {
    margin-right: 8px;
}

/* collapsible/expandable categories */

.uniForm ul.alternate2 li {
    float: left;
    margin-right: 2%;
    width: 48%;
}

.uniForm .inlineLabels ul.alternate2 li {
    margin-right: 2%;
    margin-top: 0.25em;
}

/* collapsible/expandable categories */

.uniForm .fieldset_categories 
{  
	margin: 0px;
	margin-left: 30%;
}

.uniForm .fieldset_categories input
{
	width: auto;
	margin: 0 10px 0 0;
}
.uniForm .fieldset_categories fieldset ul a
{
	float: left;
	margin-left: 2px;
	display: block;
	margin-right: 3px;
	width: 15px;
	height: 15px;
}

.uniForm .fieldset_categories ul {      
	width: auto;
	/*padding: 10px 0px 0px 150px;*/
	margin: 0px 0px 0px 8px;
}

.uniForm .fieldset_categories ul li
{
	background: none;  
	padding: 0 0 8px;
	margin-top: 0;
	overflow: hidden;
	height: 100%;
}
.uniForm .fieldset_categories ul li ul
{      
	margin: 10px 0 0 20px;
	padding: 0px;
	border-top: none;
	float: left;
}

.uniForm .fieldset_categories label {
    display: block;
    float: left;
}

.uniForm .fieldset_categories ul li ul li
{
	padding-left:14px;
}

.uniForm .fieldset_categories a.children-opened,
.uniForm .fieldset_categories a.children-closed,
.uniForm .fieldset_categories a.no-children {
    display: block;
    float: left;
    width: 20px;
    height: 16px;
}

.uniForm .fieldset_categories a.children-opened {
    background: url("../../img/default/icons.png") no-repeat scroll -10px -42px transparent;
}
.uniForm .fieldset_categories a.children-opened:hover,
.uniForm .fieldset_categories a.children-opened:focus {
    background: url("../../img/default/icons.png") no-repeat scroll -10px -68px transparent;
}

.uniForm .fieldset_categories a.children-closed {
	background: url(../../img/default/icons.png) no-repeat  -10px -96px;
}

.uniForm .fieldset_categories a.children-closed:hover,
.uniForm .fieldset_categories a.children-closed:focus {
	background: url(../../img/default/icons.png) no-repeat  -10px -128px;
}

.uniForm .fieldset_categories a span {
    display: none;
}

/* time field */

.uniForm .inlineLabels ul li label .timeinput {
    display: block;
    float: none;
    width: 98%;
}
.uniForm ul .timeinput {
    display: block;
    float: none;
    margin-top: 0.5em;
    width: 98%;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #AAAAAA;
    padding: 4px 2px;    
}

/* autocomplete */

.ac_input {
    display: block;
    float: left;
    margin-top: 0.5em;
    width: 64%;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #AAAAAA;
    padding: 4px 2px;    
}

.ac_results {
	padding: 0px;
	border: 1px solid WindowFrame;
	background-color: Window;
	overflow: hidden;
	z-index: 1000;
}

.ac_results ul {
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results iframe {
	display:none;/*sorry for IE5*/
	display/**/:block;/*sorry for IE5*/
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
	filter: mask();
	width:3000px;
	height:3000px;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: pointer;
	display: block;
	font: menu;
	font-size: 12px;
	overflow: hidden;
}

.ac_loading {
	background : Window url('../../img/default/indicator.gif') right center no-repeat;
}

.ac_over {
	background-color: #eeeeee;
	color: #666;
}

.ac_title {
	font-weight: normal;
	color: #666;
}

.ac_description {
	font-size:10px;
	color: #aaaaaa;
}

/* multiple autocomplete */

div.autocomplete_container {
    float: left;
    width: 273px;
}

ul.autocomplete_selected {
    border-top: 0;
    margin-left: 10px;
    margin-bottom: 0;
    width: 261px;
}

ul.autocomplete_selected li {
    background: #D1E0E8;
    border: 1px solid #C7CFD5;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    padding: 4px 16px 4px 6px;
    margin-bottom: 3px;
    position: relative;
}

ul.autocomplete_selected a.closebutton {
    position: absolute;
    right: 5px; 
    top: 6px;
}

a.closebutton, a.deletebutton {
    display: block;
    line-height: 1;
    font-size: 1px;
}

a.closebutton {
    width: 7px; 
    height: 7px;
    background: url('../../img/default/close.gif'); 
}

a.deletebutton {
    width: 11px; 
    height: 11px;
    background: url('../../img/default/delete.png');
}

a.closebutton:hover {
    background-position: 7px;
}



/* gmaps */

#dyn_set_map {
    position: relative;
}

#gmap {
    width: 100%;
    height: 300px;
}

#gmap_locations {
    background: #fff;
    background: rgba(255,255,255,.8);
    position: absolute;
    left: 0;
    top: 0;
    width: 80%;
    height: 280px;
    margin: 10px 10%;
    overflow-y: auto;
}
#gmap_locations a {
    display: block;
    margin: 10px;
    padding: 10px;
    border: 1px solid #fff;
}
#gmap_locations a:hover {
    background: #fff;
    border: 1px solid #aaa;
}

/* popups */

.ui-widget-overlay {
    background: #000;
    opacity: 0.3;
    filter: alpha(opacity=30); /* needed here for IE8 – TODO: use conditional comments! https://code.jetsonproject.com/ticket/109 */
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.ui-dialog
{
	/*padding: 10px;*/
	position: relative;
    background: transparent url(../../img/default/popup-border.png);
}

.ui-dialog-titlebar
{
	padding: 10px 15px 0px 15px;
	border-top: 7px solid #c7cfd5;
	cursor: move;
	position: relative;
	background-color: #f0f3f5;
}

.ui-warning-dialog .ui-dialog-titlebar {
	background-color: #FFCCCC;
	border-top: 7px solid red;
}

.ui-dialog .ui-dialog-titlebar-close {
    width: 30px;
    height: 30px;
    margin: 0;
    position: absolute;
    right: 0px;
    top: -7px;
    background: transparent url("../../img/website/icons.png") no-repeat 0px -690px;
}

.ui-dialog .ui-dialog-titlebar-close:hover {
    background: transparent url("../../img/website/icons.png") no-repeat -30px -690px;
}

.ui-dialog .ui-dialog-titlebar-close span {
    display: none;
}

.ui-dialog-content
{
	background-color: #f0f3f5;
    padding: 10px 15px 15px 15px;
    position: relative;
    overflow: auto;
}

.ui-warning-dialog .ui-dialog-content
{
	background-color: #FFCCCC;
}

.ui-dialog-content p
{
	margin-bottom: 10px;
}

/* This file skins resizables */

.ui-resizable 
{ 
position: relative; 
}

/* Global handle styles */
.ui-resizable-handle 
{ 
position: absolute; 
display: none; 
font-size: 0.1px; 
}

.ui-resizable .ui-resizable-handle 
{ 
display: block; 
}

body .ui-resizable-disabled .ui-resizable-handle 
{ 
display: none; 
}
 /* use 'body' to make it more specific (css order) */

body .ui-resizable-autohide .ui-resizable-handle 
{ 
display: none; 
} 
/* use 'body' to make it more specific (css order) */

.ui-resizable-n 
{ 
	height: 15px; 
	width: 100%;
	margin-top: -15px;
	top: 0px; 
	left: 0px; 
	background-color: #000;
	opacity: 0.5;
}



.ui-resizable-s 
{ 
	height: 15px; 
	margin-bottom: -15px;
	width: 100%; 
	bottom: 0px; 
	left: 0px; 
	background-color: #000; 
	opacity: 0.5;
}

.ui-resizable-e 
{ 
	width: 15px; 
	margin-right: -15px;
	right: 0px; 
	top: 0px; 
	height: 100%; 
	background-color: #000; 
	opacity: 0.5;
}

.ui-resizable-w 
{ 
	width: 15px; 
	margin-left: -15px;
	left: 0px; 
	top: 0px; 
	height: 100%; 
	background-color: #000; 
	opacity: 0.5;
}

.ui-resizable-se 
{
	margin: -15px; 
	width: 15px; 
	height: 15px; 
	right: 0px; 
	bottom: 0px; 
	background-color: #000; 
	opacity: 0.5;
}

.ui-resizable-sw 
{ 
	margin: -15px; 
	width: 15px; 
	height: 15px; 
	left: 0px; 
	background-color: #000; 
	opacity: 0.5;
	bottom: 0px; 
}

.ui-resizable-nw 
{ 
	margin: -15px -15px; 
	width: 15px; 
	height: 15px; 
	left: 0px; 
	top: 0px; 
	background-color: #000; 
	opacity: 0.5;
}

.ui-resizable-ne 
{ 
	margin: -15px -15px; 
	width: 15px; 
	height: 15px; 
	right: 0px; 
	top: 0px; 
	background-color: #000; 
	opacity: 0.5;
}

.ui-widget-overlay {
    background: #ffffff;
    opacity: 0.5;
}

/* @end */

.uniForm {
    background-color: #E8EDF0;
    border-top: 7px solid #98AEB8;
    margin-bottom: 15px;
    overflow: hidden;
    padding: 1em;
}

.col1 .uniForm,
.col2 .uniForm{
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.uniForm h3 {
    font-size: 1em;
    border-bottom: 1px solid #CECFD0;
}

.uniForm .buttonHolder {
    padding: 0em 1em;
}

.sidebar-box .uniForm .disclaimer {
    padding: 10px 1em 2px 1em;
	line-height: 14px;
    margin: 0;
}

.uniForm .buttonHolder .primaryAction {
    background: #EC8922 url("../../img/website/bg-btn-primary-action2.png");
	background-position: 0 -1px;
	height: 20px;
    color: #FFFFFF;
    padding: 0 30px 10px 30px;
    text-align: center;
    /*width: 161px;*/
    border-color: #999999;
    line-height: 20px;
}

.uniForm .buttonHolder .primaryAction:hover {
    background: #EC8922 url("../../img/website/bg-btn-primary-action2.png");
	background-position: 0 -21px;
	height: 20px;
    color: #FFFFFF;
    text-align: center;
    border-color: #999999;
    line-height: 20px;
}

.sidebar-box .uniForm .buttonHolder .primaryAction {
    width: 161px;
}

.uniForm .buttonHolder .secondaryAction {
    background: #EC8922 url("../../img/website/bg-btn-newregister.png");
	background-position: 0 0;
	height: 20px;
	margin-right: .5em;
    color: #496A78 !important;
    padding: 0 30px 0 30px;
    text-align: center;
    /*width: 161px;*/
    border-left: 1px solid #999999;
	border-right: 1px solid #999999;
    line-height: 20px;
	border-left: 1px solid #bbb; 
	border-right: 1px solid #bbb; 
	border-top: 1px solid #eee;
	border-bottom: 1px solid #bbb; 
	font-size: 12px; 
	font-weight: bold;
    /* CSS3 */
     border-radius:         4px;
     -webkit-border-radius: 4px;
     -moz-border-radius:    4px;
     -o-border-radius:      4px;
     -khtml-border-radius:  4px;
     box-shadow: 1px 1px 0 #fff;
     -webkit-box-shadow: 1px 1px 0 #fff;
     -moz-box-shadow: 1px 1px 0 #fff;
}

.uniForm .buttonHolder .secondaryAction:hover {
    background: #EC8922 url("../../img/website/bg-btn-newregister.png");
	background-position: 0 -20px;
	height: 20px;
    color: #496A78;
}

.uniForm .inlineLabels ul li label {
    clear: none;
    display: block;
    float: left;
    width: 88%;
}
.uniForm .fieldset_categories ul {
    width: 98%;
    float: none;
}
.uniForm .nav_collapsed a.open_but .pic {
    background: transparent url("../../img/website/icons.png") no-repeat scroll -120px -240px;
}
.uniForm .nav_collapsed a.open_but:hover .pic {
    background: transparent url("../../img/website/icons.png") no-repeat scroll -150px -240px;
}
.uniForm .nav_expanded a.open_but .pic {
    background: transparent url("../../img/website/icons.png") no-repeat scroll -120px -210px;
}
.uniForm .nav_expanded a.open_but:hover .pic {
    background: transparent url("../../img/website/icons.png") no-repeat scroll -150px -210px;
}

.newregisterbutton {
    background: #EC8922 url("../../img/website/bg-btn-newregister.png");
	background-position: 0 0;
	height: 20px;
    color: #496A78 !important;
    padding: 0;
    text-align: center;
    width: 161px;
    border-left: 1px solid #999999;
	border-right: 1px solid #999999;
    line-height: 20px;
	border-left: 1px solid #bbb; 
	border-right: 1px solid #bbb; 
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee; 
	font-size: 12px; 
	font-weight: bold;
    /* CSS3 */
     border-radius:         4px;
     -webkit-border-radius: 4px;
     -moz-border-radius:    4px;
     -o-border-radius:      4px;
     -khtml-border-radius:  4px;
     box-shadow: 1px 1px 0 #fff;
     -webkit-box-shadow: 1px 1px 0 #fff;
     -moz-box-shadow: 1px 1px 0 #fff;
}

.newregisterbutton:hover {
    background: #EC8922 url("../../img/website/bg-btn-newregister.png");
	background-position: 0 -20px;
	height: 20px;
    color: #496A78;
}


.newregisterbutton a {
    color: #496A78 !important;
	display: block;
}
.newregisterbutton a:visited {
    color: #496A78 !important;
}

.sidebar-box .uniForm .ctrlHolder .textInput {
    width: 97%;
}

/* SECONDARY FORM */

.secondaryForm {
    font-size: 10px;
    color: #999999;
}

.secondaryForm select{
    color: #999999;
}

.secondaryForm option{
    color: #999999;
}

.secondaryForm .ctrlHolder {
    padding: 1em 0em;
}


/* SEARCH */


.searchbox {
	width: 182px;
	height: 18px;
	background-color: #fff;
	border: 1px solid #afafaf;
	margin: 27px 0 2px -12px;
}

.searchbutton {
	position: relative;
	bottom: 20px;
	left: 154px;
	
}
