/* @override 
	http://test.creative-city-berlin.de/media/5942/css/screen/icons.css
	http://test.creative-city-berlin.de/media/5930/css/screen/icons.css
	http://test.creative-city-berlin.de/media/5944/css/screen/icons.css
*/


/* EDIT/ADD button */

a.but_edit {
    float: right;
	display: block;
    width: 30px;
    height: 30px;
    background: transparent url("../../img/website/icons.png") no-repeat -0px -480px;
	font-size: 0px;
}

a.but_edit:hover {
    background: transparent url("../../img/website/icons.png") no-repeat -30px -480px;
}

.but_edit.hidden {
	display: none;
}


a.but_add_contact {
    position: relative;
	left: 208px;
	display: block;
    width: 30px;
    height: 30px;
    background: transparent url("../../img/website/icons.png") no-repeat -0px -360px;
	font-size: 0px;
}

a.but_add_contact:hover {
    background: transparent url("../../img/website/icons.png") no-repeat -30px -360px;
}

.but_add_contact.hidden {
	display: none;
}

#but_edit_avatar {
    position: absolute;
    top: 5px;
	left: 160px;
}

.vevent #but_edit_avatar {
    margin: -40px 160px 0 0 !important;
}


.docdetail #but_edit_avatar {
    position: absolute;
    top: 260px;
	left: 495px;
}



/* RSS subscription */

a.rss {
    display: block;
    width: 30px;
    height: 30px;
    float: left;
    background: transparent url("../../img/website/icons.png") no-repeat -0px -300px;
}
a.rss:hover {
    background: transparent url("../../img/website/icons.png") no-repeat -30px -300px;
}
a.rss span {
    display: none;
}
.content-box a.rss {
    float: right;
}

/* addthis_button */

.entry-controls a.addthis_button {
    display: block;
    width: 30px;
    height: 30px;
    float: left;
	margin: 9px 2px;
	font-size: 0px;
    background: transparent url("../../img/website/icons.png") no-repeat -0px -1710px;
}

.entry-controls a.addthis_button:hover {
    background: transparent url("../../img/website/icons.png") no-repeat -30px -1710px;
}

.entry-controls a.addthis_button span {
   position: relative;
   top: 0px;
   left: 50px;
}

a.addthis_button {
    display: block;
    width: 30px;
    height: 30px;
    float: left;
	font-size: 0px;
    background: transparent url("../../img/website/icons.png") no-repeat -0px -1710px;
}

a.addthis_button:hover {
    background: transparent url("../../img/website/icons.png") no-repeat -30px -1710px;
}

a.addthis_button span {
   position: relative;
   top: 0px;
   left: 50px;
}




/* New Document Icon - Index Page */

a.newdocuments {
    display: block;
    width: 30px;
    height: 30px;
    float: left;
    background: transparent url("../../img/website/icons.png") no-repeat -0px -750px;
}
a.newdocuments:hover {
    background: transparent url("../../img/website/icons.png") no-repeat -30px -750px;
}
a.newdocuments span {
    display: none;
}
.content-box a.newdocuments {
    float: right;
}

/* New Events Icon - Index Page */

a.newevents {
    display: block;
    width: 30px;
    height: 30px;
    float: left;
    background: transparent url("../../img/website/icons.png") no-repeat -0px -840px;
}
a.newevents:hover {
    background: transparent url("../../img/website/icons.png") no-repeat -30px -840px;
}
a.newevents span {
    display: none;
}
.content-box a.newevents {
    float: right;
}


/* New People Icon - Index Page */

a.newpeople {
    display: block;
    width: 30px;
    height: 30px;
    float: left;
    background: transparent url("../../img/website/icons.png") no-repeat -0px -930px;
}
a.newpeople:hover {
    background: transparent url("../../img/website/icons.png") no-repeat -30px -930px;
}
a.newpeople span {
    display: none;
}
.content-box a.newpeople {
    float: right;
}


/* New Institution Icon - Index Page */

a.newinstitution {
    display: block;
    width: 30px;
    height: 30px;
    float: left;
    background: transparent url("../../img/website/icons.png") no-repeat -0px -1440px;
}
a.newinstitution:hover {
    background: transparent url("../../img/website/icons.png") no-repeat -30px -1440px;
}
a.newinstitution span {
    display: none;
}
.content-box a.newinstitution {
    float: right;
}




/* sidebar-box */

.nav_expanded a.open_but .pic {
    display: block;
    width: 30px;
    height: 30px;
    float: right;
    background: transparent url("../../img/website/icons.png") no-repeat -0px -210px;
}
.nav_expanded a.open_but:hover .pic {
    background: transparent url("../../img/website/icons.png") no-repeat -30px -210px;
}

.nav_collapsed a.open_but .pic {
    display: block;
    width: 30px;
    height: 30px;
    float: right;
    background: transparent url("../../img/website/icons.png") no-repeat -0px -240px;
}

.nav_collapsed a.open_but:hover .pic {
    background: transparent url("../../img/website/icons.png") no-repeat -30px -240px;
}

/* previous and next buttons */

.previous a {
    background: transparent url("../../img/website/icons.png") no-repeat -120px -150px;
}
.previous .disabled {
    background: transparent url("../../img/website/icons.png") no-repeat -150px -150px;
}
.previous a:hover {
    background: transparent url("../../img/website/icons.png") no-repeat -150px -150px;
}
.next a {
    background: transparent url("../../img/website/icons.png") no-repeat -120px -240px;
}
.next .disabled {
    background: transparent url("../../img/website/icons.png") no-repeat -150px -240px;
}
.next a:hover {
    background: transparent url("../../img/website/icons.png") no-repeat -150px -240px;
}

/* newer and older buttons */
.newer {
    display: block;
    width: 30px;
    height: 30px;
    float: left;
    margin: 9px 2px;
}

a.newer {
    background: transparent url("../../img/website/icons.png") no-repeat 0px -1410px;
}
span.newer {
    background: transparent url("../../img/website/icons.png") no-repeat -60px -1410px;
}
a.newer:hover {
    background: transparent url("../../img/website/icons.png") no-repeat -30px -1410px;
}

.older {
    display: block;
    width: 30px;
    height: 30px;
    float: left;
    margin: 9px 2px;
}
a.older {
    background: transparent url("../../img/website/icons.png") no-repeat 0px -1380px;
}
span.older {
    background: transparent url("../../img/website/icons.png") no-repeat -60px -1380px;
}
a.older:hover {
    background: transparent url("../../img/website/icons.png") no-repeat -30px -1380px;
}

/* toolbar */

.toolbar {
    margin: 0.75em 0 0 0;
    padding: 0;
}
.toolbar li {
    position: relative;
    display: block;
    float: left;
    list-style-type: none;
    margin: 0 .5em 0 0;
    padding: 0;
}

.toolbar a {
   display: block;
   width: 30px;
   height: 30px;
   float: left;
   overflow: hidden !important;
   position: relative;
}

.toolbar a>span {
  position: absolute;
  width: 200px;
  text-align: left;
  top: -2em;
  left: -10px;
  color: white;
  height: 28px;
  margin-top: -5px;
  line-height: 21px;
   background: transparent url("../../img/website/bg-tooltip.png") no-repeat 18px bottom;
   
   opacity: 0;    
   -webkit-transition-property: opacity;
   -webkit-transition-duration:  0.5s;    
   -webkit-transition-delay:  0s;    

}

.toolbar a span span{
  background-color: #496a78;
   padding: 3px;
   padding-left: 8px;
   padding-right: 8px;
   -moz-border-radius: 15px;
   -webkit-border-radius: 15px;
   border-radius: 15px;
   
   }

.toolbar a:hover {
  text-decoration: none;
  overflow: visible !important;
}

.toolbar a:hover>span {
  display: block;    
  
  -webkit-transition-duration:  0.25s;    
   -webkit-transition-delay:  0.25s;    
   opacity: 1;
}


.controls {
    margin: 0px;
    padding: 0;
}

.controls .toolbar a:hover span {
    left: auto;
    right: 0;
    text-align: right;
}

.memo a {
    background: transparent url("../../img/website/icons.png") no-repeat 0px -270px;
}
.memo a:hover {
    background: transparent url("../../img/website/icons.png") no-repeat -30px -270px;
}
.memo a.active {
    background: transparent url("../../img/website/icons.png") no-repeat -90px -270px;
}
.memo a.active:hover {
    background: transparent url("../../img/website/icons.png") no-repeat -30px -270px;
}


.favorites a {
    background: transparent url("../../img/website/icons.png") no-repeat 0px -420px;
}
.favorites a:hover {
    background: transparent url("../../img/website/icons.png") no-repeat -30px -420px;
}
.favorites a.active {
    background: transparent url("../../img/website/icons.png") no-repeat -90px -420px;
}
.favorites a.active:hover {
    background: transparent url("../../img/website/icons.png") no-repeat -30px -420px;
}



.invite_contact a {
    background: transparent url("../../img/website/icons.png") no-repeat -0px -960px;
}
.invite_contact a:hover {
    background: transparent url("../../img/website/icons.png") no-repeat -30px -960px;
}

.invite_contact a.active {
    background: transparent url("../../img/website/icons.png") no-repeat -90px -960px;
}
.invite_contact a.active:hover {
    background: transparent url("../../img/website/icons.png") no-repeat -30px -960px;
}



.cancel_invitation a {
    background: transparent url("../../img/website/icons.png") no-repeat -30px -990px;
}
.cancel_invitation a:hover {
    background: transparent url("../../img/website/icons.png") no-repeat -30px -990px;
}
.edit_relationship a {
    background: transparent url("../../img/website/icons.png") no-repeat -30px -930px;
}
.edit_relationship a:hover {
    background: transparent url("../../img/website/icons.png") no-repeat -30px -930px;
}


.block_contact a {
    background: transparent url("../../img/website/icons.png") no-repeat -0px -900px;
}
.block_contact a:hover {
    background: transparent url("../../img/website/icons.png") no-repeat -30px -900px;
}
.unblock_contact a {
    background: transparent url("../../img/website/icons.png") no-repeat -30px -915px;
}
.unblock_contact a:hover {
    background: transparent url("../../img/website/icons.png") no-repeat -30px -885px;
}

a.recrop_link {
    background: transparent url("../../img/website/icons.png") no-repeat 0 -1230px;
    width: 30px;
    height: 30px;
}

a.recrop_link:hover {
    background: transparent url("../../img/website/icons.png") no-repeat -30px -1230px;
}

a.recrop_link span span {
    display: none;
}
.portfolio_tools a.recrop_link span span {
    display: inline;
}

.mail a {
    background: transparent url("../../img/website/icons.png") no-repeat 0px -510px;
}
.mail a:hover {
    background: transparent url("../../img/website/icons.png") no-repeat -30px -510px;
}

.admin_edit a {
    background: transparent url("../../img/website/icons.png") no-repeat -0px -480px;
}
.admin_edit a:hover {
    background: transparent url("../../img/website/icons.png") no-repeat -30px -480px;
}

.ical a {
    background: transparent url("../../img/website/icons.png") no-repeat -0px -780px;
}
.ical a:hover {
    background: transparent url("../../img/website/icons.png") no-repeat -30px -780px;
}

.editPost a {
    background: transparent url("../../img/website/icons.png") no-repeat -0px -480px;
}
.editPost a:hover {
    background: transparent url("../../img/website/icons.png") no-repeat -30px -480px;
}

.deletePost a {
    background: transparent url("../../img/website/icons.png") no-repeat -0px -690px;
}
.deletePost a:hover {
    background: transparent url("../../img/website/icons.png") no-repeat -30px -690px;
}

.toolbar .comments a {
    background: transparent url("../../img/website/icons.png") no-repeat -0px -645px;
    padding-left: 20px;
}
.toolbar .comments a:hover {
    background: transparent url("../../img/website/icons.png") no-repeat -30px -645px;
    padding-left: 20px;
}

.refusePost a,
.refuseComment a
{
    padding: 0;
	width: 30px;
	height: 30px;
	background: transparent url(../../img/website/icons.png) no-repeat scroll 0px -690px;
}

.refuseComment a:hover,
.refuseComment a:focus
{
    padding: 0;
	background: transparent url(../../img/website/icons.png) no-repeat scroll -30px -690px;
}

.markAsSpamComment a {
    padding: 0;
	width: 30px;
	height: 30px;
	background: transparent url(../../img/website/icons.png) no-repeat scroll 0px -600px;
}

.markAsSpamComment a:hover,
.markAsSpamComment a:focus {
    padding: 0;
	width: 30px;
	height: 30px;
	background: transparent url(../../img/website/icons.png) no-repeat scroll -30px -600px;
}

/* Language selection */

.language_selection {
    display: block;
    width: 30px;
    height: 22px;
    margin-top: 6px;
    float: right;
}

a.lang_en {
    background: transparent url("../../img/website/icons.png") no-repeat 0px 0px;
}

a.lang_de {
    background: transparent url("../../img/website/icons.png") no-repeat 0px -30px;
}

/* list types */
.view-icons a {
    background: transparent url("../../img/website/icons.png") no-repeat -0px -450px;
}
.view-icons.active a {
	 background: transparent url("../../img/website/icons.png") no-repeat -90px -450px;
}
.view-icons a:hover {
    background: transparent url("../../img/website/icons.png") no-repeat -30px -450px;
}

.view-listed a {
    background: transparent url("../../img/website/icons.png") no-repeat -0px -450px;
}
.view-listed.active a{
    background: transparent url("../../img/website/icons.png") no-repeat -90px -450px;
}

.view-listed a:hover {
    background: transparent url("../../img/website/icons.png") no-repeat -30px -450px;
}

.view-map a {
    background: transparent url("../../img/website/icons.png") no-repeat -0px -1260px;
}
.view-map.active a {
	 background: transparent url("../../img/website/icons.png") no-repeat -90px -1260px;
}
	
.view-map a:hover {
    background: transparent url("../../img/website/icons.png") no-repeat -30px -1260px;
}

.view-ical a {
    background: transparent url("../../img/website/icons.png") no-repeat -0px -780px;
}
.view-ical.active a,
.view-ical a:hover {
    background: transparent url("../../img/website/icons.png") no-repeat -30px -780px;
}

a.ui-dialog-titlebar-close {
    width: 30px;
    height: 30px;
    background: transparent url("../../img/website/icons.png") no-repeat 0px -690px;
}
a.ui-dialog-titlebar-close:hover {
    background: transparent url("../../img/website/icons.png") no-repeat -30px -690px;
}

.link-kulturmanagementnet {
    padding-left: 22px;
    background: transparent url(../../img/website/external-services/kulturmanagement.png) no-repeat left center;
    line-height: 20px;
    word-spacing: nowrap;
}

.link-creativesetnet {
    padding-left: 22px;
    background: transparent url(../../img/website/external-services/creativeset.png) no-repeat left center;
    line-height: 20px;
    word-spacing: nowrap;
}

.link-theaterjobs {
    padding-left: 22px;
    background: transparent url(../../img/website/external-services/theaterjobs.png) no-repeat left center;
    line-height: 20px;
    word-spacing: nowrap;
}

.link-musicjob {
    padding-left: 22px;
    background: transparent url(../../img/website/external-services/musicjob.png) no-repeat left center;
    line-height: 20px;
    word-spacing: nowrap;
}

.link-berlinstartupjobs {
    padding-left: 22px;
    background: transparent url(../../img/website/external-services/berlinstartupjobs.png) no-repeat left center;
    line-height: 20px;
    word-spacing: nowrap;
}

.slideshow_nav {
    position: absolute;
    right: 5px;
    bottom: 5px;
    display: none;
}

.scrollable.hover .slideshow_nav {
    display: block;
}
.slideshow_nav a {
    display: block;
    width: 30px;
    height: 30px;
    float: left;
}
.slideshow_nav a span {
    display: none;
}

.slideshow_nav a.previous {
    background: transparent url("../../img/website/icons.png") no-repeat 0px -1410px;
}
.slideshow_nav a.previous:hover {
    background: transparent url("../../img/website/icons.png") no-repeat -30px -1410px;
}

.slideshow_nav a.pause {
    background: transparent url("../../img/website/icons.png") no-repeat 0px -1350px;
}
.slideshow_nav a.pause:hover {
    background: transparent url("../../img/website/icons.png") no-repeat -30px -1350px;
}

.slideshow_nav a.play {
    background: transparent url("../../img/website/icons.png") no-repeat 0px -1290px;
}
.slideshow_nav a.play:hover {
    background: transparent url("../../img/website/icons.png") no-repeat -30px -1290px;
}

.slideshow_nav a.next {
    background: transparent url("../../img/website/icons.png") no-repeat 0px -1380px;
}
.slideshow_nav a.next:hover {
    background: transparent url("../../img/website/icons.png") no-repeat -30px -1380px;
}

.media_nav {
    float: right;
}
.media_nav a {
    display: block;
    width: 30px;
    height: 30px;
    float: left;
    margin-left: .5em;
}
.media_nav a.hidden {
    display: none;
}
.media_nav a.previous {
    background: transparent url("../../img/website/icons.png") no-repeat 0px -1410px;
}
.media_nav a.previous:hover {
    background: transparent url("../../img/website/icons.png") no-repeat -30px -1410px;
}
.media_nav a.previous .disabled {
    display: block;
    width: 30px;
    height: 30px;
    background: transparent url("../../img/website/icons.png") no-repeat -60px -1410px;
}

.media_nav a.slideshow_stop {
    background: transparent url("../../img/website/icons.png") no-repeat 0px -1350px;
}
.media_nav a.slideshow_stop:hover {
    background: transparent url("../../img/website/icons.png") no-repeat -30px -1350px;
}

.media_nav a.slideshow_start {
    background: transparent url("../../img/website/icons.png") no-repeat 0px -1290px;
}
.media_nav a.slideshow_start:hover {
    background: transparent url("../../img/website/icons.png") no-repeat -30px -1290px;
}

.media_nav a.next {
    background: transparent url("../../img/website/icons.png") no-repeat 0px -1380px;
}
.media_nav a.next:hover {
    background: transparent url("../../img/website/icons.png") no-repeat -30px -1380px;
}
.media_nav a.next .disabled {
    display: block;
    width: 30px;
    height: 30px;
    background: transparent url("../../img/website/icons.png") no-repeat -60px -1380px;
}


a.copy-fb-to-kb {
    display: block;
    width: 30px;
    background: transparent url("../../img/website/icons.png") no-repeat 0px -1410px;
}
a.copy-fb-to-kb:hover {
    background: transparent url("../../img/website/icons.png") no-repeat -30px -1410px;
}

a.copy-kb-to-fb {
    display: block;
    width: 30px;
    background: transparent url("../../img/website/icons.png") no-repeat 0px -1380px;
}
a.copy-kb-to-fb:hover {
    background: transparent url("../../img/website/icons.png") no-repeat -30px -1380px;
}

a.sync-fb-and-kb {
    display: block;
    width: 30px;
    background: transparent url("../../img/website/icons.png") no-repeat 0px -1650px;
}
a.sync-fb-and-kb:hover {
    background: transparent url("../../img/website/icons.png") no-repeat -30px -1650px;
}

.add-media {
    width: 30px;
    height: 30px;
    display: block;
    float: left;
    background: transparent url("../../img/website/icons.png") no-repeat -150px -360px;
}
