/* @override http://test.creative-city-berlin.de/media/5948/css/screen/layout.css */

/* @override http://test.creative-city-berlin.de/media/5948/css/screen/layout.css */

/* LOGO */

#logo {
    display: block;
    margin-top: 18px;
}

/* ROTATING BANNER */

#dyn_rotating_banner .hidable {
    position: relative;
    padding: 0px;
    overflow: hidden;
    margin-bottom: 16px;
    height: 156px;
    background: #F0F3F5;
}

.rotating_unit {
    display: block;
    background: #F0F3F5;
    margin-top: 20px!important;
    margin-bottom: 0px!important;
    text-align: center;
}

.rotating_unit a {
    line-height: 113px;
    height: 113px;
    padding: 0px;
    display: block;
}

.rotating_unit a img {
    vertical-align: middle;
}

.current_rotating_unit {
    z-index: 1;
    position: static;
}

.next_rotating_unit {
    z-index: 2;
    position: absolute;
    top: 0px;
    left: 0px;
}

/* content boxes */

.content-box h3 {
    margin: 0;
}

/* sidebar boxes */

.sidebar-box {
    background: #E8EDF0;
    margin-bottom: 16px;
}

.sidebar-box-fixed {
    height: 272px;
}

.sidebar-box h5
{
	color: #707F85;
	display: block;
	height: 30px;
	margin: 0;
    line-height: 33px;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
	background-color: #D1E0E8;
	background-image: url("../../img/website/bg-sidebar-box-header.png");
}

.sidebar-box h5 a:hover,
.sidebar-box h5 a:active,
.sidebar-box h5 a:visited {
    text-decoration: none;
    display: block;
}

.sidebar-box a {
   color: #3c8bb1
}

.sidebar-box h5 b {
    padding-left: 12px;
}

.sidebar-box a:hover {
    text-decoration: none;
}

#footer a {
	color: #496A78;
}

.sidebar-box h5 a {
	color: #707F85;
}

.sidebar-box h5 a:hover {
    text-decoration: none;
}

.sidebar-box ul {
    margin: 0;
    padding: 12px;
}

.sidebar-box ul ul {
    margin: 0;
    padding: 0;
}

.sidebar-box li {
    list-style-type: none;
    margin: 0;
    padding-bottom: 4px;
    border-bottom: 1px solid #CECFD0;
    margin-bottom: 4px;
}

.sidebar-box li li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 12px; 
    border: none;
}

.sidebar-box .active a {
    color: #344c56;
}

/* content boxes */

.content-box {
    background: #ffffff;
}

.content-box h3 {
    padding-left: 12px;
    color: #707F85;
	display: block;
	height: 30px;
	margin: 0;
    line-height: 33px;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
	background-color: #D1E0E8;
	background-image: url("../../img/website/bg-sidebar-box-header.png");

}

.content-box h3 a {
    color: #707F85;
}

/* featured portfolios */
.featured_portfolios {
    margin-top:16px;
    margin-bottom: 16px;
    margin-right: -16px;
}
.featured_portfolios a {
    float: left;
    height: 184px;
    margin-left: 0;
    margin-right: 16px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 184px;
}
.featured_portfolios a:hover {
    text-decoration: none;
}

.featured_portfolios a.last-item {
    margin-right: 0px !important;
}

.featured_portfolios a.featured_portfolio_item {
    -moz-border-radius: 3px 3px 3px 3px;
}

.featured_portfolios a.featured_portfolio_item img {
    -moz-border-radius: 3px 3px 3px 3px;
    bottom: 0;
    position: absolute;
    z-index: 100;
}
.featured_portfolios a.featured_portfolio_item .featured_portfolio_item_details {
    -moz-border-radius: 3px 3px 3px 3px;
    background-color: #496a78;
    bottom: 0;
    color: white;
    display: none;
    padding: 7px 10px;
    position: absolute;
    width: 165px;
    z-index: 10000;
}
.featured_portfolios a.featured_portfolio_item .featured_portfolio_item_details span {
    display: block;
}
.featured_portfolios a.featured_portfolio_item .featured_portfolio_item_details .featured_portfolio_item_title {
    font-size: 16px;
    font-weight: bold;
    line-height: 19px;
}
.featured_portfolios a.featured_portfolio_item .featured_portfolio_item_details .featured_portfolio_item_name {
    color: #D5E7F1;
}
.featured_portfolios a.featured_portfolio_item:hover img {
    z-index: 0;
}
.featured_portfolios a.featured_portfolio_item:hover .featured_portfolio_item_details {
    display: block;
}

/* Gallery List */

.gallery_list .row {
    margin-right: -16px;
    clear: left;
    overflow: hidden;
    margin-bottom: 16px;
}
.gallery_list .list-item {
    width: 184px;
    float: left;
    padding: 0;
    margin: 0 16px 0 0;
    border: none;
    clear: none;
}
.media-info {
    padding: 12px;
}

/* Latest published on index page */
.latest_published_index {
}

.latest_published_index ul {
    margin: 0;
    padding: 0;
}
.latest_published_index li {
    list-style-type: none;
    display: block;
    float: left;
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    margin-top: 12px;
    margin-left: 12px;
}
.latest_published_index img {
    width: 50px;
    height: 50px;
}


/* List block */

.list-block {
    margin: 0;
    margin-bottom: 16px;
}

.list-block-header {
    position: relative;
}
.list-block-header a.more {
    display: block;
    position: absolute;
    right: 1em;
    top: 0;
    line-height: 28px;
}

ul.list-block {
    list-style-type: none;
}
ul.list-block img {
    display: block;
    float: left;
    clear: left;
}

ul.list-block .hover {
    background: #f6f8f9;
}

ul.list-block p {
    margin: 0;
}

div.list-block {
    border-bottom: 1px solid #cbdadf;
    padding-bottom: 12px;
}

.detail-list li {
    border-bottom: 1px solid #cbdadf;
    clear: left;
    padding: 12px;
    margin: 0;
    cursor: pointer;
}

.start-page .detail-list li img {
    display: block;
    float: left;
    clear: left;
    margin-right: 12px;
	width: 97px;
	height: 97px;
}


.detail-list li img {
    display: block;
    float: left;
    clear: left;
    margin-right: 12px;
	width: 50px;
	height: 50px;
}

.news-details {
    padding: 12px;
    border-bottom: 1px solid #cbdadf;
    cursor: pointer;
}

.news-details.hover {
    background: #f6f8f9;
}

.news-block {
    margin: 0;
    margin-bottom: 16px;
}

/* search results */


#object_list {
    width: 584px;
    float: left;
}

.list-item {
    clear: both;
    padding: 1em;
    border-top: 1px solid #cbdadf;
    /*border-bottom: 1px solid #cbdadf;*/
    cursor: pointer;
    position: relative;
}

.list-item.hover {
    background: #f6f8f9;
}

.list-item .toolbar {
    float: right;
    margin: 0;
}

.list-item img {
    float: left;
	padding-bottom: 12px;
}

.list-item-details { margin-left: 112px;}


.start-page .list-item-details { margin-left: 112px;}
.dashboard .list-item-details { margin-left: 0px; width: 488px; float: right;}

.list-item-controls {
    margin-left: 112px;
}

.search .list-item {
    min-height: 50px;
}

.post-meta {
    color: #999999;
    float: left;
}

.object-type {
    color: #EC8922;
    font-weight: bold;
}

.listsection {
	 padding-left: 12px;
    color: #707F85;
	display: block;
	height: 30px;
	margin: 0;
    line-height: 33px;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
	background-color: #D1E0E8;
	background-image: url("../../img/website/bg-sidebar-box-header.png");
}

.searchthumb {
	z-index: 1;
	width: 50px;
	position: relative;
	top: 0px;
	left: 0px;
}

.searchthumb img {
	width: 50px;
	height: 50px;
	border: 1px solid #999;
}

.searchinfo {
	padding-left: 62px;
}

.searchmore {
	margin: 5px 3px 15px 540px;
}

	
	
/* job offers */

.job_offers {
    border: none;
    margin-bottom: -1px;
    width: 100%;
}
.job_offers .list-item td {
    border-top: 1px solid #cbdadf;
    border-bottom: 1px solid #cbdadf;
	padding: 12px 0;
	vertical-align: top;
}

.job_offers .list-item .datetime {
   width: 92px;
   padding: 12px 6px;
}

td.controls {
    width: 84px;
}

/* entry-details */

.toolbox {
    border-top: 1px solid #cbdadf;
    border-bottom: 1px solid #cbdadf;
    line-height: 28px;
    margin-bottom: 1em;
}

.people .toolbox {
    border-top: 1px solid #cbdadf;
    border-bottom: 1px solid #cbdadf;
    line-height: 28px;
    margin-bottom: 1em;
}


.entry-details {
    padding: 1em;
    float: left;
    width: 560px; /* TODO: (?) */
    border-bottom: 1px solid #cbdadf;
}

.shortinfo {
    padding: 1em;
    float: left;
}

.shortinfo ul {
    list-style: none;
    margin: 0;
}
.shortinfo li {
    list-style: none;
    margin: 0;
}

#comments {
    /*float: left;*/
    /*padding: 1em;*/
}
.comment {
    clear: both;
    border-top: 1px solid #CBDADF;
    margin-top: 16px;
    padding-top: 16px;
}
.comment-author {
    width: 184px;
    float: left;
    margin-left: 1em;
}
.comment-text {
    margin-left: 200px;
    margin-right: 1em;
}

.comment .toolbar {
    float: right;
    margin-bottom: 1em;
}

.comment-form {
    clear: both;
}

.comment-count {
    float: left;
    margin: .5em 1em;
    padding: 0;
}
.post-comment {
    float: right;
    margin: .5em 1em;
    padding: 0;
}

/* event */

.event-date {
    height: 97px;
    width: 97px;
    background-color: #D1E0E8;
    float: left;
    display: block;
    margin-right: 12px;
    text-align: center;
    font-size: 200%;
    font-weight: bold;
    line-height: 100%;
}

.event-date span {
    padding-top: 22px;
    display: block;
}

.dashboard .event-date {
    height: 50px;
    width: 50px;
    background-color: #D1E0E8;
    float: left;
    display: block;
    margin-right: 12px;
    text-align: center;
    font-size: 100%;
    font-weight: bold;
    line-height: 100%;
}

.dashboard .event-date span {
    padding-top: 11px;
    display: block;
}




.event-quick-links{
    float: left;
    margin: 0;
    padding: 0;
}
.event-quick-links li {
    float: left;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: block;
    margin: .5em 0;
    margin-right: 12px;
}

#id_eventdate {
    visibility: hidden;
    
}

#fieldset_datepicker {
    display: relative;
    margin: .5em 0;
}

/* Datepicker */

button.ui-datepicker-trigger {
    border: 0;
    padding: 0;
    line-height: 1.1;
    margin: 0;
    background: transparent;
    font-family: inherit;
    font-size: inherit;
    color: #6994A6;
    overflow: visible;
}

#ui-datepicker-div {
    display: none;
    padding: 10px;
    background: #FFF;
    border: 1px solid #C7CFD5;
    position: relative;
    height: auto;
    z-index: 1000;
}

#ui-datepicker-div td, #ui-datepicker-div th {
    padding: 3px 4px;
    text-align: right;
}

#ui-datepicker-div .ui-state-highlight {
    color: #FA9C19;
    font-weight: bold;
}

.ui-datepicker-prev .ui-icon, .ui-datepicker-next .ui-icon {
    display: none;
}

.ui-datepicker-prev, .ui-datepicker-next {
    position: absolute;
    top: 10px;
    display: block;
    width: 21px;
    height: 21px;
}

.ui-datepicker-prev {
    left: 10px;
    background-position: -5px -825px;
}

.ui-datepicker-prev:hover {
    background-position: -32px -825px;
}

.ui-datepicker-next {
    right: 10px;
    background-position: -5px -849px;
}

.ui-datepicker-next:hover {
    background-position: -32px -849px;
}

.ui-datepicker-title {
    font-weight: bold;
    padding: 4px 21px;
    text-align: center;
    line-height: 1.3;
}

/* highlighted-infoblock */

.highlighted-infoblock {
    margin: 0px;
    margin-bottom: 15px;
    background-color: #F0F3F5;
    border-top: 7px solid #FA9C19;
    overflow: hidden;
    padding: 8px 15px 15px;
}



/* Flatpage */
.flatpage-content {
}

.flatpage-content table {
    border: none;
    margin: 0;
}
.flatpage-content tr {
    border: none;
    margin: 0;
}
.flatpage-content td {
    border: none;
    margin: 0;
}

/* Media galleries */

#media_thumbs {
    margin: 8px -16px 10px 0;
    padding: 12px 0 0;
    	border-bottom: 1px solid #cbdadf;
	border-top: 1px solid #cbdadf;
	background: #f6f8f9;
	width: 584px;
}

#media_thumbs .image_container {
    float: left;
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
    /*margin-right: 16px;
    margin-bottom: 16px;*/
    margin-right: 11px;
    margin-bottom: 6px;
}

#media_thumbs .last-in-row {
    margin-right: 0;
}

#media_thumbs .image_container a.recrop_link {
    display: none;
}

#media_thumbs .image_container:hover a.recrop_link {
    display: block;
}


/* list types */

.list-types {
    display: block;
    list-style-type: none;
    float: right;
    margin: 0;
    padding: 0;
}

.list-types li {
    float: left;
    list-style-type: none;
    margin: .5em 2px;
}

.list-types li a {
    display: block;
    width: 30px;
    height: 30px;
}

.list-types li a span {
    display: none;
}

/* object-details */

.object-details {
}

.object-details .toolbox {
    border-top: none;
    padding: .5em 0;
	height: 33px;
}

.object-details .toolbar {
    margin: 4px 0;
}

.object-details .toolbar a:hover span {
    display: none;
}

.object-details .image_container {
    float: left;
    margin: 0 1em 2em 1em;
}
.skip_buttons {
    margin: 0 -22px 0 0;
    float: right;
    width: 140px;
}

.image_container {
    position: relative;
}

.image_container a.recrop_link {
    position: absolute;
    top: 40px;
    right: .5em;
}

.profile_infos {
    width: 584px;
    float: left;
}


.object-details hr {
    clear: both;
}
.section-header {
    float: left;
    margin-left: 1em;
    width: 184px;
}
.section-details {
    margin-left: 208px;
}

#details {
    position: relative;
    clear: both;
}


#hidden_iframe {
    width: 700px;
    height: 500px;
}

/* MAPS */

.marker-link {
    float: right
}

#gmap_view {
    width: 384px;
    height: 272px;
}

/* Sponsors */

.sponsors {
    width: 372px;
    float: right;
}

.sponsors ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sponsors ul li {
    float: left;
    display: block;
    margin: 0;
    padding: 0;
    width: 184px;
    height: 80px;
}

#sponsor_kulturprojekte {
    float: left;
}
#sponsor_kulturprojekte a {
    display: block;
    height: 75px;
    width: 184px;
    background: url("../../img/website/sponsors/kulturprojekte.png") no-repeat -33px 0px;
}

#sponsor_eu {
}
#sponsor_eu a {
    display: block;
    height: 75px;
    width: 211px;
    background: url("../../img/website/sponsors/eu.png") no-repeat -11px 0px;
}
#sponsor_efre {
    height: 100px;
    width: 174px;
    margin-top: -14px;
    margin-left: 10px;
}
#sponsor_efre a {
    display: block;
    height: 100px;
    width: 150px;
    background: url("../../img/website/sponsors/efre.png") no-repeat 0px 0px;
}

#sponsor_projektzukunft {
}
#sponsor_projektzukunft a {
    display: block;
    height: 75px;
    width: 190px;
    background: url("../../img/website/sponsors/projektzukunft.png") no-repeat -11px 0px;
}
.lang-de #sponsor_projektzukunft a {
    background: url("../../img/website/sponsors/projektzukunft_de.png") no-repeat -11px 0px;
}
.lang-en #sponsor_projektzukunft a {
    background: url("../../img/website/sponsors/projektzukunft_en.png") no-repeat -11px 0px;
}

#sponsor_beberlin {
    width: 174px;
}
#sponsor_beberlin a {
    display: block;
    height: 75px;
    width: 174px;
    background: url("../../img/website/sponsors/beberlin.png") no-repeat 0px 0px;
    margin-left: 10px;
}

.sponsors strong,
#sponsor_kulturprojekte strong {
    display: none;
}


/* nothing */

.nothing {
    margin: 2em 1em;
}


.contact-mapped {
   position: relative;
   top: -35px;
   width: 260px;
   height: 90px;
   color: #ffffff;
   cursor: pointer;
}

.contact-mapped h4 {
   margin-top: 10px;
   color: #ffffff;
   line-height: 1.4em;
}

.contact-mapped p {
   color: #ffffff;
   margin: 0;
   line-height: 1.4em;
}

.contact-mapped a,
.contact-mapped a:visited,
.contact-mapped a:hover {
   color: #ffffff;
}

.contact-mapped hr {
   padding: 0 0 .5em 0;
   margin: 0 .6em .5em 0;
   border-bottom: 1px solid #ffffff;
}

.contact-mapped img {
   border: 1px solid #ffffff;
   float: left;
   margin: 0px 1em 5px .6em;
}



/* FLAT PAGES TABLE */

.lineheight_table {
	line-height: 18px;
}

.pdf-peview_td {
	padding: 5px 5px 5px 0;
	vertical-align:top !important;
}

.pdf-peview_td img {
	border: 1px solid #999;
}

.pdf-info {
	vertical-align: top !important;
	line-height: 18px;
}


.pdf-info h5 {
	padding-top: 0px;
	margin-top: 0px;
}

.pagination .previous {
    float: left;
}

.entry-controls {
    float: left;
}
.entry-controls .rss {
    margin: 9px 2px;
}
.newer-older {
    float: right;
}
.entry-details .toolbar {
    float: right;
}



/* MY PROFILE */

.myprofile-box .p-gallery {
	height: 216px !important;
	margin-top: 10px;
}

.myprofile-box .p-content img {
	width: 50px;
	height: 50px;
	padding-right: 10px;
}



/* FAQ STYLING */

.faqs-block h3 {
	border-top: 1px solid #C7CFD5;
	border-bottom: 1px solid #C7CFD5;
	margin-top: 0px;
	margin-bottom: 18px;
    padding-top: 9px;
	padding-bottom: 9px;
}

.faq .question-list {
	margin-top: -18px;
}

.faq txt {
	height: auto;
}

.faq .list-item {
    border-bottom: 1px solid #C7CFD5;
	border-top: none; 
    display: block;
    overflow: hidden;
    position: relative;  
	padding: 9px 0;  
}

.faq .faq txt .first-faq {
	padding-top: 5px;
}

.faq ul {
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.faq .list-item .numbering {
	float: left;
    font-weight: bold;
    margin-right: 1em;
	width:13px;
	padding: 8px 0 3px 0;
}

.faq .list-item .question {
	float:left;
	font-weight:700;
	width: 500px;
	padding: 8px 0 3px 0;
}


.faq .list-item .faqcollapse, .faq .list-item .faqexpanded {
	float: right;
	width: 30px;
	padding: 0;
}

.question-list .collapsed .openlist .pic {
	display:block;
	width:30px;
	height:30px;
	float:right;
	background:transparent url(../../img/website/icons.png) no-repeat -120px -240px;
}

.faq .list-item .answer {
	margin-top:1em;
	margin-left:2.2em;
	float:left;
	width: 500px;
}

.question-list .collapsed .openlist:hover .pic {
	background:transparent url(../../img/website/icons.png) no-repeat -150px -240px;
}

.question-list .expanded .openlist .pic {
	display:block;
	width:30px;
	height:30px;
	float:right;
	background:transparent url(../../img/website/icons.png) no-repeat -120px -210px;
}

.question-list .expanded .openlist:hover .pic {
	background:transparent url(../../img/website/icons.png) no-repeat -150px -210px;
}

/* EVENT DETAILS */

.detail_headline {
	margin: 0 0 12px 208px;
}

.vevent #dyn_avatar {
	float: left;
	margin-top: -40px;
}

.vevent .form_avatar_position {
	margin-top: 35px;
}

/* NEWSLETTER SUBSCRIPTION */

#cat_newsletter_subscription .uniForm .inlineLabels h3 {
    display: none;
}

#cat_newsletter_subscription .uniForm .inlineLabels label {
    width: auto;
    margin: 0 0 0.5em 0;
}

#cat_newsletter_subscription .uniForm .inlineLabels select {
    width: 100%;
}

#cat_newsletter_subscription .uniForm .buttonHolder {
    margin-bottom: 1em;
}

#recaptcha_widget_div {
    float: right;
}
