{% extends "base.html" %}
{% load i18n base_tags auth_extended navigation_tags babel %}

{% block extrahead %}
	<script type="text/javascript" src="{{ STATIC_URL }}site/js/website/generic.js"></script>
{% endblock %}


{% block title %}{% trans "Events" %}{% endblock %}

{% block headline %}
	<h2 class="main">{% trans "Events" %}</h2>
{% endblock %}			

{% block content %}
    {% block tabs %}
        <div id="tabs">
            {% children_of "events" using "navigation/children_in_tabs.html" %}
        </div>
    {% endblock %}
    {% if object_list %}
        {% include "utils/sorting_view_pagination_header.html" %}
            
        {% block breadcrumbs %}
            <div class="breadcrumbs">
                <div>
                    {% include "utils/abc_filters.html" %}
                </div>
            </div>
        {% endblock %}
        {% for event in object_list %}
            {% include_parsed "events/lists/event.html" with "vevent" as extra_css_classes %}
        {% endfor %}
	
    	{% include "utils/pagination_footer.html" %}
    	
     {% else %}
        <p class="nothing">{% trans "No objects found within the selected conditions." %}</p>
    {% endif %}
{% endblock %}

