<!-- TODO -->
<ul class="search-navi">
    <li class="active on">
        <a href="/profiles/">Alle</a>
        |
    </li>
    <li class="active">
        <a href="/profiles/?by-abc=A">A</a>
    </li>
    <li class="active">
        <a href="/profiles/?by-abc=B">B</a>
    </li>
    <li class="active">
        <a href="/profiles/?by-abc=C">C</a>
    </li>
    <li>D</li>
    <li>E</li>
    <li class="active">
        <a href="/profiles/?by-abc=F">F</a>
    </li>
    <li>G</li>
    <li>H</li>
    <li class="active">
        <a href="/profiles/?by-abc=I">I</a>
    </li>
    <li>J</li>
    <li>K</li>
    <li>L</li>
    <li>M</li>
    <li>N</li>
    <li>O</li>
    <li>P</li>
    <li>Q</li>
    <li class="active">
        <a href="/profiles/?by-abc=R">R</a>
    </li>
    <li class="active">
        <a href="/profiles/?by-abc=S">S</a>
    </li>
    <li class="active">
        <a href="/profiles/?by-abc=T">T</a>
    </li>
    <li class="active">
        <a href="/profiles/?by-abc=U">U</a>
    </li>
    <li>V</li>
    <li>W</li>
    <li>X</li>
    <li>Y</li>
    <li>Z</li>
    <li>0-9</li>
</ul>
                  
