{% load menu_tags %}
{% for lang_code, lang_name in languages %}
    {% if lang_code in "en|de" %}
        {% if current_language != lang_code %}
            {% if lang_code == "de" %}
                <a href="{% page_language_url lang_code %}">
                    <span class="icon language">{% include 'svg/icons/de.svg' %}</span>
                </a>
            {% endif %}
            {% if lang_code == "en" %}
                <a href="{% page_language_url lang_code %}">
                    <span class="icon language">{% include 'svg/icons/en.svg' %}</span>
                </a>
            {% endif %}
        {% endif %}
    {% endif %}
{% endfor %}
