@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* line 3, /Library/virtualenvs/git_museumsportal/project/museumsportal/site_static/site/scss/ie.scss */
  .row > div {
    width: 50%;
  }

  /* line 8, /Library/virtualenvs/git_museumsportal/project/museumsportal/site_static/site/scss/ie.scss */
  div.tagsinput input {
    padding-top: 0;
    padding-bottom: 0;
  }
}
