.plan_organize_overview article section,
.magazine_series_featured article section,
.magazine_series article section,
.magazine article section {
  margin-bottom: -30px; }
  .plan_organize_overview article section.featured > div,
  .magazine_series_featured article section.featured > div,
  .magazine_series article section.featured > div,
  .magazine article section.featured > div {
    width: 320px;
    float: left !important;
    position: relative;
    padding-top: 0px !important;
    margin-top: 0px !important;
    padding-bottom: 40px;
    margin-right: 20px;
    border: none !important; }
    .plan_organize_overview article section.featured > div.cms_placeholder-bar,
    .magazine_series_featured article section.featured > div.cms_placeholder-bar,
    .magazine_series article section.featured > div.cms_placeholder-bar,
    .magazine article section.featured > div.cms_placeholder-bar {
      width: 100%; }
    .plan_organize_overview article section.featured > div.cms_placeholder,
    .magazine_series_featured article section.featured > div.cms_placeholder,
    .magazine_series article section.featured > div.cms_placeholder,
    .magazine article section.featured > div.cms_placeholder {
      clear: none; }
    .plan_organize_overview article section.featured > div:nth-child(3n),
    .magazine_series_featured article section.featured > div:nth-child(3n),
    .magazine_series article section.featured > div:nth-child(3n),
    .magazine article section.featured > div:nth-child(3n) {
      margin-right: 0px; }
    .plan_organize_overview article section.featured > div:nth-child(3n+1),
    .magazine_series_featured article section.featured > div:nth-child(3n+1),
    .magazine_series article section.featured > div:nth-child(3n+1),
    .magazine article section.featured > div:nth-child(3n+1) {
      clear: left; }
    .plan_organize_overview article section.featured > div .img,
    .magazine_series_featured article section.featured > div .img,
    .magazine_series article section.featured > div .img,
    .magazine article section.featured > div .img {
      display: block;
      overflow: hidden;
      height: 220px !important;
      width: 100% !important;
      background-size: cover;
      background-position: top;
      margin-bottom: 20px !important;
      position: relative;
      background-color: rgba(0,0,0,0.05);
      box-shadow: inset 0 0 10px rgba(0,0,0,0.05);
      -webkit-transition-property: all;
      -webkit-transition-duration: 0.25s;
      -webkit-transition-timing: ease-in-out; }
      .plan_organize_overview article section.featured > div .img:hover,
      .magazine_series_featured article section.featured > div .img:hover,
      .magazine_series article section.featured > div .img:hover,
      .magazine article section.featured > div .img:hover {
        opacity: 0.9; }
        .plan_organize_overview article section.featured > div .img:hover .caption,
        .magazine_series_featured article section.featured > div .img:hover .caption,
        .magazine_series article section.featured > div .img:hover .caption,
        .magazine article section.featured > div .img:hover .caption {
          -webkit-transform: translate3d(0px, 0, 0) !important;
          -moz-transform: translate3d(0px, 0, 0) !important;
          -o-transform: translate3d(0px, 0, 0) !important;
          transform: translate3d(0px, 0, 0) !important; }
      .plan_organize_overview article section.featured > div .img .caption,
      .magazine_series_featured article section.featured > div .img .caption,
      .magazine_series article section.featured > div .img .caption,
      .magazine article section.featured > div .img .caption {
        position: absolute;
        width: 100%;
        bottom: 0px;
        background-color: white;
        color: rgba(0,0,0,0.75);
        font-size: 12px;
        line-height: 18px;
        padding-top: 5px !important;
        -webkit-transform: translate3d(0px, 100%, 0) !important;
        -moz-transform: translate3d(0px, 100%, 0) !important;
        -o-transform: translate3d(0px, 100%, 0) !important;
        transform: translate3d(0px, 100%, 0) !important;
        -webkit-transition-property: all;
        -webkit-transition-duration: 0.25s;
        -webkit-transition-timing: ease-in-out; }
    .plan_organize_overview article section.featured > div .description,
    .magazine_series_featured article section.featured > div .description,
    .magazine_series article section.featured > div .description,
    .magazine article section.featured > div .description {
      font-size: 15px;
      line-height: 23px; }
    .plan_organize_overview article section.featured > div .title,
    .magazine_series_featured article section.featured > div .title,
    .magazine_series article section.featured > div .title,
    .magazine article section.featured > div .title {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 0px !important; }
      .plan_organize_overview article section.featured > div .title h3,
      .magazine_series_featured article section.featured > div .title h3,
      .magazine_series article section.featured > div .title h3,
      .magazine article section.featured > div .title h3 {
        font-size: inherit;
        line-height: inherit;
        font-weight: 500;
        padding: 0px;
        margin: 0px;
        margin-bottom: 0px; }
    .plan_organize_overview article section.featured > div .more,
    .magazine_series_featured article section.featured > div .more,
    .magazine_series article section.featured > div .more,
    .magazine article section.featured > div .more {
      margin-top: -10px; }
      .plan_organize_overview article section.featured > div .more a,
      .magazine_series_featured article section.featured > div .more a,
      .magazine_series article section.featured > div .more a,
      .magazine article section.featured > div .more a {
        font-size: 14px;
        line-height: 20px;
        color: white;
        padding: 5px;
        padding-left: 8px;
        padding-right: 8px;
        background-color: black; }
        .plan_organize_overview article section.featured > div .more a:hover,
        .magazine_series_featured article section.featured > div .more a:hover,
        .magazine_series article section.featured > div .more a:hover,
        .magazine article section.featured > div .more a:hover {
          opacity: 0.9 !important; }
  .plan_organize_overview article section.nonfeatured:empty,
  .magazine_series_featured article section.nonfeatured:empty,
  .magazine_series article section.nonfeatured:empty,
  .magazine article section.nonfeatured:empty {
    display: none !important; }
  .plan_organize_overview article section.nonfeatured > div,
  .magazine_series_featured article section.nonfeatured > div,
  .magazine_series article section.nonfeatured > div,
  .magazine article section.nonfeatured > div {
    font-size: 13px;
    line-height: 21px;
    color: rgba(0,0,0,0.75);
    width: 235px;
    float: left;
    margin-right: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    border: none !important; }
    .plan_organize_overview article section.nonfeatured > div:nth-child(4n),
    .magazine_series_featured article section.nonfeatured > div:nth-child(4n),
    .magazine_series article section.nonfeatured > div:nth-child(4n),
    .magazine article section.nonfeatured > div:nth-child(4n) {
      margin-right: 0px !important; }
    .plan_organize_overview article section.nonfeatured > div:nth-child(4n+1),
    .magazine_series_featured article section.nonfeatured > div:nth-child(4n+1),
    .magazine_series article section.nonfeatured > div:nth-child(4n+1),
    .magazine article section.nonfeatured > div:nth-child(4n+1) {
      clear: both !important; }
    .plan_organize_overview article section.nonfeatured > div .img,
    .magazine_series_featured article section.nonfeatured > div .img,
    .magazine_series article section.nonfeatured > div .img,
    .magazine article section.nonfeatured > div .img {
      display: block;
      overflow: hidden;
      height: 130px !important;
      width: 100% !important;
      background-size: cover;
      background-position: top;
      margin-bottom: 6px !important; }
    .plan_organize_overview article section.nonfeatured > div .description,
    .magazine_series_featured article section.nonfeatured > div .description,
    .magazine_series article section.nonfeatured > div .description,
    .magazine article section.nonfeatured > div .description {
      font-size: inherit;
      line-height: inherit; }
    .plan_organize_overview article section.nonfeatured > div .caption,
    .magazine_series_featured article section.nonfeatured > div .caption,
    .magazine_series article section.nonfeatured > div .caption,
    .magazine article section.nonfeatured > div .caption {
      display: none; }
    .plan_organize_overview article section.nonfeatured > div .title,
    .magazine_series_featured article section.nonfeatured > div .title,
    .magazine_series article section.nonfeatured > div .title,
    .magazine article section.nonfeatured > div .title {
      font-size: 13px;
      line-height: 18px; }
      .plan_organize_overview article section.nonfeatured > div .title h3,
      .magazine_series_featured article section.nonfeatured > div .title h3,
      .magazine_series article section.nonfeatured > div .title h3,
      .magazine article section.nonfeatured > div .title h3 {
        font-size: inherit;
        line-height: inherit;
        font-weight: 500;
        padding: 0px;
        margin: 0px; }
    .plan_organize_overview article section.nonfeatured > div .more,
    .magazine_series_featured article section.nonfeatured > div .more,
    .magazine_series article section.nonfeatured > div .more,
    .magazine article section.nonfeatured > div .more {
      margin-top: -10px;
      display: none; }
      .plan_organize_overview article section.nonfeatured > div .more a,
      .magazine_series_featured article section.nonfeatured > div .more a,
      .magazine_series article section.nonfeatured > div .more a,
      .magazine article section.nonfeatured > div .more a {
        font-size: 14px;
        line-height: 20px;
        color: white;
        padding: 5px;
        padding-left: 8px;
        padding-right: 8px;
        background-color: black; }
        .plan_organize_overview article section.nonfeatured > div .more a:hover,
        .magazine_series_featured article section.nonfeatured > div .more a:hover,
        .magazine_series article section.nonfeatured > div .more a:hover,
        .magazine article section.nonfeatured > div .more a:hover {
          opacity: 0.9 !important; }

.plan_organize.secondlevel article,
.plan_organize.thirdlevel article {
  width: 620px;
  float: left; }
.plan_organize.secondlevel section.marginal,
.plan_organize.thirdlevel section.marginal {
  width: 320px;
  float: left;
  padding-left: 60px; }
  .plan_organize.secondlevel section.marginal .first .more,
  .plan_organize.thirdlevel section.marginal .first .more {
    display: none; }
  .plan_organize.secondlevel section.marginal .editorial-content,
  .plan_organize.thirdlevel section.marginal .editorial-content {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #f2f2f2 !important; }
    .plan_organize.secondlevel section.marginal .editorial-content .title,
    .plan_organize.thirdlevel section.marginal .editorial-content .title {
      margin-bottom: 0px !important; }
      .plan_organize.secondlevel section.marginal .editorial-content .title h3,
      .plan_organize.thirdlevel section.marginal .editorial-content .title h3 {
        font-size: 16px;
        line-height: 26px;
        font-weight: 500; }
