/* @override 
	http://127.0.0.1:8000/static/7500/site/css/style.css
	http://h2041646.stratoserver.net/static/7667/site/css/style.css
	http://127.0.0.1:8000/static/7710/site/css/style.css
	http://test.berliner-museumsportal.de/static/7715/site/css/style.css
	http://test.berliner-museumsportal.de/static/7720/site/css/style.css
	http://127.0.0.1:8000/static/7720/site/css/style.css
	http://test.berliner-museumsportal.de/static/7736/site/css/style.css
	http://test.berliner-museumsportal.de/static/7756/site/css/style.css
	http://127.0.0.1:8000/static/7753/site/css/style.css
	http://test.berliner-museumsportal.de/static/7760/site/css/style.css
	http://test.berliner-museumsportal.de/static/7762/site/css/style.css
	http://test.berliner-museumsportal.de/static/7765/site/css/style.css
	http://test.berliner-museumsportal.de/static/7766/site/css/style.css
	http://test.berliner-museumsportal.de/static/7769/site/css/style.css
	http://test.berliner-museumsportal.de/static/7770/site/css/style.css
	http://test.berliner-museumsportal.de/static/7772/site/css/style.css
	http://test.berliner-museumsportal.de/static/7776/site/css/style.css
	http://test.berliner-museumsportal.de/static/7780/site/css/style.css
	http://127.0.0.1:8000/static/7783/site/css/style.css
	http://test.berliner-museumsportal.de/static/7787/site/css/style.css
	http://test.berliner-museumsportal.de/static/7794/site/css/style.css
	http://test.berliner-museumsportal.de/static/7798/site/css/style.css
	http://test.berliner-museumsportal.de/static/7803/site/css/style.css
	http://test.berliner-museumsportal.de/static/7808/site/css/style.css
	http://test.berliner-museumsportal.de/static/7812/site/css/style.css
	http://127.0.0.1:8000/static/7814/site/css/style.css
*/

@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700|Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);

/* @group General */

body, html {
	width: 100% !important;
	height: 100% !important;
}

html {
	background-color: rgba(243,240,232,0.57);
}

* {
	margin: 0;
	padding: 0;
}

body {
	overflow-x: hidden;
	color: #000;
	font: 16px/29px 'Open Sans', sans-serif;
}

strong {
	font-weight: 400;
}

.clearfix:before, .clearfix:after {
	content: "\0020";
	display: block;
	height: 0;
	visibility: hidden;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom: 1;
}

a:link {
	text-decoration: none;
	color: #000;
}

a:hover {
	text-decoration: none;
	color: #00aa5a;
}

a:visited {
	text-decoration: none;
	color: #000;
}

a:active {
	outline: none;
}

.wrapper {
	width: 1000px;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	min-height: 100%;
	border-left: 1px solid #e5e3df;
	border-right: 1px solid #e5e3df;
}

/* @end */

/* @group Kurze Zeit */

#kurze_zeit div {
	border-top: 1px solid #e5e3df;
	margin-left: -25px;
	position: relative;
	float: left;
	display: block;
	width: 260px;
	padding: 10px 25px 16px;
	min-height: 65px;
}

/*#kurze_zeit div:hover {
background-color: white;}*/

#kurze_zeit .img {
	width: 57px;
	height: 39px;
	margin-right: 10px;
	display: block;
	float: left;
	margin-bottom: 0;
	margin-top: 2px;
}

#kurze_zeit div a.proceed {
	position: absolute;
	left: 48px;
	display: inline-block;
	background-position: 0;
	top: 65px;
	opacity: 0;
	margin-left: -23px;
	-webkit-transition-property: all;
	-moz-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: 0.25s;
	-moz-transition-duration: 0.25s;
	transition-duration: 0.25s;
	-webkit-transition-timing: ease-in-out;
	-moz-transition-timing: ease-in-out;
}

#kurze_zeit div:hover a.proceed {
	opacity: 1;
	margin-left: 0px;
}

#kurze_zeit div h3,
#kurze_zeit div h4,
#kurze_zeit div h5 {
	font-size: 11px;
	line-height: 17px;
	padding-left: 73px;
}

#kurze_zeit div h3 {
	font-weight: 600;
}

#kurze_zeit h2.catHead {
	
}

/* @end */

/* @group Navigation */

.navigation {
	font-weight: 100;
	float: left;
	font-size: 17px;
	line-height: 22px;
	width: 950px;
	padding: 16px 25px 20px;
	border-bottom: 1px solid #e5e3df;
	white-space: nowrap;
}

ul#lang {
	position: absolute;
	top: 0;
	right: 6px;
	font-size: 10px;
	font-weight: 700;
}

#lang li {
	float: left;
	margin-left: 2px;
}

#lang li a:link {
	padding: 0 3px 1px;
	border-radius: 2px
}

#lang li a.current:link {
	background-color: black;
	color: white;
}

#lang li a:hover {
	color: white;
	background-color: #00aa5a;
}

#content #detail {
	width: 627px;
	padding-top: 19px;
	padding-left: 25px;
}

.navigation li span {
	float: left;
	font-weight: 500;
	margin-right: 9px;
}

.navigation li {
	display: inline;
}

.navigation li a:link,
.navigation li a:visited {
	border-radius: 3px;
	padding-top: 0;
	padding-bottom: 3px;
	color: black;
}

.navigation li.selected>a:link {
	color: #00aa5a;
}

#header ul.navigation li.dropdown ul {
	font-size: 12px;
}

/* @end */

/* @group Content */

#filter {
	padding-top: 11px;
	padding-bottom: 25px;
	width: 260px;
	font-size: 13px;
	line-height: 23px;
}

#filter li a {
	font-weight: 200;
	text-transform: none;
	display: block;
}

#filter li a:hover {
	
}

#filter li.active {
	/*

color: #00aa5a;*/
 text-transform: none;
	position: relative;
}

#filter li.active a:link {
	position: absolute;
	background-color: rgba(0,0,0,0.15);
	color: white;
	border-radius: 30px;
	height: 16px;
	width: 16px;
	display: block;
	right: -4px;
	top: 6px;
	font-weight: 600;
	text-align: center;
	font-size: 16px;
	padding: 0;
	line-height: 16px;
}

ul#az_filter {
	float: left;
	border-bottom: 1px solid #e5e3df;
	height: 21px;
	width: 1000px;
}

ul#az_filter li {
	float: left;
	border: 1px solid #e5e3df;
	margin-top: -1px;
	margin-left: -1px;
}

ul#az_filter li.active a:link {
	background-color: black;
	color: white;
	font-weight: 700 !important;
}

ul#az_filter li:last-child {
	border-right-style: none;
}

ul#az_filter li a,
ul#az_filter li span {
	height: 17px;
	display: block;
	line-height: 17px;
	text-align: center;
	margin: 2px;
	font-size: 12px;
  width: 30px;	
  border-radius: 3px;
  
  
	-webkit-transition-property: all;
	-moz-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-timing: ease-in-out;
	-moz-transition-timing: ease-in-out;
}

ul#az_filter li span {
  color: #b4b4b4;
}

ul#az_filter li  a#id_abc_filter_ {
  width: 51px;
}

ul#az_filter li a:hover {
	background-color: black;
	color: white;	
	font-weight: 700 !important;
	
	-webkit-transition-property: all;
	-moz-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	transition-duration: 0s;
	-webkit-transition-timing: ease-in-out;
	-moz-transition-timing: ease-in-out;

}

/* @group museum_list */

#object_list div.article div.marker-link a {
  position: absolute;
  top: 5px;
  right: 10px;
}

#museum_list {
	width: 690px;
	min-height: 400px;
	border-right: 1px solid #e5e3df;
	float: left;
}

#museum_list_map {
	height: 350px;
	border-bottom: 1px solid #e5e3df;
	-webkit-box-shadow: inset 0px 1px 4px rgba(0,0,0,0.125);
}

#museum_list div.article {
	border-right: 1px solid #e5e3df;
	border-bottom: 1px solid #e5e3df;
	float: left;
	padding: 10px 25px 5px;
	height: 30px;
	position: relative;
	width: 640px;
	margin-right: -1px;
}

#museum_list div.article h2 {
	font-size: 16px;
	white-space: normal;
	line-height: 21px;
	font-weight: 200;
	-webkit-transition-property: text-indent;
	-moz-transition-property: text-indent;
	transition-property: text-indent;
	-webkit-transition-duration: 0.25s;
	-moz-transition-duration: 0.25s;
	transition-duration: 0.25s;
	-webkit-transition-timing: ease-in-out;
	-moz-transition-timing: ease-in-out;
	margin-top: 1px;
/*

white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 172px;*/
}

#museum_list div.article a.img {
	float: left;
	width: 76px;
	margin-right: 15px;
	display: none;
}

#museum_list div.article:hover {
	background-color: white;
}

#museum_list div.article:hover h2 {
	text-indent: 50px;
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	transition-duration: 0s;
}

#museum_list div.article a.proceed {
	float: right;
	position: absolute;
	top: 14px;
	opacity: 0;
	left: 25px;
}

#museum_list div.article div.address {
	float: right;
	position: absolute;
	top: 14px;
	font-size: 12px;
	line-height: 17px;
	text-align: right;
	opacity: 0.2;
	right: 25px;
	color: gray;
}

#museum_list div.article div.address span {
	color: black;
}

#museum_list div.article:hover div.address,
#museum_list div.article:hover a.proceed {
	display: block;
	opacity: 1;
}



/* @end */

/* @group museum_detail */

#museum_detail div.article {
	width: 690px;
}

#museum_detail div.article div.leftSidebar {
	float: left;
	width: 190px;
}

#museum_detail div.article h2 {
	font-weight: 400;
	font-size: 26px;
	line-height: 34px;
	margin-top: 0;
}

#museum_detail div.article h3 {
	font-weight: 200;
	font-size: 26px;
	line-height: 34px;
	margin-bottom: 5px;
}

/* @end */

/* @group Social */

ul.social {
	margin-left: -25px;
	height: 304px;
	border-bottom: 1px solid #e5e3df;
	margin-right: -25px;
}

.social li a {
	color: black;
	font-size: 14px;
	font-weight: 400;
	border-radius: 2px;
	display: block;
	text-align: left;
	text-transform: uppercase;
	line-height: 42px;
	text-indent: 55px;
	letter-spacing: 2px;
	border-bottom: 1px solid #e5e3df;
	padding-bottom: 5px;
	height: 40px;
	background-repeat: no-repeat;
	background-position: 14px center;
}

.social li a:hover {
	color: white;
	background-color: black;
}

.social li .facebook {
	background-image: url(../img/facebook.png);
}

.social li .twitter {
	background-image: url(../img/twitter.png);
}

.social li .rss {
	background-image: url(../img/rss.png);
}

ul.social li a.journal {
	height: 116px;
	background: url(../img/journal.png) no-repeat center center;
	background-size: 300px;
	position: relative;
	display: none;
}

ul.social li a.journal span {
	border-radius: 2px;
	background-color: rgba(255,255,255,0.98);
	-webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.125);
	padding: 8px 7px 1px 10px;
	-webkit-transform: rotate(-3deg);
	display: inline-block;
	text-indent: 0;
	height: 14px;
	position: absolute;
	bottom: -2px;
	right: 21px;
	letter-spacing: 1px;
	white-space: nowrap;
	font-size: 13px;
	line-height: 5px;
	text-transform: lowercase;
}

ul.social li a.journal:hover span {
	background-color: black;
	color: white;
}

.social li .newsletter {
	background-image: url(../img/mail.png);
}

.social li .facebook:hover {
	background-image: url(../img/inverted/facebook.png);
}

.social li .twitter:hover {
	background-image: url(../img/inverted/twitter.png);
}

.social li .rss:hover {
	background-image: url(../img/inverted/rss.png);
}

.social li .newsletter:hover {
	background-image: url(../img/inverted/mail.png);
}

/* @end */

/* @group richtext */

#content div.cms-plugin-richtext>a,
#content div a.proceed {
	background-color: #000;
	color: #fff;
	-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.125);
	font-weight: 600;
	border-radius: 2px;
	display: inline-block;
	
		padding: 0 5px 1px;
  font-size: 12px;
  line-height: 19px;
  text-indent: 0;
}

#content div.cms-plugin-richtext>*>a:link {
	color: #00aa5a;
}

#content div.cms-plugin-richtext>*>a:hover {
	color: #000;
}

#content div.cms-plugin-richtext>a:hover,
#content div a.proceed:hover {
	background-color: #00aa5a;
	color: #fff;
}

#content div.cms-plugin-richtext {
	width: 640px;
	border-top: 1px solid #e5e3df;
	border-right: 1px solid #e5e3df;
	margin-top: -1px;
  padding: 15px 25px;
}

#content div.cms-plugin-richtext h1,
#content div.cms-plugin-richtext h2,
#content div.cms-plugin-richtext h3,
#content div.cms-plugin-richtext h4,
#content div.cms-plugin-richtext ul,
#content div.cms-plugin-richtext p {
	padding-left: 240px;
}

#content div.cms-plugin-richtext h2 {
	font-weight: 400;
	font-size: 26px;
	line-height: 34px;
	margin-top: 0;
}

#content div.cms-plugin-richtext h3 {
	font-weight: 200;
	font-size: 26px;
	line-height: 34px;
	margin-bottom: 5px;
}

#content div.cms-plugin-richtext p.img_left {
	font-size: 10px;
	line-height: 16px;
	color: gray;
	width: 196px;
	position: relative;
	top: 5px;
	padding: 0;
	font-weight: 400;
	margin-bottom: 0;
	margin-right: auto;
	height: 0;
}

#content .cms-plugin-richtext .img_block {
	font-size: 10px;
	color: gray;
	font-weight: 400;
	line-height: 16px;
  padding-top: 14px;
  margin-bottom: 5px;
}

#content div.cms-plugin-richtext p.img_left_nospacetop {
	color: gray;
	width: 196px;
	position: relative;
	top: -5px;
	padding: 0;
	font-weight: 400;
	height: 0;
}

#content div.cms-plugin-richtext p.img_left strong {
	color: black;
}

#museum_detail div.article div.leftCol div.article_img img,
.article>img,
.cms-plugin-richtext img,
.img {
	display: inline-block;
	font-size: 15px;
	line-height: 21px;
	background-color: #f5f5f5;
	margin-bottom: 7px;
	border: 2px solid white;
	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
	box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
	background-size: cover;
	background-position: top;
	position: relative;
	-webkit-transition-property: opacity;
	-moz-transition-property: opacity;
	transition-property: webkit-box-shadow;
	-webkit-transition-duration: 0.25s;
	-moz-transition-duration: 0.25s;
	transition-duration: 0.25s;
	-webkit-transition-timing: ease-in-out;
	-moz-transition-timing: ease-in-out;
}

a.img:hover {
	opacity: 0.7;
}

.cms-plugin-richtext img,
.img img {
	width: 100%;
	height: auto;
	display: block;
}

.cms-plugin-richtext ul li {
	border-bottom: 1px solid #e5e3df;
	margin-bottom: 5px;
	padding-bottom: 5px;
	font-weight: 300;
}

.cms-plugin-richtext ul li:last-child {
	border-bottom: none;
	margin-bottom: 0px;
}

div.cms-plugin-richtext p:last-child a:link,
div.cms-plugin-richtext p:last-child a:visited {	
background-color: #000;
	color: #fff !important;
	-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.125);
	font-weight: 600;
	border-radius: 2px;
	padding: 0 5px 1px 6px;
	display: inline-block;
  width: inherit;
  margin-top: -10px;
  top: -7px;
  position: relative;
  font-size: 12px;
  line-height: 19px;
}

div.cms-plugin-richtext p:last-child a:hover {	
	background-color: #00aa5a;
	color: #fff;
}



/* @end */

/* @group Cols */

.leftCol,
.rightCol {
	font-size: 13px;
	line-height: 21px;
	font-weight: 200;
	float: left;
	width: 294px;
	padding-bottom: 25px;
	padding-left: 25px;
	padding-right: 25px;
}

.rightCol {
	border-left: 1px solid #e5e3df;
	width: 295px;
}

#museum_detail div.article div.rightCol {
	width: 400px;
	border: none;
	border-right: 1px solid #e5e3df;
	margin-right: -1px;
	padding-top: 15px;
	margin-left: 20px;
}

#museum_detail div.article div.leftCol {
	width: 196px;
	padding-right: 0;
	border: none;
	font-size: 12px;
	line-height: 18px;
	padding-top: 54px;
}

#museum_detail div.article div.leftCol dl {
	padding-top: 10px;
	border-top: 1px solid #e5e3df;
	margin-top: 10px;
}

#museum_detail div.article div.leftCol dl.website dd a {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 205px;
	display: block;
}

#museum_detail div.article div.leftCol div.article_img div.image_caption {
	font-size: 10px;
	line-height: 16px;
	color: gray;
	width: 196px;
	position: relative;
	top: 5px;
	padding: 0;
	font-weight: 400;
	margin-right: auto;
	margin-top: -10px;
	margin-bottom: 17px;
}

#museum_detail div.article div.leftCol dl dt {
	font-weight: 600;
	background-repeat: no-repeat;
	text-indent: 17px;
	background-position: 0 2px;
}

#museum_detail div.article div.leftCol dl.address dt {
	background-image: url(../img/home.gif);
}

#museum_detail div.article div.leftCol dl.phone dt {
	background-image: url(../img/phone.gif);
}

#museum_detail div.article div.leftCol dl.fax dt {
	background-image: url(../img/fax.gif);
}

#museum_detail div.article div.leftCol dl.website dt {
	background-image: url(../img/web.gif);
}

#museum_detail div.article div.leftCol dl.categories dt {
	background-image: url(../img/cat.gif);
}

#museum_detail div.article div.leftCol img {
	width: 196px;
}

.leftCol {
	border-right: 1px solid #e5e3df;
	margin-right: -1px;
}

.colWrapper {
	border-right: 1px solid #e5e3df;
	float: left;
}

.marginal {
	width: 259px;
	border-left: 1px solid #e5e3df;
	padding-left: 25px;
	height: 100%;
	padding-bottom: 0;
	float: right;
	margin-left: -1px;
	padding-right: 25px;
}

/* @end */

#content {
	position: relative;
}

#redaktion {
	float: left;
}

#content div p,
#content .text,
.cms-plugin-richtext ul {
	font-size: 15px;
	line-height: 24px;
	color: #131313;
	padding-bottom: 15px;
	font-weight: 200;
}


#content div.cms-plugin-richtext h4 {
	font-size: 15px;
	line-height: 24px;
	color: #131313;
	margin-top: -15px;
	font-weight: 500;
	padding-bottom: 35px;
	border-bottom: 1px solid #e5e3df;
	margin-bottom: 35px;
	padding-left: 0;
	margin-left: 225px;
}

/*#content div.cms-plugin-richtext p strong:first-child {
 display: block;
 float: left;
 width: 100%;	border-top: 1px solid #e5e3df;
 padding-top: 30px;
}*/

/*#content div.cms-plugin-richtext p {
background-color: white;
 margin-bottom: 5px;
 margin-left: 220px;
 padding: 15px 25px;
}*/

#content .article.short p {
	font-size: 12px;
	line-height: 18px;
	padding-bottom: 12px;
}

.catHead {
	font-weight: 500;
	font-size: 14px;
	padding-bottom: 13px;
	text-indent: -2px;
	padding-top: 13px;
	line-height: 16px;
}

.article.short {
	padding-bottom: 40px;
}

.article h3,
.article h4,
.article h5 {
	font-size: 16px;
	line-height: 21px;
}

#redaktion div.article.short h3,
#neu div.article.short h3 {
	padding-bottom: 8px;
}

h3 {
	font-weight: 500;
}

h4 {
	font-weight: 300;
}

h5 {
	font-weight: 300;
}

.article h3 span {
	font-size: 6px;
	margin-right: 5px;
	margin-top: 0;
	float: left;
	height: 3px;
}

/* @end */

/* @group Stage */

#content div.stage_wrapper {
	position: relative;
	width: 641px;
	height: 284px;
	border-bottom: 1px solid #e5e3df;
	padding-top: 20px;
	padding-left: 25px;
	padding-right: 25px;
}

#stage div .img .wrap {
	position: absolute;
	width: 150px;
	border-radius: 200px;
	background-color: rgba(255,255,255,0.5);
	color: black;
	height: 150px;
	text-align: center;
	font-size: 25px !important;
	-webkit-transform: rotate(8deg);
	right: 21px;
	-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.125);
	bottom: 160px;
}

/*#stage div a.img div.wrap h4 {
 display: inline-block;
 margin-right: 5px;
 font-size: 12px;
}

#stage div a.img div.wrap h3 {
 display: inline-block;
 float: left;
 margin-right: 6px;
 font-size: 12px;
}*/

#stage div a.img .wrap h3 {
	font-size: 20px;
	white-space: normal;
	letter-spacing: -1px;
	line-height: 18px;
	text-align: center;
	width: 90%;
	padding-right: 5%;
	padding-left: 5%;
	margin-bottom: 2px;
	text-transform: uppercase;
	font-weight: 700;
	margin-top: 5px;
}

#stage div. a.img table.wrap tbody tr td {
	padding: 25px;
}

#stage div a.img .wrap h4 {
	font-size: 13px;
	left: 0;
	width: 80%;
	line-height: 15px;
	text-align: center;
	padding-left: 10%;
	padding-right: 10%;
	font-weight: 400;
  margin-top: 2px;
}

#stage {
	height: 100%;
}

#content #stage div .img {
	width: 640px;
	height: 260px;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
}

#nav {
	width: 641px;
	float: left;
	position: absolute;
	z-index: 50;
	text-align: center;
	padding-top: 6px;
	top: 285px;
	line-height: 0;
}

#content div.stage_wrapper div.controls #next,
#content div.stage_wrapper div.controls #prev {
	position: absolute;
	top: 2px;
	height: 270px;
	width: 40px;
	background-color: rgba(0,0,0,0);
	z-index: 10000;
	text-align: center;
	line-height: 270px;
	color: rgba(0,0,0,0.5);
}

#content div.stage_wrapper div.controls #next:hover,
#content div.stage_wrapper div.controls #prev:hover {
	background-color: rgba(0,0,0,0.1);
	color: rgba(0,0,0,0.1);
}

#content div.stage_wrapper div.controls #next {
	right: 2px;
}

#content div.stage_wrapper div.controls #prev {
	left: 2px;
}

#nav li {
	display: inline-block;
}

#nav li a {
	background-color: #00aa5a;
	width: 2px;
	height: 2px;
	float: left;
	display: block;
	margin-right: 3px;
	overflow: hidden;
	text-indent: 100px;
	border-radius: 3px;
	margin-left: 3px;
}

#nav li.activeSlide a {
	background-color: black;
}

/* @end */

/* @group Footer */

#footer {
	border-top: 1px solid #e5e3df;
	margin-top: -1px;
}

#footer .navigation {
	font-size: 15px;
}

/* @end */

.marginal #sub_menu {
	margin-top: -1px;
}

.marginal #sub_menu li {
	border-top: 1px solid #e5e3df;
	padding-left: 25px;
	margin-left: -25px;
	width: 284px;
}

.marginal #sub_menu a:link,
.marginal #sub_menu a:visited {
	font-size: 14px;
	font-weight: 300;
	display: block;
	border-color: #e5e3df;
	width: 100%;
	margin-left: -25px;
	margin-top: 0;
	line-height: 14px;
	padding-top: 9px;
	padding-bottom: 11px;
	padding-left: 25px;
}

#sub_menu li ul li a {
	text-indent: 25px;
}

#sub_menu>li>a:link {
	font-weight: 500 !important;
}