/* overriding grappelli's style back, because it doesn't work with email layouts */
body#tinymce table.mceitemtable td + td {
    padding-left: 0 !important;
}

body {
    background-color: white;
    font-family: Helvetica, Arial;
    font-size: 12px;
    line-height: 20px;
}

table{
    font-family: Helvetica, Arial;
    font-size: 12px;
    line-height: 20px;
}

#templateContainer {
    padding-bottom: 0;
    overflow: hidden;
}

.background-blue { background-color: #ff0358; }
.background-red  { background-color: #ff0358; }
div a:link,
div a:visited,
/* Yahoo! Mail Override */
div a .yshortcuts
/* Yahoo! Mail Override */ {
    color: #0095d7;
    font-weight: normal;
    text-decoration: none;
}
a:link,
a:visited,
/* Yahoo! Mail Override */
a .yshortcuts
/* Yahoo! Mail Override */ {
    color: #0088cc;
    font-weight: normal;
    text-decoration: none;
}
.event {
    display: block;
    margin-bottom: 10px;
}
.event div {
    margin: 15px 20px;
}
.exhibition {
    margin-bottom: 35px;
}
.block {
    display: block;
    margin-bottom: 35px;
}
#logo,
#logos {
    margin-bottom: 40px;
}
.module {
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 30px;
}
.footer {
    margin-bottom: 30px;
}
.intro {
    margin-bottom: 25px;
}
.link-block {
    display: block;
    margin-bottom: 30px;
}
#article .text {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 10px;
}
#article .image img {
    height: auto;
    line-height: 100%;
    outline: none;
}
#article td div.image {
    margin-bottom: 15px;
}
#preHeader,
#social,
#author,
#utility {
    color: #707070;
    font-family: Helvetica, Arial;
    font-size: 10px;
    line-height: 13px;
    text-align: left;
}
h1, .h1 {
    color: black;
    display: block;
    font-family: helvetica, arial;
    font-size: 40px;
    line-height: 35px;
    font-weight: normal;
    letter-spacing: -3px;
    text-align: left;
    margin: 0;
    color: black;
    text-transform: uppercase;
}
h2, .h2 {
    color: black;
    display: block;
    font-family: helvetica, arial;
    font-size: 22px;
    line-height: 22px;
    font-weight: normal;
    letter-spacing: 1px;
    text-align: left;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
}
.image {
    margin-bottom: 10px;
}
h3, .h3,
h4, .h4,
h5, .h5 {
    display: block;
    font-family: helvetica, arial;
    font-size: 12px;
    line-height: 20px;
    font-weight: bold;
    text-align: left;
    margin: 0;
    padding: 0;
    font-weight: normal;
}
h4 a:link,
h4 a:visited,
h4 a .yshortcuts {
    display: block;
    font-family: helvetica, arial;
    font-size: 12px;
    line-height: 20px;
    font-weight: bold;
    text-align: left;
    margin: 0;
    padding: 0;
    font-weight: normal;
    color: black;
}
h3 a:link,
h3 a:visited,
h3 a .yshortcuts {
    display: block;
    font-family: helvetica, arial;
    font-size: 12px;
    line-height: 20px;
    font-weight: bold;
    text-align: left;
    margin: 0;
    padding: 0;
    color: black;
}
h3, .h3 {
    font-weight: bold;
    color: black;
}
h4, .h4 {
    color: black;
}
h5, .h5 {
    color: #7f7f7f;
}
.description {
    margin: 15px 0px;
    padding: 0px;
    font-family: Helvetica, Arial;
    font-size: 12px;
    line-height: 20px;
}
.btn {
    background-color: black;
    background-color: #f2f2f2;
}
.btn a:link,
.btn a:visited,
/* Yahoo! Mail Override */
.btn a .yshortcuts
/* Yahoo! Mail Override */ {
    margin-left: 5px;
    margin-right: 5px;
    color: white;
    color: black;
    font-weight: bold;
    font-weight: normal;
    font-size: 10px;
}
.btn-big {
    background-color: black;
    font-size: 14px;
}
.btn-big a:link,
.btn-big a:visited,
/* Yahoo! Mail Override */
.btn-big a .yshortcuts
/* Yahoo! Mail Override */ {
    margin-left: 3px;
    margin-right: 3px;
    color: white;
    font-weight: normal;
}
