@import url(http://fonts.googleapis.com/css?family=Neuton:200,300,400,700,400italic);

body, html {
  font-family: 'Neuton', serif;
  color: #333;
  height: 100%;
  width: 100%;
  background-color: black;
  background-image: url(../img/twitter_wall_langenacht_2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

a {
    color: #e17660;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.wrapper {
  margin: auto;
  position: relative;
  padding: 5px;
  max-width: 960px;
}


#selected { float: left;}
#searched { float: right;}


.cullumn {
  width: 50%;    
  height: 100%;
  padding-bottom: 50px;
  margin-top: 111px;
  margin-left: auto;
  margin-bottom: auto;
  padding: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}


/* @group footer */

.footer {
  background-color: #000;
  color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 35px;
  z-index: 1000000000;
  color: white;
  -webkit-box-shadow: 0px 0px 7px rgba(0,0,0,0.5);
  margin-bottom: -10px;
  margin-left: -10px;
  margin-right: 10px;
  padding: 4px 10px 13px;
  font-size: 18px;
  opacity: 0.9;
}

.studio38 {
  float: right;
  padding-top: 5px;
  padding-bottom: 10px;
}

.studio38:hover {
color: white;}

.back {
  float: left;
  white-space: nowrap;
  padding-top: 5px;
  padding-bottom: 10px;
}

.back:hover {
color: white;}

.berlin {
  width: 57px;
  height: 66px;
  background: url(../img/twitter_wall_b.png) no-repeat;
  position: absolute;
  color: transparent;
  z-index: 10000000;
  left: 13px;
  bottom: -25px;
}

/* @end */

h1 {
  position: fixed; 
  top: 0px;
  left: 0px;
  z-index: 2000;
  color: white;
  text-align: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 10px;
  padding-top: 20px;
  font-size: 54px;
  line-height: 38px;
  width: 100%;
  background-color: black;
}

h1 span { 
  display: block;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 5px;
  padding-top: 10px;
  text-transform: uppercase;
}

h2 {
  position: fixed;
  vertical-align: top;
  display: block;
  white-space: nowrap;
  float: left;
  background-color: black !important;
  height: 100px;
  z-index: 1500;
  height: 20px;
  color: white;
  top: 0px;
  padding-left: 30px;
  padding-bottom: 10px;
  padding-top: 110px;
}

.tweet {
  width: 100%;
  font-size: 14px;
  vertical-align: top;
  display: block;
  min-height: 125px;
  position: relative;
  float: left;
  margin-bottom: 0;
  opacity: 1;
  color: white;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 100px;
}

div.tweet-media {
  display: none;
}

#selected_user_tweets div.tweet div.tweet-media {
  display: none;
}

.tweet p {
  font-style: italic;
  word-wrap: break-word;
  padding-left: 33px;
  padding-right: 25px;
  padding-top: 17px;
  padding-bottom: 24px;
  background-color: black;
  background-color: rgba(0,0,0,0.91);
}

.tweet-header {
  font-size: 13px;
  line-height: 14px;
  font-weight: 400;
  width: 100%;
  float: left;
  position: relative;
  padding-bottom: 10px;
  font-style: normal;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: black;
  background-color: rgba(0,0,0,0.7);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#selected_user_tweets div.tweet div.tweet-text p a {
  text-shadow: none;
}

.tweet-header a,
.tweet-header a:hover {
    text-decoration: none;
}

.tweet-header .time {
    display: block;
    padding-left: 10px;
}

.tweet-header .fullname {
  clear: right;
  display: block;
  margin-left: 10px;
}

.tweet-header a:hover .fullname {
    text-decoration: underline;
}

.tweet-header .username {
  display: block;
  margin-left: 5px;
  text-decoration: none;
}

.tweet-header .avatar {
  position: absolute;
  left: 0px;
  top: -1px;
  width: 16px;
  height: 16px;
  border-radius: 100px;
  margin: 10px;
}

.tweet-text {
    clear: both;
    margin-top: 10px;
}

.hashtag {
    color: #e17660;
}

