{% load i18n base_tags %}
<div id="filters">
    <h4>{% trans "Filters" %}</h4>

    <div class="btn-group" id="filter-toggle" data-toggle="buttons">
        <label type="button" class="btn btn-info btn-sm" data-parent="#filter-options" data-toggle="collapse" data-target="#filter-alphabetic">
            <input type="radio" name="options" id="filter-toggle-alphabetic">
            {% trans "A - Z" %}
        </label>

        <label type="button" class="btn btn-info btn-sm" data-parent="#filter-options" data-toggle="collapse" data-target="#filter-smartlists">
            <input type="radio" name="options" id="filter-toggle-services">
            {% trans "Service" %}
        </label>

        <label type="button" class="btn btn-info btn-sm" data-parent="#filter-options" data-toggle="collapse" data-target="#filter-accessibility">
            <input type="radio" name="options" id="filter-toggle-accessibility">
            {% trans "Accessibility" %}
        </label>
    </div>

    <div class="panel-group" id="filter-options">
        <div class="panel panel-default">
            <div id="filter-alphabetic" class="panel-collapse collapse">
                <div class="panel-body">
                    <h4>{% trans "Alphabet" %}</h4>
                    <ul class="filter option-set clearfix" id="alphabetical" data-filter-group="alphabetical" data-single-selection="1">
                        {% for item in abc_list %}
                            {% if not forloop.first %}
                                <li{% if item.3 %} class="active"{% endif %} data-param="abc" data-value="{{ item.0 }}">
                                    <a data-filter-value="{% if item.0 %}.initial_{{ item.0|slugify }}{% endif %}" class="{% if forloop.first %} first_item{% endif %}" href="{% append_to_get abc=item.0,page="" %}">{{ item.1 }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div id="filter-smartlists" class="panel-collapse collapse">
                <div class="panel-body">
                    <h4>{% trans "Service" %}</h4>
                    <ul class="filter option-set clearfix" id="services" data-filter-group="language_and_subtitles" data-single-selection="1">
                        {% for cat in facets.categories.services %}
                            {% if cat in facets.selected.services %}
                                <li class="active" data-param="services" data-value="{{ cat.pk }}">
                                    <a href="{% remove_from_query "page" services=cat.pk %}" data-filter-value=".services_{{ cat.pk }}">{{ cat.title }}</a>
                                </li>
                            {% else %}
                                <li data-param="services" data-value="{{ cat.pk }}">
                                    <a href="{% add_to_query "page" services=cat.pk %}" data-filter-value=".services_{{ cat.pk }}">{{ cat.title }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div id="filter-accessibility" class="panel-collapse collapse">
                <div class="panel-body">
                    <h4>{% trans "Accessibility" %}</h4>
                    <ul class="filter option-set clearfix" id="accessibility" data-filter-group="accessibility" data-single-selection="1">
                        {% for cat in facets.categories.accessibility %}
                            <li{% if facets.selected.accessibility_option == cat %} class="active"{% endif %} data-param="accessibility" data-value="{{ cat.pk }}">
                                <a href="{% append_to_get accessibility_option=cat.pk,page="" %}" data-filter-value=".access_{{ cat.pk }}">{{ cat.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>