{% load menu_tags cms_tags i18n base_tags sekizai_tags %}

<div class="navbar-wrapper">
    <nav class="navbar navbar-default affix-rebuild" role="navigation" data-offset-top="30">
        <div class="background affix-offset-visible"></div>

        <div class="container">

            <!-- logo -->
            <div class="navbar-header">
                <a class="navbar-brand hidden-xs" href="/{{ LANGUAGE_CODE }}/">
                    <img src="{{ STATIC_URL }}site/img/logo.png" alt="Berlin Bühnen" />
                </a>
                <a class="navbar-brand visible-xs" href="/{{ LANGUAGE_CODE }}/">
                    <img src="{{ STATIC_URL }}site/img/logo.png" alt="Berlin Bühnen" />
                </a>
            </div>

            <!-- navi -->
            <div class="top_nav hidden-xs">
                <ul class="nav navbar-nav">
                    {% show_menu_below_id "start_page" 0 2 2 2 "menu/top_menu.html" %}
                </ul>
            </div>
            <div class="visible-xs">
                <div  class="top_nav collapse navbar-collapse collapse-navbar">
                    <ul class="nav navbar-nav">
                        {% show_menu_below_id "start_page" 0 2 2 2 "menu/top_menu.html" %}
                        <li><a href="{% if LANGUAGE_CODE == "de" %}/de/suche/{% else %}/en/search/{% endif %}">{% trans "Search" %}</a></li>
                    </ul>
                </div>
            </div>

            <!-- meta -->
            <div class="container meta-wrapper">
                <ul id="meta">
                    <li id="meta_social_links" class="meta-item visible-sm visible-md visible-lg">
                        <ul class="social_links">
                            <li><a class="fawesome search" href="{% if LANGUAGE_CODE == "de" %}/de/suche/{% else %}/en/search/{% endif %}" data-toggle="tooltip" data-placement="bottom" title="{% trans "Search" %}" data-tooltip-left="-4"><span class="sr-only">{% trans "Search" %}</span></a></li>
                            <li><a class="fawesome newsletter" href="https://us2.list-manage.com/subscribe?u=d7c71420a69df471f30ab850e&id=3f2c5c590a" data-toggle="tooltip" data-placement="bottom" title="{% trans "Newsletter" %}" data-tooltip-left="-4"><span class="sr-only">{% trans "Newsletter" %}</span></a></li>
                            <li><a class="fawesome facebook" href="https://www.facebook.com/pages/berlin-buehnende/440174332664851" target="_blank" data-toggle="tooltip" data-placement="bottom" title="{% trans "Facebook" %}" data-tooltip-left="-4"><span class="sr-only">Facebook</span></a></li>
                            <li><a class="fawesome twitter" href="https://twitter.com/#!/berlinbuehnen" target="_blank" data-toggle="tooltip" data-placement="bottom" title="{% trans "Twitter" %}" data-tooltip-left="-4"><span class="sr-only">Twitter</span></a></li>
                            <li><a class="fawesome instagram" href="https://instagram.com/berlinbuehnen" target="_blank" data-toggle="tooltip" data-placement="bottom" title="{% trans "Instagram" %}" data-tooltip-left="-4"><span class="sr-only">Instagram</span></a></li>
                        </ul>
                    </li>
                    {% if request.user.is_authenticated %}
                        <li id="user-menu" class="meta-item">
                            <div class="btn-group">
                                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                    {% if request.user|in_group:"Location Owners" or request.user.is_superuser %}
                                        {% blocktrans with first_name=request.user.first_name|default:request.user.username %}{{ first_name }}{% endblocktrans %}
                                    {% else %}
                                        {% trans "My Favorites" %}
                                    {% endif %}
                    <span class="caret black"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    {% if request.user|in_group:"Location Owners" or request.user.is_superuser %}
                                        <li><a href="/{{ LANGUAGE_CODE }}/dashboard/">{% trans "Input Mask" %}</a></li>
                                        <li class="divider"></li>
                                        <li><a href="/{{ LANGUAGE_CODE }}/dashboard/productions/">{% trans "Productions" %}</a></li>
                                        <li><a href="/{{ LANGUAGE_CODE }}/dashboard/multiparts/">{% trans "Multipart Productions" %}</a></li>
                                        <li><a href="/{{ LANGUAGE_CODE }}/dashboard/locations/">{% trans "Theaters" %}</a></li>
                                        <li><a href="/{{ LANGUAGE_CODE }}/dashboard/festivals/">{% trans "Festivals" %}</a></li>
                                        <li><a href="/{{ LANGUAGE_CODE }}/dashboard/jobs/">{% trans "Jobs" %}</a></li>
                                        <li><a href="/{{ LANGUAGE_CODE }}/dashboard/educational_departments/">{% trans "Educational Departments" %}</a></li>
                                        <li><a href="/{{ LANGUAGE_CODE }}/dashboard/educational_projects/">{% trans "Educational Projects" %}</a></li>
                                        <li class="divider"></li>
                                    {% endif %}
                                    <li><a href="/{{ LANGUAGE_CODE }}/my-profile/favorites/">{% trans "My Favorites" %}</a></li>
                                    <li><a href="/{{ LANGUAGE_CODE }}/logout/">{% trans "Logout" %}</a></li>
                                </ul>
                            </div>
                        </li>
                    {% else %}
                        <li id="user-menu" class="meta-item">
                            <a href="/{{ LANGUAGE_CODE }}/login/">{% trans "Login" %}</a>
                        </li>
                    {% endif %}

                    <li id="language-menu" class="meta-item">
                        {% block language_chooser %}
                            {% language_chooser %}
                        {% endblock %}
                    </li>

                    <li id="nav-toggle-button" class="meta-item visible-xs">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".collapse-navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
