{% load base_tags fb_tags i18n image_modifications %}
{% if object.mediafile_set.count > 1 %}
  <div id="images" class="content">
    <div class="container">
      <h2 class="section-head" id="section-images">{% trans "Images" %}</h2>
      <div class="row row-md isotope-images">
        {% for mf in object.mediafile_set.all %}
          {% with mf.path|file_description as file_desc %}
            <div class="item col-xs-12 col-sm-6 col-md-6 col-lg-6" data-href="{{ object.get_url_path }}slideshow/#{{ forloop.counter0 }}">
              <div class="img-detail">
                <a href="{{ object.get_url_path }}slideshow/#{{ forloop.counter0 }}">
                  <img src="{{ STATIC_URL }}site/img/placeholder_detail.gif" data-original="{{ MEDIA_URL }}{{ mf.path|modified_image:"max" }}" alt="" title="{{ file_desc.description|remove_newlines|escape }}" />
                </a>
              </div>
              <p>
                <small>
                <span class="title">{{ file_desc.title }}</span>
                <span class="description">{{ file_desc.description }}</span>
                <span class="author">{{ file_desc.author }}</span>
                </small>
              </p>
              <nav class="actions">
                <button class="btn btn-default btn-sm btn-round share-twitter"  data-url="https://www.berlin-buehnen.de{{ MEDIA_URL }}{{ mf.path|modified_image:"max" }}" data-text="{{ file_desc.title }}" data-toggle="tooltip" data-placement="top" data-original-title="{% trans "Share on Twitter" %}">
                  <span class="icon icon-social-twitter"></span>
                  <span class="sr-only">{% trans "Share on Twitter" %}</span>
                </button>

                <button class="btn btn-default btn-sm btn-round share-facebook" data-url="https://www.berlin-buehnen.de{{ MEDIA_URL }}{{ mf.path|modified_image:"max" }}" data-text="{{ file_desc.title }}" data-toggle="tooltip" data-placement="top" data-original-title="{% trans "Share on Facebook" %}">
                  <span class="icon icon-social-facebook"></span>
                  <span class="sr-only">{% trans "Share on Facebook" %}</span>
                </button>
              </nav>
            </div>
          {% endwith %}
        {% endfor %}
      </div>
    </div>
  </div>

  <script type="text/javascript">
    function isotope_images() {
        $('.isotope-images').each(function(){
            var $container = $(this);
            $container.isotope({
                resizable: false, // disable normal resizing
                itemSelector : '.item',
            });
        }); 
    }

    function lazyload_detail_images() {
        $(".img-detail img:in-viewport").lazyload({
            load : function(element, el_left, settings){
                $(this).closest('.img-detail').addClass('loaded');
                isotope_images();
            }
        });
    }

    $(document).ready(lazyload_detail_images);
    $(window).bind('smartresize load', isotope_images);
    $(window).bind('scrollstop smartresize', lazyload_detail_images);

    $(window).load(function() {
      var $images = $('#images');
      if (!$.browser.msie || parseInt($.browser.version.split(".")[0], 10) > 8) {
        $('.grid .item .img-detail img', $images).click(function(e){
          location.href = $(this).closest('.item').data('href');
          return false;
        });
      }
    });
  </script>
{% endif %}