.msie div.tagsinput input {
  padding-top: 0;
  padding-bottom: 0; }
.msie #images ul li:hover .info {
  opacity: 0 !important; }
.msie #images ul li:hover img {
  opacity: 1 !important; }
.msie #images ul li:hover .actions {
  opacity: 0 !important; }
