{% extends "base_sidebar.html" %}
{% load base_tags i18n crispy_forms_tags %}

{% block title %}{% trans "Registration" %} - {% trans "Event" %}{% endblock %}

{% block headline %}
    <h1>{% trans "Events" %}</h1>
    <h2>{% trans "New Event" %}</h2>
{% endblock %}

{% block sidebar %}
    {% include "utils/step_list.html" %}
{% endblock %}

{% block details %}
    {% crispy form "kb_form" %}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="/{{ URL_ID_EVENTS }}/">{% trans "Event" %}</a></li>
    <li>{% trans "Add new event" %}</li>
{% endblock %}
