{% extends "base.html" %}
{% load base_tags i18n %}

{% block extrahead %}
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/website/registration.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/website/gmaps_for_address.js"></script>
{% endblock %}

{% block sidebar-b %}{% endblock %}

{% block title %}{% trans "Registration" %} - {% trans "Institution" %}{% endblock %}

{% block headline %}
    <h2 class="main">{% trans "Registration" %}</h2>
    <h2 class="sub">{% trans "Institution" %}</h2>
{% endblock %}

{% block sidebar-a %}
    {% include "utils/step_list.html" %}
    <div class="navi_back_but">
        <a href="javascript:window.history.back()">Go back</a>
    </div>
{% endblock %}

{% block content %}
    <div class="field_layout">
        <form action="" method="post">{% csrf_token %}
            <fieldset>
                <legend>{% trans "Institution" %}</legend>
                <ul>
                    <li>
                        {{ form.institution_name.label_tag }} {{ form.institution_name }} {{ form.institution_name.error_tag }}
                    </li>
                    <li>
                        {{ form.institution_name2.label_tag }} {{ form.institution_name2 }} {{ form.institution_name2.error_tag }}
                    </li>
                    <li>
                        {{ form.legal_form.label_tag }} {{ form.legal_form }} {{ form.legal_form.error_tag }}
                    </li>
                </ul>
            </fieldset>
            <fieldset>
                <legend>{% trans "Address" %} - {% trans "Institution" %}</legend>
                {{ form.latitude }} {{ form.longitude }} {{ form.district }}
                <ul>
                    <li>
                        {{ form.location_type.label_tag }} {{ form.location_type }} {{ form.location_type.error_tag }}
                    </li>
                    <li class="label_double_space">
                        {{ form.location_title.label_tag }} {{ form.location_title }} {{ form.location_title.error_tag }}
                    </li>
                    <li>
                        {{ form.street_address.label_tag }} {{ form.street_address }} {{ form.street_address.error_tag }}
                    </li>
                    <li>
                        {{ form.street_address2.label_tag }} {{ form.street_address2 }} {{ form.street_address2.error_tag }}
                    </li>
                    <li>
                        <label for="postal_code">
                            <strong>{{ form.postal_code.label }}* / {{ form.city.label }}*</strong>
                        </label>
                        {{ form.postal_code }} {{ form.city }} {{ form.city.error_tag }} {{ form.postal_code.error_tag }}
                    </li>
                    <li>
                        {{ form.country.label_tag }} {{ form.country }} {{ form.country.error_tag }}
                    </li>
                </ul>
            </fieldset>
            {% include "utils/set_geoposition.html" %}
            <fieldset>
                <legend>{% trans "Phone" %} - {% trans "Institution" %}</legend>
                <ul>
                    <li>
                        <label for="id_phone_number"
                               class="label_with_labelspan">                  {% trans "Phone" %}</label>
                        <span class="phone">{% trans "Country Code" %}
                            <br/>{% trans "without" %} "00"
                            <span class="phone_label">
                                {{ form.phone_country }}
                                {{ form.phone_country.error_tag }}
                            </span>
                        </span> <span class="phone">{% trans "Area Code" %}
                        <br/>{% trans "without" %} "0"
                            <span class="phone_label">
                                {{ form.phone_area }}
                                {{ form.phone_area.error_tag }}
                            </span>
                        </span> <span class="phone">{% trans "Number" %}
                        <br/>{% trans "with direct dial" %}
                            <span class="phone_label">
                                {{ form.phone_number }}
                                {{ form.phone_number.error_tag }}
                            </span>
                        </span>
                    </li>
                    <li>
                        <label for="id_fax_number">{% trans "Fax" %}</label>
                        {{ form.fax_country }} {{ form.fax_country.error_tag }} {{ form.fax_area }} {{ form.fax_area.error_tag }} {{ form.fax_number }} {{ form.fax_number.error_tag }}
                    </li>
                    <li>
                        <label for="id_mobile_number">{% trans "Mobile" %}</label>
                        {{ form.mobile_country }} {{ form.mobile_country.error_tag }} {{ form.mobile_area }} {{ form.mobile_area.error_tag }} {{ form.mobile_number }} {{ form.mobile_number.error_tag }}
                    </li>
                </ul>
            </fieldset>
            <fieldset>
                <legend>{% trans "Emails" %} - {% trans "Institution" %}</legend>
                <ul>
                    <li>
                        {{ form.email0.label_tag }} {{ form.email0 }} {{ form.email0.error_tag }}
                    </li>
                    <li>
                        {{ form.email1.label_tag }} {{ form.email1 }} {{ form.email1.error_tag }}
                    </li>
                    <li>
                        {{ form.email2.label_tag }} {{ form.email2 }} {{ form.email2.error_tag }}
                    </li>
                </ul>

            </fieldset>
            <fieldset>
                <legend>{% trans "Websites" %} - {% trans "Institution" %}</legend>
                <ul>
                    <li>
                        <label for="url0_type">{{ form.url0_type.label }} / {{ form.url0_link.label }}</label>
                        {{ form.url0_type }} {{ form.url0_type.error_tag }} {{ form.url0_link }} {{ form.url0_link.error_tag }}
                    </li>
                    <li>
                        <label for="url1_type">{{ form.url1_type.label }} / {{ form.url1_link.label }}</label>
                        {{ form.url1_type }} {{ form.url1_type.error_tag }} {{ form.url1_link }} {{ form.url1_link.error_tag }}
                    </li>
                    <li>
                        <label for="url2_type">{{ form.url2_type.label }} / {{ form.url2_link.label }}</label>
                        {{ form.url2_type }} {{ form.url2_type.error_tag }} {{ form.url2_link }} {{ form.url2_link.error_tag }}
                    </li>
                </ul>
            </fieldset>
            <fieldset class="fieldset_end">
                <legend>{% trans "Instant Messaging" %} - {% trans "Institution" %}</legend>
                <ul>
                    <li>
                        <label for="im0_type">{{ form.im0_type.label }} / {{ form.im0_address.label }}</label>
                        {{ form.im0_type }} {{ form.im0_type.error_tag }} {{ form.im0_address }} {{ form.im0_address.error_tag }}
                    </li>
                    <li>
                        <label for="im1_type">{{ form.im1_type.label }} / {{ form.im1_address.label }}</label>
                        {{ form.im1_type }} {{ form.im1_type.error_tag }} {{ form.im1_address }} {{ form.im1_address.error_tag }}
                    </li>
                    <li>
                        <label for="im2_type">{{ form.im2_type.label }} / {{ form.im2_address.label }}</label>
                        {{ form.im2_type }} {{ form.im2_type.error_tag }} {{ form.im2_address }} {{ form.im2_address.error_tag }}
                    </li>
                </ul>
            </fieldset>
            <div class="buttons">
                <input type="button"
                       class="button_bad"
                       value="{% filter upper %}{% trans "Cancel" %}{% endfilter %}"
                       name="cancel"/>
                <input type="submit"
                       class="button_good"
                       name="save_as_primary"
                       value="{% filter upper %}{% trans "Save as Primary" %}{% endfilter %}"/>
                <input type="submit" class="button_good" value="{% filter upper %}{% trans "Save" %}{% endfilter %}"/>
            </div>
        </form>
    </div>
{% endblock %}

