{% extends "institutions/details_base.html" %}
{% load i18n base_tags navigation_tags auth_extended %}

{% block details %}
    <div class="network_details">

        <div class="person">
            {% if object_list %}

                {% include "utils/sorting_view_pagination_header.html" %}

                {% block breadcrumbs %}
                    <div class="breadcrumbs">
                        <div>
                            <a href="{{ object.get_url_path }}network/">{% trans "Network" %}</a>
                            ::
                            <a class="active" href="#">{% trans "Groups" %}</a>
                        </div>
                    </div>
                {% endblock %}

                {% for group in object_list %}
                    <div class="info {% cycle odd,even %} expanded" onclick="redirect('{{ group.get_url_path }}');">
                        <div class="info_address">
                            <h5>
                                <a class="group_hl" href="{{ group.get_url_path }}">{{ group.get_title|escape }}</a>
                            </h5>
                        </div>
                        <div class="info_facts">
                            {% if group.group_type %}
                                <div class="type">{{ group.group_type.get_title|escape }}</div>
                            {% endif %}
                            {% if group.get_description %}
                                {% with group.get_description|striptags|truncatewords:"60" as filtered_desc %}{% with filtered_desc|truncatewords:"40" as shortened_desc %}
                                    <p class="description hidable">{{ shortened_desc }}
                                        {% ifnotequal shortened_desc filtered_desc %}
                                            <a href="{{ group.get_url_path }}">{% trans "read more" %}</a>
                                        {% endifnotequal %}
                                    </p>
                                {% endwith %}{% endwith %}
                            {% endif %}
                        </div>
                        {% with object as institution %}
                            {% include "institutions/controls.html" %}
                        {% endwith %}
                        <div class="cleaner"></div>
                    </div><!-- end of info -->
                {% endfor %}

                {% include "utils/pagination_footer.html" %}

            {% else %}
                <p class="nothing">{% trans "No objects found within the selected conditions." %}</p>
            {% endif %}
            <div class="cleaner"></div>
        </div>
    </div>
{% endblock %}