{% extends "institutions/details_base.html" %}
{% load i18n base_tags image_mods_tags %}

{% block details %}
    <div class="network">
        <div class="content_facts">

            <div class="column_01">
                <h6 class="subline" href="#top">{% trans "Contacts to Persons" %}</h6>
                <div class="network-content">
                    TODO!! I AM NOT SURE, IF THIS IS THE CORRECT DATA!!!!
                    {% for person in object.get_contact_persons|slice:":3" %}
                        {% if not forloop.last %}
                            <div class="not_last">{% endif %}

                    {% if person.image %}
                        <img alt="{{ person.get_title|escape }}"
                             src="{{ UPLOADS_URL }}{{ person.image|modified_path:"at" }}"/>
                    {% else %}
                        <img alt="{{ person.get_title|escape }}" src="{{ DEFAULT_SMALL_LOGO_4_PERSON }}"/>
                    {% endif %}
                    <h6>{{ person.get_title|escape }}</h6>
                    {{ person.individual_type.get_title|escape }}

                    {% if not forloop.last %}</div>{% endif %}
                    {% endfor %}
                    <a class="more" href="{{ request.path }}staff/">{% trans "more..." %}</a>
                    <div class="cleaner"></div>
                </div>

                <h6 class="subline" href="#top">{% trans "Employee" %}</h6>
                <div class="network-content">
                    TODO!! WHAT IS "AKTIVITAETSINDEX?"

                    TODO!! TO GET ALL THOSE STATISTICS DATA, SOME METHODS HAVE TO BE IMPLEMENTED IN THE INSTITUTION MODEL.
                    <div class="cleaner"></div>
                </div>

            </div>

            <div class="column_02">
                <h6 class="subline" href="#top">{% trans "Institutional Contacts" %}</h6>
                <div class="network-content">
                    TODO!! WHERE CAN THE RELEVANT DATA BE FOUND?
                    <a class="more" href="{{ request.path }}partners/">{% trans "more..." %}</a>
                    <div class="cleaner"></div>
                </div>

                <h6 class="subline" href="#top">{% trans "Current Cooperations" %}</h6>
                <div class="network-content">
                    TODO!! I AM NOT SURE, IF THIS IS THE CORRECT DATA!!!!
                    {% for group in object.get_groups|slice:":3" %}
                        {% if not forloop.last %}
                            <div class="not_last">
                        {% else %}
                            <div class="last">
                        {% endif %}
                    {% if group.image %}
                        <img alt="{{ group.get_title|escape }}"
                             src="{{ UPLOADS_URL }}{{ group.image|modified_path:"at" }}"/>
                    {% else %}
                        <img alt="{{ group.get_title|escape }}" src="{{ DEFAULT_SMALL_LOGO_4_PERSONGROUP }}"/>
                    {% endif %}

                    <h6>
                        {{ group.get_title|escape }}
                    </h6>
                    {% if group.get_object_types %}
                        {% for object_type in group.get_object_types %}{% if not forloop.first %}, {% endif %}
                            {{ object_type.get_title|escape }}
                        {% endfor %}
                    {% endif %}
                    {% if not forloop.last %}
                        </div>
                    {% else %}
                        </div>
                    {% endif %}
                    {% endfor %}
                    <a class="more" href="{{ request.path }}{{ URL_ID_PERSONGROUPS }}/">{% trans "more..." %}</a>
                    <div class="cleaner"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
