{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "New Facebook User" %}{% endblock %}

{% block headline %}
    <h1>{% trans "New Facebook User" %}</h1>
{% endblock %}

{% block sidebar-a %}&nbsp;{% endblock %}
{% block sidebar-b %}&nbsp;{% endblock %}

{% block content %}
    <form class="uniForm" action="" method="get">
        <p>{% trans "You are connecting with facebook for the first time. Do you already have an account on Creative City Berlin?" %}</p>

        <div class="buttonHolder">
            <input class="primaryAction" type="button" onclick="window.redirect('login/?goto_next={{ goto_next }}')"
                value="{% filter upper %}{% trans 'Yes' %}{% endfilter %}"/>
            <input class="primaryAction" type="button" onclick="window.redirect('register/?goto_next={{ goto_next }}')"
                value="{% filter upper %}{% trans 'No' %}{% endfilter %}"/>
        </div>
    </form>
{% endblock %}
