{% load navigation_tags %}
{% for link in nav_link.get_children_for_current_user %}
    {% if link.is_group %}
        {% if link.is_group_name_shown %}
            <h4>{% if link.link_url %}
                <a href="{% parse_link link %}">{% endif %}<strong>{{ link.get_title|escape }}</strong>
                {% if link.link_url %}</a>{% endif %}</h4>{% endif %}
        <ul>
            {% for child in link.get_children_for_current_user %}
                {% parse_link child as url %}
                {% if url %}
                    {% activeness child as is_active %}
                    <li class="navi_{{ child.sysname }}_
                            {{ LANGUAGE_CODE }}{% if child.is_promoted %} promoted{% endif %}{% if child.is_login_required %} login-required{% endif %}{% if is_active %} active{% endif %}">
                        <a href="{{ url }}"{% if is_active %} class="active"{% endif %}>
                            <span>{{ child.get_title|escape }}</span></a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
{% endfor %}
