{% load navigation_tags %}
{% for link in nav_link.get_children_for_current_user %}
    {% if forloop.first %}
        <ul class="nav_menu">{% endif %}
{% if link.is_group %}
    <li class="nav_group{% if not forloop.counter0 %} first_item{% endif %} navi_{{ link.sysname }}_
            {{ LANGUAGE_CODE }}{% if link.is_promoted %} promoted{% endif %}{% if link.is_login_required %} login-required{% endif %}">
        {% if link.is_group_name_shown %}{% if link.link_url %}
            <a href="{% parse_link link %}">{% endif %}<strong>{{ link.get_title|escape }}</strong>
        {% if link.link_url %}</a>{% endif %}{% endif %}
        {% for child in link.get_children_for_current_user %}
            {% if forloop.first %}
                <ul>{% endif %}
        {% parse_link child as url %}
        {% activeness child as is_active %}
        {% branch_activeness child as is_branch_active %}
        <li class="navi_{{ child.sysname }}_
                {{ LANGUAGE_CODE }}{% if child.is_promoted %} promoted{% endif %}{% if child.is_login_required %} login-required{% endif %}{% if is_active %} active{% endif %}">
            {% if url %}
                <a href="{{ url }}"{% if is_active %} class="active"{% endif %}>{% endif %}
            <span>{{ child.get_title|escape }}</span>{% if url %}</a>{% endif %}
            {% if is_branch_active %}
                {% children_of child.sysname using "navigation/cs_links.html" %}
            {% endif %}
        </li>
        {% if forloop.last %}</ul>{% endif %}
        {% endfor %}
    </li>
{% else %}
    {% activeness link as is_active %}
    {% branch_activeness link as is_branch_active %}
    {% parse_link link as url %}
    <li class="navi_{{ link.sysname }}_
            {{ LANGUAGE_CODE }}{% if link.is_promoted %} promoted{% endif %}{% if link.is_login_required %} login-required{% endif %}{% if is_active %} active{% endif %}">
        {% if url %}
            <a href="{{ url }}"{% if is_active %} class="active"{% endif %}>{% endif %}
        <span>{{ link.get_title|escape }}</span>{% if link.link_url %}</a>{% endif %}
        {% if is_branch_active %}
            {% children_of link.sysname using "navigation/cs_links.html" %}
        {% endif %}
    </li>
{% endif %}
{% if forloop.last %}</ul>{% endif %}
{% endfor %}

