{% extends "base.html" %}
{% load i18n base_tags navigation_tags uni_form_tags %}

{% block title %}{% trans "Newsletter" %}{% endblock %}

{% block headline %}
    <h1>{% trans "Newsletter" %}</h1>
{% endblock %}

{% block sidebar-a %}
{% endblock %}

{% block content %}
    <div class="newsletter">
        <form action="" method="post" enctype="multipart/form-data" class="uniForm">{% csrf_token %}
            {{ form.prevent_spam }}
            {{ form.prevent_spam.error_tag }}
            <fieldset class="inlineLabels">
                <h3>{% trans "newsletter registration" %}</h3>

                <p class="disclaimer">{% trans "Receive the latest and greatest news about CreativeCityBerlin with subscribing to our Newsletter. Of course you can unsubscribe later at any point." %}</p>
                {{ form.name|as_uni_field }}
                {{ form.email|as_uni_field }}
                <div class="buttonHolder">
                    <input type="submit" class="primaryAction"
                        value="{% filter upper %}{% trans "Send" %}{% endfilter %}" id="send_but"/>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}
