{% load base_tags i18n image_modifications sekizai_tags %}
<div id="carousel-startpage" class="hidden-xs">
    <div class="container">
        <div id="carousel" class="carousel carousel-fade">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                {% for slide in slides %}
                    <li data-target="#carousel-startpage"
                        data-slide-to="{{ forloop.counter0 }}"
                        class="{% if forloop.first %}active{% endif %}"></li>
                {% endfor %}
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">

                {% for slide in slides %}
                    <div class="item {% if forloop.first %}active{% endif %}">
                        <a class="img" href="{{ slide.link }}">
                            <img src="{{ STATIC_URL }}site/img/placeholder_slideshow.gif"
                                 data-original="{{ UPLOADS_URL }}{{ slide.path|modified_path:"slideshow" }}"
                                 alt=""/>
                            <div class="carousel-caption">
                                <h2><b>{{ slide.title|striptags }}</b><br/> {{ slide.subtitle|striptags }}</h2>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>

            <!-- Controls -->
            <!-- <a class="left carousel-control" href="#carousel-startpage" data-slide="prev">
              <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control" href="#carousel-startpage" data-slide="next">
              <span class="icon-next"></span>
            </a> -->
        </div>
    </div>
</div>

{% now "uuuu" as microseconds %}
<script nonce="{{ microseconds|to_base64 }}">
    $(function () {
        $('body').on('dragstart', function (e) {
            e.preventDefault();
        });
        $('.carousel').each(function () {
            var $carousel = $(this);
            $carousel.carousel({interval: 5000}).on('slid.bs.carousel', function () {
            });
            $carousel.hammer().on('swipeleft', function () {
                $carousel.carousel('next');
            });
            $carousel.hammer().on('swiperight', function () {
                $carousel.carousel('prev');
            });
        });
    });
</script>

{% add_data "script_nonces" microseconds|to_base64 %}
