{% load base_tags i18n image_modifications fb_tags sekizai_tags %}

<div class="header-image">
    <div class="slider fullscreen" data-rotate="true" data-interval="5000">
        {% for slide in slides %}
            <div class="slide">
                <div class="photo-credits-wrapper">
                    <img class="responsive-xl" data-responsive-src="{{ UPLOADS_URL }}{{ slide.path|modified_path:"fullscreen_xl" }}" src="about:blank" style="display:none;" alt="{{ slide.alt|escape }}" />
                    <img class="responsive-lg" data-responsive-src="{{ UPLOADS_URL }}{{ slide.path|modified_path:"fullscreen_lg" }}" src="about:blank" style="display:none;" alt="{{ slide.alt|escape }}" />
                    <img class="responsive-md" data-responsive-src="{{ UPLOADS_URL }}{{ slide.path|modified_path:"fullscreen_md" }}" src="about:blank" style="display:none;" alt="{{ slide.alt|escape }}" />
                    <img class="responsive-sm" data-responsive-src="{{ UPLOADS_URL }}{{ slide.path|modified_path:"fullscreen_sm" }}" src="about:blank" style="display:none;" alt="{{ slide.alt|escape }}" />
                    <img class="responsive-xs-horizontal" data-responsive-src="{{ UPLOADS_URL }}{{ slide.path|modified_path:"fullscreen_xs_h" }}" src="about:blank" style="display:none;" alt="{{ slide.alt|escape }}" />
                    <img class="responsive-xs-vertical" data-responsive-src="{{ UPLOADS_URL }}{{ slide.path|modified_path:"fullscreen_xs_v" }}" src="about:blank" style="display:none;" alt="{{ slide.alt|escape }}" />
                    {% with slide.path|file_description as file_desc %}
                        {% if slide.credits or file_desc.author %}<span class="photo-credits-over">{% trans "Photo" %}: {% if slide.credits %}{{ slide.credits }}{% else %}{{ file_desc.author }}{% endif %}</span>{% endif %}
                    {% endwith %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="overlay">
        <div class="locations">
            <div class="h2 visible-xs">#wirsindelf</div>
            {% for location in object_list %}
                <a class="h2 hidden-xs" href="{{ location.get_url_path }}">{{ location.title }}</a><br class="hidden-xs"/>
            {% endfor %}
        </div>
    </div>
</div>
