{% extends "institutions/details_base.html" %}
{% load i18n base_tags %}

{% block doctype %}
    <!DOCTYPE html SYSTEM "{{ WEBSITE_URL }}{{ JETSON_MEDIA_URL|slice:"1:" }}dtd/xhtml1-iframe.dtd">
{% endblock %}

{% block details %}
    <div class="go-back">
        <a href="{{ object.get_url_path }}">{% trans "Back" %}</a>
    </div>
    <div class="form_claim">
        <p>
            {% trans "We have received your claiming request and will contact you soon." %}
        </p>
    </div>
{% endblock %}
