{% extends "base.html" %}
{% load i18n base_tags auth_extended image_mods_tags navigation_tags browsing favorites individual_relations activity_tags cms_tags %}

{% block title %}
    {% if request.user.profile|in_list:object.get_groups.0.get_owners %}
        {% trans "My Institution" %}
    {% else %}
        {{ object.get_title|escape }}
    {% endif %}
{% endblock %}

{% block meta_tags %}
    {{ block.super }}
    <meta name="description" content="{{ object.get_description|striptags|truncatewords:100 }}..."/>
{% endblock %}


{% block content %}
    <div class="header institution">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    {% comment %}
                    <h1>
                        {% if request.user.profile|in_list:object.get_groups.0.get_owners %}
                            {% trans "My Institution" %}
                        {% else %}
                            <a href="{% page_url request.current_page %}">
                                {% trans "Institution" %}
                            </a>
                        {% endif %}
                    </h1>
                    {% endcomment %}
                    <div class="profile">

                        <div class="edit-avatar avatar-edit-frame">
                            <a href="javascript:void(0);" data-edit-url="{% url 'edit_profile' object_type='institution' slug=object.slug %}avatar/" class="fawesome fa-edit small edit-image-link"></a>
                            {% if object.image %}
                                <a id="profile-image-link-header" href="{% cropping_url object.image.path "profile" request object.get_url_path %}" class="fawesome fa-crop small recrop-link"></a>
                                <img id="profile-image-header" src="{{ UPLOADS_URL }}{{ object.image|modified_path:"profile" }}{% if object.is_editable %}?now={% now "YmdHis" %}{% endif %}" alt="{{ object.title|escape }}"/>
                                {% if object.photo_author %}<span class="photo-credits-over">{% trans "Photo" %}: {{ object.photo_author }}</span>{% endif %}
                            {% else %}
                                <img id="profile-image-header" src="{{ STATIC_URL }}site/img/placeholder/institution.png" alt="{{ object.title|escape }}"/>
                            {% endif %}
                        </div>

                        <div class="content">
                            <h2>{{ object.title }}</h2>
                            <h3>
                                {% if object.title2 %}
                                    {{ object.title2 }}
                                    <span class="hidden-xs">&nbsp;&nbsp;</span><br class="visible-xs"/>
                                {% endif %}
                                {% if object.is_curator %}<a href="/{{ LANGUAGE_CODE }}/network/member/{{ object.slug }}/curated-lists/" class="color-black"><span class="fawesome fa-eye icon-dynamic-size"></span></a>&nbsp; {% trans "Curator" %}{% endif %}
                                {% for curated_list in object.get_containing_curated_lists %}{% if forloop.first %}
                                    <a href="/{{ LANGUAGE_CODE }}/network/member/{{ object.slug }}/curated-lists/" class="color-black"><span class="fawesome fa-curated smaller icon-dynamic-size"></span></a>&nbsp; {% trans "Appears in" %}{% endif %}
                                    <a href="{{ curated_list.get_url_path }}">{{ curated_list.title }}</a>{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </h3>
                            <div class="buttons">
                                {% if request.user.is_authenticated and request.user.profile in object.get_owners %}
                                    {% navigation_links "menu_institutional_activities" %}
                                {% else %}
                                    {% if request.user.is_authenticated %}
                                        <a rel="nofollow" class="fawesome fa-more button text switch{% if request.user|is_following:object %} on{% endif %}" href="{% follow_all_url object %}?next={{ request.path }}"><span class="text">
                                            {% if request.user|is_following:object %}
                                                {% trans "Unfollow" %}
                                            {% else %}
                                                {% trans "Follow" %}
                                            {% endif %}
                                        </span></a>
                                        {% if object.is_contactable %}
                                            <a href="{{ object.get_url_path }}message/" class="fawesome fa-email button text"><span class="text">{% trans "Send Email" %}</span></a>
                                        {% endif %}
                                        {% if request.user.is_staff and perms.institutions.change_institution %}
                                            <a href="/admin/institutions/institution/{{ object.id }}/" class="fawesome fa-edit button text" target="_blank"><span class="text">{% trans "Edit Institution" %}</span></a>
                                        {% endif %}
                                    {% else %}
                                        <a rel="nofollow" class="fawesome fa-more button text switch" href="{% url 'login' %}?goto_next={% follow_all_url object %}%3Fnext%3D{{ request.path }}"><span class="text">{% trans "Follow" %}</span></a>
                                        {% if object.is_contactable %}
                                            <a rel="nofollow" href="{% url 'login' %}?goto_next={{ object.get_url_path }}message/" class="fawesome fa-email button text"><span class="text">{% trans "Send Email" %}</span></a>
                                        {% endif %}
                                    {% endif %}
                                    {% navigation_links "menu_object_activities" %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu tabs">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-md-3 headline">
                        <a href="{% url 'member_list_global' as member_list_global_url %}{{ member_list_global_url }}"><h2 class="fawesome fa-institution">{% ifequal request.user object.user %}{% trans "My Profile" %}{% else %}{% trans "Institution" %}{% endifequal %}</h2></a>
                    </div>
                    <div class="navi">
                        <nav>
                            <ul>
                                {% navigation_links "member" using "navigation/includes/navigation_links_in_tabs.html" %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="profile-image">

                    <div class="edit-avatar avatar-edit-frame">
                        <a href="javascript:void(0);" data-edit-url="{% url 'edit_profile' object_type='institution' slug=object.slug %}avatar/" class="fawesome fa-edit edit-image-link"></a>
                        {% if object.image %}
                            <a id="profile-image-link-sidebar" href="{% cropping_url object.image.path "profile" request object.get_url_path %}" class="fawesome fa-crop recrop-link"></a>
                            <img id="profile-image-sidebar" src="{{ UPLOADS_URL }}{{ object.image|modified_path:"profile" }}{% if object.is_editable %}?now={% now "YmdHis" %}{% endif %}" alt="{{ object.title|escape }}"/>
                            {% if object.photo_author %}<span class="photo-credits-over">{% trans "Photo" %}: {{ object.photo_author }}</span>{% endif %}
                        {% else %}
                            <img id="profile-image-sidebar" src="{{ STATIC_URL }}site/img/placeholder/institution.png" alt="{{ object.title|escape }}"/>
                        {% endif %}
                    </div>


                    {% if request.user.is_authenticated and request.user.profile in object.get_owners %}
                        {% navigation_links "menu_institutional_activities" %}
                    {% else %}
                        {% if request.user.is_authenticated %}
                            <a rel="nofollow" class="fawesome fa-more button text switch{% if request.user|is_following:object %} on{% endif %}" href="{% follow_all_url object %}?next={{ request.path }}"><span class="text">
                                {% if request.user|is_following:object %}
                                    {% trans "Unfollow" %}
                                {% else %}
                                    {% trans "Follow" %}
                                {% endif %}
                            </span></a>
                            {% comment %}
                                {% adding_individual_relation with object %}
                            {% endcomment %}
                            {% if object.is_contactable %}<a href="{{ object.get_url_path }}message/" class="fawesome fa-email button text"><span class="text">{% trans "Send Email" %}</span></a>{% endif %}
                            {% if request.user.is_staff and perms.institutions.change_institution %}
                                <a href="/admin/institutions/institution/{{ object.id }}/" class="fawesome fa-edit button text" target="_blank"><span class="text">{% trans "Edit Institution" %}</span></a>
                            {% endif %}
                        {% else %}

                            <a rel="nofollow" class="fawesome fa-more button text switch" href="{% url 'login' %}?goto_next={% follow_all_url object %}%3Fnext%3D{{ request.path }}"><span class="text">{% trans "Follow" %}</span></a>
                            {% if object.is_contactable %}
                                <a rel="nofollow" href="{% url 'login' %}?goto_next={{ object.get_url_path }}message/" class="fawesome fa-email button text"><span class="text">{% trans "Send Email" %}</span></a>
                            {% endif %}

                        {% endif %}
                        {% navigation_links "menu_object_activities" %}
                    {% endif %}

                    {% include "curated_lists/includes/add_to_own_curated_lists.html" with content_type_id=object|content_type_id object_id=object.pk %}
                </div>


                {% block sidebar %}
                {% endblock %}
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9">
                {% block details %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}



{% block breadcrumbs %}
    <li>
        <a href="{% url 'member_list_global' %}">{% page_attribute "page_title" %}</a>
    </li>
    <li>
        <a href="{{ object.get_url_path }}">{{ object.get_title }}</a>
    </li>
    {% block breadcrumbs_details %}
    {% endblock %}
{% endblock %}
