{% extends base_template|default:"base_redesign.html" %}
{% load i18n base_tags auth_extended navigation_tags uni_form_tags infoblocks image_mods_tags individual_relations groups_networks browsing favorites crispy_forms_tags cms_tags %}

{% block extrahead %}
    {% if view_type == "map" %}
        <script type="text/javascript">
            //<![CDATA[
            var aGeopositions = [];
            //]]>
        </script>
    {% endif %}
{% endblock %}

{% block title %}{% trans "Institutions" %}{% endblock %}

{% block body_class %}list{% endblock %}

{% block content %}
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>{% trans "Institutions" %}</h1>
                </div>
            </div>
        </div>
        <div class="menu tabs">
            <div class="container">
                <div class="row">
                    <div class="hidden-xs col-sm-4 col-md-3 headline">
                        <h2>{% trans "Institutions" %}</h2>
                    </div>
                    <div class="navi">
                        <nav>
                            <ul>
                                {% children_of "institutions" using "navigation/children_in_tabs.html" %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        
        <div class="row">
            <div class="col-xs-12">
                <div class="header-search">
                    <div class="fawesome fa-search" data-type="institution"><span class="text hidden-xs">{% trans 'Search' %}</span></div>
                    <div class="button-group hidden-xs">
                        <div class="fawesome fa-list button active" data-body-class="list" data-body-class-group="profiles"></div>
                        <div class="fawesome fa-grid button" data-body-class="grid" data-body-class-group="profiles"></div>
                    </div>
                    <div class="result">
                        {% load babel %}{{ current_page.paginator.count|numberfmt }}
                        <span class="text">{% trans 'Institutions' %}</span>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3">
                {% crispy form "ccb_form" %}                
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9">
                {% if object_list %}
                    {% include "utils/includes/sorting.html" %}
                    {% include "utils/abc_filters.html" %}
                
                    <div class="row profile-grid profile-list">
                        
                        {% for object in object_list %}
                        
                            <div class="col-xs-12 col-sm-6 col-md-4">
                                <div class="wrapper">
                                    <a class="content" href="{{ object.get_url_path }}">
                                        {% if object.image %}
                                            <img src="{{ UPLOADS_URL }}{{ object.image|modified_path:"profile" }}" alt="{{ object.title|escape }}"/>
                                        {% else %}
                                            <img src="{{ STATIC_URL }}site/img/placeholder/institution.png" alt="{{ object.title|escape }}"/>
                                        {% endif %}
                                        <div class="text">
                                            <h2>{{ object.title|escape }}</h2>
                                            <h3>
                                                {% if object.title2 %}{{ object.title2 }}{% endif %}
                                                {% if object.get_creative_sectors %}
                                                    <span class="feature">
                                                        {% for cat in object.get_creative_sectors %}
                                                            {{ cat.get_title|escape }}{% if not forloop.last %}, {% endif %}
                                                        {% endfor %}
                                                    </span>
                                                {% endif %}
                                            </h3>
                                        </div>
                                    </a>
                                    <div class="button-group">
                                        {% if request.user.is_authenticated %}
                                            {% if object.is_contactable %}
                                                <a href="{{ object.get_url_path }}message/" class="fawesome fa-email button"><span class="sr-only">{% trans "Send Email" %}</span></a>
                                            {% endif %}
                                        {% else %}                                           
                                            {% if object.is_contactable %}
                                                <a rel="nofollow" href="{% url 'login' %}?goto_next={{ object.get_url_path }}message/" class="fawesome fa-email button text"><span class="text">{% trans "Send Email" %}</span></a>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                        {% endfor %}
                        
                    </div>
                    {% include "utils/includes/pagination.html" %}
                    
                {% else %}
                    <p>{% trans "No objects found within the selected conditions." %}</p>
                {% endif %} 
                
            </div>
        </div>
        
    </div>
    
{% endblock %}

{% block breadcrumbs %}
    {% if not show %}
        <li>{% page_attribute "page_title" %}</li>
    {% endif %}
    {% if show == "/favorites" %}
        <li><a href="{% url 'member_list_global' %}">{% page_attribute "page_title" %}</a></li>
        <li>{% trans "Favorites" %}</li>
    {% endif %}
    {% if show == "/own-institutions" %}
        <li><a href="{% url 'member_list_global' %}">{% page_attribute "page_title" %}</a></li>
        <li>{% trans "Own institutions" %}</li>
    {% endif %}
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/pagination.js"></script>
{% endblock %}
