{% extends "institutions/details_base.html" %}
{% load i18n base_tags auth_extended %}

{% block details %}
    {% include_parsed "media_gallery/includes/media_file_delete.html" %}
{% endblock %}

{% block extrabody %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/jquery/jquery.popup.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/website/portfolio.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/website/comment.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/website/gallery_comments.js"></script>
{% endblock %}
