{% extends "institutions/details_base.html" %}
{% load i18n base_tags auth_extended infoblocks image_mods_tags %}

{% block open_graph %}
    <meta property="og:title" content="{{ gallery.get_title }}"/>
    <meta property="og:type" content="album" />
    {% if gallery.cover_image %}
        <meta property="og:image" content="http://{{ request.get_host }}{{ MEDIA_URL }}{{ gallery.cover_image|modified_path:"og" }}"/>
    {% else %}
        <meta property="og:image" content="{{ gallery.mediafile_set.all.0.get_list_image_url }}"/>
    {% endif %}
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript">
        // preloading portfolio images
        {% for f in list_of_files %}
            var oImg_{{ forloop.counter0 }} = new Image();
            oImg_{{ forloop.counter0 }}.src = "{{ UPLOADS_URL }}{{ f.path|modified_path:"gd" }}";
        {% endfor %}
    </script>
{% endblock %}

{% block details %}
    {% include_parsed "media_gallery/includes/gallery_slideshow.html" with "institutions.change_institution" as permission_name %}
{% endblock %}

{% block extrabody %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/jquery/jquery.popup.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/website/portfolio.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/website/comment.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/website/gallery_comments.js"></script>
{% endblock %}
