{% extends base_template|default:"articles/articles_base.html" %}
{% load base_tags blog babel i18n auth_extended cms_tags %}

{% block search_bar %}
    <div class="row">
        <div class="col-xs-12">
            <div class="header-search">
                <div class="fawesome fa-search" data-type="news"><span class="text hidden-xs">{% trans 'Search' %}</span></div>

                <div class="result">
                    {% load babel %}{{ current_page.paginator.count|numberfmt }}
                    <span class="text">{% trans 'News' %}</span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block details %}
    {% if not article_list %}
        <p>{% trans "No articles are available" %}</p>
    {% else %}
        <div class="row article-list">
            {% for list_article in article_list %}
                {% include "articles/articles_brief.html" %}
            {% endfor %}
        </div>
        {% include "utils/includes/pagination.html" %}
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% page_url request.current_page %}">{% page_attribute "page_title" %}</a></li>
    {% block breadcrumbs_details %}
    {% endblock %}
{% endblock %}

 {% block javascript %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/pagination.js"></script>
 {% endblock %}
