{% block doctype %}<!DOCTYPE html>{% endblock %}
{% load cms_tags menu_tags sekizai_tags i18n image_modifications %}
<html lang="{{ LANGUAGE_CODE }}"> 
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Berlin Bühnen {% block title %}{% endblock %}</title>
	<link rel="icon" href="{{ STATIC_URL }}site/img/favicon.ico" type="image/png">
	
    {% block meta_tags %}
        {{ site_settings.get_meta_tags|safe }}
    {% endblock %}	
	
    {% block stylesheet %}
    <link href="{{ STATIC_URL }}site/css/bootstrap/bootstrap.css" rel="stylesheet" media="screen" type="text/css" />
    <link href="{{ STATIC_URL }}site/css/style.css" rel="stylesheet" media="screen" type="text/css" />
    {% endblock %}
	
    {% render_block "css" %}
    <script type="text/javascript">
      (function() {
        var config = {
          kitId: 'qru0sat',
          scriptTimeout: 3000
        };
        var h=document.getElementsByTagName("html")[0];h.className+=" wf-loading";var t=setTimeout(function(){h.className=h.className.replace(/(\s|^)wf-loading(\s|$)/g," ");h.className+=" wf-inactive"},config.scriptTimeout);var tk=document.createElement("script"),d=false;tk.src='//use.typekit.net/'+config.kitId+'.js';tk.type="text/javascript";tk.async="true";tk.onload=tk.onreadystatechange=function(){var a=this.readyState;if(d||a&&a!="complete"&&a!="loaded")return;d=true;clearTimeout(t);try{Typekit.load(config)}catch(b){}};var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(tk,s)
      })();
    </script>

    <script type="text/javascript" src="/jssettings/"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/jquery.ba-bbq.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/jquery.isotope.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/jquery.scrollstop.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/jquery.lazyload.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/jquery.viewport.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/bootstrap/bootstrap.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/bootstrap/bootstrap-modal.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}site/js/modernizr.custom.52849.js"></script>
    {{ site_settings.extra_head|safe }}
    {% block js %}{% endblock %}
</head>

<body class="account {% block bodyclass %}{% endblock %}">

{% block toolbar %}{% cms_toolbar %}{% endblock %}

<div class="modal-centered">
    <div class="cell">
        <div class="inner">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
    

{% render_block "js" %}
{{ site_settings.extra_body|safe }}
<script type="text/javascript">
$(function() {
    $("a[href^='http']").attr("target","_blank");
        
    if ($('#cms_toolbar').length) { // cms toolbar fix
        if ($('body').css('margin-top') == "-43px") {
            $('body').css('margin-top', 0);
        }
    }
});
</script>
</body>
</html>