{% load base_tags i18n %}
{% if is_not_favorite_for_user %}
    <a href="#Favorites"
       rel="nofollow"
       title="{% trans "Add to favorites" %}"
       onclick="FavoriteManager.toggle({{ counter|default:0 }}, {{ content_type_id }}, {{ object.id }}, '/'); window.cancelEvent(event);"
       id="adding_to_favorites_{{ counter|default:0 }}"><span>{% trans "Add to favorites" %}</span></a>
{% else %}
    <a href="#Favorites"
       rel="nofollow"
       class="active"
       title="{% trans "Remove from favorites" %}"
       onclick="FavoriteManager.toggle({{ counter|default:0 }}, {{ content_type_id }}, {{ object.id }}, '/'); window.cancelEvent(event);"
       id="adding_to_favorites_{{ counter|default:0 }}"><span>{% trans "It's your favorite" %}</span></a>
{% endif %}

