{% load base_tags i18n %}
{% if is_not_favorite_for_user %}
    <a href="#Contacts"
       rel="nofollow"
       title="{% trans "Add to contacts" %}"
       onclick="FavoriteContactManager.toggle({{ counter|default:0 }}, {{ content_type_id }}, {{ object.id }}); window.cancelEvent(event);"
       id="adding_to_favorites_{{ counter|default:0 }}"><span>{% trans "Add to contacts" %}</span></a>
{% else %}
    <a href="#Contacts"
       rel="nofollow"
       class="active"
       title="{% trans "Remove from contacts" %}"
       onclick="FavoriteContactManager.toggle({{ counter|default:0 }}, {{ content_type_id }}, {{ object.id }}); window.cancelEvent(event);"
       id="adding_to_favorites_{{ counter|default:0 }}"><span>{% trans "It's your contact" %}</span></a>
{% endif %}

