@import url(http://fonts.googleapis.com/css?family=Neuton:200,300,400,700,400italic);
html {
  color: white;
  background: black; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

li {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }

input, textarea, select {
  *font-size: 100%; }

legend {
  color: #000; }

body {
  background: #2c2c2c;
  font-family: 'Neuton', serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-weight: 300; }

b {
  font-weight: 700; }

* {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

a:link,
a:active,
a:hover,
a:visited {
  color: white;
  text-decoration: none; }

.tweet-box {
  width: 537px;
  height: 225px;
  background: black; }

.tweet-list {
  display: block;
  width: 537px;
  height: 225px;
  overflow: hidden;
  position: relative; }

.tweet {
  overflow: hidden;
  display: block;
  position: absolute;
  top: 100%;
  height: 100%;
  width: 100%;
  font-size: 30px;
  line-height: 120%;
  /*
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -ms-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
  */
  padding: 15px 25px;
  background-image: url("../img/twitter/painting-01.jpg");
  color: white;
  /*
  &.t1 { background-position: -100px 300px; }
  &.t2 { background-position: -100px 400px; }
  &.t3 { background-position: -300px 600px; }
  &.t4 { background-position: -600px 500px; }
  &.t5 { background-position: -150px 1000px; }
  &.t6 { background-position: -100px 700px; }
  */ }
  .tweet img {
    margin-top: 10px;
    display: block; }
  .tweet a {
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none; }
  .tweet .tweet-header {
    position: absolute;
    bottom: 6px;
    right: 6px;
    font-size: 13px;
    line-height: 13px;
    padding: 0px;
    padding-right: 30px;
    white-space: nowrap; }
    .tweet .tweet-header img {
      border-radius: 3px;
      width: 30px;
      height: 30px;
      position: absolute;
      right: 0px;
      bottom: 0px; }
    .tweet .tweet-header a {
      background-color: #2e1410;
      padding-left: 4px;
      padding-right: 4px; }
  .tweet .tweet-media {
    display: block;
    float: left;
    margin-top: -15px;
    margin-left: -45px;
    margin-right: 20px;
    height: 225px;
    width: 230px;
    overflow: hidden; }
    .tweet .tweet-media img {
      margin: 0px;
      margin-right: -45px;
      height: 225px; }
  .tweet.langenacht {
    padding-top: 53px;
    text-align: center;
    line-height: 120%;
    font-size: 45px; }
  .tweet.werthers {
    background-image: url("../img/twitter/werthers.jpg"); }

.active {
  /*
  top: 0%;
  opacity: 1;
  */ }

.in {
  /*
  top: 0%;
  */ }

.out {
  /*
  opacity: 0;
  top: -100%;
  */ }
