{% extends "base_redesign.html" %}
{% load cms_tags i18n %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}
    {% load slideshows_tags %}
    {% slideshow "start_page" using "slideshows/start_page.html" %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12">

                <div class="claim">
                    <a class="fawesome fa-eye big color-black color-over-black" href="{% if current_language == "en" %}/en/good-to-know/about-creative-city-berlin/{% else %}/de/das-wichtigste-im-ueberblick/was-ist-creative-city-berlin/{% endif %}"></a>
                    <p>{% trans "Berlin's portal for people engaged in the cultural sector" %}</p>
                </div>


                <div class="row navi-grid">
                    {% load metro_tags %}
                    {% metro_tile "start_page_1" %}
                    {% metro_tile "start_page_2" %}
                    {% metro_tile "start_page_3" %}
                    {% metro_tile "start_page_4" %}
                    {% metro_tile "start_page_5" %}
                    {% metro_tile "start_page_6" %}
                    {% metro_tile "start_page_7" %}
                    {% metro_tile "start_page_8" %}
                    {% metro_tile "start_page_9" %}
                    {% metro_tile "start_page_10" %}
                </div>


                <div class="claim">
                    <a class="fawesome fa-heart big color-black color-over-black" href="{% if current_language == "en" %}/en/portfolios/{% else %}/de/portfolios/{% endif %}"></a>
                    <p>{% trans "What's new? Latest Portfolios" %}</p>
                </div>

                {% include "media_gallery/includes/latest_published_galleries.html" %}

                <br/>
                <br/>

                <div class="claim">
                    <a class="fawesome fa-hand-down big color-black color-over-black" href="{% if current_language == "en" %}/en/network/{% else %}/de/network/{% endif %}"></a>
                    <p>{% trans "Welcome: The new members of Creative City Berlin" %}</p>
                </div>

                {% include "people/includes/latest_published_people_start.html" %}

                <br/>
                <br/>

                <div class="claim">
                    <div class="fawesome fa-eye big"></div>
                    <p>{% trans "Follow us" %}</p>
                </div>

                <div class="button-group center">
                    <a href="http://www.twitter.com/CREATIVEBERLIN" class="fawesome fa-twitter button round" target="_blank"><span class="sr-only">Twitter</span></a>
                    <a href="https://www.facebook.com/creativeberlin/" class="fawesome fa-facebook button round" target="_blank"><span class="sr-only">Facebook</span></a>
                </div>

            </div>
        </div>
    </div>

{% endblock content %}

{% block bottom %}
    <div class="twitter-wall" data-username="CREATIVEBERLIN">
        <div class="container">
            <div class="fawesome fa-twitter big center"></div>
            <h2 class="center hidden-xs">Twitter</h2>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 tweet"></div>
                <div class="col-sm-6 col-md-4 hidden-xs tweet"></div>
                <div class="col-md-4 hidden-xs hidden-sm tweet"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/slider.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/navi-grid.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/twitter-wall.js"></script>
{% endblock %}
