{% load crispy_forms_field %}

{% if field.is_hidden %}
    {{ field }}
{% else %}    
    <div class="{% if wrapper_class %}{{ wrapper_class }}{% else %}col-xs-12{% endif %} col">
        <div class="input-field {% if field|is_select %}select{% elif field|is_file %}file{% elif field|is_checkbox %}box{% else %}text{% endif %} {% if not field|is_checkbox and form_show_errors and field.errors %}error{% endif %}">
            {% if not field|is_checkbox %}<div class="label">{{ field.label|safe }}</div>{% endif %}
            {% crispy_field field %}
            {% if field|is_checkbox %}
                <label for="{{ field.id_for_label }}">{{ field.label|safe }}</label>
            {% endif %}
        </div>
        {% include 'kb_form/layout/help_text_and_errors.html' %}
    </div>
{% endif %}