{% load base_tags babel i18n auth_extended %}
<div>
    {% include "utils/includes/pagination.html" %}
    <form action="" class="to_show">
        <div>
            {% trans "show" %}
            <select id="id_list_pagination" class="page_count">
                <option value="5"{% ifequal results_per_page 5 %} selected="selected"{% endifequal %} >5</option>
                <option value="10"{% ifequal results_per_page 10 %} selected="selected"{% endifequal %} >10</option>
                <option value="20"{% ifequal results_per_page 20 %} selected="selected"{% endifequal %}>20</option>
                <option value="50"{% ifequal results_per_page 50 %} selected="selected"{% endifequal %}>50</option>
            </select>
            {% trans "items per page" %}
        </div>
    </form>
</div>
