{% load i18n %}
<ul class="nav_menu">
    <li class="nav_group first_item">
        <h4 class="head">{% trans "Registration" %}</h4>
        {% for step in steps %}
            {% if forloop.first %}
                <ul class="steps">
            {% else %}
                <li>
                    {% comment %}<!-- The number of the step -->{% endcomment %}
                <span class="count{% if step.current %} active{% endif %}">
                    {{ forloop.counter0 }}.
                </span>
                    {% if step.current %}
                        <strong>
                            {{ step.title|escape }}
                        </strong>
                    {% else %}
                        {% if step.filled or step.active %}
                            <a class="txt" href="?step={{ forloop.counter }}">
                                {{ step.title|escape }}
                            </a>
                        {% else %}
                            <span class="txt">
                                {{ step.title|escape }}
                            </span>
                        {% endif %}
                    {% endif %}
                </li>
            {% endif %}
        {% if forloop.last %}
            <li>
                <span class="count">{{ forloop.counter }}.</span>
                {% if not form_step_data.current_step %}
                    <strong>{% trans "approve your identity" %}</strong>
                {% else %}
                    <span class="txt">{% trans "approve your identity" %}</span>
                {% endif %}
            </li>
            </ul>
        {% endif %}
        {% endfor %}
    </li>
</ul>
