{% load base_tags babel i18n auth_extended %}

{% include "utils/includes/pagination.html" %}
<form action="" class="to_show">
    <div>
        {% if sort_order_map %}
            <select id="id_list_sorting" class="sorting">
                {% for item in sort_order_map %}
                    <option value="{{ item.0 }}"{% ifequal order_by item.0 %}
                        selected="selected"{% endifequal %}>{{ item.1 }}</option>
                {% endfor %}
            </select>
        {% endif %}
    </div>
</form>

