{% load i18n %}
<div class="sidebar-box">
    <h5>
        <b>{% trans "Steps" %}</b>
    </h5>

    <div>
        {% for step in steps %}
            {% if forloop.first %}
                <ul class="steps">
            {% endif %}
        <li>
            <span class="count">
                {{ forloop.counter }}.
            </span>

            {% if step.current %}
                <strong>
                    {{ step.title|escape }}
                </strong>
            {% else %}
                {% if step.filled or step.active %}
                    <a class="txt" href="?step={{ forloop.counter }}">
                        {{ step.title|escape }}
                    </a>
                {% else %}
                    <span class="txt">
                        {{ step.title|escape }}
                    </span>
                {% endif %}
            {% endif %}

        </li>
        {% if forloop.last %}
            </ul>
        {% endif %}
        {% endfor %}
    </div>
</div>
        
