{% load i18n %}

<nav>
    <ul class="accordion navi-box">
        <li class="accordion-inside accordion-trigger opened">
            <div class="accordion-trigger head">{% trans "Steps" %}</div>
            <ul class="accordion navi-box">
                {% for step in steps %}
                    <li>
                        {% if step.filled or step.active %}
                            <a href="?step={{ forloop.counter }}" {% if step.current %}class="active"{% endif %}><div class="counter">{{ forloop.counter }}.</div><div>{{ step.title|escape }}</div></a>
                        {% else %}
                            <div class="disbaled {% if step.current %}active{% endif %}"><div class="counter">{{ forloop.counter }}.</div><div>{{ step.title|escape }}</div></div>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </li>
        <li></li>
    </ul>
</nav>

{% comment %}
<div class="sidebar-box">
    <h5>
        <b>{% trans "Steps" %}</b>
    </h5>

    <div>
        {% for step in steps %}
            {% if forloop.first %}
                <ul class="steps">
            {% endif %}
        <li>
            <span class="count">
                {{ forloop.counter }}.
            </span>

            {% if step.current %}
                <strong>
                    {{ step.title|escape }}
                </strong>
            {% else %}
                {% if step.filled or step.active %}
                    <a class="txt" href="?step={{ forloop.counter }}">
                        {{ step.title|escape }}
                    </a>
                {% else %}
                    <span class="txt">
                        {{ step.title|escape }}
                    </span>
                {% endif %}
            {% endif %}

        </li>
        {% if forloop.last %}
            </ul>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endcomment %}
