{% load base_tags i18n %}
<div class="button-group form-buttons">
    {% if not steps.0.current %}
        <input type="submit" class="button" value="{% trans "Reset" %}"
            name="reset"/>
        <input type="button" class="button" value="{% trans "Previous" %}"
            onclick="window.redirect(document.location.pathname + '?step=' + ({{ form_step_data.step_counter|default:"0" }} - 1))"/>
    {% endif %}
    <input type="submit" class="button primary" value="{% trans "Next" %}"/>
</div>
