{% load base_tags i18n %}
<div class="buttonHolder">
    <input type="submit" class="secondaryAction" value="{% filter upper %}{% trans "Reset" %}{% endfilter %}"
        name="reset"/>
    {% if not steps.0.current %}
        <input type="button" class="secondaryAction" value="{% filter upper %}{% trans "Previous" %}{% endfilter %}"
            onclick="window.redirect(document.location.pathname + '?step=' + ({{ form_step_data.step_counter|default:"0" }} - 1))"/>
    {% endif %}
    <input type="submit" class="primaryAction" value="{% filter upper %}{% trans "Next" %}{% endfilter %}"/>
</div>
