{% extends "site_specific/dashboard.html" %}

{% load url from future %}

{% load base_tags i18n crispy_forms_tags tagging_tags image_modifications infoblocks auth_extended sekizai_tags %}

{% block dashboard_content %}
    <div class="dashboard-header container relative">
        <div id="form-meta">
            <div id="pub-status">
                <label for="status_filter"></label>
                <select id="status_filter">
                    <option{% if status == "published" %} selected="selected"{% endif %}
                                                          value="published">{% trans "Only Published" %}</option>
                    <option{% if status == "draft" %} selected="selected"{% endif %}
                                                      value="draft">{% trans "Only Draft" %}</option>
                    <option{% if status == "not_listed" %} selected="selected"{% endif %}
                                                           value="not_listed">{% trans "Not listed" %}</option>
                </select>
            </div>
            <div>
                <form id="dashboard_search" action="" method="get">
                    <input type="text" name="q" id="q" value="{{ q|escape }}"/>
                    <button type="submit" class="btn">
                        <span class="icon icon-zoom"></span></button>
                </form>
            </div>
            {% if_has_perm "marketplace.add_joboffer" %}
                <a class="btn btn-primary" href="{% url "add_job_offer" %}">{% trans "Add job" %}</a>
            {% end_if_has_perm %}
        </div>
        <h4>
            <a href="{% url "dashboard_job_offers" %}">{% trans "Jobs" %}</a>
        </h4>
    </div>

    <div id="dashboard" class="container">
        <div class="inner">
            <div id="job_offers" class="content">
                <table class="dashboard-table">
                    <thead>
                    <tr>
                        <th class="col-title">
                            <small>
                                <a data-sort_by="{% if sort_by == "position" %}-{% endif %}position"
                                   href="?sort_by={% if sort_by == "position" %}-{% endif %}position">{% trans "Position" %}
                                    {% if sort_by == "position" %}
                                        <span class="icon icon-arrow-down"></span>
                                    {% elif sort_by == "-position" %}
                                        <span class="icon icon-arrow-top"></span>
                                    {% endif %}
                                </a>
                            </small>
                        </th>
                        <th class="col-date">
                            <small>
                                <a data-sort_by="{% if sort_by == "date" %}-{% endif %}date"
                                   href="?sort_by={% if sort_by == "date" %}-{% endif %}date">{% trans "Last Change" %}
                                    {% if sort_by == "date" %}
                                        <span class="icon icon-arrow-down"></span>
                                    {% elif sort_by == "-date" %}
                                        <span class="icon icon-arrow-top"></span>
                                    {% endif %}
                                </a>
                            </small>
                        </th>
                        <th>
                            <small>{% trans "Status" %}</small>
                        </th>
                        <th>
                            <small>{% trans "Actions" %}</small>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if page.object_list %}
                        {% for job_offer in page.object_list %}
                            {% tags_for_object job_offer as tags %}
                            <tr>
                                <td>
                                    <a href="{{ job_offer.get_url_path }}change/"><b>{{ job_offer.position }}</b></a>
                                </td>
                                <td> {{ job_offer.modified_date|default:job_offer.creation_date|date:"d.m.Y H:i" }} </td>
                                <td>
                                    <div class="status">
                                        <select class="status-switch" data-url="{{ job_offer.get_url_path }}status/">
                                            <option value="draft"{% if job_offer.status == "draft" %}
                                                    selected="selected"{% endif %}>{% trans "Draft" %}</option>
                                            <option value="published"{% if job_offer.status == "published" %}
                                                    selected="selected"{% endif %}>{% trans "Published" %}</option>
                                            <option value="not_listed"{% if job_offer.status == "not_listed" %}
                                                    selected="selected"{% endif %}>{% trans "Not Listed" %}</option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <a href="{{ job_offer.get_url_path }}?preview"
                                       data-toggle="tooltip"
                                       data-placement="top"
                                       data-original-title="{% trans "Preview" %}"
                                       class="btn btn-sm btn-icon btn-link"
                                       target="_blank">
                                        <span class="icon icon-eye-open"></span>
                                        <span class="sr-only">{% trans "Preview" %}</span>
                                    </a>
                                    {% if job_offer.is_deletable %}
                                        <a href="{% url "delete_job_offer" secure_id=job_offer.get_secure_id %}"
                                           data-toggle="tooltip"
                                           data-placement="top"
                                           data-original-title="{% trans "Delete" %}"
                                           class="btn btn-sm btn-icon btn-link delete"
                                           data-object-title="{{ job_offer.title }}"
                                           data-object-type="{% trans "Job Offer" %}">
                                            <span class="icon icon-remove"></span>
                                            <span class="sr-only">{% trans "Remove" %}</span>
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="4">
                                <span class="pull-left">
                                    {% if status == "published" %}
                                        {% trans "There are no published items." %} {% endif %}
                                    {% if status == "draft" %} {% trans "There are no draft items." %} {% endif %}
                                    {% if status == "expired" %} {% trans "There are no expired items." %} {% endif %}
                                </span>
                            </td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
                {% include "utils/dashboard_pagination.html" %}
            </div>
        </div>
    </div>

    {% include "utils/dashboard_delete.html" %}

    {% now "uuuu" as microseconds %}
    <script nonce="{{ microseconds|to_base64 }}">
        $('#dashboard_search').submit(function (e) {
            e.preventDefault();
            append_to_get({q: $('#q').val()});
        });
        $('#status_filter').change(function () {
            append_to_get({status: $(this).val()});
        });
        $(function () {
            $('.status').hover(function () {
                $(this).addClass('hover');
            }, function () {
                $(this).removeClass('hover');
            }).mouseleave();
            $('.status-switch').change(function () {
                var $this = $(this);
                $.post($this.attr('data-url'), {'status': $this.val()}, function (data) {
                });
            });
            $('.dashboard-table').each(function () {
                var $table = $(this);
                var sorted_by = $table.data('sorted_by');
                $table.find('th.col-title a').click(function (e) {
                    e.preventDefault();
                    append_to_get({sort_by: $(this).data('sort_by')});
                });
                $table.find('th.col-date a').click(function (e) {
                    e.preventDefault();
                    append_to_get({sort_by: $(this).data('sort_by')});
                });
            });
        });
        $("select").selectbox();
    </script>
    {% add_data "script_nonces" microseconds|to_base64 %}

{% endblock %}
