{% extends "site_specific/dashboard.html" %}

{% load url from future %}

{% load base_tags i18n crispy_forms_tags tagging_tags image_modifications infoblocks auth_extended %}

{% block dashboard_content %}
    <div class="dashboard-header container relative">
        <h4>
            <a href="{% url "dashboard_info_files" %}">{% trans "Information for location owners" %}</a>
        </h4>
    </div>

    <div id="dashboard" class="container">
        <div class="inner">
            <div id="files" class="content">
                <table class="dashboard-table">
                    <thead>
                    <tr>
                        <th class="col-title">
                            <small>{% trans "Filename" %}</small>
                        </th>
                        <th class="col-date">
                            <small>{% trans "Uploaded" %}</small>
                        </th>
                        <th>
                            <small>{% trans "Size" %}</small>
                        </th>
                        <th>
                            <small>{% trans "Actions" %}</small>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if files %}
                        {% for f in files %}
                            <tr>
                                <td>
                                    <a href="{{ f.url }}" download="{{ f.name }}"><b>{{ f.name }} {% if f.is_new %}
                                        <small>– {% trans "NEW" %}</small> {% endif %} </b></a>
                                </td>
                                <td> {{ f.created|date:"d.m.Y H:i" }} </td>
                                <td> {{ f.size|filesizeformat }} </td>
                                <td>
                                    <a href="{{ f.url }}"
                                       download="{{ f.name }}"
                                       data-toggle="tooltip"
                                       data-placement="top"
                                       data-original-title="{% trans "Download" %}"
                                       class="btn btn-sm btn-icon btn-link"
                                       target="_blank">
                                        <span class="icon icon-folder-download"></span>
                                        <span class="sr-only">{% trans "Download" %}</span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="4">
                                    <span class="pull-left">
                                        {% trans "There are no uploaded files." %}
                                    </span>
                            </td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
