{% comment %}
    An instance of AdBase is passed to this tag.
{% endcomment %}
{% load i18n %}

{% if ad.textad %}
    <!-- Text ads are commented out on Museumsportal for now -->
    <div class="ad_text zone_{{ ad.zone.sysname }} clearfix">
        {% if ad.show_ad_label %}
            <h6 class="block-label" {% if ad.zone.sysname == "museums" or ad.zone.sysname == "exhibitions" or ad.zone.sysname == "plan_organize_first" %}style="margin-top: -20px !important; margin-bottom: 2px !important;"{% endif %}>{% trans "Advertisement" %}</h6>
        {% endif %}
        <p><a target="_blank" href="{{ ad.get_url_path }}">{{ ad.textad.content }}</a></p>
    </div>
{% endif %}

{% if ad.bannerad %}
    {% if ad.zone.sysname == "start_page" or ad.zone.sysname == "start_page_2" %}
        {% if ad.zone.sysname == "start_page_2" %}<h6 class="block-label headline-up">{% trans "Advertisement" %}</h6>{% endif %}
        <a target="_blank" href="{{ ad.get_url_path }}"><img class="img-responsive img-full" src="{{ ad.bannerad.content.url }}" alt="{{ ad.title }}" /></a>
        {% if ad.zone.sysname == "start_page" %}<br/>{% endif %}
    {% elif ad.zone.sysname == "festivals" %}
        <div class="grid-item col-xs-12 col-sm-6 col-md-4 grid-item-favorite ad_banner zone_{{ ad.zone.sysname }}">
            <div class="row">
                <h6 class="block-label headline-up">{% trans "Advertisement" %}</h6>
                <a target="_blank" href="{{ ad.get_url_path }}">
                    <span class="grid-item-image">
                        <img class="" src="{{ ad.bannerad.content.url }}" alt="{{ ad.title }}"/>
                    </span>
                </a>
            </div>
        </div>
    {% else %}
        <div class="ad_banner zone_{{ ad.zone.sysname }} clearfix">
            {% if ad.show_ad_label %}
                <h6 class="block-label{% if ad.zone.sysname == "museums" or ad.zone.sysname == "exhibitions" or ad.zone.sysname == "plan_organize_first" or ad.zone.sysname == "summer_tips" or ad.zone.sysname == "shop_1" %} headline-up{% endif %}">{% trans "Advertisement" %}</h6>
            {% endif %}
            <a target="_blank" href="{{ ad.get_url_path }}"><img class="img-responsive img-full" src="{{ ad.bannerad.content.url }}" alt="{{ ad.title }}" /></a>
        </div>
    {% endif %}
{% endif %}
