// main:style.scss

// @Author: Daniel Lehmann
// @Date:   2018/10/08
// @Email:  code@dreammedia.info
// @Last modified by:   Daniel Lehmann
// @Last modified time: 2018/11/04
// @copyright Daniel Lehmann (code@dreammedia.info)

#body {
    overflow: hidden;

    .dashboard & {
        overflow: initial;
    }

    .remove-navigation-gap & {
        margin-top: -$header-height-xl;

        .is-lg & {
            margin-top: -$header-height-lg;
        }
        .is-md & {
            margin-top: -$header-height-md;
        }
        .is-sm & {
            margin-top: -$header-height-sm;
        }
        .is-xs & {
            margin-top: 0;
        }
    }

    .container {
        padding-left: 0;
        padding-right: 0;
        position: relative;

        .is-xl & {
            padding-left: $page-margin-xl;
            padding-right: $page-margin-xl;
        }
        .is-lg & {
            padding-left: $page-margin-lg;
            padding-right: $page-margin-lg;
        }
        .is-md & {
            padding-left: $page-margin-md;
            padding-right: $page-margin-md;
        }
        .is-sm & {
            padding-left: $page-margin-sm;
            padding-right: $page-margin-sm;
        }
        .is-xs & {
            padding-left: $page-margin-xs;
            padding-right: $page-margin-xs;

            .background {
                margin-left: -$page-margin-xs;
                margin-right: -$page-margin-xs;
            }
        }
    }

    .header-image {
        position: relative;
        width: 100%;
        height: 100vh;

        .is-xs & {
            margin-bottom: -$header-height-xs;
        }

        > img {
            position: fixed;
            width: 100%;
            height: auto;
            left: 50%;
            top: 50vh;
            transform: translate(-50%, -50%);
        }

        > .slider {
            position: fixed;
            width: 100%;
            height: 100vh;
            left: 0;
            top: 0;
        }

        > .overlay {
            position: relative;
            display: inline-block;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;

            margin-top: $header-height-xl;

            .is-lg & {
                margin-top: $header-height-lg;
            }
            .is-md & {
                margin-top: $header-height-md;
            }
            .is-sm & {
                margin-top: $header-height-sm;
            }
            .is-xs & {
                margin-top: 0;
                height: 100%;
            }

            .locations {
                display: inline-block;
                text-align: center;
                padding: 2rem 0;
                width: 100%;

                .is-xs & {
                    height: 100%;
                }

                a {
                    display: inline-block;
                    color: $white;
                    margin: 0 0 0.3rem;

                    &:hover {
                        color: $link;
                    }
                }

                .visible-xs {
                    display: inline-block;
                    color: $white;
                    position: absolute;
                    top: 35%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    cursor: default;
                    width: 100%;
                    padding: 0 1rem;
                }
            }
        }

        .photo-credits-over {
            transform: rotate(90deg) translateX(-100%);
            transform-origin: 0% 100%;
            right: initial;
            left: 0;
            .is-xs & {
                bottom: 86px;
            }
        }

        &.vertical {
            > img {
                width: auto;
                height: 100vh;
            }
        }
    }

    .background {
        background: $white;
        position: relative;
        overflow: hidden;
    }

    .margin {
        margin-left: 30px;
        margin-right: 30px;

        .is-sm &, .is-md & {
            margin-left: 20px;
            margin-right: 20px;
        }
        .is-xs & {
            margin-left: 0px;
            margin-right: 0px;
        }
    }

    .height-offset {
        transform: translateY(-100%);
        padding-left: 25px;
        padding-right: 25px;

        .is-xs & {
            padding-left: 0;
            padding-right: 0;
        }

        &.body-header {
            min-height: 180px;

            .is-md & {
                min-height: 150px;
            }
            .is-sm & {
                min-height: 120px;
            }

            .background, .row, .row > * {
                min-height: 180px;

                .is-md & {
                    min-height: 150px;
                }
                .is-sm & {
                    min-height: 120px;
                }
            }

            .button-bar-wrapper {
                max-width: 385px;

                .button-bar {
                    width: auto;

                    .is-md & {
                        height: 45px;
                    }

                    > * {
                        .is-md & {
                            width: 45px;
                        }
                    }
                }
            }

            h5, .h5 {
                margin-top: -0.577rem;
            }

            h6, .h6 {
                margin-top: 0.89rem;
                margin-bottom: -2.5rem;
            }
        }
    }

    .multipart {

        h3 , .h3 {
            margin-top: 1rem;
        }

        h5, .h5 {
            margin-top: -0.577rem;
        }

        h6, .h6 {
            margin-top: 0.8rem;
            margin-bottom: -1.5rem;
        }

    }

    .sidebar {
        width: 100%;
        max-width: 385px;

        .accordion-item {
            .accordion-head {
                margin: 0;
                padding: 0.7rem 0 0.8rem;
            }

            &:first-child {
                .accordion-head {
                    padding-top: 1.5rem;
                }
            }
        }
    }
}
