// main:style.scss

// @Author: Daniel Lehmann
// @Date:   2018/10/04
// @Email:  code@dreammedia.info
// @Last modified by:   Daniel Lehmann
// @Last modified time: 2018/10/10
// @copyright Daniel Lehmann (code@dreammedia.info)

@charset "utf-8";

.dropdown-wrapper {
    position: relative;
}

.dropdown {
    list-style: none;
    display: inline-block;
    position: absolute;
    background: $white;

    li {
        display: block;
        overflow: hidden;

        > * {
            display: block;
            max-height: 0px;
            transition: max-height 0.2s ease-out, height 0.2s ease-out, padding 0.2s ease-in;
        }
    }

    &.open {
        li {
            > * {
                max-height: 100px;
                transition: max-height 1s ease-out, height 0.4s ease-out, padding 0.4s ease-out;
            }
        }
    }
}
