// main:style.scss

@charset "utf-8";

#filter {
    .is-xs & {
        z-index: 101;
    }
}

.filter {

    &.sidebar {

        .is-xs & {
            width: 100vw !important;
            max-width: none !important;
            height: 50px;
            margin-left: -30px;
            position: relative;
            z-index: 101;
        }

        ul {
            list-style: none;

            li {
                margin-bottom: 2px;

                .is-lg &, .is-sm & {
                    margin-bottom: 3px;
                }
                .is-xs & {
                    margin-bottom: 7px;
                }

                a {
                    position: relative;
                    display: block;
                    padding-left: 25px;

                    .is-lg &, .is-xs & {
                        padding-left: 20px;
                    }
                    .is-md &, .is-sm & {
                        padding-left: 18px;
                    }

                    .icon {
                        position: absolute;
                        top: 3px;
                        left: 0;
                        display: inline-block;

                        .is-lg & {
                            top: 1.5px;
                        }
                        .is-md &, .is-sm &, .is-xs & {
                            top: 2px;
                        }

                        svg {
                            width: 20px;
                            height: 20px;

                            .is-lg &, .is-md &, .is-sm &, .is-xs & {
                                width: 14px;
                                height: 14px;
                            }
                        }
                    }
                }
            }
        }

        .accordion-item {

            .is-xs & {
                border-bottom: none;
                width: 50%;
                position: absolute;
                top: 0;
                background: $white;

                -webkit-transition: width 0.3s 0s ease-in, left 0.2s 0s ease-out;
                -ms-transition: width 0.3s 0s ease-in, left 0.2s 0s ease-out;
                transition: width 0.3s 0s ease-in, left 0.2s 0s ease-out;

                &:first-child {
                    left: 0%;
                }
                &:last-child {
                    left: 50%;
                }

                &.open {
                    left: 0% !important;
                    width: 100%;
                    z-index: 102;

                    -webkit-transition: width 0.3s 0s ease-out, left 0.2s 0s ease-in;
                    -ms-transition: width 0.3s 0s ease-out, left 0.2s 0s ease-in;
                    transition: width 0.3s 0s ease-out, left 0.2s 0s ease-in;

                    .accordion-body {
                        padding-top: 20px;
                        padding-left: 30px !important;
                        padding-right: 20px !important;
                        border-left: 1px solid $grey_light;
                        border-right: 1px solid $grey_light;
                        border-bottom: 1px solid $grey;
                    }
                }
            }

            .accordion-head {

                .is-xs & {
                    padding: 20px 30px 15px !important;
                    border: 1px solid $grey_light;
                    font-size: 1rem;
                    line-height: 1;
                }
            }

            .accordion-body {

                .is-xs & {
                    -webkit-transition: padding 0.2s 0s ease-in-out;
                    -ms-transition: padding 0.2s 0s ease-in-out;
                    transition: padding 0.2s 0s ease-in-out;
                }
            }

        }
    }
}
