// main:style.scss

@charset "utf-8";

#footer {
    border-top: 1px solid $grey;
    padding-top: 50px;
    background: $white;
    position: relative;
    z-index: 999999;

    .is-lg & {
        padding-top: 50px * $footer-social-lg;
    }
    .is-md & {
        padding-top: 50px * $footer-social-md;
    }
    .is-sm & {
        padding-top: 50px * $footer-social-sm;
    }
    .is-xs & {
        padding-top: 75px;
    }

    .solcial-menu {
        font-size: 2rem;
        font-weight: $bold;
        padding-left: 0;
        padding-right: 0;

        .is-xl & {
            padding-left: $page-margin-xl;
            padding-right: $page-margin-xl;
        }
        .is-lg & {
            padding-left: $page-margin-lg;
            padding-right: $page-margin-lg;
        }
        .is-md & {
            padding-left: $page-margin-md;
            padding-right: $page-margin-md;
        }
        .is-sm & {
            padding-left: $page-margin-sm;
            padding-right: $page-margin-sm;
        }
        .is-xs & {
            font-size: 1.7rem;
            text-align: center;
        }

        .row {
            margin-top: 80px;
            margin-bottom: 100px;

            .is-lg & {
                margin-top: 80px * $footer-social-lg;
                margin-bottom: 100px * $footer-social-lg;
            }
            .is-md & {
                margin-top: 80px * $footer-social-md;
                margin-bottom: 100px * $footer-social-md;
            }
            .is-sm & {
                margin-top: 80px * $footer-social-sm;
                margin-bottom: 100px * $footer-social-sm;
            }
            .is-xs & {
                margin-top: 30px;
                margin-bottom: 20px;
            }
        }

        .svg-footer-facebook, .svg-footer-instagram {
            width: 509px;
            height: 110px;

            .is-lg & {
                width: 509px * $footer-social-lg;
                height: 110px * $footer-social-lg;
            }
            .is-md & {
                width: 509px * $footer-social-md;
                height: 110px * $footer-social-md;
            }
            .is-sm & {
                width: 509px * $footer-social-sm;
                height: 110px * $footer-social-sm;
            }
            .is-xs & {
                width: 509px * $footer-social-xs;
                height: 110px * $footer-social-xs;
            }
        }
    }

    .footer-menu {
        background: $black;
        color: $white;

        .container {
            padding-left: 0;
            padding-right: 0;
            display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
            display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
            display: -ms-flexbox;      /* TWEENER - IE 10 */
            display: -webkit-flex;     /* NEW - Chrome */
            display: flex;

            .is-xl & {
                padding-left: $page-margin-xl;
                padding-right: $page-margin-xl;
            }
            .is-lg & {
                padding-left: $page-margin-lg;
                padding-right: $page-margin-lg;
            }
            .is-md & {
                padding-left: $page-margin-md;
                padding-right: $page-margin-md;
            }
            .is-sm & {
                padding-left: $page-margin-sm;
                padding-right: $page-margin-sm;
            }
            .is-xs & {
                display: block;
            }
        }

        .left {
            padding-left: 0;
            padding-right: 0;
            column-count: 2;
            column-gap: 0;

            .is-xs & {
                column-count: 1;
            }
        }
        .right {
            padding-left: 0;
        }

        .footer-menu-wrapper {
            .is-xs & {
                padding-left: $page-margin-xs / 2;
                padding-right: $page-margin-xs / 2;
            }
        }

        ul {
            list-style: none;
            margin-top: 60px;
            margin-bottom: 50px;

            .is-xs & {
                padding-left: $page-margin-xs / 2;
                padding-right: $page-margin-xs / 2;
                margin-top: 30px;
                margin-bottom: 20px;
            }

            a {
                color: $white;
                font-size: 1rem;
                font-weight: $regular;
                line-height: 1.4;

                &:hover {
                    color: $link;
                }

                .is-sm & {
                    font-size: 0.9rem;
                }
                .is-xs & {
                    font-size: 1.1rem;
                    line-height: 1.5;
                }
            }
        }

        .newsletter {
            padding-right: 0;

            .is-xs & {
                padding-left: 0;
            }

            .wrapper {
                background: url(../img/stripes.png);
                height: 100%;
            }
        }
    }

    .logos {
        padding-left: 0;
        padding-right: 0;

        .is-xl & {
            padding-left: $page-margin-xl;
            padding-right: $page-margin-xl;
        }
        .is-lg & {
            padding-left: $page-margin-lg;
            padding-right: $page-margin-lg;
        }
        .is-md & {
            padding-left: $page-margin-md;
            padding-right: $page-margin-md;
        }
        .is-sm & {
            padding-left: $page-margin-sm;
            padding-right: $page-margin-sm;
        }
        .is-xs & {
            text-align: center;
        }

        ul {
            list-style: none;
            overflow: hidden;
            margin: 80px auto 70px;
            display: table;

            .is-lg & {
                margin-top: 80px * $footer-logos-lg;
                margin-bottom: 70px * $footer-logos-lg;
            }
            .is-md & {
                margin-top: 80px * $footer-logos-md;
                margin-bottom: 70px * $footer-logos-md;
            }
            .is-sm & {
                margin-top: 80px * $footer-logos-sm;
                margin-bottom: 70px * $footer-logos-sm;
            }
            .is-xs & {
                display: inline-block;
                margin-top: 15px;
                margin-bottom: 30px;
            }

            li {
                display: table-cell;

                .is-xs & {
                    display: inline-block;
                    padding-top: 7px;
                    padding-bottom: 7px;

                    &.first {
                        display: block;
                        width: 100%;
                        text-align: center;
                    }
                }

                a {
                    display: inline-block;
                    display: inline-flex;
                    vertical-align: middle;
                    padding: 0 25px;

                    .is-lg & {
                        padding-left: 25px * $footer-logos-lg;
                        padding-right: 25px * $footer-logos-lg;
                    }
                    .is-md & {
                        padding-left: 25px * $footer-logos-md;
                        padding-right: 25px * $footer-logos-md;
                    }
                    .is-sm & {
                        padding-left: 25px * $footer-logos-sm;
                        padding-right: 25px * $footer-logos-sm;
                    }
                    .is-xs & {
                        padding-left: 25px * $footer-logos-xs !important;
                        padding-right: 25px * $footer-logos-xs !important;
                    }
                }

                &:first-child {
                    a {
                        padding-left: 0;
                    }
                }
                &:last-child {
                    a {
                        padding-right: 0;
                    }
                }

                &.seperator {
                    padding: 0 25px;

                    .is-lg & {
                        padding-left: 25px * $footer-logos-lg;
                        padding-right: 25px * $footer-logos-lg;
                    }
                    .is-md & {
                        padding-left: 25px * $footer-logos-md;
                        padding-right: 25px * $footer-logos-md;
                    }
                    .is-sm & {
                        padding-left: 5px;
                        padding-right: 5px;
                    }
                    .is-xs & {
                        padding-left: 5px;
                        padding-right: 5px;

                        &.first {
                            display: none;
                        }
                    }

                    * {
                        display: block;
                        width: 1px;
                        height: 78px;
                        background: $grey;
                        margin-bottom: -36px;

                        .is-lg & {
                            height: 78px * $footer-logos-lg;
                            margin-bottom: -36px * $footer-logos-lg;
                        }
                        .is-md & {
                            height: 78px * $footer-logos-md;
                            margin-bottom: -36px * $footer-logos-md;
                        }
                        .is-sm & {
                            height: 78px * $footer-logos-sm;
                            margin-bottom: -36px * $footer-logos-sm;
                        }
                        .is-xs & {
                            height: 78px * $footer-logos-xs;
                            margin-bottom: -36px * $footer-logos-xs;
                        }
                    }
                }
            }
        }

        .svg-footer-ruhr_tourismus {
            width: 463px;
            height: 46px;

            .is-lg & {
                width: 463px * $footer-logos-lg;
                height: 46px * $footer-logos-lg;
            }
            .is-md & {
                width: 463px * $footer-logos-md;
                height: 46px * $footer-logos-md;
            }
            .is-sm & {
                width: 463px * $footer-logos-sm;
                height: 46px * $footer-logos-sm;
            }
            .is-xs & {
                width: 463px * $footer-logos-xs;
                height: 46px * $footer-logos-xs;
            }
        }
        .svg-footer-rvr {
            width: 241px;
            height: 61px;

            .is-lg & {
                width: 241px * $footer-logos-lg;
                height: 61px * $footer-logos-lg;
            }
            .is-md & {
                width: 241px * $footer-logos-md;
                height: 61px * $footer-logos-md;
            }
            .is-sm & {
                width: 241px * $footer-logos-sm;
                height: 61px * $footer-logos-sm;
            }
            .is-xs & {
                width: 241px * $footer-logos-xs;
                height: 61px * $footer-logos-xs;
            }
        }
        .svg-footer-ukr {
            width: 104px;
            height: 78px;

            .is-lg & {
                width: 104px * $footer-logos-lg;
                height: 78px * $footer-logos-lg;
            }
            .is-md & {
                width: 104px * $footer-logos-md;
                height: 78px * $footer-logos-md;
            }
            .is-sm & {
                width: 104px * $footer-logos-sm;
                height: 78px * $footer-logos-sm;
            }
            .is-xs & {
                width: 104px * $footer-logos-xs;
                height: 78px * $footer-logos-xs;
            }
        }
        .svg-footer-efre {
            width: 378px;
            height: 86px;
            padding-top: 2px;

            .is-lg & {
                width: 378px * $footer-logos-lg;
                height: 86px * $footer-logos-lg;
            }
            .is-md & {
                width: 378px * $footer-logos-md;
                height: 86px * $footer-logos-md;
            }
            .is-sm & {
                width: 378px * $footer-logos-sm;
                height: 86px * $footer-logos-sm;
            }
            .is-xs & {
                width: 378px * $footer-logos-xs;
                height: 86px * $footer-logos-xs;
            }
        }
        .svg-footer-dein_nrw {
            width: 58px;
            height: 78px;

            .is-lg & {
                width: 58px * $footer-logos-lg;
                height: 78px * $footer-logos-lg;
            }
            .is-md & {
                width: 58px * $footer-logos-md;
                height: 78px * $footer-logos-md;
            }
            .is-sm & {
                width: 58px * $footer-logos-sm;
                height: 78px * $footer-logos-sm;
            }
            .is-xs & {
                width: 58px * $footer-logos-xs;
                height: 78px * $footer-logos-xs;
            }
        }
    }
}
