// main:style.scss

@charset "utf-8";

.grid {

    > .row {
        display: block;
        display: -ms-flexbox;
        display: -webkit-flex;
    	display: flex;

        -ms-flex-wrap: wrap;
        flex-wrap: wrap;

        margin-left: -8px;
        margin-right: -8px;
    }


    a.grid-item:hover {
        color: $link;
    }
    .grid-item {
        display: inline-block;
        color: $black;
        margin-top: 30px;
        margin-bottom: 30px;
        padding-left: 8px;
        padding-right: 8px;

        &.with-schedule-bar {
            padding-bottom: 85px;

            .is-xs & {
                padding-bottom: 0;

                .photo-credits-over {
                    left: initial;
                    right: 0;
                    padding-left: 100px;
                }
            }
        }

        a {
            color: $black;

            &:hover {
                color: $link;
            }
        }

        .is-sm & {
            margin-top: 30px;
        }

        .is-xs & {
            margin-top: 30px;
            margin-bottom: 0;
        }

        .img {
            display: block;
            width: 100%;
            margin-bottom: 20px;
            position: relative;

            .is-xs & {
                margin-bottom: 15px;
            }

            img {
                width: 100%;
                height: auto;
            }
        }

        h4, .h4 {
            line-height: 1.1875;
            margin: 0.2rem 0;
        }

        h6, .h6 {
            margin-top: -0.4rem;
            margin-bottom: -0.1rem;;
        }

        button.favorite {
            position: absolute;
            top: 5px;
            right: 5px;
            padding: 0;
            margin: 0;
            border: none;
            background: $black;
            color: white;
            border-radius: 50%;
            width: 30px;
            height: 30px;

            .icon {
                position: relative;
                top: 3px;
                left: 0.5px;

                .is-xs &, .is-sm &, .is-md & {
                    top: 4px;
                }

                .svg-icons-heart {
                    width: 18px;
                    height: 17px;
                    color: $white;
                    fill: $white;
                }
            }

            &:hover, &.active {
                .icon {
                    .svg-icons-heart {
                        color: $link;
                        fill: $link;
                    }
                }
            }
        }
    }

    &.grid-locations {
        .grid-item {
            margin-bottom: 0;
        }
    }

    &.grid-dates {
        .more-dates {
            display: none;
        }
        &.more {
            .more-dates {
                display: inline-block;
            }
            a.less-dates {
                display: none;
            }
        }

        .grid-item {
            margin-top: 30px;
            margin-bottom: 0px;
        }
    }

    &.grid-sponsors {

        .row {
            margin-top: 30px;
        }

        .grid-item {
            margin-top: 0;
            margin-bottom: 16px;
            text-align: center;
        }

        img {
            width: 100%;
            height: auto;
        }
    }
}
