// main:style.scss

.sidebar {

    a {
        color: $black;

        &:hover {
            color: $link;
            fill: $link;
        }
    }

    dl {
        &.series {
            margin-top: 0;
            margin-bottom: 20px;
        }
    }


    .list-dates {

        li {
            position: relative;

            &.canceled {
                color: $red;

                a {
                    color: $red;
                    fill: $red;
                }

                .underline {
                    border-color: $red;
                }
            }
        }

        .date {
            display: inline-block;
            padding: 0;
            margin: 0;
        }

        .date-tickets {
            width: 22px;
            height: 20px;
            position: absolute;
            right: 5px;
            top: 0px;

            .svg-icons-tickets {
                width: 22px;
                height: 20px;
            }
        }

        .date-extra {
            display: block;
            font-size: 0.8rem;
        }
    }
}
