// main:style.scss

@charset "utf-8";


#social_menu {
    position: fixed;
    left: 0;
    bottom: 20px;
    z-index: 999998;

    .is-xs &, .dashboard & {
        display: none;
    }

    &.small {
        transform: translateX(-80%);

        -webkit-transition: transform 0.1s ease-in-out;
        -ms-transition: transform 0.1s ease-in-out;
        transition: transform 0.1s ease-in-out;

        &:hover {
            transform: translateX(0);
        }

        a {
            background: $black;

            .icon > * path {
                fill: $white !important;
            }
        }
    }

    a {
        display: inline-block;
        max-width: 60px;
        height: 40px;
        overflow: hidden;
        color: $white;
        margin: 0;
        padding: 0 17px 0 0;
        vertical-align: top;

        -webkit-transition: color 0.5s ease-in-out, background 0.5s ease-in-out, max-width 0.2s ease-in-out;
        -ms-transition: color 0.5s ease-in-out, background 0.5s ease-in-out, max-width 0.2s ease-in-out;
        transition: color 0.5s ease-in-out, background 0.5s ease-in-out, max-width 0.2s ease-in-out;

        &:hover {
            max-width: 300px;
            background: $black;
            color: $white;

            .icon > * path {
                fill: $white !important;
            }

            .text {
                display: inline-block;
                opacity: 1;
            }
        }

        .icon {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 40px;

            > * {
                position: absolute;
                left: 20px;
                top: 10px;
                height: 20px;

                .is-lg &, .is-md &, .is-sm & {
                    height: 14px;
                    top: 13px;
                }

                path {
                    -webkit-transition: fill 0.5s ease-in-out;
                    -ms-transition: fill 0.5s ease-in-out;
                    transition: fill 0.5s ease-in-out;

                    .illumination-dark & {
                        fill: $white;
                    }
                    .illumination-light &, .social-menu & {
                        fill: $black;
                    }
                }
            }

            &.facebook {
                > * {
                    left: 25px;
                }
            }
            &.language {
                width: 43px;

                > * {
                    left: 18px;
                }
            }
        }

        .text {
            display: none;
            position: relative;
            top: -12px;
            opacity: 0;
            line-height: 3;

            -webkit-transition: opacity 0.2s ease-in-out;
            -ms-transition: opacity 0.2s ease-in-out;
            transition: opacity 0.2s ease-in-out;

            .is-lg & {
                top: -14px;
            }
            .is-md &, .is-sm & {
                top: -15px;
            }
        }
    }
}
