// main:style.scss

.stages-map-bg {
    width: 100%;
    height: 67vw;
    background-color: $black;
    background-size: cover;
    background-image: url(../img/map-bg-xs.jpg);

    .is-xl & {
        max-height: 1200px;
        background-image: url(../img/map-bg-lg.jpg);
    }
    .is-lg & {
        max-height: 880px;
        background-image: url(../img/map-bg-lg.jpg);
    }
    .is-md & {
        max-height: 700px;
        background-image: url(../img/map-bg-md.jpg);
    }
    .is-sm & {
        max-height: 550px;
        background-image: url(../img/map-bg-sm.jpg);
    }
    .is-xs & {
        height: auto;
    }

    h1 {
        color: $white;
        margin-top: 5vw;
        margin-bottom: 3vw;

        .is-xs & {
            text-align: center;
            margin: 40px auto 50px;
        }
    }

    .stages-map {
        position: relative;
        width: 100%;

        .is-xs & {
            margin-bottom: 70px;
        }

        .svg-map {
            width: 100%;

            .is-xl & {
                width: 1510px;
                height: 874.38px;
            }
            .is-lg & {
                width: 1090px;
                height: 631.17px;
            }
            .is-md & {
                width: 870px;
                height: 503.78px;
            }
            .is-sm & {
                width: 670px;
                height: 387.97px;
            }
            .is-xs & {
                display: none;
            }
        }

        a {
            display: inline-block;
            position: absolute;
            overflow: hidden;

            color: $black;
            max-width: 60px;
            height: 60px;
            padding: 10px;
            margin-top: -10px;
            margin-left: -10px;

            -webkit-transition: color 0.2s ease-in-out, background 0.2s ease-in-out, max-width 0.2s ease-in-out;
            -ms-transition: color 0.2s ease-in-out, background 0.2s ease-in-out, max-width 0.2s ease-in-out;
            transition: color 0.2s ease-in-out, background 0.2s ease-in-out, max-width 0.2s ease-in-out;

            .is-lg & {
                height: 49px;
            }
            .is-md & {
                height: 43px;
            }
            .is-sm & {
                height: 38px;
            }
            .is-xs & {
                display: block;
                position: static;
                max-width: none;
                height: auto;
                background: $white;
                margin: 0 0 10px;
                padding: 10px 10px 5px;
            }

            &:hover {
                background: $black;
                color: $white;
                max-width: 600px;
                z-index: 1;

                polygon {
                    fill: $white;
                }

                .text {
                    opacity: 1;
                }

                .is-xs & {
                    color: $black;
                    background: $white;
                }
            }

            polygon {
                -webkit-transition: fill 0.2s ease-in-out;
                -ms-transition: fill 0.2s ease-in-out;
                transition: fill 0.2s ease-in-out;
            }

            .text {
                display: inline-block;
                padding-left: 5px;
                margin: 0;
                position: relative;
                top: -11px;
                opacity: 0;

                -webkit-transition: opacity 0.2s ease-in-out;
                -ms-transition: opacity 0.2s ease-in-out;
                transition: opacity 0.2s ease-in-out;

                .is-lg & {
                    top: -8px;
                }
                .is-md & {
                    padding-left: 4px;
                    top: -6px;
                }
                .is-sm & {
                    padding-left: 3px;
                    top: -4px;
                }
                .is-xs & {
                    opacity: 1;
                    display: block;
                    width: 100%;
                    position: static;
                    font-weight: $bold !important;
                    font-size: 1.5rem;
                }
            }

            .icon {
                .svg-logo {
                    width: 40px;
                    height: 40px;

                    .is-lg & {
                        width: 29px;
                        height: 29px;
                    }
                    .is-md & {
                        width: 23px;
                        height: 23px;
                    }
                    .is-sm & {
                        width: 18px;
                        height: 18px;
                    }
                    .is-xs & {
                        display: none;
                    }
                }
            }

            &.stage-1 {
                top: 59.6%;
                left: 25.4%;
            }
            &.stage-2 {
                top: 46.2%;
                left: 44.3%;
            }
            &.stage-3 {
                top: 55.8%;
                left: 42.6%;
            }
            &.stage-4 {
                top: 68.65%;
                left: 36.7%;

                .is-lg & {
                    top: 68.5%;
                }
                .is-md & {
                    top: 68.3%;
                }
                .is-sm & {
                    top: 68.1%;
                }
            }
            &.stage-5 {
                top: 55.8%;
                left: 51.9%;
            }
            &.stage-6 {
                top: 51.4%;
                left: 17.7%;
            }
            &.stage-7 {
                top: 59.5%;
                left: 30.5%;
            }
            &.stage-8 {
                top: 49.9%;
                left: 67.5%;
            }
            &.stage-9 {
                top: 74%;
                left: 67.5%;
            }
            &.stage-10 {
                top: 48.8%;
                left: 31.3%;
            }
            &.stage-11 {
                top: 62.2%;
                left: 40.7%;
            }
        }
    }
}
