.search-form-container {
  background: #F1F6FA;
  fieldset {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .form-group {
    margin-bottom: 20px;
  }
  .btn-group {
    float: right;
  }
  .dropdown-menu {
    label {
      width: 100%;
      display: block;
    }
  }
}


h1 {
  a {
    color: #000;
  }
  .amount {
    float: right
  }
}
.item {
  padding-top: 10px;
  padding-bottom: 10px;
  a {
    h3 {
      line-height: 100%;
    }
  }
}

.pagination {
  .more,.back {
    line-height: 34px;
  }
}