.ac_results {
	z-index: 1000;
	padding: 0px;
	border: 1px solid WindowFrame;
	background-color: Window;
	overflow: hidden;
}

.ac_results ul {
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results iframe {
	display:none;/*sorry for IE5*/
	display/**/:block;/*sorry for IE5*/
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
	filter:mask();
	width:3000px;
	height:3000px;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: pointer;
	display: block;
	font: menu;
	font-size: 11px;
	color: #6d6d6d;
	overflow: hidden;
}

.ac_loading {
	background : Window url('../../img/website/indicator.gif') right center no-repeat;
}

.ac_over {
	background-color: #eeeeee;
	color: HighlightText;
}

.ac_title {
	font-weight: normal;
	color: #666;
}

.ac_description {
	font-size:10px;
	color: #aaaaaa;
}
