{% extends "base.html" %}
{% load i18n %}

{% block extrahead %}
	{{ block.super }}
	<script type="text/javascript" src="{{ STATIC_URL }}site/js/website/generic.js"></script>
{% endblock %}

{% block title %}
	{% if not current_forum %}
		{{ container.title|escape }}
	{% else %}
		{{ current_forum.short_title|escape }}
	{% endif %}
{% endblock %}
{% block bodyclass %}forum{% endblock %}

{% block headline %}
	<h1>{{ container.title|escape }}</h1>	
    {% comment %}<!--
    {% if current_forum %}
        <h2 class="sub">
                {{ current_forum.short_title|escape }}
        </h2>
    {% endif %}
    -->{% endcomment %}
{% endblock %}	
{% block content %}
	{% block details %}
	{% endblock %}
{% endblock %}