{% extends "ccb/events/add_event_base.html" %}
{% load base_tags i18n site_specific events %}

{% block title %}{% trans "Registration" %} - {% trans "Event" %}{% endblock %}

{% block headline %}
    <h1>{% trans "Registration" %}</h1>
    <h2>{% trans "Event" %} - {% trans "Confirm Entered Data" %}</h2>
{% endblock %}

{% block details %}
    {% if form_step_data.step_main_data.venue %}
        {% load_obj events.EventType form_step_data.step_main_data.event_type as event_type %}
    {% endif %}
    {% if form_step_data.step_main_data.venue %}
        {% load_obj institutions.institution form_step_data.step_main_data.venue as venue %}
    {% endif %}

    {% if form_step_data.step_main_data.organizing_institution %}
        {% load_obj institutions.institution form_step_data.step_main_data.organizing_institution as institution %}
    {% endif %}

    <h2>{% trans "New Event" %}</h2>
    <form action="" method="post" class="uniForm">{% csrf_token %}

        <div class="fieldset not-editable">
            <fieldset>
                <h2>{% trans "main data" %}</h2>
                <dl class="input-fields">
                    <dt>{% trans "Title (German)" %}</dt>
                    <dd>
                        <div class="text-field">
                            {{ form_step_data.step_main_data.title_de }}
                        </div>
                    </dd>
                    <dd class="clearfix"></dd>

                    {% if form_step_data.step_main_data.title_en %}
                        <dt>{% trans "Title (English)" %}</dt>
                        <dd>
                            <div class="text-field">
                                {{ form_step_data.step_main_data.title_en }}
                            </div>
                        </dd>
                        <dd class="clearfix"></dd>
                    {% endif %}

                    <dt>{% trans "Event Type" %}</dt>
                    <dd>
                        <div class="text-field">
                            {{ event_type }}
                        </div>
                    </dd>
                    <dd class="clearfix"></dd>

                    <dt>{% trans "Event Times" %}</dt>
                    <dd>
                        <div class="text-field">
                            {% with form_step_data.step_main_data as form0 %}
                                {% for t in form0.sets.event_times %}
                                    {% get_date_period_formatted from t.start_yyyy t.start_mm t.start_dd to t.end_yyyy t.end_mm t.end_dd as event_period %}
                                    {{ event_period }}{% if not forloop.last %}; {% endif %}
                                {% endfor %}
                            {% endwith %}
                        </div>
                    </dd>
                    <dd class="clearfix"></dd>

                    {% if venue or form_step_data.step_main_data.venue_title %}
                        <dt>{% trans "Venue" %}</dt>
                        <dd>
                            <div class="text-field">
                                {% if venue %}
                                    <a href="{{ venue.get_url_path }}">{{ venue.get_title }}</a>
                                {% else %}
                                    {{ form_step_data.step_main_data.venue_title }}
                                {% endif %}
                            </div>
                        </dd>
                        <dd class="clearfix"></dd>
                    {% endif %}

                    <dt>{% trans "Address" %}</dt>
                    <dd>
                        <div class="text-field">
                            {% if venue %}
                                {% with venue.get_primary_contact as venue_contact %}
                                    {{ venue_contact.street_address|escape }}<br/>
                                    {% if venue_contact.street_address2 %}
                                        {{ venue_contact.street_address2|escape }}<br/>
                                    {% endif %}
                                    {{ venue_contact.postal_code|escape }} {{ venue_contact.city|escape }}<br/>
                                    {{ venue_contact.country_name }}
                                {% endwith %}
                            {% else %}
                                {{ form_step_data.step_main_data.street_address|escape }}<br/>
                                {% if form_step_data.step_main_data.street_address2 %}
                                    {{ form_step_data.step_main_data.street_address2|escape }}<br/>
                                {% endif %}
                                {{ form_step_data.step_main_data.postal_code|escape }}
                                {{ form_step_data.step_main_data.city|escape }}<br/>
                                {{ form_step_data.step_main_data.get_country_display }}
                            {% endif %}
                        </div>
                    </dd>
                    <dd class="clearfix"></dd>

                    {% if form_step_data.step_main_data.phone_number %}
                        <dt>{% trans "Phone" %}</dt>
                        <dd>
                            <div class="text-field">
                                +{% if form_step_data.step_main_data.phone_country %}
                                {{ form_step_data.step_main_data.phone_country }}{% else %}
                                49{% endif %}
                                -{{ form_step_data.step_main_data.phone_area }}-{{ form_step_data.step_main_data.phone_number }}
                            </div>
                        </dd>
                        <dd class="clearfix"></dd>
                    {% endif %}

                    {% if form_step_data.step_main_data.fax_number %}
                        <dt>{% trans "Fax" %}</dt>
                        <dd>
                            <div class="text-field">
                                +{% if form_step_data.step_main_data.fax_country %}
                                {{ form_step_data.step_main_data.fax_country }}{% else %}
                                49{% endif %}
                                -{{ form_step_data.step_main_data.fax_area }}-{{ form_step_data.step_main_data.fax_number }}
                            </div>
                        </dd>
                        <dd class="clearfix"></dd>
                    {% endif %}

                    {% if form_step_data.step_main_data.email0_address %}
                        <dt>{% trans "Email" %}</dt>
                        <dd>
                            <div class="text-field">
                                {{ form_step_data.step_main_data.email0_address }}
                            </div>
                        </dd>
                        <dd class="clearfix"></dd>
                    {% endif %}

                    {% if form_step_data.step_main_data.url0_link %}
                        <dt>{% trans "Website" %}</dt>
                        <dd>
                            <div class="text-field">
                                <a href="{{ form_step_data.step_main_data.url0_link }}">{{ form_step_data.step_main_data.url0_link }}</a>
                            </div>
                        </dd>
                        <dd class="clearfix"></dd>
                    {% endif %}

                    <dt>{% trans "Organizing institution" %}</dt>
                    <dd>
                        <div class="text-field">
                            {% ifequal form_step_data.step_main_data.organizer_ind "1" %}
                                {% if institution %}

                                    <a href="{{ institution.get_url_path }}">{{ institution.get_title }}</a>
                                    <br/>
                                    {% with institution.get_primary_contact as institution_contact %}
                                        {{ institution_contact.street_address|escape }}<br/>
                                        {% if institution_contact.street_address2 %}
                                            {{ institution_contact.street_address2|escape }}<br/>
                                        {% endif %}
                                        {{ institution_contact.postal_code|escape }}
                                        {{ institution_contact.city|escape }}<br/>
                                        {{ institution_contact.country_name }}
                                    {% endwith %}
                                {% else %}
                                    {{ form_step_data.step_main_data.organizer_title }}<br/>
                                    <a href="{{ form_step_data.step_main_data.organizer_url_link }}">{{ form_step_data.step_main_data.organizer_url_link }}</a>
                                {% endif %}
                            {% endifequal %}
                            {% ifequal form_step_data.step_main_data.organizer_ind "0" %}
                                {% trans "Organizer is venue" %}
                            {% endifequal %}
                            {% ifequal form_step_data.step_main_data.organizer_ind "2" %}
                                <a href="{{ request.user.profile.get_url_path }}">{{ request.user.profile.get_title }}</a>
                            {% endifequal %}
                        </div>
                    </dd>
                    <dd class="clearfix"></dd>
                </dl>
            </fieldset>
        </div>

        {% if form_step_data.step_event_profile.description_de or form_step_data.step_event_profile.description_en %}
            <div class="fieldset not-editable">
                <fieldset>
                    <h2>{% trans "event profile" %}</h2>
                    <dl class="input-fields">
                        {% if form_step_data.step_event_profile.description_de %}
                            <dt>{% trans "Description (German)" %}</dt>
                            <dd>
                                <div class="text-field">
                                    {{ form_step_data.step_event_profile.description_de }}
                                </div>
                            </dd>
                            <dd class="clearfix"></dd>
                        {% endif %}

                        {% if form_step_data.step_event_profile.description_en %}
                            <dt>{% trans "Description (English)" %}</dt>
                            <dd>
                                <div class="text-field">
                                    {{ form_step_data.step_event_profile.description_en }}
                                </div>
                            </dd>
                            <dd class="clearfix"></dd>
                        {% endif %}

                        <dt>{% trans "Profile photo" %}</dt>
                        <dd>
                            {% if form_step_data.step_event_profile.image %}
                                <img class="avatar"
                                    src="/{{ LANGUAGE_CODE }}/helper/tmpimage/{{ form_step_data.step_event_profile.image.tmp_filename }}/{{ LOGO_PREVIEW_SIZE }}/"
                                    alt="{{ object.get_title|escape }}"/>
                            {% else %}
                                <img class="avatar"
                                    src="{{ STATIC_URL }}site/img/placeholder/event.png"
                                    alt="{{ object.get_title|escape }}"/>
                            {% endif %}
                        </dd>
                        <dd class="clearfix"></dd>

                        {% if form_step_data.step_event_profile.photo_author %}
                            <dt>{% trans "Photo Credits" %}</dt>
                            <dd>
                                <div class="text-field">
                                    {{ form_step_data.step_event_profile.photo_author }}
                                </div>
                            </dd>
                            <dd class="clearfix"></dd>
                        {% endif %}

                    </dl>
                </fieldset>
            </div>
        {% endif %}

        {% if form_step_data.step_fees_opening_hours.fees_de or form_step_data.step_fees_opening_hours.fees_en or form_step_data.step_fees_opening_hours.mon_open or form_step_data.step_fees_opening_hours.mon_is_closed or form_step_data.step_fees_opening_hours.tue_open or form_step_data.step_fees_opening_hours.tue_is_closed or form_step_data.step_fees_opening_hours.wed_open or form_step_data.step_fees_opening_hours.wed_is_closed or form_step_data.step_fees_opening_hours.thu_open or form_step_data.step_fees_opening_hours.thu_is_closed or form_step_data.step_fees_opening_hours.fri_open or form_step_data.step_fees_opening_hours.fri_is_closed or form_step_data.step_fees_opening_hours.sat_open or form_step_data.step_fees_opening_hours.sat_is_closed or form_step_data.step_fees_opening_hours.sun_open or form_step_data.step_fees_opening_hours.sun_is_closed %}
            <div class="fieldset not-editable">
                <fieldset>
                    <h2>{% trans "fees and opening hours" %}</h2>
                    <dl class="input-fields">
                        {% if form_step_data.step_fees_opening_hours.fees_de %}
                            <dt>{% trans "Fees (German)" %}</dt>
                            <dd>
                                <div class="text-field">
                                    {{ form_step_data.step_fees_opening_hours.fees_de }}
                                </div>
                            </dd>
                            <dd class="clearfix"></dd>
                        {% endif %}

                        {% if form_step_data.step_fees_opening_hours.fees_en %}
                            <dt>{% trans "Fees (English)" %}</dt>
                            <dd>
                                <div class="text-field">
                                    {{ form_step_data.step_fees_opening_hours.fees_en }}
                                </div>
                            </dd>
                            <dd class="clearfix"></dd>
                        {% endif %}

                        {% if form_step_data.step_fees_opening_hours.mon_open or form_step_data.step_fees_opening_hours.mon_is_closed or form_step_data.step_fees_opening_hours.tue_open or form_step_data.step_fees_opening_hours.tue_is_closed or form_step_data.step_fees_opening_hours.wed_open or form_step_data.step_fees_opening_hours.wed_is_closed or form_step_data.step_fees_opening_hours.thu_open or form_step_data.step_fees_opening_hours.thu_is_closed or form_step_data.step_fees_opening_hours.fri_open or form_step_data.step_fees_opening_hours.fri_is_closed or form_step_data.step_fees_opening_hours.sat_open or form_step_data.step_fees_opening_hours.sat_is_closed or form_step_data.step_fees_opening_hours.sun_open or form_step_data.step_fees_opening_hours.sun_is_closed %}
                            <dt>{% trans "Opening Hours" %}</dt>
                            <dd>
                                {% if form_step_data.step_fees_opening_hours.mon_open or form_step_data.step_fees_opening_hours.mon_is_closed %}
                                    {% trans "Monday" %}
                                    {% if form_step_data.step_fees_opening_hours.mon_is_closed %}
                                        {% trans "closed" %}
                                    {% else %}
                                        {{ form_step_data.step_fees_opening_hours.mon_open|time:_("TIME_FORMAT") }}
                                        {% if form_step_data.step_fees_opening_hours.mon_break_close %}
                                            -
                                            {{ form_step_data.step_fees_opening_hours.mon_break_close|time:_("TIME_FORMAT") }}
                                            ,
                                            {{ form_step_data.step_fees_opening_hours.mon_break_open|time:_("TIME_FORMAT") }}
                                            -
                                            {{ form_step_data.step_fees_opening_hours.mon_close|time:_("TIME_FORMAT") }}
                                        {% else %}
                                            -
                                            {{ form_step_data.step_fees_opening_hours.mon_close|time:_("TIME_FORMAT") }}
                                        {% endif %}
                                    {% endif %}
                                    <br/>
                                {% endif %}
                                {% if form_step_data.step_fees_opening_hours.tue_open or form_step_data.step_fees_opening_hours.tue_is_closed %}
                                    {% trans "Tuesday" %}
                                    {% if form_step_data.step_fees_opening_hours.tue_is_closed %}
                                        {% trans "closed" %}
                                    {% else %}
                                        {{ form_step_data.step_fees_opening_hours.tue_open|time:_("TIME_FORMAT") }}
                                        {% if form_step_data.step_fees_opening_hours.tue_break_close %}
                                            -
                                            {{ form_step_data.step_fees_opening_hours.tue_break_close|time:_("TIME_FORMAT") }}
                                            ,
                                            {{ form_step_data.step_fees_opening_hours.tue_break_open|time:_("TIME_FORMAT") }}
                                            -
                                            {{ form_step_data.step_fees_opening_hours.tue_close|time:_("TIME_FORMAT") }}
                                        {% else %}
                                            -
                                            {{ form_step_data.step_fees_opening_hours.tue_close|time:_("TIME_FORMAT") }}
                                        {% endif %}
                                    {% endif %}
                                    <br/>
                                {% endif %}

                                {% if form_step_data.step_fees_opening_hours.wed_open or form_step_data.step_fees_opening_hours.wed_is_closed %}
                                    {% trans "Wednesday" %}
                                    {% if form_step_data.step_fees_opening_hours.wed_is_closed %}
                                        {% trans "closed" %}
                                    {% else %}
                                        {{ form_step_data.step_fees_opening_hours.wed_open|time:_("TIME_FORMAT") }}
                                        {% if form_step_data.step_fees_opening_hours.wed_break_close %}
                                            -
                                            {{ form_step_data.step_fees_opening_hours.wed_break_close|time:_("TIME_FORMAT") }}
                                            ,
                                            {{ form_step_data.step_fees_opening_hours.wed_break_open|time:_("TIME_FORMAT") }}
                                            -
                                            {{ form_step_data.step_fees_opening_hours.wed_close|time:_("TIME_FORMAT") }}
                                        {% else %}
                                            -
                                            {{ form_step_data.step_fees_opening_hours.wed_close|time:_("TIME_FORMAT") }}
                                        {% endif %}
                                    {% endif %}
                                    <br/>
                                {% endif %}

                                {% if form_step_data.step_fees_opening_hours.thu_open or form_step_data.step_fees_opening_hours.thu_is_closed %}
                                    {% trans "Thursday" %}
                                    {% if form_step_data.step_fees_opening_hours.thu_is_closed %}
                                        {% trans "closed" %}
                                    {% else %}
                                        {{ form_step_data.step_fees_opening_hours.thu_open|time:_("TIME_FORMAT") }}
                                        {% if form_step_data.step_fees_opening_hours.thu_break_close %}
                                            -
                                            {{ form_step_data.step_fees_opening_hours.thu_break_close|time:_("TIME_FORMAT") }}
                                            ,
                                            {{ form_step_data.step_fees_opening_hours.thu_break_open|time:_("TIME_FORMAT") }}
                                            -
                                            {{ form_step_data.step_fees_opening_hours.thu_close|time:_("TIME_FORMAT") }}
                                        {% else %}
                                            -
                                            {{ form_step_data.step_fees_opening_hours.thu_close|time:_("TIME_FORMAT") }}
                                        {% endif %}
                                    {% endif %}
                                    <br/>
                                {% endif %}

                                {% if form_step_data.step_fees_opening_hours.fri_open or form_step_data.step_fees_opening_hours.fri_is_closed %}
                                    {% trans "Friday" %}
                                    {% if form_step_data.step_fees_opening_hours.fri_is_closed %}
                                        {% trans "closed" %}
                                    {% else %}
                                        {{ form_step_data.step_fees_opening_hours.fri_open|time:_("TIME_FORMAT") }}
                                        {% if form_step_data.step_fees_opening_hours.fri_break_close %}
                                            -
                                            {{ form_step_data.step_fees_opening_hours.fri_break_close|time:_("TIME_FORMAT") }}
                                            ,
                                            {{ form_step_data.step_fees_opening_hours.fri_break_open|time:_("TIME_FORMAT") }}
                                            -
                                            {{ form_step_data.step_fees_opening_hours.fri_close|time:_("TIME_FORMAT") }}
                                        {% else %}
                                            -
                                            {{ form_step_data.step_fees_opening_hours.fri_close|time:_("TIME_FORMAT") }}
                                        {% endif %}
                                    {% endif %}
                                    <br/>
                                {% endif %}

                                {% if form_step_data.step_fees_opening_hours.sat_open or form_step_data.step_fees_opening_hours.sat_is_closed %}
                                    {% trans "Saturday" %}
                                    {% if form_step_data.step_fees_opening_hours.sat_is_closed %}
                                        {% trans "closed" %}
                                    {% else %}
                                        {{ form_step_data.step_fees_opening_hours.sat_open|time:_("TIME_FORMAT") }}
                                        {% if form_step_data.step_fees_opening_hours.sat_break_close %}
                                            -
                                            {{ form_step_data.step_fees_opening_hours.sat_break_close|time:_("TIME_FORMAT") }}
                                            ,
                                            {{ form_step_data.step_fees_opening_hours.sat_break_open|time:_("TIME_FORMAT") }}
                                            -
                                            {{ form_step_data.step_fees_opening_hours.sat_close|time:_("TIME_FORMAT") }}
                                        {% else %}
                                            -
                                            {{ form_step_data.step_fees_opening_hours.sat_close|time:_("TIME_FORMAT") }}
                                        {% endif %}
                                    {% endif %}
                                    <br/>
                                {% endif %}

                                {% if form_step_data.step_fees_opening_hours.sun_open or form_step_data.step_fees_opening_hours.sun_is_closed %}
                                    {% trans "Sunday" %}
                                    {% if form_step_data.step_fees_opening_hours.sun_is_closed %}
                                        {% trans "closed" %}
                                    {% else %}
                                        {{ form_step_data.step_fees_opening_hours.sun_open|time:_("TIME_FORMAT") }}
                                        {% if form_step_data.step_fees_opening_hours.sun_break_close %}
                                            -
                                            {{ form_step_data.step_fees_opening_hours.sun_break_close|time:_("TIME_FORMAT") }}
                                            ,
                                            {{ form_step_data.step_fees_opening_hours.sun_break_open|time:_("TIME_FORMAT") }}
                                            -
                                            {{ form_step_data.step_fees_opening_hours.sun_close|time:_("TIME_FORMAT") }}
                                        {% else %}
                                            -
                                            {{ form_step_data.step_fees_opening_hours.sun_close|time:_("TIME_FORMAT") }}
                                        {% endif %}
                                    {% endif %}
                                    <br/>
                                {% endif %}
                            </dd>
                            <dd class="clearfix"></dd>
                        {% endif %}
                    </dl>
                </fieldset>
            </div>
        {% endif %}

        <div class="fieldset not-editable">
            <fieldset>
                <h2>{% trans "categories" %}</h2>
                <dl class="input-fields">

                    <dt>{% trans "Categories" %}</dt>
                    <dd>
                        <div class="text-field">
                            {% for cat in form_step_data.step_categories.categories %}
                                {{ cat.title }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </div>
                    </dd>
                    {% if form_step_data.step_categories.tags %}
                        <dt>{% trans "Tags" %}</dt>
                        <dd>
                            <div class="text-field">
                                {% with form_step_data.step_categories.tags|slice:"-2:" as trailing_coma %}
                                    {% ifequal trailing_coma ", " %}
                                        {{ form_step_data.step_categories.tags|slice:"0:-2" }}
                                    {% else %}
                                        {{ form_step_data.step_categories.tags }}
                                    {% endifequal %}
                                {% endwith %}
                            </div>
                        </dd>
                    {% endif %}

                </dl>
            </fieldset>
        </div>

        {% include "utils/step_buttons_reg.html" %}
    </form>
{% endblock %}
