{% extends "base_sidebar.html" %}
{% load base_tags i18n crispy_forms_tags %}

{% block title %}{% trans "Registration" %} - {% trans "Event" %}{% endblock %}

{% block headline %}
    <h1>{% trans "Events" %}</h1>
    <h2>{% blocktrans %}Enter new event for {{ created_by }}{% endblocktrans %}</h2>
{% endblock %}

{% block sidebar %}
    {% include "utils/step_list.html" %}
{% endblock %}

{% block details %}
    {% if is_institution %}
        <p><i>{% trans 'Attention: All entries you are doing right now are going to show on your institution profile. If you want the entry to show on your person profile, please go to your person profil.' %}</i><br/><br/></p>
    {% elif is_person %}
        <p><i>{% trans 'Attention: All entries you are doing right now are going to show on your person profile. If you want the entry to show on your institution profile, please go to your institution profil or create one if you have not done so yet.' %}</i><br/><br/></p>
    {% endif %}
    {% crispy form "ccb_form" %}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="/{{ URL_ID_EVENTS }}/">{% trans "Event" %}</a></li>
    <li>{% trans "Add new event" %}</li>
{% endblock %}
