{% load i18n base_tags navigation_tags browsing favorites %}
{% with forloop.counter|default:0 as counter %}
    {% with event|get_context_item as context_item %}
        <ul class="toolbar">
            {% if request.user.is_authenticated %}
                <li class="favorites">{% adding2favorites for context_item %}</li>
                {% if request.user.is_staff %}
                    {% if perms.events.change_event %}
                        <li class="admin_edit">
                            <a href="/admin/events/event/{{ event.id }}/" onclick="open_new_window(event)"
                                title="{% trans "Edit Event" %}">
                                <span><span>{% trans "Edit Event" %}</span></span>
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
            {% else %}
                <li class="favorites login-required">
                    <a rel="nofollow" href="{% url 'login' %}?goto_next={{ request.path }}"
                        title="{% trans "Add to favorites" %}">
                        <span><span>{% trans "Add to favorites" %} ({% trans "login request" %})</span></span>
                    </a>
                </li>
            {% endif %}
            <li class="ical">
                <a href="{{ event.get_absolute_url }}{% if event_time %}{{ event_time.get_secure_id }}/{% endif %}ical/"
                    title="{% trans "Download iCalendar file" %}">
                    <span><span>{% trans "Download iCalendar file" %}</span></span></a>
            </li>
        </ul>
    {% endwith %}
{% endwith %}
