{% extends "events/event_base.html" %}
{% load events auth_extended uni_form_tags i18n infoblocks base_tags %}


{% block details %}
    {% if not object_list %}
        <p class="nothing">{% trans "No objects found within the selected conditions." %}</p>
    {% else %}
        {% if view_type == "map" %}
            <noscript>{% infoblock "js_warning" %}</noscript>
            <div id="dyn_map" class="to_show">
                <div id="gmap" style="width: 584px; height: 272px; position: relative; float: left"></div>
            </div>
        {% endif %}
        <div class="row article-list">
            {% for event in object_list %}
                {% if view_type == "icons" %}
                    {% include "events/lists/event_icons.html" %}
                {% elif view_type == "listed" %}
                    {% include "events/lists/event_listed.html" %}
                {% elif view_type == "map" %}
                    {% include "events/lists/event_mapped.html" %}
                {% endif %}
            {% endfor %}
        </div>
        {% include "utils/includes/sorting_and_pagination.html" %}
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="/">{% trans "Home" %}</a>
        {% if not show %}
            <span class="b-sep"><span>::</span></span><span>{% trans "Events" %}</span>
        {% elif show == "/memos" %}
            <span class="b-sep"><span>::</span></span>
            <a href="/{{ URL_ID_EVENTS }}/">{% trans "Events" %}</a>
            <span class="b-sep"><span>::</span></span><span>{% trans "Memos" %}</span>
        {% elif show == "/favorites" %}
            <span class="b-sep"><span>::</span></span>
            <a href="/{{ URL_ID_EVENTS }}/">{% trans "Events" %}</a>
            <span class="b-sep"><span>::</span></span><span>{% trans "Favorites" %}</span>
        {% elif show == "/own-events" %}
            <span class="b-sep"><span>::</span></span>
            <a href="/{{ URL_ID_EVENTS }}/">{% trans "Events" %}</a>
            <span class="b-sep"><span>::</span></span><span>{% trans "Own events" %}</span>
        {% endif %}
    </div>
{% endblock %}

