{% extends base_template|default:"base.html" %}
{% load i18n base_tags auth_extended navigation_tags babel %}

{% block extrahead %}
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/website/generic.js"></script>
{% endblock %}


{% block title %}{% trans "Events" %}{% endblock %}

{% block headline %}
    <h1>{% trans "Events" %}</h1>
{% endblock %}

{% block content %}
    <div class="list">

        {% if object_list %}
            {% include_parsed "utils/includes/sorting_and_pagination.html" with "under-tabs" as css_class %}
            {% include "utils/abc_filters.html" %}
            <div id="object_list">
                {% for context_item in object_list %}
                    {% include_parsed "events/lists/event.html" with context_item.content_object as event and "vevent" as extra_css_classes %}
                {% endfor %}
            </div>
            {% include "utils/includes/sorting_and_pagination.html" %}
        {% else %}
            <p class="nothing">{% trans "No objects found within the selected conditions." %}</p>
        {% endif %}
        <div class="cleaner"></div>
    </div>
{% endblock %}


{% block extrabody %}
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/website/listing.js"></script>
{% endblock %}
