{% extends "events/event_base.html" %}
{% load events auth_extended uni_form_tags i18n infoblocks base_tags crispy_forms_tags %}

{% block sidebar %}
    {% crispy form "ccb_form" %}
{% endblock %}

{% block details %}
    {% if not object_list %}
        <p>{% trans "No objects found within the selected conditions." %}</p>
    {% else %}
        {% if view_type == "map" %}
            <div id="dyn_map" class="to_show">
                <div id="gmap" style="width: 584px; height: 272px; position: relative; float: left"></div>
            </div>
        {% endif %}
                    
        <div class="row event-list">
            {% include "utils/includes/sorting.html" %}
            {% for event in object_list %}
                {% with event_time=event.get_nearest_occurrence %}
                    {% ifchanged event_time.closest_start|date:'D, d. m. Y' %}
                        <h2 class="date">{{ event_time.closest_start|date:'D, d. m. Y' }}</h2>
                    {% endifchanged %}
                {% endwith %}
                {% if view_type == "icons" %}
                    {% include "events/lists/event_icons.html" %}
                {% elif view_type == "listed" %}
                    {% include "events/lists/event_listed.html" %}
                {% elif view_type == "map" %}
                    {% include "events/lists/event_mapped.html" %}
                {% endif %}
            {% endfor %}
        </div>
        
        {% include "utils/includes/pagination.html" %}
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    {% if not show %}
        <li>{% trans "Events" %}</li>
    {% elif show == "/favorites" %}
        <li><a href="/{{ URL_ID_EVENTS }}/">{% trans "Events" %}</a></li>
        <li>{% trans "Favorites" %}</li>
    {% elif show == "/own-events" %}
        <li><a href="/{{ URL_ID_EVENTS }}/">{% trans "Events" %}</a></li>
        <li>{% trans "Own events" %}</li>
    {% endif %}
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/event-list.js"></script>
{% endblock %}

{% block javascript_old %}
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/website/generic.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/ui.datepicker-de.js"></script>
    {% if view_type == "map" %}
        <script type="text/javascript"
            src="http://maps.google.com/maps/api/js?language={{ LANGUAGE_CODE }}&amp;region=DE"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}site/js/website/styledinfowindow.js"></script>
    {% endif %}
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/website/listing.js"></script>
    {% if view_type == "map" %}
        <script type="text/javascript" src="{{ STATIC_URL }}site/js/website/listing_map.js"></script>
    {% endif %}
{% endblock %}
