{% extends "base.html" %}
{% load base_tags i18n %}

{% block extrahead %}
    <meta name="ROBOTS" content="NOINDEX, FOLLOW"/>
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/urlify.js"></script>
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet"
          type="text/css"
          media="screen"
          href="{{ STATIC_URL }}site/css/website/gwenn_forms-front.css"/>
{% endblock %}

{% block title %}{% trans "Accept Invitation" %}{% endblock %}

{% block headline %}
    <h2 class="main">{% trans "Accept Invitation" %}</h2>
    <h2 class="sub">{{ object.get_title }}</h2>
{% endblock %}

{% block sidebar-a %}
{% endblock %}

{% block sidebar-b %}
{% endblock %}

{% block content %}
    <div class="field_info">
        <form action="" method="post">
            <fieldset>
                <legend>
                    {% trans "Invitation" %}
                </legend>
                <p>
                    {% blocktrans with inviter.get_title as inviter_title %}You have been invited to the confirmed contacts of {{ inviter_title }}.{% endblocktrans %}</p>
                <ul>
                    <li>
                        <label for="id_accept_inviter">
                            {% blocktrans with inviter.get_title as inviter_title %}Add {{ inviter_title }} to your confirmed contacts.{% endblocktrans %}</label>
                        {{ form.accept_inviter }} {{ form.accept_inviter.error_tag }}
                    </li>
                </ul>
            </fieldset>
            <fieldset>
                <legend>
                    {% trans "Basic Personal Info" %}
                </legend>
                <ul>
                    <li>
                        <label for="id_prefix">
                            <strong>{{ form.prefix.label }}* / {{ form.first_name.label }}*</strong>
                        </label>
                        {{ form.prefix }} {{ form.first_name }} {{ form.prefix.error_tag }}
                    </li>
                    <li>
                        {{ form.last_name.label_tag }} {{ form.last_name }} {{ form.last_name.error_tag }}
                    </li>
                    <li>
                        {{ form.birthday_yyyy.label_tag }} {{ form.birthday_dd }} {{ form.birthday_mm }} {{ form.birthday_yyyy }} {{ form.birthday_dd.error_tag }} {{ form.birthday_mm.error_tag }} {{ form.birthday_yyyy.error_tag }}
                    </li>
                    <li>
                        {{ form.individual_type.label_tag }} {{ form.individual_type }} {{ form.individual_type.error_tag }}
                    </li>
                    <li>
                        <label for="id_occupation">
                            {% trans "Position in the Company" %}:
                        </label>
                        {{ form.occupation }} {{ form.occupation.error_tag }}
                    </li>
                </ul>
            </fieldset>
            <fieldset>
                <legend>
                    {% trans "Login Data" %}
                </legend>
                <ul>
                    <li>
                        <label for="id_login_email">
                            <strong>
                                {{ form.login_email.label }} ({% trans "Administrator" %})* </strong>
                        </label>
                        {{ form.login_email }} {{ form.login_email.error_tag }}
                    </li>
                    <li>
                        {{ form.login_email_confirm.label_tag }} {{ form.login_email_confirm }}
                        <span class="helptext">{{ form.login_email_confirm.help_text }}</span> {{ form.login_email_confirm.error_tag }}
                    </li>
                    <li>
                        {{ form.password.label_tag }} {{ form.password }} {{ form.password.error_tag }}
                    </li>
                    <li>
                        {{ form.password_confirm.label_tag }} {{ form.password_confirm }} {{ form.password_confirm.error_tag }}
                    </li>
                    <li>
                        {{ form.username.label_tag }} {{ form.username }} {{ form.username.error_tag }}
                    </li>
                </ul>
            </fieldset>

            <fieldset>
                <legend>{% trans "Phone" %}</legend>
                <ul>
                    {% spaceless %}
                        <li>
                            <label for="id_phone_number"
                                   class="label_with_labelspan">                  {% trans "Phone" %}</label>
                            <span>{% trans "Country Code" %}
                                <br/>{% trans "without" %} "00"
                        <span class="phone_label">
                            {{ form.phone_country }}
                            {{ form.phone_country.error_tag }}
                        </span>
                    </span> <span>{% trans "Area Code" %}
                            <br/>{% trans "without" %} "0"
                        <span class="phone_label">
                            {{ form.phone_area }}
                            {{ form.phone_area.error_tag }}
                        </span>
                    </span> <span>{% trans "Number" %}
                            <br/>{% trans "with direct dial" %}
                        <span class="phone_label">
                            {{ form.phone_number }}
                            {{ form.phone_number.error_tag }}
                        </span>
                    </span>
                        </li>
                        <li>
                            <label for="id_fax_number">{% trans "Fax" %}</label>
                            {{ form.fax_country }} {{ form.fax_country.error_tag }} {{ form.fax_area }} {{ form.fax_area.error_tag }} {{ form.fax_number }} {{ form.fax_number.error_tag }}
                        </li>
                        <li>
                            <label for="id_mobile_number">{% trans "Mobile" %}</label>
                            {{ form.mobile_country }} {{ form.mobile_country.error_tag }} {{ form.mobile_area }} {{ form.mobile_area.error_tag }} {{ form.mobile_number }} {{ form.mobile_number.error_tag }}
                        </li>
                    {% endspaceless %}
                </ul>
            </fieldset>

            <fieldset class="fieldset_end">
                <legend>
                    {% trans "Confirmation" %}
                </legend>
                <ul>
                    <li class="mentions">
                        {{ form.privacy_policy }}
                        <label for="id_privacy_policy">
                            {% if form.privacy_policy.required %}<strong>{% endif %}
                            {% blocktrans %}I accept
                                <a href="/privacy/">the privacy policy</a>.{% endblocktrans %}
                            {% if form.privacy_policy.required %}*</strong>{% endif %}
                        </label>
                        {{ form.privacy_policy.error_tag }}
                    </li>
                    <li class="mentions">
                        {{ form.terms_of_use }}
                        <label for="id_terms_of_use">
                            {% if form.terms_of_use.required %}<strong>{% endif %}
                            {% blocktrans %}I accept
                                <a href="/terms-of-use/">the terms of use</a>.{% endblocktrans %}
                            {% if form.terms_of_use.required %}*</strong>{% endif %}
                        </label>
                        {{ form.terms_of_use.error_tag }}
                    </li>
                </ul>
            </fieldset>
            <div class="buttons">
                <input class="button_bad"
                       type="submit"
                       name="deny_invitation"
                       value="{% filter upper %}{% trans 'Deny' %}{% endfilter %}"/>
                <input class="button_good"
                       type="submit"
                       id="post"
                       name="accept_invitation"
                       value='{% filter upper %}{% trans "Accept" %}{% endfilter %}'/>
            </div>
        </form>
    </div>
{% endblock %}

