{% load i18n uni_form_tags uni_form_field %}
<form action="" method="post" class="uniForm">{% csrf_token %}
    <fieldset class="inlineLabels">
        <h3>{% trans "Claim" %}</h3>
        {{ form.name|as_uni_field }}
        {{ form.email|as_uni_field }}

        {% include "uni_form/includes/phone.html" %}

        {{ form.best_time_to_call|as_uni_field }}
        {{ form.role|as_uni_field }}

        <h3>{% trans "comment" %}</h3>
        {{ form.comments|as_uni_field }}

        <div class="buttonHolder">
            <input type="submit" class="primaryAction" value="{% filter upper %}{% trans "Send" %}{% endfilter %}"/>
        </div>
    </fieldset>
</form>

