{% load i18n base_tags %}
{% for context_item in object_list %}
    {% if context_item.is_person %}
        {% include_parsed "people/lists/person.html" with context_item.content_object as person %}
    {% endif %}
    {% if context_item.is_institution %}
        {% include_parsed "institutions/lists/institution.html" with context_item.content_object as institution %}
    {% endif %}
    {% if context_item.is_event %}
        {% include_parsed "events/lists/event.html" with context_item.content_object as event %}
    {% endif %}
    {% if context_item.is_document %}
        {% include_parsed "resources/lists/document.html" with context_item.content_object as document %}
    {% endif %}
    {% if context_item.is_persongroup %}
        {% include_parsed "groups_networks/lists/persongroup.html" with context_item.content_object as persongroup %}
    {% endif %}
{% endfor %}
