{% extends "base.html" %}
{% load base_tags blog babel i18n auth_extended articles_tags infoblocks configurable_blocks site_specific %}

{% block headline %}
    <h1>
        {{ creative_sector.get_title|escape }}
    </h1>
    <h2 class="sub">
        Creative City Berlin
    </h2>
{% endblock %}

{% block title %}
    {% if type %}
        {{ type.get_title|escape }}
    {% else %}
        {% if creative_sector %}
            {{ creative_sector.get_title|escape }}
        {% else %}
            {% trans "Welcome" %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="news-head">
        {% ifequal creative_sector.sysname "advertising_and_pr" %}
            {% infoblock "intro_advertising_and_pr" using "blocks/desc_index.html" %}
        {% endifequal %}

        {% ifequal creative_sector.sysname "architecture" %}
            {% infoblock "intro_architecture" using "blocks/desc_index.html" %}
        {% endifequal %}

        {% ifequal creative_sector.sysname "art" %}
            {% infoblock "intro_art" using "blocks/desc_index.html" %}
        {% endifequal %}

        {% ifequal creative_sector.sysname "design" %}
            {% infoblock "intro_design" using "blocks/desc_index.html" %}
        {% endifequal %}

        {% ifequal creative_sector.sysname "fashion_and_textile" %}
            {% infoblock "intro_fashion_and_textile" using "blocks/desc_index.html" %}
        {% endifequal %}

        {% ifequal creative_sector.sysname "film_and_broadcast" %}
            {% infoblock "intro_film_and_broadcast" using "blocks/desc_index.html" %}
        {% endifequal %}

        {% ifequal creative_sector.sysname "games_and_interactive" %}
            {% infoblock "intro_games_and_interactive_ccb" using "blocks/desc_index.html" %}
        {% endifequal %}

        {% ifequal creative_sector.sysname "literature_and_publishing" %}
            {% infoblock "intro_literature_and_publishing" using "blocks/desc_index.html" %}
        {% endifequal %}

        {% ifequal creative_sector.sysname "music" %}
            {% infoblock "intro_music" using "blocks/desc_index.html" %}
        {% endifequal %}

        {% ifequal creative_sector.sysname "photography" %}
            {% infoblock "intro_photography" using "blocks/desc_index.html" %}
        {% endifequal %}

        {% ifequal creative_sector.sysname "theatre_and_dance" %}
            {% infoblock "intro_theatre_and_dance" using "blocks/desc_index.html" %}
        {% endifequal %}

        {% ifequal creative_sector.sysname "events" %}
            {% infoblock "intro_events" using "blocks/desc_index.html" %}
        {% endifequal %}
    </div>
    <hr/>
{% endblock %}

