@font-face {
    font-family: 'DingRegular';
    src: url('ding-regular.eot');
    src: url('ding-regular.eot') format('embedded-opentype'),
         url('ding-regular.woff') format('woff'),
         url('ding-regular.ttf') format('truetype'),
         url('ding-regular.svg#DingRegular') format('svg');
}
