{% extends "base_redesign.html" %}
{% load i18n base_tags auth_extended image_mods_tags navigation_tags browsing favorites individual_relations activity_tags cms_tags %}

{% block title %}
    {% ifequal request.user object.user %}
        {% trans "My Profile" %}
    {% else %}
        {{ object.get_title|escape }}
    {% endifequal %}
{% endblock %}

{% block meta_tags %}
    {{ block.super }}
    <meta name="description" content="{{ object.get_description|striptags|truncatewords:100 }}..."/>
{% endblock %}


{% block content %}
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>
                        {% ifequal request.user object.user %}
                            {% trans "My Profile" %}
                        {% else %}
                            <a href="{% page_url request.current_page %}">
                                {% page_attribute "page_title" request.current_page %}
                            </a>
                        {% endifequal %}
                    </h1>
                    <div class="profile">
                    
                        <div class="edit-avatar avatar-edit-frame">
                            <a href="javascript:void(0);" data-edit-url="{% url 'edit_profile' object_type='person' slug=object.slug %}avatar/" class="fawesome fa-edit small edit-image-link"></a>
                            {% if object.image %}
                                <a id="profile-image-link-header" href="{% cropping_url object.image.path "profile" request object.get_url_path %}" class="fawesome fa-crop small recrop-link"></a>
                                <img id="profile-image-header" src="{{ UPLOADS_URL }}{{ object.image|modified_path:"profile" }}{% if object.is_editable %}?now={% now "YmdHis" %}{% endif %}" alt="{{ object.get_title|escape }}"/>
                            {% else %}
                                <img id="profile-image-header" src="{{ STATIC_URL }}site/img/placeholder/profile.png" alt="{{ object.get_title|escape }}"/>
                            {% endif %}
                        </div>
    
                        <div class="content">
                            <h2>{{ object.get_title|escape }}</h2>
                            <h3>{{ object.occupation }}</h3>
                            <div class="buttons">
                                
                            {% ifequal request.user object.user %}
                                {% navigation_links "menu_activities" %}
                            {% else %}
                                {% if request.user.is_authenticated %}
                        
                                    <a rel="nofollow" class="fawesome fa-more button text switch{% if request.user|is_following:object.user %} on{% endif %}" href="{% follow_all_url object.user %}?next={{ request.path }}"><span class="text">
                                        {% if request.user|is_following:object.user %}
                                            {% trans "Unfollow" %}
                                        {% else %}
                                            {% trans "Follow" %}
                                        {% endif %}
                                    </span></a>
                                    {% if object.is_contactable %}<a href="{{ object.get_url_path }}message/" class="fawesome fa-email button text"><span class="text">{% trans "Send Email" %}</span></a>{% endif %}
                                    {% if request.user.is_staff and perms.people.change_person %}
                                        <a href="/admin/people/person/{{ object.id }}/" class="fawesome fa-edit button text" target="_blank"><span class="text">{% trans "Edit Person" %}</span></a>
                                    {% endif %}
                            
                                {% else %}
                        
                                    <a rel="nofollow" class="fawesome fa-more button text switch" href="{% url 'login' %}?goto_next={% follow_all_url object.user %}%3Fnext%3D{{ request.path }}"><span class="text">{% trans "Follow" %}</span></a>
                                    {% if object.is_contactable %}
                                        <a rel="nofollow" href="{% url 'login' %}?goto_next={{ object.get_url_path }}message/" class="fawesome fa-email button text"><span class="text">{% trans "Send Email" %}</span></a>
                                    {% endif %}
                            
                                {% endif %}
                            {% endifequal %}
    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu tabs">
            <div class="container">
                <div class="row">
                    <div class="hidden-xs col-sm-4 col-md-3 headline">
                        <h2>{% ifequal request.user object.user %}{% trans "My Profile" %}{% else %}{% trans "Person" %}{% endifequal %}</h2>
                    </div>
                    <div class="navi">
                        <nav>
                            <ul>
                                {% navigation_links "member" using "navigation/includes/navigation_links_in_tabs.html" %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="profile-image">
                    
                        <div class="edit-avatar avatar-edit-frame">
                            <a href="javascript:void(0);" data-edit-url="{% url 'edit_profile' object_type='person' slug=object.slug %}avatar/" class="fawesome fa-edit edit-image-link"></a>
                            {% if object.image %}
                                <a id="profile-image-link-sidebar" href="{% cropping_url object.image.path "profile" request object.get_url_path %}" class="fawesome fa-crop recrop-link"></a>
                                <img id="profile-image-sidebar" src="{{ UPLOADS_URL }}{{ object.image|modified_path:"profile" }}{% if_has_perm "people.change_person" object %}?now={% now "YmdHis" %}{% end_if_has_perm %}" alt="{{ object.get_title|escape }}"/>
                            {% else %}
                                <img id="profile-image-sidebar" src="{{ STATIC_URL }}site/img/placeholder/profile.png" alt="{{ object.get_title|escape }}"/>
                            {% endif %}
                        </div>

                    {% ifequal request.user object.user %}
                    
                        {% navigation_links "menu_activities" %}

                    {% else %}
                        {% if request.user.is_authenticated %}
                        
                            <a rel="nofollow" class="fawesome fa-more button text switch{% if request.user|is_following:object.user %} on{% endif %}" href="{% follow_all_url object.user %}?next={{ request.path }}"><span class="text">
                                {% if request.user|is_following:object.user %}
                                    {% trans "Unfollow" %}
                                {% else %}
                                    {% trans "Follow" %}
                                {% endif %}
                            </span></a>
                            {% if object.is_contactable %}<a href="{{ object.get_url_path }}message/" class="fawesome fa-email button text"><span class="text">{% trans "Send Email" %}</span></a>{% endif %}
                            {% if request.user.is_staff and perms.people.change_person %}
                                <a href="/admin/people/person/{{ object.id }}/" class="fawesome fa-edit button text" target="_blank"><span class="text">{% trans "Edit Person" %}</span></a>
                            {% endif %}
                            
                        {% else %}
                        
                            <a rel="nofollow" class="fawesome fa-more button text switch" href="{% url 'login' %}?goto_next={% follow_all_url object.user %}%3Fnext%3D{{ request.path }}"><span class="text">{% trans "Follow" %}</span></a>
                            {% if object.is_contactable %}
                                <a rel="nofollow" href="{% url 'login' %}?goto_next={{ object.get_url_path }}message/" class="fawesome fa-email button text"><span class="text">{% trans "Send Email" %}</span></a>
                            {% endif %}
                            
                        {% endif %}
                    {% endifequal %}
    
                </div>
                
                
                
                {% block sidebar %}
                {% endblock %}
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9">
                {% block details %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}


{% block breadcrumbs %}
    <li><a href="{% url 'member_list_global' %}">{% page_attribute "page_title" %}</a></li>
    <li><a href="{{ object.get_url_path }}">{{ object.get_title }}</a></li>
    {% block breadcrumbs_details %}
    {% endblock %}
{% endblock %}
