{% extends base_template|default:"people/details_base.html" %}
{% load i18n base_tags navigation_tags auth_extended %}

{% block details %}
    {% include "site_specific/count_of.html" %}
    <div class="network_details">
        <div class="person">
            {% if object_list %}

                {% include "utils/includes/sorting_and_pagination.html" %}

                <div id="object_list">
                    {% for person in object_list %}
                        {% include_parsed "people/lists/person.html" with "vcard" as extra_css_classes %}
                    {% endfor %}
                </div>

                {% include "utils/includes/sorting_and_pagination.html" %}

            {% else %}
                <p class="nothing">{% trans "No objects found within the selected conditions." %}</p>
            {% endif %}
            <div class="cleaner"></div>
        </div>
    </div>
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="/">{% trans "Home" %}</a>
        <span class="b-sep"><span>::</span></span>
        <a href="{{ object.get_url_path }}network/">{% trans "Network" %}</a>
        <span class="b-sep"><span>::</span></span>
        <a class="active" href="#">{% trans "Contacts to Persons" %}</a>
    </div>
{% endblock %}

{% block extrabody %}
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/website/listing.js"></script>
{% endblock %}
