{% extends "people/details_base.html" %}
{% load i18n base_tags auth_extended compressed cms_tags %}

{% block open_graph %}
    <meta property="og:title" content="{{ object.get_title }}"/>
    <meta property="og:type" content="public_figure"/>
    {% if object.image %}
        <meta property="og:image" content="{{ website_url|slice:":-1" }}{{ UPLOADS_URL }}{{ object.image.path }}"/>
    {% else %}
        <meta property="og:image" content="{{ website_url|slice:":-1" }}{{ STATIC_URL }}site/img/default/ccb_logo.gif"/>
    {% endif %}
    <meta property="og:url" content="{{ object.get_url }}"/>
    <meta property="og:site_name" content="{{ site_settings.site.name }}"/>
    <meta property="og:description" content="{{ object.description|striptags|truncatewords:20|escape }}"/>
{% endblock %}

{% block details %}

    {% if object.is_editable %}
        <div id="avatar-edit-frame" class="edit-iframe"></div>
    {% endif %}

    {% include "people/profile/identity.html" %}
    
    {% include "people/profile/contact.html" %}
        
    {% include "people/profile/description.html" %}
    
    {% include "people/profile/details.html" %}
    
    {% include "people/profile/categories.html" %}
    
{% endblock %}


{% block breadcrumbs %}
    <li><a href="{% url 'member_list_global' %}">{% page_attribute "page_title" %}</a></li>
    <li>{{ object.get_title }}</li>
    </div>
{% endblock %}
