{% extends "base_sidebar.html" %}
{% load i18n base_tags crispy_forms_tags %}

{% block title %}
    {% trans "Notification Settings" %}
{% endblock %}

{% block extra_head %}
    <link rel="alternate" type="application/atom+xml" title="Notices Feed"
        href="{% url 'notification_feed_for_user' %}"/>
{% endblock %}

{% block headline %}
    <h1>{% trans "Notification Settings" %}</h1>
{% endblock %}

{% block sidebar %}
    {% comment %}
        {% include "site_specific/blocks/sidebar_settings.html" %}
    {% endcomment %}
{% endblock %}

{% block details %}
    <div>
        <p class="disclaimer">
            {% blocktrans with user.email as email %}The chosen notices will be sent to {{ email }}
                .{% endblocktrans %}
        </p>
        {% if user.is_staff %}
            <p class="disclaimer">{% blocktrans %}Settings marked with "(Staff)" are only visible to staff
                members.{% endblocktrans %}</p>
        {% endif %}
    </div>

    {% crispy form "ccb_form" %}
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url "dashboard" %}">{% trans "My Profile" %}</a></li>
    <li>{% trans "Notification Settings" %}</li>
{% endblock %}
