{% extends "base.html" %}

{% load i18n babel %}

{% block head_title %}{% trans "Notices" %}{% endblock %}

{% block extra_head %}
    <link rel="alternate" type="application/atom+xml" title="Notices Feed"
        href="{% url 'notification_feed_for_user' %}"/>
{% endblock %}

{% block title %}{% trans "Notices" %}{% endblock %}

{% block headline %}
    <h1>{% trans "Notices" %}</h1>
{% endblock %}

{% block content %}
    {% if notice.is_unseen %}
        <div class="unseen_notice">
    {% else %}
        <div class="notice">
    {% endif %}
<span class="notice_type">{% trans notice.notice_type.get_display %}</span>
<span class="notice_message">{{ notice.message|safe }}</span>
<span class="notice_time">{{ notice.added|datetimefmt }}</span>
</div>

{% endblock %}
