{% extends "admin/base_site.html" %}

<!-- LOADING -->
{% load i18n admin_modify staticfiles grp_tags %}
{% load static %}

<!-- STYLESHEETS -->
{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ jetson_media_url }}css/admin/MultilingualFieldHelper.css" />
    <style type="text/css">
    #id_target {
        height: 300px;
    }
    </style>
{% endblock %}

<!-- JAVASCRIPTS -->
{% block javascripts %}
    {{ block.super }}
    {% url admin:jsi18n as jsi18nurl %}
    
    <script type="text/javascript" src="{{ JQUERY_URL }}"></script>
    <script type="text/javascript" src="{{ JQUERY_UI_URL }}"></script>

    <script type="text/javascript" src="{{ jsi18nurl|default:'../../../jsi18n/' }}"></script>

    {{ media }}
    
{% endblock %}

<!-- COLTYPE/BODYCLASS -->
{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}
{% block content-class %}content-flexible{% endblock %}

<!-- BREADCRUMBS -->
{% block breadcrumbs %}
    {% if not is_popup %}
        <div id="breadcrumbs">
             <a href="../../../">{% trans "Home" %}</a> &rsaquo;
             <a href="../../">{% trans app_label|capfirst|escape %}</a> &rsaquo;
             {% if has_change_permission %}<a href="../">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %} &rsaquo; 
             {% blocktrans %}Move {{ object }}{% endblocktrans %}
        </div>
    {% endif %}
{% endblock %}

<!-- CONTENT -->
{% block content %}
    <div class="container-flexible">
        <div class="form-container">
            <form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form">{% csrf_token %} 
                <div>
                    <!-- Errors -->
                    {% if errors %}
                        <p class="errornote">{% blocktrans count errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}</p>
                        <ul class="errorlist">{% for error in form.non_field_errors %}<li>{{ error }}</li>{% endfor %}</ul>
                    {% endif %}
                    
                    <!-- Fieldsets -->
                    <fieldset class="module">
                        <div class="row cells-1">
                            <div class="column span-4">{{ form.target.label_tag }}</div>
                            <div class="column span-flexible">
                                {{ form.target }}
                            </div>
                        </div>
                        <div class="row cells-1">
                            <div class="column span-4">{{ form.position.label_tag }}</div>
                            <div class="column span-flexible">
                                {{ form.position }}
                            </div>
                        </div>
                    </fieldset>
                    
                    <div class="module footer">
                        <ul class="submit-row">
                            <li class="submit-button-container"><input type="submit" value="{% trans 'Move' %}" class="default" name="_save" {{ onclick_attrib }}/></li>
                        </ul><br clear="all" />
                    </div>
                    
                </div>
            </form>
        </div>
    </div>
{% endblock %}
