{% load base_tags i18n sekizai_tags %}

{% now "uuuu" as microseconds %}

<script nonce="{{ microseconds|to_base64 }}">
    var translatable_file_uploader_options = {
        template: '<div class="qq-uploader">' +
            '<div class="qq-upload-drop-area"><span>{% trans "Drop file here" %}</span></div>' +
            '<div class="qq-upload-button btn btn-primary">{% trans "Upload file" %}</div>' +
            '<ul class="qq-upload-list"></ul>' +
            '</div>',
        // template for one item in file list
        fileTemplate: '<li>' +
            '<span class="qq-upload-file"></span>' +
            '<span class="qq-upload-spinner"></span>' +
            '<span class="qq-upload-size"></span>' +
            '<a class="qq-upload-cancel" href="#">{% trans "Cancel" %}</a>' +
            '<span class="qq-upload-failed-text">{% trans "Failed" %}</span>' +
            '</li>',
        messages: {
            typeError: '{% trans "{file} has invalid extension. Only {extensions} are allowed." %}',
            sizeError: '{% trans "{file} is too large, maximum file size is {sizeLimit}." %}',
            minSizeError: '{% trans "{file} is too small, minimum file size is {minSizeLimit}." %}',
            emptyError: '{% trans "{file} is empty, please select files again without it." %}',
            filesLimitError: '{% trans "No more than {filesLimit} files are allowed to be uploaded." %}',
            onLeave: '{% trans "The files are being uploaded, if you leave now the upload will be cancelled." %}'
        }
    };
</script>

{% add_data "script_nonces" microseconds|to_base64 %}

<script src="{{ STATIC_URL }}site/js/gallery_form.min.js"></script>

{% now "uuuu" as microseconds %}
<script nonce="{{ microseconds|to_base64 }}">
    $(".qq-uploader").click(function () {
        $(".qq-upload-button input").click()
    });
</script>

{% add_data "script_nonces" microseconds|to_base64 %}
