{% extends "base.html" %}
{% load cms_tags menu_tags %}
{% block bodyclass %}magazine{% endblock %}

{% block content %}
<div class="content clearfix">
  <div class="inner clearfix">
    <header class="intro clearfix">{% placeholder "intro" %}</header>
  </div>
</div>
<div class="content clearfix">
  <div class="inner clearfix">
    <article class="clearfix"> 
      {% placeholder "main_content" %} 
      <aside>{% placeholder "footnotes" %}</aside> 

    </article>
    <section class="clearfix marginal"> {% placeholder "series_items_featured" inherit %} </section>
  </div>
</div>
<div class="content clearfix">
  <div class="inner clearfix">
    <section class="clearfix nonfeatured">{% placeholder "series_items" inherit %}</section>
  </div>
</div>
{% endblock %}
<!-- 
    <section class="">
      <ul id="sub_menu">
              {% show_menu_below_id "series" 0 100 100 100 "menu/side_menu.html" %}
      </ul>
    </article> -->


<h2></h2>
<p></p>