{% extends "base.html" %}
{% load cms_tags %}
{% block bodyclass %}magazine_overview{% endblock %}

{% block content %}
<div class="content">
	<div class="container">
		{% placeholder "intro" %}
		<div class="row isotope-clear">
			{% with "cms/plugins/editorial_content/ec_magazine_firstlevel_item.html" as editorial_content_template %}
				{% placeholder "magazine_overview" %}
				{% placeholder "main_content" %}
				{% placeholder "marginal_content" %}
			{% endwith %}
		</div>
	</div>
</div>
{% endblock %}
