{% extends "base.html" %}
{% load cms_tags menu_tags %}
{% block bodyclass %}magazine_series{% endblock %}

{% block content %}

<div class="content clearfix">
  <div class="inner">
      <header class="intro clearfix">{% placeholder "intro" %}</header>
  </div>
</div>   

<div class="content clearfix">
  <div class="inner">
    <article class="clearfix">
      <section class="clearfix featured">{% placeholder "series_items_featured" %}</section>
    </article>
  </div>
</div>   

<div class="content clearfix">
  <div class="inner">
    <article class="clearfix">
      <section class="clearfix nonfeatured">{% placeholder "series_items" %} </section>
    </article>
  </div>
</div>

{% show_menu_below_id "series" 0 100 100 100 "menu/side_menu.html" %}

{% endblock %}