{% extends "cms/museumssummer_base.html" %}
{% load cms_tags i18n %}

{% block content %}
	<div class="content">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					{% placeholder "intro" %}
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
					{% placeholder "main_content" %}
				</div>
				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
					<a href="{% page_url "museumssommer_quiz" %}"><img src="{{ STATIC_URL }}site/img/museumssummer_quiz.png" class="img-responsive" /></a>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
					<h2>{% trans "Here you can see all museums at a glance" %}</h2>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
					<a href="{% url "location_list_map" %}"><img src="{{ STATIC_URL }}site/img/museumssummer_map.png" class="img-responsive" /></a>
				</div>
			</div>
			<div class="row{% if not request.toolbar.edit_mode %} isotope{% endif %}">
				{% with "cms/plugins/editorial_content/ec_magazine_firstlevel_item.html" as editorial_content_template %}
					{% placeholder "magazine_overview" %}
					{% placeholder "marginal_content" %}
				{% endwith %}
			</div>
		</div>
	</div>
{% endblock %}