{% extends "cms/museumssummer_base.html" %}
{% load cms_tags menu_tags i18n %}
{% block bodyclass %}magazine-thirdlevel{% endblock %}

{% block content %}
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
          <div class="magazine-detail-intro">
            {% placeholder "intro" %}  
          </div>
          <div class="magazine-detail-main">
            {% placeholder "main_content" %}
          </div>
          <div  class="magazine-detail-buttons">
            <a class="btn btn-info btn-lg" href='..'>{% trans "To the Series" %}</a>
            <a class="btn btn-info btn-lg" href='../..'>{% trans "To the Magazin" %}</a>
          </div>
        </div>
        <div class="hidden-xs hidden-sm col-md-4 col-lg-4">
          {% placeholder "marginal_content" %}
          <ul id="side_nav">{% show_menu_below_id "magazin" 0 100 0 100 "menu/side_menu.html" %}</ul>
        </div>
      </div>
    </div>
  </div>          

  {% with "cms/plugins/editorial_content/ec_magazine_thirdlevel_item.html" as editorial_content_template %}
    <div class="content">
      <div class="container">
        <h2>{% trans "Additional Contents" %}</h2>

        <div class="row row-sm{% if not request.toolbar.edit_mode %} isotope{% endif %}">
          {% placeholder "series_items_featured" inherit %}
          {% placeholder "series_items" inherit %} 
        </div>
      </div>
    </div>
  {% endwith %}

{% endblock %}