{% extends "base.html" %}
{% load cms_tags %}
{% block bodyclass %}plan_organize_overview firstlevel{% endblock %}

{% block content %}
<div class="content clearfix">
  <div class="inner">
    <header class="intro clearfix">{% placeholder "intro" %}</header>
  </div>
</div>

<div class="content clearfix">
  <div class="inner">
    <article>
      <section class="clearfix">
        {% placeholder "plan_organize_first" %}
        {% placeholder "main_content" %}</section>
    </article>
  </div>
</div>
{% endblock %}