{% extends "base.html" %}
{% load cms_tags menu_tags infoblocks %}
{% block bodyclass %}feature-background-themenjahr2013{% endblock %}

{% block content %}
	<div class="marginal">
	    <div class="featured_infoblock">
          <span class="jmb-head">Fenster zur Online-<br/>Ausstellung des JMB</span>
	        <span class="jmb-body">{% infoblock "series_featured" %}</span>
          <span class="jmb-logo"></span>
	    </div>
		<ul id="sub_menu">
            {% show_menu_below_id "series" 0 100 100 100 "menu/side_menu.html" %}
		</ul>
	</div>
    {% placeholder "main_content" %}
{% endblock %}
