.search-form-container {
  background: #F1F6FA; }
  .search-form-container fieldset {
    margin-bottom: 0;
    padding-bottom: 0; }
  .search-form-container .form-group {
    margin-bottom: 20px; }
  .search-form-container .btn-group {
    float: right; }
  .search-form-container .dropdown-menu label {
    width: 100%;
    display: block; }

h1 a {
  color: #000; }
h1 .amount {
  float: right; }

.item {
  padding-top: 10px;
  padding-bottom: 10px; }
  .item a h3 {
    line-height: 100%; }

.pagination .more, .pagination .back {
  line-height: 34px; }
