h3 {
    font-size: 1.5em;
    color: #33ccff;
}
h3.flatpage-title {
    margin-top: 0;
}
a, a:visited, .sidebar-box a {
    color: #0099cc;
}
a:hover, .sidebar-box a:hover {
    color: #33ccff;
}

h3 a, h3 a:visited {
    color: #33ccff;
}

#topnav {
    background: url("../../img/kreativarbeiten/bg-dark-grey.png");
    height: 33px;
    border-top: 2px solid #33ccff;
    border-bottom: 1px solid #33ccff;
}

#header {
    height: 297px;
    position: relative;
}

#header .page {
    height: 297px;
    background: url("../../img/kreativarbeiten/header.png") no-repeat 199px 20px;
}

#tabs {
    position: absolute;
    bottom: 10px;
}
#tabs ul {
    position: relative;
    top: 4px;
}
#tabs div {
    width: 584px;
    height: 2px;
    background: url("../../img/kreativarbeiten/bg-grey.png");
    
}
#tabs ul li {
    background: url("../../img/kreativarbeiten/bg-grey.png");
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
#tabs ul li.active {
    background: url("../../img/kreativarbeiten/bg-light-grey.png");
}
#tabs ul li a {
    color: #464646;
    text-transform: uppercase;
    font-weight: bold;
}
#tabs ul li a:hover {
    color: #33ccff!important;
}
#tabs ul li.active a,
#tabs ul li.active a:hover {
    color: #33ccff !important;
}

.sorting-and-pagination {
    border-bottom: 0;
}

/*
.under-tabs .secondaryForm .ctrlHolder {
    padding-top: 0;
}
*/

.banner {
    margin-top: 20px;
    display: block;
}

.sidebar-box h5 {
    color: #464646;
    background: url("../../img/kreativarbeiten/bg-grey.png");
}
.sidebar-box h5 a {
    color: #464646;
}
.sidebar-box .hidable {
    border-bottom: 1px solid #464646;
}
.sidebar-box .hidable p {
    margin: 1em;
}

.nav_collapsed a.open_but .pic,
.nav_collapsed a.open_but:hover .pic {
    background-image: url(../../img/kreativarbeiten/icons.png);
}

.nav_expanded a.open_but .pic,
.nav_expanded a.open_but:hover .pic {
    background-image: url(../../img/kreativarbeiten/icons.png);
}

.uniForm {
    padding: 0;
    border-top: 2px solid #33ccff;
    padding-bottom: 10px;
}
.uniForm h3 {
    margin: 0;
    background: url("../../img/kreativarbeiten/bg-grey.png") repeat scroll 0 0 transparent;
    padding-left: 1em;
    color: #464646;
    border: none;
    margin-bottom: 20px;
}

.uniForm .buttonHolder .primaryAction,
.uniForm .buttonHolder .primaryAction:hover {
    background: #33ccff;
    border: 0;
    border-radius: 0;
    text-shadow: none;
    font-weight: bold;
    padding: 5px 30px;
    height: auto;
    margin-right: 6px;
}
.disclaimer {
    margin: 1em;
}

.toolbox {
    border-top: 0px;
    
}

.entry-controls .rss,
.entry-controls a.addthis_button,
.newer,
.older {
    margin-top: 8px;
}

.toolbar a,
.toolbar a:hover,
a.rss,
a.rss:hover,
.entry-controls a.addthis_button,
.entry-controls a.addthis_button:hover,
span.newer,
span.older,
a.newer,
a.older, 
a.newer:hover,
a.older:hover,
.memo a.active:hover,
.favorites a.active:hover {
    background-image: url(../../img/kreativarbeiten/icons.png);
}

.intro {
    background: #E8EDF0;
    border-bottom: 1px solid #464646;
    padding: 1em;
    padding-bottom: 0;
}

.paginate_by {
    text-align: left;
    padding-left: 1em!important;
}

#breadcrumbs {
    background: url("../../img/kreativarbeiten/bg-footer.png");
    height: 28px;
    border-bottom: 2px solid #33ccff;
}

#footer {
    background: #464646;
    height: 112px;
}
