{% block doctype %}<!DOCTYPE html>{% endblock %}
{% load i18n base_tags cms_tags menu_tags %}
<html lang="{{ LANGUAGE_CODE }}">
    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
            
        <title>{% block title %}{% endblock %} Styleguide</title>
        
        {% block meta_tags %}
            {{ site_settings.get_meta_tags|safe }}
        {% endblock %}
        
        {% block open_graph %}
        {% endblock %}
        
        <link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,300,300italic,900' rel='stylesheet' type='text/css'>
        <link href="{{ STATIC_URL }}site/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen, print" type="text/css" />
        <link href="{{ STATIC_URL }}site/css/style.css" rel="stylesheet" media="screen, print" type="text/css" />
        {% block stylesheet %}
        {% endblock %}
        
        <style type="text/css">
            {% block css %}
            {% endblock %}
        </style>
        
        <script type="text/javascript">
        
            var trans = [];
            trans["Upload"] = '{% trans "Upload" %}';
            trans["Cancel"] = '{% trans "Cancel" %}';
            trans["Choose"] = '{% trans "Choose" %}';
            trans["edit"] = '{% trans "edit" %}';
            trans["close"] = '{% trans "close" %}';
            {% block translations %}{% endblock %}
            
        </script>
        
        <script type="text/javascript" src="{{ STATIC_URL }}site/js/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}site/js/jquery.mobile.custom.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}site/js/base.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}site/js/form.js"></script>
        
        {% block extrahead %}
        {% endblock %}
        
    </head>
    <body class="is-xs {% block body_class %}{% endblock %}">
        
        <div id="navigation">
            <nav>
                <div class="buttons visible-xs">
                    <button class="fawesome fa-search button header-search"><span class="sr-only">{% trans 'search entire website' %}</span></button>
                    <div class="input-field select languages">
                        <select id="language-navi" required>
                            <option>--------</option>
                            <option value="{% translate_url "de" %}" {% if LANGUAGE_CODE == "de" %} selected="selected" {% endif %}>DE</option>
                            <option value="{% translate_url "en" %}" {% if LANGUAGE_CODE == "en" %} selected="selected" {% endif %}>EN</option>
                        </select>
                    </div>
                </div>
                <ul class="accordion">
                    {% show_menu 1 3 3 3 "navigation/main_navigation.html" %}
                </ul>
            </nav>
        </div>
        
        <div id="body">
            
            <div id="header">
                <div class="wrapper">
                    <a href="/{{ LANGUAGE_CODE }}/"><img class="logo" src="{{ STATIC_URL }}site/img/default/kb_logo.gif" alt="Kreatives Brandenburg" /></a>
                    <button class="fawesome fa-menu button navigation"><span class="sr-only">{% trans 'toggle menu' %}</span></button>
                    <button class="fawesome fa-search button header-search"><span class="sr-only">{% trans 'search entire website' %}</span></button>
                    <a href="{% url 'login' %}" class="fawesome fa-man button"><span class="sr-only">{% trans 'login' %}</span></a>
                    <div class="input-field select languages">
                        <select id="language-header" required>
                            <option>--------</option>
                            <option value="{% translate_url "de" %}" {% if LANGUAGE_CODE == "de" %} selected="selected" {% endif %}>DE</option>
                            <option value="{% translate_url "en" %}" {% if LANGUAGE_CODE == "en" %} selected="selected" {% endif %}>EN</option>
                        </select>
                    </div>
                </div>
            </div>
                
            <div class="content-wrapper">
                
                <div class="container">
                    <div class="row">
                        <ul style="list-style:none; margin:10px auto 50px;" class="col-xs-12">
                            <li style="display:inline-block; margin:0 5px;"><a href="{% url 'styleguide' %}" style="text-decoration:none; font-weight:bold; text-transform:uppercase; color:black;">General</a></li>
                            <li style="display:inline-block; margin:0 5px;"><a href="{% url 'styleguide' page='constants' %}" style="text-decoration:none; font-weight:bold; text-transform:uppercase; color:black;">Constants</a></li>
                            <li style="display:inline-block; margin:0 5px;"><a href="{% url 'styleguide' page='fonts' %}" style="text-decoration:none; font-weight:bold; text-transform:uppercase; color:black;">Fonts</a></li>
                            <li style="display:inline-block; margin:0 5px;"><a href="{% url 'styleguide' page='icons' %}" style="text-decoration:none; font-weight:bold; text-transform:uppercase; color:black;">Icons</a></li>
                            <li style="display:inline-block; margin:0 5px;"><a href="{% url 'styleguide' page='buttons' %}" style="text-decoration:none; font-weight:bold; text-transform:uppercase; color:black;">Buttons</a></li>
                            <li style="display:inline-block; margin:0 5px;"><a href="{% url 'styleguide' page='elements' %}" style="text-decoration:none; font-weight:bold; text-transform:uppercase; color:black;">Elements</a></li>
                            <li style="display:inline-block; margin:0 5px;"><a href="{% url 'styleguide' page='form' %}" style="text-decoration:none; font-weight:bold; text-transform:uppercase; color:black;">Form</a></li>
                            <li style="display:inline-block; margin:0 5px;"><a href="{% url 'styleguide' page='navigation' %}" style="text-decoration:none; font-weight:bold; text-transform:uppercase; color:black;">Left Navigation</a></li>
                            <li style="display:inline-block; margin:0 5px;"><a href="{% url 'styleguide' page='layout' %}" style="text-decoration:none; font-weight:bold; text-transform:uppercase; color:black;">Layout</a></li>
                        </ul>
                    </div>
                </div>
            
                {% block content %}
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <h1>General</h1>
                                <br/>
                                
                                <p class="uppercase"><b>The grid</b></p>
                                <p>The grid system is based on bootstrap.</p>
                                <p>To place elements inside the grid wrap the area in div tags with class="container", class="row" and than in class="col-...-...".</p>
                                <pre>
    &lt;div class="container">
        
        &lt;div class="row">
            &lt;div class="col-...-...">
                ...
            &lt;/div>
        &lt;/div>
            
    &lt;/div>
                                </pre>
                                <p>To have a left navigation column and a right content column use the following structure:</p>
                                <pre>
    &lt;div class="container">
        &lt;div class="row">
            &lt;div class="col-xs-12 col-sm-4 col-md-3">
                
                Place navgation here!
                
            &lt;/div>
            &lt;div class="col-xs-12 col-sm-8 col-md-9">
                
                Place elements here like ...
                
                &lt;div class="row">
                    &lt;div class="col-...-...">
                        ...
                    &lt;/div>
                &lt;/div>
                    
            &lt;/div>
        &lt;/div>
    &lt;/div>
                                </pre>
                                <p>Certain elements will need an extra class added to their row tag in order to work.</p>
                                <br/>
                                <p>To place an element which spans over the whole width of the page DO NOT wrap it inside the classes but place it directly in the html code.</p>
                                <br/>
                                <br/>
                                <br/>
                                
                                <p class="uppercase"><b>The template</b></p>
                                <p>Extend your template from "base.html".<br/>
                                Place your content inside <b>{&#37; block content &#37;}...{&#37; endblock &#37;}</b>.<br/>
                                Add javascript to <b>{&#37; block javascript &#37;}...{&#37; endblock &#37;}</b>.<br/>
                                Add stylesheets to <b>{&#37; block stylesheet &#37;}...{&#37; endblock &#37;}</b> and style rules to <b>{&#37; block css &#37;}...{&#37; endblock &#37;}</b>.<br/>
                                Redefine open graph definitions in <b>{&#37; block open_graph &#37;}...{&#37; endblock &#37;}</b>.<br/>
                                Use the <b>{&#37; block title &#37;}...{&#37; endblock &#37;}</b> to prepend to the page title.<br/>
                                Overwrite or append metatags in <b>{&#37; block meta_tags &#37;}...{&#37; endblock &#37;}</b>.<br/>
                                For additional header content use <b>{&#37; block extrahead &#37;}...{&#37; endblock &#37;}</b>.<br/>
                                Add body classes in <b>{&#37; block body_class &#37;}...{&#37; endblock &#37;}</b>.<br/>
                                To build the breadcrumbs use <b>{&#37; block breadcrumbs &#37;}...{&#37; endblock &#37;}</b>.<br/>
                                To add javascript translations use <b>{&#37; block translations &#37;}...{&#37; endblock &#37;}</b>.</p>
                                <br/>
                                <br/>
                                <br/>
                                
                                <p class="uppercase"><b>Translations in Javascript</b></p>
                                <p>To use a translation in javascript add the translation to the global javascript array "trans" like:</p>
    <pre>&#123;% block translations %}
        trans["some phrase"] = '&#123;% trans "some phrase" %}';
        trans["another phrase"] = '&#123;% trans "another phrase" %}';
    &#123;% endblock %}</pre>
                                <p>Then you can access the translation through the "trans" array.</p>
                                <br/>
                                <br/>
                                <br/>
                                
                                <p class="uppercase"><b>Breadcrumbs</b></p>
                                <p>The breadcrumbs are build automaticly for all pages defined in the cms.<br/>
                                For other pages you have to customise the breadcrumbs by using "li" tags:</p>
<pre>&#123;% block breadcrumbs %}
    &lt;li>&lt;a href="parent url">parent name&lt;/a>&lt;/li>
    &lt;li>&lt;a href="parent url">parent name&lt;/a>&lt;/li>
    &lt;li>page name&lt;/li>
&#123;% endblock %}</pre>
                                <br/>
                                <br/>
                                <br/>
                                
                                <p class="uppercase"><b>Placeholder images</b></p>
                                <p>Certain element styles require an image but not all corresponding models require an image. In case the model instance does not have an image use a placeholder. The following list shows the provided placeholder images. All types do have a standard placeholder for the left side. Most of them have also a small placeholder for a list view and big square placeholder. The standard placeholder does have the same dimensions than the smaller list placeholder. Therefore it can also be used for the list view.</p>
                                <p>
                                    Profile Image: &#123;{ STATIC_URL }}site/img/placeholder/profile.png<br/>
                                    Institution Image: &#123;{ STATIC_URL }}site/img/placeholder/institution.png<br/>
                                    Event: &#123;{ STATIC_URL }}site/img/placeholder/event.png<br/>
                                    Event List Image: &#123;{ STATIC_URL }}site/img/placeholder/event_list.png<br/>
                                    Event Square Image: &#123;{ STATIC_URL }}site/img/placeholder/event_square.png<br/>
                                    Article: &#123;{ STATIC_URL }}site/img/placeholder/article.png<br/>
                                    Article List Image: &#123;{ STATIC_URL }}site/img/placeholder/article_list.png<br/>
                                    Article Square Image: &#123;{ STATIC_URL }}site/img/placeholder/article_square.png<br/>
                                    Infolink: &#123;{ STATIC_URL }}site/img/placeholder/infolink.png<br/>
                                    Infolink List Image: &#123;{ STATIC_URL }}site/img/placeholder/infolink_list.png<br/>
                                    Infolink Square Image: &#123;{ STATIC_URL }}site/img/placeholder/infolink_square.png<br/>
                                </p>
                                <br/>
                                <br/>
                                <br/>
                                
                                <p class="uppercase"><b>Realisation of a double tab link</b></p>
                                <p>To simulate a hover state if you tap on a link the first time and trigger the default click action only at the second tap on the link do the following:</p>
         
                                <p>Mark the link with the class "tap-hover-trigger". If the link is also the element which should recieve the class "hover" at the first tap, give it the class "tap-hover" as well.</p>
                                <p>If a different element (like some parent element) should recieve the class "hover", give this element the class "tap-hover" and assign it to the link element as jQuery object into the data variable "$tap-hover":<br/>
                                e.g. $link_element.data("$tap-hover", $hover_element);</p>
         
                                <p>Now style the (.hover) class to look like the pseudo (:hover) class.</p>
                                <br/>
                                <br/>
                                <br/>
                                
                                <p class="uppercase"><b>Sniffer</b></p>
                                <p>Depending on the window width the body tag has the class "is-xs", "is-sm", "is-md" or "is-lg".</p>

                            </div>
                        </div>
                    </div>
                {% endblock %}
                
            </div>
        </div>
        
        <div id="breadcrumbs" class="hidden-xs">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <ul>
                            <li><a href="/{{ LANGUAGE_CODE }}/" class="fawesome fa-home"><span class="sr-only">{% trans "Home" %}</span></a></li>
                            {% block breadcrumbs %}
                                {% show_breadcrumb 1 %}
                            {% endblock %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="search-layer" class="layer">
            <div class="wrapper">
                <input placeholder="{% trans 'Enter your search term ...' %}"/>
                <div class="button-group">
                    <div class="fawesome fa-search button"><span class="sr-only">{% trans 'search' %}</span></div>
                    <div class="fawesome fa-close button"><span class="sr-only">{% trans 'close' %}</span></div>
                </div>
            </div>
        </div>
        <div id="image-layer" class="layer">
            <div class="wrapper">
                <div class="image"></div>
                <h5 class="caption"></h5>
            </div>
            <div class="navi"></div>
            <div class="fawesome fa-close button"><span class="sr-only">{% trans 'close' %}</span></div>
        </div>
        <span class="width-sniffer visible-xs"></span><span class="width-sniffer visible-sm"></span><span class="width-sniffer visible-md"></span><span class="width-sniffer visible-lg"></span>
        {% block javascript %}
        {% endblock %}
    </body>
</html>