{% extends "base.html" %}
{% comment %}<!-- UNUSED -->{% endcomment %}
{% block extrahead %}
    <script type="text/javascript" src="{{ jetson_media_url }}js/jquery/starrating/jquery.MetaData.js"></script>
    <script type="text/javascript" src="{{ jetson_media_url }}js/jquery/starrating/jquery.rating.js"></script>
{% endblock %}

{% load i18n base_tags babel %}
{% block title %}{{ flatpage.get_title|escape }}{% endblock %}
{% block headline %}
    <h1>
        {% if creative_sector %}
            {{ creative_sector.get_title|escape }}
        {% else %}
            Creative City Berlin
        {% endif %}
    </h1>
    <h2 class="sub">
        {% if "/knowledge/"|in_list:request.path %}
            {% trans "Knowledge" %}
        {% else %}
            {{ flatpage.get_title|escape }}
        {% endif %}
    </h2>
{% endblock %}

{% block content %}
    <div class="logo-contest">
        <div class="flatpage_space">
            <div>
                {{ flatpage.get_content }}
            </div>
            <div class="dragging_target left-block">
                {% include_parsed "external_services/jovoto/includes/latest_published_ideas.html" %}
            </div>
            <div class="dragging_target">
                {% include_parsed "external_services/jovoto/includes/best_rated_ideas.html" %}
            </div>
        </div>
    </div>
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="/">{% trans "Overview" %}</a> |
        {% ifequal request.path "/logo_contest/briefing/" %}
            <span class="active">{% trans "Briefing" %}</span>
        {% else %}
            <span class="active">{{ flatpage.get_title|escape }}</span>
        {% endifequal %}
    </div>
{% endblock %}

