{% extends "base.html" %}
{% load i18n base_tags navigation_tags %}

{% block title %}{{ flatpage.get_title }}{% endblock %}
{% block headline %}
    <h1>{{ flatpage.get_title }}</h1>
{% endblock %}

{% block extrahead %}
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/jquery.pack.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/jquery.scrollable.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/flashembed.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/flow.playlist.js"></script>
    <script type="text/javascript">
        // this simple call does the magic
        var config = {
            autoPlay: true,
            autoBuffering: false,
            controlBarBackgroundColor: '0xC7CFD5',
            initialScale: 'scale',
            showVolumeSlider: true,
            controlsOverVideo: 'ease',
            controlBarGloss: 'high',
            timeDisplayFontColor: '#fff'
        };
        if (jQuery.browser.safari) {
            config.showFullScreenButton = false;
            config.showVolumeSlider = false;
            config.showMuteVolumeButton = false;
            config.showMenu = false;
        }
        $(document).ready(function () {
            // setup playlist
            $("div.items").playlist("{{ STATIC_URL }}site/flash/FlowPlayerDark.swf", config);

            // setup scrolling
            $("div.playlist").scrollable({size: 4});
        });
    </script>
{% endblock %}
{% block content %}
    <hr/>
    <div>
        <a id="player"><span class="play"></span></a>
        <!-- the playlist -->
        <div class="playlist">
            <div class="navi"></div>
            <div class="items">
                <a href="{{ UPLOADS_URL }}screencasts/baby.flv">
                    <span class="txt">Nick<br/> 6:28 min</span>
                </a>

                <a href="{{ UPLOADS_URL }}screencasts/ccb_screencast.flv">
                    <span class="txt">CCB<br/> 6:28 min</span>
                </a>

                <a href="{{ UPLOADS_URL }}screencasts/testvideo_dieterlutsch_jarmuschek.flv">
                    <span class="txt">d ofe<br/>2:30 min</span>
                </a>

                <a href="{{ UPLOADS_URL }}screencasts/Behappy-clouds106.flv">
                    <span class="txt">happy<br/> 6:28 min</span>
                </a>
                <a href="{{ UPLOADS_URL }}screencasts/testvideo_dieterlutsch_jarmuschek.flv">
                    <span class="txt">of Fortune<br/>2:30 min</span>
                </a>

                <a href="{{ UPLOADS_URL }}screencasts/ccb_screencast.flv">
                    <span class="txt">Screencast<br/> 6:28 min</span>
                </a>

                <a href="{{ UPLOADS_URL }}screencasts/baby.flv">
                    <span class="txt">Quick<br/> 6:28 min</span>
                </a>

                <a href="{{ UPLOADS_URL }}screencasts/Behappy-clouds106.flv">
                    <span class="txt">clouds<br/> 6:28 min</span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
