{% extends "admin/change_form.html" %}

<!-- LOADING -->
{% load base_tags i18n auth_extended extended_admin static %}


<!-- JAVASCRIPTS -->
{% block javascripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'admin/js/SelectBox.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/SelectFilter2.js' %}"></script>

    <script type="text/javascript"
            src="{% url 'jetson_media_url' path='js/jquery/autocomplete_1.0/jquery.dimensions.js' %}"></script>
    <script type="text/javascript"
            src="{% url 'jetson_media_url' path='js/jquery/autocomplete_1.0/jquery.bgiframe.min.js' %}"></script>
    <script type="text/javascript"
            src="{% url 'jetson_media_url' path='js/jquery/autocomplete_1.0/jquery.autocomplete.js' %}"></script>
    <script type="text/javascript" src="{% url 'jetson_media_url' path='js/admin/autocomplete.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/urlify.js' %}"></script>
    <script type="text/javascript" src="{% static 'filebrowser/js/AddFileBrowser.js' %}"></script>
    <script type="text/javascript" src="{% url 'jetson_media_url' path='js/admin/event_change.js' %}"></script>

    <script type="text/javascript" src="{% static 'admin/js/collapse.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/inlines.min.js' %}"></script>
    <!--
    <script type="text/javascript" charset="utf-8">
        (function($) {
            $(document).ready(function() {
                grappelli.initDateAndTimePicker();
                $("div.container-flexible div.group").grp_collapsible_group();
                $("div#content .collapse").grp_collapsible({
                    on_init: function(elem, options) {
                        // open grp-collapse (and all grp-collapse parents) in case of errors
                        if (elem.find("ul.errorlist").length > 0) {
                            elem.removeClass("grp-closed")
                                .addClass("grp-open");
                            elem.parents(".grp-collapse")
                                .removeClass("grp-closed")
                                .addClass("grp-open");
                        }
                    }
                });
            });
        })(django.jQuery);
    </script>
    -->
{% endblock %}

<!-- COLTYPE/BODYCLASS -->
{% block bodyclass %}grp-change-form event{% endblock %}
{% block content-class %}grp-content-flexible{% endblock %}

<!-- BREADCRUMBS -->
{% block breadcrumbs %}
    {% if not is_popup %}
        <ul id="breadcrumbs">
            <li>
                <a href="../../../">{% trans "Home" %}</a>
            </li>
            <li>
                <a href="../../">{{ "Events"|app_verbose_name }}</a>
            </li>
            <li>
                <a href="../">{% trans "Events" %}</a>
            </li>
            <li>
                {% if original %}{{ original|truncatewords:"18" }}{% else %}{% trans "Add" %} {% trans "Event" %}{% endif %}</li>
        </ul>
    {% endif %}
{% endblock %}

<!-- OBJECT TOOLS -->
{% block object-tools %}
    {% if change and not is_popup %}
        <ul class="grp-object-tools">
            <li>
                <a href="history/" class="historylink">{% trans "History" %}</a>
            </li>
            {% if original.row_level_permissions %}
                {% if_has_perm "auth.change_rowlevelpermission" original %}
                    <li>
                        <a href="permissions/" class="rowlevelpermissions">{% trans "Permissions" %}</a>
                    </li>
                {% end_if_has_perm %}
            {% endif %}
            {% if original.get_url_path %}
                <li>
                    <a href="{{ original.get_url_path }}" class="viewsitelink">{% trans "View on site" %}</a>
                </li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock %}

<!-- CONTENT -->
{% block content %}
    <form action="" method="post" id="event_form">{% csrf_token %}
        <div>
            <!-- Popup Hidden Field -->
            {% if is_popup %}
                <input type="hidden" name="_popup" value="1"/>{% endif %}

            <!-- Errors -->
            {% if form.errors %}
                <p class="errornote">
                    {% blocktrans count form.errors.items|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
                </p>
                {{ form.non_field_errors }}
            {% endif %}

            <!-- Fieldsets -->
            {% block fieldset_event %}
                {% if form.title_en %}
                    <fieldset class="grp-module grp-aligned grp-collapse grp-open multilingual multilingual-set-15 multilingual-language-en">
                        <h2 class="grp-collapse-handler">{% trans "Event" %} (English)</h2>
                        <div class="grp-row grp-cells-1{% if form.title_en.errors %} grp-errors{% endif %}">
                            <div class="l-2c-fluid l-d-4">
                                <div class="c-1">
                                    <label
                                            {% if form.title_en.field.required %} class="required"{% endif %}>{{ form.title_en.label }}</label>
                                </div>
                                <div class="c-2">
                                    <p>{{ form.title_en }}</p>
                                    {% if form.title_en.errors %}
                                        <ul class="errorlist">
                                            <li>{{ form.title_en.errors|join:", " }}</li>
                                        </ul>
                                    {% endif %}

                                    {% if form.title_en.help_text %}
                                        <p class="grp-help">{{ form.title_en.help_text }}</p>{% endif %}
                                </div>
                            </div>
                        </div>
                    </fieldset>
                {% endif %}
                {% if form.title_de %}
                    <fieldset class="grp-module grp-aligned grp-collapse grp-open multilingual multilingual-set-15 multilingual-language-de">
                        <h2 class="grp-collapse-handler">{% trans "Event" %} (Deutsch)</h2>
                        <div class="grp-row grp-cells-1{% if form.title_de.errors %} grp-errors{% endif %}">
                            <div class="l-2c-fluid l-d-4">
                                <div class="c-1">
                                    <label
                                            {% if form.title_de.field.required %} class="required"{% endif %}>{{ form.title_de.label }}</label>
                                </div>
                                <div class="c-2">
                                    <p>{{ form.title_de }}</p>
                                    {% if form.title_de.errors %}
                                        <ul class="errorlist">
                                            <li>{{ form.title_de.errors|join:", " }}</li>
                                        </ul>
                                    {% endif %}

                                    {% if form.title_de.help_text %}
                                        <p class="grp-help">{{ form.title_de.help_text }}</p>{% endif %}
                                </div>
                            </div>
                        </div>
                    </fieldset>
                {% endif %}

                <fieldset class="grp-module grp-aligned">
                    {{ form.user_id }}
                    <div class="grp-row grp-cells-1{% if form.slug.errors %} grp-errors{% endif %}">
                        <div class="l-2c-fluid l-d-4">
                            <div class="c-1">
                                <label
                                        {% if form.slug.field.required %} class="required"{% endif %}>{{ form.slug.label }}</label>
                            </div>
                            <div class="c-2">
                                <p>{{ form.slug }}</p>
                                {% if form.slug.errors %}
                                    <ul class="errorlist">
                                        <li>{{ form.slug.errors|join:", " }}</li>
                                    </ul>
                                {% endif %}

                                {% if form.slug.help_text %}<p class="grp-help">{{ form.slug.help_text }}</p>{% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="grp-row grp-cells-1{% if form.event_type.errors %} grp-errors{% endif %}">
                        <div class="l-2c-fluid l-d-4">
                            <div class="c-1">
                                <label
                                        {% if form.event_type.field.required %} class="required"{% endif %}>{{ form.event_type.label }}</label>
                            </div>
                            <div class="c-2">
                                <p>{{ form.event_type }}</p>
                                {% if form.event_type.errors %}
                                    <ul class="errorlist">
                                        <li>{{ form.event_type.errors|join:", " }}</li>
                                    </ul>
                                {% endif %}

                                {% if form.event_type.help_text %}
                                    <p class="grp-help">{{ form.event_type.help_text }}</p>{% endif %}
                            </div>
                        </div>
                    </div>
                </fieldset>
            {% endblock %}

            {% block fieldset_eventtimes %}
                {% for inline_admin_formset in inline_admin_formsets %}
                    <div id="{{ inline_admin_formset.formset.prefix }}-group" class="grp-group grp-collapse grp-open">
                        <h2>{{ inline_admin_formset.opts.verbose_name_plural|title }}</h2>
                        <ul class="grp-tools">
                            <li class="grp-open-handler-container">
                                <a href="javascript://"
                                   class="grp-icon grp-open-handler"
                                   title="{% trans 'Open All Items' %}"></a>
                            </li>
                            <li class="grp-close-handler-container">
                                <a href="javascript://"
                                   class="grp-icon grp-close-handler"
                                   title="{% trans 'Close All Items' %}"></a>
                            </li>
                            <li class="grp-add-handler-container">
                                <a href="javascript://"
                                   class="grp-icon grp-add-handler"
                                   title="{% trans 'Add Item' %}"></a>
                            </li>
                        </ul>
                        {{ inline_admin_formset.formset.management_form }} {{ inline_admin_formset.formset.non_form_errors }}
                        <!-- container -->
                        <div class="grp-items">
                            {% for inline_admin_form in inline_admin_formset %}
                                {% if not forloop.last %}
                                    {% with event_time_form=inline_admin_form.form prefix=forloop.counter0 counter=forloop.counter %}
                                        {% include "extendedadmin/includes/event_time.html" %}
                                    {% endwith %}
                                {% else %}
                                    {% with event_time_form=inline_admin_formset.formset.empty_form prefix="__prefix__" counter=0 %}
                                        {% include "extendedadmin/includes/event_time.html" %}
                                    {% endwith %}
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="grp-module grp-transparent grp-dynamic-form">
                            <div class="grp-row">
                                <a class="grp-add-handler" href="javascript://">{% trans "Add Event Time" %}</a>
                                <ul class="grp-tools">
                                    <li>
                                        <a title="{% trans "Add Event Time" %}"
                                           class="grp-icon grp-add-handler"
                                           href="javascript://"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                        (function ($) {
                            $(document).ready(function () {
                                var updateInlineLabel = function (row) {
                                    $("#{{ inline_admin_formset.formset.prefix }}-group div.items div.grp-module").find("h3:first").each(function (i) {
                                        $(this).html($(this).html().replace(/(#\d+)/g, "#" + ++i));
                                    });
                                };
                                var reinitDateTimeFields = function (row) {
                                    row.find(".vDateField").datepicker({
                                        //appendText: '(mm/dd/yyyy)',
                                        showOn: 'button',
                                        buttonImageOnly: false,
                                        buttonText: '',
                                        dateFormat: grappelli.getFormat('date')
                                    });
                                    $(".vTimeField").grp_timepicker();
                                };
                                var updateSelectFilter = function (row) {
                                    // If any SelectFilter widgets were added, instantiate a new instance.
                                    if (typeof SelectFilter !== "undefined") {
                                        row.find(".selectfilter").each(function (index, value) {
                                            var namearr = value.name.split('-');
                                            SelectFilter.init(value.id, namearr[namearr.length - 1], false, "{% static 'admin/' %}");
                                        });
                                        row.find(".selectfilterstacked").each(function (index, value) {
                                            var namearr = value.name.split('-');
                                            SelectFilter.init(value.id, namearr[namearr.length - 1], true, "{% static 'admin/' %}");
                                        });
                                    }
                                };
                                var reinitTinyMCE = function (row) {
                                    row.find("textarea.vLargeTextField").each(function () {
                                        tinyMCE.execCommand('mceAddControl', false, this.id);
                                    });
                                };
                                var deleteTinyMCE = function (row) {
                                    row.find("textarea.vLargeTextField").each(function () {
                                        if (tinyMCE.getInstanceById(this.id)) {
                                            tinyMCE.execCommand('mceRemoveControl', false, this.id);
                                        }
                                    });
                                };
                                // TODO. re-init ui-calendar
                                $("#{{ inline_admin_formset.formset.prefix }}-group").grp_inline({
                                    prefix: "{{ inline_admin_formset.formset.prefix }}",
                                    deleteCssClass: "grp-delete-handler",
                                    emptyCssClass: "grp-empty-form",
                                    onAfterRemoved: (function (row) {
                                        updateInlineLabel(row);
                                        deleteTinyMCE(row);
                                    }),
                                    onAfterAdded: (function (row) {
                                        row.grp_collapsible();
                                        row.find("fieldset.grp-collapse").grp_collapsible();
                                        reinitTinyMCE(row);
                                        reinitDateTimeFields(row);
                                        updateSelectFilter(row);
                                        updateInlineLabel(row);
                                        self.TimeRangeManager.reinit(row);
                                    })
                                });
                            });
                        })(django.jQuery);
                    </script>
                {% endfor %}
            {% endblock %}

            {% block fieldset_eventdetails %}
                {% include "extendedadmin/includes/fieldset_details.html" %}
            {% endblock %}

            {% block fieldset_location %}
                <fieldset class="grp-module grp-aligned grp-collapse grp-closed">
                    <h2 class="grp-collapse-handler">{% trans "Location" %}</h2>
                    {% if form.venue %}
                        <div class="grp-row grp-cells-1{% if form.venue.errors %} grp-errors{% endif %}">
                            <div class="l-2c-fluid l-d-4">
                                <div class="c-1">
                                    <label
                                            {% if form.venue.field.required %} class="required"{% endif %}>{{ form.venue.label }}</label>
                                </div>
                                <div class="c-2">
                                    <p>{{ form.venue }}</p>
                                    {% if form.venue.errors %}
                                        <ul class="errorlist">
                                            <li>{{ form.venue.errors|join:", " }}</li>
                                        </ul>
                                    {% endif %}

                                    {% if form.venue.help_text %}
                                        <p class="grp-help">{{ form.venue.help_text }}</p>{% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="grp-row grp-cells-1{% if form.venue_title.errors %} grp-errors{% endif %}">
                            <div class="l-2c-fluid l-d-4">
                                <div class="c-1">
                                    <label
                                            {% if form.venue_title.field.required %} class="required"{% endif %}>{{ form.venue_title.label }}</label>
                                </div>
                                <div class="c-2">
                                    <p>{{ form.venue_title }}</p>
                                    {% if form.venue_title.errors %}
                                        <ul class="errorlist">
                                            <li>{{ form.venue_title.errors|join:", " }}</li>
                                        </ul>
                                    {% endif %}

                                    {% if form.venue_title.help_text %}
                                        <p class="grp-help">{{ form.venue_title.help_text }}</p>{% endif %}
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="grp-row grp-cells-1{% if form.slug.errors %} grp-errors{% endif %}">
                            <div class="l-2c-fluid l-d-4">
                                <div class="c-1">
                                    <label
                                            {% if form.slug.field.required %} class="required"{% endif %}>{{ form.slug.label }}</label>
                                </div>
                                <div class="c-2">
                                    <p>{{ form.slug }}</p>
                                    {% if form.slug.errors %}
                                        <ul class="errorlist">
                                            <li>{{ form.slug.errors|join:", " }}</li>
                                        </ul>
                                    {% endif %}

                                    {% if form.slug.help_text %}
                                        <p class="grp-help">{{ form.slug.help_text }}</p>{% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% with contact_form=form make_nested=1 %}
                        {% include "extendedadmin/includes/fieldset_contact_form.html" %}
                        {% include "extendedadmin/includes/fieldset_phones.html" %}
                        {% include "extendedadmin/includes/fieldset_emails.html" %}
                        {% include "extendedadmin/includes/fieldset_websites.html" %}
                        {% include "extendedadmin/includes/fieldset_ims.html" %}
                    {% endwith %}
                </fieldset>
            {% endblock %}

            {% block fieldset_opening_hours %}
                {% include "extendedadmin/includes/fieldset_opening_hours.html" %}
            {% endblock %}

            {% block fieldset_organizer %}
                <fieldset class="grp-module grp-aligned grp-collapse closed">
                    <h2 class="collapse-handler">{% trans "Organizer" %}</h2>
                    {% if form.organizing_institution %}
                        <div class="grp-row grp-cells-1{% if form.organizing_institution.errors %} grp-errors{% endif %}">
                            <div class="l-2c-fluid l-d-4">
                                <div class="c-1">
                                    <label
                                            {% if form.organizing_institution.field.required %} class="required"{% endif %}>{{ form.organizing_institution.label }}</label>
                                </div>
                                <div class="c-2">
                                    <p>{{ form.organizing_institution }}</p>
                                    {% if form.organizing_institution.errors %}
                                        <ul class="errorlist">
                                            <li>{{ form.organizing_institution.errors|join:", " }}</li>
                                        </ul>
                                    {% endif %}

                                    {% if form.organizing_institution.help_text %}
                                        <p class="grp-help">{{ form.organizing_institution.help_text }}</p>{% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="grp-row grp-cells-1{% if form.organizer_title.errors %} grp-errors{% endif %}">
                        <div class="l-2c-fluid l-d-4">
                            <div class="c-1">
                                <label
                                        {% if form.organizer_title.field.required %} class="required"{% endif %}>{{ form.organizer_title.label }}</label>
                            </div>
                            <div class="c-2">
                                <p>{{ form.organizer_title }}</p>
                                {% if form.organizer_title.errors %}
                                    <ul class="errorlist">
                                        <li>{{ form.organizer_title.errors|join:", " }}</li>
                                    </ul>
                                {% endif %}

                                {% if form.organizer_title.help_text %}
                                    <p class="grp-help">{{ form.organizer_title.help_text }}</p>{% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="grp-row grp-cells-1{% if form.organizer_url_link.errors %} grp-errors{% endif %}">
                        <div class="l-2c-fluid l-d-4">
                            <div class="c-1">
                                <label
                                        {% if form.organizer_url_link.field.required %} class="required"{% endif %}>{{ form.organizer_url_link.label }}</label>
                            </div>
                            <div class="c-2">
                                <p>{{ form.organizer_url_link }}</p>
                                {% if form.organizer_url_link.errors %}
                                    <ul class="errorlist">
                                        <li>{{ form.organizer_url_link.errors|join:", " }}</li>
                                    </ul>
                                {% endif %}

                                {% if form.organizer_url_link.help_text %}
                                    <p class="grp-help">{{ form.organizer_url_link.help_text }}</p>{% endif %}
                            </div>
                        </div>
                    </div>
                    {% if form.organizing_person %}
                        <div class="grp-row grp-cells-1{% if form.organizing_person.errors %} grp-errors{% endif %}">
                            <div class="l-2c-fluid l-d-4">
                                <div class="c-1">
                                    <label
                                            {% if form.organizing_person.field.required %} class="required"{% endif %}>{{ form.organizing_person.label }}</label>
                                </div>
                                <div class="c-2">
                                    <p>{{ form.organizing_person }}</p>
                                    {% if form.organizing_person.errors %}
                                        <ul class="errorlist">
                                            <li>{{ form.organizing_person.errors|join:", " }}</li>
                                        </ul>
                                    {% endif %}

                                    {% if form.organizing_person.help_text %}
                                        <p class="grp-help">{{ form.organizing_person.help_text }}</p>{% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </fieldset>
            {% endblock %}

            {% block fieldset_additional_info %}
                <fieldset class="grp-module grp-aligned grp-collapse grp-closed">
                    <h2 class="grp-collapse-handler">{% trans "Additional Info" %}</h2>
                    {% if form.additional_info_en %}
                        <fieldset class="grp-module grp-aligned nested multilingual multilingual-set-12 multilingual-language-en">
                            <h2 class="grp-collapse-handler">{% trans "Additional info (English)" %}</h2>
                            <div class="grp-row grp-cells-1{% if form.additional_info_en.errors %} grp-errors{% endif %}">
                                <div class="l-2c-fluid l-d-4">
                                    <div class="c-1">
                                        <label
                                                {% if form.additional_info_en.field.required %} class="required"{% endif %}>{{ form.additional_info_en.label }}</label>
                                    </div>
                                    <div class="c-2">
                                        {{ form.additional_info_en_markup_type }}
                                        <p class="grp-help markup-type-help">{% trans "You can select an appropriate markup type here." %}</p>
                                        <p>{{ form.additional_info_en }}</p>
                                        {% if form.additional_info_en.errors %}
                                            <ul class="errorlist">
                                                <li>{{ form.additional_info_en.errors|join:", " }}</li>
                                            </ul>
                                        {% endif %}

                                        {% if form.additional_info_en.help_text %}
                                            <p class="grp-help">{{ form.additional_info_en.help_text }}</p>{% endif %}
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    {% endif %}
                    {% if form.additional_info_de %}
                        <fieldset class="grp-module grp-aligned nested multilingual multilingual-set-12 multilingual-language-de">
                            <h2 class="grp-collapse-handler">{% trans "Additional info (German)" %}</h2>
                            <div class="grp-row grp-cells-1{% if form.additional_info_de.errors %} grp-errors{% endif %}">
                                <div class="l-2c-fluid l-d-4">
                                    <div class="c-1">
                                        <label
                                                {% if form.additional_info_de.field.required %} class="required"{% endif %}>{{ form.additional_info_de.label }}</label>
                                    </div>
                                    <div class="c-2">
                                        {{ form.additional_info_de_markup_type }}
                                        <p class="grp-help markup-type-help">{% trans "You can select an appropriate markup type here." %}</p>
                                        <p>{{ form.additional_info_de }}</p>
                                        {% if form.additional_info_de.errors %}
                                            <ul class="errorlist">
                                                <li>{{ form.additional_info_de.errors|join:", " }}</li>
                                            </ul>
                                        {% endif %}

                                        {% if form.additional_info_de.help_text %}
                                            <p class="grp-help">{{ form.additional_info_de.help_text }}</p>{% endif %}
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    {% endif %}
                    <div class="grp-row grp-cells-1{% if form.related_events.errors %} grp-errors{% endif %}">
                        <div class="l-2c-fluid l-d-4">
                            <div class="c-1">
                                <label
                                        {% if form.related_events.field.required %} class="required"{% endif %}>{{ form.related_events.label }}</label>
                            </div>
                            <div class="c-2">
                                {{ form.related_events }}
                                {% if form.related_events.errors %}
                                    <ul class="errorlist">
                                        <li>{{ form.related_events.errors|join:", " }}</li>
                                    </ul>
                                {% endif %}

                                {% if form.related_events.help_text %}
                                    <p class="grp-help">{{ form.related_events.help_text }}</p>{% endif %}
                            </div>
                        </div>
                    </div>
                </fieldset>
            {% endblock %}

            {% block fieldset_status %}
                {% include "extendedadmin/includes/fieldset_status.html" %}
            {% endblock %}

            <!-- Submit-Row -->
            <footer class="grp-module grp-submit-row grp-fixed-footer">
                <header style="display: none">
                    <h1>Submit options</h1>
                </header>
                <ul>
                    <li class="grp-float-left">
                        <a class="grp-button grp-delete-link" href="delete/">Delete</a>
                    </li>
                    <li>
                        <input type="submit" value="{% trans 'Save' %}" class="grp-button grp-default" name="_save"/>
                    </li>
                    <li>
                        <input type="submit"
                               value="{% trans 'Save and add another' %}"
                               class="grp-button"
                               name="_addanother"/>
                    </li>
                    <li>
                        <input type="submit"
                               value="{% trans 'Save and continue editing' %}"
                               class="grp-button"
                               name="_continue"/>
                    </li>
                </ul>
            </footer>
        </div>
    </form>
    <script type="text/javascript">
        //<![CDATA[
        {% if form.title_en %}
            document.getElementById("id_title_en").focus();
            document.getElementById("id_title_en").onkeyup = function () {
                var e = document.getElementById("id_slug");
                if (!e._changed) {
                    e.value = URLify(document.getElementById("id_title_en").value, 255);
                }
            };
        {% else %}
            document.getElementById("id_title_de").focus();
            document.getElementById("id_title_de").onkeyup = function () {
                var e = document.getElementById("id_slug");
                if (!e._changed) {
                    e.value = URLify(document.getElementById("id_title_de").value, 255);
                }
            };
        {% endif %}
        document.getElementById("id_slug").onchange = function () {
            this._changed = true;
        };
        //]]>
    </script>

    <script type="text/javascript"
            src="//maps.google.com/maps/api/js?language=de&amp;region=DE&amp;key={{ GOOGLE_API_KEY }}"></script>
    <script type="text/javascript" src="{% url 'jetson_media_url' path='js/admin/gmaps_for_address.js' %}"></script>

{% endblock %}
