{% extends "admin/change_form.html" %}

<!-- LOADING -->
{% load base_tags i18n auth_extended extended_admin compressed_jetson %}

<!-- STYLES -->
{% block extrastyle %}
    {{ block.super }}
    <style type="text/css">
    /*<![CDATA[*/
        #break_start_row, #break_end_row {
            display: none;
        }
    /*]]>*/
    </style>
{% endblock %}

<!-- JAVASCRIPTS -->
{% block javascripts %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}admin/js/core.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}admin/js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}admin/js/SelectBox.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}admin/js/SelectFilter2.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}admin/js/admin/DateTimeShortcuts.js"></script>
    
    <script type="text/javascript" src="{{ jetson_media_url }}js/jquery/autocomplete_1.0/jquery.bgiframe.min.js"></script>
    <script type="text/javascript" src="{{ jetson_media_url }}js/jquery/autocomplete_1.0/jquery.autocomplete.js"></script>
    <script type="text/javascript" src="{{ jetson_media_url }}js/admin/autocomplete.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}filebrowser/js/AddFileBrowser.js"></script>
    {% compressed_jetson_js "admin_institution_change" %}
    <script type="text/javascript" src="{{ jetson_media_url }}js/admin/URLField.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}admin/js/urlify.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}admin/js/collapse.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}admin/js/inlines.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        (function($) {
            $(document).ready(function() {
                grappelli.initDateAndTimePicker();
                $("div.container-flexible div.group").grp_collapsible_group();
                $("div#content .collapse").grp_collapsible({
                    on_init: function(elem, options) {
                        // open collapse (and all collapse parents) in case of errors
                        if (elem.find("ul.errorlist").length > 0) {
                            elem.removeClass("closed")
                                .addClass("open");
                            elem.parents(".collapse")
                                .removeClass("closed")
                                .addClass("open");
                        }
                    }
                });
            });
        })(django.jQuery);
    </script>
{% endblock %}

<!-- COLTYPE/BODYCLASS -->
{% block bodyclass %}change-form institution{% endblock %}
{% block content-class %}content-flexible{% endblock %}

<!-- BREADCRUMBS -->
{% block breadcrumbs %}
    {% if not is_popup %}
        <div id="breadcrumbs">
             <a href="../../../">{% trans "Home" %}</a> &rsaquo;
             <a href="../../">{{ "Institutions"|app_verbose_name }}</a> &rsaquo; 
             <a href="../">{% trans "Institutions" %}</a> &rsaquo; 
             {% if original %}{{ original|truncatewords:"18" }}{% else %}{% trans "Add" %} {% trans "Institution" %}{% endif %}
        </div>
    {% endif %}
{% endblock %}

<!-- OBJECT TOOLS -->
{% block object-tools %}
    {% if change %}
        {% if not is_popup %}
            <ul class="tools">
                <li><a href="history/" class="historylink">{% trans "History" %}</a></li>
                {% if original.row_level_permissions %}
                    {% if_has_perm "auth.change_rowlevelpermission" original %}
                        <li><a href="permissions/" class="rowlevelpermissions">{% trans "Permissions" %}</a></li>
                    {% end_if_has_perm %}
                {% endif %}
                {% if original.get_url_path %}
                    <li><a href="{{ original.get_url_path }}" class="viewsitelink">{% trans "View on site" %}</a></li>
                {% endif%}
            </ul>
        {% endif %}
    {% endif %}
{% endblock %}

<!-- CONTENT -->
{% block content %}
    <div id="content-main" class="container-flexible">
        <div class="form-container">
            <form action="" method="post" id="institution_form">
                <div>
                    <!-- Popup Hidden Field -->
                    {% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
                    
                    <!-- Errors -->
                    {% if form.errors %}
                        <p class="errornote">
                        {% blocktrans count form.errors.items|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
                        </p>
                        {{ form.non_field_errors }}
                    {% endif %}
                    
                    <!-- Fieldsets -->
                    <fieldset class="module aligned collapse open">
                        <h2>{% trans "Institution" %}</h2>
                        <div class="row{% if form.title.errors %} errors{% endif %}">
                            <div>
                                <div class="column span-4"><label for="id_title"{% if form.title.field.required %} class="required"{% endif %}>{% trans "Title" %}:</label></div>
                                <div class="column span-flexible">
                                    {{ form.title }}
                                    {{ form.title.errors }}
                                </div>
                            </div>
                        </div>
                        <div class="row{% if form.title2.errors %} errors{% endif %}">
                            <div>
                                <div class="column span-4"><label for="id_title2"{% if form.title2.field.required %} class="required"{% endif %}>{% trans "Title (second line)" %}:</label></div>
                                <div class="column span-flexible">
                                    {{ form.title2 }}
                                    {{ form.title2.errors }}
                                </div>
                            </div>
                        </div>
                        <div class="row{% if form.slug.errors %} errors{% endif %}">
                            <div>
                                <div class="column span-4"><label for="id_slug"{% if form.slug.field.required %} class="required"{% endif %}>{% trans "Slug for URIs" %}:</label></div>
                                <div class="column span-flexible">
                                    {{ form.slug }}
                                    {{ form.slug.errors }}
                                </div>
                            </div>
                        </div>
                        <div class="row{% if form.institution_types.errors %} errors{% endif %}">
                            <div>
                                <div class="column span-4"><label for="id_institution_types"{% if form.institution_types.field.required %} class="required"{% endif %}>{% trans "Institution type" %}:</label></div>
                                <div class="column span-flexible">
                                    {{ form.institution_types }}
                                    {{ form.institution_types.errors }}
                                    <script type="text/javascript">
                                    addEvent(window, "load", (function(event) { SelectFilter.init("id_institution_types", "{% trans "Types" %}", 0, "{{ STATIC_URL }}admin/"); }));
                                    </script>
                                    <p class="help">{% trans 'Hold down "Control", or "Command" on a Mac, to select more than one.' %}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row{% if form.legal_form.errors %} errors{% endif %}">
                            <div>
                                <div class="column span-4"><label for="id_legal_form"{% if form.legal_form.field.required %} class="required"{% endif %}>{% trans "Legal form" %}:</label></div>
                                <div class="column span-flexible">
                                    {{ form.legal_form }}
                                    {{ form.legal_form.errors }}
                                </div>
                            </div>
                        </div>
                        <div class="row checkbox-row">
                            <div>
                                <div class="column span-4">&nbsp;</div>
                                <div class="column span-flexible">
                                    {{ form.is_non_profit }}<label for="id_is_non_profit" class="vCheckboxLabel">{% trans "Non profit" %}</label>
                                </div>
                            </div>
                        </div>
                        <!-- Add jQuery-based autocomplete field -->
                        <div class="row{% if form.slug.errors %} errors{% endif %}">
                            <div>
                                <div class="column span-4"><label for="id_parent"{% if form.parent.field.required %} class="required"{% endif %}>{% trans "Member of" %}:</label></div>
                                <div class="column span-flexible">
                                    {{ form.parent }}
                                    {{ form.parent.errors }}
                                    <p class="help">{{ form.parent.help_text }}</p>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    
                    {% include "extendedadmin/includes/fieldset_opening_hours.html" %}
                    
                    <div id="institutionalcontact_set-group" class="group collapse close">
                        <h2>{% trans "Contacts" %}</h2>
                        <ul class="tools">
                            <li class="open-handler-container"><a href="javascript://" class="icon open-handler" title="{% trans 'Open All Items' %}"></a></li>
                            <li class="close-handler-container"><a href="javascript://" class="icon close-handler" title="{% trans 'Close All Items' %}"></a></li>
                            <li class="add-handler-container"><a href="javascript://" class="icon add-handler" title="{% trans 'Add Item' %}"> </a></li>
                        </ul>
                        {{ contact_formset.management_form }}
                        {{ contact_formset.non_form_errors }}
                        <!-- container -->
                        <div id="contact_container" class="items">
                        {% for contact_form in contact_formset.forms %}
                            {% with forloop.counter0 as prefix %}
                                {% with forloop.counter as counter %}
                                    {% include "extendedadmin/institutional_contact_change.html" %}
                                {% endwith %}
                            {% endwith %}
                        {% endfor %}
                        {% with contact_formset.empty_form as contact_form %}
                            {% with "__prefix__" as prefix %}
                                {% with 0 as counter %}
                                    {% include "extendedadmin/institutional_contact_change.html" %}
                                {% endwith %}
                            {% endwith %}
                        {% endwith %}
                        </div>
                        <div class="module add-item">
                            <a class="add-handler" href="javascript://">{% trans "Add Contact" %}</a>
                            <ul class="tools">
                                <li class="add-handler-container"><a title="{% trans "Add Contact" %}" class="icon add-handler" href="javascript://"> </a></li>
                            </ul><br clear="all">
                        </div>
                    </div>
                    
                    {% include "extendedadmin/includes/fieldset_details.html" %}
                    
                    {% include "extendedadmin/includes/fieldset_categories.html" %}
                    
                    <fieldset class="module aligned collapse closed">
                        <h2 class="collapse-handler">{% trans "Additional Info" %}</h2>
                        <div class="row{% if form.access.errors %} errors{% endif %}">
                            <div>
                                <div class="column span-4"><label for="id_access">{% trans "Access" %}</label></div>
                                <div class="column span-flexible">
                                    {{ form.access }}
                                    {{ form.access.errors }}
                                    <p class="help">{% trans "Public transport to access this institution" %}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row checkbox-row" >
                            <div>
                                <div class="column span-4">&nbsp;</div>
                                <div class="column span-flexible">
                                    {{ form.is_parking_avail }}<label for="id_is_parking_avail" class="vCheckboxLabel">{% trans "Parking available" %}</label>
                                </div>
                            </div>
                        </div>
                        <div class="row checkbox-row" >
                            <div>
                                <div class="column span-4">&nbsp;</div>
                                <div class="column span-flexible">
                                    {{ form.is_wlan_avail }}<label for="id_is_wlan_avail" class="vCheckboxLabel">{% trans "WLAN available" %}</label>
                                </div>
                            </div>
                        </div>
                        <fieldset class="module aligned collapse closed nested">
                            <h2 class="collapse-handler">{% trans "Payment options" %}</h2>
                            <div class="row">
                                <div class="cell">
                                    <div class="column span-4">&nbsp;</div>
                                    <div class="column span-6">
                                        {{ form.is_card_visa_ok }}<label for="id_is_card_visa_ok" class="vCheckboxLabel">{% trans "Visa" %}</label>
                                    </div>
                                </div>
                                <div class="cell">
                                    <div class="column span-4">&nbsp;</div>
                                    <div class="column span-flexible">
                                        {{ form.is_card_mastercard_ok }}<label for="id_is_card_mastercard_ok" class="vCheckboxLabel">{% trans "MasterCard" %}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="cell">
                                    <div class="column span-4">&nbsp;</div>
                                    <div class="column span-6">
                                        {{ form.is_card_americanexpress_ok }}<label for="id_is_card_americanexpress_ok" class="vCheckboxLabel">{% trans "American Express" %}</label>
                                    </div>
                                </div>
                                <div class="cell">
                                    <div class="column span-4">&nbsp;</div>
                                    <div class="column span-flexible">
                                        {{ form.is_paypal_ok }}<label for="id_is_paypal_ok" class="vCheckboxLabel">{% trans "PayPal" %}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="cell">
                                    <div class="column span-4">&nbsp;</div>
                                    <div class="column span-6">
                                        {{ form.is_cash_ok }}<label for="id_is_cash_ok" class="vCheckboxLabel">{% trans "Cash" %}</label>
                                    </div>
                                </div>
                                <div class="cell">
                                    <div class="column span-4">&nbsp;</div>
                                    <div class="column span-flexible">
                                        {{ form.is_transaction_ok }}<label for="id_is_transaction_ok" class="vCheckboxLabel">{% trans "Bank Transfer" %}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="cell">
                                    <div class="column span-4">&nbsp;</div>
                                    <div class="column span-6">
                                        {{ form.is_prepayment_ok }}<label for="id_is_prepayment_ok" class="vCheckboxLabel">{% trans "Prepayment" %}</label>
                                    </div>
                                </div>
                                <div class="cell">
                                    <div class="column span-4">&nbsp;</div>
                                    <div class="column span-flexible">
                                        {{ form.is_on_delivery_ok }}<label for="id_is_on_delivery_ok" class="vCheckboxLabel">{% trans "Payment on delivery" %}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="cell">
                                    <div class="column span-4">&nbsp;</div>
                                    <div class="column span-6">
                                        {{ form.is_invoice_ok }}<label for="id_is_invoice_ok" class="vCheckboxLabel">{% trans "Invoice" %}</label>
                                    </div>
                                </div>
                                <div class="cell">
                                    <div class="column span-4">&nbsp;</div>
                                    <div class="column span-flexible">
                                        {{ form.is_ec_maestro_ok }}<label for="id_is_ec_maestro_ok" class="vCheckboxLabel">{% trans "EC Maestro" %}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="cell">
                                    <div class="column span-4">&nbsp;</div>
                                    <div class="column span-flexible">
                                        {{ form.is_giropay_ok }}<label for="id_is_giropay_ok" class="vCheckboxLabel">{% trans "Giropay" %}</label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="module aligned nested">
                            <h2>{% trans "Tax info" %}</h2>
                            <div class="row{% if form.tax_id_number.errors %} errors{% endif %}">
                                <div>
                                    <div class="column span-4"><label for="id_tax_id_number"{% if form.tax_id_number.field.required %} class="required"{% endif %}>{% trans "Tax ID" %}:</label></div>
                                    <div class="column span-flexible">
                                        {{ form.tax_id_number }}
                                        {{ form.tax_id_number.errors }}
                                    </div>
                                </div>
                            </div>
                            <div class="row{% if form.vat_id_number.errors %} errors{% endif %}">
                                <div>
                                    <div class="column span-4"><label for="id_vat_id_number"{% if form.vat_id_number.field.required %} class="required"{% endif %}>{% trans "VAT ID" %}:</label></div>
                                    <div class="column span-flexible">
                                        {{ form.vat_id_number }}
                                        {{ form.vat_id_number.errors }}
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </fieldset>
                    {% include "extendedadmin/includes/fieldset_status.html" %}
                    <!-- Submit-Row -->
                    <div class="module footer">
                        <ul class="submit-row">
                            <li class="left delete-link-container"><a href="delete/" class="delete-link">Delete</a></li>
                            <li class="submit-button-container"><input type="submit" value="{% trans 'Save' %}" class="default" name="_save" /></li>
                            <li class="submit-button-container"><input type="submit" value="{% trans 'Save and add another' %}" name="_addanother" /></li>
                            <li class="submit-button-container"><input type="submit" value="{% trans 'Save and continue editing' %}" name="_continue" /></li>
                        </ul>
                    </div>
                </div>
            </form>
            <script type="text/javascript">
            //<![CDATA[
            {% if change %}
            //document.getElementById("id_slug")._changed = true;
            {% endif %}
            document.getElementById("id_title").onkeyup = function() {
                var e =  document.getElementById("id_slug");
                if(!e._changed) {
                    e.value = URLify(document.getElementById("id_title").value, 255);
                }
            };
            //]]>
            </script>
        </div>
    </div>
{% endblock %}