{% extends "cms/museumssummer_base.html" %}
{% load cms_tags i18n %}
{% block bodyclass %}museumssommer{% endblock %}

{% block content %}
	<div class="content">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="relative">
                        <img class="img-responsive museumssommer-logo" alt="{% page_attribute "title" %}" src="{{ STATIC_URL }}site/img/museumssummer/logo_{% if LANGUAGE_CODE == "de" %}de{% else %}en{% endif %}.png" />
                        <h1>{% page_attribute "title" %}</h1>
                    </div>
					{% placeholder "intro" %}
                    {% placeholder "ad" %}
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        			<div class="row">
	    				{% placeholder "main_content" %}
    				</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
					<a class="museumssommer-button" href="{% page_url "museumssommer_photo_campaign" %}"><img alt="{% trans "Quiz" %}" src="{{ STATIC_URL }}site/img/museumssummer/fotoaktion_{% if LANGUAGE_CODE == "de" %}de{% else %}en{% endif %}.png" /><img alt="{% trans "Quiz" %}" src="{{ STATIC_URL }}site/img/museumssummer/fotoaktion_hover_{% if LANGUAGE_CODE == "de" %}de{% else %}en{% endif %}.png" /></a>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                </div>
				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
					<a class="museumssommer-button" href="{% page_url "museumssommer_map" %}"><img alt="{% trans "Map" %}" src="{{ STATIC_URL }}site/img/museumssummer/map_{% if LANGUAGE_CODE == "de" %}de{% else %}en{% endif %}.png" /><img alt="{% trans "Map" %}" src="{{ STATIC_URL }}site/img/museumssummer/map_hover_{% if LANGUAGE_CODE == "de" %}de{% else %}en{% endif %}.png" /></a>
				</div>
			</div>
			<div class="row{% if not request.toolbar.edit_mode %} isotope{% endif %}">
				{% with "cms/plugins/editorial_content/ec_magazine_firstlevel_item.html" as editorial_content_template %}
					{% placeholder "magazine_overview" %}
					{% placeholder "marginal_content" %}
				{% endwith %}
			</div>
		</div>
	</div>
{% endblock %}
