{% extends "base.html" %}
{% load cms_tags %}
{% block bodyclass %}magazine_overview{% endblock %}

{% block content %}
<div class="content">
	<div class="container">
		<div class="row"> 
			<div class="col-xs-12 col-sm-12 col-md-11 col-lg-11">
				{% placeholder "intro" %}
			</div>
		</div>
	</div>
</div>

<div class="content">
	<div class="container">
		<div class="row isotope">
			{% with "cms/plugins/editorial_content/ec_shop_firstlevel_item.html" as editorial_content_template %}
				{% placeholder "shop_overview" %}
				{% placeholder "main_content" %}
				{% placeholder "marginal_content" %}
			{% endwith %}
		</div>
	</div>
</div>
{% endblock %}
