{% extends "base_ajax.html" %}
{% load i18n %}

{% block content %}
    <div id="object_list">
        {% for result in object_list %}
            <div class="list-item expanded {{ extra_css_classes|default:"" }}">
                {% if LANGUAGE_CODE == "en" %}
                    {{ result.rendered_en|safe }}
                {% else %}
                    {{ result.rendered_de|safe }}
                {% endif %}
                <script type="text/javascript">
                    //<![CDATA[
                    (function (undefined) {
                        var iIndex = aGeopositions.length;
                        aGeopositions[iIndex] = {
                            latitude: {{ result.lat }},
                            longitude: {{ result.lng }},
                            content: '<div>{% if LANGUAGE_CODE == "en" %}{{ result.rendered_en|safe|escapejs }}{% else %}{{ result.rendered_de|safe|escapejs }}{% endif %}</div>'
                        }
                    }());
                    //]]>
                </script>
                <div class="marker-link"></div>
                <div class="object-distance">
                    {{ result.get_distance }}
                </div>
            </div>
        {% empty %}
            <div>
                <p class="nothing">{% trans "No results found." %}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
