{% extends "base.html" %}
{% load base_tags i18n fb_tags image_modifications tagging_tags babel auth_extended infoblocks favorites_tags education_tags production_tags cms_tags %}

{% block title %}{% trans "Educational Department" %} – {{ object.title }} – {% endblock %}

{% block meta_tags %}
    <meta name="description" lang="{{ LANGUAGE_CODE }}" content="{{ object.title }} – {% page_attribute "title" as title %}{% page_attribute "page_title" as page_title %}{{ page_title|default:title|escape }} – Berlin Bühnen" />
    {{ site_settings.get_meta_keywords|safe }}
{% endblock %}

{% block bodyclass %}project-detail{% endblock %}

{% block open_graph %}
    <meta property="og:title" content="{{ object.title }}" />
    <meta property="og:type" content="article" />
    {% if object.image %}
        <meta property="og:image" content="{{ current_website_url }}{{ MEDIA_URL }}{{ object.image|modified_path:"og" }}" />
    {% else %}
        <meta property="og:image" content="{{ current_website_url }}{{ STATIC_URL }}site/img/berlinbuehnen_opengraph.png" />
    {% endif %}
    <meta property="og:description" content="{{ object.get_rendered_description|striptags|truncatewords:20|escape }}" />
{% endblock %}

{% block js %}
    <script src="{{ STATIC_URL }}site/js/accordion.js"></script>
    <script src="{{ STATIC_URL }}site/js/gallery.js"></script>
    <script src="{{ STATIC_URL }}site/js/list.js"></script>
    <script src="{{ STATIC_URL }}site/js/add_to_calender_1.5_atc.min.js" defer="defer"></script>
    {% include "utils/favorites_scripts.html" %}
    <!--<script src="{{ STATIC_URL }}site/js/slider.js"></script>-->
{% endblock %}

{% block content %}
    {% with object as department %}
        <div id="project" class="content details">
            <div class="container main-container">
                <div class="row">
                    <div class="col-xs-12 print-padding">
                        <a class="fawesome back uc no-print" href="{% url 'department_list' %}">{% trans "back to overview" %}</a>
                        <article>

                            <!-- headlines -->
                            <header>
                                <div class="header-icons no-print">
                                    {% if request.user.is_authenticated %}
                                        {% adding2favorites for department using "favorites/includes/favorite_detail.html" %}
                                    {% else %}
                                        {% login2favorites using "favorites/includes/favorite_detail_login.html" %}
                                    {% endif %}
                                </div>
                                <h1>{{ department.title }}
                                    {% if object.is_editable %}
                                        {% if not request.is_mobile %}
                                            <span class="cms_edit"><a class="icon icon-pencil" data-toggle="tooltip" data-placement="bottom" data-original-title="{% trans "Edit" %}" href="{% url "change_department" slug=department.slug %}">&nbsp;<span class="sr-only">{% trans "Edit" %}</span></a></span>
                                        {% endif %}
                                    {% endif %}
                                </h1>
                            </header>

                            <!-- main  part (including sidebar) -->
                            <div class="main">
                                <div class="container">
                                    <div class="row">

                                        <!-- main content -->
                                        <div class="col-xs-12 col-md-8 left">
                                            {% if department.first_image %}
                                                <div class="top-image img chevron"><img src="{{ STATIC_URL }}site/img/placeholder_rectangle.gif" data-original="{{ MEDIA_URL }}{{ department.first_image.path|modified_path:"detail_image" }}" alt="{{ department.title|escape }}"  />{% pin image=department.first_image description=department.title %}
                                                {% with department.first_image.path|file_description as file_desc %}{% if file_desc.author %}<span class="photo-credits-over">{% trans "Photo" %}: {{ file_desc.author }}</span>{% endif %}{% endwith %}</div>
                                            {% endif %}
                                            <div class="description">
                                                {{ department.get_rendered_description }}
                                            </div>
                                            {% comment %}
                                            {% if department.website %}
                                                <dl class="listing">
                                                    {% if department.website %}
                                                        <dt>{% trans "Web" %}</dt>
                                                        <dd><a href="{{ department.website }}" target="_blank" class="no-print">{{ department.website|humanize_url:80 }}</a><a href="{{ department.website }}" target="_blank" class="print">{{ department.website }}</a></dd>
                                                    {% endif %}
                                                </dl>
                                            {% endif %}
                                            {% endcomment %}
                                        </div>

                                        <!-- main sidebar -->
                                        <div class="col-xs-12 col-md-4 right">
                                            {% include "education/includes/department_sidebar.html" %}
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <!-- additional content (accordion) -->
                            <div class="additional">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xs-12 full">

                                            <!-- Projects -->
                                            {% if department.get_future_projects %}
                                                <div class="additional-list list row">
                                                    <h4 class="additional-list-head">{% trans "Projects" %}</h4>
                                                    {% for project in department.get_future_projects %}
                                                        <div class="list-item col-xs-12">
                                                            <div class="row">

                                                                <!-- list item head (date and image) -->
                                                                <div class="list-item-head col-xs-12 col-sm-5 col-md-4 col-lg-3">
                                                                    <div class="row">

                                                                        <!-- date -->
                                                                        {% with event=project.get_next_event %}
                                                                            <div class="list-item-head-date col-xs-12 col-sm-4">
                                                                                <div class="row">
                                                                                    {% if event.start %}
                                                                                        {% comment %}
                                                                                        <div class="list-item-head-date-day col-xs-3 col-sm-12">
                                                                                            {{ date|date:"D" }}
                                                                                        </div>
                                                                                        {% endcomment %}
                                                                                        <div class="list-item-head-date-month col-xs-3 col-sm-12">
                                                                                            <span class="hidden-xs">
                                                                                                {{ event.start|date:"j. F" }}
                                                                                                {% if event.end %} - <br /> {{ event.end|date:"j. F" }}{% endif %}
                                                                                            </span>
                                                                                            <span class="visible-xs">
                                                                                                {{ event.start|date:"j. M" }}
                                                                                                {% if event.end %} - <br />{{ event.end|date:"j. M" }}{% endif %}
                                                                                            </span>
                                                                                        </div>
                                                                                    {% else %}
                                                                                        <div class="list-item-head-date-none col-xs-3 col-sm-12">
                                                                                            {% trans "continuous project" %}
                                                                                        </div>
                                                                                    {% endif %}
                                                                                    <div class="list-item-head-date-type col-xs-3 col-sm-12 {% if not event.start %}no-date{% endif %}">
                                                                                        {% for format in project.format.all %}
                                                                                            <span>{{ format.title }}</span>
                                                                                        {% endfor %}
                                                                                    </div>
                                                                                    {% if event.start %}
                                                                                        <div class="list-item-head-date-time col-xs-3 col-sm-12">
                                                                                            {{ event.start|time:"H:i" }}
                                                                                        </div>
                                                                                    {% endif %}
                                                                                    <div class="list-item-head-date-icons col-xs-3 col-sm-12">
                                                                                        {% if request.user.is_authenticated %}
                                                                                            {% adding2favorites for project using "favorites/includes/favorite_detail.html" %}
                                                                                        {% else %}
                                                                                            {% login2favorites using "favorites/includes/favorite_detail_login.html" %}
                                                                                        {% endif %}
                                                                                        {% if project.get_next_event %}{% add_to_calender_education event=project.get_next_event department=department %}{% endif %}
                                                                                        {% if project.tickets_website %}
                                                                                            <a class="fawesome tickets" href="{{ project.tickets_website }}" target="_blank" data-toggle="tooltip" data-placement="top" title="{% trans "Tickets" %}" data-tooltip-left="-10,.is-xs"><span class="sr-only">{% trans "Tickets" %}</span></a>
                                                                                        {% endif %}
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        {% endwith %}

                                                                        <!-- image -->
                                                                        <div class="list-item-head-image img hidden-xs col-sm-8">
                                                                            {% if project.first_image %}
                                                                                <img src="{{ MEDIA_URL }}{{ project.first_image.path|modified_path:"list_image" }}{% if project.is_editable %}?now={% now "YmdHis" %}{% endif %}" alt="{{ project.title|escape }}" />
                                                                                {% with project.first_image.path|file_description as file_desc %}
                                                                                    {% if file_desc.author %}<span class="photo-credits-over">{% trans "Photo" %}: {{ file_desc.author }}</span>{% endif %}
                                                                                {% endwith %}
                                                                            {% elif department.first_image %}
                                                                                <img src="{{ MEDIA_URL }}{{ department.first_image.path|modified_path:"list_image" }}{% if project.is_editable %}?now={% now "YmdHis" %}{% endif %}" alt="{{ project.title|escape }}" />
                                                                                {% with department.first_image.path|file_description as file_desc %}
                                                                                    {% if file_desc.author %}<span class="photo-credits-over">{% trans "Photo" %}: {{ file_desc.author }}</span>{% endif %}
                                                                                {% endwith %}
                                                                            {% else %}
                                                                                <img src="{{ STATIC_URL }}site/img/placeholder_event.png" />
                                                                            {% endif %}
                                                                        </div>

                                                                    </div>
                                                                </div>

                                                                <!-- list item body -->
                                                                <div class="list-item-body col-xs-12 col-sm-7 col-md-8 col-lg-9">
                                                                    <a class="list-item-link" href="{% if project.get_next_event %}{% url "project_event_detail" slug=project.slug event_id=project.get_next_event.id %}{% else %}{% url "project_detail" slug=project.slug %}{% endif %}">
                                                                        <h2>{{ project.title }}</h2>
                                                                        {% if project.subtitle %}<h3>{{ project.subtitle }}</h3>{% endif %}
                                                                        {% if project.description %}<div class="copy" {% if project.target_group.all %}data-bottom-space="25"{% endif %}><p>{{ project.description }}</p></div>{% endif %}
                                                                        {% if project.target_group.all %}
                                                                            <div class="target">
                                                                            {% for target in project.target_group.all %}
                                                                                <span>{{ target }}</span>
                                                                            {% endfor %}
                                                                            </div>
                                                                        {% endif %}
                                                                    </a>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            {% endif %}

                                            <!-- Gallery -->
                                            {% if department.image_set.exists %}
                                                <div class="gallery row">
                                                    <h4 class="gallery-head">{% trans "Gallery" %}</h4>
                                                    {% for image in department.image_set.all %}
                                                        <div class="col-xs-12 col-sm-6 col-md-4 image gallery-item img chevron">
                                                            {% with image.path|file_description as file_desc %}
                                                                <img class="gallery-image" src="{{ STATIC_URL }}site/img/placeholder_rectangle.gif" data-original="{{ MEDIA_URL }}{{ image.path|modified_path:"gallery_image" }}" alt="{% if file_desc.description %}{{ file_desc.description|escape }}{% endif %}" width="100%" data-image-big="{{ MEDIA_URL }}{{ image.path }}" />{% with image.path|file_description as file_desc %}{% if file_desc.author %}<span class="photo-credits-over">{% trans "Photo" %}: {{ file_desc.author }}</span>{% endif %}{% endwith %}{% pin image=image description=department.title %}
                                                                <div class="gallery-image-text">
                                                                    <div class="gallery-image-text-description">
                                                                        {% if file_desc.title %}
                                                                            <span class="gallery-image-text-description-title">{{ file_desc.title }}</span>
                                                                        {% endif %}
                                                                        {% if file_desc.description %}
                                                                            <span class="gallery-image-text-description-copy">{{ file_desc.description }}</span>
                                                                        {% endif %}
                                                                        {% if file_desc.author %}
                                                                            <span class="gallery-image-text-description-author">{% trans "Photo" %}: {{ file_desc.author }}</span>
                                                                        {% endif %}
                                                                    </div>
                                                                    {% if file_desc.copyright_limitations %}
                                                                        <div class="gallery-image-text-copyright">{% trans "Copyright" %}: {{ file_desc.copyright_limitations }}</div>
                                                                    {% endif %}
                                                                </div>
                                                            {% endwith %}
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            {% endif %}

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </article>
                    </div>
                </div>
            </div>
        </div>
    {% endwith %}
    {% include "utils/page_controls.html" %}
{% endblock %}
