{% extends "base.html" %}
{% load base_tags i18n fb_tags image_modifications tagging_tags babel auth_extended infoblocks favorites production_tags %}
{% block title %}{% trans "Educational Project" %} – {{ object.title }} – {% endblock %}
{% block bodyclass %}project-detail{% endblock %}

{% block open_graph %}
    <meta property="og:title" content="{{ object.title }}" />
    <meta property="og:type" content="article" />
    {% if object.image %}
        <meta property="og:image" content="{{ current_website_url }}{{ MEDIA_URL }}{{ object.image|modified_path:"og" }}" />
    {% else %}
        <meta property="og:image" content="{{ current_website_url }}{{ STATIC_URL }}site/img/berlinbuehnen_opengraph.png" />
    {% endif %}
    <meta property="og:url" content="{{ object.get_url }}" />
    <meta property="og:site_name" content="Berlin Bühnen" />
    <meta property="og:description" content="{{ object.get_rendered_description|striptags|truncatewords:20|escape }}" />
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/accordion.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/gallery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/list.js"></script>
    <!--<script type="text/javascript" src="{{ STATIC_URL }}site/js/slider.js"></script>-->
{% endblock %}

{% block content %}
    {% with object as department %}
        <div id="project" class="content details">
            <div class="container main-container">
                <div class="row">
                    <div class="col-xs-12">
                        <a class="fawesome back uc" href="{% url 'education_list' %}">{% trans "back to overview" %}</a>
                        <article>
                            
                            <!-- headlines -->
                            <header>
                                <h1>{{ department.title }}
                                    {% if_has_perm "education.change_department" object %}
                                        {% if not request.is_mobile %}
                                            <span class="cms_edit"><a class="icon icon-pencil" data-toggle="tooltip" data-placement="bottom" data-original-title="{% trans "Edit" %}" href="{{ request.path }}change/">&nbsp;<span class="sr-only">{% trans "Edit" %}</span></a></span>
                                        {% endif %}
                                    {% end_if_has_perm %}
                                </h1>
                            </header>
                            
                            <!-- main  part (including sidebar) -->
                            <div class="main">
                                <div class="container">
                                    <div class="row">
                                        
                                        <!-- main content -->
                                        <div class="col-xs-12 col-md-8 left">
                                            {% if department.first_image %}
                                                <div class="top-image img"><img src="{{ STATIC_URL }}site/img/placeholder_rectangle.gif" data-original="{{ MEDIA_URL }}{{ department.first_image.path|modified_path:"detail_image" }}" alt="{{ department.title|escape }}"  /></div>
                                            {% elif department.image_set.exists %}
                                                {% with department.image_set.all|first as first %}
                                                    <div class="top-image img"><img src="{{ STATIC_URL }}site/img/placeholder_rectangle.gif" data-original="{{ MEDIA_URL }}{{ first.path|modified_path:"detail_image" }}" alt="{{ department.title|escape }}"  /></div> 
                                                {% endwith %}
                                            {% elif department.location.first_image %}
                                                <div class="top-image img"><img src="{{ STATIC_URL }}site/img/placeholder_rectangle.gif" data-original="{{ MEDIA_URL }}{{ department.location.first_image.path|modified_path:"detail_image" }}" alt="{{ department.title|escape }}"  /></div>
                                            {% elif department.image_set.exists %}
                                                {% with department.location.image_set.all|first as first %}
                                                    <div class="top-image img"><img src="{{ STATIC_URL }}site/img/placeholder_rectangle.gif" data-original="{{ MEDIA_URL }}{{ first.path|modified_path:"detail_image" }}" alt="{{ department.title|escape }}"  /></div> 
                                                {% endwith %}
                                            {% endif %}
                                            <div class="description">
                                                {{ department.get_rendered_description }}
                                            </div>
                                            {% comment %}
                                            {% if department.website %}
                                                <dl class="listing">
                                                    {% if department.website %}
                                                        <dt>{% trans "Web" %}</dt>
                                                        <dd><a href="{{ department.website }}" target="_blank" class="no-print">{{ department.website|humanize_url:80 }}</a><a href="{{ department.website }}" target="_blank" class="print">{{ department.website }}</a></dd>
                                                    {% endif %}
                                                </dl>
                                            {% endif %}
                                            {% endcomment %}
                                        </div>
                                        
                                        <!-- main sidebar -->
                                        <div class="col-xs-12 col-md-4 right">
                                            {% include "education/includes/education_sidebar.html" %}
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                                    
                            
                            <!-- additional content (accordion) -->
                            <div class="additional">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xs-12 full">
                                            
                                            <!-- Program -->
                                            <div class="additional-list list row">
                                                <h4 class="additional-list-head">{% trans "Projects" %}</h4>
                                                <a class="additional-list-more fawesome down after" href="javascript:void(0);">{% trans 'more' %}</a>
                                            </div>
                                            
                                            <!-- Gallery -->
                                            {% if department.image_set.exists %}
                                                <div class="gallery row">
                                                    <h4 class="gallery-head">{% trans "Gallery" %}</h4>
                                                    {% for image in department.image_set.all %}
                                                        <div class="col-xs-12 col-sm-6 col-md-4 image gallery-item img">
                                                            {% with image.path|file_description as file_desc %}
                                                                <img class="gallery-image" src="{{ STATIC_URL }}site/img/placeholder_rectangle.gif" data-original="{{ MEDIA_URL }}{{ image.path|modified_path:"gallery_image" }}" alt="{% if file_desc.description %}{{ file_desc.description|escape }}{% endif %}" width="100%" data-image-big="{{ MEDIA_URL }}{{ image.path }}" />
                                                                <div class="gallery-image-text">
                                                                    <div class="gallery-image-text-description">
                                                                        {% if file_desc.title %}
                                                                            <span class="gallery-image-text-description-title">{{ file_desc.title }}</span>
                                                                        {% endif %}
                                                                        {% if file_desc.description %}
                                                                            <span class="gallery-image-text-description-copy">{{ file_desc.description }}</span>
                                                                        {% endif %}
                                                                        {% if file_desc.author %}
                                                                            <span class="gallery-image-text-description-author">{% trans "Photo" %}: {{ file_desc.author }}</span>
                                                                        {% endif %}
                                                                    </div>
                                                                    {% if file_desc.copyright_limitations %}
                                                                        <div class="gallery-image-text-copyright">{% trans "Copyright" %}: {{ file_desc.copyright_limitations }}</div>
                                                                    {% endif %}
                                                                </div>
                                                            {% endwith %}
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </article>
                    </div>
                </div>
            </div>
        </div>
    {% endwith %}
    {% include "utils/page_controls.html" %}
{% endblock %}