<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Museumsportal Berlin {% block title %}{% endblock %}</title>
    <link rel="icon" href="{{ STATIC_URL }}site/img/favicon.ico" type="image/png">
    <link href="{{ STATIC_URL }}site/css/reset.css" rel="stylesheet" media="screen" type="text/css" />
    <link href="{{ STATIC_URL }}site/css/twitterwall_box.css" rel="stylesheet" media="screen" type="text/css" />
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
</head>
<body>

    <div class="tweet-box">
        <div id="tweets" class="tweet-list">
            {% for tweet in tweets %}
                {% include "twitterwall/box_tweet.html" %}
            {% endfor %}
        </div>
    </div>

    <script type="text/javascript">
        (function($, undefined) {
            var loading_timeout = null;
            var view_timeout = null;
            var logo_timeout = null;
            var LOADING_TIMEOUT_DELAY = 5000;
            var VIEW_TIMEOUT_DELAY = 3000;
            var LOGO_TIMEOUT_DELAY = 15000;
            var TRANSITION_DURATION = 500;

            function insert_logo() {
                // inserts a logo after the first or the entering tweet
                $('<div class="tweet logo">Send a tweet with a hash tag #50ThingsAboutMe</div>')
                .insertAfter($('.tweet').filter('.active,.in').get(0));
                logo_timeout = setTimeout(insert_logo, LOGO_TIMEOUT_DELAY);
            }

            function load_tweets() {
                var $tweets = $('#tweets');
                var url = "{% url load_tweets %}";
                var since_id = $tweets.find('.tweet:last').data("tweet-id");
                if (since_id) {
                    since_id = since_id.replace(/t/, "");
                    url += "?since_id=" + since_id;
                }
                $.get(url, function(data) {
                    $tweets.append(data);
                    loading_timeout = setTimeout(load_tweets, LOADING_TIMEOUT_DELAY);
                }, "html");
            }

            function show_next_tweet() {
                $('.tweet:eq(0)').addClass('out');
                $('.tweet:eq(1)').addClass('in').delay(TRANSITION_DURATION).queue(function() {
                    $('.tweet:eq(1)').addClass('active').removeClass('in');
                    $('.tweet:eq(0)').remove();
                    $(this).dequeue();
                    view_timeout = setTimeout(show_next_tweet, VIEW_TIMEOUT_DELAY);
                });
            }

            $(document).ready(function() {
                loading_timeout = setTimeout(load_tweets, LOADING_TIMEOUT_DELAY);
                view_timeout = setTimeout(show_next_tweet, VIEW_TIMEOUT_DELAY);
                logo_timeout = setTimeout(insert_logo, LOGO_TIMEOUT_DELAY);
            });
        }(jQuery))
    </script>
</body>
</html>
