<div class="tweet" data-tweet-id="t{{ tweet.id }}" data-tweet-url="http://twitter.com/{{ tweet.user.screen_name }}/status/{{ tweet.id_str }}">
    <div class="tweet-header clearfix">
        <a href="http://twitter.com/{{ tweet.user.screen_name }}/" title="{{ tweet.user.name }}" target="_blank">
            <img class="avatar" src="{{ tweet.user.profile_image_url }}" alt="{{ tweet.user.screen_name }}" />
            <small class="time">{{ tweet.creation_date|date:"j.M Y H:i" }}</small> -
            <small class="fullname">
                {{ tweet.user.name }} /
                <span class="username">@{{ tweet.user.screen_name }}</span>
            </small>
        </a>
    </div>
    <div class="tweet-text">
        <p>{{ tweet.html|safe }}</p>
    </div>
    <div class="tweet-media">
        {% for tweet_media in tweet.tweetmedia_set.all %}
            <img src="{{ tweet_media.media_url }}:medium" alt="" data-large-src="{{ tweet_media.media_url }}:large" />
        {% endfor %}
    </div>
</div>
