{% extends "bulletin_board/bulletin_list.html" %}
{% load i18n image_mods_tags cms_tags base_tags crispy_forms_tags %}

{% block bodyclass %}count{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/jquery/autocomplete_1.0/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/jquery/autocomplete_1.0/jquery.autocomplete.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/jquery/autocomplete_1.0/jquery.bgiframe.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/autocomplete.js"></script>

{% endblock %}

{% block headline %}
    <h1>{% page_attribute "page_title" %}</h1>
    <h2>{% trans "New Bulletin" %}</h2>
{% endblock %}

{% block search_bar %}
{% endblock %}
 
{% block breadcrumbs %}
    <li><a href="{% url "bulletin_list" %}">{% page_attribute "page_title" %}</a></li>
    <li>{% trans "My Bulletins" %}</li>
    {% if bulletin %}
        <li>{{ bulletin.title }} ({% if bulletin.status == "published" %}{% trans "Published" %}{% else %}{% trans "Draft" %}{% endif %})</li>
    {% else %}
        <li>{% trans "Create Bulletin" %}</li>
    {% endif %}
{% endblock %}

{% block sidebar %}
    {% include "utils/step_list.html" %}
{% endblock %}

{% block details %}
    {% crispy form "kb_form" %}
{% endblock %}
