{% load base_tags i18n %}
{% if group.is_membership_requestable %}
    <li class="request_membership">
        <a href="#Join-Group"
           rel="nofollow"
           title="{% trans "Join Group" %}"
           onclick="GroupMembershipManager.request('{{ group.slug }}'); window.cancelEvent(event);"
           id="group_membership_request_{{ group.slug }}">
            <span>{% blocktrans with group.get_title as group_name %}Join {{ group_name }}{% endblocktrans %}</span></a>
    </li>
{% endif %}
{% if group.is_member_request_cancelable %}
    <li class="cancel_member_request">
        <a href="#Cancel-Joining"
           rel="nofollow"
           title="{% trans "Cancel Joining" %}"
           onclick="GroupMembershipManager.cancel('{{ group.slug }}'); window.cancelEvent(event);"
           id="group_membership_cancel_{{ group.slug }}">
            <span>{% blocktrans with group.get_title as group_name %}Cancel {{ group_name }} joining{% endblocktrans %}</span>
        </a>
    </li>
{% endif %}
{% if group.is_membership_removable %}
    <li class="remove_membership">
        <a href="#Leave-Group"
           rel="nofollow"
           title="{% trans "Leave Group" %}"
           onclick="GroupMembershipManager.remove('{{ group.slug }}'); window.cancelEvent(event);"
           id="group_membership_remove_{{ group.slug }}">
            <span>{% blocktrans with group.get_title as group_name %}Leave {{ group_name }}{% endblocktrans %}</span>
        </a>
    </li>
{% endif %}
{% if group.is_member_invitation_acceptable %}
    <li class="accept_member_invitation">
        <a href="#Accept-Invitation"
           rel="nofollow"
           title="{% trans "Accept Invitation" %}"
           onclick="GroupMembershipManager.accept_group('{{ group.slug }}'); window.cancelEvent(event);"
           id="group_membership_accept_group_{{ group.slug }}">
            <span>{% blocktrans with group.get_title as group_name %}Accept invitation to {{ group_name }}{% endblocktrans %}</span>
        </a>
    </li>
{% endif %}
{% if group.is_member_invitation_denyable %}
    <li class="deny_member_invitation">
        <a href="#Deny-Invitation"
           rel="nofollow"
           title="{% trans "Deny Invitation" %}"
           onclick="GroupMembershipManager.deny_group('{{ group.slug }}'); window.cancelEvent(event);"
           id="group_membership_deny_group_{{ group.slug }}">
            <span>{% blocktrans with group.get_title as group_name %}Deny invitation to {{ group_name }}{% endblocktrans %}</span>
        </a>
    </li>
{% endif %}
