{% extends "media_gallery/portfolio_base.html" %}
{% load i18n %}

{% block details %}
    <form action="" method="post">{% csrf_token %}
        <div class="fieldset editable">
            <fieldset>
                <h2>{% trans "Delete Landing Page Image?" %}</h2>
                <h3>
                    {% if section.title %}
                        {% blocktrans trimmed with section_title=section.title %}Do you really want to delete
                    portfolio section "{{ section_title }}" and albums in it?{% endblocktrans %}
                    {% else %}
                        {% blocktrans trimmed %}Do you really want to delete the untitled portfolio section and
                    albums in it?{% endblocktrans %}
                    {% endif %}
                </h3>
            </fieldset>
        </div>

        <div class="button-group form-buttons">
            <a href="{{ request.META.HTTP_REFERER }}" class="button">{% filter upper %}{% trans 'Cancel' %}{% endfilter %}</a>
            <input id="id_delete" class="button danger" type="submit"
                   value="{% filter upper %}{% trans 'Delete' %}{% endfilter %}" />
        </div>
    </form>
{% endblock %}
