{% extends "base.html" %}
{% load i18n navigation_tags infoblocks cms_tags %}

{% block meta_tag_robots %}
    <meta name="robots" content="noindex,nofollow"/>
{% endblock %}

{% block title %}
    {% trans "Project" %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                {% with icon_css_class="fa-rocket" created_object_url=request.httpstate.created_gallery_url %}
                    {% infoblock "gallery_created" using "blocks/object_created.html" %}
                {% endwith %}
            </div>
        </div>
        <div class="row job-list padding-40">
            {% include "marketplace/includes/latest_job_offers.html" %}
        </div>
        <div class="row">
            <div class="col-xs-12 padding-20">
                <a href="{% url "job_offer_list_global" %}" class="btn btn-large btn-primary">{% trans "Find a job now" %}</a>
            </div>
        </div>
    </div>
{% endblock %}
