{% extends "media_gallery/portfolio_base.html" %}
{% load i18n base_tags auth_extended infoblocks image_mods_tags babel %}

{% block object_controls %}
    <div class="portfolio-controls">
        <a class="published-albums"
            href="{{ object.get_url_path }}portfolio/manage/?show=published">{% trans "Published" %}</a>
        |
        <a class="draft-albums"
            href="{{ object.get_url_path }}portfolio/manage/?show=unpublished">{% trans "Unpublished" %}</a>
         | 
        <a class="all-albums active" href="{{ object.get_url_path }}portfolio/manage/">{% trans "All projects" %}</a>
    </div>
{% endblock %}

{% block additional_controls %}
    <div class="media_nav">
        <div class="right">
            <a class="portfolio-manage active"
                href="{{ object.get_url_path }}portfolio/manage/"><span><span>{% trans "All projects" %}</span></span>
            </a>
            <a class="portfolio-add"
                href="{{ object.get_url_path }}portfolio/album/add/"><span><span>{% trans "Add project" %}</span></span>
            </a>
        </div>
    </div>
{% endblock %}

{% block details %}
    <div class="sections">
        {% for section, galleries in section_list %}
            <div class="section" id="section_{{ section.get_token }}">

                <div class="section_header" style="display: none">
                    <h4 class="section-title">{{ section.title }}{% if not section.show_title %}
                        {% trans "(title not shown in public)" %}{% endif %}</h4>

                    <div class="section_tools">
                        <a href="{{ object.get_url_path }}portfolio/section/{{ section.get_token }}/change/"
                            class="edit_settings"><span><span>{% trans "Settings" %}</span></span></a>
                        <a href="{{ object.get_url_path }}portfolio/section/{{ section.get_token }}/delete/"
                            class="delete"><span><span>{% trans "Delete" %}</span></span></a>
                        <span class="ui-dragging-handle"><span><span>{% trans "Drag" %}</span></span></span>
                    </div>
                </div>

                <div class="section_meta" style="display: none">
                    <div class="meta_informations">
                        <span class="">{% if section.show_title %}{% trans "Title shown in public" %}{% else %}
                            {% trans "Title not shown in public" %}{% endif %}</span><br/>
                        <span class="">{% trans "Created" %}: {{ section.creation_date|datefmt:"medium" }}</span><br/>
                        <span class="">{% trans "Last Edited" %}: {{ section.modified_date|datefmt:"medium" }}</span><br/>
                    </div>

                    <div class="meta_tools">
                        <span class="add-media"></span>
                        <a class="add_album"
                            href="{{ object.get_url_path }}portfolio/album/add/?section={{ section.get_token }}">
                            <span><span>{% trans "Add album" %}</span></span></a>
                    </div>
                </div>
                <div class="section-form">
                </div>
                <div class="galleries">
                    {% for gallery in galleries %}
                        <div class="gallery {% if gallery.status %}published{% else %}draft{% endif %}"
                            id="gallery_{{ gallery.get_token }}">
                            {% if gallery.cover_image %}
                                <img width="75"
                                    height="75"
                                    src="{{ UPLOADS_URL }}{{ gallery.cover_image.path|modified_path:"gt" }}?now={% now "YmdHi" %}"
                                    alt=""/>
                            {% else %}
                                {% if gallery.mediafile_set.count %}
                                    <img
                                        src="{{ gallery.mediafile_set.all.0.get_thumbnail_url }}?now={% now "YmdHis" %}"
                                        alt=""/>
                                {% else %}
                                    <img src="{{ STATIC_URL }}site/img/website/placeholder/upload_image.png" alt=""/>
                                {% endif %}
                            {% endif %}
                            <!--<h5 class="gallery_title">{{ gallery.title }}</h5>-->
                            <span class="portfolio_tools">
                                {% if gallery.get_recroppable_thumbnail_path %}
                                    <a href="{% cropping_url gallery.get_recroppable_thumbnail_path "gt" request request.path %}"
                                        class="recrop_link">
                                        <span><span>{% trans "Adjust image" %}</span></span>
                                    </a>
                                {% endif %}
                                <a href="{{ object.get_url_path }}portfolio/album/{{ gallery.get_token }}/change/"
                                    class="edit_settings"><span><span>{% trans "Settings" %}</span></span></a>
                                <a href="{{ object.get_url_path }}portfolio/album/{{ gallery.get_token }}/manage/"
                                    class="edit_content"><span><span>{% trans "Content" %}</span></span></a>
                                <a href="{{ object.get_url_path }}portfolio/album/{{ gallery.get_token }}/delete/"
                                    class="delete"><span><span>{% trans "Delete" %}</span></span></a>
                                <span class="ui-dragging-handle"><span><span>{% trans "Drag" %}</span></span></span>
                            </span>
                        </div>
                    {% endfor %}

                </div>

            </div>
        {% endfor %}
    </div>

    <div id="new_section">
    </div>

    <div>
        <a href="../album/add/">{% trans "Add project" %}</a>
    </div>

    <script type="text/javascript">
        (function ($) {
            $('html').ajaxSend(function (event, xhr, settings) {
                function getCookie(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie != '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            var cookie = jQuery.trim(cookies[i]);
                            // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }

                if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                    // Only send the token to relative URLs i.e. locally.
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                }
            });

            var in_progress = false;

            function set_work_in_progress() {
                in_progress = true;
                $(".sections").sortable("disable");
                $(".galleries").sortable("disable");
            }

            function unset_work_in_progress() {
                $(".sections").sortable("enable");
                $(".galleries").sortable("enable");
                in_progress = false;
            }

            function update_parenting_and_ordering(event, ui) {
                if (in_progress) {
                    return
                }
                set_work_in_progress();
                var sections = [];
                $(".section").each(function () {
                    var section_token = $(this).attr("id").replace(/section_/, "");
                    var galleries = [];
                    $(this).find(".gallery").each(function () {
                        var gallery_token = $(this).attr("id").replace(/gallery_/, "");
                        galleries.push(gallery_token)
                    });
                    sections.push([section_token, galleries.join(",")].join(":"));
                });
                $.post(
                    ".",
                    {parenting_and_ordering: sections.join("|")},
                    function () {
                        unset_work_in_progress();
                        $("<div>").addClass("ui-status-message").html(
                            gettext("Sorting order saved")
                        ).appendTo($("body")).fadeOut(3000, function () {
                                $(this).remove();
                            });
                    }
                );
            }

            $(document).ready(function () {
                $(document).bind("dragstart", function (event) {
                    if (event.target.nodeName.toUpperCase() == "IMG") {
                        return false;
                    }
                });
                $(".sections").sortable({
                    axis: "y",
                    cursor: "move",
                    handle: ".ui-dragging-handle",
                    placeholder: "ui-section-placeholder",
                    update: update_parenting_and_ordering
                });
                $(".galleries").sortable({
                    /*axis: "y",*/
                    connectWith: ".galleries",
                    cursor: "move",
                    handle: ".ui-dragging-handle",
                    placeholder: "ui-gallery-placeholder",
                    update: update_parenting_and_ordering
                });
                $("#add_section").click(function () {
                    var sURL = $(this).attr("href");
                    $("#new_section").load(sURL + " #create_update_section", function () {
                        $('<input type="button" class="secondaryAction" value="' + gettext('Cancel') + '">').click(function () {
                            $("#new_section").html("");
                            unset_work_in_progress();
                            $("#add_section").show();
                        }).prependTo(
                            $("#new_section").find(":submit").parent()
                        );
                        $("#new_section").find("form").submit(function () {
                            $(this).attr("action", sURL);
                        });
                    }).autoscroll();
                    set_work_in_progress();
                    $("#add_section").hide();
                    return false;
                });
                var $oSections = $(".section");
                $oSections.each(function () {
                    var $oSection = $(this);
                    $(this).find(".change-section").click(function () {
                        var sURL = $(this).attr("href");
                        $oSection.find(".section-form").load(sURL + " #create_update_section", function () {
                            $oSection.find(".section-title,.section-controls").hide();
                            $('<input type="button" class="secondaryAction" value="' + gettext('Cancel') + '">').click(function () {
                                $oSection.find(".section-form").html("");
                                unset_work_in_progress();
                                $oSection.find(".section-title,.section-controls").show();
                            }).prependTo(
                                $oSection.find(".section-form").find(":submit").parent()
                            );
                            $oSection.find(".section-form").find("form").submit(function () {
                                $(this).attr("action", sURL);
                            });
                        }).autoscroll();
                        set_work_in_progress();
                        return false;
                    });
                    $(this).find(".delete-section").click(function () {
                        var sURL = $(this).attr("href");
                        $oSection.find(".section-form").load(sURL + " #delete_section", function () {
                            $oSection.find(".section-title,.section-controls").hide();
                            $('<input type="button" class="secondaryAction" value="' + gettext('Cancel') + '">').click(function () {
                                $oSection.find(".section-form").html("");
                                unset_work_in_progress();
                                $oSection.find(".section-title,.section-controls").show();
                            }).prependTo(
                                $oSection.find(".section-form").find(":submit").parent()
                            );
                            $oSection.find(".section-form").find("form").submit(function () {
                                $(this).attr("action", sURL);
                            });
                        }).autoscroll();
                        set_work_in_progress();
                        return false;
                    });
                });
                $('.published-albums').click(function () {
                    $(this).addClass("active");
                    $('.draft-albums,.all-albums').removeClass("active");
                    $(".gallery.draft").animate({"opacity": ".20"});
                    $(".gallery.published").animate({"opacity": "1.00"});
                    return false;
                });
                $('.draft-albums').click(function () {
                    $(this).addClass("active");
                    $('.published-albums,.all-albums').removeClass("active");
                    $(".gallery.draft").animate({"opacity": "1.00"});
                    $(".gallery.published").animate({"opacity": ".20"});
                    return false;
                });
                $('.all-albums').click(function () {
                    $(this).addClass("active");
                    $('.published-albums,.draft-albums').removeClass("active");
                    $(".gallery").animate({"opacity": "1.00"});
                    return false;
                })

            });
        }(jQuery));
    </script>
{% endblock %}
