{% extends "media_gallery/portfolio_base.html" %}
{% load i18n base_tags auth_extended infoblocks image_mods_tags uni_form_tags %}

{% block details %}
    <h4>{% trans "Portfolio Settings" %}</h4>
    <div class="portfolio">
        <form action="." method="post" enctype="multipart/form-data" class="uniForm">{% csrf_token %}
            <div id="media_file_editing">
                <fieldset class="inlineLabels">
                    <h3>{% trans "Landing page" %}</h3>
                    {{ form.landing_page|as_uni_field }}

                    <h3>{% trans "Image for landing page" %}</h3>
                    <ul>
                        <li class="preview_img">
                            {% if portfolio_settings.landing_page_image %}
                                <img src="{{ UPLOADS_URL }}{{ portfolio_settings.landing_page_image|modified_path:"article" }}"
                                    alt="{% trans "Image for landing page" %}"/>
                            {% else %}
                                <img src="{{ STATIC_URL }}site/img/website/placeholder/upload_image.png"
                                    alt="{{ object.get_title|escape }}"/>
                            {% endif %}
                        </li>
                        <li class="insert_img">
                            {{ form.landing_page_image }}
                            {{ form.landing_page_image.error_tag }}
                            <label class="label_input_img">
                                {{ form.landing_page_image.help_text }}
                            </label>
                        </li>
                        <li class="insert_img">
                            <input type="submit" class="button_good left"
                                value="{% filter upper %}{% trans "Upload" %}{% endfilter %}" name="save_continue"/>
                        </li>
                        <li>
                            {% if portfolio_settings.landing_page_image %}
                                <a href="{{ object.get_url_path }}{{ URL_ID_PORTFOLIO }}/settings/delete-landing-page-image/">
                                    {% trans "Delete image" %}
                                </a>
                            {% endif %}
                        </li>
                    </ul>
                    <div class="buttonHolder">
                        <input type="submit" class="primaryAction"
                            value="{% filter upper %}{% trans "Save" %}{% endfilter %}"/>
                    </div>
                </fieldset>
            </div>
        </form>
    </div>
{% endblock %}
