{% load base_tags i18n auth_extended forum babel image_mods_tags %}

{% include_selected "forum_actions.html" for object under "forum" %}

{% get_forum_children for container as root_forums %}

{% if root_forums %}
   	{% for current_forum in root_forums %}
		<div class="forum-block">
            <h3><a href="{{ current_forum.get_url }}">{{ current_forum.short_title|escape }}</a></h3>
		</div>
		{% get_forum_children for current_forum as forum_children %}
		
		{% for forum_child in forum_children %}
            <h4>
                <a id="{{ forum_child.slug }}" href='{{ forum_child.get_url }}'>{{ forum_child.title|escape }}</a>
            </h4>
		{% endfor %}
	{% endfor %}
{% else %}        
	<p class="nothing">{% trans "No forums are available yet" %}</p>
{% endif %}
  	
