{% extends "media_gallery/portfolio_base.html" %}
{% load i18n %}

{% block details %}
    <div id="delete_gallery">
        <form action="" method="post" class="uniForm">{% csrf_token %}
            <p class="disclaimer">{% blocktrans with gallery.title as gallery_title %}Do you really want to delete the
                album "{{ gallery_title }}" and its media files?{% endblocktrans %}</p>

            <div class="buttonHolder">
                <input type="submit" value="Delete" class="primaryAction"/>
            </div>
        </form>
    </div>
{% endblock %}
