{% extends "base.html" %}
{% load base_tags i18n image_modifications %}

{% block content %}
    <div class="marginal">
        <div id="kurze_zeit">
	        <h2 class="catHead">→ Nur Noch kurze Zeit</h2>
	        {% get_objects closing_soon exhibitions.Exhibition 5 as exhibitions_closing_soon %}
	        {% for exhibition in exhibitions_closing_soon %}
	            <div>
	                {% if exhibition.image %}
	                    <a class="img" href="{% url exhibition_detail slug=exhibition.slug %}"><img src="{{ MEDIA_URL }}{{ exhibition.image|modified_path:"exhibition_thumbnail" }}" alt="" /></a>
	                {% endif %}
	                <h4>{{ exhibition.museum.title }}</h4>
	                <h3>{{ exhibition.title }}</h3>
	                <h5>bis {{ exhibition.end|date:"j.n.y" }}</h5>
	                <a class="proceed" href="{% url exhibition_detail slug=exhibition.slug %}">{% trans "more" %}</a>
	            </div>
	        {% endfor %}
        </div>
    </div>
    
    <div id="detail" class="">
    {% with object as exhibition %}
        <div class="article">
            {% if exhibition.image %}
                <div class="article_img">
                    <img src="{{ MEDIA_URL }}{{ exhibition.image|modified_path:"exhibition_list" }}" />
                    <div class="image_caption">
                        {{ exhibition.image_caption }}
                    </div>
                </div>
            {% endif %}
            <h2>{{ exhibition.title }}</h2>
            {% if exhibition.subtitle %}
                <h2 class="subtitle">{{ exhibition.subtitle }}</h2>
            {% endif %}
            <h3><a href="{% url museum_detail slug=exhibition.museum.slug %}">{{ exhibition.museum.title }}</a></h3>
            
            <div class="text">{{ exhibition.get_rendered_description }}</div>

            <dl class="website">
                <dt>{% trans "Start" %}</dt>
                <dd>{{ exhibition.start|date:"j. M Y" }}</a></dd>
            </dl>
            <dl class="website">
                <dt>{% trans "End" %}</dt>
                <dd>{{ exhibition.end|date:"j. M Y" }}</a></dd>
            </dl>
            
            {% if exhibition.website %}
                <dl class="website">
                    <dt>{% trans "Website" %}</dt>
                    <dd><a href="{{ exhibition.website }}">{{ exhibition.website }}</a></dd>
                </dl>
            {% endif %}
            
        </div>
    {% endwith %}
    </div>
{% endblock %}
