{% extends "base.html" %}
{% load base_tags i18n image_modifications %}

{% block content %}
    <div class="marginal">
        <div id="kurze_zeit">
	        <h2 class="catHead">→ Nur noch kurze Zeit</h2>
	        {% get_objects closing_soon exhibitions.Exhibition 5 as exhibitions_closing_soon %}
	        {% for exhibition in exhibitions_closing_soon %}
	            <div class="article">
	                {% if exhibition.image %}
	                    <a class="img" href="{{ exhibition.get_url_path }}"><img src="{{ MEDIA_URL }}{{ exhibition.image|modified_path:"exhibition_thumbnail" }}" alt="" /></a>
	                {% endif %}
	                <h4>{{ exhibition.museum.title }}</h4>
	                <h3><a href="{{ exhibition.get_url_path }}">{{ exhibition.title }}</a></h3>
	                <h5>{{ exhibition.start|date:"j. F Y" }} {% trans "till" %} {{ exhibition.end|date:"j. F Y" }}</h5>
	                
	            </div>
	        {% endfor %}
        </div>
    </div>
    
    <div id="detail" class="clearfix">
    {% with object as exhibition %}
        <div class="article">
        
            <div class="leftCol">
	            {% if exhibition.image %}
	                <div class="article_img">
	                    <img src="{{ MEDIA_URL }}{{ exhibition.image|modified_path:"exhibition_list" }}" />
	                    <div class="image_caption">
	                        {{ exhibition.get_rendered_image_caption }}
	                    </div>
	                </div>
	            {% endif %}
                <dl class="address">
                    <dt>{% trans "Location" %}</dt>
                    <dd><a href="{{ exhibition.museum.get_url_path }}">{{ exhibition.museum.title }}</a></dd>
                    <dd>{{ exhibition.museum.street_address }}</dd>
                    {% if exhibition.museum.street_address2 %}<dd>{{ exhibition.museum.street_address2 }}</dd>{% endif %} 
                    <dd>{{ exhibition.museum.postal_code }} {{ exhibition.museum.city }}</dd>
                </dl>
	           	
	            <dl class="von">
	                <dt>{% trans "Start" %}</dt>
	                <dd>{{ exhibition.start|date:"j. F Y" }}</a></dd>
	            </dl>
	            <dl class="bis">
	                <dt>{% trans "End" %}</dt>
	                <dd>{{ exhibition.end|date:"j. F Y" }}</a></dd>
	            </dl>
	            {% if exhibition.website %}
	                <dl class="website">
	                    <dt>{% trans "Website" %}</dt>
	                    <dd><a href="{{ exhibition.website }}">{{ exhibition.website }}</a></dd>
	                </dl>
	            {% endif %}
            </div>
            
            <div class="rightCol">
                <h2>{{ exhibition.title }}</h2>
                {% if exhibition.subtitle %}
                    <h2 class="subtitle">{{ exhibition.subtitle }}</h2>
                {% endif %}
                <h3><a href="{{ exhibition.museum.get_url_path }}">{{ exhibition.museum.title }}</a></h3>
                
                <div class="text">{{ exhibition.get_rendered_description }}</div>
            </div>
        </div>
    {% endwith %}
    </div>
{% endblock %}
