{% extends "base.html" %}
{% load url from future %}
{% load base_tags i18n image_modifications tagging_tags babel auth_extended favorites infoblocks %}
{% block title %}{% trans "Exhibition" %} – {{ object.title }} – {% endblock %}
{% block bodyclass %}exhibition-detail{% endblock %}

{% block open_graph %}
    <meta property="og:title" content="{{ object.title }}" />
    <meta property="og:type" content="article" />
    {% if object.cover_image %}
      <meta property="og:image" content="http://{{ request.get_host }}{{ MEDIA_URL }}{{ object.cover_image|modified_path:"og" }}" />
    {% else %}
      <meta property="og:image" content="http://{{ request.get_host }}{{ STATIC_URL }}site/img/logo/museumsportal-og.jpg" />
    {% endif %}
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="600" />
    <meta property="og:image:height" content="600" />
    <meta property="og:description" content="{{ object.get_rendered_description|striptags|truncatewords:20|escape }}" />
{% endblock %}

{% block js %}
  <script type="text/javascript" src="{{ STATIC_URL }}site/js/share.js" defer="defer"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}site/js/favorites.js" defer="defer"></script>
{% endblock %}

{% block content %}
{% with object as exhibition %}
    <div id="exhibition" class="content">
      <div class="container">
        <div class="row">

          <!-- ======= Main Collumn ======= -->

          <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <article>
              <header>

                <h2>
                  {% if exhibition.permanent %}

                    <time datetime="{{ exhibition.start|date:"Y-m-d" }}">
                      {% trans "Permanent exhibition" %},
                      {{ exhibition.start|date:"d.m.Y" }}
                      {% trans "until further notice" %}
                    </time>

                  {% else %}

                    <time datetime="{{ exhibition.start|date:"Y-m-d" }}">
                    {{ exhibition.start|date:"d.m.Y" }}
                    </time>

                    {% if exhibition.end %}
                      <time datetime="{{ exhibition.end|date:"Y-m-d" }}">
                        {% trans "till" %} {{ exhibition.end|date:"d.m.Y" }}
                      </time>
                    {% endif %}

                  {% endif %}
                </h2>

                <h1>{{ exhibition.title }}
                  {% if_has_perm "exhibitions.change_exhibition" object %}
                    {% if not request.is_mobile %}
                      <span class="cms_edit"><a class="icon icon-pencil" data-toggle="tooltip" data-placement="bottom" data-original-title="{% trans "Edit" %}" href="{{ request.path }}change/">&nbsp;<span class="sr-only">{% trans "Edit" %}</span></a></span>
                     {% endif %}
                  {% end_if_has_perm %}
                </h1>

                {% if exhibition.subtitle %}
                  <h2>{{ exhibition.subtitle }}</h2>
                {% endif %}

                {% if exhibition.location_name %}
                  <h3>{{ exhibition.location_name }}</h3>
                {% else %}

                  {% if exhibition.museum %}
                    <a href="{{ exhibition.museum.get_url_path }}"><h3>{{ exhibition.museum.title }}</h3></a>
                  {% endif %}

                {% endif %}

              </header>

              <!-- ======= Tools ======= -->

              <div class="tools">
                {% if request.user.is_authenticated %}
                  {% adding2favorites for exhibition using "favorites/includes/favorite_detail.html" %}
                {% endif %}

                <a class="btn btn-default btn-round location" data-toggle="tooltip" data-placement="top" data-original-title="{% trans "Show location on map" %}" href="{% url "exhibition_list_map" %}#object_id={{ exhibition.pk }}">
                  <span class="icon icon-location"></span>
                  <span class="sr-only">{% trans "Show location on map" %}</span>
                </a>

                <button class="btn btn-default btn-round share-twitter"  data-url="{{ object.get_url }}" data-text="{% if exhibition.museum %}{% with exhibition.museum as museum %}{{ museum.title }}{% endwith %} {% else %}{{ exhibition.location_name }} {% endif %} / {% if exhibition.permanent %}{% trans "Permanent exhibition" %}, {{ exhibition.start|date:"d.m.Y" }} {% trans "until further notice" %}{% else %}{{ exhibition.start|date:"d.m.Y" }}{% if exhibition.end %} {% trans "till" %} {{ exhibition.end|date:"d.m.Y" }}{% endif %}{% endif %} / {{ object.title }} / {{ object.subtitle }}">
                  <span class="icon icon-social-twitter"></span>
                  <span class="sr-only">{% trans "Share on Twitter" %}</span>
                </button>
                <button class="btn btn-default btn-round share-facebook" data-url="{{ object.get_url }}" data-text="{% if exhibition.museum %}{% with exhibition.museum as museum %}{{ museum.title }}{% endwith %} {% else %}{{ exhibition.location_name }} {% endif %} / {% if exhibition.permanent %}{% trans "Permanent exhibition" %}, {{ exhibition.start|date:"d.m.Y" }} {% trans "until further notice" %}{% else %}{{ exhibition.start|date:"d.m.Y" }}{% if exhibition.end %} {% trans "till" %} {{ exhibition.end|date:"d.m.Y" }}{% endif %}{% endif %} / {{ object.title }} / {{ object.subtitle }}">
                  <span class="icon icon-social-facebook"></span>
                  <span class="sr-only">{% trans "Share on Facebook" %}</span>
                </button>
              </div>

              {% if object.mediafile_set.count > 1 or object.get_twitter_username or object.get_other_exhibitions or object.get_related_published_events or object.get_related_published_workshops or object.get_related_products %}
              <div class="btn-group" style="margin-bottom: 15px;">
                {% if object.mediafile_set.count > 1 %}
                  <a class="btn btn-info btn-sm" href="#section-images">{% trans "Images" %}</a>
                {% endif %}
                {% if museum.get_twitter_username %}
                  <a class="btn btn-info btn-sm" href="#section-tweets">{% trans "Tweets" %}</a>
                {% endif %}
                {% if object.get_other_exhibitions %}
                  <a class="btn btn-info btn-sm" href="#section-exhibitions">{% trans "More Exhibitions" %}</a>
                {% endif %}
                {% if object.get_related_published_events %}
                  <a class="btn btn-info btn-sm" href="#section-events">{% trans "Events" %}</a>
                {% endif %}
                {% if object.get_related_published_workshops %}
                  <a class="btn btn-info btn-sm" href="#section-workshops">{% trans "Guided Tours, Workshops and educational offers" %}</a>
                {% endif %}
                {% if object.get_related_products %}
                  <a class="btn btn-info btn-sm" href="#section-related-products">{% trans "Products" %}</a>
                {% endif %}
              </div>
              {% endif %}

              {% include "utils/cover_image.html" %}
              
              {% if exhibition.vernissage or exhibition.finissage %}
              <div class="extras">
                {% if exhibition.vernissage %}
                  <dl>
                    <dt>{% trans "Vernissage" %}</dt>
                    <dd>{{ exhibition.vernissage|date:"d.m.Y H:i" }}{% if LANGUAGE_CODE == "de" %} Uhr{% endif %}</dd>
                  </dl>
                {% endif %}
                {% if exhibition.finissage %}
                  <dl>
                    <dt>{% trans "Finissage" %}</dt>
                    <dd>{{ exhibition.finissage|date:"d.m.Y H:i" }}{% if LANGUAGE_CODE == "de" %} Uhr{% endif %}</dd>
                  </dl>
                {% endif %}
              </div>
              {% endif %}
              
              <div class="lead">
                {{ exhibition.get_rendered_description|disarm_user_input }}
              </div>

              {% comment %}
                <div class="tags">
                  {% if exhibition.categories.count %}
                  {% for cat in exhibition.categories.all %}
                  <li class="cat"><a href="{% if LANGUAGE_CODE == "de" %}/de/ausstellungen/{% else %}/en/exhibitions/{% endif %}#filter=.cat_{{ cat.title|slugify }}">{{ cat.title }}</a></div>
                  {% endfor %}
                  {% endif %}
                  {% tags_for_object exhibition as tags %}
                  {% if tags %}
                  {% for tag in tags %}
                  <li><a href="{% if LANGUAGE_CODE == "de" %}/de/ausstellungen/{% else %}/en/exhibitions/{% endif %}#filter=.tag_{{ tag.slug }}">{{ tag.name }}</a></div>
                  {% endfor %}
                  {% endif %}
                </div>
              {% endcomment %}
            </article>
          </div> <!-- ======= End Main Collumn ======= -->

          <!-- ======= Marginal Collumn ======= -->

          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="panel-group" id="details">

              <!-- ======= Location ======= -->

              <div class="panel panel-default">
                <div class="panel-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#details" href="#collapse-location">
                    {% trans "Location" %}
                  </a>
                </div>

                <div id="collapse-location" class="panel-collapse collapse in">
                  <div class="panel-body">
                    {% if exhibition.museum %}
                      {% with exhibition.museum as museum %}
                        <p class="address">
                          <b><a href="{{ museum.get_url_path }}">{{ museum.title }}</a></b><br/>
                          {{ museum.street_address }}<br/>
                          {% if museum.street_address2 %}
                            {{ museum.street_address2 }}<br/>
                          {% endif %}
                          {{ museum.postal_code }} {{ museum.city }}
                        </p>
                      {% endwith %}
                    {% else %}
                      <p class="address">
                        <b>{{ exhibition.location_name }}</b><br/>
                        {{ exhibition.street_address }}<br/>
                        {% if exhibition.street_address2 %}
                          {{ exhibition.street_address2 }}<br/>
                        {% endif %}
                        {{ exhibition.postal_code }} {{ exhibition.city }}<br/>
                      </p>
                    {% endif %}

                    {% if exhibition.organizer_set.count %}
                      {% for organizer in exhibition.organizer_set.all %}
                        {% if organizer.organizing_museum %}
                          <div class="organizer">
                            <b>{% trans "Organizer" %}</b>
                            <p><a href="{{ organizer.organizing_museum.get_url_path }}">{{ organizer.organizing_museum.title }}</a></p>

                          {% if organizer.organizing_museum.service_phone_number %}
                            <dl>
                              <dt>{% trans "Service Telephone" %} </dt>
                              <dd class="pull-right">+{{ organizer.organizing_museum.service_phone_country }} ({{ organizer.organizing_museum.service_phone_area }}) {{ organizer.organizing_museum.service_phone_number }}</dd>
                            </dl>
                          {% endif %}

                          {% if organizer.organizing_museum.phone_number %}
                            <dl>
                              <dt>{% trans "Telephone" %} </dt>
                              <dd>+{{ organizer.organizing_museum.phone_country }} ({{ organizer.organizing_museum.phone_area }}) {{ organizer.organizing_museum.phone_number }}</dd>
                            </dl>
                          {% endif %}

                          {% if organizer.organizing_museum.group_bookings_phone_number %}
                            <dl>
                              <dt>{% trans "Booking Telephone" %} </dt>
                              <dd>+{{ organizer.organizing_museum.group_bookings_phone_country }} ({{ organizer.organizing_museum.group_bookings_phone_area }}) {{ organizer.organizing_museum.group_bookings_phone_number }}</dd>
                            </dl>
                          {% endif %}

                          {% if organizer.organizing_museum.fax_number %}
                            <dl>
                              <dt>{% trans "Fax" %} </dt>
                              <dd>+{{ organizer.organizing_museum.fax_country }} ({{ organizer.organizing_museum.fax_area }}) {{ organizer.organizing_museum.fax_number }}</dd>
                            </dl>
                          {% endif %}

                          {% if organizer.organizing_museum.website %}
                            <dl>
                              <dt>{% trans "Website" %} </dt>
                              <dd><a href="{{ organizer.organizing_museum.website }}">{{ organizer.organizing_museum.website|humanize_url:"20" }}</a></dd>
                            </dl>
                          {% endif %}

                          {% if organizer.organizing_museum.email %}
                            {% load site_specific_tags %}
                            <dl>
                              <dt>{% trans "Email" %} </dt>
                              <dd>{% encrypt_email organizer.organizing_museum.email 30 %}</dd>
                            </dl>
                          {% endif %}
                          </div>
                        {% endif %}

                        {% if organizer.organizer_title %}
                          <div class="organizer">
                            <b>{% trans "Organizer" %}</b>
                          {% if organizer.organizer_url_link %}
                            <p><a href="{{ organizer.organizer_url_link }}">{{ organizer.organizer_title }}</a></p>
                          {% else %}
                            <p>{{ organizer.organizer_title }}</p>
                          {% endif %}
                          </div>
                        {% endif %}

                      {% endfor %}
                    {% else %}

                      {% if exhibition.museum.service_phone_number %}
                        <dl class="oneline">
                          <dt class="pull-left">{% trans "Service Telephone" %}</dt>
                          <dd class="pull-right">+{{ exhibition.museum.service_phone_country }} ({{ exhibition.museum.service_phone_area }}) {{ exhibition.museum.service_phone_number }}</dd>
                        </dl>
                      {% endif %}

                      {% if exhibition.museum.phone_number %}
                        <dl class="oneline">
                          <dt class="pull-left">{% trans "Telephone" %}</dt>
                          <dd class="pull-right">+{{ exhibition.museum.phone_country }} ({{ exhibition.museum.phone_area }}) {{ exhibition.museum.phone_number }}</dd>
                        </dl>
                      {% endif %}

                      {% if exhibition.museum.group_bookings_phone_number %}
                        <dl class="oneline">
                          <dt class="pull-left">{% trans "Booking Telephone" %} </dt>
                          <dd class="pull-right">+{{ exhibition.museum.group_bookings_phone_country }} ({{ exhibition.museum.group_bookings_phone_area }}) {{ exhibition.museum.group_bookings_phone_number }}</dd>
                        </dl>
                      {% endif %}

                      {% if exhibition.museum.fax_number %}
                        <dl class="oneline">
                          <dt class="pull-left">{% trans "Fax" %} </dt>
                          <dd class="pull-right">+{{ exhibition.museum.fax_country }} ({{ exhibition.museum.fax_area }}) {{ exhibition.museum.fax_number }}</dd>
                        </dl>
                      {% endif %}
                    {% endif %}

                    {% if exhibition.website %}
                      <dl class="oneline">
                        <dt class="pull-left">{% trans "Website" %} </dt>
                        <dd class="pull-right"><a href="{{ exhibition.website }}">{{ exhibition.website|humanize_url:"20" }}</a></dd>
                      </dl>
                    {% endif %}

                  </div>
                </div>
              </div>

              <!-- ======= BVG ======= -->

              {% if exhibition.museum %}
                {% with exhibition.museum as list_item %}
                  {% include "utils/bvg.html" %}
                {% endwith %}
              {% else %}
                {% with exhibition as list_item %}
                  {% include "utils/bvg.html" %}
                {% endwith %}
              {% endif %}

              {% comment %}
              <!-- ======= Vernissage ======= -->

              {% if exhibition.vernissage %}
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#details" href="#collapse-vernissage">
                      {% trans "Vernissage" %}
                    </a>
                  </div>
                  <div id="collapse-vernissage" class="panel-collapse collapse">
                    <div class="panel-body">
                      <dl>
                        <dt>{% trans "Begin" %}</dt>
                        <dd>{{ exhibition.vernissage|date:"d.m.Y H:i" }}{% if LANGUAGE_CODE == "de" %} Uhr{% endif %}</dd>
                      </dl>
                    </div>
                  </div>
                </div>
              {% endif %}

              <!-- ======= Finissage ======= -->

              {% if exhibition.finissage %}
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#details" href="#collapse-finissage">
                      {% trans "Finissage" %}
                    </a>
                  </div>
                  <div id="collapse-finissage" class="panel-collapse collapse">
                    <div class="panel-body">
                      <dl>
                        <dd>{{ exhibition.finissage|date:"d.m.Y H:i" }}{% if LANGUAGE_CODE == "de" %} Uhr{% endif %}</dd>
                      </dl>
                    </div>
                  </div>
                </div>
              {% endif %}
              {% endcomment %}

              <!-- ======= Catalog ======= -->

              {% if exhibition.catalog or exhibition.catalog_ordering %}
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#details" href="#collapse-catalog">
                      {% trans "Catalog" %}
                    </a>
                  </div>
                  <div id="collapse-catalog" class="panel-collapse collapse">
                    {% if exhibition.get_rendered_catalog %}
                      <div class="panel-body">{{ exhibition.get_rendered_catalog }}</div>
                    {% endif %}

                    {% if exhibition.catalog_ordering %}
                      <div class="panel-body">
                        <p><a href="{{ exhibition.catalog_ordering }}">{% trans "Ordering possibilities" %}</a></p>
                      </div>
                    {% endif %}
                  </div>
                </div>
              {% endif %}

              <!-- ======= Opening hours ======= -->

              {% if exhibition.museum_opening_hours %}
                {% with exhibition.museum as museum %}
                  {% if museum.season_set.count or museum.specialopeningtime_set.count %}
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <a class="accordion-toggle collapsed in" data-toggle="collapse" data-parent="#details" href="#collapse-opening-times">
                          {% trans "Opening hours" %}
                        </a>
                      </div>
                      <div id="collapse-opening-times" class="panel-collapse collapse in">
                        <div class="panel-body">
                        {% if exhibition.get_actual_seasons.count == 1 %}
                          {% with exhibition.get_actual_seasons.0 as season %}
                            <div class="season-set">
                              {% if season.is_appointment_based %}
                                <dl>
                                  <dt>{% trans "Based on appointment" %}</dt>
                                </dl>
                              {% else %}
                                {% regroup season.get_opening_hours by times as opening_hours %}
                                  {% for same_hours in opening_hours %}
                                    <dl>
                                      <dt>
                                        {% for day in same_hours.list %}
                                          {% if forloop.first %}
                                            {{ day.weekday }}
                                          {% endif %}

                                          {% if forloop.last %}
                                            {% if forloop.counter0 %}
                                              - {{ day.weekday }}
                                            {% endif %}
                                          {% endif %}

                                        {% endfor %}
                                      </dt>

                                      {% if same_hours.list.0.open %}
                                        <dd>
                                          {{ same_hours.list.0.open|time:"H:i" }}
                                          {% if same_hours.list.0.break_close %}
                                            - {{ same_hours.list.0.break_close|time:"H:i" }}
                                            / {{ same_hours.list.0.break_open|time:"H:i" }}
                                            - {{ same_hours.list.0.close|time:"H:i" }}
                                          {% else %}
                                            - {{ same_hours.list.0.close|time:"H:i" }}
                                          {% endif %}
                                          {% if LANGUAGE_CODE == "de" %} Uhr{% endif %}
                                        </dd>
                                      {% else %}
                                        <dd>
                                          {% trans "closed" %}
                                        </dd>
                                      {% endif %}
                                    </dl>
                                  {% endfor %}
                                {% endif %}

                                {% if season.last_entry %}
                                  <dl>
                                    <dt>{% trans "Last entry" %}</dt>
                                    <dd>{{ season.last_entry }}</dd>
                                  </dl>
                                {% endif %}

                                {% if season.exceptions %}
                                  <p>{{ season.get_rendered_exceptions }}</p>
                                {% endif %}
                            </div>
                          {% endwith %}
                        {% else %}
                          {% for season in exhibition.get_actual_seasons %}
                            <div class="season">
                              <b>{{ season.title }}</b>
                              <p>{{ season.start|date:"j. F Y" }} - {{ season.end|date:"j. F Y" }}</p>
                              {% if season.is_appointment_based %}
                                <p>{% trans "Based on appointment" %}</p>
                              {% else %}
                                {% regroup season.get_opening_hours by times as opening_hours %}
                                  {% for same_hours in opening_hours %}
                                    <dl>
                                      <dt>
                                      {% for day in same_hours.list %}
                                        {% if forloop.first %}
                                          {{ day.weekday }}
                                        {% endif %}

                                        {% if forloop.last %}
                                          {% if forloop.counter0 %}
                                            -{{ day.weekday }}
                                          {% endif %}
                                        {% endif %}
                                      {% endfor %}
                                      </dt>
                                      <dd>
                                        {% if same_hours.list.0.open %}
                                          {{ same_hours.list.0.open|time:"H:i" }}
                                          {% if same_hours.list.0.break_close %}
                                          - {{ same_hours.list.0.break_close|time:"H:i" }}
                                          / {{ same_hours.list.0.break_open|time:"H:i" }}
                                          - {{ same_hours.list.0.close|time:"H:i" }}
                                        {% else %}
                                          - {{ same_hours.list.0.close|time:"H:i" }}
                                        {% endif %}
                                        {% if LANGUAGE_CODE == "de" %} Uhr{% endif %}
                                      </dd>
                                    {% else %}
                                      <dd>
                                        {% trans "closed" %}
                                      </dd>
                                    {% endif %}
                                  </dl>
                                {% endfor %}
                              {% endif %}

                              {% if season.last_entry %}
                                <dl>
                                  <dt>{% trans "Last entry" %}</dt>
                                  <dd>{{ season.last_entry }}</dd>
                                </dl>
                              {% endif %}

                              {% if season.exceptions %}
                                <p>{{ season.get_rendered_exceptions|striptags }}</p>
                              {% endif %}
                            </div>
                          {% endfor %}
                        {% endif %}
                        {% if exhibition.get_museums_special_opening_times %}
                          <div id="special_openings">
                            {% for special_opening in exhibition.get_museums_special_opening_times %}
                              <dl{% comment %}{% if forloop.counter > 5 %} class="hidden"{% endif %}{% endcomment %}>
                                <dt>
                                  {{ special_opening.dd }}. {{ special_opening.get_mm_display }} {{ special_opening.yyyy|default:"" }}
                                </dt>

                                  {% if special_opening.is_closed %}
                                    <dd>{% trans "Closed" %}</dd>
                                  {% else %}

                                    {% if special_opening.is_regular %}
                                      <dd>{% trans "Regular" %}</dd>
                                    {% else %}
                                      <dd>{{ special_opening.opening|time:"H:i" }} - {{ special_opening.closing|time:"H:i" }}{% if LANGUAGE_CODE == "de" %} Uhr{% endif %}</dd>
                                      {% if season.sun_break_close %}
                                        <dt>{% trans "Break:" %}
                                        <dd>{{ special_opening.break_close|time:"H:i" }} - {{ special_opening.break_open|time:"H:i" }}{% if LANGUAGE_CODE == "de" %} Uhr{% endif %}</dd>
                                      {% endif %}
                                    {% endif %}

                                  {% endif %}
                              </dl>
                            {% endfor %}
                            <script>
                              $(function() {
                                var $special_openings = $('#special_openings');
                                var $hidden_times = $('dt.hidden', $special_openings).hide();
                                if ($hidden_times.length) {
                                  $('<a href="">{% trans "more" %}...</a>').click(function() {
                                    $(this).closest('dd').remove();
                                    $hidden_times.removeClass('hidden').show();
                                    return false;
                                  }).appendTo('<dd></dd>').parent().appendTo($special_openings);
                                }
                              });
                            </script>
                          </div>
                        {% endif %}
                        </div>
                      </div>
                    </div>
                  {% endif %}
                {% endwith %}
              {% else %}

                {% if exhibition.season_set.count %}
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <a class="accordion-toggle collapsed in" data-toggle="collapse" data-parent="#details" href="#collapse-opening-times">
                        {% trans "Opening hours" %}
                      </a>
                    </div>

                    <div id="collapse-opening-times" class="panel-collapse collapse in">
                      {% if exhibition.season_set.count == 1 %}
                        {% with exhibition.season_set.all.0 as season %}
                          <div class="panel-body">
                            {% if season.is_appointment_based %}
                              <dl>
                                <dd>{% trans "Based on appointment" %}</dd>
                              </dl>
                            {% else %}
                              {% if season.is_open_24_7 %}
                                <dl>
                                  <dd>{% trans "Open 24/7" %}</dd>
                                </dl>
                              {% else %}
                                {% regroup season.get_opening_hours by times as opening_hours %}
                                  {% for same_hours in opening_hours %}
                                    <dl>
                                      <dt>
                                        {% for day in same_hours.list %}
                                          {% if forloop.first %}
                                            {{ day.weekday }}
                                          {% endif %}

                                          {% if forloop.last %}
                                            {% if forloop.counter0 %}
                                              - {{ day.weekday }}
                                            {% endif %}
                                          {% endif %}
                                        {% endfor %}
                                      </dt>
                                      {% if same_hours.list.0.open %}
                                        <dd>
                                          {{ same_hours.list.0.open|time:"H:i" }}
                                          {% if same_hours.list.0.break_close %}
                                            - {{ same_hours.list.0.break_close|time:"H:i" }}
                                            / {{ same_hours.list.0.break_open|time:"H:i" }}
                                            - {{ same_hours.list.0.close|time:"H:i" }}
                                          {% else %}
                                            - {{ same_hours.list.0.close|time:"H:i" }}
                                          {% endif %}
                                          {% if LANGUAGE_CODE == "de" %} Uhr{% endif %}
                                        </dd>
                                      {% else %}
                                        <dd>
                                          {% trans "closed" %}
                                        </dd>
                                      {% endif %}
                                    </dl>
                                  {% endfor %}
                                {% endif %}
                              {% endif %}

                            {% if season.last_entry %}
                              <dl>
                                <dt>{% trans "Last entry" %}</dt>
                                <dd>{{ season.last_entry }}</dd>
                              </dl>
                            {% endif %}

                            {% if season.exceptions %}
                              <p>{{ season.get_rendered_exceptions }}</p>
                            {% endif %}
                          </div>
                        {% endwith %}

                      {% else %}

                        {% for season in exhibition.season_set.all %}
                          <div class="season-set">
                            {% if season.is_appointment_based %}
                              <dl>
                                <dd>{% trans "Based on appointment" %}</dd>
                              </dl>
                            {% else %}
                              {% regroup season.get_opening_hours by times as opening_hours %}
                                {% for same_hours in opening_hours %}
                                  <dl>
                                    <dt>
                                      {% for day in same_hours.list %}
                                        {% if forloop.first %}
                                          {{ day.weekday }}
                                        {% endif %}

                                        {% if forloop.last %}
                                          {% if forloop.counter0 %}
                                            -{{ day.weekday }}
                                          {% endif %}
                                        {% endif %}

                                      {% endfor %}
                                    </dt>

                                    {% if same_hours.list.0.open %}
                                      <dd>
                                        {{ same_hours.list.0.open|time:"H:i" }}
                                        {% if same_hours.list.0.break_close %}
                                        - {{ same_hours.list.0.break_close|time:"H:i" }}
                                        / {{ same_hours.list.0.break_open|time:"H:i" }}
                                        - {{ same_hours.list.0.close|time:"H:i" }}
                                        {% else %}
                                        - {{ same_hours.list.0.close|time:"H:i" }}
                                        {% endif %}
                                        {% if LANGUAGE_CODE == "de" %} Uhr{% endif %}
                                      </dd>
                                    {% else %}
                                      <dd>
                                        {% trans "closed" %}
                                      </dd>
                                    {% endif %}
                                  </dl>
                                {% endfor %}
                              {% endif %}

                            {% if season.last_entry %}
                              <dl>
                                <dt>{% trans "Last entry" %}</dt>
                                <dd>{{ season.last_entry }}</dd>
                              </dl>
                            {% endif %}

                            {% if season.exceptions %}
                              <p>{{ season.get_rendered_exceptions|striptags|urlize }}</p>
                            {% endif %}
                          </div>
                        {% endfor %}
                      {% endif %}

                    </div>
                  </div>
                {% endif %}
              {% endif %}

              <!-- ======= Tickets ======= -->

              {% if exhibition.museum_prices %}
                {% with exhibition.museum as museum %}
                  {% if museum.free_entrance or museum.admission_price or museum.admission_price_info or museum.reduced_price or museum.reduced_price_info or museum.arrangements_for_children or museum.free_entrance_for or museum.family_ticket or museum.group_ticket or museum.free_entrance_times or museum.yearly_ticket or museum.other_tickets or museum.member_of_museumspass or museum.group_booking_phone_number or museum.service_phone_number %}
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#details" href="#collapse-prices">
                          {% trans "Tickets" %}
                        </a>
                      </div>

                      <div id="collapse-prices" class="panel-collapse collapse" style="height: 0;">
                        <div class="panel-body">
                          {% if museum.free_entrance %}
                            {% trans "Free entrance" %}
                          {% else %}
                            {% if museum.admission_price %}
                              <dl>
                                <dt>{% trans "Admission price" %}</dt>
                                <dd>{{ museum.admission_price|currencyfmt:"EUR" }}</dd>
                              </dl>
                              {% if museum.admission_price_info %}
                                {% if "<br" in museum.get_rendered_admission_price_info %}
                                  {{ museum.get_rendered_admission_price_info|urlize }}
                                {% else %}
                                  <p>{{ museum.get_rendered_admission_price_info|striptags|urlize }}</p>
                                {% endif %}
                              {% endif %}
                            {% endif %}

                            {% if museum.reduced_price %}
                              <dl>
                                <dt>{% trans "Reduced price" %}</dt>
                                <dd> {{ museum.reduced_price|currencyfmt:"EUR" }}</dd>
                              </dl>
                              {% if museum.reduced_price_info %}
                                <p>{{ museum.get_rendered_reduced_price_info|striptags|urlize }} </p>
                              {% endif %}
                            {% endif %}

                            {% if museum.arrangements_for_children %}
                              <p>
                                <b>{% trans "Arrangements for children" %}</b><br/>
                                {{ museum.get_rendered_arrangements_for_children|striptags|urlize }}
                              </p>
                            {% endif %}

                            {% if museum.free_entrance_for %}
                              <p>
                                <b>{% trans "Free entrance for" %}</b><br/>
                                {{ museum.get_rendered_free_entrance_for|striptags|urlize }}
                              </p>
                            {% endif %}

                            {% if museum.show_family_ticket %}
                              <p>
                                <b>{% trans "Family ticket" %}</b><br/>
                                {% infoblock "family_ticket_info" %}
                              </p>
                            {% endif %}

                            {% if museum.show_group_ticket %}
                              <p>
                                <b>{% trans "Group ticket" %}</b><br/>
                                {{ museum.get_rendered_group_ticket|striptags|urlize }}
                              </p>
                            {% endif %}

                            {% if museum.free_entrance_times %}
                              <p>
                                <b>{% trans "Free entrance times" %}</b><br/>
                                {{ museum.get_rendered_free_entrance_times|striptags|urlize }}
                              </p>
                            {% endif %}

                            {% if museum.show_yearly_ticket %}
                              <p>
                                <b>{% trans "Yearly ticket" %}</b><br/>
                                {% infoblock "yearly_ticket_info" %}
                              </p>
                            {% endif %}

                            {% if museum.other_tickets %}
                              <p>
                                <b>{% trans "Other tickets" %}</b><br/>
                                {{ museum.get_rendered_other_tickets|striptags|urlize }}
                              </p>
                            {% endif %}

                            {% if museum.member_of_museumspass %}
                              <dl>
                                <dt>{% trans "Member of Museumspass Berlin" %}</dt>
                              </dl>
                            {% endif %}

                          {% endif %}
                        </div>
                        {% if museum.group_bookings_phone_number %}
                          <div class="panel-body">
                            <dl>
                              <dt>{% trans "Booking Telephone" %}</dt>
                              <dd>+{{ museum.group_bookings_phone_country }} ({{ museum.group_bookings_phone_area }}) {{ museum.group_bookings_phone_number }}</dd>
                            </dl>
                          </div>
                        {% endif %}
                      </div>
                    </div>
                  {% endif %}
                {% endwith %}
              {% else %}
                {% if exhibition.free_entrance or exhibition.admission_price or exhibition.reduced_price %}
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#details" href="#collapse-prices">
                        {% trans "Tickets" %}
                      </a>
                    </div>
                    <div id="collapse-prices" class="panel-collapse collapse">
                      <div class="panel-body">
                        {% if exhibition.free_entrance %}
                          <dl>
                            <dt>{% trans "Free entrance" %}</dt>
                          </dl>
                        {% else %}

                          {% if exhibition.admission_price %}
                            <dl>
                              <dt>{% trans "Admission price" %}</dt>
                              <dd> {{ exhibition.admission_price|currencyfmt:"EUR" }}</dd>
                            </dl>
                            {% if exhibition.admission_price_info %}
                              <p>{{ exhibition.get_rendered_admission_price_info|striptags|urlize }}</p>
                            {% endif %}
                          {% endif %}

                          {% if exhibition.reduced_price %}
                            <dl>
                              <dt>{% trans "Reduced price" %}</dt>
                              <dd> {{ exhibition.reduced_price|currencyfmt:"EUR" }}</dd>
                            </dl>
                            {% if exhibition.reduced_price_info %}
                              <p>{{ exhibition.get_rendered_reduced_price_info|striptags|urlize }}</p>
                            {% endif %}
                          {% endif %}
                          {% if exhibition.shop_link %}
                              <p>
                                  <a class="btn btn-default btn-lg btn-block" href="{{ exhibition.shop_link }}" target="_blank">{% trans "Buy ticket" %}</a>
                              </p>
                          {% endif %}
                        {% endif %}
                      </div>
                    </div>
                  </div>
                {% endif %}
              {% endif %}

              <!-- ======= Accessibility ======= -->

              {% if exhibition.suitable_for_disabled or exhibition.suitable_for_disabled_info %}
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#details" href="#collapse-accessibility">
                      {% trans "Accessibility" %}
                    </a>
                  </div>
                  <div id="collapse-accessibility" class="panel-collapse collapse">
                    <div class="panel-body">
                      {% if exhibition.suitable_for_disabled %}
                        <p>{% trans "Suitable for disabled" %}</p>
                      {% endif %}

                      {% if exhibition.suitable_for_disabled_info %}
                        <div class="accessibility-desc">
                          {{ exhibition.get_rendered_suitable_for_disabled_info }}
                        </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              {% endif %}
            </div>
            {% if exhibition.linkgroup_set.count %}
              {% for link_group in exhibition.linkgroup_set.all %}
                {% if LANGUAGE_CODE == link_group.language %}
                  <div class="link-group">
                    {% if link_group.group_title %}<h4>{{ link_group.group_title }}</h4>{% endif %}
                    {% with link_group.get_links as links %}
                      {% if links %}
                        <ul>
                          {% for link in links %}
                            <li><a href="{{ link.url }}">{{ link.text }}</a></li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    {% endwith %}
                  </div>
                {% endif %}
              {% endfor %}
            {% endif %}
          </div> <!-- ======= End Marginal Collumn ======= -->

        </div>
      </div>
    </div>

    {% include "utils/images.html" %}

    <!-- ======= Workshops ======= -->
    <div id="additional-contents">

      {% if object.get_related_published_workshops.count %}
        <div id="workshops" class="content">
          <div class="container">
            <h2 class="section-head" id="section-workshops">{% trans "Guided Tours, Workshops and educational offers" %}</h2>
            <div class="list">
              {% for workshop in object.get_related_published_workshops %}
                <div class="item">
                  <a href="{{ workshop.get_url_path }}">
                    {% if workshop.has_group_offer or not workshop.workshoptime_set.count %}
                      <h4>{% if workshop.workshop_type %}{{ workshop.workshop_type }}:{% endif %} {% trans "Bookable Offer" %}</h4>
                    {% else %}
                      <h4>{% if workshop.workshop_type %}{{ workshop.workshop_type }}:{% endif %}
                        {% with workshop.get_closest_workshop_time as workshop_time %}
                        {{ workshop_time.workshop_date|date:"j. F Y" }}
                        {{ workshop_time.start|time:"H:i" }}{% if workshop_time.end %} {% trans "till" %} {{ workshop_time.end|time:"H:i" }}{% endif %}{% if LANGUAGE_CODE == "de" %} Uhr{% endif %}
                        {% endwith %}
                      </h4>
                    {% endif %}
                    <h3>{{ workshop.title }}</h3>
                    {% if workshop.subtitle %}
                      <h4>{{ workshop.subtitle }}</h4>
                    {% endif %}
                  </a>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endif %}

      <!-- ======= Events ======= -->

      {% if object.get_related_published_events.count %}
        <div id="events" class="content">
          <div class="container">
            <h2 class="section-head" id="section-events">{% trans "Events" %}</h2>
            <div class="list">
              {% for event in object.get_related_published_events %}
                <div class="item">
                  <a href="{{ event.get_url_path }}">
                    <h4>{% with event.get_closest_event_time as event_time %}{{ event_time.event_date|date:"j. F Y" }}  {{ event_time.start|time:"H:i" }}{% if LANGUAGE_CODE == "de" %} Uhr{% endif %}{% endwith %}</h4>
                    <h3>{{ event.title }}</h3>
                    <h4>{{ event.subtitle }}</h4>
                    {% if event.location_name %}
                        <h5>{{ event.location_name }}</h5>
                    {% elif event.museum %}
                        <h5>{{ event.museum.title|default:event.museum.title_de }}</h5>
                    {% endif %}
                  </a>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endif %}

      <!-- ======= Exhibitions ======= -->

      {% if object.get_other_exhibitions %}
        <div id="exhibitions" class="content">
          <div class="container">
            <h2 class="section-head" id="section-exhibitions">{% trans "More Exhibitions" %}</h2>
            <div class="list">
              {% for exhibition in object.get_other_exhibitions %}
                <div class="item">
                  <a href="{{ exhibition.get_url_path }}">
                    <h3>{{ exhibition.title }}</h3>
                    <h4>{{ exhibition.subtitle }}</h4>
                    <h5>
                      {% if exhibition.permanent %}
                      {{ exhibition.start|date:"d.m.Y" }} {% trans "until further notice" %}
                      {% else %}
                      {{ exhibition.start|date:"d.m.Y" }}{% if exhibition.end %} {% trans "till" %} {{ exhibition.end|date:"d.m.Y" }}{% endif %}
                      {% endif %}
                    </h5>
                  </a>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endif %}


      <!-- ======= Products ======= -->

      {% if object.get_related_products %}
          <div id="list" class="shop-product-list">
              <div class="container">
                  <header class="clearfix">
                      <h2 class="section-head pull-left" id="section-related-products">{% trans "Products" %}</h2>
                      <a href="{% url "exhibition_products" slug=object.slug %}" class="pull-right">{% trans "All products of the exhibition" %}</a>
                  </header>
                  <div id="container">
                      <div class="row row-md grid">
                          {% for product in object.get_related_products|slice:':4' %}
                              <div class="item col-xs-12 col-sm-4 col-md-4 col-lg-3{% if forloop.counter == 4 %} hidden-sm hidden-md{% endif %}">
                                  <a href="{{ product.get_url_path }}">
                                      {% if product.image %}
                                          <span class="img"><img src="{{ STATIC_URL }}site/img/placeholder_list.gif" data-original="{{ MEDIA_URL }}{{ product.image|modified_path:"editorial" }}" alt="product.title" /></span>
                                      {% endif %}
                                      {% if product.price %}
                                          <span class="price pull-right">{{ product.price|currencyfmt:"€" }}</span>
                                      {% endif %}
                                      <h3>
                                          {{ product.title }}
                                      </h3>
                                      {% if product.subtitle %}
                                          <h4>{{ product.subtitle }}</h4>
                                      {% endif %}
                                  </a>
                              </div>
                          {% endfor %}
                      </div>
                  </div>
              </div>
          </div>
      {% endif %}

    </div>

  {% endwith %}

  {% include "utils/page_controls.html" %}
{% endblock %}
