{% extends "styleguide/index.html" %}

{% block headline %}
    <h1>Colors (#EC8922)</h1>
    <h2 class="sub">Style Guide (#6994A6)</h2>
{% endblock %}

{% block content %}
    <div id="content">
        <div> text: #444444</div>
        <div>
            <a href="#">link: #3C8BB1</a>
        </div>
        <div class="list-item">
            <div class="txt_stong">.list-item: #FFFFFF<br/> .hover: #F0F0F0<br/> separator: #999999</div>
        </div>
        <div style="background: #D1DEE4">Breadcrumbs background: #D1DEE4</div>
        <div style="color: #496A78"><strong>Footer text: #496A78</strong></div>
        <div style="background: #98AEB8">Footer background: #98AEB8</div>
    </div>
{% endblock %}

{% block sidebar-a %}
    <div id="cat_sidebar_box" class="sidebar-box nav_expanded">
        <h5>
            <a class="open_but" href="#Collapse-Expand">
                <b>header-text: #707F85</b>
                <span class="pic"></span>
            </a>
        </h5>

        <div class="hidable">
            <ul>
                <li>Lorem ipsum dolor sit amet</li>
                <li>consetetur sadipscing elitr</li>
                <li>separator: #CECFD0</li>
                <li>background: #ECECEC</li>
            </ul>
        </div>
    </div>
{% endblock %}
