{% extends "styleguide/base.html" %}
{% load i18n %}

{% block body_class %}list{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Elements</h1>
                <br/>
                <p class="uppercase">Buttons</p>
                <br/>
                <div class="button">class="button"</div>
                <br/>
                <br/>
                <p class="uppercase">Icon Buttons</p>
                <br/>
                <div style="display:inline-block;" class="fawesome fa-twitter small button"></div>&nbsp;&nbsp;&nbsp;<span>class="fawesome fa-twitter small button"</span>
                <br/>
                <br/>
                <div style="display:inline-block;" class="fawesome fa-twitter button"></div>&nbsp;&nbsp;&nbsp;<span>class="fawesome fa-twitter button"</span>
                <br/>
                <br/>
                <br/>
                <p><span class="uppercase">buttons wrapped in </span>class="button-group"</p>
                <br/>
                <div class="button-group">
                    <div class="button">class="button"</div>
                    <div class="button">class="button"</div>
                    <div class="button">class="button"</div>
                </div>
                <br/>
                <div class="button-group">
                    <div class="fawesome fa-twitter button"></div>
                    <div class="fawesome fa-facebook button"></div>
                    <div class="fawesome fa-googleplus button"></div>
                </div>
                <br/>
                <div class="button-group">
                    <div class="fawesome fa-twitter small button"></div>
                    <div class="fawesome fa-facebook small button"></div>
                    <div class="fawesome fa-googleplus small button"></div>
                </div>
                <br/>
                <br/>
                <br/>
                <p class="uppercase">Body Class Buttons</p>
                <br/>
                <p>If you add the attribute "<b>data-body-class</b>" to an element, it will add the value of the attribute to the classes of the body tag when you click on the element. At the same time all classes of the body tag which belong to other body class buttons are getting removed from the body tag. The clicked active button gets the class "active".</p>
                <p>If you want to group body class buttons, so that they only affect each other and not the rest of the body class buttons on the page, add the attribute "<b>data-body-class-group</b>" to the buttons and give them the same value.</p>
                <p>To give a body class button a toggle on/off functionality add the attribute "<b>data-body-class-toggle</b>" with a positive/true value.</p>
                <p>To have a body class button initialy be active add the class "active" to the button and its "data-body-class" value to the body tag classes.</p>
                <pre>
&lt;div class="fawesome fa-list button active" data-body-class="list" data-body-class-group="profiles">&lt;/div>
&lt;div class="fawesome fa-grid button" data-body-class="grid" data-body-class-group="profiles">&lt;/div>
                </pre>
                <br/>
                <br/>
                <br/>
                <p class="uppercase">Bubble</p>
                <br/>
                <div class="bubble">class="bubble"</div>
                <br/>
                <br/>
                <br/>
                <p class="uppercase">Tooltip</p>
                <br/>
                <h2 data-tooltip="Tooltip" style="display:inline-block;">element with data-tooltip="Tooltip"</h2>
                <br/>
                <br/>
                <br/>
                <p class="uppercase">Line</p>
                <br/>
                <p>&lt;div or span class="line"&gt;&lt;/div or span&gt;</p>
                <span class="line"></span>
                <br/>
                <br/>
                <br/>
                <p class="uppercase">Search</p>
                <br/>
                <div class="header-search">
                    <div class="fawesome fa-search"><span class="text hidden-xs">{% trans 'Search' %}</span></div>
                    <div class="result">402<span class="text">{% trans 'Results' %}</span></div>
                </div>
                <pre>
&lt;div class="header-search">
    &lt;div class="fawesome fa-search">&lt;span class="text hidden-xs">&#123;% trans 'Search' %}&lt;/span>&lt;/div>
    &lt;div class="result">402&lt;span class="text">&#123;% trans 'Results' %}&lt;/span>&lt;/div>
&lt;/div>                    
                </pre>
                <br/>
                <br/>
                <br/>
                <p><span class="uppercase">Search</span> with icons menu</p>
                <br/>
                <p>Requirements:<br/>
                    Add the data-body-class value of the initialy active menu icon to the body classes.<br/>
                    e.g. &#123;% block body_class %} list &#123;% endblock %}
                </p>
                <br/>
                <br/>
                <div class="header-search">
                    <div class="fawesome fa-search"><span class="text hidden-xs">{% trans 'Search' %}</span></div>
                    <div class="button-group hidden-xs">
                        <div class="fawesome fa-list button active" data-body-class="list" data-body-class-group="profiles"></div>
                        <div class="fawesome fa-grid button" data-body-class="grid" data-body-class-group="profiles"></div>
                    </div>
                    <div class="result">8.843<span class="text">{% trans 'Profiles' %}</span></div>
                </div>
                <pre>
&lt;div class="header-search">
    &lt;div class="fawesome fa-search">&lt;span class="text hidden-xs">&#123;% trans 'Search' %}&lt;/span>&lt;/div>
    &lt;div class="button-group hidden-xs">
        &lt;div class="fawesome fa-list button active" data-body-class="list" data-body-class-group="profiles">&lt;/div>
        &lt;div class="fawesome fa-grid button" data-body-class="grid" data-body-class-group="profiles">&lt;/div>
    &lt;/div>
    &lt;div class="result">8.843&lt;span class="text">&#123;% trans 'Profiles' %}&lt;/span>&lt;/div>
&lt;/div>                    
                </pre>
                <br/>
                <br/>
                <br/>
                <p class="uppercase">Profile row</p>
                <br/>
            </div>
        </div>
        <div class="row profile">
            <div class="col-xs-12 col-sm-6 col-md-3">
                <a class="content" href="#">
                    <img src="http://placehold.it/640x666&text=image">
                    <div class="text">
                        <h2>Max<br/>Mustermann</h2>
                    </div>
                </a>
                <div class="button-group">
                    <a href="#" class="fawesome fa-bookmark button"></a>
                    <a href="#" class="fawesome fa-favorite button"></a>
                    <a href="#" class="fawesome fa-plus-circle button"></a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <a class="content" href="#">
                    <img src="http://placehold.it/640x666&text=image">
                    <div class="text">
                        <h2>Max<br/>Mustermann</h2>
                    </div>
                </a>
                <div class="button-group">
                    <a href="#" class="fawesome fa-bookmark button"></a>
                    <a href="#" class="fawesome fa-favorite button"></a>
                    <a href="#" class="fawesome fa-plus-circle button"></a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <a class="content" href="#">
                    <img src="http://placehold.it/640x666&text=image">
                    <div class="text">
                        <h2>Max<br/>Mustermann</h2>
                    </div>
                </a>
                <div class="button-group">
                    <a href="#" class="fawesome fa-bookmark button"></a>
                    <a href="#" class="fawesome fa-favorite button"></a>
                    <a href="#" class="fawesome fa-plus-circle button"></a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <a class="content" href="#">
                    <img src="http://placehold.it/640x666&text=image"/>
                    <div class="text">
                        <h2>Max<br/>Mustermann</h2>
                    </div>
                </a>
                <div class="button-group">
                    <a href="#" class="fawesome fa-bookmark button"></a>
                    <a href="#" class="fawesome fa-favorite button"></a>
                    <a href="#" class="fawesome fa-plus-circle button"></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <pre>
&lt;div class="row profile">
    &lt;div class="col-xs-12 col-sm-6 col-md-3">
        &lt;a class="content" href="#">
            &lt;img src="http://placehold.it/640x666&text=image"/>
            &lt;div class="text">
                &lt;h2>Max&lt;br/>Mustermann&lt;/h2>
            &lt;/div>
        &lt;/a>
        &lt;div class="button-group">
            &lt;a href="#" class="fawesome fa-bookmark button">&lt;/a>
            &lt;a href="#" class="fawesome fa-favorite button">&lt;/a>
            &lt;a href="#" class="fawesome fa-plus-circle button">&lt;/a>
        &lt;/div>
    &lt;/div>
    ... the col block 3 more times
&lt;/div>
                </pre>
                <br/>
                <br/>
                <br/>
                <p class="uppercase">Navigation grid</p>
                <br/>
                <p>Requirements:<br/>
                    &lt;script type="text/javascript" src="&#123;{ STATIC_URL }}site/js/navi-grid.js">&lt;/script><br/>
                    The order and size of the elements have to fit a 2 and 4 column grid.
                </p>
                <br/>
                <br/>
            </div>
        </div>
        <div class="row navi-grid">
            <div class="col-xs-6 col-md-3">
                <a class="content" href="#">
                    <img src="http://placehold.it/320x260&text=image"/>
                    <h2>Participate</h2>
                    <p>Erstelle dein Portfolio<br/>und vernetze dich mit anderen</p>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a class="content" href="#">
                    <img src="http://placehold.it/320x260&text=image"/>
                    <h2>Connect</h2>
                    <p>Erstelle dein Portfolio<br/>und vernetze dich mit anderen</p>
                </a>
            </div>
            <div class="col-xs-12 col-md-6">
                <a class="content" href="#">
                    <img src="http://placehold.it/640x255&text=image"/>
                    <h2>Get<br/>funding</h2>
                    <p>Erstelle dein Portfolio<br/>und vernetze dich mit anderen</p>
                </a>
            </div>
            <div class="col-xs-12 col-md-6">
                <a class="content" href="#">
                    <img src="http://placehold.it/640x255&text=image"/>
                    <h2>Get<br/>funding</h2>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a class="content" href="#">
                    <img src="http://placehold.it/320x260&text=image"/>
                    <h2>Participate</h2>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a class="content" href="#">
                    <img src="http://placehold.it/320x260&text=image"/>
                    <h2>Work<br/>together</h2>
                    <p>Erstelle dein Portfolio<br/>und vernetze dich mit anderen</p>
                </a>
            </div>
            <div class="col-xs-12 col-md-6">
                <a class="content" href="#">
                    <img src="http://placehold.it/640x255&text=image"/>
                    <h2>News</h2>
                    <p>Erstelle dein Portfolio<br/>und vernetze dich mit anderen</p>
                </a>
            </div>
            <div class="col-xs-12 col-md-6">
                <a class="content" href="#">
                    <img src="http://placehold.it/640x255&text=image"/>
                    <h2>From the<br/>blogs</h2>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a class="content" href="#">
                    <img src="http://placehold.it/320x260&text=image"/>
                    <h2>Was<br/>wir lieben</h2>
                    <p>Erstelle dein Portfolio<br/>und vernetze dich mit anderen</p>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a class="content" href="#">
                    <img src="http://placehold.it/320x260&text=image"/>
                    <h2>Termine &amp; Ausschreibungen</h2>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a class="content" href="#">
                    <img src="http://placehold.it/320x260&text=image"/>
                    <h2>Magazin</h2>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a class="content" href="#">
                    <img src="http://placehold.it/320x260&text=image"/>
                    <h2>Participate</h2>
                    <p>Erstelle dein Portfolio<br/>und vernetze dich mit anderen</p>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <pre>
&lt;div class="row navi-grid">
    &lt;!-- One Column Element -->
    &lt;div class="col-xs-6 col-md-3">
        &lt;a class="content" href="#">
            &lt;img src="http://placehold.it/320x260&text=image"/>
            &lt;h2>Participate&lt;/h2>
            &lt;p>Erstelle dein Portfolio&lt;br/>und vernetze dich mit anderen&lt;/p>
        &lt;/a>
    &lt;/div>
    &lt;!-- One Column Element -->
    &lt;div class="col-xs-6 col-md-3">
        &lt;a class="content" href="#">
            &lt;img src="http://placehold.it/320x260&text=image"/>
            &lt;h2>Connect&lt;/h2>
        &lt;/a>
    &lt;/div>
    &lt;!-- Two Columns Element -->
    &lt;div class="col-xs-12 col-md-6">
        &lt;a class="content" href="#">
            &lt;img src="http://placehold.it/640x255&text=image"/>
            &lt;h2>Get&lt;br/>funding&lt;/h2>
            &lt;p>Erstelle dein Portfolio&lt;br/>und vernetze dich mit anderen&lt;/p>
        &lt;/a>
    &lt;/div>
    ... and so on
&lt;/div>
                </pre>
                <br/>
                <br/>
                <br/>
                <p class="uppercase">Twitter wall</p>
                <br/>
                <p>Requirements:<br/>
                    &lt;script type="text/javascript" src="&#123;{ STATIC_URL }}site/js/twitter-wall.js">&lt;/script><br/>
                    Set the twitter user account in "data-username" of the main element.<br/>
                    The tweets are put in the tags with a class "tweet".<br/>
                    The twitter app and its settings have to be present.
                </p>
                <br/>
                <br/>
            </div>
        </div>
    </div>
    <div class="twitter-wall" data-username="CREATIVEBERLIN">
        <div class="container">
            <div class="fawesome fa-twitter big center"></div>
            <h2 class="center hidden-xs">Twitter</h2>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 tweet"></div>
                <div class="col-sm-6 col-md-4 hidden-xs tweet"></div>
                <div class="col-md-4 hidden-xs hidden-sm tweet"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <pre>
&lt;div class="twitter-wall" data-username="CREATIVEBERLIN">
    &lt;div class="container">
        &lt;div class="fawesome fa-twitter big center">&lt;/div>
        &lt;h2 class="center hidden-xs">Twitter&lt;/h2>
        &lt;div class="row">
            &lt;div class="col-xs-12 col-sm-6 col-md-4 tweet">&lt;/div>
            &lt;div class="col-sm-6 col-md-4 hidden-xs tweet">&lt;/div>
            &lt;div class="col-md-4 hidden-xs hidden-sm tweet">&lt;/div>
        &lt;/div>
    &lt;/div>
&lt;/div>
                </pre>
                <br/>
                <br/>
                <br/>
                <p class="uppercase">Portfolio slider</p>
                <br/>
                <p>Requirements:<br/>
                    &lt;script type="text/javascript" src="&#123;{ STATIC_URL }}site/js/slider.js">&lt;/script>
                </p>
                <br/>
                <br/>
            </div>
        </div>
        <div class="row slider portfolio">
            <div class="wrapper">
                <div class="col-xs-12 slide">
                    <a class="content" href="#">
                        <span class="image-hover-bg">
                            <img src="http://placehold.it/400x320&text=image"/>
                        </span>
                        <h2>Hier steht mehr zum Portfolio.</h2>
                    </a>
                    <div class="button-group">
                        <a href="#" class="fawesome fa-favorite button"></a>
                        <a href="#" class="fawesome fa-more button"></a>
                    </div>
                </div>
                <div class="col-xs-12 slide">
                    <a class="content" href="#">
                        <span class="image-hover-bg">
                            <img src="http://placehold.it/500x320&text=image"/>
                        </span>
                        <h2>Hier steht mehr zum Portfolio.</h2>
                    </a>
                    <div class="button-group">
                        <a href="#" class="fawesome fa-favorite button"></a>
                        <a href="#" class="fawesome fa-more button"></a>
                    </div>
                </div>
                <div class="col-xs-12 slide">
                    <a class="content" href="#">
                        <span class="image-hover-bg">
                            <img src="http://placehold.it/450x320&text=image"/>
                        </span>
                        <h2>Hier steht mehr zum Portfolio.</h2>
                    </a>
                    <div class="button-group">
                        <a href="#" class="fawesome fa-favorite button"></a>
                        <a href="#" class="fawesome fa-more button"></a>
                    </div>
                </div>
                <div class="col-xs-12 slide">
                    <a class="content" href="#">
                        <span class="image-hover-bg">
                            <img src="http://placehold.it/400x320&text=image"/>
                        </span>
                        <h2>Hier steht mehr zum Portfolio.</h2>
                    </a>
                    <div class="button-group">
                        <a href="#" class="fawesome fa-favorite button"></a>
                        <a href="#" class="fawesome fa-more button"></a>
                    </div>
                </div>
                <div class="col-xs-12 slide">
                    <a class="content" href="#">
                        <span class="image-hover-bg">
                            <img src="http://placehold.it/500x320&text=image"/>
                        </span>
                        <h2>Hier steht mehr zum Portfolio.</h2>
                    </a>
                    <div class="button-group">
                        <a href="#" class="fawesome fa-favorite button"></a>
                        <a href="#" class="fawesome fa-more button"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <pre>
&lt;div class="row slider portfolio">
    &lt;div class="wrapper">
        &lt;div class="col-xs-12 slide">
            &lt;a class="content" href="#">
                &lt;span class="image-hover-bg">
                    &lt;img src="http://placehold.it/400x320&text=image"/>
                &lt;/span>
                &lt;h2>Hier steht mehr zum Portfolio.&lt;/h2>
            &lt;/a>
            &lt;div class="button-group">
                &lt;a href="#" class="fawesome fa-favorite button">&lt;/a>
                &lt;a href="#" class="fawesome fa-more button">&lt;/a>
            &lt;/div>
        &lt;/div>
        &lt;div class="col-xs-12 slide">
            &lt;a class="content" href="#">
                &lt;span class="image-hover-bg">
                    &lt;img src="http://placehold.it/500x320&text=image"/>
                &lt;/span>
                &lt;h2>Hier steht mehr zum Portfolio.&lt;/h2>
            &lt;/a>
            &lt;div class="button-group">
                &lt;a href="#" class="fawesome fa-favorite button">&lt;/a>
                &lt;a href="#" class="fawesome fa-more button">&lt;/a>
            &lt;/div>
        &lt;/div>
        ... keep adding slide blocks for each slide element
    &lt;/div>
&lt;/div>
                </pre>
                <br/>
                <br/>
                <br/>
                <p class="uppercase">Full side slider</p>
                <br/>
                <p>Requirements:<br/>
                    &lt;script type="text/javascript" src="&#123;{ STATIC_URL }}site/js/slider.js">&lt;/script>
                </p>
                <br/>
                <br/>
            </div>
        </div>
    </div>
    <div class="slider fullside" data-speed="600" data-timer="4000">
        <div class="slide">
            <img src="http://placehold.it/2003x1010&text=image"/>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h1>Make this city happen!</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide">
            <img src="http://placehold.it/2003x1010&text=image"/>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h1>And this city too!</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <pre>
&lt;div class="slider fullside" data-speed="600" data-timer="4000">
    &lt;div class="slide">
        &lt;img src="http://placehold.it/2003x1010&text=image"/>
        &lt;div class="container">
            &lt;div class="row">
                &lt;div class="col-xs-12">
                    &lt;h1>Make this city happen!&lt;/h1>
                &lt;/div>
            &lt;/div>
        &lt;/div>
    &lt;/div>
    ... keep adding slide blocks for each slide element
&lt;/div>
                </pre>
                <br/>
                <br/>
                <br/>
                <p class="uppercase">Header</p>
                <br/>
            </div>
        </div>
    </div>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Header</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <pre>
&lt;div class="header">
    &lt;div class="container">
        &lt;div class="row">
            &lt;div class="col-xs-12">
                &lt;h1>Header&lt;/h1>
            &lt;/div>
        &lt;/div>
    &lt;/div>
&lt;/div>
                </pre>
                <br/>
                <br/>
                <br/>
                <p ><span class="uppercase">Header</span> with menu</p>
                <br/>
            </div>
        </div>
    </div>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Header with menu</h1>
                </div>
            </div>
        </div>
        <div class="menu">
            <div class="container">
                <div class="row">
                    <div class="hidden-xs col-sm-4 col-md-3">
                        <h2>Header</h2>
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-9">
                        <nav>
                            <ul>
                                <li><a href="javascript:void();">Menu Link #1</a></li>
                                <li><a href="javascript:void();">Menu Link #2</a></li>
                                <li><a href="javascript:void();">Menu Link #3</a></li>
                                <li><a href="javascript:void();">Menu Link #4</a></li>
                                <li><a href="javascript:void();">Menu Link #5</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <pre>
&lt;div class="header">
    &lt;div class="container">
        &lt;div class="row">
            &lt;div class="col-xs-12">
                &lt;h1>Header with menu&lt;/h1>
            &lt;/div>
        &lt;/div>
    &lt;/div>
    &lt;div class="menu">
        &lt;div class="container">
            &lt;div class="row">
                &lt;div class="hidden-xs col-sm-4 col-md-3">
                    &lt;h2>Header&lt;/h2>
                &lt;/div>
                &lt;div class="col-xs-12 col-sm-8 col-md-9">
                    &lt;nav>
                        &lt;ul>
                            &lt;li>&lt;a href="javascript:void();">Menu Link #1&lt;/a>&lt;/li>
                            &lt;li>&lt;a href="javascript:void();">Menu Link #2&lt;/a>&lt;/li>
                            &lt;li>&lt;a href="javascript:void();">Menu Link #3&lt;/a>&lt;/li>
                            &lt;li>&lt;a href="javascript:void();">Menu Link #4&lt;/a>&lt;/li>
                            &lt;li>&lt;a href="javascript:void();">Menu Link #5&lt;/a>&lt;/li>
                        &lt;/ul>
                    &lt;/nav>
                &lt;/div>
            &lt;/div>
        &lt;/div>
    &lt;/div>
&lt;/div>
                </pre>
                <br/>
                <br/>
                <br/>
                <p ><span class="uppercase">Header</span> with image</p>
                <br/>
            </div>
        </div>
    </div>
    <div class="header">
        <img src="http://placehold.it/2002x770&text=image"/>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Header with image</h1>
                </div>
            </div>
        </div>
        <div class="menu">
            <div class="container">
                <div class="row">
                    <div class="hidden-xs col-sm-4 col-md-3">
                        <h2>Header</h2>
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-9">
                        <nav>
                            <ul>
                                <li><a href="javascript:void();">Menu Link #1</a></li>
                                <li><a href="javascript:void();">Menu Link #2</a></li>
                                <li><a href="javascript:void();">Menu Link #3</a></li>
                                <li><a href="javascript:void();">Menu Link #4</a></li>
                                <li><a href="javascript:void();">Menu Link #5</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <pre>
&lt;div class="header">
    &lt;img src="http://placehold.it/2002x770&text=image"/>
    &lt;div class="container">
        &lt;div class="row">
            &lt;div class="col-xs-12">
                &lt;h1>Header with menu&lt;/h1>
            &lt;/div>
        &lt;/div>
    &lt;/div>
    &lt;div class="menu">
        &lt;div class="container">
            &lt;div class="row">
                &lt;div class="hidden-xs col-sm-4 col-md-3">
                    &lt;h2>Header&lt;/h2>
                &lt;/div>
                &lt;div class="col-xs-12 col-sm-8 col-md-9">
                    &lt;nav>
                        &lt;ul>
                            &lt;li>&lt;a href="javascript:void();">Menu Link #1&lt;/a>&lt;/li>
                            &lt;li>&lt;a href="javascript:void();">Menu Link #2&lt;/a>&lt;/li>
                            &lt;li>&lt;a href="javascript:void();">Menu Link #3&lt;/a>&lt;/li>
                            &lt;li>&lt;a href="javascript:void();">Menu Link #4&lt;/a>&lt;/li>
                            &lt;li>&lt;a href="javascript:void();">Menu Link #5&lt;/a>&lt;/li>
                        &lt;/ul>
                    &lt;/nav>
                &lt;/div>
            &lt;/div>
        &lt;/div>
    &lt;/div>
&lt;/div>
                </pre>
                <br/>
                <br/>
                <br/>
                <p ><span class="uppercase">Header</span> with info</p>
                <br/>
            </div>
        </div>
    </div>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Header with info</h1>
                </div>
            </div>
        </div>
        <div class="info">
            <div class="container">
                <a href="#" class="row portfolio">
                    <div class="col-xs-12 col-sm-8 col-sm-push-4 col-md-9 col-md-push-3">
                        <div class="row slider portfolio">
                            <div class="wrapper">
                                <div class="col-xs-12 slide">
                                    <img src="http://placehold.it/400x320&text=image"/>
                                </div>
                                <div class="col-xs-12 slide">
                                    <img src="http://placehold.it/500x320&text=image"/>
                                </div>
                                <div class="col-xs-12 slide">
                                    <img src="http://placehold.it/400x320&text=image"/>
                                </div>
                                <div class="col-xs-12 slide">
                                    <img src="http://placehold.it/500x320&text=image"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-sm-pull-8 col-md-3 col-md-pull-9">
                        <div class="bubble">Work of the day</div>
                        <div class="text">
                            <h2>Max<br/>Mustermann</h2>
                            <h3>Portfolio Title</h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="menu">
            <div class="container">
                <div class="row">
                    <div class="hidden-xs col-sm-4 col-md-3">
                        <h2>Header</h2>
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-9">
                        <nav>
                            <ul>
                                <li><a href="javascript:void();">Menu Link #1</a></li>
                                <li><a href="javascript:void();">Menu Link #2</a></li>
                                <li><a href="javascript:void();">Menu Link #3</a></li>
                                <li><a href="javascript:void();">Menu Link #4</a></li>
                                <li><a href="javascript:void();">Menu Link #5</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <pre>
&lt;div class="header">
    &lt;div class="container">
        &lt;div class="row">
            &lt;div class="col-xs-12">
                &lt;h1>Header with info&lt;/h1>
            &lt;/div>
        &lt;/div>
    &lt;/div>
    &lt;div class="info">
        &lt;div class="container">
            &lt;a href="#" class="row portfolio">
                &lt;div class="col-xs-12 col-sm-8 col-sm-push-4 col-md-9 col-md-push-3">
                    &lt;div class="row slider portfolio">
                        &lt;div class="wrapper">
                            &lt;div class="col-xs-12 slide">
                                &lt;img src="http://placehold.it/400x320&text=image"/>
                            &lt;/div>
                            ... keep adding slides
                        &lt;/div>
                    &lt;/div>
                &lt;/div>
                &lt;div class="col-xs-12 col-sm-4 col-sm-pull-8 col-md-3 col-md-pull-9">
                    &lt;div class="bubble">Work of the day&lt;/div>
                    &lt;div class="text">
                        &lt;h2>Max&lt;br/>Mustermann&lt;/h2>
                        &lt;h3>Portfolio Title&lt;/h3>
                    &lt;/div>
                &lt;/div>
            &lt;/a>
        &lt;/div>
    &lt;/div>
    &lt;div class="menu">
        &lt;div class="container">
            &lt;div class="row">
                &lt;div class="hidden-xs col-sm-4 col-md-3">
                    &lt;h2>Header&lt;/h2>
                &lt;/div>
                &lt;div class="col-xs-12 col-sm-8 col-md-9">
                    &lt;nav>
                        &lt;ul>
                            &lt;li>&lt;a href="javascript:void();">Menu Link #1&lt;/a>&lt;/li>
                            &lt;li>&lt;a href="javascript:void();">Menu Link #2&lt;/a>&lt;/li>
                            &lt;li>&lt;a href="javascript:void();">Menu Link #3&lt;/a>&lt;/li>
                            &lt;li>&lt;a href="javascript:void();">Menu Link #4&lt;/a>&lt;/li>
                            &lt;li>&lt;a href="javascript:void();">Menu Link #5&lt;/a>&lt;/li>
                        &lt;/ul>
                    &lt;/nav>
                &lt;/div>
            &lt;/div>
        &lt;/div>
    &lt;/div>
&lt;/div>
                </pre>
                <br/>
                <br/>
                <br/>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/navi-grid.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/twitter-wall.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/slider.js"></script>
{% endblock %}