{% extends "styleguide/base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Layout</h1>
                <br/>
                <p class="uppercase">center elements</p>
                <br/>
                <p>To center an element wrap it in class="center"</p>
                <br/>
                <div class="center">
                    <h2>headline wrapped in class="center"</h2>
                </div>
                <br/>
                <div class="center">
                    <div class="button">button wrapped in class="center"</div>
                </div>
                <br/>
                <p>... or give the element itself class="center"</p>
                <br/>
                <h2 class="center">headline with class="center"</h2>
                <br/>
                <div class="button-group center">
                    <div class="button">button-group with ...</div>
                    <div class="button">... class "center"</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}