{% extends "base_main.html" %}
{% load base_tags i18n fb_tags image_modifications tagging_tags babel auth_extended infoblocks favorites_tags production_tags festival_tags education_tags cms_tags %}

{% block title %}{% trans "Location" %} – {{ object.title }} – {% endblock %}

{% block js %}
    {{ block.super }}
    {% include "utils/favorites_scripts.html" %}
    <script src="https://maps.googleapis.com/maps/api/js?language={{ LANGUAGE_CODE }}&region=DE&key={{ GOOGLE_API_KEY }}&callback=initGoogleMaps" async defer></script>
{% endblock %}

{% block bodyclass %}{{ block.super }} remove-navigation-gap location-detail{% endblock bodyclass %}

{% block open_graph %}
    <meta property="og:title" content="{{ object.title }}" />
    <meta property="og:type" content="article" />
    {% if object.image %}
        <meta property="og:image" content="{{ current_website_url }}{{ MEDIA_URL }}{{ object.image|modified_path:"og" }}" />
    {% else %}
        <meta property="og:image" content="{{ current_website_url }}{{ STATIC_URL }}site/img/ruhrbuehnen_opengraph.png" />
    {% endif %}
    <meta property="og:description" content="{{ object.get_rendered_description|striptags|truncatewords:20|escape }}" />
{% endblock %}

{% block meta_tags %}
    {{ block.super }}
    <link rel="canonical" href="https://www.ruhr-buehnen.de{{ request.path }}" />
    <meta name="description" lang="{{ LANGUAGE_CODE }}" content="{{ object.title }} – {% page_attribute "title" as title %}{% page_attribute "page_title" as page_title %}{{ page_title|default:title|escape }} – Berlin Bühnen" />
    {{ site_settings.get_meta_keywords|safe }}
{% endblock %}

{% block content %}
    {% with object as location %}

        <!-- header image -->

        <div class="header-image">
            <div class="slider fullscreen">
                <div class="slide">
                    {% if location.first_image %}
                        {% with location.first_image.path|file_description as file_desc %}
                            <img class="responsive-xl" data-responsive-src="{{ UPLOADS_URL }}{{ location.first_image.path|modified_path:"fullscreen_xl" }}" src="about:blank" style="display:none;" alt="{{ location.title|escape }}" />
                            <img class="responsive-lg" data-responsive-src="{{ UPLOADS_URL }}{{ location.first_image.path|modified_path:"fullscreen_lg" }}" src="about:blank" style="display:none;" alt="{{ location.title|escape }}" />
                            <img class="responsive-md" data-responsive-src="{{ UPLOADS_URL }}{{ location.first_image.path|modified_path:"fullscreen_md" }}" src="about:blank" style="display:none;" alt="{{ location.title|escape }}" />
                            <img class="responsive-sm" data-responsive-src="{{ UPLOADS_URL }}{{ location.first_image.path|modified_path:"fullscreen_sm" }}" src="about:blank" style="display:none;" alt="{{ location.title|escape }}" />
                            <img class="responsive-xs-horizontal" data-responsive-src="{{ UPLOADS_URL }}{{ location.first_image.path|modified_path:"fullscreen_xs_h" }}" src="about:blank" style="display:none;" alt="{{ location.title|escape }}" />
                            <img class="responsive-xs-vertical" data-responsive-src="{{ UPLOADS_URL }}{{ location.first_image.path|modified_path:"fullscreen_xs_v" }}" src="about:blank" style="display:none;" alt="{{ location.title|escape }}" />
                            {% if file_desc.author %}<span class="photo-credits-over">{% trans "Photo" %}: {{ file_desc.author }}</span>{% endif %}
                        {% endwith %}
                    {% endif %}
                </div>
            </div>
            <div class="overlay visible-xs">
                <div class="locations">
                    <h2 class="visible-xs">{{ location.title }}</h2>
                </div>
            </div>
        </div>

        <!-- header image end -->

        <div class="container visible-xs">

            <!-- xs header / quick info -->

            <div class="background height-offset">
                <h2 class="center">{% trans 'Quick Info' %}</h2>
            </div>

            <!-- xs header / quick info end -->

        </div>

        <div class="container hidden-xs height-offset body-header">

            <!-- body header -->

            <div class="background">
                <div class="row">
                    <div class="hidden-xs col-sm-4 col-md-3 col-lg-4"></div>
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-8">
                        <div class="body-header-main">
                            <h1>{{ location.title }}</h1>
                            {% if location.subtitle %}<h5 class="alt-font">{{ location.subtitle }}</h5>{% endif %}

                            {% if object.is_editable and not request.is_mobile %}
                                <span class="cms_edit"><a class="pencil" title="{% trans "Edit" %}" href="{{ request.path }}change/"><span class="icon">{% include 'svg/icons/pencil.svg' %}</span><span class="sr-only">{% trans "Edit" %}</span></a></span>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="button-bar-wrapper hidden-xs col-sm-4 col-md-3 col-lg-3">
                    <div class="button-bar {% if location.tickets_website %}full{% endif %}">
                        <a class="share" href="" title="{% trans 'Share' %}"><span class="icon">{% include 'svg/icons/share.svg' %}</span></a>
                        <a class="map" href=""><span class="icon" title="{% trans 'Show on map' %}">{% include 'svg/icons/location.svg' %}</span></a>
                        {% if request.user.is_authenticated %}
                            {% adding2favorites for location using "favorites/includes/favorite_a.html" %}
                        {% else %}
                            {% login2favorites using "favorites/includes/favorite_a_login.html" %}
                        {% endif %}
                        {% if location.tickets_website %}<a class="tickets" href="{{ location.tickets_website }}" target="_blank" title="{% trans 'Get tickets' %}"><span class="icon">{% include 'svg/icons/tickets.svg' %}</span>{% trans "Tickets" %}</a>{% endif %}
                    </div>
                </div>
            </div>

            <!-- body header end -->

        </div>

        <div class="background">
            <div class="container">
                <div class="row">
                    <div class="hidden-xs col-sm-4 col-md-3 col-lg-3">

                        <!-- sidebar -->

                        <div class="sidebar accordion">


                            <div class="accordion-item underline">
                                <div class="accordion-head h4 body-sidebar-margin">{% trans 'Venue' %}</div>
                                <div class="accordion-body body-sidebar-margin">
                                    <div href="{{ location.get_url_path }}">
                                        <h5 class="regular">{{ location.title }}</h5>
                                        <p>
                                            {% if location.street_address %}{{ location.street_address }}<br />{% endif %}
                                            {% if location.street_address2 %}{{ location.street_address2 }}<br />{% endif %}
                                            {% if location.city %}{{ location.postal_code }} {{ location.city }}<br />{% endif %}
                                        </p>
                                    </div>
                                    {% if location.phone_number or location.fax_number or location.email or location.website %}
                                        <dl class="series">
                                            {% if location.phone_number %}
                                                <dt>{% trans "Phone" %}</dt>
                                                <dd><a href="tel:{% if location.phone_country %}+{{ location.phone_country|cut:" " }}{% endif %}{{ location.phone_area|cut:" " }}{{ location.phone_number|cut:" " }}">{% if location.phone_country %}+{{ location.phone_country }}-{% endif %}{{ location.phone_area }}-{{ location.phone_number }}</a></dd>
                                            {% endif %}
                                            {% if location.fax_number %}
                                                <dt>{% trans "Fax" %}</dt>
                                                <dd>{% if location.fax_country %}+{{ location.fax_country }}-{% endif %}{{ location.fax_area }}-{{ location.fax_number }}</dd>
                                            {% endif %}
                                            {% if location.email %}
                                                <dt>{% trans "Mail" %}</dt>
                                                <dd><a href="mailto:{{ location.email }}">{{ location.email }}</a></dd>
                                            {% endif %}
                                            {% if location.website %}
                                                <dt>{% trans "Web" %}</dt>
                                                <dd><a href="{{ location.website }}" target="_blank" class="no-print">{{ location.website|humanize_url:28 }}</a><a href="{{ location.website }}" target="_blank" class="print">{{ location.website }}</a></dd>
                                            {% endif %}
                                        </dl>
                                    {% endif %}
                                </div>
                            </div>


                            {% if location.stage_set.exists %}
                                <div class="accordion-item underline">
                                    <div class="accordion-head h4 body-sidebar-margin">{% trans 'Stages' %}</div>
                                    <div class="accordion-body body-sidebar-margin">
                                        {% for stage in location.stage_set.all %}
                                            <h5 class="regular">{{ stage.title }}</h5>
                                            <p>
                                                {% if stage.street_address %}{{ stage.street_address }}<br />{% endif %}
                                                {% if stage.street_address2 %}{{ stage.street_address2 }}<br />{% endif %}
                                                {% if stage.city %}{{ stage.postal_code }} {{ stage.city }}<br />{% endif %}
                                            </p>

                                            {% if stage.description %}
                                                {{ stage.get_rendered_description }}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}


                            {% if location.tickets_street_address or location.get_opening_hours or location.tickets_phone_number or location.tickets_fax_number or location.tickets_email or location.tickets_website %}
                                <div class="accordion-item underline">
                                    <div class="accordion-head h4 body-sidebar-margin">{% trans 'Tickets Box Office' %}</div>
                                    <div class="accordion-body body-sidebar-margin">

                                        {% if location.tickets_street_address %}
                                            <p>
                                                {{ location.tickets_street_address }}<br />
                                                {% if location.tickets_street_address2 %}{{ location.tickets_street_address2 }}<br />{% endif %}
                                                {% if location.tickets_city %}{{ location.tickets_postal_code }} {{ location.tickets_city }}<br />{% endif %}
                                            </p>
                                        {% endif %}

                                        {% if location.get_opening_hours %}
                                            <dl class="series">
                                                {% for times in location.get_opening_hours %}
                                                    <dt>{{ times.weekday }}</dt>
                                                    <dd>{% if times.open %}{{ times.open|time:"H:i" }} - {% if times.break_open and times.break_close %}{{ times.break_close|time:"H:i" }}, {{ times.break_open|time:"H:i" }} - {% endif %}{{ times.close|time:"H:i" }}{% else %}{% trans "Closed" %}{% endif %}</dd>
                                                {% endfor %}
                                            </dl>
                                        {% endif %}

                                        {% if location.tickets_additional_info %}
                                            <div>
                                                {{ location.get_rendered_tickets_additional_info }}
                                            </div>
                                        {% endif %}

                                        {% if location.tickets_phone_number or location.tickets_fax_number or location.tickets_email or location.tickets_website %}
                                            <dl class="series">
                                                {% if location.tickets_phone_number %}
                                                    <dt>{% trans "Phone" %}</dt>
                                                    <dd><a href="tel:{% if location.tickets_phone_country %}+{{ location.tickets_phone_country|cut:" " }}{% endif %}{{ location.tickets_phone_area|cut:" " }}{{ location.tickets_phone_number|cut:" " }}">{% if location.tickets_phone_country %}+{{ location.tickets_phone_country }}-{% endif %}{{ location.tickets_phone_area }}-{{ location.tickets_phone_number }}</a> {{ location.get_rendered_tickets_calling_prices|striptags }}</dd>
                                                {% endif %}
                                                {% if location.tickets_fax_number %}
                                                    <dt>{% trans "Fax" %}</dt>
                                                    <dd>{% if location.tickets_fax_country %}+{{ location.tickets_fax_country }}-{% endif %}{{ location.tickets_fax_area }}-{{ location.tickets_fax_number }}</dd>
                                                {% endif %}
                                                {% if location.tickets_email %}
                                                    <dt>{% trans "Mail" %}</dt>
                                                    <dd><a href="mailto:{{ location.tickets_email }}">{{ location.tickets_email }}</a></dd>
                                                {% endif %}
                                                {% if location.tickets_website %}
                                                    <dt>{% trans "Web" %}</dt>
                                                    <dd><a href="{{ location.tickets_website }}" class="no-print">{{ location.tickets_website|humanize_url:28 }}</a><a href="{{ location.tickets_website }}" class="print">{{ location.tickets_website }}</a></dd>
                                                {% endif %}
                                            </dl>
                                        {% endif %}

                                    </div>
                                </div>
                            {% endif %}


                            {% if location.services.all %}
                                <div class="accordion-item underline">
                                    <div class="accordion-head h4 body-sidebar-margin">{% trans 'Service' %}</div>
                                    <div class="accordion-body body-sidebar-margin">
                                        <ul class="list">
                                            {% for cat in location.services.all %}
                                                <li>{{ cat.title }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            {% endif %}


                            {% if location.accessibility_options.exists %}
                                <div class="accordion-item underline">
                                    <div class="accordion-head h4 body-sidebar-margin">{% trans 'Accessibility Options' %}</div>
                                    <div class="accordion-body body-sidebar-margin">
                                        <ul class="list">
                                            {% for cat in location.accessibility_options.all %}
                                                <li>{{ cat.title }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            {% endif %}
                        <!-- main content end -->

                    </div>
                </div>
            </div>
        </div>

    {% endwith %}
{% endblock %}

{% comment %}
{% block js %}
    <script src="{{ STATIC_URL }}site/js/accordion.js"></script>
    <script src="{{ STATIC_URL }}site/js/gallery.js"></script>
    <script src="{{ STATIC_URL }}site/js/slider.js"></script>
    <script src="{{ STATIC_URL }}site/js/add_to_calender_1.5_atc.min.js" defer="defer"></script>
    {% include "utils/favorites_scripts.html" %}
{% endblock %}

{% block content %}
    {% with object as location %}
        <div id="location" class="content details">
            <div class="container main-container">
                <div class="row">
                    <div class="col-xs-12 print-padding">
                        <a class="fawesome back uc no-print" href="{% url 'location_list' %}{% remove_from_query "page" %}">{% trans "back to overview" %}</a>
                        <article>

                            <!-- headlines -->
                            <header>
                                <div class="header-icons no-print">
                                    {% if request.user.is_authenticated %}
                                        {% adding2favorites for location using "favorites/includes/favorite_detail.html" %}
                                    {% else %}
                                        {% login2favorites using "favorites/includes/favorite_detail_login.html" %}
                                    {% endif %}
                                    <a href="{% url 'location_list_map' %}#object_id={{ location.id }}" class="fawesome map" data-toggle="tooltip" data-placement="top" title="{% trans "Show on map" %}" data-tooltip-left="-6"><span class="sr-only">{% trans "Show on map" %}</span></a>
                                </div>
                                <h1>{{ location.title }}
                                    {% if object.is_editable and not request.is_mobile %}
                                        <span class="cms_edit"><a class="icon icon-pencil" data-toggle="tooltip" data-placement="bottom" data-original-title="{% trans "Edit" %}" href="{{ request.path }}change/">&nbsp;<span class="sr-only">{% trans "Edit" %}</span></a></span>
                                    {% endif %}
                                </h1>
                                {% if location.subtitle %}
                                    <h2>{{ location.subtitle }}</h2>
                                {% endif %}
                            </header>

                            <!-- main  part (including sidebar) -->
                            <div class="main">
                                <div class="container">
                                    <div class="row">

                                        <!-- main content -->
                                        <div class="col-xs-12 col-md-8 left">
                                            {% if location.first_image %}
                                                {% with location.first_image.path|file_description as file_desc %}
                                                    <div class="top-image img chevron"><img src="{{ STATIC_URL }}site/img/placeholder_rectangle.gif" data-original="{{ MEDIA_URL }}{{ location.first_image.path|modified_path:"detail_image" }}" alt="{{ location.title|escape }}"  />{% pin image=location.first_image description=location.title %}
                                                    {% if file_desc.author %}<span class="photo-credits-over">{% trans "Photo" %}: {{ file_desc.author }}</span>{% endif %}</div>
                                                {% endwith %}
                                            {% endif %}
                                            <div class="description">
                                                {{ location.get_rendered_description }}
                                            </div>
                                        </div>

                                        <!-- main sidebar -->
                                        <div class="col-xs-12 col-md-4 right">
                                            {% include "locations/includes/sidebar.html" %}
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <!-- additional content (accordion) -->
                            <div class="additional">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xs-12 full">

                                            {% schedule_of_location location=location %}

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </article>


                        <!-- event slider -->
                        {% other_productions current_location=location %}

                        {% festivals_slider location=location %}

                        {% education_info location=location %}


                        <!-- Gallery -->
                        {% if location.image_set.exists %}
                            <div class="gallery margin-top row">
                                <h4 class="gallery-head">{% trans "Gallery" %}</h4>
                                {% for image in location.image_set.all %}
                                    <div class="col-xs-12 col-sm-6 col-md-4 image gallery-item img chevron">
                                        {% with image.path|file_description as file_desc %}
                                            <img class="gallery-image" src="{{ STATIC_URL }}site/img/placeholder_rectangle.gif" data-original="{{ MEDIA_URL }}{{ image.path|modified_path:"gallery_image" }}" alt="{% if file_desc.description %}{{ file_desc.description|escape }}{% endif %}" width="100%" data-image-big="{{ MEDIA_URL }}{{ image.path }}" />{% pin image=image description=location.title %}
                                            {% if file_desc.author %}<span class="photo-credits-over">{% trans "Photo" %}: {{ file_desc.author }}</span>{% endif %}
                                            <div class="gallery-image-text">
                                                <div class="gallery-image-text-description">
                                                    {% if file_desc.title %}
                                                        <span class="gallery-image-text-description-title">{{ file_desc.title }}</span>
                                                    {% endif %}
                                                    {% if file_desc.description %}
                                                        <span class="gallery-image-text-description-copy">{{ file_desc.description }}</span>
                                                    {% endif %}
                                                    {% if file_desc.author %}
                                                        <span class="gallery-image-text-description-author">{% trans "Photo" %}: {{ file_desc.author }}</span>
                                                    {% endif %}
                                                </div>
                                                {% if file_desc.copyright_limitations %}
                                                    <div class="gallery-image-text-copyright">{% trans "Copyright" %}: {{ file_desc.copyright_limitations }}</div>
                                                {% endif %}
                                            </div>
                                        {% endwith %}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    {% endwith %}
    {% include "utils/page_controls.html" %}
{% endblock %}
{% endcomment %}
