{% extends "base.html" %}
{% load i18n base_tags navigation_tags infoblocks auth_extended blog %}

{% block title %}Blog{% endblock %}

{% block extrahead %}
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/website/generic.js"></script>
{% endblock %}

{% block headline %}
    <h1>{% trans "Blog" %}</h1>
{% endblock %}


{% block formstart %}
{% endblock %}

{% block formclose %}
{% endblock %}

{% block content %}
    {% if not object %}
        {% infoblock "blog_intro" using "blocks/highlighted_infoblock.html" %}
    {% endif %}

    {% block details %}
    {% endblock %}
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="/">{% trans "Home" %}</a>
        {% block breadcrumbs_details %}
        {% endblock %}
    </div>
{% endblock %}

