{% extends "base_redesign.html" %}
{% load i18n base_tags navigation_tags infoblocks auth_extended blog %}

{% block title %}Blog{% endblock %}

{% block extrahead %}
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/website/generic.js"></script>
{% endblock %}

{% block headline %}
    <h1>{% trans "Blog" %}</h1>
{% endblock %}


{% block formstart %}
{% endblock %}

{% block formclose %}
{% endblock %}

{% block content %}
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>{% trans "Blog" %}</h1>
                    {% if not object %}
                        {% infoblock "blog_intro" using "blocks/highlighted_infoblock.html" %}
                    {% endif %}
                </div>
            </div>
        </div>
    </header>
    {% block details %}
    {% endblock %}
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="/">{% trans "Home" %}</a>
        {% block breadcrumbs_details %}
        {% endblock %}
    </div>
{% endblock %}

