{% extends "base.html" %}
{% load i18n base_tags navigation_tags infoblocks auth_extended blog %}

{% block title %}Blog{% endblock %}


{% block content %}
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1><a href="{{ container.get_url_path }}">{% trans "Blog" %}</a></h1>
                    {% if not object %}
                        {% infoblock "blog_intro" using "blocks/h4_content.html" %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3">
                            
                {% if_has_perm "blog.change_blog_posts" container %}
                    <div class="button-group">
                        <a class="fawesome fa-bullhorn button text" href="{{ container.get_url_path }}new/"><span class="text">{% trans "Create blog post" %}</span></a>
                        <br class="hidden-xs" /><br class="hidden-xs" />
                    </div>
                {% else %}
                    {% if_has_perm object_change_permission container.content_object %}
                        <div class="button-group">
                            <a class="fawesome fa-bullhorn button text" href="{{ container.get_url_path }}new/"><span class="text">{% trans "Create blog post" %}</span></a>
                            <br class="hidden-xs" /><br class="hidden-xs" />
                        </div>
                    {% end_if_has_perm %}
                {% end_if_has_perm %}
                
                {% block sidebar %}
                {% endblock %}
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9">
                {% block details %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block breadcrumbs %}
    {% block breadcrumbs_details %}
    {% endblock %}
{% endblock %}

