{% load base_tags i18n %}

{% if not post_list %}
    <p>{% trans "No blog entries have been posted yet" %}</p>
{% else %}
    <div id="object_list">
        <div class="row blog-grid">
            {% for post in post_list %}
                {% include_selected "post_brief.html" for object under "blog" %}
            {% endfor %}
        </div>
    </div>
    {% include "utils/includes/pagination.html" %}
{% endif %}

<script type="text/javascript" src="{{ STATIC_URL }}site/js/blog-grid.js"></script>
