{% extends "articles/articles_base.html" %}
{% load base_tags babel i18n auth_extended %}
{% block headline %}
    {% if article_list %}
        <h2 class="sub">{{ article_list.0.article_type.title|escape }}</h2>
    {% endif %}
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/website/generic.js"></script>
{% endblock %}

{% block details %}
    {% block breadcrumbs %}
        <div class="breadcrumbs">
            <div class="width">
                {% comment TODO CHECK PRIVILEGES TO DISPLAY DRAFTS %}
                {% if_has_perm "blog.change_blog_posts" blog %}
                    {% ifequal post_filter "drafts" %}
                        <a class="active" href="{{ rel_root_dir }}">{% trans "Drafts" %}({{ nof_drafts }})</a> | 
                    {% else %}
                        <a href="{{ rel_root_dir }}drafts/">{% trans "Drafts" %}({{ nof_drafts }})</a> |
                    {% endifequal %}
                {% end_if_has_perm %}
                {% endcomment %}

                <a href="{{ rel_root_dir }}">{% trans "Overview" %}</a>
                |
                <a href="{{ rel_root_dir }}{{ type.slug }}/">{{ type.title|escape }}</a>
                ::
                <a class="active"
                   href="{{ rel_root_dir }}{% if type %}{{ type.slug }}/{% endif %}{{ year }}/">{{ year }}</a>

                {% for year_month in date_list %}
                    {% if forloop.first %} &raquo; {% else %} | {% endif %}
                    {% if year_month.1 %}
                        <a href="{{ rel_root_dir }}{% if type %}{{ type.slug }}/{% endif %}{{ year_month.0|date:"Y" }}/{{ year_month.0|date:"m" }}/">
                            {{ year_month.0|datefmt:"MMM" }}
                        </a>
                    {% else %}
                        <span>{{ year_month.0|datefmt:"MMM" }}</span>
                    {% endif %}
                {% endfor %}
            </div>
            <a class="rss" href="{{ rel_root_dir }}{% if type %}{{ type.slug }}/{% endif %}feeds/rss/">
                <span>{% trans "RSS feed" %}</span></a>
        </div>
    {% endblock %}

    {% if not article_list %}
        <span class="nothing">{% trans "No articles are available" %}</span>
    {% else %}
        {% for article in article_list %}
            {% include "articles/articles_brief.html" %}
        {% endfor %}

        {% comment %} THE PAGINATION SECTION BEGIN {% endcomment %}
        <div class="breadcrumbs-paginated">
            <div class="page-browse">
                {% if is_paginated %}
                    <div class="paginated">
                        <div class="previous">
                            {% if has_previous %}
                                <a href="{% append_to_get page=previous %}">
                                    <span class="enabled">
                                        <span class="hidden">
                                            {% trans "previous" %}
                                        </span>
                                    </span>
                                </a>
                            {% else %}
                                <span class="disabled">
                                    <span class="hidden">{% trans "previous" %}</span>
                                </span>
                            {% endif %}
                        </div>
                        <form action="">
                            <label>
                                <select class="page_skip" onchange="append_to_get({page: this.value});">
                                    {% for pnumber in page_numbers %}
                                        <option value="{{ pnumber }}"{% ifequal pnumber page %}
                                                selected="selected"{% endifequal %}>
                                            {% blocktrans %}Page {{ pnumber }} of {{ pages }}{% endblocktrans %}</option>
                                    {% endfor %}
                                </select>
                            </label>
                        </form>
                        <div class="next">
                            {% if has_next %}
                                <a href="{% append_to_get page=next %}">
                                    <span class="enabled">
                                        <span class="hidden">
                                            {% trans "next" %}
                                        </span>
                                    </span>
                                </a>
                            {% else %}
                                <span class="disabled">
                                    <span class="hidden">
                                        {% trans "next" %}
                                    </span>
                                </span>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}

                <form action="">
                    <div class="skip">
                        {% trans "show" %}
                        <label for="id_list_pagination"></label>
                        <select id="id_list_pagination" class="page_count">
                            <option value="5"{% ifequal results_per_page 5 %}
                                    selected="selected"{% endifequal %} >5
                            </option>
                            <option value="10"{% ifequal results_per_page 10 %}
                                    selected="selected"{% endifequal %} >10
                            </option>
                            <option value="20"{% ifequal results_per_page 20 %}
                                    selected="selected"{% endifequal %}>20
                            </option>
                            <option value="50"{% ifequal results_per_page 50 %}
                                    selected="selected"{% endifequal %}>50
                            </option>
                        </select>
                        {% trans "items per page" %}
                    </div>
                </form>
            </div>
        </div>
        {% comment %} THE PAGINATION SECTION END {% endcomment %}
    {% endif %}
{% endblock %}                           
