{% load i18n base_tags navigation_tags auth_extended %}
<div class="categories nav_collapsed" id="add_box">
    <h3><a href="#" class="open_but"><b>{% trans "Tools" %}</b></a></h3>
    <div class="hidable">
    	<ul>
    		{% comment %}
    		THIS HERE YOU MAYBE CAN WRITE ARTICLES ONE DAY
	    	{% if_has_perm "blog.add_blog_posts" blog %}
				<li{% ifequal blog_action 'new' %} class="active"{% endifequal %} class="new_post">
	            	<a href="{{ rel_root_dir }}new/"><span class="pic"></span>{% trans "Write a Post" %}</a>
	            </li>	
			{% end_if_has_perm %}
			{% endcomment %}
			<li class="rss"><a href="{{ rel_root_dir }}{% if type %}{{ type.slug }}/{% endif %}feeds/rss/"><span class="pic"></span>{% trans "RSS feed" %}</a></li>
        	<li class="rss"><a href="{{ rel_root_dir }}{% if type %}{{ type.slug }}/{% endif %}feeds/atom/"><span class="pic"></span>{% trans "ATOM feed" %}</a></li>
			<li class="print"><a href="#" onclick="window.print(); return false;"><span class="pic"></span>{% trans "print" %}</a></li>        	
		</ul>			
	</div>	
</div>

