{% load i18n %}
<div id="popup_content">
    <form action="" method="post" class="uniForm">{% csrf_token %}
        <p class="disclaimer">{% blocktrans with user.profile.get_title as person_name %}Do you really want to block
            {{ person_name }}?{% endblocktrans %}</p>

        <div class="buttonHolder">
            <input class="primaryAction" type="submit" id="post" name="post"
                value='{% filter upper %}{% trans "Block" %}{% endfilter %}'/>
            <input class="secondaryAction" type="button" name="cancel"
                value="{% filter upper %}{% trans 'Cancel' %}{% endfilter %}"/>
        </div>
    </form>
</div>
