{% extends "ccb/search/search_base.html" %}
{% load i18n crispy_forms_tags %}
{% block title %}
    {% trans 'SEARCH' %}
{% endblock %}

{% block headline %}
    {% trans "SEARCH" %}
{% endblock %}

{% block extrahead %}
    <style>
        span.highlighted {
            background: yellow;
        }
    </style>
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/website/search.js"></script>
{% endblock %}

{% block form %}
    {% crispy form "ccb_form" %}
    <script>
        $('label').click(function (e) {
            e.stopPropagation();
        })
    </script>
{% endblock %}

{% block javascript %}
    <script
        type="text/javascript"
        src="{{ STATIC_URL }}site/js/website/listing_search.js"
    ></script>
{% endblock %}
