{% extends base_template|default:"base.html" %}
{% load i18n base_tags navigation_tags %}


{% block extrahead %}
    <meta name="robots" content="noindex"/>
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/website/generic.js" defer="defer"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/website/individual_relations.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/website/groups_networks.js"></script>
{% endblock %}


{% block title %}{% trans "SEARCH RESULTS" %}{% endblock %}


{% block headline %}
    {% if creative_sector %}
        <h1>{{ creative_sector.get_title }}</h1>
        <h2 class="sub">{% trans "search results" %}</h2>
    {% else %}
        <h2 class="main">{% trans "search results" %}</h2>
    {% endif %}
{% endblock %}


{% block content %}
    <div class="search-browse">
        {% if object_list %}
            {% include_parsed "utils/includes/sorting_and_pagination.html" with "under-tabs" as css_class %}

            <div id="object_list">
                {% include "site_specific/context_item_list.html" %}
            </div>

            {% include "utils/includes/sorting_and_pagination.html" %}

        {% else %}
            <p class="nothing">{% trans "No objects found within the selected conditions." %}</p>
        {% endif %}
    </div>
{% endblock %}


{% block extrabody %}
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/website/listing.js"></script>
{% endblock %}
