{% load blog babel comments base_tags i18n auth_extended %}

<div class="headline">
    <div class="blog-info">
        <span class="date">{{ post.published_from|datefmt:"long" }}</span> 
        {% comment %}
        | {% blocktrans with post.publisher as publisher %}by <b>{{ publisher }}</b>{% endblocktrans %}
        {% endcomment %}
        {% if post.enable_comment_form %}
            {% get_comment_list for blog.post post.id as comment_list %} <span> |</span>
            <a href="{{ post.get_url_path }}#comments">
                {% if not comment_list|length %}
                    {% trans "No comments" %}
                {% else %}
                    {% blocktrans count comment_list|length as counter %}1 comment{% plural %}{{ counter }} comments{% endblocktrans %}
                    {% comment %}<!--
                    <span>|</span>
                    {% get_comment_latest for blog.post post.id as comment_latest %}
                    {% blocktrans with comment_latest.submit_date|datefmt:"long" as latest_date %}Latest comment from {{ latest_date }}{% endblocktrans %}
                     -->{% endcomment %}
                {% endif %}
            </a>
        {% endif %}
    </div>
    <h3>
	    <a class="hl" id="{{ post.slug }}" href="{{ post.get_url_path }}">{{ post.title }}</a>
    </h3>
</div>
<div class="blog_entry">
    {% comment %}<!--<p>{{ post.body|markup2html:40 }}</p>-->{% endcomment %}
    <p>
        {{ post.body|disarm_user_input|wordwrap:30|striptags|safe|truncatewords:"40" }} 
        <a href="{{ post.get_url_path }}">
           {% trans "Read more" %}
        </a>
    </p>
        
    {% if post.get_tags %}
        <div class="post-meta">
            <span>{% trans "Tags" %}: </span> 
            {% for tag in post.get_tags %}
                {% if not forloop.first %} | {% endif %}
                <a href="{{ container.get_url_path }}tag/{{ tag.slug }}/">{{ tag.name }} </a>
            {% endfor %}
        </div>
    {% endif %}
    <ul class="toolbar">
        {% if_has_perm "blog.change_blog_posts" blog %}
            <li id="editPost_{{post.slug }}" class="editPost"><a title="{% trans "edit" %}" href="{{ post.get_url_path }}edit/"><span>{% trans "edit" %}</span></a></li>
        {% end_if_has_perm %}
     
        {% if_has_perm "blog.delete_blog_posts" blog %}
            <li id="deletePost_{{ post.slug }}" class="deletePost"><a title="{% trans "delete" %}" href="{{ post.get_url_path }}delete/"><span>{% trans "delete" %}</span></a></li>	  	
        {% end_if_has_perm %}
    </ul>
</div>

