{% block doctype %}<!DOCTYPE html>{% endblock %}
{% load cms_tags menu_tags compressed sekizai_tags i18n image_modifications %}
<html lang="{{ LANGUAGE_CODE }}"> 
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Museumsportal Berlin{% block title %}{% endblock %}</title>
	<link rel="icon" href="{{ STATIC_URL }}site/img/favicon.ico" type="image/png">
	
    {% block meta_tags %}
        {{ site_settings.get_meta_tags|safe }}
    {% endblock %}	
	
    {% block stylesheet %}
        <link href="{{ STATIC_URL }}site/css/reset.css" rel="stylesheet" media="screen" type="text/css" />
        <link href="{{ STATIC_URL }}site/css/style.css" rel="stylesheet" media="screen" type="text/css" />
    {% endblock %}
	
    {% render_block "css" %}

	<script type="text/javascript" src="{{ STATIC_URL }}site/js/jquery.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}site/js/modernizr.custom.52849.js"></script>
    {{ site_settings.extra_head|safe }}
    {% block js %}{% endblock %}
    
</head>
<body class="{% block bodyclass %}{% endblock %}">

    {% block toolbar %}
        {% cms_toolbar %}
    {% endblock %}
	<div class="wrapper">
		<div id="header" class="clearfix">
			<ul class="navigation">
			    {% if LANGUAGE_CODE == "de" %}
				    <li><span>Hier entsteht Berlins neues Museumsportal</span><br/></li>
                {% else %}
				    <li><span>Berlin's new online platform for museums is being created here</span><br/></li>
                {% endif %}
				<li{% if request.path == "/" %} class="selected"{% endif %}><a href="/">Home</a> ·</li>
                {% show_menu_below_id "start_page" 0 1 1 1 %}
			</ul>
            <ul id="lang">
                {% block language_chooser %}
                    {% language_chooser %}
                {% endblock %}
            </ul>

		</div>
		<div id="content" class="clearfix">
		    {% block content %}
			{% endblock %}
		</div>	
		
        <div id="footer" class="clearfix">
            <ul class="navigation">
                {% show_menu_below_id "start_page" 0 1 1 1 %}
                {% if LANGUAGE_CODE == "de" %}
                    <li> · <a href="/de/impressum/">Impressum</a></li>
                {% else %}
                    <li> · <a href="/en/imprint/">Imprint</a></li>
                {% endif %}
            </ul>
            <a class="kpb" href="http://www.kulturprojekte-berlin.de/">Ein Service von:</a>

            <div id="sponsors" class="clearfix">
                <ul>
                    <li class="title">Gefördert durch</li>
                    <li id="sponsor_eu">
                        <a title="EU" target="_blank" href="http://europa.eu/legislation_summaries/agriculture/general_framework/g24234_de.htm">
                            <img src="{{ STATIC_URL }}site/img/footer/1.png">
                            <strong>EU</strong>
                        </a>
                    </li><li id="sponsor_efre">
                        <a title="EFRE" target="_blank" href="http://www.berlin.de/sen/strukturfonds/ab2007/efre/efre.html">
                            <img src="{{ STATIC_URL }}site/img/footer/2.png">
                            <strong>Kulturprojekte Berlin</strong>
                        </a>
                    </li><li id="sponsor_projektzukunft">
                        <a title="Projektzukunft" target="_blank" href="http://www.projektzukunft.berlin.de/">
                            <img src="{{ STATIC_URL }}site/img/footer/3.png">
                            <strong>Projektzukunft</strong>
                        </a>
                    </li><li id="sponsor_beberlin">
                        <a title="Be-Berlin" target="_blank" href="http://www.berlin.de/sen/kultur/index.de.php">
                            <img src="{{ STATIC_URL }}site/img/footer/4.png">
                            <strong>Be-Berlin</strong>
                        </a>
                    </li>
                </ul>
                <ul>
                    <li class="title">Ein Service von</li>
                    <li>
                        <a title="Kulturprojekte Berlin" target="_blank" href="http://www.kulturprojekte-berlin.de/">
                            <img src="{{ STATIC_URL }}site/img/footer/5.png">
                            <strong>Kulturprojekte Berlin</strong>
                        </a>
                    </li>
                </ul>
                <ul>
                    <li class="title">Gemeinsam mit den Berliner Museen und</li>
                    <li>
                        <a title="Landesverband der Museen zu Berlin e.V." target="_blank" href="http://www.lmb.museum//">
                            <img src="{{ STATIC_URL }}site/img/footer/6.png">
                            <strong>Landesverband der Museen zu Berlin e.V.</strong>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        
	</div>
    {% render_block "js" %}
    {{ site_settings.extra_body|safe }}
    <script type="text/javascript">
	$(function() {
        $("a[href^='http://']").attr("target","_blank");	        
	        
	    if ($('#cms_toolbar').length) { // cms toolbar fix
	        if ($('body').css('margin-top') == "-43px") {
	            $('body').css('margin-top', 0);
	        }
	    }
	    
	});
	</script>    
</body>
</html>
