{% extends "admin/change_form.html" %}

<!-- LOADING -->
{% load base_tags i18n auth_extended extended_admin staticfiles compressed_jetson %}

<!-- STYLES -->
{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ jetson_media_url }}js/jquery/jquery.autocomplete.css" />
{% endblock %}

<!-- JAVASCRIPTS -->
{% block javascripts %}
    {{ block.super }}
    <script type="text/javascript" src="{{ jetson_media_url }}js/core.js"></script>
    <script type="text/javascript" src="{% static 'js/admin/RelatedObjectLookups.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/SelectBox.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/SelectFilter2.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/admin/DateTimeShortcuts.js' %}"></script>


    <script type="text/javascript" src="{{ jetson_media_url }}js/jquery/jquery.autocomplete.js"></script>
    <script type="text/javascript" src="{{ jetson_media_url }}js/urlify.js"></script>
    <script type="text/javascript" src="{{ jetson_media_url }}filebrowser/js/AddFileBrowser.js"></script>
    {% compressed_jetson_js "admin_document_change" %}
    <script type="text/javascript" src="{{ jetson_media_url }}js/admin/URLField.js"></script>
    <script type="text/javascript" src="{{ jetson_media_url }}js/admin/change_form.js"></script>
    
    <script type="text/javascript" src="{% static 'js/collapse.min.js' %}"></script>
    <script type="text/javascript" charset="utf-8">
        (function($) {
            $(document).ready(function() {
                grappelli.initDateAndTimePicker();
                $("div.container-flexible div.group").grp_collapsible_group();
                $("div#content .collapse").grp_collapsible({
                    on_init: function(elem, options) {
                        // open collapse (and all collapse parents) in case of errors
                        if (elem.find("ul.errorlist").length > 0) {
                            elem.removeClass("closed")
                                .addClass("open");
                            elem.parents(".collapse")
                                .removeClass("closed")
                                .addClass("open");
                        }
                    }
                });
            });
        })(django.jQuery);
    </script>
{% endblock %}

<!-- COLTYPE/BODYCLASS -->
{% block bodyclass %}change-form document{% endblock %}
{% block content-class %}content-flexible{% endblock %}

<!-- BREADCRUMBS -->
{% block breadcrumbs %}
    {% if not is_popup %}
        <div id="breadcrumbs">
             <a href="../../../">{% trans "Home" %}</a> &rsaquo;
             <a href="../../">{{ "Resources"|app_verbose_name }}</a> &rsaquo; 
             <a href="../">{% trans "Documents" %}</a> &rsaquo; 
             {% if original %}{{ original|truncatewords:"18" }}{% else %}{% trans "Add" %} {% trans "Document" %}{% endif %}
        </div>
    {% endif %}
{% endblock %}

<!-- OBJECT TOOLS -->
{% block object-tools %}
    {% if change %}
        {% if not is_popup %}
            <ul class="tools">
                <li><a href="history/" class="historylink">{% trans "History" %}</a></li>
                {% if original.row_level_permissions %}
                    {% if_has_perm "auth.change_rowlevelpermission" original %}
                        <li><a href="permissions/" class="rowlevelpermissions">{% trans "Permissions" %}</a></li>
                    {% end_if_has_perm %}
                {% endif %}
                {% if original.get_url_path %}
                    <li><a href="{{ original.get_url_path }}" class="viewsitelink">{% trans "View on site" %}</a></li>
                {% endif%}
            </ul>
        {% endif %}
    {% endif %}
{% endblock %}

<!-- CONTENT -->
{% block content %}
    <div id="content-main" class="container-flexible">
        <div class="form-container">
            <form action="" method="post" id="document_form">
                <div>
                    <!-- Popup Hidden Field -->
                    {% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
                    
                    <!-- Errors -->
                    {% if form.errors %}
                        <p class="errornote">
                        {% blocktrans count form.errors.items|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
                        </p>
                        {{ form.non_field_errors }}
                    {% endif %}
                    
                    <!-- Fieldsets -->
                    <fieldset class="module aligned collapse open">
                    <h2 class="collapse-handler">{% trans "Document" %}</h2>
                        {{ form.user_id }}
                        {% if form.title_de %}
                            <div class="med row{% if form.title_de.errors %} errors{% endif %}">
                                <div>
                                    <div class="column span-4"><label for="id_title_de"{% if form.title_de.field.required %} class="required"{% endif %}>{% trans "Title (German)" %}:</label></div>
                                    <div class="column span-flexible">
                                        {{ form.title_de }}
                                        {{ form.title_de.errors }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if form.title_en %}
                            <div class="med row{% if form.title_en.errors %} errors{% endif %}">
                                <div>
                                    <div class="column span-4"><label for="id_title_en"{% if form.title_en.field.required %} class="required"{% endif %}>{% trans "Title (English)" %}:</label></div>
                                    <div class="column span-flexible">
                                        {{ form.title_en }}
                                        {{ form.title_en.errors }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <div class="med row{% if form.slug.errors %} errors{% endif %}">
                            <div>
                                <div class="column span-4"><label for="id_slug"{% if form.slug.field.required %} class="required"{% endif %}>{% trans "Slug for URIs" %}:</label></div>
                                <div class="column span-flexible">
                                    {{ form.slug }}
                                    {{ form.slug.errors }}
                                </div>
                            </div>
                        </div>
                        <div class="med row{% if form.document_type.errors %} errors{% endif %}">
                            <div>
                                <div class="column span-4"><label for="id_D_type"{% if form.D_type.field.required %} class="required"{% endif %}>{% trans "Document Type" %}:</label></div>
                                <div class="column span-flexible">
                                    {{ form.document_type }}
                                    {{ form.document_type.errors }}
                                </div>
                            </div>
                        </div>
                        <div class="med row{% if form.url_link.errors %} errors{% endif %}">
                            <div>
                                <div class="column span-4"><label for="id_url_link"{% if form.url_link.field.required %} class="required"{% endif %}>{% trans "URL" %}:</label></div>
                                <div class="column span-flexible">
                                    {{ form.url_link }}
                                    {{ form.url_link.errors }}
                                </div>
                            </div>
                        </div>
                        <div class="med img row{% if form.document_file.errors %} errors{% endif %}">
                            <div>
                                <div class="column span-4"><label for="id_document_file"{% if form.document_file.field.required %} class="required"{% endif %}>{% trans "Document File" %}:</label></div>
                                <div class="column span-flexible">
                                    {{ form.document_file }}
                                    {{ form.document_file.errors }}
                                </div>
                            </div>
                        </div>
                        <div class="med row{% if form.medium.errors %} errors{% endif %}">
                            <div>
                                <div class="column span-4"><label for="id_medium"{% if form.medium.field.required %} class="required"{% endif %}>{% trans "Medium" %}:</label></div>
                                <div class="column span-flexible">
                                    {{ form.medium }}
                                    {{ form.medium.errors }}
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    {% include "extendedadmin/includes/fieldset_details.html" %}
                    <fieldset class="module aligned collapse closed">
                        <h2 class="collapse-handler">{% trans "Additional Info" %}</h2>
                        <div class="row{% if form.authors.errors %} errors{% endif %}">
                            <div>
                                <div class="column span-4"><label for="id_authors"{% if form.authors.field.required %} class="required"{% endif %}>{% trans "Authors" %}:</label></div>
                                <div class="column span-flexible">
                                    {{ form.authors }}
                                    {{ form.authors.errors }}
                                    <p class="help">{% trans 'Hold down "Control", or "Command" on a Mac, to select more than one.' %}</p>
                                </div>
                            </div>
                        </div>
                        <script type="text/javascript">
                        addEvent(window, "load", function(e) { SelectFilter.init("id_authors", "{% trans "Authors" %}", 0, "{{ jetson_media_url }}"); });
                        </script>
                        <div class="row{% if form.authors_plain.errors %} errors{% endif %}">
                            <div>
                                <div class="column span-4"><label for="id_authors_plain"{% if form.authors_plain.field.required %} class="required"{% endif %}>{% trans "External authors" %}:</label></div>
                                <div class="column span-flexible">
                                    {{ form.authors_plain }}
                                    {{ form.authors_plain.errors }}
                                </div>
                            </div>
                        </div>
                        <div class="row{% if form.publisher.errors %} errors{% endif %}">
                            <div>
                                <div class="column span-4"><label for="id_publisher"{% if form.publisher.field.required %} class="required"{% endif %}>{% trans "Publisher" %}:</label></div>
                                <div class="column span-flexible">
                                    {{ form.publisher }}
                                    {{ form.publisher.errors }}
                                </div>
                            </div>
                        </div>
                        <div class="row{% if form.published_mm.errors or form.published_dd.errors or form.published_yyyy.errors %} errors{% endif %}">
                            <div>
                                <div class="column span-4"><label for="id_published_yyyy"{% if form.published_yyyy.field.required %} class="required"{% endif %}>{% trans "Published" %}:</label></div>
                                <div class="column span-flexible">
                                    <span class="inline-fields">{{ form.published_dd }}</span>
                                    <span class="inline-fields">{{ form.published_mm }}</span>
                                    <span class="inline-fields">{{ form.published_yyyy }}</span>
                                    {{ form.published_dd.errors }}
                                    {{ form.published_mm.errors }}
                                    {{ form.published_yyyy.errors }}
                                </div>
                            </div>
                            
                        </div>
                        <div class="med row{% if form.isbn10.errors %} errors{% endif %}">
                            <div>
                                <div class="column span-4"><label for="id_isbn10"{% if form.isbn10.field.required %} class="required"{% endif %}>{% trans "ISBN 10" %}:</label></div>
                                <div class="column span-flexible">
                                    {{ form.isbn10 }}
                                    {{ form.isbn10.errors }}
                                </div>
                            </div>
                        </div>
                        <div class="med row{% if form.isbn13.errors %} errors{% endif %}">
                            <div>
                                <div class="column span-4"><label for="id_isbn13"{% if form.isbn13.field.required %} class="required"{% endif %}>{% trans "ISBN 13" %}:</label></div>
                                <div class="column span-flexible">
                                    {{ form.isbn13 }}
                                    {{ form.isbn13.errors }}
                                </div>
                            </div>
                        </div>
                        <div class="low row{% if form.pages.errors %} errors{% endif %}">
                            <div>
                                <div class="column span-4"><label for="id_pages"{% if form.pages.field.required %} class="required"{% endif %}>{% trans "Pages" %}:</label></div>
                                <div class="column span-flexible">
                                    {{ form.pages }}
                                    {{ form.pages.errors }}
                                </div>
                            </div>
                        </div>
                        <div class="low row{% if form.file_size.errors %} errors{% endif %}">
                            <div>
                                <div class="column span-4"><label for="id_file_size"{% if form.file_size.field.required %} class="required"{% endif %}>{% trans "File size" %}:</label></div>
                                <div class="column span-flexible">
                                    {{ form.file_size }}
                                    {{ form.file_size.errors }}
                                </div>
                            </div>
                        </div>
                        <div class="low row{% if form.playing_time.errors %} errors{% endif %}">
                            <div>
                                <div class="column span-4"><label for="id_playing_time"{% if form.playing_time.field.required %} class="required"{% endif %}>{% trans "Playing time" %}:</label></div>
                                <div class="column span-flexible">
                                    {{ form.playing_time }}
                                    {{ form.playing_time.errors }}
                                </div>
                            </div>
                        </div>
                        <div class="low row{% if form.languages.errors %} errors{% endif %}">
                            <div>
                                <div class="column span-4"><label for="id_languages"{% if form.languages.field.required %} class="required"{% endif %}>{% trans "Languages" %}:</label></div>
                                <div class="column span-flexible">
                                    {{ form.languages }}
                                    {{ form.languages.errors }}
                                    <p class="help">{% trans 'Hold down "Control", or "Command" on a Mac, to select more than one.' %}</p>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    {% include "extendedadmin/includes/fieldset_categories.html" %}
                    {% include "extendedadmin/includes/fieldset_status.html" %}
                    <!-- Submit-Row -->
                    <div class="module footer">
                        <ul class="submit-row">
                            <li class="left delete-link-container"><a href="delete/" class="delete-link">Delete</a></li>
                            <li class="submit-button-container"><input type="submit" value="{% trans 'Save' %}" class="default" name="_save" /></li>
                            <li class="submit-button-container"><input type="submit" value="{% trans 'Save and add another' %}" name="_addanother" /></li>
                            <li class="submit-button-container"><input type="submit" value="{% trans 'Save and continue editing' %}" name="_continue" /></li>
                        </ul>
                    </div>
                </div>
            </form>
            <script type="text/javascript">
            //<![CDATA[
            document.getElementById("id_title_de").focus();
            document.getElementById("id_title_de").onkeyup = function() {
                var e = document.getElementById("id_slug");
                if(!e._changed) {
                    e.value = URLify(document.getElementById("id_title_de").value, 255);
                }
            };
            document.getElementById("id_slug").onchange = function() {
                this._changed = true;
            };
            //]]>
            </script>
        </div>
    </div>
{% endblock %}
