{% comment %}
    An instance of AdBase is passed to this tag.
{% endcomment %}
{% load i18n %}

{% if ad.textad %}
    <div class="ad_text zone_{{ ad.zone.sysname }} clearfix">
        <div class="ad_label">{% trans "Advertisement" %}</div>
        <p><a target="_blank" href="{{ ad.get_url_path }}">{{ ad.textad.content }}</a></p>
    </div>
{% endif %}

{% if ad.bannerad %}
    <div class="ad_banner zone_{{ ad.zone.sysname }} clearfix">
        <div class="ad_label">{% trans "Advertisement" %}</div>
        <a target="_blank" href="{{ ad.get_url_path }}"><img src="{{ ad.bannerad.content.url }}" alt="{{ ad.title }}" /></a>
    </div>
{% endif %}
