{% load base_tags i18n auth_extended forum babel image_mods_tags %}

{% include_selected "forum_actions.html" for object under "forum" %}

<div class="forum-block">
    <h3>{{ current_forum.short_title|escape }}</h3>
    <div class="forum-description">
        <p>
            {{ current_forum.description|striptags|safe }}
        </p>
    </div>
</div>

{% get_forum_children for current_forum as forum_children %}

{% if forum_children %}

    {% for forum_child in forum_children %}

        {% get_forum_children for forum_child as forum_child_children %}

        <div class="forum-block">
            <div>
                <h4>
                    <a id="{{ forum_child.slug }}" href='{{ forum_child.get_url }}'>{{ forum_child.title|escape }}</a>
                </h4>

                {% comment %}<!--
		        	If the forum_child has no children, display some statistics here
		        -->{% endcomment %}
                {% if not forum_child_children %}

                    {% trans "Views" %}:  {{ forum_child.get_nof_views }} |
                    {% trans "Threads" %}:  {{ forum_child.get_nof_threads }} |
                    {% trans "Replies" %}:  {{ forum_child.get_nof_replies }}
                    {% with forum_child.get_latest_post as latest_post %}
                        {% if latest_post %}
                            | {% trans "Latest Post" %}:
                            {% blocktrans with latest_post.creation_date|datetimefmt as creation_date and latest_post.creator as creator and latest_post.get_url as url and latest_post.creator.get_profile.get_url as creator_url %}
                                Created on
                                <a href="{{ url }}">{{ creation_date }}</a> by
                                <a href="{{ creator_url }}">{{ creator }}</a>
                            {% endblocktrans %}
                        {% endif %}
                    {% endwith %}

                {% endif %}
            </div>

            {% for forum_child_child in forum_child_children %}
                <div class="forum-child">
                    <h5>
                        <a id="{{ forum_child_child.slug }}"
                           href='{{ forum_child_child.get_url }}'>{{ forum_child_child.title|escape }}</a>
                    </h5>

                    {% trans "Views" %}: {{ forum_child_child.get_nof_views }} | {% trans "Threads" %}: {{ forum_child_child.get_nof_threads }} | {% trans "Replies" %}: {{ forum_child_child.get_nof_replies }}

                    {% with forum_child_child.get_latest_post as latest_post %}
                        {% if latest_post %}
                            | {% trans "Latest Post" %}:
                            {% blocktrans with latest_post.creation_date|datetimefmt as creation_date and latest_post.creator as creator and latest_post.get_url as url and latest_post.creator.get_profile.get_url as creator_url %}
                                Created on
                                <a href="{{ url }}">{{ creation_date }}</a> by
                                <a href="{{ creator_url }}">{{ creator }}</a>
                            {% endblocktrans %}
                        {% endif %}
                    {% endwith %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}

    {% if thread_list %}
        <p>
            {% trans "Recent threads" %}
        <p>
            {% include "utils/pagination_footer.html" %}
            {% for thread in thread_list %}

                <p>
                <h6>
                    <a href="{{ thread.get_url }}">{{ thread.subject }}</a>
                </h6>
                <br/>

                {% trans "Author" %}:
                <a href="{{ thread.creator.get_profile.get_url }}">{{ thread.creator }}</a>
                <br/>
                {% trans "Forum" %}:
                <a href="{{ thread.forum.get_url }}">{{ thread.forum.short_title }}</a>
                <br/>
                {% trans "Views" %}:  {{ thread.views }}
                <br/>
                {% trans "Replies" %}:  {{ thread.get_nof_replies }}
                <br/>

                {% with thread.get_latest_post as latest_post %}
                    {% if latest_post %}
                        | {% trans "Latest Post" %}:
                        {% blocktrans with latest_post.creation_date|datetimefmt as creation_date and latest_post.creator as creator and latest_post.get_url as url and latest_post.creator.get_profile.get_url as creator_url %}
                            Created on
                            <a href="{{ url }}">{{ creation_date }}</a> by
                            <a href="{{ creator_url }}">{{ creator }}</a>
                        {% endblocktrans %}
                    {% endif %}
                {% endwith %}
                <br/>
                </p>
            {% endfor %}
    {% else %}
        <p>
            {% trans "No threads have been posted yet" %}
        <p>
    {% endif %}

{% else %}
    <p class="nothing">{% trans "No child forums are available yet" %}</p>
{% endif %}

