{% extends "base.html" %}
{% load url from future %}
{% load i18n image_modifications base_tags tagging_tags favorites auth_extended babel %}
{% block title %}{% trans "Shop" %} – {{ object.title }} – {% endblock %}
{% block bodyclass %}shop-product-detail no-transition{% endblock %}

{% block open_graph %}
    <meta property="og:title" content="{{ object.title }}" />
    <meta property="og:type" content="article" />
    {% if object.image %}
      <meta property="og:image" content="{{ current_website_url }}{{ MEDIA_URL }}{{ object.image|modified_path:"og" }}" />
    {% else %}
      <meta property="og:image" content="{{ current_website_url }}{{ STATIC_URL }}site/img/museumsportal_opengraph.png" />
    {% endif %}
    <meta property="og:url" content="{{ object.get_url }}" />
    <meta property="og:site_name" content="Museumsportal Berlin" />
    <meta property="og:description" content="{{ object.get_rendered_description|striptags|truncatewords:20|escape }}" />
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
			      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				        <h1>{{ object.title }}</h1>
                <h2>{{ object.subtitle }}</h2>
			      </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
                <a href="{{ object.link }}" target="_blank">
                    <span class="img hidden-xs"><img src="{{ STATIC_URL }}site/img/placeholder_editorial.gif" alt="{{ object.title }}"  data-original="{{ MEDIA_URL }}{{ object.image }}" /></span>
                    <span class="img visible-xs"><img src="{{ STATIC_URL }}site/img/placeholder_editorial.gif" alt="{{ object.title }}"  data-original="{{ MEDIA_URL }}{{ object.image|modified_path:"editorial" }}" /></span>
                </a>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8">
                <p>{{ object.get_rendered_description }}</p>
                {% if object.price %}
                    <div class="clearfix"><div class="price">{{ object.price|currencyfmt:"€" }}</div></div>
                {% endif %}
                <div class="clearfix"><div class="to-shop"><a class="btn btn-default btn-sm" href="{{ object.link }}" target="_blank">{% trans "to shop" %}</a></div></div>
            </div>
        </div>
    </div>
    {% include "utils/page_controls.html" %}
{% endblock %}