{% spaceless %}
    {% load base_tags %}
    <ul class="search-navi">
        {% for item in abc_list %}
            {% ifnotequal item.2 0 %}
                <li class="abc_filter{% if forloop.first %} first_item{% endif %}">
                    <a id="id_abc_filter_{{ item.0 }}"
                       {% if item.3 %}class="active"{% endif %}
                       href="{% append_to_get by-abc=item.0 %}">{{ item.1 }}</a>
                </li>
            {% else %}
                <li class="abc_filter{% if forloop.first %} first_item{% endif %}">{{ item.1 }}</li>
            {% endifnotequal %}
        {% endfor %}
    </ul>
{% endspaceless %}
