{% extends "base.html" %}
{% load base_tags i18n %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h2>{{ title }}</h2>

{% include "utils/step_list.html" %}

<form action="" method="post">
    {% for field in form.fields %}
    <div>
        <p>
            <label for="{{ field.formfield.get_id }}">{% if field.formfield.is_required %}<strong>{% endif %}{{ field.formfield.get_member_name }}{% if field.formfield.is_required %}</strong>{% endif %}</label><br />
            {{ field }}
        </p>
        {% if field.errors %}<p class="error">*** {{ field.errors|join:", "}}</p>{% endif %}
    </div>
    {% endfor %}
    
    <!-- START TEMPLATE CODE >
    
    {% for field in form.manipulator.fields %}
    <div>
        <p>
            <label for="{{ field.get_id }}">{% templatetag openblock %} if form.{{ field.get_member_name }}formfield.is_required {% templatetag closeblock %}<strong>{% templatetag openblock %} endif {% templatetag closeblock %}{% templatetag openblock %} trans "{{ field.get_member_name }}" {% templatetag closeblock %}{% templatetag openblock %} if form.{{ field.get_member_name }}.is_required {% templatetag closeblock %}</strong>{% templatetag openblock %} endif {% templatetag closeblock %}</label><br />
            {% templatetag openvariable %} form.{{ field.get_member_name }} {% templatetag closevariable %}
        </p>
        {% templatetag openblock %} if form.{{ field.get_member_name }}.errors {% templatetag closeblock %}<p class="error">*** {% templatetag openvariable %} form.{{ field.get_member_name }}.errors|join:", "{% templatetag closevariable %}</p>{% templatetag openblock %} endif {% templatetag closeblock %}
    </div>
    {% endfor %}
    
    < END TEMPLATE CODE -->
    
    {% include "utils/step_buttons.html" %}

</form>
{% endblock %}

