{% load base_tags i18n infoblocks %}
<noscript>{% infoblock "js_warning" %}</noscript>
<div id="dyn_set_map" class="hidden">
    <div class="extra_margin">
        <input id="dyn_locate_geo" type="button" class="button_good" value="{% filter upper %}{% trans "Locate on map" %}{% endfilter %}" />
        <input id="dyn_remove_geo" type="button" class="button_bad" value="{% filter upper %}{% trans "Remove from map" %}{% endfilter %}" />
    </div>
    <iframe src="/gmap/" id="gmap"></iframe>
</div>

