{% load i18n %}
<ul class="nav_menu">
    <li class="nav_group first_item">
    {% for step in steps %}
        {% if forloop.first %}
            <ul class="steps">
        {% endif %}
        <li>
            {% comment %}<!-- The number of the step -->{% endcomment %}
            <span class="count">
                {{ forloop.counter }}.
            </span>
            
            {% comment %}<!-- Bold, link, or span for step title -->{% endcomment %}
            {% if step.current %}
                <strong>
            {% else %}
                {% if step.filled or step.active %}
                    <a class="txt" href="?step={{ forloop.counter }}">
                {% else %}
                    <span class="txt">
                {% endif %}
            {% endif %}
            
            {% comment %}<!-- Step title -->{% endcomment %}
            {{ step.title|escape }}
            
            {% comment %}<!-- Closing bold, link, or span -->{% endcomment %}
            {% if step.current %}
                </strong>
            {% else %}
                {% if step.filled or step.active %}
                    </a>
                {% else %}
                    </span>
                {% endif %}
            {% endif %}
        </li>
        {% if forloop.last %}
            </ul>
        {% endif %}
    {% endfor %}
    </li>
</ul>
