{% extends "base.html" %}
{% load base_tags i18n %}
{% comment %}<!-- UNUSED -->{% endcomment %}
{% block extrahead %}
    <meta name="ROBOTS" content="NOINDEX, FOLLOW"/>
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/urlify.js"></script>
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" media="screen"
        href="{{ STATIC_URL }}site/css/website/gwenn_forms-front.css"/>
{% endblock %}

{% block title %}{% trans "Accept Invitation" %}{% endblock %}

{% block headline %}
    <h1>{% trans "Accept Invitation" %}</h1>
    <h2 class="sub">{{ object.get_title }}</h2>
{% endblock %}

{% block sidebar-a %}
{% endblock %}

{% block sidebar-b %}
{% endblock %}

{% block content %}
    <div class="field_info">
        <form action="" method="post" class="uniForm">{% csrf_token %}
            <fieldset class="inlineLabels">
                <h3>{% trans "Invitation" %}</h3>

                <p>{% blocktrans with object.get_title as institution_title and inviter.get_title as inviter_title %}You
                    have been invited to {{ institution_title }} by {{ inviter_title }}.{% endblocktrans %}</p>
                {{ form.accept_membership|as_uni_field }}
                {{ form.accept_inviter|as_uni_field }}

                <h3>{% trans "Basic Personal Info" %}</h3>
                {{ form.prefix|as_uni_field }}
                {{ form.first_name|as_uni_field }}
                {{ form.last_name|as_uni_field }}
                <div class="ctrlHolder">
                    {{ form.birthday_dd.error_tag }}
                    {{ form.birthday_mm.error_tag }}
                    {{ form.birthday_yyyy.error_tag }}
                    {{ form.birthday_yyyy.label_tag }}
                    {{ form.birthday_dd|with_class }}
                    {{ form.birthday_mm|with_class }}
                    {{ form.birthday_yyyy|with_class }}
                </div>
                {{ form.individual_type|as_uni_field }}
                <div class="ctrlHolder">
                    {{ form.occupation.error_tag }}
                    <label for="id_occupation">
                        {% trans "Position in the Company" %}:
                    </label>
                    {{ form.occupation|with_class }}
                </div>

                <h3>{% trans "Login Data" %}</h3>
                {{ form.login_email|as_uni_field }}
                {{ form.login_email_confirm|as_uni_field }}
                {{ form.password|as_uni_field }}
                {{ form.password_confirm|as_uni_field }}
                {{ form.username|as_uni_field }}

                {% include "uni_form/includes/phone.html" %}
                {% include "uni_form/includes/fax.html" %}
                {% include "uni_form/includes/mobile.html" %}


                <h3>{% trans "Confirmation" %}</h3>

                <div class="ctrlHolder">
                    {{ form.privacy_policy.error_tag }}
                    {{ form.privacy_policy|with_class }}
                    <label for="id_privacy_policy">
                        {% if form.privacy_policy.required %}<strong>{% endif %}
                        {% blocktrans %}I accept
                            <a href="/privacy/" onclick="open_new_window(event)">the privacy policy</a>
                            .{% endblocktrans %}
                        {% if form.privacy_policy.required %}*</strong>{% endif %}
                    </label>
                </div>
                <div class="ctrlHolder">
                    {{ form.terms_of_use.error_tag }}
                    {{ form.terms_of_use|with_class }}
                    <label for="id_terms_of_use">
                        {% if form.terms_of_use.required %}<strong>{% endif %}
                        {% blocktrans %}I accept
                            <a href="/terms-of-use/" onclick="open_new_window(event)">the terms of use</a>
                            .{% endblocktrans %}
                        {% if form.terms_of_use.required %}*</strong>{% endif %}
                    </label>
                </div>
                <div class="buttonHolder">
                    <input class="primaryAction" type="submit" id="post" name="accept_invitation"
                        value='{% filter upper %}{% trans "Accept" %}{% endfilter %}'/>
                    <input class="secondaryAction" type="submit" name="deny_invitation"
                        value="{% filter upper %}{% trans 'Deny' %}{% endfilter %}"/>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}

