This is an example of Apache configuration for a specific project bounded to jetson project in development environment.

### <JETSON SETTINGS> ###

<Location "/jetson/">
    SetHandler mod_python
    PythonHandler django.core.handlers.modpython
    PythonPath "sys.path+[r'/Library/Subversion/general_src/trunk/jetson']"
    SetEnv DJANGO_SETTINGS_MODULE general.settings
    PythonDebug On
    PythonAutoReload On
    PythonInterpreter jetson
</Location>

AliasMatch ^/jetson-media/\d+/(.*) /Library/Subversion/general_src/trunk/jetson/media/$1

<Location "/ccb2008/">
    SetHandler mod_python
    PythonHandler django.core.handlers.modpython
    PythonPath "sys.path+[r'/Library/Subversion/general_src/trunk/ccb']"
    SetEnv DJANGO_SETTINGS_MODULE ccb.settings
    PythonDebug On
    PythonAutoReload On
    PythonInterpreter ccb2008
</Location>
<Location "/ccb2008/media/">
    SetHandler None
</Location>
AliasMatch ^/ccb2008/media/\d+/(.*) /Library/Subversion/general_src/trunk/ccb/media/$1

<Location "/icb2008/">
    SetHandler mod_python
    PythonHandler django.core.handlers.modpython
    PythonPath "sys.path+[r'/Library/Subversion/general_src/trunk/ccb']"
    SetEnv DJANGO_SETTINGS_MODULE ccb.settings_icb
    PythonDebug On
    PythonAutoReload On
    PythonInterpreter icb2008
</Location>
<Location "/icb2008/media/">
    SetHandler None
</Location>
AliasMatch ^/icb2008/media/\d+/(.*) /Library/Subversion/general_src/trunk/ccb/media/$1

<Location "/jarmuschek/">
    SetHandler mod_python
    PythonHandler django.core.handlers.modpython
    PythonPath "sys.path+[r'/Library/Subversion/general_src/trunk/jarmuschek']"
    SetEnv DJANGO_SETTINGS_MODULE jarmuschek.settings
    PythonDebug On
    PythonAutoReload On
    PythonInterpreter jarmuschek
</Location>
<Location "/jarmuschek/media/">
    SetHandler None
</Location>
AliasMatch ^/jarmuschek/media/\d+/(.*) /Library/Subversion/general_src/trunk/jarmuschek/media/$1

<Location "/ccb-translations/">
    SetHandler mod_python
    PythonHandler django.core.handlers.modpython
    PythonPath "sys.path+[r'/Library/Subversion/general_src/branches/creativeberlin']"
    SetEnv DJANGO_SETTINGS_MODULE general_translations.settings_ccb
    PythonDebug On
    PythonAutoReload On
    PythonInterpreter ccb-translations
</Location>

### </JETSON SETTINGS> ###
