{% load navigation_tags %}
<ul>
    {% for link in nav_link.get_children_for_current_user %}
        {% spaceless %}
            {% if not link.is_group %}
                {% parse_link link as url %}
                {% if url %}
                    {% activeness link as is_active %}
                    <li>
                        <a href="{{ url }}"{% if is_active %} class="active"{% endif %}
                            title="{{ link.get_description|striptags }}">{{ link.get_title|escape }}
                        </a>{% if not forloop.last %} | {% endif %}</li>
                {% endif %}
            {% endif %}
        {% endspaceless %}
    {% endfor %}
</ul>
