{% load nav_menu base_tags mptt_tags %}
<ul class="nav_menu">
    {% recursetree nav_link.get_descendants %}
        {% if user.is_authenticated and node.is_shown_for_users %}
            {% parse_link node as url %}
            {% if url or node.is_group %}
                {% activeness node as is_active %}
                <li class="navi_{{ node.sysname }}_

                    {{ LANGUAGE_CODE }}{% if node.is_promoted %} promoted{% endif %}{% if node.is_login_required %} login-required{% endif %}{% if is_active %} active{% endif %}">
                    {% if node.is_group %}
                        {% if url %}<a href="{{ url }}" title="{{ node.get_description|striptags }}">{% endif %}
                    <strong>{{ node.get_title|escape }}</strong>
                    {% if url %}</a>{% endif %}
                    {% else %}
                        <a href="{{ url }}"{% if is_active %} class="active"{% endif %}
                           title="{{ node.get_description|striptags }}">
                            <span>{{ node.get_title|escape }}</span>
                        </a>
                    {% endif %}
                    {% if not node.is_leaf_node %}
                        <ul class="nav_menu">
                            {{ children }}
                        </ul>
                    {% endif %}
                </li>
            {% endif %}
        {% else %}
            {% if not user.is_authenticated and node.is_shown_for_visitors %}
                {% parse_link node as url %}
                {% if url or node.is_group %}
                    {% activeness node as is_active %}
                    <li class="navi_{{ node.sysname }}_

                        {{ LANGUAGE_CODE }}{% if node.is_promoted %} promoted{% endif %}{% if node.is_login_required %} login-required{% endif %}{% if is_active %} active{% endif %}">
                        {% if node.is_group %}
                            {% if url %}<a href="{{ url }}" title="{{ node.get_description|striptags }}">{% endif %}
                        <strong>{{ node.get_title|escape }}</strong>
                        {% if url %}</a>{% endif %}
                        {% else %}
                            <a href="{{ url }}"{% if is_active %} class="active"{% endif %}
                               title="{{ node.get_description|striptags }}">
                                <span>{{ node.get_title|escape }}</span>
                            </a>
                        {% endif %}
                        {% if not node.is_leaf_node %}
                            <ul class="nav_menu">
                                {{ children }}
                            </ul>
                        {% endif %}
                    </li>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endrecursetree %}
</ul>

{% comment %}<!--
{% if user.is_authenticated %}
    {% for link in nav_link.get_children_for_authenticated_user %}
        {% if link.is_group %}
            <li class="nav_group navi_{{ link.sysname }}_{{ LANGUAGE_CODE }}{% if not forloop.counter0 %} first_item{% endif %}{% if link.is_promoted %} promoted{% endif %}{% if link.is_login_required %} login-required{% endif %}">{% if link.is_group_name_shown %}{% if link.link_url %}<a href="{% parse_link link %}" title="{{ link.get_description|striptags }}">{% endif %}<strong>{{ link.get_title|escape }}</strong>{% if link.link_url %}</a>{% endif %}{% endif %}
            {% filter mark_first_and_last:"li" %}
            <ul>
            {% for child in link.get_children_for_authenticated_user %}
                {% parse_link child as url %}
                {% if url %}
                    {% activeness child as is_active %}
                    <li class="navi_{{ child.sysname }}_{{ LANGUAGE_CODE }}{% if child.is_promoted %} promoted{% endif %}{% if child.is_login_required %} login-required{% endif %}{% if is_active %} active{% endif %}"><a href="{{ url }}"{% if is_active %} class="active"{% endif %} title="{{ child.get_description|striptags }}"><span>{{ child.get_title|escape }}</span></a>
                        {% children_of child.sysname using "navigation/multilevel.html" %}
                    </li>
                {% endif %}
            {% endfor %}
            </ul>
            {% endfilter %}
            </li>
        {% else %}
            {% parse_link link as url %}
            {% if url %}
                {% activeness link as is_active %}
                <li class="navi_{{ link.sysname }}_{{ LANGUAGE_CODE }}{% if link.is_promoted %} promoted{% endif %}{% if link.is_login_required %} login-required{% endif %}{% if is_active %} active{% endif %}"><a href="{{ url }}"{% if is_active %} class="active"{% endif %} title="{{ link.get_description|striptags }}"><span>{{ link.get_title|escape }}</span></a>
                    {% children_of link.sysname using "navigation/multilevel.html" %}
                </li>
            {% endif %}
        {% endif %}
    {% endfor %}
{% else %}
    {% for link in nav_link.get_children_for_anonymous_user %}
        {% if link.is_group %}
            <li class="nav_group navi_{{ link.sysname }}_{{ LANGUAGE_CODE }}{% if not forloop.counter0 %} first_item{% endif %}{% if link.is_promoted %} promoted{% endif %}{% if link.is_login_required %} login-required{% endif %}">{% if link.is_group_name_shown %}{% if link.link_url %}<a href="{% parse_link link %}" title="{{ link.get_description|striptags }}">{% endif %}<strong>{{ link.get_title|escape }}</strong>{% if link.link_url %}</a>{% endif %}{% endif %}
            {% filter mark_first_and_last:"li" %}
            <ul>
            {% for child in link.get_children_for_anonymous_user %}
                {% parse_link child as url %}
                {% if url %}
                    {% activeness child as is_active %}
                    <li class="navi_{{ child.sysname }}_{{ LANGUAGE_CODE }}{% if child.is_promoted %} promoted{% endif %}{% if child.is_login_required %} login-required{% endif %}{% if is_active %} active{% endif %}"><a href="{{ url }}"{% if is_active %} class="active"{% endif %} title="{{ child.get_description|striptags }}"><span>{{ child.get_title|escape }}</span></a>
                        {% children_of child.sysname using "navigation/multilevel.html" %}
                    </li>
                {% endif %}
            {% endfor %}
            </ul>
            {% endfilter %}
            </li>
        {% else %}
            {% parse_link link as url %}
            {% if url %}
                {% activeness link as is_active %}
                <li class="navi_{{ link.sysname }}_{{ LANGUAGE_CODE }}{% if link.is_promoted %} promoted{% endif %}{% if link.is_login_required %} login-required{% endif %}{% if is_active %} active{% endif %}"><a href="{{ url }}"{% if is_active %} class="active"{% endif %} title="{{ link.get_description|striptags }}"><span>{{ link.get_title|escape }}</span></a>
                    {% children_of link.sysname using "navigation/multilevel.html" %}
                </li>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}
-->{% endcomment %}

