{% extends "base.html" %}
{% load i18n base_tags infoblocks %}

{% block title %}{% trans "Connection error" %}{% endblock %}

{% block headline %}
    <h1>{% trans "Ooops! Connection error" %}</h1>
{% endblock %}

{% block sidebar-a %}&nbsp;{% endblock %}

{% block sidebar-b %}&nbsp;{% endblock %}

{% block content %}
    <hr/>
    <div>
        <p>{{ error_message }}</p>
    </div>
    <hr/>
    <div>
        <form action="" class="uniForm">
            <fieldset class="inlineLabels">
                <div class="buttonHolder">
                    <input type="button" class="primaryAction" value="{% filter upper %}{% trans "back" %}{% endfilter %}"
                        onclick="location.href='{% url "social_connections" %}'"/>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}
