{% load base_tags i18n %}
{% blocktrans %}Welcome to {{ site_name }}, the premier online destination for first hand information about the Creative
    Sector in Berlin.{% endblocktrans %}

{% blocktrans %}Your username is: {{ username }}{% endblocktrans %}
{% blocktrans %}You can log in at: http://www.creative-city-berlin.de/login/?goto_next=/{% endblocktrans %}

{% blocktrans %}Enjoy the site, and do let us know if you have comments, concerns, suggestions, or other
    feedback!{% endblocktrans %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}
