{% extends "base.html" %}
{% load base_tags uni_form_tags crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}
{% block banner %}
    <h1>{% trans "Password reset" %}</h1>{% endblock %}

{% block headline %}
    <h1>{% trans "Password reset" %}</h1>
{% endblock %}

{% block content %}
    {#% crispy form form_helper %#}
    <form action="" method="post" class="uniForm">{% csrf_token %}
        <fieldset class="inlineLabels">
            <h3>{% trans "Password reset" %}</h3>

            <p class="disclaimer">
                {% blocktrans %}Forgot your Password? Enter your E-Mail address below, and we’ll send you an E-Mail with
                    a link which allows you to set up a new password.{% endblocktrans %}
            </p>
            {{ form.email|as_uni_field }}
            <div class="buttonHolder">
                <input type="submit" class="primaryAction"
                    value="{% filter upper %}{% trans 'Reset my password' %}{% endfilter %}"/>
            </div>
        </fieldset>
    </form>
{% endblock %}
