{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Password reset complete' %}{% endblock %}

{% block headline %}
    <h1>{% trans "Password reset complete" %}</h1>
{% endblock %}


{% block sidebar-a %}{% endblock %}

{% block sidebar-b %}{% endblock %}


{% block content %}
    <hr/>
    <p>{% trans "Your password has been set. You may go ahead and log in now." %}</p>
    <div class="buttonHolder">
        <input type="button" class="primaryAction" value="{% filter upper %}{% trans "Log in" %}{% endfilter %}"
            onclick="redirect('{{ login_url }}');"/>
    </div>
{% endblock %}
