{% extends "ccb/accounts/password_base.html" %}
{% load i18n crispy_forms_tags %}

{% block title %}
    {% trans "Password reset" %}
{% endblock %}

{% block headline %}
    {% trans "Password reset" %}
{% endblock %}

{% block form %}
    <p class="disclaimer">
        {% blocktrans %}
            Forgot your Password? Enter your E-Mail address below, and we’ll send you an E-Mail with
            a link which allows you to set up a new password.
        {% endblocktrans %}
    </p>
    {% crispy form "ccb_form" %}
{% endblock %}

{% block banner %}
    {% trans "Password reset" %}
{% endblock %}

