{% extends "base.html" %}
{% load base_tags i18n %}

{% block headline %}
	<h1>{% trans "Password change successful" %}</h1>
{% endblock %}			

{% block title %}{% trans 'Password change successful' %}{% endblock %}

{% block banner %}<h1>{% trans 'Password change successful' %}</h1>{% endblock %}

{% block content %}
    <div>
        <p>{% trans 'Your password was changed.' %}</p>
    </div>
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="/">{% trans "Home" %}</a>
        <span class="b-sep"><span>::</span></span><a href="/my-profile/">{% trans "My profile" %}</a>
        <span class="b-sep"><span>::</span></span><span>{% trans "Change password" %}</span>
    </div>
{% endblock %}


