{% extends "base_sidebar.html" %}
{% load i18n crispy_forms_tags %}

{% block title %}
    {% trans "Password change successful" %}
{% endblock %}

{% block headline %}
    <h1>{% trans "Password change successful" %}</h1>
{% endblock %}

{% block sidebar %}
    {% include "site_specific/blocks/sidebar_settings.html" %}
{% endblock %}

{% block details %}
    <p>{% trans 'Your password was changed.' %}</p>
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url "dashboard" %}">{% trans "My Profile" %}</a></li>
    <li>{% trans "Password change" %}</li>
{% endblock %}
