{% extends "base.html" %}
{% load base_tags i18n uni_form_tags %}
{% comment %}<!-- UNUSED -->{% endcomment %}
{% block extrahead %}
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/website/registration.js"></script>
{% endblock %}


{% block title %}{% trans "Registration" %} - {% trans "Institution Contact Data" %}{% endblock %}

{% block headline %}
    <h1>{% trans "Registration" %}</h1>
    <h2 class="sub">{% trans "Institutional Account" %}</h2>
{% endblock %}

{% block sidebar-a %}
    {% include "utils/registration_step_list.html" %}
{% endblock %}

{% block sidebar-b %}
{% endblock %}

{% block content %}
    <form action="" method="post" class="uniForm">
        <fieldset class="inlineLabels">
            <h3>{% trans "Opening Hours (Optional)" %}</h3>
            {% include "uni_form/includes/opening_hours.html" %}
            <ul>
                <li>
                    {{ form.exceptions_de.label_tag }}
                    {{ form.exceptions_de }}
                    {{ form.exceptions_de.error_tag }}
                </li>
                <li>
                    {{ form.exceptions_en.label_tag }}                                
                    {{ form.exceptions_en }}
                    {{ form.exceptions_en.error_tag }}
                </li>
                <li  class="line_checkbox">
                    {{ form.is_appointment_based  }}{{ form.is_appointment_based.label_tag }}
                </li>   
            </ul>
            
            <h3>
                {% trans "Payment" %}
            </h3>
            {{ form.is_cash_ok|as_uni_field }}
            {{ form.is_card_visa_ok|as_uni_field }}
            {{ form.is_invoice_ok|as_uni_field }}
            {{ form.is_card_mastercard_ok|as_uni_field }}
            {{ form.is_on_delivery_ok|as_uni_field }}
            {{ form.is_card_americanexpress_ok|as_uni_field }}
            {{ form.is_ec_maestro_ok|as_uni_field }}
            {{ form.is_giropay_ok|as_uni_field }}
            {{ form.is_prepayment_ok|as_uni_field }}
            {{ form.is_paypal_ok|as_uni_field }}
            
            {% include "utils/step_buttons_reg.html" %}
        </fieldset>
    </form>
{% endblock %}

