{% extends "base_sidebar.html" %}
{% load i18n infoblocks %}

{% block title %}{% trans "Registration complete" %}{% endblock %}

{% block headline %}
    <h1>{% trans "Create Account" %}</h1>
{% endblock %}

{% block details %}
    <h2>{% trans "Your registration is complete." %}</h2>
    {% infoblock "register_all_done" %}
{% endblock %}



{% block sidebar-a_old %}&nbsp;{% endblock %}
{% block sidebar-b_old %}&nbsp;{% endblock %}

{% block content_old %}
    <div class="text-info">
        <div>{% infoblock "register_all_done" %}</div>
    </div>
{% endblock %}

