{% extends "base_sidebar.html" %}
{% load base_tags i18n browsing uni_form_tags crispy_forms_tags %}

{% block title %}{% trans "Create Account" %}{% endblock %}

{% block headline %}
    {% trans "Create Account" %}
{% endblock %}

{% block details %}
    {% crispy form "ccb_form" %}
{% endblock %}



{% block sidebar-a_old %}&nbsp;{% endblock %}

{% block sidebar-b_old %}&nbsp;{% endblock %}

{% block content_old %}
    {#% crispy form %#}
    <form action="{{ app_path }}" class="uniForm" method="post">{% csrf_token %}
        <p class="disclaimer">
            {% blocktrans with backend=request.session.partial_pipeline.backend|title %}Create a Creative City Berlin account to link with your {{ backend }} account.{% endblocktrans %}
        </p>
        <fieldset class="inlineLabels">
            <h3>{% trans "Profile" %}</h3>
            {{ form.prefix|as_uni_field }}
            {{ form.first_name|as_uni_field }}
            {{ form.last_name|as_uni_field }}
            {{ form.email|as_uni_field }}

            <h3>{% trans "Login" %}</h3>
            {{ form.username|as_uni_field }}
            {{ form.password|as_uni_field }}
            {{ form.password_confirm|as_uni_field }}
        </fieldset>

        {% if form.creative_sectors %}
            <div id="CI_{{ LANGUAGE_CODE }}_search">
                <h3>
                    <a href="#" class="open_but">
                        <b>{% trans "Creative Sectors" %}</b>
                        <span class="pic"></span>
                    </a>
                </h3>
                <fieldset class="fieldset_categories">
                    {% if form.non_field_errors %}
                        <p class="error">{{ form.non_field_errors|join:"<br />"|safe }}</p>
                    {% endif %}
                    <div class="hidable">
                        {% filter remove_empty_lists %}
                            {% creative_sectors_under "" using "site_specific/categories/creative_sectors.html" creating %}
                        {% endfilter %}
                    </div>
                </fieldset>
            </div>
        {% endif %}

        <fieldset class="inlineLabels">
            {% include "uni_form/includes/confirmation.html" %}

            {{ form.prevent_spam }}
            <!-- Time elapsed since submitting the form: {{ form.prevent_spam.field.time_elapsed }} s -->
            {% if form.prevent_spam.errors %}
                <div class="prevent_spam">
                    {{ form.prevent_spam.error_tag }}
                </div>
            {% endif %}
            <div class="buttonHolder">
                <input id="login3" type="hidden" name="goto_next" value="{% ifequal goto_next root_dir %}/dashboard/
                    {% else %}{% if goto_next %}{{ goto_next }}{% else %}/dashboard/{% endif %}{% endifequal %}"/>
                <input class="primaryAction" type="submit"
                    value="{% filter upper %}{% trans 'Create Account' %}{% endfilter %}"/>
            </div>
        </fieldset>
    </form>
{% endblock %}

{% block extrabody_old %}
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/website/categories.js"></script>
{% endblock %}

