{% extends "base_sidebar.html" %}
{% load base_tags i18n browsing uni_form_tags crispy_forms_tags %}

{% block title %}{% trans "Create Account" %}{% endblock %}

{% block headline %}
    <h1>{% trans "Create Account" %}</h1>
{% endblock %}

{% block details %}
    {% crispy form "ccb_form" %}
{% endblock %}



{% block sidebar-a_old %}&nbsp;{% endblock %}

{% block sidebar-b_old %}&nbsp;{% endblock %}

{% block content_old %}    
    
{% endblock %}

{% block extrabody_old %}
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/website/categories.js"></script>
{% endblock %}

