{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "New Connection" %}{% endblock %}

{% block headline %}
    <h1>{% trans "New Connection" %}</h1>
{% endblock %}

{% block sidebar-a %}&nbsp;{% endblock %}
{% block sidebar-b %}&nbsp;{% endblock %}

{% block content %}
    <form class="uniForm" action="" method="get">
        <p>{% blocktrans with backend=request.session.partial_pipeline.backend|title %}You are connecting with {{ backend }} for the first time. Do you already have an account on Creative City Berlin?{% endblocktrans %}</p>

        <div class="buttonHolder">
            <input class="primaryAction" type="button" onclick="window.redirect('{% url "social_connection_login" %}?login_as={{ request.session.partial_pipeline.kwargs.details.email }}')"
                value="{% filter upper %}{% trans 'Yes' %}{% endfilter %}"/>
            <input class="primaryAction" type="button" onclick="window.redirect('{% url "social_connection_register" %}')"
                value="{% filter upper %}{% trans 'No' %}{% endfilter %}"/>
        </div>
    </form>
{% endblock %}
