{% load base_tags i18n babel %}

<div class="question-list">
    {% for faq in faqs %}
        <div class="list-item {% if forloop.first %} first-question{% endif %} collapsed" id="qa-{{ faq.pk }}">
            <div class="visibility_toggler">
                <a href="#qa-{{ faq.pk }}">
                    <span class="numbering">{{ forloop.counter|stringformat:"02d" }}</span>
                    <span class="question">{{ faq.question }}</span>
                </a>

                <div class="faqexpanded">
                    <a class="openlist" href="#qa-{{ faq.pk }}"><span class="pic"></span>
                    </a>
                </div>

            </div>
            <div class="hidable answer">
                {% comment %}<!-- {{ faq.answer|safe }} -->{% endcomment %}
                {{ faq.get_answer_links_targeted_to_blank|safe }}
            </div>
        </div>
    {% endfor %}
</div>
