{% extends "base_main.html" %}

{% load url from future %}

{% load i18n image_modifications base_tags tagging_tags production_tags favorites_tags auth_extended %}

{% block js %}
    {% include "utils/favorites_scripts.html" %}
{% endblock %}

{% block content %}
    <div class="background">
        <div class="container">
            <div class="row">
                <div class="hidden-xs col-sm-4 col-md-3 col-lg-4">&nbsp;</div>
                <div class="col-xs-12 col-sm-8 col-md-9 col-lg-8">
                    <h1 class="schedule-headline">
                        <span class="hidden-xs">Ruhr Bühnen </span>{% trans 'Schedule' %}</h1>
                </div>
            </div>
        </div>

        {% if maintenance_mode %}

            <div class="container">
                <div class="space"></div>
                <div class="row">
                    <div class="hidden-xs col-sm-4 col-md-3 col-lg-4">&nbsp;</div>
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-8">
                        {% trans "We are doing some maintenance work. In the meantime, the schedule is not accessible. Please come back in half an hour." %}
                    </div>
                </div>
                <div class="space"></div>
                <div class="space"></div>
            </div>

        {% else %}

            <div id="dates_filter" class="schedule-dates-filter hidden-xs" data-stick="#header">
                <div class="container">
                    <div class="row">
                        <div class="hidden-xs col-sm-4 col-md-3 col-lg-4">&nbsp;</div>
                        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-8">

                            <!-- dates filter start -->

                            {% date_slider page='event_list' id='main_dateslider' active=facets.selected.date %}

                            <!-- dates filter end -->

                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">

                        <!-- filter start -->

                        <div id="filter" data-stick="#dates_filter">
                            {% include "utils/filter_events.html" %}
                        </div>

                        <!-- filter end -->

                    </div>
                    <div class="col-lg-1 visible-lg visible-xl"></div>
                    <div class="col-xs-12 col-sm-8 col-md-9 col-lg-8">

                        <!-- list start -->

                        {% if object_list %}
                            <div class="grid endless-loader">
                                {% for event in object_list %}
                                    {% ifchanged event.start.date|date:"D, d. F" %}
                                        {% if forloop.first %}
                                            <div class="schedule-date"
                                                 data-date="{{ event.start|date:"U" }}"
                                                 data-stick="#dates_filter, #filter"
                                                 data-stick-heap="schedule-date">
                                                <div><h3>{{ event.start|date:"D, d. F" }}</h3></div>
                                            </div>
                                            <div class="row" data-date="{{ event.start|date:"U" }}">
                                                {% else %}
                                            </div>
                                            <div class="space"></div>
                                            <div class="schedule-date"
                                                 data-date="{{ event.start|date:"U" }}"
                                                 data-stick="#dates_filter, #filter"
                                                 data-stick-heap="schedule-date">
                                                <div><h3>{{ event.start|date:"D, d. F" }}</h3></div>
                                            </div>
                                            <div class="row" data-date="{{ event.start|date:"U" }}">
                                        {% endif %}
                                    {% endifchanged %}
                                {% include "events/includes/list_item_from_elasticsearch.html" %}
                                {% if forloop.last %}
                                    </div>
                                {% endif %}
                                {% endfor %}
                                {% include "utils/pagination.html" with current_page=object_list %}
                            </div>
                            <div class="space"></div>
                        {% else %}
                            {% include "utils/container_empty.html" %}
                        {% endif %}

                        <!-- list end -->

                    </div>
                </div>
            </div>

        {% endif %}
    </div>
{% endblock %}
