{% load base_tags image_modifications fb_tags auth_extended i18n favorites %}

{% if object.cover_image %}
  <div id="cover_img">
      {% with object.cover_image|file_description as fd %}
          <a href="{{ object.get_url_path }}slideshow/#0" class="img hidden-xs">
            <img src="{{ STATIC_URL }}site/img/placeholder_cover.gif" data-original="{{ MEDIA_URL }}{{ object.cover_image|modified_path:"cover" }}?now={% now "YmdHis" %}" title="{{ fd.description|remove_newlines|escape }}" alt="{{ fd.description|remove_newlines|escape }}" />
          </a>
          <a href="{{ object.get_url_path }}slideshow/#0" class="img visible-xs">
            <img src="{{ STATIC_URL }}site/img/placeholder_list.gif" data-original="{{ MEDIA_URL }}{{ object.cover_image|modified_path:"museum_list" }}?now={% now "YmdHis" %}" title="{{ fd.description|remove_newlines|escape }}" alt="{{ fd.description|remove_newlines|escape }}" />
          </a>

          {% comment %}
          {% if museum == object %}
            <nav class="actions">
              {% if_has_perm "museums.change_museum" museum %}
              <button class="btn btn-default btn-round crop" onclick="location.href='{% cropping_url museum.cover_image "cover" request request.path %}';">
                <span class="sr-only">{% trans "Crop Image" %}</span>
                <span class="icon icon-tool-crop"></span>
              </button>
              {% end_if_has_perm %}
              <button class="btn btn-default btn-round  fullscreen" data-href="{{ object.get_url_path }}slideshow/#0">
                <span class="sr-only">{% trans "Fullscreen" %}</span>
                <span class="icon icon-resize-full"></span>
              </button>
            </nav>
          {% endif %}

          {% if exhibition == object %}
            <nav class="actions">
              {% if_has_perm "exhibitions.change_exhibition" exhibition %}
              <button class="btn btn-default btn-round  crop" onclick="location.href='{% cropping_url exhibition.cover_image "cover" request request.path %}';">
                <span class="sr-only">{% trans "Crop Image" %}</span>
                <span class="icon icon-tool-crop"></span>
              </button>
              {% end_if_has_perm %}
              <button class="btn btn-default btn-round  fullscreen" data-href="{{ object.get_url_path }}slideshow/#0">
                <span class="sr-only">{% trans "Fullscreen" %}</span>
                <span class="icon icon-resize-full"></span>
              </button>
            </nav>
          {% endif %}

          {% if workshop == object %}
            <nav class="actions">
              {% if_has_perm "workshops.change_workshop" workshop %}
              <button class="btn btn-default btn-round  crop" onclick="location.href='{% cropping_url workshop.cover_image "cover" request request.path %}';">
                <span class="sr-only">{% trans "Crop Image" %}</span>
                <span class="icon icon-tool-crop"></span>
              </button>
              {% end_if_has_perm %}
              <button class="btn btn-default btn-round  fullscreen" data-href="{{ object.get_url_path }}slideshow/#0">
                <span class="sr-only">{% trans "Fullscreen" %}</span>
                <span class="icon icon-resize-full"></span>
              </button>
            </nav>
          {% endif %}

          {% if event == object %}
            <nav class="actions">
              {% if_has_perm "events.change_event" event %}
              <button class="btn btn-default btn-round  crop" onclick="location.href='{% cropping_url event.cover_image "cover" request request.path %}';">
                <span class="sr-only">{% trans "Crop Image" %}</span>
                <span class="icon icon-tool-crop"></span>
              </button>
              {% end_if_has_perm %}
              <button class="btn btn-default btn-round  fullscreen" data-href="{{ object.get_url_path }}slideshow/#0">
                <span class="sr-only">{% trans "Fullscreen" %}</span>
                <span class="icon icon-resize-full"></span>
              </button>
            </nav>
          {% endif %}
          {% endcomment %}
      {% endwith %}
  </div>
{% endif %}

{% comment %}
<script>
  $(window).load(function() {
    if (!$.browser.msie || parseInt($.browser.version.split(".")[0], 10) > 8) {
      var $cover_image = $('#cover-image img');
      $('.img img', $cover_image).click(function(e){
        location.href = $(this).data('href');
        return false;
      });
      $('.fullscreen', $cover_image).click(function(e){
        location.href = $(this).data('href');
        return false;
      });
    }
  });
</script>
{% endcomment %}
