{% load menu_tags i18n base_tags  %}
<div class="navbar-wrapper">
  <nav class="navbar navbar-default" role="navigation" data-spy="affix" data-offset-top="71">
    <div class="container relative">

      <div id="meta" class="pull-right">
        {% if request.user.is_authenticated %}
          <div id="user-menu" class="pull-left hidden-xs">
            <div class="btn-group">
              <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                {% blocktrans with first_name=request.user.first_name|default:request.user.username %}{{ first_name }}{% endblocktrans %}
				        <span class="caret black"></span>
              </button>
              <ul class="dropdown-menu pull-right" role="menu">
                {% if not request.user|in_group:"Shop Admins" or request.user.is_superuser %}
                  <li><a href="/{{ LANGUAGE_CODE }}/dashboard/">{% trans "Input Mask" %}</a></li>
                  <li class="divider"></li>
                {% endif %}
                {% if request.user|in_group:"Museum Owners" or request.user.is_superuser %}
                  <li><a href="/{{ LANGUAGE_CODE }}/dashboard/exhibitions/">{% trans "Exhibitions" %}</a></li>
                  <li><a href="/{{ LANGUAGE_CODE }}/dashboard/events/">{% trans "Events" %}</a></li>
                  <li><a href="/{{ LANGUAGE_CODE }}/dashboard/guided-tours/">{% trans "Workshops" %}</a></li>
                  <li><a href="/{{ LANGUAGE_CODE }}/dashboard/museums/">{% trans "Museums" %}</a></li>
                {% endif %}
                <li><a href="/{{ LANGUAGE_CODE }}/dashboard/shop/">{% trans "Product list" %}</a></li>
                <li class="divider"></li>
                <li><a href="/{{ LANGUAGE_CODE }}/logout/">{% trans "Logout" %}</a></li>
              </ul>
            </div>
          </div>
        {% else %}
          {% comment %}
              <!-- <li><a class="login" href="/{{ LANGUAGE_CODE }}/login/">{% trans "Login" %}</a></li>
              <li><a class="signup" href="/{{ LANGUAGE_CODE }}/signup/">{% trans "Signup" %}</a></li> -->
          {% endcomment %}
          <div id="user-menu" class="pull-right">
            <a class="btn btn-info" href="/{{ LANGUAGE_CODE }}/login/">{% trans "Login" %}</a>
          </div>
        {% endif %}
        <div id="language-menu" class="pull-left">
          <div class="dropdown">
            <!-- Link or button to toggle dropdown -->
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
              {{ LANGUAGE_CODE|upper }}
              <span class="caret black"></span>
            </button>
            <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu1">
              {% for language in LANGUAGES %}
                <li class="{% if LANGUAGE_CODE == language.0 %}active{% endif %}"><a href="/{{ language.0 }}/dashboard/">{{ language.1 }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand hidden-xs" href="/{{ LANGUAGE_CODE }}/">
          <img src="{{ STATIC_URL }}site/img/logo/logo.png" alt="Museumsportal Berlin / Alle Informationen zu Berlins Museen, Schlössern und Gedenkstätten" />
        </a>
        <a class="navbar-brand visible-xs" href="/{{ LANGUAGE_CODE }}/">
          <img src="{{ STATIC_URL }}site/img/logo/logo_xs.png" alt="Museumsportal Berlin / Alle Informationen zu Berlins Museen, Schlössern und Gedenkstätten" />
        </a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          {% if not request.user|in_group:"Shop Admins" or request.user.is_superuser %}
            <li{% if request.path|slice:"3:" == "/dashboard/" %} class="active"{% endif %}><a href="/{{ LANGUAGE_CODE }}/dashboard/">{% trans "Overview" %}</a></li>
          {% endif %}
          {% if request.user|in_group:"Museum Owners" or request.user.is_superuser %}

            <li{% if "/exhibitions/" in request.path or "/ausstellungen/" in request.path %} class="active"{% endif %}><a href="/{{ LANGUAGE_CODE }}/dashboard/exhibitions/">{% trans "Exhibitions" %}</a></li>

            <li{% if "/events/" in request.path or "/veranstaltungen/" in request.path %} class="active"{% endif %}><a href="/{{ LANGUAGE_CODE }}/dashboard/events/">{% trans "Events" %}</a></li>

            <li{% if "/guided-tours/" in request.path or "/fuehrungen/" in request.path %} class="active"{% endif %}><a href="/{{ LANGUAGE_CODE }}/dashboard/guided-tours/">{% trans "Workshops" %}</a></li>

            <li{% if "/museums/" in request.path or "/museen/" in request.path %} class="active"{% endif %}><a href="/{{ LANGUAGE_CODE }}/dashboard/museums/">{% trans "Museums" %}</a></li>

          {% endif %}

          <li{% if "/shop/" in request.path %} class="active"{% endif %}><a href="/{{ LANGUAGE_CODE }}/dashboard/shop/">{% trans "Product list" %}</a></li>

          <!-- <li{% if request.path == "/hilfe/" %} class="active"{% endif %}><a href="/{{ LANGUAGE_CODE }}/hilfe/">{% trans "Help" %}</a></li> -->
        </ul>

        {% comment %}
        <form class="navbar-form navbar-right" role="search" action="/search/" method="get">
          <div class="input-group">
            <div class="form-group">
              <input id="search" type="text" class="form-control input-lg" name="q" placeholder="{% trans "Search" %}">
            </div>
            <span class="input-group-btn">
              <button type="submit" class="btn btn-link btn-lg">
                <span class="icon icon-zoom"></span>
                <span class="sr-only">{% trans "Search" %}</span></a>
              </button>
            </span>
          </div>
        </form>
        {% endcomment %}
        
      </div>
    </div><!-- /.navbar-collapse -->
  </nav>
</div>
