{% load i18n %}
<div id="filters">
  <button id="filter-reset" type="button" class="btn btn-info btn-xs pull-right">{% trans "Reset" %}</button>
  <h4>{% trans "Filters" %}</h4>
  
  <div class="btn-group" id="filter-toggle" data-toggle="buttons">
    <label type="button" class="btn btn-info btn-sm" data-parent="#filter-options" data-toggle="collapse" data-target="#filter-accessibility">
      <input type="radio" name="options" id="filter-toggle-accessibility">
      {% trans "Accessibility" %}
    </label>

    <label type="button" class="btn btn-info btn-sm" data-parent="#filter-options" data-toggle="collapse" data-target="#filter-smartlists">
      <input type="radio" name="options" id="filter-toggle-smartlists">
      {% trans "Smart lists" %}
    </label>

    <label type="button" class="btn btn-info btn-sm" data-parent="#filter-options" data-toggle="collapse" data-target="#filter-calendar">
      <input type="radio" name="options" id="filter-toggle-calendar">
      {% trans "Calendar" %}
    </label>
  </div>

  <div class="panel-group" id="filter-options">
    <div class="panel panel-default">
      <div id="filter-accessibility" class="panel-collapse collapse">
        <div class="panel-body">
          <h4>{% trans "Accessibility" %}</h4>
          <ul class="filter option-set clearfix" id="accessibility" data-filter-group="accessibility">
            <li><a href="" data-filter-value=".is_for_wheelchaired">{% trans "For people in wheelchairs" %}</a></li>
            <li><a href="" data-filter-value=".is_for_deaf">{% trans "For deaf people" %}</a></li>
            <li><a href="" data-filter-value=".is_for_blind">{% trans "For blind people" %}</a></li>
            <li><a href="" data-filter-value=".is_for_learning_difficulties">{% trans "For people with learning difficulties" %}</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div id="filter-smartlists" class="panel-collapse collapse">
        <div class="panel-body">
          <h4>{% trans "Smart lists" %}</h4>

          <ul class="filter option-set clearfix" id="smartlists" data-filter-group="smartlists" data-single-selection="1">
            <li><a href="" data-filter-value=".has_group_offer">{% trans "Has bookable group offer" %}</a></li>
            <li><a href="" data-filter-value=".is_for_preschool">{% trans "For preschool children (up to 5 years)" %}</a></li>
            <li><a href="" data-filter-value=".is_for_primary_school">{% trans "For children of primary school (6-12 years)" %}</a></li>
            <li><a href="" data-filter-value=".is_for_youth">{% trans "For youth (13 years)" %}</a></li>
            <li><a href="" data-filter-value=".is_for_families">{% trans "For families" %}</a></li>
            {% comment %}
            <!-- <li><a href="" data-filter-value=".is_free_admission">{% trans "Free admission" %}</a></li> -->
            {% endcomment %}
          </ul>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div id="filter-calendar" class="panel-collapse collapse">
        <div class="panel-body">
          <h4>{% trans "Calendar" %}</h4>

          <ul class="filter option-set clearfix" id="smartlists" data-filter-group="smartlists" data-single-selection="1">
            <li><a href="" data-filter-value=".is_today">{% trans "Today" %}</a></li>
            <li><a href="" data-filter-value=".is_tomorrow">{% trans "Tomorrow" %}</a></li>
            <li><a href="" data-filter-value=".is_within_7_days">{% trans "7 Days" %}</a></li>
            <li><a href="" data-filter-value=".is_within_30_days">{% trans "30 Days" %}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <ul id="filter-summary"></ul>
</div>