{% load i18n base_tags sekizai_tags %}
<div id="filters">
  <h4>{% trans "Filters" %}</h4>

  <script>var str_filter_selection = "{% trans "Filter selection" %}";</script>
  <div class="btn-group" id="filter-toggle" data-toggle="buttons">
    <label type="button" class="btn btn-info btn-sm" data-parent="#filter-options" data-toggle="collapse" data-target="#filter-categories">
      <input type="radio" name="options" id="filter-toggle-categories">
      {% trans "Categories" %}
    </label>

    <label type="button" class="btn btn-info btn-sm" data-parent="#filter-options" data-toggle="collapse" data-target="#filter-alphabetic">
      <input type="radio" name="options" id="filter-toggle-alphabetic">
      {% trans "A - Z" %}
    </label>

    <label type="button" class="btn btn-info btn-sm" data-parent="#filter-options" data-toggle="collapse" data-target="#filter-smartlists">
      <input type="radio" name="options" id="filter-toggle-smartlists">
      {% trans "Smart lists" %}
    </label>

    <label type="button" class="btn btn-info btn-sm" data-parent="#filter-options" data-toggle="collapse" data-target="#filter-calendar">
      <input type="radio" name="options" id="filter-toggle-calendar">
      {% trans "Calendar" %}
    </label>
  </div>

  <div class="panel-group" id="filter-options">
    <div class="panel panel-default">
      <div id="filter-categories" class="panel-collapse collapse">
        <div class="panel-body">
          <h4>{% trans "Categories" %}</h4>
          <ul class="filter option-set clearfix" id="categories" data-filter-group="categories" data-single-selection="1" data-hierarchical="1">
            {% for cat in facets.categories.categories %}
              {% if cat.is_root_node %}
                <li class="level-{{ cat.level }}{% if facets.selected.category == cat %} active{% endif %}" data-level="{{ cat.level }}" data-param="category" data-value="{{ cat.slug }}">
                  <a data-filter-value=".cat_{{ cat.slug }}" href="{% append_to_get category=cat.slug,page="" %}" {% if cat.get_children %} data-level-1-at="#level-1-cat-container" data-target="#cat_{{ cat.slug }}"{% endif %}>{{ cat.title }}</a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
          <div id="level-1-cat-container" class="level-1-container">
            {% for cat in facets.categories.categories %}
              {% if cat.is_root_node and cat.get_children %}
                <ul id="cat_{{ cat.slug }}" class="filter option-set clearfix collapse{% if facets.selected.category == cat %} in{% endif %}" data-filter-group="categories" data-single-selection="1" data-hierarchical="1">
                  {% for child in cat.get_children %}
                    <li class="x-level-{{ child.level }}{% if facets.selected.subcategory == child %} active{% endif %}" data-level="{{ child.level }}" data-param="subcategory" data-value="{{ child.slug }}">
                      <a data-filter-value=".cat_{{ child.slug }}" href="{% append_to_get subcategory=child.slug,page="" %}" >{{ child.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div id="filter-alphabetic" class="panel-collapse collapse">
        <div class="panel-body">
          <h4>{% trans "Alphabet" %}</h4>
          <ul class="filter option-set clearfix" id="alphabetical" data-filter-group="alphabetical" data-single-selection="1">
            {% for item in abc_list %}
              {% if not forloop.first %}
                <li{% if item.3 %} class="active"{% endif %} data-param="abc" data-value="{{ item.0 }}">
                  <a data-filter-value="{% if item.0 %}.initial_{{ item.0|slugify }}{% endif %}" class="{% if forloop.first %} first_item{% endif %}" href="{% append_to_get abc=item.0,page="" %}">{{ item.1 }}</a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div id="filter-smartlists" class="panel-collapse collapse">
        <div class="panel-body">
          <h4>{% trans "Smart lists" %}</h4>
          <ul class="filter option-set clearfix" id="smartlists" data-filter-group="smartlists" data-single-selection="1">
            {% for cat in facets.categories.smart_list %}
              <li{% if cat.0 == facets.selected.smart.0 %} class="active"{% endif %} data-param="smart" data-value="{{ cat.0 }}">
                <a href="{% append_to_get smart=cat.0,page="" %}" data-filter-value=".is_{{ cat.0 }}">{{ cat.1 }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div id="filter-calendar" class="panel-collapse collapse">
        <div class="panel-body">
          <h4>{% trans "Calendar" %}</h4>
          <ul class="filter option-set clearfix" id="calendar" data-filter-group="calendar" data-single-selection="1">
            {% for cat in facets.categories.calendar %}
              <li{% if cat.0 == facets.selected.calendar.0 %} class="active"{% endif %} data-param="calendar" data-value="{{ cat.0 }}">
                <a href="{% append_to_get calendar=cat.0,page="" %}" data-filter-value=".is_{{ cat.0 }}">{{ cat.1 }}</a>
              </li>
            {% endfor %}
            {% if facets.selected.selected_date %}
              <li class="active hide" data-param="selected_date" data-value="{{ facets.selected.selected_date|date:"Y-m-d" }}">
                <a href="{% append_to_get selected_date="",page="" %}" data-filter-value=".is_{{ cat.0 }}">{{ facets.selected.selected_date }}</a>
              </li>
            {% endif %}
            <li id="filter-calendar-day-loader" class="hide" data-param="selected_date" data-value="">
              <a href="{% append_to_get selected_date="",page="" %}" data-filter-value=".is_"></a>
            </li>
            <li id="filter-calendar-day-active" class="hide" data-param="selected_date" data-value="">
              <a href="{% append_to_get selected_date="",page="" %}" data-filter-value=".is_"></a>
            </li>
          </ul>
          <div class="calendar" data-url="{% url "exhibition_list" %}"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% addtoblock "js" %}
<script type="text/javascript" src="{{ STATIC_URL }}site/js/filter.min.js"></script>
{% endaddtoblock %}