{% load i18n %}
<div id="form_languages">
	<!-- <ul id="form_language" class="nav nav-pills">
	  {% for lang_code, lang_name in FRONTEND_LANGUAGES %}
	    <li{% if lang_code == LANGUAGE_CODE %} class="active"{% endif %} data-lang="{{ lang_code }}"><a href="#">{% trans lang_name %}</a></li>
	  {% endfor %}
	</ul> -->
	<script src="{{ STATIC_URL }}site/js/multilingual-form.js"></script>

	<select class="form_language">
		{% for lang_code, lang_name in FRONTEND_LANGUAGES %}
	    <option{% if lang_code == LANGUAGE_CODE %} selected="selected"{% endif %} data-lang="{{ lang_code }}">{% trans lang_name %}</option>
	  {% endfor %}
	</select>
</div>