{% load image_modifications fb_tags %}

<div id="gallery" class="info">
    <div id="slider" class="swipe">
      <ul>
        {% for mf in object.mediafile_set.all %}
        <li style="display:{% if forloop.first %}block{% else %}none{% endif %}">
            &nbsp;
            <div class="img" style="background-image: url({{ MEDIA_URL }}{{ mf.path|modified_path:"max" }})"> </div>
            {% with mf.path|file_description as file_desc %}
                <div class="info">
                    {% if file_desc.title %}
                        <span class="title">{{ file_desc.title }}</span>
                    {% endif %}
                    {% if file_desc.description %}
                        <span class="description">{{ file_desc.description }}</span>
                    {% endif %}
                    {% if file_desc.author %}
                        <span class="author">{{ file_desc.author }}</span>
                    {% endif %}
                </div>
            {% endwith %}
        </li>
        {% endfor %}
      </ul>
    </div>
    
    <span class="prev" onclick="slider.prev();return false;"></span>
    <span class="next" onclick="slider.next();return false;"></span>
    <nav><button class="cancel icon icon-white icon-cancel"></button></nav>
</div>