<script src="{{ STATIC_URL }}site/js/swipe.js"></script>

<script type="text/javascript">
    var slider = new Swipe(document.getElementById('slider'));

    $(window).load(function() {
        var $gallery = $('#gallery');
        $('.cancel', $gallery).click(function(e){
            $('body').toggleClass('gallery');
        });

        $('.info', $gallery).click(function(e){
            $('#gallery').toggleClass('info');
        });

        // if($('ul li', $gallery).length == 1){
        //     $gallery.addClass('only_one');
        // }
    });
</script>