{% if list_item.is_museum %}
    {% with list_item as museum %}
        {% if list_item.latitude %}
            <script type="text/javascript">
            //<![CDATA[
            (function(undefined) {
                var iIndex = aGeopositions.length;
                aGeopositions[iIndex] = {
                    latitude: {{ museum.latitude }},
                    longitude: {{ museum.longitude }},
                    categories: "initial_{{ museum.title|slugify|slice:"0:1" }}{% for cat in museum.categories.all %} cat_{{ cat.title|slugify }}{% endfor %}",
                    content: ''
                }
            }());
            //]]>
            </script>
        {% endif %}
    {% endwith %}
{% endif %}

{% if list_item.is_exhibition %}
    {% with list_item.museum as museum %}
        {% if list_item.latitude or museum and museum.latitude %}
            <script type="text/javascript">
            //<![CDATA[
            (function(undefined) {
                var iIndex = aGeopositions.length;
                aGeopositions[iIndex] = {
                    latitude: {% if list_item.latitude %}{{ list_item.latitude }}{% else %}{{ museum.latitude }}{% endif %},
                    longitude: {% if list_item.longitude %}{{ list_item.longitude }}{% else %}{{ museum.longitude }}{% endif %},
                    categories: "initial_{{ list_item.title|slugify|slice:"0:1" }}{% if list_item.closing_soon %} closing_soon{% endif %}{% if list_item.newly_opened %} newly_opened{% endif %}{% for cat in list_item.categories.all %} cat_{{ cat.title|slugify }}{% endfor %}",
                    content: ''
                }
            }());
            //]]>
            </script>
        {% endif %}
    {% endwith %}
{% endif %}

{% if list_item.is_event %}
    {% with list_item.museum as museum %}
        {% if list_item.latitude or museum and museum.latitude %}
            <script type="text/javascript">
            //<![CDATA[
            (function(undefined) {
                var iIndex = aGeopositions.length;
                aGeopositions[iIndex] = {
                    latitude: {% if list_item.latitude %}{{ list_item.latitude }}{% else %}{{ museum.latitude }}{% endif %},
                    longitude: {% if list_item.longitude %}{{ list_item.longitude }}{% else %}{{ museum.longitude }}{% endif %},
                    categories: "initial_{{ list_item.title|slugify|slice:"0:1" }}{% if list_item.closing_soon %} closing_soon{% endif %}{% if list_item.newly_opened %} newly_opened{% endif %}{% for cat in list_item.categories.all %} cat_{{ cat.title|slugify }}{% endfor %}",
                    content: ''
                }
            }());
            //]]>
            </script>
        {% endif %}
    {% endwith %}
{% endif %}

{% if list_item.is_workshop %}
    {% with list_item.museum as museum %}
        {% if list_item.latitude or museum and museum.latitude %}
            <script type="text/javascript">
            //<![CDATA[
            (function(undefined) {
                var iIndex = aGeopositions.length;
                aGeopositions[iIndex] = {
                    latitude: {% if list_item.latitude %}{{ list_item.latitude }}{% else %}{{ museum.latitude }}{% endif %},
                    longitude: {% if list_item.longitude %}{{ list_item.longitude }}{% else %}{{ museum.longitude }}{% endif %},
                    categories: "initial_{{ list_item.title|slugify|slice:"0:1" }}{% if list_item.closing_soon %} closing_soon{% endif %}{% if list_item.newly_opened %} newly_opened{% endif %}{% for cat in list_item.categories.all %} cat_{{ cat.title|slugify }}{% endfor %}",
                    content: ''
                }
            }());
            //]]>
            </script>
        {% endif %}
    {% endwith %}
{% endif %}