{% load i18n %}
<div id="gmap-wrapper">
    <div id="gmap">&nbsp;</div>
    <nav class="actions top">
        <button id="gmap_toggle2" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" data-original-title="{% trans "Close" %}">
          <span class="icon icon-remove"></span>
          <span class="sr-only">{% trans "Close" %}</span>
        </button>
        <button id="gmap_fullscreen" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" data-original-title="{% trans "Fullscreen" %}" >
          <span class="icon icon-resize-full"></span>
          <span class="sr-only">{% trans "Fullscreen" %}</span>
        </button>
    </nav>
</div>