{% load menu_tags i18n base_tags %}

<div class="navbar-wrapper">
  <nav class="navbar navbar-default" role="navigation" data-spy="affix" data-offset-top="80">
    <div class="container relative">
      <div id="meta" class="pull-right">
        {% if request.user.is_authenticated %}
          <div id="user-menu" class="pull-left hidden-xs">
            <div class="btn-group">
              <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                {% blocktrans with first_name=request.user.first_name|default:request.user.username %}{{ first_name }}{% endblocktrans %}

              </button>
              <ul class="dropdown-menu pull-right" role="menu">
                {% if request.user|in_group:"Museum Owners" or request.user.is_superuser %}
                  <li><a href="/{{ LANGUAGE_CODE }}/dashboard/">{% trans "Input Mask" %}</a></li>
                  <li class="divider"></li>
                  <li><a href="/{{ LANGUAGE_CODE }}/dashboard/exhibitions/">{% trans "Exhibitions" %}</a></li>
                  <li><a href="/{{ LANGUAGE_CODE }}/dashboard/events/">{% trans "Events" %}</a></li>
                  <li><a href="/{{ LANGUAGE_CODE }}/dashboard/guided-tours/">{% trans "Workshops" %}</a></li>
                  <li><a href="/{{ LANGUAGE_CODE }}/dashboard/museums/">{% trans "Museums" %}</a></li>
                  <li class="divider"></li>
                  <li><a href="/{{ LANGUAGE_CODE }}/my-profile/favorites/">{% trans "Favorites" %}</a></li>
                  <li class="divider"></li>
                {% endif %}
                <li><a href="/{{ LANGUAGE_CODE }}/logout/">{% trans "Logout" %}</a></li>
              </ul>
            </div>
          </div>
        {% else %}
          {% comment %}
              <!-- <li><a class="login" href="/{{ LANGUAGE_CODE }}/login/">{% trans "Login" %}</a></li>
              <li><a class="signup" href="/{{ LANGUAGE_CODE }}/signup/">{% trans "Signup" %}</a></li> -->
          {% endcomment %}
          <div id="user-menu" class="pull-left hidden-xs">
            <a class="btn btn-info" href="/{{ LANGUAGE_CODE }}/login/">{% trans "Login" %}</a>
          </div>
        {% endif %}

        <div id="language-menu" class="pull-left hidden-xs">
          {% block language_chooser %}
              {% language_chooser %}
          {% endblock %}
        </div>
      </div>

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand hidden-xs" href="/">
          <img src="{{ STATIC_URL }}site/img/logo/logo.png" alt="Museumsportal Berlin / Alle Informationen zu Berlins Museen, Schlössern und Gedenkstätten" />
        </a>
        <a class="navbar-brand visible-xs" href="/">
          <img src="{{ STATIC_URL }}site/img/logo/logo_xs.png" alt="Museumsportal Berlin / Alle Informationen zu Berlins Museen, Schlössern und Gedenkstätten" />
        </a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->

      <div id="top_nav" class="collapse navbar-collapse navbar-collapse">
        <ul class="nav navbar-nav">
          {% show_menu_below_id "start_page" 0 2 2 2 "menu/top_menu.html" %}

            {% if LANGUAGE_CODE == "de" %}
              <li class="visible-xs"><a href="/de/impressum/">Impressum</a></li>
            {% else %}
              <li class="visible-xs"><a href="/en/imprint/">Imprint</a></li>
            {% endif %}

            <li class="visible-xs"><a href="https://twitter.com/museumsportal" target="_blank">Twitter</a></li>
            <li class="visible-xs"><a href="https://www.facebook.com/pages/Museumsportal-Berlin/44199608380" target="_blank">Facebook</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="/search" class="btn btn-info btn-icon btn-lg">
              <span class="icon icon-zoom"></span>
              <span class="sr-only">{% trans "Search" %}</span>
            </a>
          </li>
        </ul>

        {% comment %}
        <form class="navbar-form navbar-right" role="search" action="/search/" method="get">
          <div class="input-group">
            <div class="form-group">
              <input id="search" type="text" class="form-control input-lg" name="q" placeholder="{% trans "Search" %}">
            </div>
            <span class="input-group-btn">
              <button type="submit" class="btn btn-link btn-lg">
                <span class="icon icon-zoom"></span>
                <span class="sr-only">{% trans "Search" %}</span>
              </button>
            </span>
          </div>
        </form>
        <div id="mega_drop_down_menu" style="position: fixed; z-index: 20; width: 970px; margin-left: -15px; background: #eee; top: 50px;"></div>
        <script src="{{ STATIC_URL }}site/js/mega_drop_down_menu.js"></script>
        {% endcomment %}
      </div>
    </div><!-- /.navbar-collapse -->
  </nav>
</div>
