{% extends "accounts/dashboard_admin.html" %}
{% block bodyclass %}dashboard{% endblock %}
{% load i18n %}w

{% block title %}
    {% if object %}
        {{ object.title }}
    {% else %}
        {% trans "New Shop Product" %}
    {% endif %}
{% endblock %}

{% block stylesheet %}
    {{ block.super }}
    <link href="{{ STATIC_URL }}site/css/datepicker.css" rel="stylesheet" media="screen" type="text/css" />
    <link href="{{ STATIC_URL }}site/css/timepicker.css" rel="stylesheet" media="screen" type="text/css" />
    <link href="{{ STATIC_URL }}site/css/jquery.selectbox.css" rel="stylesheet" media="screen" type="text/css" />
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}site/tinymce/jscripts/tiny_mce/jquery.tinymce.js"></script>
    <script src="{{ STATIC_URL }}site/tinymce_setup/frontend_setup.js"></script>
    <script src="{{ STATIC_URL }}site/js/jquery.selectbox-0.2.min.js"></script>
    {% include "autocomplete_light/static.html" %}
    <link href="{{ STATIC_URL }}site/css/autocomplete_light.css" rel="stylesheet" media="screen" type="text/css" />
{% endblock %}

{% block edit_item %}
    <li><a class="preview icon icon-white icon-view" data-toggle="tooltip" data-placement="bottom" data-original-title="{% trans "Preview" %}" href="{{ object.get_url_path }}?preview" target="_blank">&nbsp;<span>{% trans "Preview" %}</span></a></li>
{% endblock %}

{% block form_steps %}
    <div class="dashboard-header container relative">
    {% block dashboard_title %}
        {% if object %}
            <h4>{{ object.title }}</h4>
        {% else %}
            <h4>{% trans "Add new shop product" %}</h4>
        {% endif %}
    {% endblock %}
        <div id="form-meta">
            {% if object %}
                <div id="pub-status" class="status">
                    <select class="status-switch" data-url="{{ object.get_url_path }}status/">
                        <option value="draft"{% if object.status == "draft" %} selected="selected"{% endif %}>{% trans "Draft" %}</option>
                        <option value="published"{% if object.status == "published" %} selected="selected"{% endif %}>{% trans "Published" %}</option>
                    </select>
                </div>
                <script>
                    $(function() {
                        $('.status').hover(function() {
                            $(this).addClass('hover');
                        }, function() {
                            $(this).removeClass('hover');
                        }).mouseleave();
                        $('.status-switch').change(function() {
                            var $this = $(this);
                            $.post($this.attr('data-url'), {'status': $this.val()}, function(data) {});
                        });
                    });
                </script>
                <a id="preview_page" class="btn btn-primary" href="{{ object.get_url_path }}?preview" ><span>{% trans "Preview" %}</span></a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="dashboard-content">
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="messages">
                <div class="alert alert-warning">
                    {% trans "Fields with * are required." %}
                </div>
            </div>
        {% endif %}
        {% block singlestep_form %}
        {% endblock %}
    </div>
</div>
{% endblock %}