{% extends "base.html" %}
{% load url from future %}
{% load i18n image_modifications base_tags tagging_tags favorites auth_extended babel infoblocks fb_tags %}
{% block title %}{% trans "Shop" %} – {% endblock %}
{% block bodyclass %}shop-product-list no-transition{% endblock %}

{% block js %}
  <script type="text/javascript" src="{{ STATIC_URL }}site/js/GetSet.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}site/js/product_list.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}site/js/favorites.js" defer="defer"></script>
  <script type="text/javascript">
    var str_filter_selection = "{% trans "Filter selection" %}";
  </script>
{% endblock %}

{% block content %}
<div class="content">
    <div class="container filter">
        <h1>{% trans "Offers from the Shops of Berlin Museums and more" %}</h1>
        <a href="/de/informationen-zum-shop/" class="pull-right shop-info">{% trans "Shop information" %}</a>
        <header class="list-header clearfix">
            <h4 class="visible-xs">{% trans "Shop" %}</h4>

            <div class="list-controls">
                <div class="btn-group pull-left" style="margin-right: 15px;">
                    <button id="toggle-list-filter" class="btn btn-info" data-parent="#list-filter" data-toggle="collapse" data-target="#list-filter">{% trans "filter" %}<span class="caret black"></span></button>
                    <button id="filter-reset" type="button" class="filter-reset btn btn-info">{% trans "Reset" %}</button>
                </div>
                <ul id="filter-summary" class="pull-left">
                    {% if facets.selected.category or facets.selected.product_type or facets.selected.product_subtype or facets.selected.is_featured or facets.selected.is_new or facets.selected.is_for_children %}
                        <li><b>{% trans "Filter selection" %}:</b></li>
                        {% if facets.selected.category %}<li data-param="category" data-value="{{ facets.selected.category.slug }}"><a href="{% append_to_get category="" %}">{{ facets.selected.category.title }}</a></li>{% endif %}
                        {% if facets.selected.product_type %}<li data-param="product_type" data-value="{{ facets.selected.product_type.slug }}"><a href="{% append_to_get product_type="" %}">{{ facets.selected.product_type.title }}</a></li>{% endif %}
                        {% if facets.selected.product_subtype %}<li data-param="product_subtype" data-value="{{ facets.selected.product_subtype.slug }}"><a href="{% append_to_get product_subtype="" %}">{{ facets.selected.product_subtype.title }}</a></li>{% endif %}
                        {% if facets.selected.is_featured %}<li data-param="is_featured" data-value="1"><a href="{% append_to_get is_featured="" %}">{% trans "Featured" %}</a></li>{% endif %}
                        {% if facets.selected.is_new %}<li data-param="is_new" data-value="1"><a href="{% append_to_get is_new="" %}">{% trans "New" %}</a></li>{% endif %}
                        {% if facets.selected.is_for_children %}<li data-param="is_for_children" data-value="1"><a href="{% append_to_get is_for_children="" %}">{% trans "For children" %}</a></li>{% endif %}
                    {% endif %}
                </ul>
            </div>
        </header>
    </div>

    <div id="list-filter" class="collapse">
      <div>
        <div class="container relative">
          <button class="cancel btn btn-info btn-lg btn-icon" data-parent="#list-filter" data-toggle="collapse" data-target="#list-filter">
            <span class="icon icon-remove"></span>
            <span class="sr-only">{% trans "close" %}</span>
          </button>
          {% include "utils/filter_products_simplified.html" %}
        </div>
      </div>
    </div>

    <div id="list">
        <div class="container">
            <div class="wrapper-grid">
                <div class="row row-md grid">
                    <div class="hidden-xs col-sm-12 col-md-12 col-lg-9 wrapper-carousel">
                        {% include "slideshows/featured_product_slideshow.html" %}
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9" id="container">
                        <div class="row row-md grid">
                            {% if object_list %}
                                {% for product in object_list %}
                                    <div class="item col-xs-12 col-sm-6 col-md-6 col-lg-4">
                                        <a href="{{ product.get_url_path }}">
                                            {% if product.image %}
                                                <span class="img"><span class="photo-credits-wrapper"><img src="{{ STATIC_URL }}site/img/placeholder_editorial.gif" data-original="{{ MEDIA_URL }}{{ product.image|modified_path:"editorial" }}" alt="{{ product.title }}" />{% with product.image|file_description as file_desc %}{% if file_desc.author %}<span class="photo-credits-over">{{ file_desc.author }}</span>{% endif %}{% endwith %}</span></span>
                                            {% endif %}
                                            {% if product.price %}
                                                <span class="price pull-right">{{ product.price|currencyfmt:"€" }}</span>
                                            {% endif %}
                                            <h3>
                                                {{ product.title }}
                                            </h3>
                                            {% if product.subtitle %}
                                                <h4>{{ product.subtitle }}</h4>
                                            {% else %}
                                                <h4>&nbsp;</h4>
                                            {% endif %}
                                        </a>
                                    </div>
                                {% endfor %}
                                {% include "utils/pagination.html" %}
                            {% else %}
                                {% include "utils/container_empty.html" %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 product-list-sidebar">
                        {% load advertising_tags %}
                        {% random_zone_ad "shop_1" %}
                        {% random_zone_ad "shop_2" %}
                        {% random_zone_ad "shop_3" %}
                        {% comment %}<!--
                        <div class="intrinsic-container intrinsic-container-230x600">
                            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                            <!-- Museumsportal -->
                            <ins class="adsbygoogle"
                            style="display:inline-block;width:230px;height:600px"
                            data-ad-client="ca-pub-5305385409280109"
                            data-ad-slot="8520536874"></ins>
                            <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                            </script>
                        </div>
                        -->{% endcomment %}
                        {% infoblock "google_ad_for_shop" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function() {

        var carousel = $('.wrapper-carousel');
        var list = $('#container');
        var sidebar = $('.product-list-sidebar');

        function setSidebar() {

            sidebar.css("position", "relative");
            sidebar.css("left", "0px");
            sidebar.css("top", "0px");

            if (carousel.width() == list.width()) {

                var position = sidebar.position();
                sidebar.css("position", "absolute");
                sidebar.css("left", position.left+"px");
                sidebar.css("top", "0px");
            }
        }

        setSidebar();
        $(window).resize(setSidebar);
    })
</script>
{% endblock %}
