@page {
  size: portrait;
}

.print {
  display: block !important;
}

a.print {
  display: inline-block !important;
}

.no-print {
  display: none !important;
}

a[href]:after {
  content: none !important;
}

.cms-plugin-richtext p {
  page-break-inside: avoid;
}

body {
  margin: 0 20px !important;
  height: auto;
}

body > .container {
  padding-left: 0;
  padding-right: 0;
  margin-left: -30px;
  margin-right: -30px;
}

#body {
  padding-bottom: 0px;
}

#body .print-padding {
  padding-left: 10px;
  padding-right: 10px;
}

#footer {
  page-break-inside: avoid;
  background: white;
  color: black;
  position: relative;
}

#footer div.content {
  background: white;
  padding-top: 0;
}

#footer div.content > .container {
  padding-left: 0;
  padding-right: 0;
}

#footer #footer-links, #footer #footer-social {
  display: none;
}

#footer #footer-sponsors .print {
  float: left;
}

.top-widgets-wrapper, .filter-wrapper, .cms_toolbar, .cms_edit, .navbar-wrapper, #to-top, #main_dateslider, .date-slider, .list-item-head-date-icons, .list-item-head-image, .pin, .social_link_list, .gallery, .slider, #page-controls, .ads {
  display: none !important;
}

h1.bottom-line {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.grid {
  margin-left: -20px;
  margin-right: -20px;
}

.grid .grid-item {
  page-break-inside: avoid;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
  width: 100% !important;
}

.grid .grid-item .grid-item-image {
  display: none;
}

#body .list {
  margin-left: -10px !important;
  margin-right: -10px !important;
}

#body .list.print-small {
  font-size: 0.5em;
}

#body .list.print-small .list-item {
  padding-top: 0px;
}

#body .list.print-small .list-headline {
  padding-top: 10px !important;
  padding-bottom: 5px !important;
}

#body .list.print-small .list-item-head {
  height: 30px !important;
}

#body .list.print-small .list-item-head .list-item-head-date > .row {
  height: 25px;
  overflow: hidden;
}

#body .list.print-small .list-item-head .list-item-head-date .list-item-head-date-day {
  top: 0px !important;
}

#body .list.print-small .list-item-head .list-item-head-date .list-item-head-date-month {
  top: 15px !important;
}

#body .list.print-small .list-item-head .list-item-head-date .list-item-head-date-type {
  top: 0px !important;
}

#body .list.print-small .list-item-head .list-item-head-date .list-item-head-date-time {
  top: -2px !important;
  position: relative !important;
}

#body .list.print-small .list-item-body {
  height: auto !important;
  padding-bottom: 10px;
}

#body .list .list {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

#body .list .list-item {
  page-break-inside: avoid;
  padding-top: 19px;
  border-top: 1px solid black;
}

#body .list .list-item .list-item-head {
  max-width: none;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #ccc;
}

#body .list .list-item .list-item-head > .row {
  height: 50px;
}

#body .list .list-item .list-item-head .list-item-head-date {
  margin: 0;
  position: static;
  height: 50px;
  width: 100%;
}

#body .list .list-item .list-item-head .list-item-head-date > .row {
  height: 50px;
}

#body .list .list-item .list-item-head .list-item-head-date .list-item-head-date-day {
  width: 45px;
  height: 44px;
  position: static;
  margin: 0px 0 0 5px;
}

#body .list .list-item .list-item-head .list-item-head-date .list-item-head-date-month {
  width: 45px;
  height: auto;
  position: absolute;
  top: 24px;
  left: 5px;
}

#body .list .list-item .list-item-head .list-item-head-date .list-item-head-date-time {
  width: 150px;
  height: 42px;
  font-size: 3em;
  position: static;
  margin: 0px 0 0 15px;
}

#body .list .list-item .list-item-head .list-item-head-date .list-item-head-date-type {
  width: auto;
  height: 42px;
  position: static;
  float: right;
  margin: 0px 5px 0 0;
}

#body .list .list-item .list-item-head .list-item-head-date .list-item-head-date-icons {
  width: auto;
  height: auto;
  position: absolute;
  top: 24px;
  right: -4px;
}

#body .list .list-item .list-item-head .list-item-head-date .list-item-head-date-icons a:before {
  padding-right: 10px;
}

#body .list .list-item .list-item-head .list-item-head-date .list-item-head-date-icons a.tickets:before {
  padding-right: 10px;
}

#body .list .list-item .list-item-head .list-item-head-image {
  position: absolute;
  top: 0;
  left: 0;
}

#body .list .list-item .list-item-head .list-item-head-image img {
  width: 50px;
  float: none;
}

#body .list .list-item-body {
  padding-bottom: 40px;
  height: auto;
  max-height: 350px;
  width: 100% !important;
}

#body .list .list-item-body dl, #body .list .list-item-body h2, #body .list .list-item-body h3, #body .list .list-item-body h4, #body .list .list-item-body div.copy {
  margin: 0 0 0 5px  !important;
  width: auto;
}

#body .list .list-item-body .extra {
  top: inherit;
  bottom: -40px;
  height: 22px;
  color: black;
  font-weight: 700;
  font-size: 0.875em;
  width: 160px;
  text-transform: uppercase;
  background: transparent;
}

#body .list .list-item-body .extra:before {
  content: none;
}

#body .list .list-item-body .extra.canceled {
  background: transparent;
  color: #cf0000;
  -webkit-print-color-adjust: exact;
}

#body .list .list-item-body .extra.canceled:before {
  content: none;
}

#body .list .list-item-body .extra span {
  margin: 1px 0 0;
  vertical-align: top;
  display: inline-block;
  width: 155px;
  text-align: right;
}

body.favorites h2.section, body.favorites .personalize-wrapper {
  margin-left: -10px;
  margin-right: -10px;
}

body.favorites.is-xs h2.section, body.favorites.is-xs .personalize-wrapper {
  margin-left: -10px;
  margin-right: -10px;
}

body.location-list .list-item .list-item-head {
  max-width: none;
}

body.safari .list-item-head-date {
  top: 2px !important;
}

body.safari .list-item-head-date .list-item-head-date-month {
  top: 31px !important;
}

body.safari .list-item-head-date .list-item-head-date-time {
  font-size: 3.05em !important;
  top: 12px !important;
}

body.safari .list-item-head-date .list-item-head-date-icons {
  top: 21px !important;
}

.details article {
  margin-left: -10px;
  margin-right: -10px;
}

.details article .main .right {
  width: 100%;
}

.accordion .accordion-item {
  page-break-inside: avoid;
  margin-top: 20px;
}

.accordion .accordion-item .accordion-item-head {
  background: transparent;
  color: black;
  padding-left: 0;
}

.accordion .accordion-item .accordion-item-head:after {
  content: none !important;
}

.accordion .accordion-item .accordion-item-content-wrapper {
  height: auto !important;
}

.accordion .accordion-item p, .accordion .accordion-item a.block, .accordion .accordion-item h5, .accordion .accordion-item dl, .accordion .accordion-item ul, .accordion .accordion-item img.logo {
  margin-left: 0;
  margin-right: 0;
}

.accordion .accordion-item a.more-dates, .accordion .accordion-item a.less-dates {
  display: none !important;
}

#body .accordion .accordion-item ul.list {
  margin-left: inherit !important;
  margin-right: inherit !important;
}

.accordion .accordion-item ul.dates li {
  border-bottom: none;
  margin-left: -17px;
}

.accordion.sidebar-accordion .accordion-item .accordion-item-head {
  font-size: 1em;
  font-weight: 700;
  border-bottom: 1px solid black;
}

.accordion.sidebar-accordion .accordion-item ul.dates li .date-wrapper {
  margin-left: 4px;
}

#body .additional-list.list {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.mazery-grid .grid-item {
  position: static !important;
  margin-left: -10px;
  margin-right: -10px;
}

.is-xs .mazery-grid .grid-item {
  margin-left: 0px;
  margin-right: 0px;
}

.home .info {
  margin-left: -40px;
  margin-right: -40px;
  page-break-inside: avoid;
}

.home .info .news .news-item {
  page-break-inside: avoid;
}

.home .info .news .news-item h3 {
  background: transparent;
  color: black;
  padding-left: 0;
  font-weight: 700;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.home .twitter-tweet {
  page-break-inside: avoid;
}

.article .print-padding, .theater-of-the-week .print-padding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.article .article-more-list a, .theater-of-the-week .article-more-list a {
  page-break-inside: avoid;
}

.article .article-more-list img, .theater-of-the-week .article-more-list img {
  float: left;
  padding: 5px 15px 5px 0;
  width: auto !important;
}

.article .article-more-list img.hidden-xs, .theater-of-the-week .article-more-list img.hidden-xs {
  display: block !important;
}

.article .article-more-list img.visible-xs, .theater-of-the-week .article-more-list img.visible-xs {
  display: none !important;
}

.default-intro, .default-main {
  padding-left: 0;
  padding-right: 0;
}

.is-xs .grid .grid-item {
  padding-left: 20px;
  padding-right: 20px;
}

.is-xs .details article {
  margin-left: 10px;
  margin-right: 10px;
}

.is-xs .default-intro, .is-xs .default-main {
  padding-left: 20px;
  padding-right: 20px;
}

.is-xs .theater-of-the-week .print-padding {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
