{% load base_tags i18n image_modifications tagging_tags babel auth_extended favorites %}

{% with object as workshop %}
  <div class="row row-md hidden-xs">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
      <header>
        <h4>
          {% with workshop.get_closest_workshop_time as workshop_time %}
            <time datetime="{{ workshop_time.workshop_date|date:"Y-m-d" }}">
              {% for cat in workshop.categories.all %}{{ cat.title }}{% if not forloop.last %}, {% else %}: {% endif %}{% endfor %}
              {{ workshop_time.workshop_date|date:"j. F Y" }}
              {{ workshop_time.start|time:"H:i" }}{% if LANGUAGE_CODE == "de" %} Uhr{% endif %}
              </br>
            </time>
          {% endwith %}
        </h4>

        <h3> {{ workshop.title }} </h3>
        {% if workshop.subtitle %}
          <h4>{{ workshop.subtitle }}</h4>
        {% endif %}

        <!-- {% if workshop.workshop_type %}
          <h3>{{ workshop.workshop_type }}</h3>
        {% endif %} -->
        {% if workshop.location_name %}
          <h5>{{ workshop.location_name }}</h5>
        {% else %}
          {% if workshop.museum %}
            <h5>{{ workshop.museum.title }}</h5>
          {% endif %}
        {% endif %}
      </header>
    </div>
  
    <div class="hidden-xs hidden-sm col-md-4 col-lg-3">
      <div class="actions">

        <a class="btn btn-default btn-round location" href="{% url "workshop_list_map" %}#object_id={{ workshop.pk }}">
          <span class="icon icon-location"></span>
          <span class="sr-only">{% trans "Show location on map" %}</span>
        </a>

        {% if request.user.is_authenticated %}
          {% adding2favorites for workshop using "favorites/includes/favorite_detail.html" %}
        {% endif %}

        <button class="btn btn-default btn-round share-twitter" data-toggle="tooltip" data-placement="top" data-original-title="{% trans "Share on Twitter" %}" data-url="{{ object.get_url }}" data-text="{% if workshop.museum %}{% with workshop.museum as museum %}{{ museum.title }}{% endwith %} {% else %}{{ workshop.location_name }} {% endif %} / {% if workshop.permanent %}{% trans "Permanent workshop" %}, {{ workshop.start|date:"d.m.Y" }} {% trans "until further notice" %}{% else %}{{ workshop.start|date:"d.m.Y" }}{% if workshop.end %} {% trans "till" %} {{ workshop.end|date:"d.m.Y" }}{% endif %}{% endif %} / {{ object.title }} / {{ object.subtitle }}">
          <span class="icon icon-social-twitter"></span>
          <span class="sr-only">{% trans "Share on Twitter" %}</span>
        </button>

        <button class="btn btn-default btn-round  share-facebook" data-toggle="tooltip" data-placement="top" data-original-title="{% trans "Share on Facebook" %}" data-url="{{ object.get_url }}" data-text="{% if workshop.museum %}{% with workshop.museum as museum %}{{ museum.title }}{% endwith %} {% else %}{{ workshop.location_name }} {% endif %} / {% if workshop.permanent %}{% trans "Permanent workshop" %}, {{ workshop.start|date:"d.m.Y" }} {% trans "until further notice" %}{% else %}{{ workshop.start|date:"d.m.Y" }}{% if workshop.end %} {% trans "till" %} {{ workshop.end|date:"d.m.Y" }}{% endif %}{% endif %} / {{ object.title }} / {{ object.subtitle }}">
          <span class="icon icon-social-facebook"></span>
          <span class="sr-only">{% trans "Share on Facebook" %}</span>
        </button>
      </div>
    </div>
  </div>

  <div class="row row-md">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
      <p class="lead">{{ workshop.get_rendered_description|striptags|truncatewords:"65"|urlize }}</p>
      <a class="btn btn-default" href="{{ workshop.get_url_path }}">{% trans "more" %}</a>
      <button class="btn btn-info cancel">{% trans "Close" %}</button>
    </div>
    <div class="hidden-xs hidden-sm col-md-4 col-lg-3">
      <p>
        <small>
          <b>
          {% if workshop.location_name %}
            {{ workshop.location_name }}
          {% else %}
            {{ workshop.museum.title }}
            {% if workshop.museum.subtitle %}
              <br/>{{ workshop.museum.subtitle }}
            {% endif %}
          {% endif %}
          </b><br/>

          {% if workshop.museum %}
            {% with workshop.museum as museum %}
              {{ museum.street_address }},
              {% if museum.street_address2 %},{{ museum.street_address2 }},{% endif %}
              {{ museum.postal_code }} {{ museum.city }}
            {% endwith %}
          {% else %}
              {{ workshop.street_address }},
              {% if workshop.street_address2 %}, {{ workshop.street_address2 }},{% endif %}
              {{ workshop.postal_code }} {{ workshop.city }}
          {% endif %}
        </small>
      </p>

      {% with workshop.museum.get_current_season as season %}
        {% if season %}
          {% if season.is_appointment_based %}
          <p><small>{% trans "Based on appointment" %}</small></p>
          {% else %}
          {% regroup season.get_opening_hours by times as opening_hours %}
            {% for same_hours in opening_hours %}
              <dl>
                <dt><small>{% for day in same_hours.list %}{% if forloop.first %}{{ day.weekday }}{% endif %}{% if forloop.last %}{% if forloop.counter0 %}-{{ day.weekday }}{% endif %}{% endif %}{% endfor %}</small>
                </dt>
                  {% if same_hours.list.0.open %}
                    <dd><small>
                      {{ same_hours.list.0.open|time:"H:i" }}
                      {% if same_hours.list.0.break_close %}
                      - {{ same_hours.list.0.break_close|time:"H:i" }}
                      / {{ same_hours.list.0.break_open|time:"H:i" }}
                      - {{ same_hours.list.0.close|time:"H:i" }}
                      {% else %}
                      - {{ same_hours.list.0.close|time:"H:i" }}
                      {% endif %}
                      {% if LANGUAGE_CODE == "de" %} Uhr{% endif %}</small>
                    </dd>
                  {% else %}
                    <dd><small>
                      {% trans "closed" %}</small>
                    </dd>
                  {% endif %}
              </dl>
            {% endfor %}
          {% endif %}
          {% if season.last_entry %}
          <dl>
            <dt><small>{% trans "Last entry" %}</small></dt>
            <dd><small>{{ season.last_entry }}</small></dd>
          </dl>
          {% endif %}
          {% if season.exceptions %}
          <p><small>{{ season.get_rendered_exceptions|striptags|truncatewords:"35"|urlize }}</small></p>
          {% endif %}
        {% endif %}
      {% endwith %}
    </div>
  </div>
{% endwith %}